@CHARSET "ISO-8859-1";
.prova {
  background-color: #999 !important;
  color: black !important;
}

.buttonR{
    position:fixed;
    right:10px;
    bottom:10px;
}

.buttonL{
    position:fixed;
    left:10px;
    bottom:10px;
}
.trashcan-background{
	background-color: #F44336 !important;
}
.editbtn-background{
	background-color: #2196F3 !important;
	color: white !important;
	
}
.miniheadfederation  {
/*  position: absolute !important; */
  background-color: #3B668C !important;
	color: white !important;
}
md-toolbar.miniheadfedsmall {
	background-color: #3B668C;
	color: #000000255255255;
	height: 35px;
	min-height: 0px;
}

.miniheadfedsmall{
	background-color: #3B668C !important;
	color: white !important;
	height: 35px;
}

.listBackground{
	background-color: rgb(232, 232, 232) !important;
}

.createRelationButton {
	background-color: 0094FF!important;
	position
}
md-list-item.md-list-item-inner.relation {
	height: 35px;
	min-meight: 0px;
}
editedRelationButton {
	backgtound-color: #009688 !important;
}