<div layout="row" flex layout-margin
	 flex=100 layout-align="start center" 
	ng-if="disableHtmlElementForChartJs() && selectedChartType == 'bar'">

	<label>{{translate.load("sbi.chartengine.designer.tab.configuration.seriesstacking")}}</label>
	<md-input-container class="small counter"> <md-checkbox
		ng-model="chartTemplate.seriesStacking" style="margin:0 8px" aria-label="Series stacking" name="generic_sstacking" ></md-checkbox>
	</md-input-container>
</div>


<div ng-form name="configuration-AdvancedSerieConfForm" layout="row" flex layout-margin
	flex=100 layout-align="start center"
	ng-if="disableHtmlElementForChartJs()">
	<label>{{translate.load("sbi.chartengine.designer.tab.configuration.3d")}}</label>
	<md-input-container class="small counter"> <md-checkbox ng-disabled="chartTemplate.groupCategories" 
		ng-model="chartTemplate.show3D" style="margin:0 8px" aria-label="Show_3d" name="generic_show3D" ></md-checkbox>
	</md-input-container>
	<md-icon md-menu-origin class="fa fa-question-circle" style="display:inline">	
		<md-tooltip md-direction="bottom">	
			{{translate.load("sbi.chartengine.designer.tab.configuration.3d.available")}}	
		</md-tooltip>	
	</md-icon>
</div>


<div ng-show="chartTemplate.show3D" layout="column">

	<md-input-container class="md-block" >
		<label>{{translate.load("sbi.chartengine.configuration.3d.alpha")}}</label>
		<input type="number" name="alpha" ng-required="chartTemplate.show3D" ng-model="chartTemplate.alpha"> 
	</md-input-container>
	
	<md-input-container class="md-block" >
		<label>{{translate.load("sbi.chartengine.configuration.3d.beta")}}</label>
		<input type="number" name="beta" ng-required="chartTemplate.show3D" ng-model="chartTemplate.beta"> 
	</md-input-container>
	
	<md-input-container class="md-block" ">
		<label>{{translate.load("sbi.chartengine.configuration.3d.depth")}}</label>
		<input type="number" name="depth" ng-required="chartTemplate.show3D" ng-model="chartTemplate.depth"> 
	</md-input-container>
	
	<md-input-container class="md-block" ng-show="selectedChartType == 'bar'">
		<label>{{translate.load("sbi.chartengine.configuration.3d.viewDistance")}}</label>
		<input type="number" name="viewDistance" ng-required="chartTemplate.show3D && selectedChartType == 'bar'" ng-model="chartTemplate.viewDistance"> 
	</md-input-container>

</div>