<div layout="column" >
	<md-input-container class="md-block" >
		<label>{{translate.load("sbi.chartengine.designer.tab.configuration.categoriesCheck.message")}}</label>
		<input name="no_data_text" ng-model="chartTemplate.categoriesCheck.text"> 
	</md-input-container>
	<md-input-container class="md-block" >
		<label>{{translate.load("sbi.chartengine.designer.tab.configuration.categoriesCheck.min")}}</label>
		<input name="no_data_text" ng-model="chartTemplate.categoriesCheck.min"> 
	</md-input-container>

</div>