<md-tab-content class="knowage-grey-color" layout="column">

<div layout="row" md-content layout-padding flex ng-form name="configurationForm" layout-align="center">
	<div layout="column" flex=30 style="padding:0 8 0 0">  
		
			<md-toolbar class="secondaryToolbar">
				<div class="md-toolbar-tools">
					<h2>
						<span>{{translate.load("sbi.chartengine.designer.configurationTab.title")}}</span>
					</h2>
					<span flex></span>				   		
				</div>		      
			</md-toolbar>
			
			<md-whiteframe flex class="md-whiteframe-4dp whiteframe-element" style="overflow:auto">
		
			<div style="margin: 16 16 0 16">
			
			<md-grid-list style="margin-top:16px;" md-cols-gt-md="4" md-cols-md="4" md-cols-sm="2" md-gutter="12px" md-row-height="1:1">
					    <md-grid-tile ng-repeat="button in configurationForDisplay" class="{{button.value}}_config" ng-click="openConfigurationDetails(button.name)" ng-class="{'active':button.name == selectedConfigurationButton,'dangerBorder':configurationForm.{{button.value}}Form.$invalid}">
					    	<md-tooltip md-direction="bottom">
					           {{button.name}}
					          
					        </md-tooltip>
					    </md-grid-tile>
			</md-grid-list>
			
			</div>

				
			
			</md-whiteframe>
			
		</div>

	<div layout="column" flex=30 style="padding:0 8 0 0">  
		
			<md-toolbar class="secondaryToolbar">
				<div class="md-toolbar-tools">
					<h2>
						<span>{{selectedConfigurationButton+" "+translate.load("sbi.chartengine.designer.tabs.details.title")}}</span>
					</h2>
					<span flex></span>				   		
				</div>		      
			</md-toolbar>
			
			<md-whiteframe flex class="md-whiteframe-4dp whiteframe-element" style="overflow:auto">	
			<div id="generic" ng-if="selectedConfigurationButton == translate.load('sbi.chartengine.designer.tab.configuration.generic')">
				<md-content flex layout="column">
				
				<div ng-include src="templateUrls.genericDetailsURL" layout-margin></div>
				
				</md-content>
			</div>
			
			<div id="titleandsubtitle" ng-if="selectedConfigurationButton == translate.load('sbi.chartengine.designer.tab.configuration.titlesubtitle')">
				<md-content flex layout="column">
				
				<div ng-include src="templateUrls.titleSubtitleDetailsURL"></div>
				
				</md-content>
			</div>
			
			<div id="nodata" ng-if="selectedConfigurationButton == translate.load('sbi.chartengine.designer.tab.configuration.nodata')">
				<md-content flex layout="column">
				
				<div ng-include src="templateUrls.noDataDetailsURL" layout-margin></div>
				
				</md-content>
			</div>
			
			<div id="legentitle" ng-if="selectedConfigurationButton == translate.load('sbi.chartengine.designer.tab.configuration.legendtitle')">
				<md-content flex layout="column">
				
				<div ng-include src="templateUrls.legendTitleURL" layout-margin></div>
				
				</md-content>
			</div>
			
			<div id="legenditems" ng-if="selectedConfigurationButton == translate.load('sbi.chartengine.designer.tab.configuration.legenditems')">
				<md-content flex layout="column">
				
				<div ng-include src="templateUrls.legendItemsURL" layout-margin></div>
				
				</md-content>
			</div>
			
			<div id="colorpalette" ng-if="selectedConfigurationButton == translate.load('sbi.chartengine.designer.tab.configuration.palette')">
				<md-content flex layout="column">
				
				<div ng-include src="templateUrls.colorPaletteURL"></div>
				
				</md-content>
			</div>
			
			<div id="pane" ng-if="selectedConfigurationButton == translate.load('sbi.chartengine.configuration.gauge.panelTitle')">
				<md-content flex layout="column">
				
				<div ng-include src="templateUrls.paneURL"></div>
				
				</md-content>
			</div>
			
			<div id="ticks" ng-if="selectedConfigurationButton == translate.load('sbi.chartengine.configuration.scatter.ticksandlabels')">
				<md-content flex layout="column">
				
				<div ng-include src="templateUrls.ticksURL"></div>
				
				</md-content>
			</div>
			
			<div id="word_setings" ng-if="selectedConfigurationButton == translate.load('sbi.chartengine.designer.tab.configuration.wordsettings')">
				<md-content flex layout="column">
				
				<div ng-include src="templateUrls.wordSettingsURL"></div>
				
				</md-content>
			</div>
			
			<div id="limit" ng-if="selectedConfigurationButton == translate.load('sbi.chartengine.designer.tab.configuration.limit')">
				<md-content flex layout="column">
				
				<div ng-include src="templateUrls.limitURL" layout-margin></div>
				
				</md-content>
			</div>
			
			<div id="axisLines" ng-if="selectedConfigurationButton == translate.load('sbi.chartengine.designer.tab.configuration.axislines')">
				<md-content flex layout="column">
				
				<div ng-include layout-margin src="templateUrls.axisLinesURL" ></div>
				
				</md-content>
			</div>
			
			<div id="tooltip" ng-if="selectedConfigurationButton == translate.load('sbi.chartengine.designer.tab.configuration.tooltip')">
				<md-content flex layout="column">
				
				<div ng-include src="templateUrls.tooltipURL" layout-margin></div>
				
				</md-content>
			</div>
			
			<div id="sequence" ng-if="selectedConfigurationButton == translate.load('sbi.chartengine.designer.tab.configuration.sequence')">
				<md-content flex layout="column">
				
				<div ng-include src="templateUrls.sequenceURL" layout-margin></div>
				
				</md-content>
			</div>
			
			<div id="explanation" ng-if="selectedConfigurationButton == translate.load('sbi.chartengine.designer.tab.configuration.exlpanation')">
				<md-content flex layout="column">
				
				<div ng-include src="templateUrls.explanationURL" layout-margin></div>
				
				</md-content>
			</div>
			
			<div  id="advancedSerieConfBar" ng-if="selectedConfigurationButton == translate.load('sbi.chartengine.designer.tab.configuration.advancedSerieBar') ">
				<md-content flex layout="column">
				
				<div ng-include src="templateUrls.advancedSerieBarURL" layout-margin></div>
				
				</md-content>
			</div>							
				
			<div  id="customColors" ng-if="selectedConfigurationButton == translate.load('sbi.chartengine.designer.tab.configuration.customColors') ">

				<div ng-include src="templateUrls.customColorsURL" layout-margin></div>

			</div>	
			
			<div  id="accessibility" ng-if="selectedConfigurationButton == translate.load('sbi.chartengine.designer.tab.configuration.accessibility') ">

				<div ng-include src="templateUrls.accessibilityURL" layout-margin></div>

			</div>	
			
			</md-whiteframe>
			
		</div>
</div>
</md-tab-content>