<form name=datasetForm >
<md-card layout-fill layout="column" class="flexCard" style="position:absolute">
<md-card-content flex layout="column" class="noPadding">
	
	<md-content flex layout="column">
	<md-card>
<div flex=100>
			<md-input-container class="md-block">
		    	<label>{{translate.load("kn.qbe.save.label")}}</label>
				<input ng-model="savingQbeDataSet.label" ng-required="true" ng-change="setFormDirty()">
				<div  ng-messages="datasetForm.lbl.$error" ng-show="!savingQbeDataSet.label">
  						 			<div ng-message="required">{{translate.load("kn.qbe.general.reqired")}}</div>
						 				</div>
			</md-input-container>
		</div>
		
		<div flex=100>
			<md-input-container class="md-block">
		    	<label>{{translate.load("kn.qbe.save.name")}}</label>
				<input ng-model="savingQbeDataSet.name" ng-required="true" ng-change="setFormDirty()">
				<div  ng-messages="datasetForm.lbl.$error" ng-show="!savingQbeDataSet.name">
  						 			<div ng-message="required">{{translate.load("kn.qbe.general.reqired")}}</div>
						 				</div>
			</md-input-container>
		</div>
		
		<div flex=100>
			<md-input-container class="md-block">
		    	<label>{{translate.load("kn.qbe.save.description")}}</label>
				<textarea 	ng-model="savingQbeDataSet.description" md-maxlength="150" rows="3" 
							md-select-on-focus ng-change="setFormDirty()"></textarea>
			</md-input-container>
		</div>
		
		<div flex=100>
			<label class="workspaceLabelForCheckBox">
    			{{translate.load("kn.ds.hdfs")}}:
   			</label> 
               		
	         <md-input-container class="small counter workspacePersistCheckboxContainer">
	             <md-checkbox 	aria-label="Checkbox HDFS" 
	              		ng-model="savingQbeDataSet.exportToHdfs" ng-checked="" class="workspaceCheckbox">
				</md-checkbox>
	          </md-input-container>
		</div>
		
	<!-- 	<div flex=100>
	       <md-input-container class="md-block" > 
	       		<label>{{translate.load("kn.qbe.save.scope")}}</label>
		       	<md-select placeholder ="{{translate.load('sbi.ds.scope')}}"
		        	ng-required = "true" ng-change="changeDatasetScope(); setFormDirty()"
		        	ng-model="savingQbeDataSet.scopeCd">   
		        	<md-option ng-repeat="l in scopeList" value="{{l.VALUE_CD}}">{{l.VALUE_CD}}
		        	</md-option>
		       	</md-select>  
	       		<div  ng-messages="datasetForm.lbl.$error" ng-show="!savingQbeDataSet.scopeCd">
    						 	<div ng-message="required">{{translate.load("kn.qbe.general.reqired")}}</div>
   						 	</div>
	        </md-input-container>
	   </div>
	  
	   <div flex=100>
	       <md-input-container class="md-block" > 
	       <label>{{translate.load("kn.qbe.save.category")}}</label>
	       <md-select 	placeholder ="{{translate.load('sbi.generic.category')}}"
	        			ng-required="isCategoryRequired" ng-model="savingQbeDataSet.catTypeVn"
	        	 		ng-change="setFormDirty()">   
	        <md-option 
	        	ng-repeat="l in categoryList" value="{{l.VALUE_CD}}">{{l.VALUE_CD}}
	        </md-option>
	       </md-select>  
	       
	       	<div  ng-messages="datasetForm.lbl.$error" ng-show="isCategoryRequired && !savingQbeDataSet.catTypeVn">
   						 	<div ng-message="required">{{translate.load("kn.qbe.general.reqired")}}</div>
  						 	</div>
	       
	        </md-input-container>
	   </div> -->
	</md-card>
	
	</md-content>
	</md-card-content>
	 <md-card-actions layout="row" layout-align="end center">
	      <md-button ng-click="closeSaving()" >
	       {{translate.load("kn.qbe.general.cancel")}}
	      </md-button>
	      <md-button ng-click="saveQbeDataSet()"  ng-disabled=!datasetForm.$valid>
		    {{translate.load("kn.qbe.general.save")}}
	      </md-button>
	</md-card-actions>
</md-card>
</form>