<!-- The original name of the series item (not an alias) -->
<md-subheader class="md-primary">
	Series container alias: <strong>{{detailsAxisConfigurationStyle._id}}</strong>
</md-subheader>

<!-- The rotation (in degrees) of axis labels -->
<div layout="row" flex layout-margin>
	<md-input-container class="md-block" flex>
		<label>{{translate.load('sbi.chartengine.axisstylepopup.rotate')}}</label>
		<input type="number" name="height" ng-model="detailsAxisConfigurationStyle.rotate" min="0"/> 
	</md-input-container>	
</div>

<!-- The alignment of axis labels -->
<div layout="row" flex layout-margin>
	<md-input-container class="md-block" flex> 
		<label>{{translate.load('sbi.chartengine.axisstylepopup.axis.align')}}</label>
		<md-select ng-model="detailsAxisConfigurationStyle.align"> 
			<md-option ng-repeat="option in textAlignment" value="{{option.value}}">{{option.name}}</md-option>
		</md-select> 
	</md-input-container>
</div>

<!-- The color of axis labels -->
<div layout="row" flex layout-margin>
	<md-input-container class="md-block colorInputContainer" flex>
		<label>{{translate.load("sbi.chartengine.axisstylepopup.color")}}</label>
	 	<color-picker 	color-picker-swatch="true" color-picker-format="'rgb'"
						ng-model="detailsAxisConfigurationStyle.color">
		</color-picker> 
	</md-input-container>
</div>

<!-- The color of axis labels -->
<div layout="row" flex layout-margin>
	<md-input-container class="md-block" flex> 
		<label>{{translate.load('sbi.chartengine.designer.scalefactor.label')}}</label>
		<md-select ng-model="detailsForSeriesTooltip.fontFamily"> 
			<md-option ng-repeat="option in fontFamily" value="{{option.value}}">{{option.name}}</md-option>
		</md-select> 
	</md-input-container>
</div>

<!-- Series tooltip text font style -->
<div layout="row" flex layout-margin>
	<md-input-container class="md-block" flex> 
		<label>{{translate.load('sbi.chartengine.designer.scalefactor.label')}}</label>
		<md-select ng-model="detailsForSeriesTooltip.fontWeight"> 
			<md-option ng-repeat="option in fontStyle" value="{{option.value}}">{{option.name}}</md-option>
		</md-select> 
	</md-input-container>
</div>

<!-- Series tooltip text font size -->
<div layout="row" flex layout-margin>
	<md-input-container class="md-block" flex> 
		<label>{{translate.load('sbi.chartengine.designer.scalefactor.label')}}</label>
		<md-select ng-model="detailsForSeriesTooltip.fontSize"> 
			<md-option ng-repeat="option in fontSize" value="{{option.value}}">{{option.name}}</md-option>
		</md-select> 
	</md-input-container>
</div>