<md-tab-content class="knowage-grey-color" layout="column">
	
	<div layout="row" md-content layout-padding flex>
	
		<md-whiteframe class="md-whiteframe-4dp whiteframe-element" flex=25 style="overflow:auto">
		
			<md-toolbar class="secondaryToolbar">
				<div class="md-toolbar-tools">
					<h2>
						<span>{{translate.load("sbi.chartengine.designer.structureTab.attributemeasures.title")}}</span>
					</h2>
					<span flex></span>				   		
				</div>		      
			</md-toolbar>
		
			<md-content>
			
				<md-card>
				
					<expander-box expanded="true" title="TREW" id="datasetJoinBox" color="white"> 
						<md-list flex>
						<md-list-item ng-repeat="person in people" ng-click="moveAttributeToCategories(person)" class="noright">
						   <span ><b>{{person.name }}</b></span>
					  	</md-list-item>
					  	</md-list>
				  	</expander-box>
					  
				</md-card>
				
				<md-card>
				
					<md-subheader class="md-no-sticky">{{translate.load('sbi.chartengine.designer.structureTab.attributemeasures.attributes.title')}}</md-subheader>
				
					<md-list-item ng-repeat="person in people" ng-click="moveMeasureToSeries(person)" class="noright">
					    <p>{{ person.name }}</p>
				  	</md-list-item>
					  
				</md-card>
				
			</md-content>	
		
		</md-whiteframe>
		
		<md-whiteframe class="md-whiteframe-4dp whiteframe-element whiteframe-element-center-margin-left whiteframe-element-center-margin-right" flex=25>
		
			<md-toolbar class="secondaryToolbar">
				<div class="md-toolbar-tools">
					<h2>
						<span>{{translate.load("sbi.chartengine.designer.structureTab.categoriesseries.title")}}</span>
					</h2>
					<span flex></span>				   		
				</div>		      
			</md-toolbar>
		
		</md-whiteframe>
		
		<!-- hide-md: Hide if the width of the screen is lower than 1280px -->
		<md-whiteframe hide-md ng-show="showStructureDetails" class="md-whiteframe-4dp whiteframe-element whiteframe-element-center-margin-right" flex=25>
		
			<md-toolbar class="secondaryToolbar">
				<div class="md-toolbar-tools">
					<h2>
						<span>{{translate.load("sbi.chartengine.designer.tabs.details.title")}}</span>
					</h2>
					<span flex></span>				   		
				</div>		      
			</md-toolbar>
		
		</md-whiteframe>
		
		<md-whiteframe hide-md class="md-whiteframe-4dp whiteframe-element" flex="{{structurePreviewFlex}}">
		
			<md-toolbar class="secondaryToolbar">
				<div class="md-toolbar-tools">
					<h2>
						<span>{{translate.load("sbi.chartengine.designer.tabs.preview.title")}}</span>
					</h2>
					<span flex></span>				   		
				</div>		      
			</md-toolbar>
		
		</md-whiteframe>
	
	</div>
	
</md-tab-content>