<md-tab-content class="knowage-grey-color" layout="column">
	
	<div layout="row" md-content layout-padding flex>
	
		<!-- 
			MEASURES AND ATTRIBUTES CONTAINERS
		 -->
		<div layout="column" flex=20 style="padding:0 8 0 0">  
		
			<md-toolbar class="secondaryToolbar">
				<div class="md-toolbar-tools">
					<h2>
						<span>{{translate.load("sbi.chartengine.designer.structureTab.attributemeasures.title")}}</span>
					</h2>
					<span flex></span>				   		
				</div>		      
			</md-toolbar>
			
			<md-whiteframe flex class="md-whiteframe-4dp whiteframe-element" style="overflow:auto">
		
				<md-content flex>
				
					<md-card>
					
						<expander-box color="white" expanded="true" title="translate.load('sbi.chartengine.designer.structureTab.attributemeasures.attributes.title')">
							<md-list flex>
								<md-list-item ng-repeat="attribute in allAttributes" ng-click="moveAttributeToCategories(attribute)" class="noright">
								   <span><b>{{attribute.id}}</b></span>
							  	</md-list-item>
						  	</md-list>
					  	</expander-box>
						  
					</md-card>
					
					<md-card>
					
						<expander-box color="white" expanded="true" title="translate.load('sbi.chartengine.designer.structureTab.attributemeasures.measures.title')">
							<md-list flex>
								<md-list-item ng-repeat="measure in allMeasures" ng-click="moveMeasureToSeries(measure)" class="noright">
								    <span ><b>{{measure.id}}</b></span>
							  	</md-list-item>
						  	</md-list>
					  	</expander-box>
					  	
					</md-card>
					
				</md-content>	
		
			</md-whiteframe>
		
		</div>
		
		<!-- 
			CATEGORIES AND SERIES CONTAINERS
		 -->
		<div layout="column" flex=30 style="padding:0 8 0 0">  
		
			<md-toolbar class="secondaryToolbar">
				<div class="md-toolbar-tools">
					<h2>
						<span>{{translate.load("sbi.chartengine.designer.structureTab.categoriesseries.title")}}</span>
					</h2>
					<span flex></span>				   		
				</div>		      
			</md-toolbar>
			
			<md-whiteframe flex class="md-whiteframe-4dp whiteframe-element">			
				
				<!-- CATEGORIES CONTAINER -->
				<md-card ng-if="categoriesExist">
				
					<md-toolbar>
					
						<div class="md-toolbar-tools">
							<h2>
								<span>{{translate.load("sbi.chartengine.designer.structureTab.categoriesseries.categories.title")}}</span>
							</h2>
							<span flex></span>				   		
						</div>	
					
					</md-toolbar>
				
					<md-list flex>
										
						<md-list-item ng-repeat="category in categoriesContainer" class="noright">
						    <span><b>{{category}}</b></span>
						    AAA
					  	</md-list-item>
					  	
				  	</md-list>	
				  	
			  	</md-card>
			  			
			</md-whiteframe>
			
		</div>
		
		<!-- 
			DETAILS
		 -->
		<div hide-md ng-show="showStructureDetails" layout="column" flex=25 style="padding:0 8 0 0">  
			
			<md-toolbar class="secondaryToolbar">
				<div class="md-toolbar-tools">
					<h2>
						<span>{{translate.load("sbi.chartengine.designer.tabs.details.title")}}</span>
					</h2>
					<span flex></span>				   		
				</div>		      
			</md-toolbar>
			
			<!-- hide-md: Hide if the width of the screen is lower than 1280px -->
			<md-whiteframe flex class="md-whiteframe-4dp whiteframe-element">
			
				
			
			</md-whiteframe>
			
		</div>
		
		<!-- 
			PREVIEW OF THE CHART
		 -->
		<div hide-md layout="column" flex="{{structurePreviewFlex}}" style="padding:0"> 
		
			<md-toolbar class="secondaryToolbar">
				<div class="md-toolbar-tools">
					<h2>
						<span>{{translate.load("sbi.chartengine.designer.tabs.preview.title")}}</span>
					</h2>
					<span flex></span>				   		
				</div>		      
			</md-toolbar>
		
			<md-whiteframe flex class="md-whiteframe-4dp whiteframe-element">
			
				
			
			</md-whiteframe>
			
		</div>
	
	</div>
	
</md-tab-content>