<!-- The original name of the series item (not an alias) -->
<md-subheader class="md-primary">
	Series item: <strong>{{detailsForSeriesItem.column}}</strong>
</md-subheader>

<!-- Series tooltip font color -->
<div layout="row" flex layout-margin>
	<md-input-container class="md-block colorInputContainer" flex>
		<label>{{translate.load("sbi.chartengine.designer.tooltip.color")}}</label>
	 	<color-picker 	color-picker-swatch="true" color-picker-format="'rgb'"
						ng-model="detailsForSeriesTooltip.color">
		</color-picker> 
	</md-input-container>
</div>

<!-- Series tooltip background color -->
<div layout="row" flex layout-margin>
	<md-input-container class="md-block colorInputContainer" flex>
		<label>{{translate.load("sbi.chartengine.designer.tooltip.bckgcolor")}}</label>
	 	<color-picker 	color-picker-swatch="true" color-picker-format="'rgb'"
						ng-model="detailsForSeriesItem.TOOLTIP.backgroundColor">
		</color-picker> 
	</md-input-container>
</div>

<!-- Series tooltip text alignment -->
<div layout="row" flex layout-margin>
	<md-input-container class="md-block" flex> 
		<label>{{translate.load('sbi.chartengine.designer.scalefactor.label')}}</label>
		<md-select ng-model="detailsForSeriesTooltip.align"> 
			<md-option ng-repeat="option in textAlignment" value="{{option.value}}">{{option.name}}</md-option>
		</md-select> 
	</md-input-container>
</div>

<!-- Series tooltip text font family -->
<div layout="row" flex layout-margin>
	<md-input-container class="md-block" flex> 
		<label>{{translate.load('sbi.chartengine.configuration.font')}}</label>
		<md-select ng-model="detailsForSeriesTooltip.fontFamily"> 
			<md-option ng-repeat="option in fontFamily" value="{{option.value}}">{{option.name}}</md-option>
		</md-select> 
	</md-input-container>
</div>

<!-- Series tooltip text font style -->
<div layout="row" flex layout-margin>
	<md-input-container class="md-block" flex> 
		<label>{{translate.load('sbi.chartengine.configuration.fontweight')}}</label>
		<md-select ng-model="detailsForSeriesTooltip.fontWeight"> 
			<md-option ng-repeat="option in fontStyle" value="{{option.value}}">{{option.name}}</md-option>
		</md-select> 
	</md-input-container>
</div>

<!-- Series tooltip text font size -->
<div layout="row" flex layout-margin>
	<md-input-container class="md-block" flex> 
		<label>{{translate.load('sbi.chartengine.configuration.fontsize')}}</label>
		<md-select ng-model="detailsForSeriesTooltip.fontSize"> 
			<md-option ng-repeat="option in fontSize" value="{{option.value}}">{{option.name}}</md-option>
		</md-select> 
	</md-input-container>
</div>