.glossary_word_box {
	border: 2px solid black;
}

.glossary_word_box .search_box {
	border-bottom: 2px solid black;
}

.md-button.md-fab.md-ExtraMini {
line-height: 22px;
  width: 22px;
  height: 22px;
  min-height: 0;
  }
  
  .md-button.md-fab.md-ExtraMini span{
    margin-top: 5px;
    }
    
    .smallFont{
    font-size: small;}

.bg-green {
	background-color: rgb(84, 252, 57) !important;
}

.wordForm textarea, .wordForm .linkChips {
	margin-left: 35px !important;
}

.wordForm .md-input-focused textarea, .wordForm .md-input-has-value textarea,
	.wordForm .md-input-has-value-copy .linkChips {
	padding-top: 12px !important;
}

.wordForm .md-input-hasnt-value textarea {
	height: 0px !important;
	min-height: 0px !important;
	margin-bottom: -12px;
}

.wordForm .md-input-hasnt-value .md-char-counter {
  bottom: -5px;
  
} 

/* nuova classe che simula md-input-has-value-copy */
md-input-container.md-input-has-value-copy .md-placeholder {
	transition: none;
	opacity: 0;
}

md-input-container.md-input-focused label:not (.md-no-float ),
	md-input-container.md-input-has-value-copy label:not (.md-no-float ) {
	-webkit-transform: translate3d(0, 4px, 0) scale(.75);
	transform: translate3d(0, 4px, 0) scale(.75);
}

md-input-container.md-icon-float.md-input-focused, md-input-container.md-icon-float.md-input-has-value-copy
	{
	margin-top: -8px;
}

md-input-container.md-icon-float.md-input-focused label,
	md-input-container.md-icon-float.md-input-has-value-copy label {
	-webkit-transform: translate3d(0, 4px, 0) scale(.75);
	transform: translate3d(0, 4px, 0) scale(.75);
	transition: -webkit-transform cubic-bezier(.25, .8, .25, 1) .5s;
	transition: transform cubic-bezier(.25, .8, .25, 1) .5s;
}

/* 	fine */
.wordForm md-input-container {
/* 	height: 40px; */
min-height: 40px;
	margin-top: 0;
}

.wordForm md-input-container.md-input-has-value {
	height: auto !important;
}

.list-right-word {
	top: 0;
	right: 0;
	margin-right: 0;
	position: absolute;
}

md-icon.sm-font-icon {
	height: 17px;
}

.leftBox_word{
	z-index:2;
	-webkit-box-shadow: 10px 0px 39px -20px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 0px 39px -20px rgba(0,0,0,0.75);
box-shadow: 10px 0px 39px -20px rgba(0,0,0,0.75);
position: fixed; 
 height: 100%;
}

md-toolbar.md-default-theme.md-blue {
  background-color: rgb(67, 85, 182);
  color: rgb(255,255,255);
}

.position-fixed {
  position: fixed !important;
}

/* classe dropdown recuperata da bootstrap */

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.open>.dropdown-menu {
  display: block;
}

.SecondaryOnLeft .md-secondary-container{
	  left: 0px !important;
}
.SecondaryOnLeft .expandericon{
position: absolute;
  left: -9px;
  top: 7px;
  margin-left: 19px;
  }
  
  .figlio_vocabolo{
    background-color: gray;
  }
  
  
  
 .chipsTree  .angular-ui-tree-empty {
  height: 25px;
  position: absolute;
  width: 100%;
  min-height: 0px;
  background-color: transparent;
  background-image: none;
  border: none;
}

.linkChips  .md-contact-chips .md-chips .md-chip .md-contact-avatar, .md-contact-suggestion img {
  display: none !important;
}


.smallListItem, .smallListItem button, .smallListItem .md-list-item-inner {
	min-height: 0 !important;
}
.smallListItem p{
	line-height: 15px;
	  margin: 3px;
}


.box-list-option{
  width: 187px !important;
  background-color: rgba(0, 0, 0, 0.09);
  padding: 0px !important;
    margin-left: 15px;
  float: left;
    margin-bottom: 10px;
  }

/* rimuovo il focus da tutto */
*:focus {
    outline: none;
   }
   
   
   .margin5{
   margin: 5px !important;}
