
.documentListBox .box_pagination {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-bottom: 3px;
}

.documentListBox md-content{
  padding-bottom: 37px;
}

.boxItemGlo{
	 border: 1px solid rgb(232, 232, 232);  
	  margin: 0 3px;
	    position: relative;
}

md-list.deleteButton button.md-secondary-container{
	  height: 20px;
  width: 20px;
  border: none;
}

*:focus {
	outline: none;
}

#wordTree .angular-ui-tree-handle ,#wordTree .angular-ui-tree-handle:hover{
  cursor: pointer !important;
}