<md-dialog aria-label="fields property" class="width80">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{translate.format(translate.load("sbi.cockpit.pivot.field.edit"),(isMeasure ? translate.load("sbi.cockpit.pivot.measures") : translate.load("sbi.cockpit.pivot.attributes")))}}</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
		<md-input-container>
		  <label>{{translate.load('sbi.cockpit.table.alias')}}</label>
		  <input ng-model="currentItem.alias">
		</md-input-container>		
		<md-input-container ng-if="isMeasure">
			<label>{{translate.load('sbi.cockpit.aggregationwindow.selectAggregation')}}</label>
			<md-select ng-model="currentItem.funct">
				<md-option ng-repeat="agF in AggregationFunctions" ng-value="agF.value" >
				{{agF.label}}
				</md-option>
			</md-select>
		</md-input-container>
		
			
<!-- 		<div ng-if="isMeasure">			  
       		<div layout="row">
       		<md-input-container md-class="md-block" flex>
				<label>{{translate.load('sbi.cockpit.table.visualizationtype')}}</label>
				<md-select ng-model="currentItem.visType">
 					<md-option ng-repeat="vType in visTypes" value="{{vType}}">
   						{{vType}}
 					</md-option>
				</md-select>
      		</md-input-container>
     
	        <div ng-if="currentItem.visType=='Chart'|| currentItem.visType=='Chart & Text' || currentItem.visType== 'Text & Chart' ">
	       		<md-input-container flex class="md-block" class="small counter">
					<label>{{translate.load('sbi.cockpit.table.minvalue')}}</label>
					<input class="input_class" type="number" ng-model="currentItem.minValue" required> 
				</md-input-container>	
				
				<md-input-container flex class="md-block" class="small counter">
					<label>{{translate.load('sbi.cockpit.table.maxvalue')}}</label>
					<input class="input_class" type="number" ng-model="currentItem.maxValue" required> 
				</md-input-container>
				
				<md-input-container flex class="md-block" class="small counter">
					<label>{{translate.load('sbi.cockpit.table.chartlength')}}(px)</label>
					<input class="input_class" type="number" ng-model="currentItem.chartLength" required> 
				</md-input-container>
				
				<md-input-container flex class="md-block" class="small counter">
					<label>{{translate.load('sbi.cockpit.table.chartcolor')}}</label> 
					<color-picker  options="colorPickerProperty" ng-model="currentItem.chartColor "></color-picker>
				</md-input-container>				
	       		</div>			
       		</div>

     		<md-card>
      			<md-toolbar class="ternaryToolbar ">
			      	<div class="md-toolbar-tools">
				        <h2>
				          <span>{{translate.load('sbi.cockpit.table.threshold')}}</span>
				        </h2>
			        </div>
	       		</md-toolbar>
     			<md-card-content layout-row>
		       		<angular-table flex
		    				id="thresholdsTable" 
							ng-show=true
							ng-model="thresholdsList"
							highlights-selected-item=true
							no-pagination=true
							columns="tableColumns"		
							scope-functions="currentItem.scopeFunc"	
					>						
					</angular-table>
				
				<div flex>{{translate.load('sbi.cockpit.table.backgroundthresholds')}}
					<div ng-repeat="i in [0, 1, 2]"  layout="row">							
							<md-input-container flex class="md-block" flex="33%"> 
								<label>{{translate.load('sbi.cockpit.table.condition')}}</label>
								<md-select aria-label="aria-label" ng-model="currentItem.colorThresholdOptions.condition[i]">
									<md-option ng-repeat="c in conditions" value="{{c}}">{{c}}</md-option>
								</md-select>
							</md-input-container>
							
							<md-input-container flex class="md-block"  ng-if="currentItem.colorThresholdOptions.condition[i]!='none'" class="small counter">
								<label>{{translate.load('sbi.cockpit.table.threshold')}}</label>
								<input class="input_class" type="number" ng-model="currentItem.colorThresholdOptions.conditionValue[i]" required> 
							</md-input-container>
							
							<md-input-container flex class="md-block" ng-if="currentItem.colorThresholdOptions.condition[i]!='none'"> 
								<label>{{translate.load('sbi.cockpit.table.backgroundcolor')}}</label>
								<color-picker options="colorPickerProperty" ng-model="currentItem.colorThresholdOptions.color[i]"></color-picker>
							</md-input-container>
					</div>							
				</div>
			</md-card-content>
		</md-card>
	  </div>
	  </div>-->
      
    </md-dialog-content>

    <md-dialog-actions layout="row"  layout-align="end center">
      <md-button ng-click="cancelConfiguration()" >
         {{translate.load('sbi.generic.cancel')}}
      </md-button>
      <md-button ng-click="saveConfiguration()"  >
         {{translate.load('sbi.generic.save')}}
      </md-button>
    </md-dialog-actions>
</md-dialog>