.kn-toolbar {
	border-radius: 0;
	height: $toolbar-height;
	font-weight: $toolbar-font-weight !important;
	font-size: $toolbar-font-size !important;
	border: none;
	padding: $toolbar-padding;
	background-color: $toolbar-background-color-default;
	color: $toolbar-color-default;
	border-top-right-radius: 0;
	border-top-right-radius: 0;

	&--primary {
		@extend .kn-toolbar;
		background-color: $toolbar-background-color-primary;
		color: $toolbar-color-primary;
	}

	&--secondary {
		@extend .kn-toolbar;
		background-color: $toolbar-background-color-secondary;
		color: $toolbar-color-secondary;
	}
}
