// COMMON COLORS VARIABLES
$color-primary : #43749E;
$color-secondary: #bbd6ed;
$color-fab: #CE0651;

// COMMON FONT VARIABLES
$font-family: Roboto, "Helvetica Neue", Arial, sans-serif;

// MENU VARIABLES
$mainmenu-width: 58px;

// TOOLBAR VARIABLES
$toolbar-height: 38px;
$toolbar-padding: 0 0.75rem;
