// COMMON COLORS VARIABLES
$color-primary : #43749E;
$color-secondary: #ccc;

// COMMON FONT VARIABLES
$font-family: Roboto, "Helvetica Neue", Arial, sans-serif;

// MENU VARIABLES
$mainmenu-width: 58px;
