 <md-whiteframe class="md-whiteframe-4dp layout-padding " layout layout-margin style ="height: 60%;" > 

 		<angular-table flex
		id='dinamicListTable' ng-model="ngModel"
		columns=tableKpisColumn
		columns-search='["name"]' show-search-bar=true
		scope-functions=tableFunction  speed-menu-option=measureMenuOption no-pagination=true
		> 
		
		<queue-table>
			<div layout="row"> 
			
				<span flex></span>
				<md-button ng-click="scopeFunctions.loadListKPI()">Add KPI associations</md-button>
			</div>
		</queue-table> 
		</angular-table>
		
   </md-whiteframe>       


