<script type="text/ng-template" id="folders_renderer.html">
		<div layout = "row" layout-align="start center" class="customTreeNode" ui-tree-handle>
			<md-checkbox ng-if="multiSelect" ng-checked="folder.checked" ng-click="toogleSelected(folder)" aria-label="Checkbox"></md-checkbox>            
			<md-button ng-class="{'md-primary':folder.selected,'md-raised':folder.selected}"  ng-click="openFolder(folder)" class="docs">
				<md-icon ng-if="!folder.isOpen" md-font-icon="fa fa-folder" style="color: black;"></md-icon>				
				<md-icon ng-if="folder.isOpen" md-font-icon="fa fa-folder-open" style="color: black;"></md-icon>
				&nbsp;{{folder.name}}
			</md-button>
		</div>

		<ol ui-tree-nodes="" ng-model="folder.subfolders" ng-show="folder.isOpen">
			<li layout="row"  layout-align="start center"  ng-repeat="folder in folder.subfolders" ui-tree-node ng-include="'folders_renderer.html'">
			</li>
			<li ng-if="showFiles && folder.biObjects !== undefined && folder.biObjects.length > 0" ng-repeat="biObject in folder.biObjects"  ui-tree-node>
				<div layout = "row" layout-align="start center" class="customTreeNode" ui-tree-handle>
					<md-checkbox ng-if="multiSelect" ng-checked="biObject.checked" ng-click="toogleSelected(biObject)" aria-label="Checkbox"></md-checkbox>            
					<md-button ng-class="{'md-primary':biObject.selected,'md-raised':biObject.selected}" ng-click="setSelected(biObject)" class="docs">
						<md-icon md-font-icon="fa fa-file-o" style="color: black;"></md-icon>
						{{biObject.label}}	
					</md-button>
				</div>
			</li>
		</ol>
</script>
<md-content layout-fill>
		<div ui-tree data-drag-enabled="false">
			<ol ui-tree-nodes="" ng-model="folders" id="tree-root">
				<li layout="row"  layout-align="start center" ng-repeat="folder in folders" ui-tree-node ng-include="'folders_renderer.html'">
				</li>
			</ol>
		</div>
</md-content>