<md-card  class="flexCard customWidgetConfiguration" >
	<md-card-content flex layout="column" class="noPadding">
	    <md-toolbar> 
	      <div class="md-toolbar-tools">
	        <h2>{{::translate.load('kn.cockpit.custom.editwidget')}}</h2>
	        <span flex></span>
	      </div>
	    </md-toolbar>
	    <md-content flex layout="column">
			<md-tabs flex md-border-bottom md-selected="selectedTab">
				<md-tab label="gallery" ng-if="showGallery">
		        	<gallery-selector widget-type="chart" callback="setGalleryTemplate(template)" no-items="setGalleryTemplate()"></gallery-selector>
		     	</md-tab>
				<md-tab label="{{::translate.load('sbi.cockpit.dataset')}}" ng-disabled="showGallery">
		        	<md-card>
				     	<md-card-content layout="row" layout-align="space-around center">
				     		<dataset-selector flex ng-model=newModel.dataset.dsId on-change="changeDS(dsId);"></dataset-selector>
						</md-card-content>
					</md-card>
					
					<md-card ng-show="newModel.content.columnSelectedOfDataset.length>0">
						<md-card-content class="noPadding" layout="column">
						
							<md-subheader class="noPadding" style="margin-bottom:8px;">
								<div layout="row" layout-align="start center" style="height:48px; padding-left:8px">
									<span flex></span>
									<md-button ng-click="openListColumn()">{{translate.load('sbi.cockpit.widgets.table.tabledesignerpanel.tableoptions.addcolumn')}} </md-button>
					                <calculated-field ng-model="newModel" additional-info="datasetAdditionalInfos"></calculated-field>
					                <catalog-function ng-model="newModel" additional-info="datasetAdditionalInfos"></catalog-function>
				                </div>
							</md-subheader>
							
							<!-- COLUMNS DEFINITION TABLE -->
				   			<div ag-grid="columnsGrid" class="ag-theme-balham ag-theme-knowage ag-theme-knowage-secondary" style="padding:8px;"></div>
				   		</md-card-content>
					</md-card>
		     	</md-tab>
		     	
		     	<md-tab label="Editor" ng-disabled="showGallery">
					<section layout="row">
						<md-content class="noPadding" layout="row" layout-fill>
							<div layout="column" flex>
								<md-card class="cssEditor" ng-class="{'flex':newModel.css.opened}">
									<md-toolbar class="ternaryToolbar clickable" ng-click="toggleLanguage('css')"> 
								      <div class="md-toolbar-tools">
								        <i class="language fab fa-css3"></i>
								        <h2>{{::translate.load('kn.cockpit.html.css')}}</h2>
								        <span flex></span>
								        <md-button class="md-icon-button" >
								        	<md-icon ng-class="{'fa':true,'fa-chevron-down':!newModel.css.opened,'fa-chevron-up':newModel.css.opened}"></md-icon>
								        </md-button>
								      </div>
								    </md-toolbar>
									<md-card-content class="noPadding" ng-if="newModel.css.opened">
									<textarea id="css" ui-codemirror="editorOptionsCss" ng-model="newModel.css.code" ui-refresh="reloadCodemirror" flex></textarea>
									</md-card-content>
								</md-card>
								
								<md-card class="htmlEditor" ng-class="{'flex':newModel.html.opened}">
									<md-toolbar class="ternaryToolbar clickable" ng-click="toggleLanguage('html')"> 
								      <div class="md-toolbar-tools">
								      	<i class="language fab fa-html5"></i>
								        <h2>{{::translate.load('kn.cockpit.html.html')}}</h2>
								        <span flex></span>
								        <md-button class="md-icon-button" >
								        	<md-icon ng-class="{'fa':true,'fa-chevron-down':!newModel.html.opened,'fa-chevron-up':newModel.html.opened}"></md-icon>
								        </md-button>
								      </div>
								    </md-toolbar>
									<md-card-content class="noPadding" ng-if="newModel.html.opened">
									<textarea id="html" ui-codemirror="editorOptionsHtml" ng-model="newModel.html.code" ui-refresh="newModel.html.code" flex></textarea>
									</md-card-content>
								</md-card>
								
								<md-card class="jsEditor" ng-class="{'flex':newModel.js.opened}">
									<md-toolbar class="ternaryToolbar clickable" ng-click="toggleLanguage('js')"> 
								      <div class="md-toolbar-tools"> 
								      	<i class="language fab fa-js"></i>
								        <h2>Javascript</h2>
								        <span flex></span>
								        <md-button class="md-icon-button" >
								        	<md-icon ng-class="{'fa':true,'fa-chevron-down':!newModel.js.opened,'fa-chevron-up':newModel.js.opened}"></md-icon>
								        </md-button>
								      </div>
								    </md-toolbar>
									<md-card-content class="noPadding" ng-if="newModel.js.opened">
									<textarea id="js" ui-codemirror="editorOptionsJs" ng-model="newModel.js.code" ui-refresh="newModel.js.code" flex></textarea>
									</md-card-content>
								</md-card>
							</div>
							
					    </md-content>
				    </section>
		        </md-tab>
		        
		        <md-tab label="{{::translate.load('sbi.cockpit.style')}}" ng-disabled="showGallery">
		        	<cockpit-style-configurator widget ng-model="newModel.style"></cockpit-style-configurator>
		        </md-tab>
		        
		        <md-tab label="{{::translate.load('sbi.cockpit.widget.table.cross')}}" ng-disabled="showGallery">
					<cockpit-cross-configurator widget ng-cloak ng-model="newModel.cross"></cockpit-cross-configurator>
				</md-tab>
		     	
		     	<md-tab label="{{::translate.load('sbi.cockpit.widget.table.filters')}}" ng-disabled="showGallery">
					<cockpit-filters-configuration ng-model-shared="newModel" ></cockpit-filters-configuration>
				</md-tab>
		     	
	     	</md-tabs>
	    </md-content>
    </md-card-content>
    <md-card-actions layout="row"  layout-align="end center">
	    <md-button class="md-raised" ng-click="cancelConfiguration()" >
	     {{::translate.load('sbi.generic.cancel')}}
	    </md-button>
	    <md-button class="md-raised md-primary" ng-click="saveConfiguration()"  >
	     {{::translate.load('sbi.generic.save')}}
	    </md-button>
    </md-card-actions>
</md-card>