<?xml version="1.0" encoding="UTF-8"?>

<web-app
		id="knowagesdk"
		xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		                    http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
		version="3.1" >

	<display-name>knowagesdk</display-name>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<!-- Multipart configuration -->
	<multipart-config>
		<max-file-size>524288000</max-file-size>
		<max-request-size>524288000</max-request-size>
		<file-size-threshold>104857600</file-size-threshold>
	</multipart-config>

</web-app>