<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
	<Appenders>
             <RollingFile
                                name="KNOWAGE_DATASET_AUDIT"
                                append="true"
                                filePattern="${sys:catalina.base}/logs/$${ctx:tenant:-global}/knowageDatasetAudit-$${ctx:tenant:-global}.%d{yyyy-MM-dd}.log"
                                ignoreExceptions="true"
                                createOnDemand="true">
                        <PatternLayout>
                                <Pattern>%d{ISO8601_OFFSET_DATE_TIME_HHCMM} [%u{RANDOM}] %5p [%t] [%c.%M:%L] [%X{correlationId}/%X{jSessionId}] [%X{environment}] [%X{tenant}]%n%message%n%xThrowable</Pattern>
                        </PatternLayout>
                        <Policies>
                                <TimeBasedTriggeringPolicy />
                        </Policies>
                        <DirectWriteRolloverStrategy/>
                </RollingFile>
                <RollingFile
                                name="KNOWAGE_HIERARCHIES"
                                append="true"
                                filePattern="${sys:catalina.base}/logs/$${ctx:tenant:-global}/knowageHiearchies-$${ctx:tenant:-global}.%d{yyyy-MM-dd}.log"
                                ignoreExceptions="true"
                                createOnDemand="true">
                        <PatternLayout>
                                <Pattern>%d{ISO8601_OFFSET_DATE_TIME_HHCMM} [%u{RANDOM}] %5p [%t] [%c.%M:%L] [%X{correlationId}/%X{jSessionId}] [%X{environment}] [%X{tenant}]%n%message%n%xThrowable</Pattern>
                        </PatternLayout>
                        <Policies>
                                <TimeBasedTriggeringPolicy />
                        </Policies>
                        <DirectWriteRolloverStrategy/>
                </RollingFile>	
                <RollingFile
                                name="KNOWAGE_CORE"
                                append="true"
                                filePattern="${sys:catalina.base}/logs/$${ctx:tenant:-global}/knowage-$${ctx:tenant:-global}.%d{yyyy-MM-dd}.log"
                                ignoreExceptions="true"
                                createOnDemand="true">
                        <PatternLayout>
                                <Pattern>%d{ISO8601_OFFSET_DATE_TIME_HHCMM} [%u{RANDOM}] %5p [%t] [%c.%M:%L] [%X{correlationId}/%X{jSessionId}] [%X{environment}] [%X{tenant}]%n%message%n%xThrowable</Pattern>
                        </PatternLayout>
                        <Policies>
                                <TimeBasedTriggeringPolicy />
                        </Policies>
                        <DirectWriteRolloverStrategy/>
                </RollingFile>	
                <RollingFile
                                name="KNOWAGE_RESOURCE_EXPORT_FOLDER_CLEANING_MANAGER"
                                append="true"
                                filePattern="${sys:catalina.base}/logs/$${ctx:tenant:-global}/knowageResourceExportFolderCleaningManager-$${ctx:tenant:-global}.%d{yyyy-MM-dd}.log"
                                ignoreExceptions="true"
                                createOnDemand="true">
                        <PatternLayout>
                                <Pattern>%d{ISO8601_OFFSET_DATE_TIME_HHCMM} [%u{RANDOM}] %5p [%t] [%c.%M:%L] [%X{correlationId}/%X{jSessionId}] [%X{environment}] [%X{tenant}]%n%message%n%xThrowable</Pattern>
                        </PatternLayout>
                        <Policies>
                                <TimeBasedTriggeringPolicy />
                        </Policies>
                        <DirectWriteRolloverStrategy/>
                </RollingFile>	
                <RollingFile
                                name="KNOWAGE_SERVER_MANAGER"
                                append="true"
                                filePattern="${sys:catalina.base}/logs/$${ctx:tenant:-global}/knowageServerManager-$${ctx:tenant:-global}.%d{yyyy-MM-dd}.log"
                                ignoreExceptions="true"
                                createOnDemand="true">
                        <PatternLayout>
                                <Pattern>%d{ISO8601_OFFSET_DATE_TIME_HHCMM} [%u{RANDOM}] %5p [%t] [%c.%M:%L] [%X{correlationId}/%X{jSessionId}] [%X{environment}] [%X{tenant}]%n%message%n%xThrowable</Pattern>
                        </PatternLayout>
                        <Policies>
                                <TimeBasedTriggeringPolicy />
                        </Policies>
                        <DirectWriteRolloverStrategy/>
                </RollingFile>
                <RollingFile
                                name="KNOWAGE_QUARTZ"
                                append="true"
                                filePattern="${sys:catalina.base}/logs/$${ctx:tenant:-global}/knowageQuartz-$${ctx:tenant:-global}.%d{yyyy-MM-dd}.log"
                                ignoreExceptions="true"
                                createOnDemand="true">
                        <PatternLayout>
                                <Pattern>%d{ISO8601_OFFSET_DATE_TIME_HHCMM} [%u{RANDOM}] %5p [%t] [%c.%M:%L] [%X{correlationId}/%X{jSessionId}] [%X{environment}] [%X{tenant}]%n%message%n%xThrowable</Pattern>
                        </PatternLayout>
                        <Policies>
                                <TimeBasedTriggeringPolicy />
                        </Policies>
                        <DirectWriteRolloverStrategy/>
                </RollingFile>
                <RollingFile
                                name="KNOWAGE_OPERATOR_TRACE"
                                append="true"
                                filePattern="${sys:catalina.base}/logs/$${ctx:tenant:-global}/knowage_OperatorTrace-$${ctx:tenant:-global}.%d{yyyy-MM-dd}.log"
                                ignoreExceptions="true"
                                createOnDemand="true">
                        <PatternLayout>
                                <Pattern>%d{ISO8601_OFFSET_DATE_TIME_HHCMM} [%u{RANDOM}] %5p [%t] [%c.%M:%L] [%X{correlationId}/%X{jSessionId}] [%X{environment}] [%X{tenant}]%n%message%n%xThrowable</Pattern>
                        </PatternLayout>
                        <Policies>
                                <TimeBasedTriggeringPolicy />
                        </Policies>
                        <DirectWriteRolloverStrategy/>
                </RollingFile>
	</Appenders>
	<Loggers>
		<logger name="audit" additivity="false" level="info">
			<AppenderRef ref="KNOWAGE_OPERATOR_TRACE" />
		</logger>
		<logger name="com.hazelcast" level="error">
			<AppenderRef ref="KNOWAGE_CORE" />
		</logger>
		<logger name="dataset.audit" additivity="false" level="error">
			<AppenderRef ref="KNOWAGE_DATASET_AUDIT" />
		</logger>
		<logger name="it.eng" additivity="false" level="error">
			<AppenderRef ref="KNOWAGE_CORE" />
		</logger>
		<logger name="it.eng.knowage.mail.MailSessionBuilder" additivity="false" level="warn">
			<AppenderRef ref="KNOWAGE_CORE" />
		</logger>
		<logger name="it.eng.knowage.tools.servermanager" additivity="false" level="error">
			<AppenderRef ref="KNOWAGE_SERVER_MANAGER" />
		</logger>
		<logger name="it.eng.spagobi.api.v2.export" additivity="false" level="error">
			<AppenderRef ref="KNOWAGE_CORE" />
		</logger>
		<logger name="it.eng.spagobi.behaviouralmodel.lov.bo.QueryDetail" additivity="false" level="error">
			<AppenderRef ref="KNOWAGE_CORE" />
		</logger>
		<logger name="it.eng.spagobi.commons.utilities.messages" level="error">
			<AppenderRef ref="KNOWAGE_CORE" />
		</logger>
		<logger name="it.eng.spagobi.commons.utilities.urls.WebUrlBuilder" level="error">
			<AppenderRef ref="KNOWAGE_CORE" />
		</logger>
		<logger name="it.eng.spagobi.tools.dataset.associativity.strategy.OuterAssociativityManager" level="warn" additivity="false">
			<AppenderRef ref="KNOWAGE_CORE" />
		</logger>
		<logger name="it.eng.spagobi.tools.dataset.common.dataproxy.JDBCBigQueryDataProxy" level="info" additivity="false">
			<AppenderRef ref="KNOWAGE_DATASET_AUDIT" />
		</logger>
		<logger name="it.eng.spagobi.tools.dataset.common.dataproxy.JDBCDataProxy" level="info" additivity="false">
			<AppenderRef ref="KNOWAGE_DATASET_AUDIT" />
		</logger>
		<logger name="it.eng.spagobi.tools.dataset.common.dataproxy.JDBCPostgreSQLDataProxy" level="info" additivity="false">
			<AppenderRef ref="KNOWAGE_DATASET_AUDIT" />
		</logger>
		<logger name="it.eng.spagobi.tools.dataset.common.dataproxy.JDBCRedShiftDataProxy" level="info" additivity="false">
			<AppenderRef ref="KNOWAGE_DATASET_AUDIT" />
		</logger>
		<logger name="it.eng.spagobi.tools.dataset.common.dataproxy.JDBCSpannerDataProxy" level="info" additivity="false">
			<AppenderRef ref="KNOWAGE_DATASET_AUDIT" />
		</logger>
		<logger name="it.eng.spagobi.tools.dataset.common.dataproxy.JDBCSynapseDataProxy" level="info" additivity="false">
			<AppenderRef ref="KNOWAGE_DATASET_AUDIT" />
		</logger>
		<logger name="it.eng.spagobi.tools.dataset.common.dataproxy.SolrDataProxy" level="info" additivity="false">
			<AppenderRef ref="KNOWAGE_DATASET_AUDIT" />
		</logger>
		<logger name="it.eng.spagobi.tools.dataset.graph.associativity.container.InlineViewAssociativeDatasetContainer" level="warn" additivity="false">
			<AppenderRef ref="KNOWAGE_CORE" />
		</logger>
		<logger name="it.eng.spagobi.tools.hierarchiesmanagement.service.rest" additivity="false" level="error">
			<AppenderRef ref="KNOWAGE_HIERARCHIES" />
		</logger>
		<logger name="org.hibernate" level="error">
			<AppenderRef ref="KNOWAGE_CORE" />
		</logger>
		<logger name="org.jbpm" level="error">
			<AppenderRef ref="KNOWAGE_CORE" />
		</logger>
		<logger name="org.quartz" additivity="false" level="error">
			<AppenderRef ref="KNOWAGE_QUARTZ" />
		</logger>
		<logger name="it.eng.spagobi.tools.scheduler.init.QuartzInitializer" additivity="false" level="error">
			<AppenderRef ref="KNOWAGE_QUARTZ" />
		</logger>
		<!--
		<logger name="Spago" level="error" additivity="false">
			<AppenderRef ref="KNOWAGE_CORE" />
		</logger>
		-->
		<logger name="it.eng.spagobi.commons.utilities.ObjectsAccessVerifier" level="error" additivity="false">
			<AppenderRef ref="KNOWAGE_CORE" />
		</logger>
		<logger name="it.eng.knowage.functionscatalog.utils.CatalogFunctionDataProxy" level="error" additivity="false">
			<AppenderRef ref="KNOWAGE_CORE" />
		</logger>
		<logger name="it.eng.knowage.encryption.DecryptionDataStoreTransformer" level="error" additivity="false">
			<AppenderRef ref="KNOWAGE_CORE" />
		</logger>
		<logger name="it.eng.knowage.encryption.DataEncryptionInitializer" level="error" additivity="false">
			<AppenderRef ref="KNOWAGE_CORE" />
		</logger>
		<logger name="privacymanager.wrapper.PrivacyManagerAPIImpl" level="error" additivity="false">
			<AppenderRef ref="KNOWAGE_CORE" />
		</logger>
		<logger name="it.eng.knowage.privacymanager.PrivacyManagerDataStoreTransformer" level="error" additivity="false">
			<AppenderRef ref="KNOWAGE_CORE" />
		</logger>
		<logger name="it.eng.knowage.privacymanager.PMConfiguration" level="error" additivity="false">
			<AppenderRef ref="KNOWAGE_CORE" />
		</logger>
		<logger name="it.eng.knowage.privacymanager.EventBuilderUtils" level="error" additivity="false">
			<AppenderRef ref="KNOWAGE_CORE" />
		</logger>
		<logger name="it.eng.spagobi.tools.dataset.actions.AbstractDatasetActionsChecker" level="error" additivity="false">
			<AppenderRef ref="KNOWAGE_CORE" />
		</logger>
		<logger name="it.eng.spagobi.utilities.locks.listeners.HazelcastContextListener" level="error" additivity="false">
			<AppenderRef ref="KNOWAGE_CORE" />
		</logger>
		<logger name="it.eng.spagobi.utilities.locks.DistributedLockFactory" level="error" additivity="false">
			<AppenderRef ref="KNOWAGE_CORE" />
		</logger>
		<logger name="it.eng.spagobi.security" level="info" additivity="false">
			<AppenderRef ref="KNOWAGE_CORE" />
		</logger>
		<Root level="error">
			<AppenderRef ref="KNOWAGE_CORE" />
		</Root>
	</Loggers>
</Configuration>