angular-table {
	&.alternatedRows {
		table>tbody>tr {
			&:nth-child(even) {
				background-color: darken($pageBackground,5%);
				&:hover{
	    			background-color: lighten($tableSelectedElementColor,5%);
	    		}
	    		&.selectedRowItem {
				    background-color: $tableSelectedElementColor;
				 }
			}
		}
	}
	thead {
		md-checkbox.md-knowage-theme {
			._md-icon {
				background-color: $lightTextColor;
			}
			&.md-checked {
				border-color: $lightTextColor;
				._md-icon {
					background-color: $secondaryColor;
				}
			}
		}
	}
	//fixed table header
	#angularFullTableContentBox:not(.relativeHeader){
		position: relative;
		padding-top: $toolbarHeight;
		.angularTableHeader {
			background-color: $lightTextColor;
			height: $toolbarHeight;
			position: absolute;
			top: 0;
			right: 0;
			left: 0;
		}
		tr {
			th:first-child {
				.th-inner {
					margin-left: 5px;
				}
			}
			th {
				.th-inner {
					position: absolute;
					color: $baseColor;
					top: 0;
					line-height: $toolbarHeight;
					padding-left: 5px;
					margin-left: -5px;
					md-icon {
						color: $baseColor;
						width: 1.3rem;
						text-align: center;
						margin-left: -5px;
					}
				}
			}
		}
	}
}

angular-table, cockpit-angular-table{
	padding: 0;
    overflow: auto;
    overflow-y: hidden;
    min-height:200px;
	.infoBar {
		font-size: $baseFontSize;
		background-color: lighten($secondaryColor,20%);
		min-height: 25px;
		max-height: 25px;
		border-top: 1px solid $baseColor;
		border-bottom: 1px solid $baseColor;
		text-align: center;
		margin-bottom: 8px;
		button {
			min-height: 25px;
			line-height: 25px;
			font-size: $smallFontSize;
		}

	}
	border-collapse: collapse;
	table>tbody>tr>td {
	    font-size: $tableFontSize;
	    border-top: 1px $tableLineSeparator solid;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    overflow: hidden;
	  }
	.expanderRowClass{
		cursor: auto!important;
	    background-color: transparent!important;
	}  
	.expanderRowClass>td{
		padding: 10px!important;
		border-top:0px!important
	}
	table>thead {
	    background: white;
	  }
	angular-table-actions {
	    margin-top: $standardPadding;
	    margin-bottom: $standardPadding;
	    min-height: $toolbarHeight;
	  }
	
	table thead th {
	    text-align: left;
	    font-size: $tableFontSize;
	    color: $baseColor;
	    font-weight: 600;
	    span {
	    	font-size: $headerFontSize;
	    }
	  }

	table>tbody>tr.selectedRowItem {
	    background-color: $tableSelectedElementColor;
	 }
	
	table>tbody>tr:hover{
	    cursor: pointer;
	    background-color: lighten($tableSelectedElementColor,5%);
	}
	
	table thead th div {
	    align-items: center;
	  }
	
	//*:focus {
	//	outline: none;
	//}
	
	.hidden{
	display:none!important;}
	
	.black{
	color:black;
	}
	
	&[no-pagination] #angularTableContentBox{ 
		overflow-y: auto;
	}
	
	&[full-width] #angularFullTableContentBox{ 
		width: 100%;
	    overflow: auto;
	}
	
	&[full-width] #angularTableContentBox{ 
		  overflow-x: auto;
	}
	
	&[full-width]  table{
		width: auto!important;
	}
	
	&.tableWidget {
		.fakeTable {
			border-collapse: collapse;
			width: 100% !important;
		}
		#angularTableContentBox .principalTable {
			border-collapse: collapse;
			width: 100% !important;
		}
	}	
	
	table {
		width: 100%;
		table-layout: fixed; 
		border-spacing: 0;
	}
	
	&[multi-select] table>thead>tr>th:nth-child(n+3):nth-last-child(n+2),
	&[multi-select] table>tbody>tr>td:nth-child(n+3):nth-last-child(n+2),
	&:not(multi-select) table>thead>tr>th:nth-child(n+1):nth-last-child(n+2),
	&:not(multi-select) table>tbody>tr>td:nth-child(n+1):nth-last-child(n+2){
		padding: 0 $standardPadding;
	}
	
	&[multi-select] table>thead>tr>th:nth-child(2),&:not(multi-select) table>thead>tr>th:nth-child(1),
	&[multi-select]  table>tbody>tr>td:nth-child(2),&:not(multi-select) table>tbody>tr>td:nth-child(1){
		padding: 0 $standardPadding 0 0 !important;
	}
	
	table>thead>tr>th:last-child,
	table>tbody>tr>td:last-child{}
	
	.angularTableSelectAll {
		md-checkbox {
			top: 5px;
			._md-container {
				margin-left: 0 !important;
			}
			._md-icon {
				margin-left: 0 !important;
				top: 6px;
			}
		}
	}
	 
	table thead th div md-icon{
	margin-top: 9px;
	    width: 7px;
	}
	
	table>tbody>tr {
	    height: $angularTableTRHeight;
	    transition: background-color .2s;
	}
	
	
	table>tbody>tr>td {
	    font-size:  $tableFontSize;
	    color: rgba(0,0,0,.87);
	    border-top: 1px rgba(0,0,0,.12) solid;
	    text-overflow: ellipsis;
	    white-space: nowrap; 
	    overflow: hidden;
	}
	
	  
	table>thead>tr>th>div {
	    text-overflow: ellipsis;
	    white-space: nowrap; 
	    overflow: hidden;
	}
	
	table>tbody>tr>td button.actionButton{	
		height: 30px !important;
	    width: 30px !important;
	    min-height: 25px !important;
	    margin: 0 !important;
	    padding: 0 !important;
	    }
	   
	   table>tbody>tr>td button.actionButton:hover{	
		background-color: #C0C9D0!important;
	    }
	     
	    table>tbody>tr>td button.actionButton md-icon{
	    	display: flex !important;
	    	justify-content: center;
	    	align-items: center;
	    }
	
	@-moz-document url-prefix() {
		table>tbody>tr>td{
		  text-overflow: inherit;
		}
	}
	
	table td div{
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		line-height: 26px;
		}
	#tdQueueTableContent .layout-align-space-around-center{
	    line-height: 50px;
	    height: 50px;
	    background-color: white;
	}
	
	angular-table-actions md-input-container.tableSearchBar {
	    padding-bottom: 0px; 
	    height: 25px;
	}
	
	angular-table-actions{
	    padding: 0 24px 0 10px;
	    height: 30px;
	    }
	    
	angular-table-actions md-input-container.tableSearchBar .closeSearchBar{
	    left: 100%;
	    margin-left: -15px;
	}
	.fakeTable md-checkbox.md-knowage-theme{
	    margin: 0;
	}
	
	.fakeTable tr th:first-child *:not(md-checkbox) div:not(.md-icon) {
	    margin-left: $standardPadding;
	}
	
	.principalTable tr th:first-child *:not(md-checkbox) div:not(.md-icon) {
	    margin-left: $standardPadding;
	}
	.fakeTable tr th:first-child > div:not(.md-icon) {
	    margin-left: $standardPadding;
	}
	.principalTable tr th:first-child > div:not(.md-icon) {
	    margin-left: $standardPadding;
	}
	
	.principalTable tr td:first-child>span {
	    margin-left: $standardPadding;
	    -moz-margin-start: 0;
	}
	.principalTable tr td:first-child > md-checkbox {}
	.principalTable tr td {
		md-select.md-knowage-theme {
			._md-select-value {
				border: none;
			}
			&:not([disabled]):focus {
				._md-select-value{
					border: none;
				}

			}
		}
	}
	
	
	.principalTable tr td button.md-icon-button {
	    md-icon {
	        position: relative;
	    }
	}
	/* pagination */
	
	.pagination > li.hiddenPaginationButton{
		border:none!important;
		background-color: transparent!important;
	}
	.pagination > li, .pagination > li > span {
	        position: relative;
	        float: left;
	        margin-left: -1px;
	        text-decoration: none !important;
	        background-color: #fff;
	        border: 1px solid $bordersColor;
	        display: block;
	        width: 30px;
	        height: 28px;
	        text-align: center;
	        line-height: 28px;
	    }
	
	    .pagination {
	        margin: 0px !important;
	        padding: 0px !important;
	    }
	
	    .pagination > li > a {
	        text-decoration: none !important;
	        width: 100%;
	        display: block;
	        font-size: $smallFontSize;
	    	color: $baseColor;
	    	&:hover {
	    		background-color: lighten($secondaryColor,20%);
	    	}
	    }
	
	    .pagination > .active, .pagination > .active > a,
	    .pagination > .active > a:focus, .pagination > .active > a:hover,
	    .pagination > .active > span, .pagination > .active > span:focus,
	    .pagination > .active > span:hover {
	        z-index: 2;
	        color: #000;
	        cursor: default;
	        background-color: $secondaryColor;
	        border-color: $secondaryColor;
	    }
	
	    .pagination > .disabled > a, .pagination > .disabled > a:focus,
	    .pagination > .disabled > a:hover,
	    .pagination > .disabled > span, .pagination > .disabled > span:focus,
	    .pagination > .disabled > span:hover {
	        color: #777;
	        cursor: not-allowed;
	        background-color: #ddd;
	        border-color: #ddd;
	    }
	
	  .dropdown_menu_list {
		position: fixed !important;
	}
	  .position-fixed{
	position: fixed !important;
	}
	
	  .dropdown_menu_list md-list {
		position: relative;
		top: 100%;
		left: 0;
		z-index: 1000;
		display: none;
		float: left;
		min-width: 160px;
		padding: 5px 0;
		margin: 2px 0 0;
		font-size: 14px;
		text-align: left;
		list-style: none;
		background-color: #fff;
		background-clip: padding-box;
		border: 1px solid #ccc;
		border: 1px solid rgba(0, 0, 0, .15);
		border-radius: 4px;
		box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
		    background-color: #ECECEC;
	}
	
	  .dropdown_menu_list.open md-list {
		display: block;
	}
	
	.dropdown_menu_list md-list-item, .dropdown_menu_list md-list-item button, .dropdown_menu_list md-list-item .md-list-item-inner {
		min-height: 22px !important;
	}
	
  	.dropdown_menu_list md-list-item p {
		line-height: 20px;
		margin: 3px;
		color: black;
	}
	
  	.dropdown_menu_list md-list.bottomBorder md-list-item button {
		border-bottom: 1px solid rgb(176, 190, 197);
		padding: 0;
		margin-left: 8px;
		margin-right: 8px;
		border-radius: 0;
	}
	
  	md-checkbox.md-knowage-theme {
		margin-bottom: 0;
		._md-label {
			//margin-left:0;
		}
	}
	
  	.tableDragBar {
		padding: 0 !important;
	    text-align: center;
	    color: grey;
	}
	
	.rowExpanderButton{
		background: transparent !important;
	    margin: 0!important;
	    padding: 0!important;
	    color: black!important;
	 }
	
	.animate-repeat-tablerow.ng-move,
	.animate-repeat-tablerow.ng-enter {
	    transition:all linear 0.2s;
	}
	
	.animate-repeat-tablerow.ng-leave.ng-leave-active,
	.animate-repeat-tablerow.ng-move,
	.animate-repeat-tablerow.ng-enter {
	    opacity:0;
	}
	
	.animate-repeat-tablerow.ng-leave,
	.animate-repeat-tablerow.ng-move.ng-move-active,
	.animate-repeat-tablerow.ng-enter.ng-enter-active {
	    opacity:1;
	}
	
	.animate-repeat-tablerow.ng-leave,
	.animate-repeat-tablerow.ng-leave.ng-leave-active {
	  transition: all 0s;
	}
	
	&.absoluteTfoot  tfoot>tr>td #queueTableContent{ 
	display: none;
	}
	&.absoluteTfoot #fixedAngularTableContentBox{
		display:block;
	}
	 #fixedAngularTableContentBox {
		display:none;
		min-height: 50px;
	    line-height: 50px;
	    background-color: white;
	    md-checkbox {
	    	._md-label {
	    		margin-left: 30px;
	    	}
	    }
	}
	.principalTable>thead>tr>th>div{
		@extend .noSelect;
		cursor: pointer;
		height: $angularTableTRHeight;
		line-height: $angularTableTRHeight;
		md-icon {
			margin-top: 0;
			height: $angularTableTRHeight;
			line-height: $angularTableTRHeight;
		}
	}
	.principalTable>thead>tr>th>md-checkbox{
		display:none;
	}
	.principalTable>thead>tr>th{
		padding-top: 0px!important;
	    padding-bottom: 0px!important;
	}
	md-radio-button ._md-container {
	    left: 20px;
	    top: 10px;
	}
	
	@-moz-document url-prefix() {
	    md-radio-button ._md-container {
	        left: 20px;
	        top: 0px;
	    }
	}

	.addCell{
		color:green;
	}
	.editCell{
		color:orange;
	}
	.pagSummary {
	    font-size: $smallFontSize;
	    display: flex;
	    height: 30px;
	    align-items: center;
	    justify-content: space-around;
	    span {
	    	margin-right: 10px; 
	    }
	}
	.highlight {
		background-color: $secondaryColor;
	}
	&.clippedText {
		td, th>div {
			text-overflow: clip !important;
		}
	}
	.hiddenColumn {
		display:none;
	}
	.angularTableSelectAll {
		overflow: visible;
		&:before {
			content:'Select All';
			position: absolute;
			top: -10px;
			left: -5px;
			font-size: $smallFontSize;
		}
	}

}

.accessibleModeOn {
	angular-table {
		#angularFullTableContentBox {
			padding-top:0;
			.angularTableHeader {
				display:none;
			}
			#angularTableContentBox {
				th {
					height: 2rem;
					padding-left: 10px;
				}
			}
		}
	}
	.md-button.md-knowage-theme.md-fab:not([disabled]) {
		background-color: transparent !Important;
	}
}

/* IE11 fix */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  angular-table{
    &.flex{
    	width:auto;
    } 
    #angularTableContentBox{
    	width:auto;
    }
    #angularFullTableContentBox{
		overflow:auto;
	}

	  md-checkbox.md-checked ._md-icon {
	  	border-collapse: separate;
	  }
	}
  angular-table table > thead > tr > th > div, .kn-cockpit cockpit-static-pivot-table-widget table > thead > tr > th > div, cockpit-angular-table table > thead > tr > th > div {
  	overflow: visible;
  }
}