.in-tab-content {
	padding: 30px 50px;	
	.in-search-field {
		min-width: 250px;
	    margin-right: 20px;
	}
	.in-add-label-column {
		width:200px; 
		text-align:center !important;
	}
	.in-btns {
		display:inline;
		cursor:pointer;
	}
	.saveBtn {
		margin-right:20px;
	}
}	