<md-dialog class="kn-downloadsDialog">
	<md-dialog-content layout="column">
		<md-toolbar>
      		<div class="md-toolbar-tools">
        		<h2 flex>Downloads</h2>
			</div>
		</md-toolbar>
		
		<md-content flex style="padding:8px;height:450px">
			<div layout="row" layout-align="center center" layout-fill style="z-index:510;background-color:rgba(0,0,0,.3); position:absolute;" ng-if="loading">
				<md-progress-circular md-mode="indeterminate"></md-progress-circular>
		    </div>
			<div ng-if="!downloadsList || downloadsList.length == 0" class="noDownload">
				<div class="emptyIconSvg">
				</div>
				<div class="emptyIconText">
					No download available
				</div>
			</div>
			<div ag-grid="downloadGridOptions" class="ag-theme-material ag-theme-knowage-default ag-hide-selection" ng-show="downloadsList && downloadsList.length > 0"></div>
		</md-content>
		
	</md-dialog-content>
	<md-dialog-actions>
		<md-button ng-if="downloadsList && downloadsList.length > 0" class="md-raised md-primary" ng-click="deleteAllDownload()" >
			{{::translate.load('sbi.generic.deleteAll')}}
		</md-button>
		<md-button class="md-raised md-primary" ng-click="closeDialog()" >
			{{::translate.load('sbi.generic.close')}}
		</md-button>
	</md-dialog-actions>
</md-dialog>
