.DS_Store
node_modules
/dist
dev-dist
/src/main/webapp
/src/overlay


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Overlay.routes.js file
/src/overlay/Overlay.routes.js

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.apt_generated/
/.apt_generated_tests/
