<md-card   class="flexCard discoveryWidgetConfiguration" >
	<md-card-content flex layout="column" class="noPadding">
	    <md-toolbar> 
	      <div class="md-toolbar-tools">
	        <h2>{{::translate.load('kn.cockpit.discovery.edit')}}</h2>
	        <span flex></span>
	      </div>
	    </md-toolbar>
			<md-tabs flex md-border-bottom>
				<md-tab label="Dataset">
					<md-card>
	        			<md-card-content layout="row">
	   						<dataset-selector flex ng-model="newModel.dataset.dsId" on-change="handleEvent('datasetChanged',dsId)" dataset-type-available="[{type:'SbiSolrDataSet',configuration:{property:'solrType',value:'DOCUMENTS'}}]" ></dataset-selector>  
	   					</md-card-content>
	   				</md-card>
	   				
	   				<md-card ng-show="newModel.dataset.dsId">
		   					<md-subheader class="noPadding">
		   						<div layout="row" layout-align="start center" style="height:48px;">
		   							<span layout-padding>{{::translate.load('sbi.cockpit.table.columns')}}</span><span flex></span>
		   						</div>
		   					</md-subheader>
		   					<md-card-content class="noPadding" style="padding:0;height:350px;">
		   						<div class="kn-grid-container" style="padding:0;">
		   							<div ag-grid="columnsGrid" class="ag-theme-balham ag-noBorders ag-theme-knowage ag-theme-knowage-secondary noPadding" style="width:100%;"></div>
		   						</div>
		   					</md-card-content>
		   				</md-card>
				</md-tab>
				<md-tab label="Settings">
						
		   				<md-card ng-if="newModel.dataset.dsId">
		   					<md-subheader class="noPadding">
		   						<div layout="row" layout-align="start center" style="height:48px;padding-left:16px">
		   							<md-switch ng-model="newModel.settings.table.enabled"></md-switch><span layout-padding>{{::translate.load('kn.cockpit.discovery.enabledatatable')}}</span><span flex></span>
		   						</div>
		   					</md-subheader>
		   					<md-card-content ng-if="newModel.settings.table.enabled">
		   						<div layout="row">
		   							<md-input-container flex style="margin-bottom: 4px;">
							        	<label>{{::translate.load('kn.cockpit.discovery.pagination.items')}}</label>
								        <input ng-model="newModel.settings.pagination.itemsNumber" type="number" min="0" />
							      	</md-input-container>
		   						</div>
		   					</md-card-content>
	   					</md-card>
		   				
		   				<md-card>	
		   					<md-subheader class="noPadding">
		   						<div layout="row" layout-align="start center" style="height:48px;padding-left:16px">
		   							<md-switch ng-model="newModel.settings.facets.enabled"></md-switch> <span layout-padding>Facets</span><span flex></span>
		   						</div>
		   					</md-subheader>
		   					<md-card-content ng-if="newModel.settings.facets.enabled">
		   						<div layout="row">
		   							<div layout="row" flex="20" layout-align="start center">
		   								<md-tooltip md-delay="500">{{::translate.load('kn.cockpit.discovery.facets.enable.tooltip')}}</md-tooltip>
			   							<md-checkbox class="noMargin" ng-model="newModel.settings.facets.selection">{{::translate.load('kn.cockpit.discovery.facets.enable')}}</md-checkbox>			   						
			   						</div>
			   						<div layout="row" flex="20" layout-align="start center">
			   							<md-checkbox class="noMargin" ng-model="newModel.settings.facets.closed">Closed by default</md-checkbox>
			   						</div>
		   							<md-input-container flex style="margin-bottom: 4px;">
							        	<label>{{::translate.load('kn.cockpit.discovery.facets.width')}}</label>
								        <input ng-model="newModel.settings.facets.width" type="text" />
								        <div class="hint">{{::translate.load('sbi.cockpit.style.fontSize.hint')}}</div>
							      	</md-input-container>
							      	<md-input-container flex style="margin-bottom: 4px;">
							        	<label>{{::translate.load('kn.cockpit.discovery.facets.max')}}</label>
								        <input ng-model="newModel.settings.facets.limit" type="number" min="0" />
							      	</md-input-container>
							      	<md-input-container flex style="margin-bottom: 4px;">
							        	<label>{{::translate.load('kn.cockpit.discovery.facets.precision')}}</label>
								        <input ng-model="newModel.settings.facets.precision" type="number" min="0"/>
							      	</md-input-container>
		   						</div>
		   					</md-card-content>
	   					</md-card>
		   				
		   				<md-card>		
		   					<md-subheader class="noPadding">
		   						
		   						<div layout="row" layout-align="start center" style="height:48px;padding-left:16px">
		   							<md-switch ng-model="newModel.settings.textEnabled"></md-switch><span layout-padding>Text search</span><span flex></span>
		   						</div>
		   					</md-subheader>
		   					<md-card-content ng-if="newModel.settings.textEnabled">
		   						<div layout="row">
		   							<div layout="row" flex="20" layout-align="start center">
		   								<md-checkbox class="noMargin" ng-model="newModel.settings.defaultTextSearch">Default Text search</md-checkbox>
		   							</div>
		   							<md-input-container flex style="margin-bottom: 4px;">
							        	<label>{{::translate.load('kn.cockpit.discovery.defaultsearchtype')}}</label>
								        <md-select ng-model="newModel.settings.defaultTextSearchType" ng-disabled="!newModel.settings.defaultTextSearch">
											<md-option ng-repeat="type in defaultTextSearchType" ng-value="type.value">{{type.label}}</md-option>
										</md-select>
							      	</md-input-container>
							      	<md-input-container flex style="margin-bottom: 4px;" ng-if="newModel.settings.defaultTextSearchType == 'static'">
							        	<label>{{::translate.load('kn.cockpit.discovery.defaultsearchstatic')}}</label>
								        <input ng-disabled="!newModel.settings.defaultTextSearch" ng-model="newModel.settings.defaultTextSearchValue" type="text" />
							      	</md-input-container>
							      	<md-input-container flex style="margin-bottom: 4px;" ng-if="newModel.settings.defaultTextSearchType == 'driver'" class="md-block">
										<label>{{::translate.load("sbi.cockpit.cross.analyticaldriver")}}</label>
										<md-select ng-disabled="!newModel.settings.defaultTextSearch" ng-model="newModel.settings.defaultTextSearchValue">
											<md-option></md-option>
											<md-option ng-repeat="(key,val) in cockpitModule_analyticalDrivers" ng-value="key">{{key}}</md-option> 
										</md-select>
									</md-input-container>
		   						</div>
		   						</md-card-content>
	   					</md-card>		   				
		        </md-tab>
		        <md-tab label="{{translate.load('sbi.cockpit.style')}}">
		        	
		        	<md-card>
						<md-toolbar class="ternaryToolbar" >
							<div class="md-toolbar-tools" layout="row">
								<md-switch ng-model="newModel.style.th.enabled" ng-click="toggleTh()" ng-init="newModel.style.th.enabled = initTh()">{{::translate.load('sbi.generic.header')}}</md-switch>
								<span flex></span>
							</div>
						</md-toolbar>
						<md-card-content>
						<div flex layout=column >
							<div flex layout="row" >
								
								<md-input-container flex class="md-block">
									<label>{{::translate.load('sbi.cockpit.table.fontfamily')}}</label>
									<md-select aria-label="aria-label" ng-model="newModel.style.th['font-family']" ng-disabled="!newModel.style.th.enabled">
										<md-option ng-repeat="fam in cockpitModule_generalOptions.fontFamily" value="{{fam.value}}"><span ng-style="{'font-family':fam.value}">{{fam.label}}</span></md-option>
									</md-select>
								</md-input-container>
								<md-input-container flex class="md-block" >
									<label>{{::translate.load("sbi.cockpit.style.titles.font.size")}}</label>
									<input ng-model="newModel.style.th['font-size']" ng-disabled="!newModel.style.th.enabled" type="text"/>
									<div class="hint">{{::translate.load('sbi.cockpit.style.fontSize.hint')}}</div>
								</md-input-container>
								<md-input-container flex class="md-block">
									<label>{{::translate.load('sbi.cockpit.table.fontweight')}}</label>
									<md-select aria-label="aria-label" ng-model="newModel.style.th['font-weight']" ng-disabled="!newModel.style.th.enabled">
										<md-option ng-repeat="weight in cockpitModule_generalOptions.fontWeight" value="{{weight.value}}"><span ng-style="{'font-weight':weight.value}">{{weight.label}}</span></md-option>
									</md-select>
								</md-input-container>
								<md-input-container flex class="md-block">
									<label>{{::translate.load('sbi.cockpit.style.font.style')}}</label>
									<md-select aria-label="aria-label" ng-model="newModel.style.th['font-style']" ng-disabled="!newModel.style.th.enabled">
										<md-option ng-repeat="fst in cockpitModule_generalOptions.fontStyle" ng-value="fst.value"><span ng-style="{'font-style':fst.value}">{{fst.label}}</span></md-option>
									</md-select>
								</md-input-container>
								
							</div>
							<div flex layout=column >
								<div flex layout="row" >
									<md-input-container flex class="md-block">
										<label>{{::translate.load('sbi.cockpit.table.alignment')}}</label>
										<md-select aria-label="aria-label" ng-model="newModel.style.th['justify-content']" ng-disabled="!newModel.style.th.enabled">
											<md-option ng-repeat="fjc in cockpitModule_generalOptions.flexJustifyContent" ng-value="fjc.value">{{fjc.label}}</md-option>
										</md-select>
									</md-input-container>
									<md-input-container flex class="md-block">
										<label>{{::translate.load('sbi.cockpit.table.fontcolor')}}</label>
										<color-picker options="colorPickerPropertyTh" ng-model="newModel.style.th.color"/>
									</md-input-container>
									<md-input-container flex class="md-block">
										<label>{{::translate.load('sbi.cockpit.table.backgroundcolor')}}</label>
										<color-picker options="colorPickerPropertyTh" ng-model="newModel.style.th['background-color']"/>
									</md-input-container>
									
								</div>
							</div>
						</div>
					</md-card-content>

					</md-card>
					
					<md-card>
						<md-toolbar class="ternaryToolbar" >
							<div class="md-toolbar-tools" layout="row">
								<h2>{{::translate.load('sbi.cockpit.widget.table.rows')}}</h2>
								<span flex></span>
							</div>
						</md-toolbar>
						<md-card-content >
								<div flex layout="row" >
									<md-input-container flex class="md-block" >
										<label>{{::translate.load('sbi.cockpit.table.rows.height')}}</label>
										 <input ng-model="newModel.style.tr.height" type="text" />
									</md-input-container>
								</div>
						</md-card-content>
					</md-card>
					
		        	<cockpit-style-configurator ng-model="newModel.style" style="display:block">
		        	</cockpit-style-configurator>
		        </md-tab>
		        
		        <md-tab label="{{translate.load('sbi.cockpit.widget.table.cross')}}" >
					<cockpit-cross-configurator widget ng-cloak ng-model="newModel.cross"></cockpit-cross-configurator>
				</md-tab>
		        
		        <md-tab label="{{::translate.load('sbi.cockpit.widget.table.filters')}}">
					<cockpit-filters-configuration ng-model-shared="newModel" ></cockpit-filters-configuration>
				</md-tab>
		        
	      	</md-tabs>
    </md-card-content>
    <md-card-actions layout="row"  layout-align="end center">
	    <md-button class="md-raised" ng-click="cancelConfiguration()" >
	     {{translate.load('sbi.generic.cancel')}}
	    </md-button>
	    <md-button class="md-raised md-primary" ng-click="saveConfiguration()"  >
	     {{translate.load('sbi.generic.save')}}
	    </md-button>
    </md-card-actions>
</md-card>