<style>
	.editableCell {
		cursor:pointer;
	}
</style>
<md-card   class="flexCard discoveryWidgetConfiguration" >
	<md-card-content flex layout="column" class="noPadding">
	    <md-toolbar> 
	      <div class="md-toolbar-tools">
	        <h2>Edit Discovery widget</h2>
	        <span flex></span>
	      </div>
	    </md-toolbar>
			<md-tabs flex md-border-bottom>
				<md-tab label="Settings">
						<md-card>
		        			<md-card-content layout="row">
		   						<dataset-selector flex ng-model="newModel.datasetId" on-change="handleEvent('datasetChanged',dsId)" dataset-type-available="[{type:'SbiSolrDataSet',configuration:{property:'solrType',value:'DOCUMENTS'}}]" ></dataset-selector>  
		   					</md-card-content>
		   				</md-card>
		   				<md-card ng-if="newModel.datasetId">
		   					<md-subheader class="noPadding">
		   						<div layout="row" layout-align="start center" style="height:48px;">
		   							<span layout-padding>Settings</span><span flex></span>
		   						</div>
		   					</md-subheader>
		   					<md-card-content>
		   						<div layout="row">
		   							<md-switch flex="20" ng-model="newModel.settings.facets.selection">Enable Selection on Facets</md-switch>
		   							<md-switch flex="20" ng-model="newModel.settings.table.enabled">Enable Data Table</md-switch>
		   							<md-input-container flex style="margin-bottom: 4px;">
							        	<label>Pagination Items Number</label>
								        <input ng-model="newModel.settings.pagination.itemsNumber" type="number" min="0" />
							      	</md-input-container>
		   						</div>
		   					</md-card-content>
	   					</md-card>
		   				<md-card ng-show="newModel.datasetId">
		   					<md-subheader class="noPadding">
		   						<div layout="row" layout-align="start center" style="height:48px;">
		   							<span layout-padding>Columns</span><span flex></span>
		   						</div>
		   					</md-subheader>
		   					<md-card-content class="noPadding" style="padding:0;height:350px;">
		   						<div class="kn-grid-container" style="padding:0;">
		   							<div ag-grid="columnsGrid" class="ag-theme-balham ag-noBorders ag-theme-knowage noPadding" style="width:100%;"></div>
		   						</div>
		   					</md-card-content>
		   				</md-card>
		        </md-tab>
		        <md-tab label="{{translate.load('sbi.cockpit.style')}}">
		        	
		        	<md-card>
						<md-toolbar class="ternaryToolbar" >
							<div class="md-toolbar-tools" layout="row">
								<md-switch ng-model="newModel.style.th.enabled" ng-click="toggleTh()" ng-init="newModel.style.th.enabled = initTh()">Header</md-switch>
								<span flex></span>
							</div>
						</md-toolbar>
						<md-card-content>
						<div flex layout=column >
							<div flex layout="row" >
								
								<md-input-container flex class="md-block">
									<label>{{::translate.load('sbi.cockpit.table.fontfamily')}}</label>
									<md-select aria-label="aria-label" ng-model="newModel.style.th['font-family']" ng-disabled="!newModel.style.th.enabled">
										<md-option ng-repeat="fam in cockpitModule_generalOptions.fontFamily" value="{{fam.value}}"><span ng-style="{'font-family':fam.value}">{{fam.label}}</span></md-option>
									</md-select>
								</md-input-container>
								<md-input-container flex class="md-block" >
									<label>{{::translate.load("sbi.cockpit.style.titles.font.size")}}</label>
									<input ng-model="newModel.style.th['font-size']" ng-disabled="!newModel.style.th.enabled" type="text"/>
									<div class="hint">{{::translate.load('sbi.cockpit.style.fontSize.hint')}}</div>
								</md-input-container>
								<md-input-container flex class="md-block">
									<label>{{::translate.load('sbi.cockpit.table.fontweight')}}</label>
									<md-select aria-label="aria-label" ng-model="newModel.style.th['font-weight']" ng-disabled="!newModel.style.th.enabled">
										<md-option ng-repeat="weight in cockpitModule_generalOptions.fontWeight" value="{{weight.value}}"><span ng-style="{'font-weight':weight.value}">{{weight.label}}</span></md-option>
									</md-select>
								</md-input-container>
								<md-input-container flex class="md-block">
									<label>{{::translate.load('sbi.cockpit.style.font.style')}}</label>
									<md-select aria-label="aria-label" ng-model="newModel.style.th['font-style']" ng-disabled="!newModel.style.th.enabled">
										<md-option ng-repeat="fst in cockpitModule_generalOptions.fontStyle" ng-value="fst.value"><span ng-style="{'font-style':fst.value}">{{fst.label}}</span></md-option>
									</md-select>
								</md-input-container>
								
							</div>
							<div flex layout=column >
								<div flex layout="row" >
									<md-input-container flex class="md-block">
										<label>{{::translate.load('sbi.cockpit.table.alignment')}}</label>
										<md-select aria-label="aria-label" ng-model="newModel.style.th['justify-content']" ng-disabled="!newModel.style.th.enabled">
											<md-option ng-repeat="fjc in cockpitModule_generalOptions.flexJustifyContent" ng-value="fjc.value">{{fjc.label}}</md-option>
										</md-select>
									</md-input-container>
									<md-input-container flex class="md-block">
										<label>{{::translate.load('sbi.cockpit.table.fontcolor')}}</label>
										<color-picker options="colorPickerPropertyTh" ng-model="newModel.style.th.color"/>
									</md-input-container>
									<md-input-container flex class="md-block">
										<label>{{::translate.load('sbi.cockpit.table.backgroundcolor')}}</label>
										<color-picker options="colorPickerPropertyTh" ng-model="newModel.style.th['background-color']"/>
									</md-input-container>
									
								</div>
							</div>
						</div>
					</md-card-content>

					</md-card>
					
					<md-card>
						<md-toolbar class="ternaryToolbar" >
							<div class="md-toolbar-tools" layout="row">
								<h2>Rows</h2>
								<span flex></span>
							</div>
						</md-toolbar>
						<md-card-content >
								<div flex layout="row" >
									<md-input-container flex class="md-block" >
										<label>Rows Height</label>
										 <input ng-model="newModel.style.tr.height" type="text" />
									</md-input-container>
								</div>
						</md-card-content>
					</md-card>
					
		        	<cockpit-style-configurator ng-model="newModel.style" style="display:block">
		        	</cockpit-style-configurator>
		        </md-tab>
		        
		        <md-tab label="{{::translate.load('sbi.cockpit.widget.table.filters')}}">
					<cockpit-filters-configuration ng-model-shared="newModel" ></cockpit-filters-configuration>
				</md-tab>
		        
	      	</md-tabs>
    </md-card-content>
    <md-card-actions layout="row"  layout-align="end center">
	    <md-button class="md-raised" ng-click="cancelConfiguration()" >
	     {{translate.load('sbi.generic.cancel')}}
	    </md-button>
	    <md-button class="md-raised md-primary" ng-click="saveConfiguration()"  >
	     {{translate.load('sbi.generic.save')}}
	    </md-button>
    </md-card-actions>
</md-card>