<md-dialog>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{translate.load('sbi.cockpit.widgets.table.columnstyle')}}</h2>
      </div>
    </md-toolbar>
    <md-dialog-content style="width:600px;" layout-padding>
    	<div flex layout="row" >
			<md-input-container flex class="md-block">
				<label>{{::translate.load('sbi.cockpit.table.fontcolor')}}</label>
				<color-picker options="colorPickerProperty" ng-model="selectedColumn.style.color"/>
			</md-input-container>
			<md-input-container flex class="md-block">
				<label>{{::translate.load('sbi.cockpit.table.backgroundcolor')}}</label>
				<color-picker options="colorPickerProperty" ng-model="selectedColumn.style['background-color']"/>
			</md-input-container>
		</div>
    	<div flex layout="row" >
    		<md-input-container flex class="md-block">
				<label>{{::translate.load('sbi.cockpit.table.fontfamily')}}</label>
				<md-select aria-label="aria-label" ng-model="selectedColumn.style['font-family']">
					<md-option ng-repeat="fam in cockpitModule_generalOptions.fontFamily" value="{{fam.value}}"><span ng-style="{'font-family':fam.value}">{{fam.label}}</span></md-option>
				</md-select>
			</md-input-container>
			<md-input-container flex class="md-block" >
				<label>{{::translate.load("sbi.cockpit.style.titles.font.size")}}</label>
				<input ng-model="selectedColumn.style['font-size']" type="text"/>
				<div class="hint">{{::translate.load('sbi.cockpit.style.fontSize.hint')}}</div>
			</md-input-container>
		</div>
		<div flex layout="row" >
			<md-input-container flex class="md-block">
				<label>{{::translate.load('sbi.cockpit.table.fontweight')}}</label>
				<md-select aria-label="aria-label" ng-model="selectedColumn.style['font-weight']">
					<md-option ng-repeat="weight in cockpitModule_generalOptions.fontWeight" value="{{weight.value}}"><span ng-style="{'font-weight':weight.value}">{{weight.label}}</span></md-option>
				</md-select>
			</md-input-container>
			<md-input-container flex class="md-block">
				<label>{{::translate.load('sbi.cockpit.style.font.style')}}</label>
				<md-select aria-label="aria-label" ng-model="selectedColumn.style['font-style']">
					<md-option ng-repeat="fst in cockpitModule_generalOptions.fontStyle" ng-value="fst.value"><span ng-style="{'font-style':fst.value}">{{fst.label}}</span></md-option>
				</md-select>
			</md-input-container>
			<md-input-container flex>
				<label>{{translate.load('sbi.cockpit.table.alignment')}}</label>
				<md-select aria-label="aria-label" ng-model="selectedColumn.style['justify-content']">
						<md-option ng-repeat="align in textAlignments" value="{{align.align}}">{{align.text}}</md-option>
				</md-select>
			</md-input-container>
		</div>
		<div flex layout="row" ng-if="::isDateColumn(selectedColumn.type)">
			<md-input-container flex class="md-block" class="small counter" >
				<label>{{translate.load('sbi.cockpit.style.dateformat')}}</label>
	            <md-select ng-model="selectedColumn.dateFormat">
		            <md-option ng-repeat="df in cockpitModule_generalOptions.momentDateFormat" ng-value="df.value" >
		              <span>{{df.hint}}</small>
		            </md-option>
	            </md-select>
			</md-input-container>
		</div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised" ng-click="cancel()" >
        {{::translate.load('sbi.generic.cancel')}}
      </md-button>
      <md-button class="md-raised md-primary" ng-click="save()" >
        {{::translate.load('sbi.generic.save')}}
      </md-button>
    </md-dialog-actions>
</md-dialog>