<md-tab-content class="knowage-grey-color">
	<div layout="row" layout-align="center center" class="chart-tab-margin-top">
		<md-whiteframe class="md-whiteframe-4dp" layout layout-align="center center" flex=80 style="height:80%;">
			<div flex=60 layout-fill>
				<md-content layout-padding>

					<md-input-container  class="md-block whiteframe-element-padding">
						<label>{{translate.load("sbi.chartengine.designer.styleforparameters")}}</label>	
						<md-select  ng-model="chartTemplate.CHART.styleName">
							<md-option ng-repeat="c in chartStyles">{{c.STYLE.name}} 
							</md-option>
						</md-select>
					</md-input-container>
									
					<md-input-container  class="md-block whiteframe-element-padding">
						<label>{{translate.load("sbi.chartengine.designer.chartTypePicker")}}</label>	
						<md-select  ng-model="chartTemplate.CHART.type">
							<md-option ng-repeat="c in chartTypes">{{c | uppercase}} 
							</md-option>
						</md-select>
					</md-input-container>
					
					<md-input-container  class="md-block whiteframe-element-padding">
					 <label>Dataset in use</label>
						<input ng-model="datasetLabel" ng-readonly="true">
					</md-input-container>
					
				</md-content>
			</div>
			<md-divider class="vertical-divider"></md-divider>
			<div flex=40 layout-fill></div>
  		</md-whiteframe>
	</div>
</md-tab-content>
