<md-content layout="row" flex>
	
	<md-whiteframe flex layout="column" class="md-whiteframe-5dp md-whiteframe-5dp-rightPanelDocuments" layout-margin>
	
		<md-content layout="row" flex>
		
			<md-content layout="row" flex layout-fill class="rightPanelDocuments">
				
				<!-- 
					The view of the Analysis view of the Workspace.
					@author Danilo Ristovski (danristo, danilo.ristovski@mht.net) 
				-->
				<workspace-document-view 
									class="kn-documentBrowser" flex 
				 					ng-model=cockpitAnalysisDocs
				 					show-grid-view=showGridView
				 					show-add-to-organizer=false
				 					favorites-enabled=false
				 					clone-enabled=true
				 					delete-enabled=true
				 					selected-row=selectedRow
				 					selected-document=selectedDocument
				 					table-speed-menu-option=analysisSpeedMenu
				 					execute-document-action="executeDocument(doc)"
				 					select-document-action="selectDocument(doc)"
				 					clone-document-action="cloneAnalysisDocument(doc)"
				 					delete-document-action="deleteAnalysisDocument(doc)" >
				</workspace-document-view>	
			
			</md-content>
		
		</md-content>
	
	</md-whiteframe>
	
	<!-- Side navigation panel that contains details about the selected document in the Analysis option. -->
	<md-sidenav class="md-sidenav-right selectedDocumentSidenav md-whiteframe-4dp" 
				md-component-id="rightDoc" md-is-locked-open="$mdMedia('gt-md')"  
				ng-class="{'full-screen-sidenav': smallScreen}" ng-show="showDocumentDetails()">
		
		<md-toolbar class="ternaryToolbar">
			
			<div layout="row" layout-align="space-around center">
				
				<md-button ng-if="smallScreen" title="Execute Document" aria-label="Close panel" class="md-icon-button" ng-click="selectDocument(); toggleDocumentDetail();">
						<md-icon md-font-icon="fa fa-times" ></md-icon>
				</md-button>
				
				<md-button title="Execute Document" aria-label="Execute Document" class="md-icon-button" ng-click="executeDocument(selectedDocument)">
						<md-icon md-font-icon="fa fa-play-circle" ></md-icon>
				</md-button>
				
				<md-button title="Clone Document" aria-label="Clone Document" class="md-icon-button" ng-click="cloneAnalysisDocument(selectedDocument)">
						<md-icon md-font-icon="fa fa-clone"></md-icon>
				</md-button>
				
				<md-button title="Delete Document" aria-label="Delete Document" class="md-icon-button" ng-click="deleteAnalysisDocument(selectedDocument)">
						<md-icon md-font-icon="fa fa-trash-o"></md-icon>
				</md-button>
				
			</div>
			
		</md-toolbar>
		
		<!-- The content of the right side navigation panel, i.e. details for the currently selected document. -->
		<md-content layout-margin>
			
			<md-list>
				 
				 <md-list-item class="md-2-line">
				          <div class="md-list-item-text">
				            <h3><b>{{translate.load("sbi.generic.descr")}}</b></h3>
				            <p>{{selectedDocument.description}}</p>
				          </div>
				 </md-list-item>				 
				 
				 <md-list-item class="md-2-line">
				          <div class="md-list-item-text">
				            <h3><b>{{translate.load("sbi.generic.type")}}</b></h3>
				            <p>{{selectedDocument.typeCode}}</p>
				          </div>
				 </md-list-item>
				 
				 <md-list-item class="md-2-line">
				          <div class="md-list-item-text">
				            <h3><b>{{translate.load("sbi.generic.creationdate")}}</b></h3>
				            <p>{{selectedDocument.creationDate | asDate | date:'yyyy/MM/dd HH:mm:ss' }}</p>
				          </div>
				 </md-list-item>
				 
			</md-list>
			
		</md-content>
		
	</md-sidenav>
	
</md-content>