<md-content>
	
	<!-- 
		The view of the Analysis view of the Workspace.
		@author Danilo Ristovski (danristo, danilo.ristovski@mht.net) 
	-->
	
	<md-tabs flex layout="column" layout-fill class="rightPanelDocuments" >

		<!-- Tab that will give user a preview of all Analysis documents placed in the Workspace. -->
	    <md-tab label='All' md-active=true >
      		
      		<md-tab-content flex layout-fill>
      			
      			<document-view 	class="kn-documentBrowser" flex 
	 							style='overflow:auto;' 
	 							ng-model=allAnalysisDocs
	 							show-grid-view=showGridView >
				</document-view>
				
			</md-tab-content>
			
	    </md-tab>
    
    	<!-- Tab that will give user a preview of all Analysis documents of type Cockpit placed in the Workspace. -->
		<md-tab label='Cockpit' md-active=false >
		
			<md-tab-content flex layout-fill>
			
			  	<document-view 	class="kn-documentBrowser" flex 
 								style='overflow:auto;' 
 								ng-model=cockpitAnalysisDocs
 								show-grid-view=showGridView >
				</document-view>	
							
			</md-tab-content>
			
		</md-tab>
		
		<!-- Tab that will give user a preview of all Analysis documents of type Ad hoc placed in the Workspace. -->
		<md-tab label='Ad hoc' md-active=false >
		
			<md-tab-content flex layout-fill>
		
			  	<document-view 	class="kn-documentBrowser" flex 
 								style='overflow:auto;' 
 								ng-model=adhocReportAnalysisDocs
 								show-grid-view=showGridView >
				</document-view>
				
			</md-tab-content>
				
		</md-tab>
		
		<!-- Tab that will give user a preview of all Analysis documents of type Geo placed in the Workspace. -->
		<md-tab label='Geo' md-active=false >
		
			<md-tab-content flex layout-fill>
		
			  	<document-view 	class="kn-documentBrowser" flex 
 								style='overflow:auto;' 
 								ng-model=geoAnalysisDocs
 								show-grid-view=showGridView >
				</document-view>
				
			</md-tab-content>
				
		</md-tab>
    
  </md-tabs>

</md-content>