<md-content>
	
	<!-- 
		The view of the Analysis view of the Workspace.
		@author Danilo Ristovski (danristo, danilo.ristovski@mht.net) 
	-->
	
	<md-tabs flex layout="column" layout-fill class="rightPanelDocuments" >

		<!-- Tab that will give user a preview of all Analysis documents placed in the Workspace. -->
	    <md-tab label='All' md-active=true ng-click="setActiveTabState('all')">
      		
      		<md-tab-content flex layout-fill>      			
				
				<!-- 				
					<document-view 	class="kn-documentBrowser" flex 
	 							style='overflow:auto;' 
	 							ng-model=allAnalysisDocs
	 							show-grid-view=showGridView >
					</document-view>				
				 -->
				
				<workspace-document-view 
						class="kn-documentBrowser" flex 
	 					style='overflow:auto;' 
	 					ng-model=allAnalysisDocs
	 					show-grid-view=showGridView
	 					show-add-to-organizer=false
	 					favorites-enabled=false
	 					clone-enabled=true
	 					selected-row=selectedRow
	 					selected-document=selectedDocument
	 					execute-document-action="executeDocument(doc)"
	 					select-document-action="selectDocument(doc)"
	 					clone-document-action="cloneDocument(doc)"
	 					delete-document-action="deleteDocument(doc)" >
				</workspace-document-view>	
				
			</md-tab-content>
			
	    </md-tab>
    
    	<!-- Tab that will give user a preview of all Analysis documents of type Cockpit placed in the Workspace. -->
		<md-tab label='Cockpit' md-active=false ng-click="setActiveTabState('cockpit')">
		
			<md-tab-content flex layout-fill>
			
			  	<!-- 
			  		<document-view 	class="kn-documentBrowser" flex 
 								style='overflow:auto;' 
 								ng-model=cockpitAnalysisDocs
 								show-grid-view=showGridView >
					</document-view>
			  	 -->
				
				<workspace-document-view 
						class="kn-documentBrowser" flex 
	 					style='overflow:auto;' 
	 					ng-model=cockpitAnalysisDocs
	 					show-grid-view=showGridView
	 					show-add-to-organizer=false
	 					favorites-enabled=false
	 					clone-enabled=true
	 					selected-row=selectedRow
	 					selected-document=selectedDocument
	 					execute-document-action="executeDocument(doc)"
	 					select-document-action="selectDocument(doc)"
	 					clone-document-action="cloneDocument(doc)"
	 					delete-document-action="deleteDocument(doc)" >
				</workspace-document-view>		
							
			</md-tab-content>
			
		</md-tab>
		
		<!-- 
			KNOWAGE-859: Remove AD HOC reports option (tab).
			@author Danilo Ristovski (danristo, danilo.ristovski@mht.net) 
		-->
		<!-- Tab that will give user a preview of all Analysis documents of type Ad hoc placed in the Workspace. -->
		<!-- <md-tab label='Ad hoc' md-active=false ng-click="setActiveTabState('geo')">
		
			<md-tab-content flex layout-fill>
		
			  	<document-view 	class="kn-documentBrowser" flex 
 								style='overflow:auto;' 
 								ng-model=adhocReportAnalysisDocs
 								show-grid-view=showGridView >
				</document-view>
				
			</md-tab-content>
				
		</md-tab> -->
		
		<!-- Tab that will give user a preview of all Analysis documents of type Geo placed in the Workspace. -->
		<md-tab label='Geo' md-active=false ng-click="setActiveTabState('geo')">
		
			<md-tab-content flex layout-fill>
		
			  	<!-- 
				  	<document-view 	class="kn-documentBrowser" flex 
	 								style='overflow:auto;' 
	 								ng-model=geoAnalysisDocs
	 								show-grid-view=showGridView >
					</document-view> 
				-->
				
				<workspace-document-view 
						class="kn-documentBrowser" flex 
	 					style='overflow:auto;' 
	 					ng-model=geoAnalysisDocs
	 					show-grid-view=showGridView
	 					show-add-to-organizer=false
	 					favorites-enabled=false
	 					clone-enabled=true
	 					selected-row=selectedRow
	 					selected-document=selectedDocument
	 					execute-document-action="executeDocument(doc)"
	 					select-document-action="selectDocument(doc)"
	 					clone-document-action="cloneDocument(doc)"
	 					delete-document-action="deleteDocument(doc)" >
				</workspace-document-view>	
				
			</md-tab-content>
				
		</md-tab>
    
  </md-tabs>

</md-content>