<md-content class="md-toolbar-tools">
	
	<div class="md-toolbar-tools" layout="row" layout-align="center center">
		
		<!--  Search button -->
		<md-button class="md-icon-button" ng-click="setSearchInput(searchInput)">
			  <md-icon md-font-icon="fa fa-search"></md-icon>
		</md-button>
		
		<!-- Search input -->
	    <md-input-container ng-show=true class="searchInput">
			<input 	type="text" id="searchInput" ng-model="searchInput" 
					ng-change="setSearchInput(searchInput)" 
					focus-on="searchInput"
					title="Insert text for searching">
		</md-input-container>
		
		<!-- Search clear -->
		<md-button 	class="md-icon-button" title="Clear the text for searching" 
					aria-label="Clear" ng-show=true ng-click="setSearchInput('')">
			   <md-icon md-font-icon="fa fa-times"></md-icon>
		</md-button>
		
		<!-- Document view buttons -->		
		<md-button 	class="md-icon-button"  ng-click="toogleGridListViewOfDocs()" 
					title="{{showGridView?'List view':'Grid view'}}" 
					aria-label="{{showGridView?'List view':'Grid view'}}" >
					
			 <md-icon md-font-icon="fa" ng-class="showGridView ? 'fa-th-list' : 'fa-th'" ></md-icon>
			 
		</md-button>		
		
	</div>
	
</md-content>