<md-toolbar flex=70 class="md-toolbar-tools md-knowage-theme" layout-align="center center">
		
		<!--  Search button -->
		<md-button class="md-icon-button">
			  <md-icon class="md-icon-button" md-font-icon="fa fa-search"></md-icon>
		</md-button>
		
		<!-- Search input -->
	    <md-input-container  ng-show=true class="searchInput">
			<input class="workspaceSearchInput" type="text" id="searchInput" ng-model="searchInput" focus-on="searchInput" ng-change="setSearchInput(searchInput)">
		</md-input-container>
		
		<!-- Search clear -->
		<md-button class="md-icon-button" title="Clear" aria-label="Clear" ng-show=true ng-click="setSearchInput('')">
			   <md-icon md-font-icon="fa fa-times"></md-icon>
		</md-button>
		
		<!-- Document view buttons -->		
		<md-button 	class="md-icon-button"  ng-click="toogleGridListViewOfDocs()" 
					title="{{showGridView?'List view':'Grid view'}}" 
					aria-label="{{showGridView?'List view':'Grid view'}}" >
					
			 <md-icon md-font-icon="fa" ng-class="showGridView ? 'fa-th-list' : 'fa-th'" ></md-icon>
			 
		</md-button>		
		
</md-toolbar>