<md-content layout="row" flex>
	
	<md-whiteframe flex layout="column" class="md-whiteframe-5dp md-whiteframe-5dp-rightPanelDocuments" layout-margin>
	
		<md-content layout="row" flex>
		
			<md-content layout="row" flex layout-fill class="rightPanelDocuments">
	
			 	<folder-view	class="kn-documentBrowser" flex 
			 					style='overflow:auto;' 
			 					ng-model=folders
			 					show-grid-view=showGridView
			 					selected-folder=selectedFolder
			 					select-folder-action="openFolder(folder)"
			 					delete-folder-action="deleteFolder(folder)"
			 					 >
				</folder-view>		
		
			</md-content>
		
		</md-content>
	
	</md-whiteframe>
		
</md-content>