<md-content flex layout="column" layout-fill class="rightPanelDocuments">

 	<workspace-document-view 	class="kn-documentBrowser" flex 
 					style='overflow:auto;' 
 					ng-model=favoriteDocumetnsList
 					show-grid-view=showGridView
 					show-add-to-organizer="true"
 					selected-row=selectedRow
 					execute-document-action="executeDocument(doc)"
 					select-document-action="selectDocument(doc)"
 					delete-document-action="deleteFavorite(doc)"
 					 >
	</workspace-document-view>	

</md-content>