<md-content layout="row" flex>
	<md-content flex layout="column" layout-fill class="rightPanelDocuments">

	 	<favorite-view 	class="kn-documentBrowser" flex
	 					style='overflow:auto;'
	 					ng-model=favoriteDocumentsList
	 					hotlinkColumns=finRes
	 					show-grid-view=showGridView
	 					show-add-to-organizer="true"
	 					selected-row=selectedRow
	 					selected-document=selectedDocument
	 					table-speed-menu-option=favoriteSpeedMenu
	 					execute-document-action="executeFavorite(doc)"
	 					select-document-action="selectDocument(doc)"
	 					delete-document-action="deleteFavoriteDocumentExecutionById(doc)"
	 					 >
		</favorite-view>

	</md-content>
	<md-sidenav class="md-sidenav-right selectedDocumentSidenav md-whiteframe-4dp" md-component-id="rightDoc" md-is-locked-open="$mdMedia('gt-md')"  ng-class="{'full-screen-sidenav': smallScreen}" ng-show="showDocumentDetails()">
		<md-toolbar class="ternaryToolbar">
			<div layout="row" layout-align="space-around center">
				<md-button ng-if="smallScreen" title="Execute Document" aria-label="Close panel" class="md-icon-button" ng-click="selectDocument();toggleDocumentDetail();">
									<md-icon md-font-icon="fa fa-times" ></md-icon>
							</md-button>

							<md-button title="Execute Document" aria-label="Execute Document" class="md-icon-button" ng-click="executeFavorite(selectedDocument)">
									<md-icon md-font-icon="fa fa-play-circle" ></md-icon>
							</md-button>

							<md-button title="Delete Document" aria-label="Delete Document" class="md-icon-button" ng-click="deleteFavoriteDocumentExecutionById(selectedDocument)">
									<md-icon md-font-icon="fa fa-trash-o"></md-icon>
							</md-button>

			</div>
		</md-toolbar>
		<md-content layout-margin>
			<md-list>
				 <md-list-item class="md-2-line">
	          <div class="md-list-item-text">
	            <h3><b>Name</b></h3>
	            <p>{{selectedDocument.name}}</p>
	          </div>
					</md-list-item>

					<md-list-item class="md-2-line">
 	          <div class="md-list-item-text">
 	            <h3><b>Document name</b></h3>
 	            <p>{{selectedDocument.documentName}}</p>
 	          </div>
 					</md-list-item>

					<md-list-item class="md-2-line">
 	          <div class="md-list-item-text">
 	            <h3><b>Document label</b></h3>
 	            <p>{{selectedDocument.documentLabel}}</p>
 	          </div>
 					</md-list-item>

					<md-list-item class="md-2-line">
 	          <div class="md-list-item-text">
 	            <h3><b>Document description</b></h3>
 	            <p>{{selectedDocument.documentDescription}}</p>
 	          </div>
 					</md-list-item>

					<md-list-item class="md-2-line">
 	          <div class="md-list-item-text">
 	            <h3><b>Document type</b></h3>
 	            <p>{{selectedDocument.documentType}}</p>
 	          </div>
 					</md-list-item>

			</md-list>
		</md-content>
	</md-sidenav>
</md-content>
