<div>
	
	<!-- 
		Angular list that holds and displays all options for viewing files (different sets of files and 
		different perspectives) - Recent documents, Favorite documents, All workspace documents, 
		Workspace datasets and Analysis files.
		@author Danilo Ristovski (danristo, danilo.ristovski@mht.net)
	 -->
	<md-list ng-cloak>
	
	    <div ng-repeat="option in leftMainMenu">
			
			<md-list-item 	ng-click="leftMenuItemPicked(option)" ng-if="option.submenuOptions==undefined && option.visible"
							ng-class="option.name.toLowerCase() == currentOptionMainMenu ? 'md-2-line selectedLeftMenuItem' : 'md-2-line notSelectedLeftMenuItem'">
	    		<md-icon md-font-icon="{{option.icon}}"></md-icon>
		   	 	<p> {{ option.name }} </p>
		  	</md-list-item>
		  
		  	<div ng-if="option.submenuOptions!=undefined">
		  	 	
		  	 	<md-list-item ng-class="suboptionActive ? 'md-2-line selectedLeftMenuSubitem' : 'md-2-line notSelectedLeftMenuItem'" ng-click="setExpanded(option)">
	    			<md-icon md-font-icon="{{option.icon}}" ng-if="!option.active"></md-icon>
	    			<md-icon md-font-icon="{{option.activeIcon}}" ng-if="option.active"></md-icon>
		   	 		<p> {{ option.name }} </p>
		  		</md-list-item>
		  		
		  	 	<md-divider ng-show="option.active"></md-divider>
		  	 	
		  	  	<md-list-item 	ng-class="suboption.name.toLowerCase() == currentOptionMainMenu ? 'md-2-line workspace-submenu selectedLeftMenuItem'
		  	  							 : 'md-2-line workspace-submenu notSelectedLeftMenuItem'"
		  	  					ng-repeat="suboption in option.submenuOptions" 
		  	  					ng-show="option.active && suboption.visible" 
		  	  					ng-click="leftMenuItemPicked(suboption)">
	    			<md-icon md-font-icon="{{suboption.icon}}"></md-icon>
	    			<p> {{ suboption.name }} </p>
		  		</md-list-item>	  	
	  	
	  		</div>
	  		
	      	<md-divider ng-if="option.visible"></md-divider>
	      	
	  	</div>
	  	
	</md-list>
	
</div>