<md-toolbar class="md-toolbar-tools md-knowage-theme"> MY WORKSPACE
		
		<md-button ng-show="currentOptionMainMenu=='documents'" ng-click="" class="md-fab md-fab-top-right md-button ng-scope md-knowage-theme md-ink-ripple"> 
			<md-icon md-font-icon="fa fa-folder-o"></md-icon> 
		</md-button>
		
		<md-button ng-show="currentOptionMainMenu=='datasets'" ng-click="" class="md-fab md-fab-top-right md-button ng-scope md-knowage-theme md-ink-ripple"> 
			<md-icon md-font-icon="fa fa-bars"></md-icon> 
		</md-button>
		
		<md-button ng-show="currentOptionMainMenu=='analysis'" ng-click="" class="md-fab md-fab-top-right md-button ng-scope md-knowage-theme md-ink-ripple"> 
			<md-icon md-font-icon="fa fa-calculator"></md-icon> 
		</md-button>
		
</md-toolbar>

