<div layout="row">
	
	<md-toolbar class="documentBrowserToolbar" ng-cloak> 
		
		<div class="md-toolbar-tools" layout="row">
			<md-button class="md-icon-button" ng-click="toggleNav()" hide-gt-md >
	          <md-icon md-font-icon="fa fa-bars"></md-icon>
	        </md-button>
			
			<div flex>
				<!-- Title -->
				<h1>MY WORKSPACE</h1>
			</div>
		
			<!--  customize-view-workspace></customize-view-workspace-->
				
			<div layout="row" layout-align="end center" flex>
			
			<!--  Search button -->
		<md-button class="md-icon-button" hide show-gt-sm>
			  <md-icon md-font-icon="fa fa-search"></md-icon>
		</md-button>
		
		<!-- Search input -->
	    <md-input-container class="searchInput" hide show-gt-sm>
			<input class="workspaceSearchInput" type="text" id="searchInput" ng-model="searchInput" focus-on="searchInput" ng-change="setSearchInput(searchInput)">
		</md-input-container>
		
		<!-- Search clear -->
		<md-button class="md-icon-button" title="Clear" aria-label="Clear" ng-show=true ng-click="setSearchInput('')" hide show-gt-sm>
			   <md-icon md-font-icon="fa fa-times"></md-icon>
		</md-button>
					      
				<!-- Document view buttons -->		
		<md-button 	class="md-icon-button" ng-click="toogleGridListViewOfDocs()" 
					title="{{showGridView ? 'List view' : 'Grid view'}}" 
					aria-label="{{showGridView ? 'List view' : 'Grid view'}}">
					
			 <md-icon md-font-icon="fa" ng-class="showGridView ? 'fa-th-list' : 'fa-th'"></md-icon>
			 
		</md-button>	      
					      
				<md-button 	ng-if="currentOptionMainMenu=='documents'" ng-click="" 
							class="addNewDocumentButtonmd-fab md-mini md-ink-ripple" style="top:0px;right:-15px" ng-cloak>
					<md-icon md-font-icon="fa fa-folder-o"></md-icon>
				</md-button>
		
				<md-button 	ng-if="currentOptionMainMenu=='datasets' && currentDatasetsTab=='myDataSet'" 
							ng-click="addNewFileDataset()" class="md-fab md-mini md-ink-ripple" style="top:0px;right:-15px" 
							ng-cloak title="{{translate.load('sbi.workspace.mainmenu.addbutton.datasets')}}">
					<md-icon md-font-icon="fa fa-plus"></md-icon>
				</md-button>
		
				<md-button 	ng-if="currentOptionMainMenu=='models' && currentModelsTab=='federations'" ng-click="createFederation()" 
							class="md-fab md-mini md-ink-ripple" style="top:0px;right:-15px" ng-cloak
							title="{{translate.load('sbi.workspace.mainmenu.addbutton.models.federations')}}">
					<md-icon md-font-icon="fa fa-plus"></md-icon>
				</md-button>
		
				<!--
					KNOWAGE-861: Change the icon for creation of analysis in the main toolbar.
					Provide the Plus button for adding the new analysis document inside the Analysis perspective if the
					active (selected) tab IS NOT "ALL" (for all available analysis documents). In other words, if the
					currently active tab displays exclusively Cockpit or Geo map documents, we will be able to add a new
					document of such a type (respectively to the tab which user selected).
					@author Danilo Ristovski (danristo, danilo.ristovski@mht.net)
				-->
				
				<md-button 	 ng-if="currentOptionMainMenu=='analysis'" ng-click="addNewAnalysisDocument()" ng-cloak
							class="addNewDocument				<md-button	ng-if="currentOptionMainMenu=='analysis'" ng-click="addNewAnalysisDocument()" ng-cloak
							class="addNewDocumentButton md-fab md-mini md-ink-ripple" 
							title="{{translate.load('sbi.workspace.mainmenu.addbutton.analysis.cockpit')}}"> 
>	
		
	</md-toolbar>	
	
</div>