<md-content layout="row" flex>
        <md-content flex layout="column" layout-fill class="rightPanelDocuments">
              <workspace-document-view 
							class="kn-documentBrowser" flex 
		 					style='overflow:auto;' 
		 					ng-model=smartFiltersList
		 					show-grid-view=showGridView
		 					show-add-to-organizer=false
		 					favorites-enabled=false
		 					clone-enabled=false
		 					delete-enabled=false
		 					selected-row=selectedRow
		 					selected-document=selectedDocument
		 					select-document-action="selectDocument(doc)"
		 					execute-document-action="executeDocument(doc)"
		 					table-speed-menu-option=filterSpeedMenu
		 				  >
			 </workspace-document-view>	
	    

	   </md-content>
	   
	   <md-sidenav class="md-sidenav-right selectedDocumentSidenav md-whiteframe-4dp" 
				md-component-id="rightDoc" md-is-locked-open="$mdMedia('gt-md')"  
				ng-class="{'full-screen-sidenav': smallScreen}" ng-show="showDocumentDetails()">
		
		<md-toolbar class="ternaryToolbar">
			
			<div layout="row" layout-align="space-around center">
				
				<md-button ng-if="smallScreen" title="Execute Document" aria-label="Close panel" class="md-icon-button" ng-click="selectDocument(); toggleDocumentDetail();">
						<md-icon md-font-icon="fa fa-times" ></md-icon>
				</md-button>
				
				<md-button title="Execute Document" aria-label="Execute Document" class="md-icon-button" ng-click="executeDocument(selectedDocument)">
						<md-icon md-font-icon="fa fa-play-circle" ></md-icon>
				</md-button>
				
			</div>
			
		</md-toolbar>
		
		<!-- The content of the right side navigation panel, i.e. details for the currently selected document. -->
		<md-content layout-margin>
			
			<md-list>
				 
				 <md-list-item class="md-2-line">
				          <div class="md-list-item-text">
				            <h3><b>{{translate.load("sbi.generic.descr")}}</b></h3>
				            <p>{{selectedDocument.description}}</p>
				          </div>
				 </md-list-item>				 
				 
				 <md-list-item class="md-2-line">
				          <div class="md-list-item-text">
				            <h3><b>{{translate.load("sbi.generic.type")}}</b></h3>
				            <p>{{selectedDocument.typeCode}}</p>
				          </div>
				 </md-list-item>
				 
				 <md-list-item class="md-2-line">
				          <div class="md-list-item-text">
				            <h3><b>{{translate.load("sbi.generic.creationdate")}}</b></h3>
				            <p>{{selectedDocument.creationDate | asDate | date:'yyyy/MM/dd HH:mm:ss' }}</p>
				          </div>
				 </md-list-item>
				 
			</md-list>
			
		</md-content>
		
	</md-sidenav>
</md-content>