 <div layout="column" style ="min-height:200px" > 
 	<div layout="row" layout-align="center">
 		<div class="kn-noItems" ng-if="ngModel.length == 0">
 			{{translate.load('sbi.kpiedit.noitems')}}
 		</div>
 	</div>
 		<angular-table flex ng-show="ngModel.length > 0 && typeOfVisualization == 'list'"
		id='dinamicListTableList' ng-model="ngModel"
		columns=tableKpisColumnList
		columns-search='["name"]' show-search-bar=true
		scope-functions=tableFunction  speed-menu-option=measureMenuOption no-pagination=true
		> 
		</angular-table>
		
		<angular-table flex ng-show="ngModel.length > 0 && typeOfVisualization == 'widget'" 
		id='dinamicListTableWidget' ng-model="ngModel"
		columns=tableKpisColumnWidget
		columns-search='["name"]' show-search-bar=true
		scope-functions=tableFunction  speed-menu-option=measureMenuOption no-pagination=true
		> 
		</angular-table>
		
		<div layout="row"> 
			<span flex></span>
			<md-button ng-click="loadListKPItoTable()">{{translate.load('sbi.kpi.addkpiassociation')}}</md-button>
		</div>
   </div>       


