@charset "UTF-8";

@font-face {
  font-family: "dialects";
  src: url("/fonts/dialects/dialects.eot");
  src: url("/fonts/dialects/dialects.eot?#iefix") format("embedded-opentype"),
    url("/fonts/dialects/dialects.woff") format("woff"),
    url("/fonts/dialects/dialects.ttf") format("truetype"),
    url("/fonts/dialects/dialects.svg#dialects") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "dialects" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="db-"]:before,
[class*=" db-"]:before {
  font-family: "dialects" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.db-db:before {
  content: "\61";
}
.db-archivenetwork-add:before {
  content: "\62";
}
.db-network-add:before {
  content: "\63";
}
.db-network-edit:before {
  content: "\64";
}
.db-network-remove:before {
  content: "\65";
}
.db-network-security:before {
  content: "\66";
}
.db-network:before {
  content: "\67";
}
.db-database:before {
  content: "\6a";
}
.db-table:before {
  content: "\6b";
}
.db-postgresql:before {
  content: "\6c";
}
.db-orientdb:before {
  content: "\6d";
}
.db-oracle:before {
  content: "\6e";
}
.db-microsoft-sql:before {
  content: "\6f";
}
.db-mariadb:before {
  content: "\70";
}
.db-google-spanner:before {
  content: "\71";
}
.db-google-big-query:before {
  content: "\72";
}
.db-azure-synapse:before {
  content: "\73";
}
.db-aws-redshift:before {
  content: "\74";
}
.db-apache-spark:before {
  content: "\75";
}
.db-apache-impala:before {
  content: "\76";
}
.db-apache-hive:before {
  content: "\77";
}
.db-apache-cassandra:before {
  content: "\78";
}
.db-solr-logo-on-white:before {
  content: "\79";
}
.db-teradata:before {
  content: "\7a";
}
.db-vertica:before {
  content: "\41";
}
