<md-content class="filters" layout="column" layout-fill ng-cloak>
	<md-card ng-if="ngModelShared.filters!=undefined" >
		<md-card-content layout="column" class="noPadding">
			<div layout="row" layout-align="center center" ng-show="ngModelShared.type != 'static-pivot-table' || ngModelShared.limitRows.enable == true" layout-padding>
				<md-switch ng-model="ngModelShared.limitRows.enable" aria-label="Limit rows">
					{{translate.load("sbi.cockpit.widgets.table.tabledesignerpanel.tableoptions.limitrows")}} &nbsp;
				</md-switch>
				
				<md-input-container>
					<label>{{translate.load("sbi.cockpit.widgets.table.tabledesignerpanel.tableoptions.maxrowsnumber")}}</label>
					<input type="number" ng-model="ngModelShared.limitRows.rows" ng-disabled="!ngModelShared.limitRows.enable" min="1">
				</md-input-container>
			</div>
			
			<div layout="row" layout-align="center center">
				<div class="kn-info" flex=80>{{translate.load("sbi.cockpit.widgets.table.tabledesignerpanel.tableoptions.filters.info")}}</div>
			</div>
			         	
			<md-subheader class="noPadding">
				<div layout="row" layout-align="start center">
					<span layout-padding>Current Filters</span>
					<span flex></span>
					<md-button ng-click="addNewFilter()" ng-show="newFilterAddMode == false && newFilterEditMode == false">{{translate.load("sbi.cockpit.widgets.filtersConfiguration.addButtonLabel")}}</md-button>
				</div>
			</md-subheader>
			<!-- New Filter definition Row -->
			<div layout="row" layout-align="start center" ng-show="newFilterAddMode == true || newFilterEditMode == true" layout-padding>
			
	      		<md-input-container flex=15 >
	                <label>{{translate.load("sbi.cockpit.dataset")}}</label>

	             	<md-select ng-model="newFilter.dataset" ng-change=newFilterChangeDatasetUpdateColumns() ng-disabled="newFilterAddMode == false" >
	                    <md-option ng-repeat="ds in newFilterAllWidgetDS" ng-value="ds">{{ds.label}}</md-option>
	                </md-select>   

	            </md-input-container>
	            
				<md-input-container flex=20>
	                <label>{{translate.load("sbi.cockpit.widgets.selector.column")}}</label>
	             	<md-select ng-model="newFilter.colName" ng-disabled="newFilterAddMode == false" ng-change=newFilterChangeColumnUpdateType(col)>
	                    <md-option ng-repeat="col in newFilterColumnDS" ng-value="col.name">{{col.alias}}</md-option>
	                </md-select>   
	            </md-input-container>	
	            
	            
			<!-- Operator on combo basing on filter type: String, Number, Date-->
	      		<md-input-container flex=15 ng-show="newFilter.type == 'java.lang.String'">
	                <label>{{translate.load("sbi.cockpit.widgets.filtersConfiguration.operator")}}</label>
	             	<md-select ng-model="newFilter.filterOperator" ng-disabled="newFilterAddMode == false && newFilterEditMode == false" >
	                    <md-option ng-repeat="op in operatorsTypeString | filterDatasetOperator : datasetIsRealTime" ng-value="op">{{op}}</md-option>
	                </md-select>   
	            </md-input-container>
            
				<md-input-container flex=15  ng-show="newFilter.type == 'java.lang.Integer' || newFilter.type == 'java.lang.Double' || newFilter.type == 'java.lang.Float' || newFilter.type == 'java.math.BigDecimal' || newFilter.type == 'java.lang.Long' || newFilter.type == 'java.lang.BigInteger' || newFilter.type == 'java.lang.Byte' || newFilter.type == 'java.lang.Short'">
					<label>{{translate.load("sbi.cockpit.widgets.filtersConfiguration.operator")}}</label>
					<md-select ng-model="newFilter.filterOperator" ng-disabled="newFilterAddMode == false && newFilterEditMode == false">
					    <md-option  ng-repeat="op in operatorsTypeNumber | filterDatasetOperator : datasetIsRealTime" ng-value="op">{{op}}</md-option>
					</md-select>    
				</md-input-container>
            
				<md-input-container  flex=15 ng-show="newFilter.type.toLowerCase().indexOf('date') > -1 || newFilter.type.toLowerCase().indexOf('timestamp') > -1">
				     <label>{{translate.load("sbi.cockpit.widgets.filtersConfiguration.operator")}}</label>
				     <md-select ng-model="newFilter.filterOperator" ng-disabled="newFilterAddMode == false && newFilterEditMode == false">
				         <md-option  ng-repeat="op in operatorsTypeDate | filterDatasetOperator : datasetIsRealTime" ng-value="op">{{op}}</md-option>
				     </md-select>    
				</md-input-container>
	            

				<!-- Optional 0, 1 or 2 operands basing on chosen operator -->           
	            <md-input-container flex=35 ng-show="
	            			newFilter.filterOperator == '=' 
                			|| newFilter.filterOperator == '!=' 
                			|| newFilter.filterOperator == '>' 
                			|| newFilter.filterOperator == '<'
                			|| newFilter.filterOperator == '<='
                			|| newFilter.filterOperator == '>='
                			|| newFilter.filterOperator == 'like'
                			|| newFilter.filterOperator == 'IN'
                			|| newFilter.filterOperator == 'not IN'
                			"> 
	                <label ng-show="newFilter.type.toLowerCase().indexOf('date') == -1 && newFilter.type.toLowerCase().indexOf('timestamp') == -1">{{translate.load("sbi.cockpit.widgets.filtersConfiguration.value")}}</label>
	                <label ng-show="newFilter.type.toLowerCase().indexOf('date') > -1">{{translate.load("sbi.cockpit.widgets.filtersConfiguration.value")}}: yyyy-MM-dd hh:mm:ss</label>
	                <label ng-show="newFilter.type.toLowerCase().indexOf('timestamp') > -1">{{translate.load("sbi.cockpit.widgets.filtersConfiguration.value")}}: yyyy-MM-dd hh:mm:ss.SSS</label>	
	                <input maxlength="500" type="text" ng-model="newFilter.filterVal1" ng-disabled="newFilterAddMode == false && newFilterEditMode == false"> 
	      		</md-input-container>
      		
				<md-input-container flex=35 ng-show="newFilter.filterOperator == 'range'"> 
					<label ng-show="newFilter.type.toLowerCase().indexOf('date') == -1 && newFilter.type.toLowerCase().indexOf('timestamp') == -1">{{translate.load("sbi.cockpit.widgets.filtersConfiguration.from")}}</label>
	                <label ng-show="newFilter.type.toLowerCase().indexOf('date') > -1">{{translate.load("sbi.cockpit.widgets.filtersConfiguration.from")}}: yyyy-MM-dd hh:mm:ss</label>
	                <label ng-show="newFilter.type.toLowerCase().indexOf('timestamp') > -1">{{translate.load("sbi.cockpit.widgets.filtersConfiguration.from")}}: yyyy-MM-dd hh:mm:ss.SSS</label>
					<input maxlength="500" type="text" ng-model="newFilter.filterVal1" ng-disabled="newFilterAddMode == false && newFilterEditMode == false"> 
				</md-input-container>
				
                <md-input-container  flex=35 ng-show="newFilter.filterOperator == 'range'"> 
					<label ng-show="newFilter.type.toLowerCase().indexOf('date') == -1 && newFilter.type.toLowerCase().indexOf('timestamp') == -1">{{translate.load("sbi.cockpit.widgets.filtersConfiguration.to")}}</label>
	                <label ng-show="newFilter.type.toLowerCase().indexOf('date') > -1">{{translate.load("sbi.cockpit.widgets.filtersConfiguration.to")}}: yyyy-MM-dd hh:mm:ss</label>
	                <label ng-show="newFilter.type.toLowerCase().indexOf('timestamp') > -1">{{translate.load("sbi.cockpit.widgets.filtersConfiguration.to")}}: yyyy-MM-dd hh:mm:ss.SSS</label>
	                <input maxlength="500" type="text" ng-model="newFilter.filterVal2" ng-disabled="newFilterAddMode == false && newFilterEditMode == false"> 
            	</md-input-container>
            	
            	<div flex></div>
            	
            	<md-button  class="md-icon-button" ng-click="saveNewFilter()" ng-show="newFilterAddMode == true || newFilterEditMode == true">
            		<md-icon md-font-icon="fa fa-save"></md-icon>
            		<md-tooltip md-delay="1000" >{{translate.load("sbi.cockpit.widgets.filtersConfiguration.saveNewFilter")}}</md-tooltip>
            	</md-button>
            	
            	<md-button  class="md-icon-button" ng-click="eraseNewFilter()">
            		<md-icon md-font-icon="fa fa-eraser"></md-icon>
            		<md-tooltip md-delay="1000" >{{translate.load("sbi.cockpit.widgets.filtersConfiguration.clearNewFilter")}}</md-tooltip>
            	</md-button> 
            	
           	</div>
			<div layout="row" layout-align="left center" layout-padding ng-show="!isObjectEmpty(ngModelShared.filters)">
			      <angular-table flex 
			      			id='cockpitFilters' 
			      			ng-model="ngModelShared.filters"
							columns='filtersTableColumns'
							show-search-bar=false
							no-pagination=true 
							multi-select= false 
							selected-item="columnSelected"
							highlights-selected-item=true 
							click-function = "selectRowFilter(row,column,listId,index,evt,columnName)"
							speed-menu-option= actionsOnSelectionFilters
					/> 		
			</div>
			<div layout="row" layout-align="center center" ng-if="isObjectEmpty(ngModelShared.filters) && !newFilterAddMode && !newFilterEditMode">
				<div class="kn-noItems">{{translate.load("sbi.cockpit.widgets.filtersConfiguration.noFilter")}}</div>
			</div>

		</md-card-content>
	</md-card>
	<div layout="row" ng-if="!ngModelShared.filters" layout-align="center center">
		<div ng-if="!ngModelShared.filters" class="kn-noItems">{{translate.load('sbi.cockpit.table.missingdataset')}}</div>		
	</div>
	
</md-content>