<md-content layout="column" ng-controller="executeETLController" flex action-maker-validator="{model:ngModel,validator:validate}" ng-init="initNgModel()">
 	<angular-table flex
		id='docListTable' ng-model="listDoc"
		columns='[{"label":"Label","name":"DOCUMENT_NM"}, {"label":"Name","name":"DOCUMENT_NAME"}]'
		columns-search='["DOCUMENT_NM","DOCUMENT_NAME"]' show-search-bar=true
		multi-select = true selected-item="listDocSelected" comparison-column="'DOCUMENT_ID'"
		click-function = "onSelectDoc(row,column,listId);"
		scope-functions="tableFunction"
		> </angular-table>

</md-content>