.kn-hint {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .kn-hintContent {
        border-radius: 0;
        width: 90%;
    }

    .kn-hintIcon {
        font-size: 3rem;
    }

    &-sm {
        .kn-hintIcon {
            font-size: 2rem;
        }

        .kn-hintContent {
            font-size: 0.75rem;
        }

        .p-card-title {
            font-size: 1.2rem;
        }
    }
}
