.kn-hint {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .kn-hintContent {
        border-radius: 0;
        width: 90%;
    }

    .kn-hintIcon {
        font-size: 3rem;
    }
}
