<md-dialog style='width:50%;' layout="column">
	
	<md-toolbar class="primaryToolbar" >
		<div class="md-toolbar-tools">
			<h2>Saving customized view</h2>
		</div>
	</md-toolbar>
	
	<md-dialog-content class="olapDialogContent" >
		<div layout-padding layout="column">
			<md-input-container class="md-block">
				<label>{{translate.load("sbi.common.name");}}</label>
				<input type="text" ng-model="subObject.name" />
				<div ng-show="!subObject.isValid()">
	         		 <div ng-message="required">{{translate.load("sbi.olap.generic.required");}}</div>
	       		</div>
			</md-input-container>
	
			<md-input-container class="md-block">
				<label>{{translate.load("sbi.common.description");}}</label>
				<input type="text" ng-model="subObject.description" />
			</md-input-container>
	
			<md-input-container class="md-block">
				<label>Scope</label>
				<md-select ng-model="subObject.scope" placeholder="Select a scope">
					<md-option value="public" ng-selected="true">Public</md-option>
	   				<md-option value="private" >Private</md-option>
				</md-select>
			</md-input-container>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row">
		<md-button ng-click="cancelSavingSubObject()" class="md-raised">
			{{translate.load("sbi.common.cancel");}}
		</md-button>
		<md-button ng-disabled = "!subObject.isValid()" ng-click="saveSubObject()" class="md-raised md-primary">
			{{translate.load("sbi.common.ok");}}
		</md-button>
	</md-dialog-actions>
	
</md-dialog>