<div layout-fill class="overlayGray" layout="row" layout-align="center center">

<md-dialog aria-label="table configuration" ng-cloak  layout="column" class="width80">
   <md-toolbar class="secondaryToolbar" layout="row">
   	<div class="md-toolbar-tools">
		        <h1>{{translate.load('sbi.cockpit.widgets.table.columnstyle')}}</h1>
		        <span flex></span>
		         <md-button   class="md-icon-button" ng-click="cleanStyleColumn()" >
			      <md-icon md-font-icon="fa fa-eraser" aria-label="Clean"></md-icon>
			      </md-button>
			      </div>
		  </md-toolbar>
    <md-dialog-content flex layout="row" >
    	  
		      <div layout-margin layout="column" flex class="relative"> 
		       	
				<div flex>
				<div layout="row" ng-if="!selectedColumn.widgetType || (selectedColumn.widgetType == 'staticPivotTable' && selectedColumn.containerType!='COLUMNS') " >					
					<md-input-container class="md-block" class="small counter" flex>
						<label>{{translate.load('sbi.cockpit.table.columnSize')}}</label>
						<input class="input_class" type="text" ng-model="selectedColumn.style.width"> 
					</md-input-container>
					<!-- only for simple table ng-enabled="!selectedColumn.widgetType" -->
					<md-input-container  class="md-block" class="small counter" flex>
						<label>{{translate.load('sbi.cockpit.table.maxChars')}}</label>
						<input ng-disabled="selectedColumn.widgetType!=undefined" class="input_class" type="text" ng-model="selectedColumn.style.maxChars"> 
					</md-input-container>
					<md-switch ng-disabled="selectedColumn.widgetType!=undefined"  ng-model="selectedColumn.style.hiddenColumn" aria-label="Hidden Column" flex>
						{{translate.load('sbi.cockpit.table.hiddencolumn')}}
					</md-switch>
					<md-switch ng-disabled="selectedColumn.widgetType!=undefined || selectedColumn.style.hiddenColumn" ng-model="selectedColumn.style.hideonMobile" aria-label="Hide Mobile" flex>
						{{translate.load('sbi.cockpit.table.hide')}}
					</md-switch>
					<md-switch ng-model="selectedColumn.hideTooltip" aria-label="Hide tooltip" flex>
						{{translate.load('sbi.cockpit.table.hidetooltip')}}
					</md-switch>
				 </div>
		       
		       <div ng-if="selectedColumn.fieldType=='MEASURE'">
		       		<!-- both simple table and static pivot table -->
		       		<div layout="column">
		       		<md-input-container md-class="md-block">
          				<label>{{translate.load('sbi.cockpit.table.visualizationtype')}}</label>
          					<md-select ng-model="selectedColumn.visType" ng-change="changeVisType()">
            					<md-option ng-repeat="vType in visTypes" value="{{vType}}">
              						{{vType}}
            					</md-option>
          					</md-select>
        			</md-input-container>
		     
			       <div ng-if="selectedColumn.visType=='Chart'|| selectedColumn.visType=='Chart & Text' || selectedColumn.visType== 'Text & Chart' " layout="row" layout-wrap>
			       		<md-input-container flex=33 class="md-block" class="small counter" >
							<label>{{translate.load('sbi.cockpit.table.minvalue')}}</label>
							<input class="input_class" type="number" ng-model="selectedColumn.barchart.minValue" required> 
						</md-input-container>	
						
						<md-input-container flex=33 class="md-block" class="small counter">
							<label>{{translate.load('sbi.cockpit.table.maxvalue')}}</label>
							<input class="input_class" type="number" ng-model="selectedColumn.barchart.maxValue" required> 
						</md-input-container>
						
						<md-input-container flex=33 class="md-block" class="small counter">
							<label>{{translate.load('sbi.cockpit.table.chartcolor')}}</label> 
							<color-picker  options="colorPickerProperty" ng-model="selectedColumn.barchart.style['background-color'] "></color-picker>
						</md-input-container>
						
			       </div>			
					

	        	</div>

       			<md-card>
	       			<md-toolbar class="ternaryToolbar ">
				      <div class="md-toolbar-tools">
				        <h2>{{translate.load('sbi.cockpit.table.threshold')}}</h2>
				          <span flex></span>
				          <md-button   class="md-icon-button" ng-click="addRange()" >
					      	<md-icon md-font-icon="fa fa-plus" aria-label="Add range"></md-icon>
					      </md-button>
			          </div>
			       </md-toolbar>
			      
       			   <md-card-content layout="column">
       			   		<div ng-if="!selectedColumn.ranges || selectedColumn.ranges.length == 0" flex>{{translate.load('sbi.cockpit.table.nothreshold')}}</div>
						<div layout="row" ng-repeat="range in selectedColumn.ranges" layout-align="space-between center">
							<md-input-container flex=20 class="md-block"> 
								<label>{{translate.load('sbi.cockpit.table.condition')}}</label>
								<md-select aria-label="aria-label" ng-model="range.operator">
									<md-option ng-repeat="c in conditions" value="{{c}}">{{c}}</md-option>
								</md-select>
							</md-input-container>
							
							<md-input-container flex=20 class="md-block">
								<label>{{translate.load('sbi.cockpit.table.threshold')}}</label>
								<input class="input_class" type="number" ng-model="range.value"> 
							</md-input-container>
							
							<button flex="10" class="md-button md-raised md-button-empty" ng-click="chooseIcon(range)" ng-style="{'background-color':range['background-color']}">
								<span ng-if="!range.icon" ng-style="{'color':range.color}">Choose Icon</span>
								<i ng-if="range.icon" ng-class="range.icon" ng-style="{'color':range.color}"></i>
							</button>
							
							<md-input-container flex=20 class="md-block"> 
								<label>Text/icon color</label>
								<color-picker options="colorPickerProperty" ng-model="range.color"></color-picker>
							</md-input-container>

							<md-input-container flex=20 class="md-block"> 
								<label>{{translate.load('sbi.cockpit.table.backgroundcolor')}}</label>
								<color-picker options="colorPickerProperty" ng-model="range['background-color']"></color-picker>
							</md-input-container>

							<md-button class="md-icon-button" ng-click="deleteRange(range.$$hashKey)" >
						      	<md-icon md-font-icon="fa fa-trash" aria-label="Delete range"></md-icon>
						    </md-button>
						</div>

					</md-card-content>
				</md-card>
			  </div> 
					        
			   <!-- ----------------- -->
		       
		       <md-card>
				<md-toolbar class="ternaryToolbar ">
			      <div class="md-toolbar-tools">
			        <h2>
			          <span>Style</span>
			        </h2>
		        </div>
		       </md-toolbar>
		       
		       <md-card-content>
		       <div flex layout="row" ng-if="selectedColumn.fieldType == 'MEASURE'">
					<md-input-container flex class="md-block" class="small counter">
						<label> {{translate.load('sbi.cockpit.style.prefix')}}</label>
						<input class="input_class"  ng-model="selectedColumn.style.prefix"> 
					</md-input-container>
					<md-input-container flex class="md-block" class="small counter">
						<label>{{translate.load('sbi.cockpit.style.suffix')}}</label>
						<input class="input_class"  ng-model="selectedColumn.style.suffix"> 
					</md-input-container>
					<!--  md-input-container flex class="md-block"  class="small counter">  
						<label>{{translate.load('sbi.cockpit.style.format')}}</label>
						<md-select aria-label="aria-label" ng-model="selectedColumn.style.format">
							<md-option ng-repeat="f in formatPattern" value="{{f}}">{{f}}</md-option>
						</md-select>
					</md-input-container-->
					<md-input-container flex class="md-block" class="small counter" ng-if="selectedColumn.type == 'java.lang.Double' || selectedColumn.type == 'java.lang.Float' || selectedColumn.type == 'float'">
						<label>{{translate.load('sbi.cockpit.style.precision')}}</label>
						<input class="input_class" type="number" ng-model="selectedColumn.style.precision" min="0" > 
					</md-input-container>
		       </div>	
		       <div flex layout="row">
					<md-input-container flex=50 class="md-block"> 
						<label>{{translate.load('sbi.cockpit.table.backgroundcolor')}}</label>
						<color-picker  options="colorPickerProperty" ng-model="selectedColumn.style['background-color'] "></color-picker>
					</md-input-container>
					<md-input-container flex=50 class="md-block"> 
						<label>{{translate.load('sbi.cockpit.table.fontcolor')}}</label>
						<color-picker  options="colorPickerProperty" ng-model="selectedColumn.style.color"></color-picker>
					</md-input-container>
				</div>

		       <div flex>
		       		<md-input-container flex class="md-block"> 
							<label>{{translate.load('sbi.cockpit.table.fontweight')}}</label>
							<md-select aria-label="aria-label" ng-model="selectedColumn.style['font-weight']">
									<md-option ng-repeat="w in fontWeight" value="{{w}}">{{w}}</md-option>
							</md-select>
					</md-input-container>
				</div>
				<div flex>
					<md-input-container class="md-block" flex>
				<label>{{translate.load("sbi.cockpit.table.fontsize")}}</label>
				<md-select ng-model="selectedColumn.style['font-size']">
					<md-option ng-repeat="fs in cockpitModule_generalOptions.fontSizeDimension" ng-value="fs.value">{{fs.label}}</md-option>
				</md-select>
			</md-input-container>
				</div>
			    <div flex>
		       		<md-input-container flex class="md-block"> 
							<label>{{translate.load('sbi.cockpit.table.alignment')}}</label>
							<md-select aria-label="aria-label" ng-model="selectedColumn.style.td['justify-content']">
									<md-option ng-repeat="(key,value) in modelTextAlign" value="{{key}}">{{value}}</md-option>
							</md-select>
					</md-input-container>
				</div> 
				</md-card-content>
				</md-card>
		      </div>
    		</div>
    		<ng-include src="getTemplateUrl('tableWidgetAddIconDialog')" flex="20" ng-if="tempVar"></ng-include>
    </md-dialog-content>
   
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancelcolumnStyleConfiguration()" >
        {{translate.load('sbi.generic.cancel')}}
      </md-button>
      <md-button ng-click="saveColumnStyleConfiguration()" ng-disabled="checkIfDisable()" >
        {{translate.load('sbi.generic.save')}}
      </md-button>
    </md-dialog-actions>
	 
 </md-dialog>
 </div>