<md-dialog aria-label="table configuration"  class="catalogFunctionDialog" ng-cloak layout="column" style="min-width:90%; min-height:90%;">
	<md-toolbar class="_md md-knowage-theme _md-toolbar-transitions">
    	<div class="md-toolbar-tools">
        	<h2 class="ng-binding">{{::translate.load('sbi.cockpit.widgets.table.catalogFunctions.catalogfunctionwizard.title')}}</h2>
        </div>
    </md-toolbar>
    
    <md-dialog-content layout="row" flex>
    	<md-card flex="25" flex-sm="30" flex-xs="40" class="left">
        	<md-card-content class="noPadding">
   		   		<div ng-show="functionsGrid.api.getDisplayedRowCount() > 0" ag-grid="functionsGrid" class="ag-theme-balham ag-theme-knowage ag-theme-knowage-secondary ag-full-dimensions"></div>
   		   		<div ng-show="functionsGrid.api.getDisplayedRowCount() <= 0">
   		   			<div class="kn-info truncated" layout="row" layout-align="center center"> {{::translate.load('sbi.cockpit.widgets.table.catalogFunctions.function.noFunctionsDefined')}} </div>
   		   		</div>
        	</md-card-content>
    	</md-card>
    	<md-card layout="column" flex class="right" ng-class="{'icon-r': selectedFunction.language=='R', 'icon-python': selectedFunction.language=='Python'}">
        	<md-card-content layout="column" class="noPadding">
        		<div ng-show="selectedFunction">
        			<div>
        				<h2>{{selectedFunction.name}}</h2>
        			</div>
        			<div ng-show="selectedFunction.description">
	        			<md-subheader> {{::translate.load('sbi.cockpit.widgets.table.catalogFunctions.function.description')}} </md-subheader>
	        			<p style="margin: 0.5em" ng-bind-html="textToHtml(selectedFunction.description)"></p>
	        		</div>
	        		<div ng-show="selectedFunction.benchmarks">
	        			<md-subheader> {{::translate.load('sbi.cockpit.widgets.table.catalogFunctions.function.benchmarks')}} </md-subheader>
        				<p style="margin: 0.5em" ng-bind-html="textToHtml(selectedFunction.benchmarks)"></p>
        			</div>
        			<div ng-show="selectedFunction.inputColumns.length>0" style="min-height:200px;">
        				<md-subheader> {{::translate.load('sbi.cockpit.widgets.table.catalogFunctions.function.columnsSettings')}} </md-subheader>
	            		<div ag-grid="columnsGrid" class="ag-theme-balham ag-theme-knowage ag-theme-knowage-secondary"></div>
	            	</div>
	            	<div ng-show="selectedFunction.inputVariables.length>0">
	            		<md-subheader> {{::translate.load('sbi.cockpit.widgets.table.catalogFunctions.function.variablesSettings')}} </md-subheader>
	            		<div ag-grid="variablesGrid" class="ag-theme-balham ag-theme-knowage ag-theme-knowage-secondary"></div>
        			</div>
        			<div ng-show="selectedFunction.id">
        			<md-subheader> {{::translate.load('sbi.cockpit.widgets.table.catalogFunctions.function.environment')}} </md-subheader>
			     		<md-input-container flex class="md-block">
						  	<md-select placeholder="Choose environment" ng-if="selectedFunction.language=='Python'" ng-model="selectedFunction.environment" ng-change="setLibraries()">   
			        			<md-option ng-repeat="e in pythonEnvironments" value="{{e}}">{{e.label}}</md-option>
							</md-select> 
							<md-select placeholder="Choose environment" ng-if="selectedFunction.language=='R'" ng-model="selectedFunction.environment" ng-change="setLibraries()"> 
					        	<md-option ng-repeat="e in rEnvironments" value="{{e}}">{{e.label}}</md-option>
					        </md-select> 
						</md-input-container>
						<div ag-grid="librariesGrid" ng-if="selectedFunction.environment" class="ag-theme-balham ag-theme-knowage ag-theme-knowage-secondary" style="height: 300px"></div>
					</div>
        		</div>
        		<div ng-show="!selectedFunction" layout="row" layout-align="center center" flex>
        			<div class="kn-info truncated" layout="row" layout-align="center center" style="height:50px" flex="50"> {{::translate.load('sbi.cockpit.widgets.table.catalogFunctions.function.noFunctionSelected')}} </div>
        		</div>
        	</md-card-content>
    	</md-card>
    </md-dialog-content>
    
    <md-dialog-actions layout="row" style="box-shadow:0px -1px 2px #ccc">
      	<span flex></span>
      	<md-button class="md-raised" ng-click="cancelConfiguration()" >
        	{{::translate.load('sbi.generic.cancel')}}
      	</md-button>
      	<md-button class="md-raised md-primary" ng-click="saveColumnConfiguration()"  >
        	{{::translate.load('sbi.generic.save')}}
    	</md-button>
	</md-dialog-actions>
</md-dialog>