<div layout-fill class="overlayGray" layout="row" layout-align="center center">
	<md-dialog aria-label="table configuration" ng-cloak  layout="column" class="width80">
	   <md-toolbar class="secondaryToolbar" layout="row">
	   	<div class="md-toolbar-tools">
			        <h1>{{::translate.load('sbi.cockpit.widgets.table.columnstyle')}}</h1>
			        <span flex></span>
			         <md-button   class="md-icon-button" ng-click="cleanStyleColumn()" >
				      <md-icon md-font-icon="fa fa-eraser" aria-label="Clean"></md-icon>
				      </md-button>
				      </div>
			  </md-toolbar>
	    <md-dialog-content flex layout="row" >
			      <div layout-margin layout="column" flex class="relative"> 
			       	
					<div flex>
					<div layout="row" ng-if="needsCommonPrefs && (!selectedColumn.widgetType || (selectedColumn.widgetType == 'staticPivotTable' && selectedColumn.containerType!='COLUMNS'))" >					
						<md-input-container class="md-block" class="small counter" flex>
							<label>{{::translate.load('sbi.cockpit.table.columnSize')}}</label>
							<input class="input_class" type="text" ng-model="selectedColumn.style.width"> 
						</md-input-container>
						<!-- only for simple table ng-enabled="!selectedColumn.widgetType" -->
						<md-input-container  class="md-block" class="small counter" flex>
							<label>{{::translate.load('sbi.cockpit.table.maxChars')}}</label>
							<input ng-disabled="selectedColumn.widgetType!=undefined" class="input_class" type="text" ng-model="selectedColumn.style.maxChars"> 
						</md-input-container>
						<md-input-container class="md-block" class="small counter" flex>
	          				<label>{{::translate.load('sbi.cockpit.table.pinned')}}</label>
          					<md-select ng-model="selectedColumn.pinned">
            					<md-option value=""></md-option>
            					<md-option value="left">{{::translate.load('sbi.cockpit.table.pinnedleft')}}</md-option>
            					<md-option value="right">{{::translate.load('sbi.cockpit.table.pinnedright')}}</md-option>
          					</md-select>
	        			</md-input-container>
        			</div>
        			<div layout="row" ng-if="needsCommonPrefs && (!selectedColumn.widgetType || (selectedColumn.widgetType == 'staticPivotTable' && selectedColumn.containerType!='COLUMNS'))" >
						<md-switch ng-disabled="selectedColumn.widgetType!=undefined" ng-model="selectedColumn.style.hiddenColumn" aria-label="Hidden Column" flex>
							{{::translate.load('sbi.cockpit.table.hiddencolumn')}}
						</md-switch>
						<md-switch ng-if="selectedColumn.style.hiddenColumn" ng-model="selectedColumn.style.hideonMobile" aria-label="Hide Mobile" flex>
							{{::translate.load('sbi.cockpit.table.hide')}}
						</md-switch>
						<md-switch ng-if="selectedColumn.fieldType=='MEASURE'" ng-model="selectedColumn.style.hideSummary" aria-label="Hide Summary" flex>
							{{::translate.load('sbi.cockpit.table.hidesummary')}}
						</md-switch>
						<md-switch ng-model="selectedColumn.style.hideHeader" aria-label="Hide header" flex>
							{{::translate.load('kn.table.hideheader')}}
						</md-switch>
						<md-switch ng-model="selectedColumn.rowSpan" aria-label="Row Span" flex>
							{{::translate.load('kn.table.rowspan')}}
							<md-tooltip md-delay="1000">{{::translate.load('kn.table.rowspan.tooltip')}}</md-tooltip>
						</md-switch>
						<md-switch ng-model="selectedColumn.style.hideFromPdf" aria-label="Hide from PDF" flex>
							{{::translate.load('kn.table.hidefrompdf')}}
						</md-switch>
					</div>
			       
			       <div ng-if="needsVisualization && (selectedColumn.fieldType=='MEASURE')">
			       		<!-- both simple table and static pivot table -->
			       		<div layout="column">
			       		<md-input-container md-class="md-block">
	          				<label>{{::translate.load('sbi.cockpit.table.visualizationtype')}}</label>
	          					<md-select ng-model="selectedColumn.visType" ng-change="changeVisType()">
	            					<md-option ng-repeat="vType in visTypes" value="{{vType}}">
	              						{{vType}}
	            					</md-option>
	          					</md-select>
	        			</md-input-container>
	        			<div layout="row" ng-if="selectedColumn.visType == 'Icon only' && (!selectedColumn.ranges.length || selectedColumn.ranges.length == 0)">
	        				<div class="kn-warning" flex="100">
	        					{{::translate.load('sbi.cockpit.table.visualizationtype.warning')}}
	        				</div>
	        			</div>
			     
				       <div ng-if="selectedColumn.visType=='Chart'|| selectedColumn.visType== 'Text & Chart' " layout="row" layout-wrap>
				       		<md-input-container flex class="md-block" class="small counter" >
								<label>{{::translate.load('sbi.cockpit.table.minvalue')}}</label>
								<input class="input_class" type="number" ng-model="selectedColumn.barchart.minValue" required /> 
							</md-input-container>	
							
							<md-input-container flex class="md-block" class="small counter">
								<label>{{::translate.load('sbi.cockpit.table.maxvalue')}}</label>
								<input class="input_class" type="number" ng-model="selectedColumn.barchart.maxValue" required /> 
							</md-input-container>
							
							<md-input-container flex class="md-block" class="small counter">
								<label>{{::translate.load('sbi.cockpit.table.chartalignment')}}</label>
								<md-select ng-model="selectedColumn.barchart.style['justify-content']">
									<md-option ng-repeat="align in cockpitModule_generalOptions.flexJustifyContent" value="{{align.value}}">
	              						{{align.label}}
	            					</md-option>
								</md-select>
							</md-input-container>
							
							<md-input-container flex class="md-block" class="small counter">
								<label>{{::translate.load('sbi.cockpit.table.chartcolor')}}</label> 
								<color-picker  options="colorPickerProperty" ng-model="selectedColumn.barchart.style['background-color'] "></color-picker>
							</md-input-container>
							
							<md-input-container flex class="md-block" class="small counter" ng-if="selectedColumn.visType=='Text & Chart'">
								<label>{{::translate.load('sbi.cockpit.table.charttextcolor')}}</label> 
								<color-picker  options="colorPickerProperty" ng-model="selectedColumn.barchart.style.color"></color-picker>
							</md-input-container>
				       </div>			
						
	
		        	</div>
	
	       			<md-card ng-if="needsThresholds">
		       			<md-toolbar class="ternaryToolbar ">
					      <div class="md-toolbar-tools">
					        <h2>{{::translate.load('sbi.cockpit.table.threshold')}}</h2>
					          <span flex></span>
					          <md-button   class="md-icon-button" ng-click="addRange()" >
						      	<md-icon md-font-icon="fa fa-plus" aria-label="Add range"></md-icon>
						      </md-button>
				          </div>
				       </md-toolbar>
				      
	       			   <md-card-content layout="column">
	       			   		<div ng-if="!selectedColumn.ranges || selectedColumn.ranges.length == 0" flex>{{::translate.load('sbi.cockpit.table.nothreshold')}}</div>
							<div layout="row" ng-repeat="range in selectedColumn.ranges" layout-align="space-between center">
								<md-input-container flex=20 class="md-block"> 
									<label>{{::translate.load('sbi.cockpit.table.condition')}}</label>
									<md-select aria-label="aria-label" ng-model="range.operator">
										<md-option ng-repeat="c in conditions" value="{{c}}">{{c}}</md-option>
									</md-select>
								</md-input-container>
								
								<md-input-container flex=20 class="md-block">
									<label>{{::translate.load('sbi.cockpit.table.threshold')}}</label>
									<input class="input_class" type="number" ng-model="range.value"> 
								</md-input-container>
								
								<button flex="10" class="md-button md-raised md-button-empty" ng-click="chooseIcon(range)" ng-style="{'background-color':range['background-color']}">
									<span ng-if="!range.icon" ng-style="{'color':range.color}">Choose Icon</span>
									<i ng-if="range.icon" ng-class="range.icon" ng-style="{'color':range.color}"></i>
								</button>
								
								<md-input-container flex=20 class="md-block"> 
									<label>Text/icon color</label>
									<color-picker options="colorPickerProperty" ng-model="range.color"></color-picker>
								</md-input-container>
	
								<md-input-container flex=20 class="md-block"> 
									<label>{{::translate.load('sbi.cockpit.table.backgroundcolor')}}/chart color</label>
									<color-picker options="colorPickerProperty" ng-model="range['background-color']"></color-picker>
								</md-input-container>
	
								<md-button class="md-icon-button" ng-click="deleteRange(range.$$hashKey)" >
							      	<md-icon md-font-icon="fa fa-trash" aria-label="Delete range"></md-icon>
							    </md-button>
							</div>
	
						</md-card-content>
					</md-card>
				  </div> 
				  
				  <cockpit-column-variables variables="selectedColumn.variables" ng-if="variablesExists()"></cockpit-column-variables>
			       
		       		<md-card>
						<md-toolbar class="ternaryToolbar">
				      		<div class="md-toolbar-tools">
					        	<h2>
					          		<span>Format</span>
					        	</h2>
				        	</div>
				       </md-toolbar>
				       <md-card-content>
					       <div flex layout="row" >
								<md-input-container flex class="md-block" class="small counter">
									<label> {{::translate.load('sbi.cockpit.style.prefix')}}</label>
									<input class="input_class" ng-trim="false" ng-model="selectedColumn.style.prefix"> 
								</md-input-container>
								<md-input-container flex class="md-block" class="small counter">
									<label>{{::translate.load('sbi.cockpit.style.suffix')}}</label>
									<input class="input_class" ng-trim="false" ng-model="selectedColumn.style.suffix"> 
								</md-input-container>
								<md-input-container flex class="md-block" class="small counter" ng-if="hasPrecision(selectedColumn)">
									<label>{{::translate.load('sbi.cockpit.style.precision')}}</label>
									<input class="input_class" type="number" ng-model="selectedColumn.style.precision" min="0"> 
								</md-input-container>
								<md-checkbox class="noMargin" ng-model="selectedColumn.style.asString" aria-label="use as string" ng-if="hasPrecision(selectedColumn)" layout="row" layout-align="start center">
					            	{{::translate.load('sbi.cockpit.style.treatasstring')}}
					          	</md-checkbox>
								<md-input-container flex class="md-block" class="small counter" ng-if="::isDateColumn(selectedColumn.type)">
									<label>{{::translate.load('sbi.cockpit.style.dateformat')}}</label>
									 <md-select ng-model="selectedColumn.dateFormat" ng-if="model.type == 'table'">
							            <md-option ng-repeat="df in cockpitModule_generalOptions.momentDateFormat" ng-value="df.value" >
							              <span>{{df.hint}}</small>
							            </md-option>
						            </md-select>
								</md-input-container>
					   		</div>
				       </md-card-content>
			       	</md-card>
					       
		       		<md-card ng-if="needsStyle">
						<md-toolbar class="ternaryToolbar ">
				      		<div class="md-toolbar-tools">
					        	<h2>
					          		<span>Style</span>
					        	</h2>
				        	</div>
				       </md-toolbar>
		       
				       <md-card-content>
				       
					       <div layout="row">
								<md-input-container class="md-block" flex>
									<label>{{::translate.load('sbi.cockpit.table.fontcolor')}}</label>
									<color-picker options="colorPickerProperty" ng-model="selectedColumn.style['color']"></color-picker> 
								</md-input-container>
								<md-input-container class="md-block" flex>
									<label>{{::translate.load('sbi.cockpit.table.backgroundcolor')}}</label>
									<color-picker options="colorPickerProperty" ng-model="selectedColumn.style['background-color']"></color-picker> 
								</md-input-container>
							</div>
					       <div layout="row">
								<md-input-container class="md-block" flex>
									<label>{{::translate.load('kn.table.horizontalalign')}}</label>
									<md-select ng-model="selectedColumn.style['justify-content']">
										<md-option ng-repeat="fs in cockpitModule_generalOptions.flexJustifyContent" ng-value="fs.value">{{fs.label}}</md-option>
									</md-select>
								</md-input-container>
								<md-input-container class="md-block" flex>
									<label>{{::translate.load("kn.table.verticalalign")}}</label>
									<md-select ng-model="selectedColumn.style['align-items']">
										<md-option ng-repeat="fs in cockpitModule_generalOptions.flexAlignItems" ng-value="fs.value">{{fs.label}}</md-option>
									</md-select>
								</md-input-container>
								<md-checkbox class="noMargin" ng-model="selectedColumn.style.overrideHeader" aria-label="override header" layout="row" layout-align="start center">
					            	{{::translate.load('sbi.cockpit.table.overrideheader')}}
					            	<md-tooltip md-delay="500">{{::translate.load('sbi.cockpit.table.overrideheader.tooltip')}}</md-tooltip>
					          	</md-checkbox>
							</div>
							
							<div layout="row">
								<md-input-container class="md-block" flex>
									<label>{{::translate.load("sbi.cockpit.table.fontsize")}}</label>
									<input ng-model="selectedColumn.style['font-size']" type="text"/>
									<div class="hint">{{::translate.load('sbi.cockpit.style.fontSize.hint')}}</div>
								</md-input-container>
								<md-input-container class="md-block" flex>
									<label>{{::translate.load("sbi.cockpit.style.font.family")}}</label>
									<md-select ng-model="selectedColumn.style['font-family']">
										<md-option ng-repeat="fs in cockpitModule_generalOptions.fontFamily" ng-value="fs.value"><span ng-style="{'font-family':fs.value}">{{fs.label}}</span></md-option>
									</md-select>
								</md-input-container>
								<md-input-container class="md-block" flex>
									<label>{{::translate.load("sbi.cockpit.style.font.style")}}</label>
									<md-select ng-model="selectedColumn.style['font-style']">
										<md-option ng-repeat="fst in cockpitModule_generalOptions.fontStyle" ng-value="fst.value"><span ng-style="{'font-style':fst.value}">{{fst.label}}</span></md-option>
									</md-select>
								</md-input-container>
								<md-input-container class="md-block" flex>
									<label>{{::translate.load('sbi.cockpit.table.fontweight')}}</label>
									<md-select ng-model="selectedColumn.style['font-weight']">
										<md-option ng-repeat="fw in cockpitModule_generalOptions.fontWeight" ng-value="fw.value"><span ng-style="{'font-weight':fw.value}">{{fw.label}}</span></md-option>
									</md-select>
								</md-input-container>
							</div>

						</md-card-content>
					</md-card>
					
					<md-card ng-if="needsTooltip">
						<md-toolbar class="ternaryToolbar" >
							<div class="md-toolbar-tools" layout="row">
								<md-switch ng-model="selectedColumn.hideTooltip">{{::translate.load('sbi.cockpit.table.hidetooltip')}}</md-switch>
							</div>
						</md-toolbar>
						<md-card-content layout="column">
							<div layout="row" layout-align="start center">
								<md-input-container flex class="md-block" class="small counter">
									<label> {{::translate.load('sbi.cockpit.style.prefix')}}</label>
									<input class="input_class" ng-trim="false" ng-model="selectedColumn.style.tooltip.prefix"> 
								</md-input-container>
								<md-input-container flex class="md-block" class="small counter">
									<label>{{::translate.load('sbi.cockpit.style.suffix')}}</label>
									<input class="input_class" ng-trim="false" ng-model="selectedColumn.style.tooltip.suffix"> 
								</md-input-container>
								<md-input-container flex class="md-block" class="small counter" ng-if="hasPrecision(selectedColumn)">
									<label>{{::translate.load('sbi.cockpit.style.precision')}}</label>
									<input class="input_class" type="number" ng-model="selectedColumn.style.tooltip.precision" min="0"> 
								</md-input-container>
							</div>
							<div layout="row" layout-align="start center">
								<md-checkbox class="noMargin" ng-model="selectedColumn.style.enableCustomHeaderTooltip" aria-label="use custom header tooltip" layout="row" layout-align="start center">
					            	{{::translate.load('sbi.cockpit.table.customHeaderTooltip')}}
					            	<md-tooltip md-delay="500">{{::translate.load('sbi.cockpit.table.customHeaderTooltip')}}</md-tooltip>
					          	</md-checkbox>
								<md-input-container flex style="margin-left: 8px" class="md-block">
									<label> {{::translate.load('sbi.cockpit.table.customHeaderTooltip.text')}}</label>
									<textarea ng-model="selectedColumn.style.customHeaderTooltip" rows="2" ng-disabled="!selectedColumn.style.enableCustomHeaderTooltip"></textarea>
									<div class="hint">{{::translate.load('sbi.cockpit.table.customHeaderTooltip.hint')}}</div>
								</md-input-container>
							</div>
						</md-card-content>
					</md-card>
						
			      </div>
	    		</div>
	    		<icon-manager ng-if="tempVar" flex="20" selected-icon="currentRange.icon" on-selection="setIcon(icon)" ></icon-manager>
	    </md-dialog-content>
	   
	    <md-dialog-actions layout="row">
	      <span flex></span>
	      <md-button class="md-raised" ng-click="cancelcolumnStyleConfiguration()" >
	        {{::translate.load('sbi.generic.cancel')}}
	      </md-button>
	      <md-button class="md-raised md-primary" ng-click="saveColumnStyleConfiguration()" ng-disabled="checkIfDisable()" >
	        {{::translate.load('sbi.generic.save')}}
	      </md-button>
	    </md-dialog-actions>
		 
	 </md-dialog>
 </div>