{
    chart: {
    	##type: '$chart.type.toLowerCase()'
        ##type: 'bar'
        type: 'column'
    },
    title: {
        ##text: 'Historic World Population by Region'
        text: '$chart.TITLE.text'
    },
    subtitle: {
        ##text: 'Source: Wikipedia.org'
        text: '$chart.SUBTITLE.text'
    },
    legend: {
        ##layout: 'vertical',
        ##align: 'right',
        ##verticalAlign: 'top',
        ##x: -40,
        ##y: 100,
        ##floating: true,
        ##borderWidth: 1,
        ##backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
        ##shadow: true
        layout: '$chart.LEGEND.layout',
        align: '$chart.LEGEND.position',
        verticalAlign: 'top',
        x: $chart.LEGEND.x,
        y: $chart.LEGEND.y,
        floating: $chart.LEGEND.floating,
        borderWidth: $chart.LEGEND.style.borderWidth,
        ##backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '$chart.LEGEND.style.backgroundColor'),
        backgroundColor: '$chart.LEGEND.style.backgroundColor',
        shadow: true,
        itemStyle: { 
        	"color": "$chart.LEGEND.style.color", 
        	##"cursor": "pointer", 
        	"fontSize": "$chart.LEGEND.style.fontSize", 
        	"fontWeight": "$chart.LEGEND.style.fontWeight" 
        }
    },
    xAxis: {
        categories: ['Africa', 'America', 'Asia', 'Europe', 'Oceania'],
        title: {
            text: null
        }
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Population (millions)',
            align: 'high'
        },
        labels: {
            overflow: 'justify'
        }
    },
    tooltip: {
    	##valueSuffix: ' millions'
        valuePrefix: 'Euro '
    },
    plotOptions: {
        bar: {
            dataLabels: {
                enabled: true
            }
        }
    },
    credits: {
        enabled: false
    },
    series: [{
        name: 'Year 1800',
        data: [107, 31, 635, 203, 2]
    }, {
        name: 'Year 1900',
        data: [133, 156, 947, 408, 6]
    }, {
        name: 'Year 2008',
        data: [973, 914, 4054, 732, 34]
    }]
}