#set($results = $data.rows)
#set($dataFields = $data.metaData.fields)

#set($categories = $chart.VALUES.CATEGORY)
#set($serie = $chart.VALUES.SERIE.name)

#set($dataColumnsMapper = {})

#foreach ($dataField in $dataFields) ## conversion column name to internal column name
	#if($dataField.class.name == 'java.util.LinkedHashMap')		
		#set($workAroundNoPrint = $dataColumnsMapper.put($dataField.header, $dataField.name))
	#end
#end

#set($columnsNeeded = {})

#set($columnCounter = 0)
		
#foreach($value in $categories)	

	#set($columnsNeeded[$columnCounter] = $value.column)
	#set($columnCounter = $columnCounter + 1)
#end
#set($crossNavigation = '')
#set($crossNavigation = $chart.DRILL)

{
	chart:
	{		
		type: '$chart.type',
		height: '$chart.height',
		width: '$chart.width',
		isCockpit: $chart.isCockpitEngine,
		#if($chart.isCockpitEngine=='true')
  		outcomingEventsEnabled: $chart.outcomingEventsEnabled,
  		#end
		style:
		{
			backgroundColor: '$chart.style.backgroundColor',
			fontSize: '$chart.style.fontSize',
			
			#if($chart.style.fontWeight == 'italic' || $chart.style.fontWeight == 'normal')
    			fontStyle: '$chart.style.fontWeight',
			#elseif($chart.style.fontWeight == 'underline')
    			textDecoration: '$chart.style.fontWeight',
			#elseif($chart.style.fontWeight == 'bold')		        			
    			fontWeight: '$chart.style.fontWeight',
    		#end
		}
		
		
	},
	
	## Axises selection
    #set($axisList = $chart.AXES_LIST.AXIS)

    #set($xAxisList = {}) ## X Axises list container
    #set($yAxisList = {}) ## Y Axises list container
    #set($xAxisPositions = {}) ## X Axises integer positions list, for series references
    #set($yAxisPositions = {}) ## Y Axises integer positions list, for series references
    #set($xAxisCounter = 0) 
    #set($yAxisCounter = 0) 
    
    #foreach($axis in $axisList)
	 	#if($axis.type == 'Category')
	 		#set($workAroundNoPrint = $xAxisList.put($axis.alias , $axis))
	 		#set($workAroundNoPrint = $xAxisPositions.put($axis.alias , $xAxisCounter))
	 		
	 		#set($xAxisCounter = $xAxisCounter + 1)
	 	#end
	 	
	 	#if($axis.type == 'Serie')
	 		#set($workAroundNoPrint = $yAxisList.put($axis.alias , $axis))
	 		#set($workAroundNoPrint = $yAxisPositions.put($axis.alias , $yAxisCounter))
 		
	 		#set($yAxisCounter = $yAxisCounter + 1)
	 	#end
	#end
	
	xAxis:
	 #foreach($xAxisKey in $xAxisList.keySet())
	 #set ($xAxis = $xAxisList[$xAxisKey])
	 {
		labels:{
				 
			 #if( $xAxis.style != '' ) 
        		        		
        		style:{
	        	#foreach($styleName in $xAxis.style.keySet())
	        		#set ($axisStyle = $xAxis.style[$styleName])
	        		#if ($styleName == 'fontWeight' && ($axisStyle == 'italic' || $axisStyle == 'normal'))
	        			fontStyle: '$axisStyle',
					#elseif($styleName == 'fontWeight' && $axisStyle == 'underline')
	        			textDecoration: 'underline',
					#elseif($styleName == 'align')
	        			#set($labelAlign=$axisStyle)
	        		#elseif($styleName == 'rotate')
	        			#set($rotation=$axisStyle)		        			
					#else		        			
	        			$styleName: '$axisStyle',
	        		#end
	        	#end
        		},  
        		
        	#end
		 },	 
			    
		 type: 'category',
	 },
	 #end
	
	yAxis: 
    ## START Serie add
	#foreach($yAxisKey in $yAxisList.keySet())
	#set ($yAxis = $yAxisList[$yAxisKey])        
    {
    	labels:{
    				 
			#if( $yAxis.style != '' )         		
        		style:{
	        	#foreach($styleName in $yAxis.style.keySet())
	        		#set ($axisStyle = $yAxis.style[$styleName])
	        		#if ($styleName == 'fontWeight' && ($axisStyle == 'italic' || $axisStyle == 'normal'))
	        			fontStyle: '$axisStyle',
					#elseif($styleName == 'fontWeight' && $axisStyle == 'underline')
	        			textDecoration: 'underline',
					#elseif($styleName == 'align')
	        			#set($labelAlign=$axisStyle)
	        		#elseif($styleName == 'rotate')
	        			#set($rotation=$axisStyle)		        			
					#else		        			
	        			$styleName: '$axisStyle',
	        		#end
	        	#end
        		}
        	#end
        	
	 	},
	 	
	 	type: 'serie'
    },
	#end
	## END Serie add
        
	
	title:
	{
		text: '$chart.TITLE.text',
		
		#*style:
		{
			align: '$chart.TITLE.style.align',
			color: '$chart.TITLE.style.color',
			fontWeight: '$chart.TITLE.style.fontWeight',
			fontSize: '$chart.TITLE.style.fontSize'
		}*#
		
		style:{
        #foreach($styleName in $chart.TITLE.style.keySet())
        	#set ($axisTitleStyle = $chart.TITLE.style[$styleName])
    		#if ($styleName == 'fontWeight' && ($axisTitleStyle == 'italic' || $axisTitleStyle == 'normal'))
    			fontStyle: '$axisTitleStyle',
			#elseif($styleName == 'fontWeight' && $axisTitleStyle == 'underline')
    			textDecoration: 'underline',
			#else		        			
    			$styleName: '$axisTitleStyle',
    		#end
		#end
	    }
	},
	
	subtitle:
	{
		text: '$chart.SUBTITLE.text',
		
		#*style:
		{
			align: '$chart.SUBTITLE.style.align',
			color: '$chart.SUBTITLE.style.color',
			fontWeight: '$chart.SUBTITLE.style.fontWeight',
			fontSize: '$chart.SUBTITLE.style.fontSize'
		}*#
		
		style:{
        #foreach($styleName in $chart.SUBTITLE.style.keySet())
        	#set ($axisSubtitleStyle = $chart.SUBTITLE.style[$styleName])
    		#if ($styleName == 'fontWeight' && ($axisSubtitleStyle == 'italic' || $axisSubtitleStyle == 'normal'))
    			fontStyle: '$axisSubtitleStyle',
			#elseif($styleName == 'fontWeight' && $axisSubtitleStyle == 'underline')
    			textDecoration: 'underline',
			#else		        			
    			$styleName: '$axisSubtitleStyle',
    		#end
		#end
		}
	},
		
	emptymessage:
	{
		text: '$chart.EMPTYMESSAGE.text',
		
		style:
		{
			align: '$chart.EMPTYMESSAGE.style.align',
			color: '$chart.EMPTYMESSAGE.style.color',
			fontWeight: '$chart.EMPTYMESSAGE.style.fontWeight',
			fontSize: '$chart.EMPTYMESSAGE.style.fontSize'
		}
	},
	
	colors: 
	[
		#*
 			If user specified more than one color from the color palette
 			on the Designer when creating the chart, then we have an array
 			list of elements. Otherwise, we are dealing with a hashmap.
 			
 			In the first case, create an array of colors. In the second 
 			case take the only color user specified and put it as the only
 			element of the array that we are now creating.
 			
 			@modifiedBy: danristo (danilo.ristovski@mht.net)
 		*#	
 			
		#*#if ($chart.COLORPALETTE.COLOR.class.name == 'java.util.ArrayList')
			#foreach($color in $chart.COLORPALETTE.COLOR)
				'$color.get('value')',			
			#end			
		#else
			'$chart.COLORPALETTE.COLOR.value'
		#end	*#
		
		#*
			If user specifies at least 2 colors (class name of the structure that hold data
			about colors picked in the color palette of the Designer will in this case be
			LinkedList, instead of LinkedHashMap as in other case - just one element) go 
			into the if-statement. If there are no picked color or there is just one, go
			into the else-statement.
			@author: danristo (danilo.ristovski@mht.net)
		*#
 		
 		#if ($chart.COLORPALETTE.COLOR && $chart.COLORPALETTE.COLOR.class.name != 'java.util.LinkedHashMap') 
			
			#foreach($color in $chart.COLORPALETTE.COLOR)
				'$color.value', 
			#end	
					
		#else		
			
			#*
				If user does not specify any color inside the color palette the chart
				will take predefined value for the color (#000000) (else-case).	Otherwise, 
				we will take the single value specified in the palette (if-case).
				@author: danristo (danilo.ristovski@mht.net)
			*#
			
			#if ($chart.COLORPALETTE.COLOR)
				'$chart.COLORPALETTE.COLOR.value'
			#else
				'#518BC6'
			#end
			
		#end
    ],	
    
    tooltip:
 	{
		fontFamily: '$chart.TOOLTIP.style.fontFamily',
		fontSize: '$chart.TOOLTIP.style.fontSize',
		border: '$chart.TOOLTIP.style.border',
	 	borderRadius: '$chart.TOOLTIP.style.borderRadius'
 	},
	crossNavigation:
	{
	   #if($crossNavigation != '') 
						crossNavigationDocumentName: '$crossNavigation.document',
						crossNavigationDocumentParams: [
							## if single PARAM node, not array
							#if($crossNavigation.PARAM_LIST.PARAM.class.name == "java.util.LinkedHashMap")
								#set($param = $crossNavigation.PARAM_LIST.PARAM)
								{ name: '$param.name', urlName:'$param.parameterUrlName', type: '$param.type', value: '$param.value' }
							#else
								##Array of parameters
								
								#foreach($param in $crossNavigation.PARAM_LIST.PARAM)
								{ name: '$param.name', urlName:'$param.parameterUrlName', type: '$param.type', value: '$param.value' },
								#end
							#end
						],
						#end
	},
	
	data:
	[
		$datasettransformer.toMatrix($results,$columnsNeeded,$serie,$dataColumnsMapper)
	]

}