#set($category = $chart.VALUES.CATEGORY)

#set($dataRows = $data.rows)
#set($dataFields = $data.metaData.fields) ## columns of data table
#set($dataColumnsMapper = {})

#foreach ($dataField in $dataFields) ## conversion column name to internal column name
 #if($dataField.class.name == 'java.util.LinkedHashMap')
  #set($workAroundNoPrint = $dataColumnsMapper.put($dataField.header, $dataField.name))
 #end
#end

#*  
 For Java class of dataset transformer we need '$dataRows' (raw JSON dataset),
 '$columnsNeeded' (name of the columns for sequence) and $$dataColumnsMapper (metadata)
*#

#set($columnsNeeded = {})

#set($columnCounter = 0)

#if(!$category.column)
	#foreach($value in $category) 
		 #set($columnsNeeded[$columnCounter] = $value.column)
		 #set($columnCounter = $columnCounter + 1)
	#end
#else
	#set($columnsNeeded[0] = $category.column)
#end

#set($serieName = $chart.VALUES.SERIE.name)

#set($groupingFunction = $chart.VALUES.SERIE.groupingFunction)

#set($sizeCriteria = $chart.sizeCriteria)

#set($result = $datasettransformer.toWordcloud($columnsNeeded,$dataColumnsMapper,$dataRows,$serieName, $sizeCriteria, $groupingFunction))

#set($crossNavigation = '')
#set($crossNavigation = $chart.DRILL)

{
 	chart: 
 	{
  		type: '$chart.type',
  		
  		#if($chart.height != '')
        	height: $chart.height,
        #end
        
        #*
    		Dimension type (pixels or percentage) parameter for height of the chart
    		is provided. 
    		
    		NOTE: The same goes for the width of the chart (parameter 'widthDimType').
    				
    		@author Danilo Ristovski (danristo, danilo.ristovski@mht.net)
    	*#
     	#if($chart.heightDimType)
       	 	heightDimType: '$chart.heightDimType',
        #end
        
        #if($chart.width != '')
    		width: $chart.width,
    	#end
    	
    	#if($chart.widthDimType)
        	widthDimType: '$chart.widthDimType',
        #end
		
  		sizeCriteria: '$chart.sizeCriteria',
  		wordLayout: '$chart.wordLayout',
  		maxAngle: $chart.maxAngle,
  		minAngle: $chart.minAngle,
  		maxFontSize: $chart.maxFontSize,
  		minFontSize: $chart.minFontSize,
  		wordPadding: $chart.wordPadding,
  		maxWords: $chart.maxWords,
  		isCockpit: $chart.isCockpitEngine, 
  		#if($chart.isCockpitEngine=='true')
  		outcomingEventsEnabled: $chart.outcomingEventsEnabled,
  		#end
  		style:
  		{
  			fontFamily: '$chart.style.fontFamily',
	  		backgroundColor: '$chart.style.backgroundColor',	  		
            fontSize:'$chart.style.fontSize',					
			#if($chart.style.fontWeight == 'italic' || $chart.style.fontWeight == 'normal')
    			fontStyle: '$chart.style.fontWeight',
			#elseif($chart.style.fontWeight == 'underline')
    			textDecoration: '$chart.style.fontWeight',
			#elseif($chart.style.fontWeight == 'bold')		        			
    			fontWeight: '$chart.style.fontWeight',
    		#end
  		}  		
 	},
 
 	## Same as for the Sunburst chart
 	emptymessage:
	{
		text: '$chart.EMPTYMESSAGE.text',		
		
		style:
		{
			align: '$chart.EMPTYMESSAGE.style.align',
			fontFamily: '$chart.EMPTYMESSAGE.style.fontFamily',		
			fontSize: '$chart.EMPTYMESSAGE.style.fontSize',
			color: '$chart.EMPTYMESSAGE.style.color',
					
			#if($chart.EMPTYMESSAGE.style.fontWeight == 'italic' || $chart.EMPTYMESSAGE.style.fontWeight == 'normal')
    			fontStyle: '$chart.EMPTYMESSAGE.style.fontWeight',
			#elseif($chart.EMPTYMESSAGE.style.fontWeight == 'underline')
    			textDecoration: '$chart.EMPTYMESSAGE.style.fontWeight',
			#elseif($chart.EMPTYMESSAGE.style.fontWeight == 'bold')		        			
    			fontWeight: '$chart.EMPTYMESSAGE.style.fontWeight',
    		#end
		}
	},
	
	title:
	{
		text: '$chart.TITLE.text',		
		
		style:
		{
			fontFamily: '$chart.TITLE.style.fontFamily',
			fontSize: '$chart.TITLE.style.fontSize',
			color: '$chart.TITLE.style.color',
			align: '$chart.TITLE.style.align',
					
			#if($chart.TITLE.style.fontWeight == 'italic' || $chart.TITLE.style.fontWeight == 'normal')
    			fontStyle: '$chart.TITLE.style.fontWeight',
			#elseif($chart.TITLE.style.fontWeight == 'underline')
    			textDecoration: '$chart.TITLE.style.fontWeight',
			#elseif($chart.TITLE.style.fontWeight == 'bold')		        			
    			fontWeight: '$chart.TITLE.style.fontWeight',
    		#end
		}
	},

	subtitle:
	{
		text: '$chart.SUBTITLE.text',		
		
		style:
		{
			fontFamily: '$chart.SUBTITLE.style.fontFamily',
			fontSize: '$chart.SUBTITLE.style.fontSize',
			color: '$chart.SUBTITLE.style.color',
			align: '$chart.SUBTITLE.style.align',
					
			#if($chart.SUBTITLE.style.fontWeight == 'italic' || $chart.SUBTITLE.style.fontWeight == 'normal')
    			fontStyle: '$chart.SUBTITLE.style.fontWeight',
			#elseif($chart.SUBTITLE.style.fontWeight == 'underline')
    			textDecoration: '$chart.SUBTITLE.style.fontWeight',
			#elseif($chart.SUBTITLE.style.fontWeight == 'bold')		        			
    			fontWeight: '$chart.SUBTITLE.style.fontWeight',
    		#end
		}
	},
	
	tooltip:
	{
       precision : '$chart.WORDCLOUD_TOOLTIP.precision',
	   prefix: '$chart.WORDCLOUD_TOOLTIP.prefix',
	   postfix: '$chart.WORDCLOUD_TOOLTIP.postfix',
	   backgroundColor:'$chart.WORDCLOUD_TOOLTIP.backgroundColor',
	   fontFamily:'$chart.WORDCLOUD_TOOLTIP.style.fontFamily',
	   fontSize:'$chart.WORDCLOUD_TOOLTIP.style.fontSize',
	   align:'$chart.WORDCLOUD_TOOLTIP.style.align',
	   fontColor:'$chart.WORDCLOUD_TOOLTIP.style.color',
	   #if($chart.WORDCLOUD_TOOLTIP.style.fontWeight == 'italic' || $chart.WORDCLOUD_TOOLTIP.style.fontWeight == 'normal')
    			fontStyle: '$chart.WORDCLOUD_TOOLTIP.style.fontWeight',
			#elseif($chart.WORDCLOUD_TOOLTIP.style.fontWeight == 'underline')
    			textDecoration: '$chart.WORDCLOUD_TOOLTIP.style.fontWeight',
			#elseif($chart.WORDCLOUD_TOOLTIP.style.fontWeight == 'bold')		        			
    			fontWeight: '$chart.WORDCLOUD_TOOLTIP.style.fontWeight',
    		#end  
    	borderWidth:'$chart.WORDCLOUD_TOOLTIP.borderWidth',
    	borderRadius:'$chart.WORDCLOUD_TOOLTIP.borderRadius'	
	},
	
    crossNavigation:
    {
    #if($crossNavigation != '') 
						crossNavigationDocumentName: '$crossNavigation.document',
						crossNavigationDocumentParams: [
							## if single PARAM node, not array
							#if($crossNavigation.PARAM_LIST.PARAM.class.name == "java.util.LinkedHashMap")
								#set($param = $crossNavigation.PARAM_LIST.PARAM)
								{ name: '$param.name', urlName:'$param.parameterUrlName', type: '$param.type', value: '$param.value' }
							#else
								##Array of parameters
								
								#foreach($param in $crossNavigation.PARAM_LIST.PARAM)
								{ name: '$param.name', urlName:'$param.parameterUrlName', type: '$param.type', value: '$param.value' },
								#end
							#end
						],
						#end
    },
 	data:
 	[
  		$result
 	]
}