<md-dialog class="kn-rank-dialog" flex-30  ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{translate.load("sbi.execution.executionpage.toolbar.rating")}}</h2>
        <span flex></span>
      </div>
    </md-toolbar>
    <md-dialog-content class="layout-padding">
		<div class="lastScore" ng-if="rankDocumentSaved>0">
			<h4>{{translate.load("sbi.execution.executionpage.toolbar.rating.presentrank")}}...</h4>
			<span ng-if="1<=rankDocumentSaved"><i class="fa fa-star"></i></span>
			<span ng-if="2<=rankDocumentSaved"><i class="fa fa-star"></i></span>
			<span ng-if="3<=rankDocumentSaved"><i class="fa fa-star"></i></span>
			<span ng-if="4<=rankDocumentSaved"><i class="fa fa-star"></i></span>
			<span ng-if="5<=rankDocumentSaved"><i class="fa fa-star"></i></span>
		</div>
		
		<div class="lastScore" ng-if="rankDocumentSaved==0">
			<h4>{{translate.load("sbi.execution.executionpage.toolbar.rating.firstvote")}}</h4>
		</div> 
		<div class="well" >
			<h4>{{translate.load("sbi.execution.executionpage.toolbar.rating.vote")}}</h4>
			<span class="rating">
			<span id="star1"ng-click="rateScore(1)" ng-mouseover="hoverStar(1)" ng-mouseleave="leaveStar(1)"><i class="fa fa-star-o"></i></span>
			<span id="star2" ng-click="rateScore(2)" ng-mouseover="hoverStar(2)" ng-mouseleave="leaveStar(2)"><i class="fa fa-star-o"></i></span>
			<span id="star3" ng-click="rateScore(3)" ng-mouseover="hoverStar(3)" ng-mouseleave="leaveStar(3)"><i class="fa fa-star-o"></i></span>
			<span id="star4" ng-click="rateScore(4)" ng-mouseover="hoverStar(4)" ng-mouseleave="leaveStar(4)"><i class="fa fa-star-o"></i></span>
			<span id="star5" ng-click="rateScore(5)" ng-mouseover="hoverStar(5)" ng-mouseleave="leaveStar(5)"><i class="fa fa-star-o"></i></span>
			</span>
		</div>
    </md-dialog-content>
    <div class="md-actions" layout="row">
      <span flex></span>
        <md-button class="md-secondary md-raised" ng-click="close()">{{translate.load("sbi.general.close")}}</md-button>
      	<md-button class="md-primary md-raised" ng-click="saveRank()">{{translate.load("sbi.execution.executionpage.toolbar.rating.submit")}}</md-button>
    </div>
</md-dialog>
