<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
	<Appenders>
                <RollingFile
                                name="KNOWAGE_KPI_ENGINE"
                                append="true"
                                filePattern="${sys:catalina.base}/logs/$${ctx:tenant:-default}/knowageKpiEngine.%d{yyyy-MM-dd}.log"
                                ignoreExceptions="true"
                                createOnDemand="true">
                        <PatternLayout>
                                <Pattern>%d{ISO8601_OFFSET_DATE_TIME_HHCMM} [%u{RANDOM}] %5p [%t] [%c.%M:%L] [%X{correlationId}/%X{jSessionId}] [%X{environment}] [%X{tenant}]%n%message%n%xThrowable</Pattern>
                        </PatternLayout>
                        <Policies>
                                <TimeBasedTriggeringPolicy />
                        </Policies>
                        <DirectWriteRolloverStrategy/>
                </RollingFile>

	</Appenders>
	<Loggers>
		<logger name="edu.yale" additivity="false" level="error">
			<AppenderRef ref="KNOWAGE_KPI_ENGINE" />
		</logger>
		<logger name="it.eng.knowage" additivity="false" level="error">
			<AppenderRef ref="KNOWAGE_KPI_ENGINE" />
		</logger>
		<logger name="it.eng.spagobi" additivity="false" level="error">
			<AppenderRef ref="KNOWAGE_KPI_ENGINE" />
		</logger>
		<logger name="it.eng.spagobi.commons.utilities.messages" additivity="false" level="error">
			<AppenderRef ref="KNOWAGE_KPI_ENGINE" />
		</logger>
		<logger name="it.eng.spagobi.commons.utilities.urls.WebUrlBuilder" additivity="false" level="error">
			<AppenderRef ref="KNOWAGE_KPI_ENGINE" />
		</logger>
		<Root level="error">
			<AppenderRef ref="KNOWAGE_KPI_ENGINE" />
		</Root>
	</Loggers>
</Configuration>