@CHARSET "ISO-8859-1";

.associations-container{
	border: 2px solid #3B668C;
	border-radius: 25px;
}

.miniheadimportexport {
/*  position: absolute !important; */
  	background-color: #3B668C !important;
	color: white !important;	
}

.miniheadassociations{
	border-radius: 20px 20px 0px 0px;
	background-color: #FFF !important;
	color: #3B668C !important;
	margin-top : -1px; 
	min-height: 0px;
	height: 35px;
}

md-toolbar.miniheadimexsmall {
	background-color: #3B668C;
	color: #000000255255255;
	height: 35px;
	min-height: 0px;
}

.miniheadimexsmall{
	background-color: #3B668C !important;
	color: white !important;
	height: 35px;
}

.listBackground{
	background-color: rgb(232, 232, 232) !important;
}

.createRelationButton {
	background-color: 0094FF!important;
	position
}

md-list-item.md-list-item-inner.relation {
	height: 35px;
	min-meight: 0px;
}
editedRelationButton {
	backgtound-color: #009688 !important;
}

.docs {
	text-align:left;
}

.docs-list {
	text-transform: none;
	font-weight: normal;
}

.selected-doc {
	background-color: #E8EAF6;
}

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* border of document list view */
.doc-list-border {
	border-left:  1px solid rgba(0, 0, 0, 0.12);
	border-bottom:  1px solid rgba(0, 0, 0, 0.12);
}

.toolbar-button-custom {
	min-width: 50px;
	width: 50px;
}

/* to remove border on selection*/
.customTreeNode {
	outline: none;
    border: 0;
}

.md-fab.md-fab-mini {
	width: 35px;
	height: 30px;
	background-color : #FAFAFA;
}

md-icon.center-ico{
	margin-left: -0.1rem;
	margin-top: 0.6rem;
}

md-checkbox.little-check {
  font-size: 12px;
  	
}

md-dialog {
    max-width: 95%;
    max-height: 90%;
    min-width: 70%;
    min-height: 60%;
}

.md-button.md-fab md-icon{
	color: #000;
}

.little-check .md-container .md-icon {

}