/* 
The x-grid3-header-offset style override fixes a bug in the Ext.grid.GridPanel: without fixing a 
width of the GridPanel, the first column takes all the page width in IE 
(in FF it works fine).
See 
http://extjs.com/forum/showthread.php?t=30613
http://extjs.com/forum/showthread.php?p=282928#post282928
 */
.x-grid3-header-offset {width: auto;}


.x-date-middle {
    padding-top:2px;
    padding-bottom:2px;
    width:130px; /* FF3 */
}

.x-date-menu{
	padding:0!important;
	width:200px; /* IE */
}

/* fixes the alignment problem in grid panels on FF */
.x-grid3 table {
    table-layout:fixed;
}