<div layout="row">
	<md-toolbar flex=5 class='md-toolbar-tools knowage-blue'>
		&nbsp;
	</md-toolbar>
	<md-toolbar class='md-toolbar-tools knowage-blue dimension-top-toolbar'>
		<md-button class="dimension-top">Measure <icon class="fa fa-filter"/></md-button>
	</md-toolbar>
</div>

<div class="central-panel" layout="row" >
	<div style="width:32px;" class='knowage-blue dimension-left-toolbar'>
		<div layout="column">
			<md-button class="dimension-left" >Product <icon class="fa fa-filter"/></md-button>

			<md-button class="dimension-left" >Product1 <icon class="fa fa-filter"/></md-button>

			<md-button class="dimension-left" >Product2 <icon class="fa fa-filter"/></md-button>
		</div>	
	</div>
	<div ng-bind-html="table">
		
	</div>
</div>