<md-dialog style='height:75%; width:30%;' layout="column">
	
	<md-toolbar class="primaryToolbar">
		<div class="md-toolbar-tools">
			<h2>{{translate.load("sbi.olap.toolbar.versionmanagerwindow.version.title")}}</h2>
		</div>
	</md-toolbar>
	<md-content class="dialog-style" style="height:90%">
		<table class="kn-table">
			<thead>
				<tr>
					<th></th>
					<th>Id</th>
					<th>name</th>
					<th>description</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="version in outputVersions">
					<td>
						<md-checkbox ng-model="version.selected"></md-checkbox>
					</td>
					<td>{{version.id}}</td>
					<td>{{version.name}}</td>
					<td>{{version.description}}</td>
				</tr>
			</tbody>
		</table>
	</md-content>
	<md-dialog-actions layout="row">
			
			<md-button class="md-raised md-secondary" ng-click="closeDialogToolbarRight()">
				Cancel
			</md-button>
			<md-button class="md-raised md-primary" ng-click="deleteVersions()">
				Delete
			</md-button>
		</md-dialog-actions>
</md-dialog>