<md-dialog style='height:45%; width:40%;' layout="column">
	
	<md-toolbar class="primaryToolbar">
		<div class="md-toolbar-tools">
			<h2>{{translate.load("sbi.olap.toolbar.export.wizard.title")}}</h2>
		</div>
	</md-toolbar>
	<md-dialog-content layout-padding class="olapDialogContent">
		{{translate.load("sbi.olap.toolbar.save.as.description")}}
		<br/>
		<label>{{translate.load("sbi.olap.toolbar.save.as.version.name")}}</label>
		<input ng-model="saveAsName" required="Name is required" ng-required="true" style="margin:10px"/>
		<br/>
		<label>{{translate.load("sbi.olap.toolbar.save.as.version.description")}}</label>
		<textarea  ng-model="saveAsDescription">
		</textarea>
	</md-content>
	
	<md-dialog-actions layout="row">
		<md-button ng-click="closeDialogToolbarRight()">
			Cancel
		</md-button>
		<md-button ng-click="saveAsFunction()">
			Save
		</md-button>
	</md-dialog-actions>
	
</md-dialog>