<md-dialog layout="column">
	
	<md-toolbar class="primaryToolbar">
		<div class="md-toolbar-tools">
			<h2>Sorting settings</h2>
		</div>
	</md-toolbar>
	
	<md-dialog-content style="min-height: 200px;min-width: 200px;">
		<div layout-padding>
			<md-radio-group ng-model="selectedSortingMode">
	      		<md-radio-button ng-repeat="d in sortingModes" ng-value="d.value" aria-label="{{d.label}}">
	         		{{d.label}}
	  			</md-radio-button>
	  			<input type="number" name="count" ng-model="sortingCount" min="1" required ng-show="selectedSortingMode == 'count'">
	    	</md-radio-group>
    	</div>
	</md-dialog-content>
	
	<md-dialog-actions layout="row">
		<md-button class="md-raised md-primary" ng-click="saveSortingSettings()">
			Save
		</md-button>
	</md-dialog-actions>
	
</md-dialog>