<md-dialog layout="column" ng-dragg=true>
	
	<md-toolbar class="primaryToolbar">
		<div class="md-toolbar-tools">
			<h2>Set Value Formula</h2>
		</div>
	</md-toolbar>
	
	<md-dialog-content class="olapDialogContent">
		<textarea ng-model='cellValue' md-autofocus layout-fill></textarea>
	</md-dialog-content>
	
	<md-dialog-actions layout="row">
		<md-button class="md-raised" ng-click="closeFormulaDialog()">
			Cancel
		</md-button>
		<md-button class="md-raised md-primary" ng-click="sendFormula()">
			Save
		</md-button>
	</md-dialog-actions>
	
</md-dialog>