 <md-card> 
	 <md-card-content layout="row" layout-wrap>
		<md-input-container class="md-block" flex=50>
			<label>Font-size</label>
			<md-select ng-model="ngModel.size">
				<md-option ng-repeat="px in measure" value="{{px}}">{{px}}</md-option>
			</md-select>
		</md-input-container>
		
		<md-input-container class="md-block" flex=50>
			<label>{{translate.load("sbi.kpistyle.fontf")}}</label>
			<md-select ng-model="ngModel.fontFamily">
				<md-option ng-repeat="font in fontFamily" value="{{font}}">{{font}}</md-option>
			</md-select>
		</md-input-container>
		
		<md-input-container class="md-block" flex=50>
			<label>{{translate.load("sbi.kpistyle.fontw")}}</label>
			<md-select ng-model="ngModel.fontWeight">
				<md-option ng-repeat="fontW in fontWeight" value="{{fontW}}">{{fontW}}</md-option>
			</md-select>
		</md-input-container>
		
		<md-input-container class="md-block colorpickerInput" flex=50 style="display:block !important;">
			<label>{{translate.load("sbi.kpistyle.color")}}</label>
			<color-picker color-picker-swatch="true" color-picker-format="'rgb'" ng-model="ngModel.color" width="100%"></color-picker>
		</md-input-container>
		
	 </md-card-content>
 </md-card>
 