<md-tabs class="cockpitSheetTabs" md-align-tabs="bottom" flex md-selected="cockpitModule_properties.CURRENT_SHEET" md-autoselect>
	<md-tab    ng-repeat="sheet in cockpitModule_template.sheets" >
		<md-tab-label>
			<span ng-if="hide!=true" class="sheetPageButton-{{$index}}">{{sheet.label}}</span>
			 <md-button class="md-icon-button openSheetMenuIconButton"  ng-click="showMenu(sheet,$event,$index);$event.stopPropagation();" aria-label="Settings">
				<md-icon md-font-icon="fa fa-sort-desc" ></md-icon>
			 </md-button>
		</md-tab-label>
		<md-tab-body>
			<cockpit-grid flex ng-style="cockpitModule_template.style.background" >
				<cockpit-widget ng-model="prop" ng-repeat="prop in sheet.widgets"  >
				</cockpit-widget>
			</cockpit-grid>
		</md-tab-body>
	</md-tab>
</md-tabs>

<md-button  md-tab-fixed-add-sheet-button class="addSheetTabButton " aria-label="add sheet"  ng-click="addSheet();">
	<md-icon md-font-icon="fa fa-plus"></md-icon>
</md-button> 

<script type="text/ng-template" id="sheetContextMenu.html">
<md-list>
	 <md-list-item ng-click="ctrl.deleteSheet($event)">{{ctrl.translate.load("sbi.generic.delete")}}</md-list-item>
	 <md-list-item ng-click="ctrl.renameSheet($event)">{{ctrl.translate.load("sbi.generic.rename")}}</md-list-item>
</md-list>
</script>
