<md-tab-content class="knowage-grey-color" layout="column">
<div layout="row" md-content layout-padding flex>
	<div layout="column" flex=40 style="padding:0 8 0 0">  
		
			<md-toolbar class="secondaryToolbar">
				<div class="md-toolbar-tools">
					<h2>
						<span>{{translate.load("sbi.chartengine.designer.configurationTab.title")}}</span>
					</h2>
					<span flex></span>				   		
				</div>		      
			</md-toolbar>
			
			<md-whiteframe flex class="md-whiteframe-4dp whiteframe-element" style="overflow:auto">
		
			<div style="margin: 16 16 0 16">
			
			<md-grid-list style="margin-top:16px;"md-cols-gt-md="4" md-cols-md="2" md-cols-sm="1" md-gutter="16px" md-row-height="1:1">
					    <md-grid-tile ng-repeat="button in configurationForDisplay" style="background-color:#3b678c;" ng-click="openConfigurationDetails(button.name)">
					    	<p style="color:white">{{button.name}}</p>
					    </md-grid-tile>
			</md-grid-list>
			
			</div>

				
			
			</md-whiteframe>
			
		</div>

	<div layout="column" flex=30 style="padding:0 8 0 0">  
		
			<md-toolbar class="secondaryToolbar">
				<div class="md-toolbar-tools">
					<h2>
						<span>{{selectedConfigurationButton+" "+translate.load("sbi.chartengine.designer.tabs.details.title")}}</span>
					</h2>
					<span flex></span>				   		
				</div>		      
			</md-toolbar>
			
			<md-whiteframe flex class="md-whiteframe-4dp whiteframe-element" style="overflow:auto">	
			<div id="generic" ng-show="selectedConfigurationButton == 'Generic'">
				<md-content flex layout="column">
				
				<div layout="row" flex layout-margin> 
					<md-input-container class="md-block" flex=80>
        				<label>Height:</label>
        				<input type="number" step="any" name="height" ng-model="chartTemplate.height" min="0"/>
        			</md-input-container>
        			
        			<md-input-container  class="md-block" flex=20 >	
						<md-select  ng-model="chartTemplate.heightDimType">
							<md-option ng-repeat="option in dimensionMeasureType" value="{{option.value}}">{{option.name}}</md-option>	
						</md-select>
					</md-input-container>
        			
				</div>
				
				<div layout="row" flex layout-margin> 
					<md-input-container class="md-block" flex=80>
        				<label>Width:</label>
        				<input type="number" step="any" name="width" ng-model="chartTemplate.width" min="0"/>
        			</md-input-container>
        			
        			<md-input-container  class="md-block" flex=20 >	
						<md-select  ng-model="chartTemplate.widthDimType">
							<md-option ng-repeat="option in dimensionMeasureType" value="{{option.value}}">{{option.name}}</md-option>	
						</md-select>
					</md-input-container>
        			
				</div>
				
				<div layout="row" flex layout-margin ng-show="selectedChartType == 'bar'"> 
				
        			<md-input-container  class="md-block" flex>
        				<label>Orientation:</label>	
						<md-select  ng-model="chartTemplate.orientation">
							<md-option ng-repeat="option in orientationType" value="{{option.value}}">{{option.name}}</md-option>	
						</md-select>
					</md-input-container>
        			
				</div>
				
				<div layout="row" flex layout-margin> 
				
        			<md-input-container  class="md-block" flex>
        				<label>Font family:</label>	
						<md-select  ng-model="fontObj.fontFamily">
							<md-option ng-repeat="option in fontFamilyOptions" value="{{option.value}}">{{option.name}}</md-option>	
						</md-select>
					</md-input-container>
        			
				</div>
				
				<div layout="row" flex layout-margin > 
				
        			<md-input-container  class="md-block" flex>
        				<label>Font size:</label>	
						<md-select  ng-model="fontObj.fontSize">
							<md-option ng-repeat="option in fontSizeOptions" value="{{option.value}}">{{option.name}}</md-option>	
						</md-select>
					</md-input-container>
        			
				</div>
				
				<div layout="row" flex layout-margin > 
				
        			<md-input-container  class="md-block" flex>
        				<label>Font style:</label>	
						<md-select  ng-model="fontObj.fontWeight">
							<md-option ng-repeat="option in fontStyleOptions" value="{{option.value}}">{{option.name}}</md-option>	
						</md-select>
					</md-input-container>
        			
				</div>
				
				<div layout="row" flex layout-margin > 
				
        			 <md-input-container class="md-block colorInputContainer" flex>
    				<label>Background color:</label>
      				<color-picker color-picker-swatch="true"  color-picker-format="'rgb'" ng-model="fontObj.backgroundColor"></color-picker>
      				</md-input-container>
        			
				</div>
				
				
				
				</md-content>
			</div>	
				
			
			</md-whiteframe>
			
		</div>
	<div layout="column" flex=30 style="padding:0 8 0 0">  
		
			<md-toolbar class="secondaryToolbar">
				<div class="md-toolbar-tools">
					<h2>
						<span>{{translate.load("sbi.chartengine.designer.tabs.preview.title")}}</span>
					</h2>
					<span flex></span>				   		
				</div>		      
			</md-toolbar>
			
			<md-whiteframe flex class="md-whiteframe-4dp whiteframe-element">
			
				
			
			</md-whiteframe>
			
		</div>	
	





</div>
</md-tab-content>