<div layout="row" flex layout-margin>

	<label>{{translate.load("sbi.chartengine.configuration.scatter.startOnTick")}}</label>
	<md-input-container class="small counter"> <md-checkbox
		ng-model="scaterAxis.startOnTick" aria-label="starttick"></md-checkbox>
	</md-input-container>
</div>

<div layout="row" flex layout-margin>

	<label>{{translate.load("sbi.chartengine.configuration.scatter.endOnTick")}}</label>
	<md-input-container class="small counter"> <md-checkbox
		ng-model="scaterAxis.endOnTick" aria-label="endtick"></md-checkbox>
	</md-input-container>
</div>

<div layout="row" flex layout-margin>

	<label>{{translate.load("sbi.chartengine.configuration.scatter.showLastLabel")}}</label>
	<md-input-container class="small counter"> <md-checkbox
		ng-model="scaterAxis.showLastLabel" aria-label="lastlabel"></md-checkbox>
	</md-input-container>
</div>