<md-card layout="column" class="flexCard">
 <md-card-content>
   <h2>{{translate.load("sbi.workspace.models.business.qbe.confirm.closing.title")}}</h2>
   <p>{{translate.load("sbi.workspace.models.business.qbe.confirm.closing")}}</p>
 </md-card-content>
 <md-card-actions layout="row" layout-align="end center">
   <md-button ng-click="ok()">{{translate.load("sbi.generic.close")}}</md-button>
   <md-button ng-click="cancel()">{{translate.load("sbi.generic.cancel")}}</md-button>
 </md-card-actions>
</md-card>