<md-dialog  flex style="height:60%; width:20%; max-height:100%; max-width:20%" ng-cloak>	
<md-content flex>
   	<md-toolbar>
   	
     <div class="md-toolbar-tools">
       <h2>{{translate.load('sbi.workspace.organizer.folder.move.title')}}</h2>
       <span flex></span>
       <md-button class="md-icon-button" ng-click="executeMovingDocument()">
         <md-icon class="fa fa-floppy-o fa-2x"></md-icon>
       </md-button>
       <md-button class="md-icon-button" ng-click="closeFolderTree()">
         <md-icon class="fa fa-times-circle-o fa-2x"></md-icon>
       </md-button>
     </div>   
   </md-toolbar>
         <md-content layout-margin layout-padding>
	     				<document-tree ng-model="foldersForTree" highlights-selected-item="true" multi-select="false" create-tree="true" selected-item="destFolder"  
	     					  keys="keys" ></document-tree>
		 </md-content>
   </md-content>
</md-dialog>