
<div context-menu data-target="WordTree-{{item.$$hashKey}}" ng-class="{ 'highlight': highlight, 'expanded' : expanded }">
	<div ng-if=" item.CONTENT_NM != undefined" class="nodo_logico dragged-icon">
		<div ui-tree-handle>
			<i class="fa fa-bars fa-2x"></i>
			<md-list>
				<md-list-item  class="SecondaryOnLeft" ng-click="ctrl.toggle(this,item,ctrl.selectedGloss)" ng-init="item.preloader=false"> 
			 		<p>{{item.CONTENT_NM}}</p>
					<md-icon ng-disabled="true" class="md-secondary sm-font-icon "
						aria-label="Chat" md-font-icon="fa fa-angle-down "
						style=" left: 0px;  margin: 3px 0px 0 17px!important;"
						ng-show="!collapsed">
					</md-icon>
					<md-icon ng-disabled="true"
						class=" sm-font-icon expandericon" aria-label="Chat2"
						md-font-icon="fa fa-angle-right " ng-show="collapsed">
					</md-icon> 
					<md-progress-circular
						md-diameter="20" ng-show="item.preloader" class="md-hue-2"
						style="  left: 50%;   margin-top: -14px; margin-left: -25px; position:absolute "
						md-mode="indeterminate">
					</md-progress-circular>
				 </md-list-item>
			</md-list>
		</div>
	</div>

	<div ng-if="item.WORD_ID!= undefined " class="figlio_vocabolo dragged-icon expander-icon ">
		<md-list class="noPadding"> 
		<md-list-item>
		<i class="  fa fa-bars fa-2x" ></i>
		<p style="margin-left: 30px;">{{item.WORD}}</p>
		</md-list-item> 
		</md-list>
	</div>
</div>
<!-- 					menu contestuale albero -->
<div class="dropdown position-fixed" style="z-index: 999; margin-left: calc(-25% - 20px); width: 200px;" id="WordTree-{{ item.$$hashKey }}">
	<md-list class="dropdown-menu bottomBorder" role="menu">
		<md-list-item ng-click='ctrl.newSubItem(this,item)' role="menuitem" tabindex="1" ng-if="!item.HAVE_WORD_CHILD && item.CONTENT_NM != undefined  ">
 		<p>{{translate.load("sbi.glossary.messages.add.child");}}</p>
    	</md-list-item>

 		<md-list-item ng-click='ctrl.createNewWord(false,this)' role="menuitem" tabindex="2" ng-if=" item.CONTENT_NM != undefined && !item.HAVE_CONTENTS_CHILD">
		<p>{{translate.load("sbi.glossary.messages.add.word");}}</p>
		</md-list-item>

		<md-list-item ng-click='ctrl.removeContents(this)' role="menuitem" tabindex="3">
		<p>{{translate.load("sbi.generic.delete");}}</p>
		</md-list-item>
	
		<md-list-item ng-click='ctrl.newSubItem(this,item,true)' role="menuitem" ng-if=" item.CONTENT_NM != undefined" tabindex="4">
		<p>{{translate.load("sbi.generic.modify");}}</p>
		</md-list-item> 
	</md-list>
</div>
<!-- 						fine menu contestuale albero -->
<ol ng-if=" item.CONTENT_NM != undefined"
	ng-init="item.CHILD=item.CHILD!=undefined?item.CHILD:[]"
	ui-tree-nodes="options" ng-model="item.CHILD"
	ng-class="{hideChildren: collapsed}">
	<li ng-repeat="item in item.CHILD" ui-tree-node data-collapsed="true"
		ng-include="'/athena/js/src/angular_1.4/tools/glossary/commons/templates/glossary_tree_items_renderer.html'"
		 class="figlioVisibile"></li>
	<li ng-repeat="n in [1]"   ui-tree-node class="addFiglioBox"></li>
</ol>