$baseColor: 		#3b678c;
$headerBackground: $baseColor;
$headerFontWeight: 600;
$lightTextColor:	white;		
$fabPrimaryColor: #c70751;
$fabTop: 10px;
$secondaryColor: #a9c3db;
$ternaryColor: #C4DCF3;
$inputLineColor: $baseColor;
$inactiveLabelColor: #a9c3db;
$activeLabelColor: $baseColor;
$tabFontWeight: $headerFontWeight;
$toolbarButtonColor: white;
$listBackground: #eceff1;
$listRightBorder: 2px solid gray;
$detailBackground: #f6f6f6;
$tabBackground: white;
$tabPadding: 8px;
$tableFontSize: 16px;
$tableLineSeparator: #c3d4df;
$tableSelectedElementColor: $secondaryColor;
$federatedDatasetBackground: #eceff1;
$raisedButtonTextColor: white;
$inputInvalidLineColor: #c70751;
$invalidLabelColor: $inputInvalidLineColor;
$importExportBackground: #eceff1;
$calendarHeaderBackground: $baseColor;
$calendarHeaderTextColor: white;
$bordersColor: $ternaryColor;
/* Fonts & Icons */
//------------------------

/* FONTS & ICONS */
$baseFontSize: 14px;
$headerFontWeight: 	600;
$tabFontWeight: 	400;
$fabIconSize: 		18px;
$smallFontSize:		12px;
$headerFontSize: 	15px;
$tableFontSize: 	16px;
$standardLineHeight: 32px;
/* PADDINGS */
$standardPadding: 	10px;
$tabPadding: 		8px;
$angularTableTRHeight: 36px;