.ellipsis {
	max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

md-toolbar.documentBrowserToolbar button.md-icon-button,.selectedDocumentSidenav md-toolbar button.md-icon-button{
	height: 40px;
    width: 40px;
}
md-toolbar.documentBrowserToolbar button.md-icon-button.selectedButton{
	    background-color: #A9C3DB;
	    color:#fff;
}

md-toolbar.documentBrowserToolbar button.md-icon-button md-icon,.selectedDocumentSidenav md-toolbar button.md-icon-button md-icon{
	line-height: 22px;
}
md-toolbar.documentBrowserToolbar md-input-container.searchInput input {
	color: white ;
    border-color: rgb(248, 252, 255)!important ;
}

md-toolbar.documentBrowserToolbar md-input-container.searchInput label {
	color: white ;
     
}

md-sidenav.selectedDocumentSidenav>md-content>md-list>md-list-item>div{
	width: 100%;
}
md-sidenav.selectedDocumentSidenav>md-content>md-list>md-list-item>div>p{
	-moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}

.documentCard{
	width: 230px;
}
.documentCard img{
	height: 200px;
    width: 100%;
	}
	
	