<div>
<div class="menu-text" style="padding-bottom:5%">Drill types</div>
<md-grid-list
	md-cols="2"	md-row-height="25px">
	
	<md-grid-tile>
		<md-button class="drill-buttons" ng-click="changeDrillType('position')">Position</md-button>
	</md-grid-tile>
	 
	<md-grid-tile>
		<md-button class="drill-buttons" ng-click="changeDrillType('member')">Member</md-button>
	</md-grid-tile>
	 
	<md-grid-tile>
		<md-button class="drill-buttons" ng-click="changeDrillType('replace')">Replace</md-button>
	</md-grid-tile>
	 
	<md-grid-tile>
		<md-button class="drill-buttons" ng-click="enableDisableDrillThrough()">Drill trough</md-button>
	</md-grid-tile>	 
</md-grid-list>
<div class="menu-text">OLAP functions</div>
<md-grid-list
        md-cols="3" md-row-height="50px">
    <md-grid-tile ng-repeat="obtn in olapToolbarButtons">
    	<md-button class="right-toolbar-menu {{obtn.img}}" ng-click="btnFunctions(obtn.img)">
    		<md-tooltip md-direction="bottom">
				{{obtn.tooltip}}
			</md-tooltip>
    	</md-button>
    </md-grid-tile>
    
    <md-grid-tile>
    	<md-button ng-click="showDialog(e,showMdxDial)" class="right-toolbar-menu BUTTON_MDX">
			<md-tooltip md-direction="bottom">
				Show MDX
			</md-tooltip>
		</md-button>
    </md-grid-tile>
    
    <md-grid-tile>
    	<md-button class="right-toolbar-menu BUTTON_EDIT_MDX" ng-click="showDialog(e,sendMdxDial)">
			<md-tooltip md-direction="bottom">
				Send MDX
			</md-tooltip>
		</md-button>
    </md-grid-tile>
</md-grid-list>

<div class="menu-text">Table functions</div>
<md-grid-list
        md-cols="3" md-row-height="50px">
    <md-grid-tile ng-repeat="tbtn in tableToolbarButtons">
    	<md-button class="right-toolbar-menu {{tbtn.img}}" ng-click="btnFunctions(tbtn.img)">
    		<md-tooltip md-direction="bottom">
				{{tbtn.tooltip}}
			</md-tooltip>
    	</md-button>
    </md-grid-tile>
    
    <md-grid-tile>
    	<md-button ng-class=" modelConfig.sortingEnabled ? 'right-toolbar-menu sorting-e-btn' : 'right-toolbar-menu sorting-d-btn'" ng-click="enableDisableSorting()" >
			<md-tooltip md-direction="bottom">
				{{sortingEnabled?'Disable sorting' : 'Enable sorting'}}
			</md-tooltip>
		</md-button>
    </md-grid-tile>
    
    <md-grid-tile>
    	<md-button class="right-toolbar-menu sorting-settings" ng-click="showDialog(e,sortSetDial)" >
			<md-tooltip md-direction="bottom">
				Sorting settings
			</md-tooltip>
		</md-button>
    </md-grid-tile>
    
    <md-grid-tile>
    	<md-button class="right-toolbar-menu calculated-fields" ng-click="showCCWizard()" >
			<md-tooltip md-direction="bottom">
				Calculated Field Wizard
			</md-tooltip>
		</md-button>
    </md-grid-tile>
    
    <md-grid-tile>
    	<md-button class="right-toolbar-menu cross-navigation" ng-click="enableDisableCrossNavigation()" >
			<md-tooltip md-direction="bottom">
				Cross navigation
			</md-tooltip>
		</md-button>
    </md-grid-tile>
    
</md-grid-list>

<div class="menu-text">What If</div>
<md-grid-list
        md-cols="3" md-row-height="50px">
    <md-grid-tile ng-repeat="wbtn in whatifToolbarButtons">
    	<md-button class="right-toolbar-menu {{wbtn.img}}" ng-click="btnFunctions(wbtn.img)">
    		<md-tooltip md-direction="bottom">
				{{wbtn.tooltip}}
			</md-tooltip>
    	</md-button>
    </md-grid-tile>
</md-grid-list>

<md-button class="md-raised" style="bottom: 0;position: absolute;" ng-click="closeSideNav('right')">
		Close
	</md-button>
</div>