
<md-dialog class="fullscreen-dialog">
	
	<md-toolbar style="background-color: #3b678c !important;">
        <div class="md-toolbar-tools" >
          <h2 flex="flex">Drillthrough</h2>
           <md-button ng-click="closeDtDialog()" class="md-icon-button" style="float:right;">
            <md-icon class="fa fa-times fa-2x"></md-icon>
          </md-button>
        </div>
      </md-toolbar>
      
      <div id="dtLeftMenu">
<md-button id="showMenu" class="md-fab zoomAnimation"
			ng-click="toggleMenu($event)"
			aria-label="toggle menu"> 
		<i ng-if="!openLeftMenu" class="material-icons">chevron_right</i>
		<i ng-if="openLeftMenu" class="material-icons">chevron_left</i>
	</md-button>

	<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id='menu' md-is-locked-open="openLeftMenu" layout-fill>
		<md-content class="contentStyle no-padding"   > 
		
		<div>	
		<md-input-container >
	<label>Maximum rows</label>
	 <md-select name="maxRows" ng-model="dtMaxRows" required>
        <md-option value="0">0</md-option>
        <md-option value="10">10</md-option>
        <md-option value="25">25</md-option>
        <md-option value="50">50</md-option>
        <md-option value="100">100</md-option>
      </md-select>
      </md-input-container>	
		</div>
		
		<treecontrol class="tree-light" tree-model="dtTree" selected-nodes="dtAssociatedLevels" options="treeOptions">
     	{{node.name}} 
 		</treecontrol>

		
		</md-content>
	</md-sidenav>
</div>
	
		
	<md-content layout-padding style="height:90%;">
			
					<angular-table 
					
						layout-fill
						id="dtData_id"
						ng-model="dtData"
						columns ="formateddtColumns">
													 					
					</angular-table>  
	
	
	
	</md-content>	
		<md-dialog-actions layout="row">
	
			<md-button ng-click="closeDtDialog()">
				Cancel
			</md-button>
			<md-button ng-click="exportDrill()">
				Export
			</md-button>
			<md-button ng-click="drillThrough()" md-autofocus>
				Apply 
			</md-button>		
		</md-dialog-actions>
	
	
</md-dialog>