<md-toolbar class='md-toolbar-tools knowage-blue'>
	<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
		<md-button class="groupX left">Position</md-button>
		
		<md-button class="groupX middle">Member</md-button>
		
		<md-button class="groupX right">Replace</md-button>
		
		<md-button class="fa fa-table icon">
			<md-tooltip md-direction="bottom">
				Show parent
			</md-tooltip>
		</md-button>
		
		<md-button class="fa fa-th-large icon">
			<md-tooltip md-direction="bottom">
				Hide
			</md-tooltip>
		</md-button>
		
		<md-button class="fa fa-th-list icon">
			<md-tooltip md-direction="bottom">
				Show properties
			</md-tooltip>
		</md-button>
		
		<md-button class="fa fa-cubes icon">
			<md-tooltip md-direction="bottom">
				Suppress empty rows
			</md-tooltip>
		</md-button>
		
		<md-button class="fa fa-refresh icon">
			<md-tooltip md-direction="bottom">
				Reload
			</md-tooltip>
		</md-button>
	</section>
</md-toolbar>