<md-toolbar class='md-toolbar-tools knowage-blue'>
	<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
		<md-button class="groupX left" ng-click="changeDrillType('position')" ng-disabled="">Position</md-button>
		
		<md-button class="groupX middle" ng-click="changeDrillType('member')">Member</md-button>
		
		<md-button class="groupX right" ng-click="changeDrillType('replace')">Replace</md-button>
		
		<md-button class="main-toolbar-button {{btn.img}}" ng-repeat="btn in toolbarButtons" ng-click="btnFunctions(btn.img)">
			<md-tooltip md-direction="bottom">
				{{btn.tooltip}}
			</md-tooltip>
		</md-button>
		
		<md-button class="main-toolbar-button" ng-click="openMdxQueryDialog(e)">
			Send MDX
			<md-tooltip md-direction="bottom">
				Send MDX
			</md-tooltip>
		</md-button>
		
		<md-button ng-click="openShowMdxDialog(e)" class="main-toolbar-button">
			Show MDX
			<md-tooltip md-direction="bottom">
				Show MDX
			</md-tooltip>
		</md-button>
		<md-button ng-click="sortBASC()" class="main-toolbar-button">BASC</md-button>
		<md-button ng-click="sortBDESC()" class="main-toolbar-button">BDESC</md-button>
		

	</section>
</md-toolbar>