<md-toolbar class='md-toolbar-tools knowage-blue'>
	<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
		<md-button class="groupX left">Position</md-button>
		
		<md-button class="groupX middle">Member</md-button>
		
		<md-button class="groupX right">Replace</md-button>
		
		<md-button class="main-toolbar-button {{btn.img}}" ng-repeat="btn in toolbarButtons">
			<md-tooltip md-direction="bottom">
				{{btn.tooltip}}
			</md-tooltip>
		</md-button>
		
		<md-button class="main-toolbar-button" ng-click="openMdxQueryDialog(e)">
			Send MDX
			<md-tooltip md-direction="bottom">
				Send MDX
			</md-tooltip>
		</md-button>
		
		<md-button ng-click="openShowMdxDialog(e)" class="main-toolbar-button">
			Show MDX
			<md-tooltip md-direction="bottom">
				Show MDX
			</md-tooltip>
		</md-button>
		
	</section>
</md-toolbar>