
/* rimuovo il focus da tutto */
*:focus {
	outline: none;
}
.hidden{
display:none!important;}

.black{
color:black;
}


/* Tabella con molte colonne */
angular-table.fullWidth #angularTableTemplate{
/* padding: 0 !important; */
width: 100%;
}
angular-table.fullWidth  table{
width: auto!important;
}

/* Fine Tabella con molte colonne */


angular-table  #angularTableTemplate {
	padding: 0 5px;
    height: 100%;
    overflow:auto;
}

angular-table  table {
	width: 100%;
	table-layout: fixed;
/* 	color:#005080; */
	border-spacing: 0;
}



angular-table[multi-select] table>thead>tr>th:nth-child(n+3):nth-last-child(n+2),
angular-table[multi-select] table>tbody>tr>td:nth-child(n+3):nth-last-child(n+2),
angular-table:not(multi-select) table>thead>tr>th:nth-child(n+1):nth-last-child(n+2),
angular-table:not(multi-select) table>tbody>tr>td:nth-child(n+1):nth-last-child(n+2){
	padding: 0 28px;
}

angular-table[multi-select] table>thead>tr>th:nth-child(2),angular-table:not(multi-select) table>thead>tr>th:nth-child(1),
angular-table[multi-select]  table>tbody>tr>td:nth-child(2),angular-table:not(multi-select) table>tbody>tr>td:nth-child(1){
	padding: 0 28px 0 0 !important;
}

angular-table table>thead>tr>th:last-child,
angular-table table>tbody>tr>td:last-child{
padding: 0 24px 0 28px;
}

angular-table table thead th {
    text-align: left;
    font-size: 12px;
    color: rgba(0,0,0,.54);
}

angular-table table thead th div {
	align-items: center;
    height: 56px;
    line-height: 56px;
}

angular-table table thead th div md-icon{
margin-top: 9px;
    width: 7px;
}
angular-table table>tbody>tr {
    height: 48px;
    transition: background-color .2s;
}


angular-table table>tbody>tr>td {
    font-size: 13px;
    color: rgba(0,0,0,.87);
    border-top: 1px rgba(0,0,0,.12) solid;
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}

angular-table table>tbody>tr.selectedRowItem{
    background-color: #F5F5F5;
    }

angular-table table>tbody>tr:hover{
    background-color: #EEEEEE;
    }


angular-table table>thead>tr>th>div {
    text-overflow: ellipsis;
    white-space: nowrap; 
    overflow: hidden;
}

angular-table table>tbody>tr>td button.actionButton{	
height: 25px !important;
    width: 25px!important;
    min-height: 25px!important;
    }
    
    angular-table table>tbody>tr>td button.actionButton md-icon{	
   line-height: 25px!important;
    }

@-moz-document url-prefix() {
	angular-table table>tbody>tr>td{
	  text-overflow: inherit;
	}
}

angular-table table td div{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	line-height: 26px;
	}


angular-table angular-table-actions md-input-container.tableSearchBar {
    padding-bottom: 0px;
   
    height: 25px;
}

angular-table angular-table-actions{
    padding: 0 24px 0 10px;
    height: 30px;
    }
    
angular-table angular-table-actions md-input-container.tableSearchBar .closeSearchBar{
    left: 100%;
    margin-left: -15px;
}



/* pagination */


#angularTableTemplate .pagination>li, #angularTableTemplate .pagination>li>span
	{
	position: relative;
	float: left;
	margin-left: -1px;
	text-decoration: none !important;
	background-color: #fff;
/* 	border: 1px solid #ddd; */
	display: block;
	width: 20px;
	height: 16px;
	text-align: center;
	line-height: 16px;
}

#angularTableTemplate .pagination {
	margin: 0px !important;
	padding: 0px !important;
}

#angularTableTemplate .pagination>li>a {
	text-decoration: none !important;
	width: 100%;
    display: block;
}

#angularTableTemplate .pagination>.active, #angularTableTemplate .pagination>.active>a,
	#angularTableTemplate .pagination>.active>a:focus, #angularTableTemplate .pagination>.active>a:hover,
	#angularTableTemplate .pagination>.active>span, #angularTableTemplate .pagination>.active>span:focus,
	#angularTableTemplate .pagination>.active>span:hover {
	z-index: 2;
	color: #000;
	cursor: default;
	background-color: rgb(232, 232, 232);
	border-color: rgb(232, 232, 232);
}

#angularTableTemplate .pagination>.disabled>a, #angularTableTemplate .pagination>.disabled>a:focus,
	#angularTableTemplate .pagination>.disabled>a:hover,
	#angularTableTemplate .pagination>.disabled>span, #angularTableTemplate .pagination>.disabled>span:focus,
	#angularTableTemplate .pagination>.disabled>span:hover {
	color: #777;
	cursor: not-allowed;
	background-color: #fff;
	border-color: #ddd;
}


#angularTableTemplate .dropdown_menu_list {
	position: fixed !important;
}
#angularTableTemplate .position-fixed{
position: fixed !important;
}

#angularTableTemplate .dropdown_menu_list md-list {
	position: relative;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	    background-color: #ECECEC;
}

#angularTableTemplate .dropdown_menu_list.open md-list {
	display: block;
}

#angularTableTemplate .dropdown_menu_list md-list-item, #angularTableTemplate .dropdown_menu_list md-list-item button,
	#angularTableTemplate .dropdown_menu_list md-list-item .md-list-item-inner {
/* 	min-height: 15px !important; */
min-height: 22px !important;
}

#angularTableTemplate .dropdown_menu_list md-list-item p {
	line-height: 20px;
	margin: 3px;
	color: black;
}

#angularTableTemplate .dropdown_menu_list md-list.bottomBorder md-list-item button {
	border-bottom: 1px solid rgb(176, 190, 197);
	padding: 0;
	margin-left: 8px;
	margin-right: 8px;
	border-radius: 0;
}

#angularTableTemplate md-checkbox {
margin-bottom: 0px;
}


#angularTableTemplate .tableDragBar {
padding: 0 !important;
    text-align: center;
    color: grey;
}


.animate-repeat-tablerow.ng-move,
.animate-repeat-tablerow.ng-enter {
    transition:all linear 0.2s;
}

.animate-repeat-tablerow.ng-leave.ng-leave-active,
.animate-repeat-tablerow.ng-move,
.animate-repeat-tablerow.ng-enter {
    opacity:0;
}

.animate-repeat-tablerow.ng-leave,
.animate-repeat-tablerow.ng-move.ng-move-active,
.animate-repeat-tablerow.ng-enter.ng-enter-active {
    opacity:1;
}

.animate-repeat-tablerow.ng-leave,
.animate-repeat-tablerow.ng-leave.ng-leave-active {
  transition: all 0s;
}