# ==================================================================
# TABLES 
# ==================================================================

#foreach ($jpaTable in $jpaTables)

# $jpaTable.name

${jpaTable.uniqueName}.visible = $jpaTable.getAttribute("structural.visible")
${jpaTable.uniqueName}.type = $jpaTable.type
${jpaTable.uniqueName}.position = $velocityCount
${jpaTable.uniqueName}.sqlFilter =  $jpaTable.getAttribute("structural.sqlFilter")

#foreach ($jpaColumn in $jpaTable.getColumns())
${jpaColumn.uniqueName}.visible = $jpaColumn.getAttribute("structural.visible")
${jpaColumn.uniqueName}.type = $jpaColumn.getAttribute("structural.columntype")
${jpaColumn.uniqueName}.attribute = $jpaColumn.getAttribute("structural.attribute")
${jpaColumn.uniqueName}.filtercondition = $jpaColumn.getAttribute("structural.filtercondition")
${jpaColumn.uniqueName}.datatype = $jpaColumn.getAttribute("structural.datatype")
${jpaColumn.uniqueName}.aggtype = $jpaColumn.getAttribute("structural.aggtype")
${jpaColumn.uniqueName}.personal = #{if}($jpaColumn.getAttribute("structural.sensible"))$jpaColumn.getAttribute("structural.sensible")#{else}false#{end}

${jpaColumn.uniqueName}.decrypt = #{if}($jpaColumn.getAttribute("structural.encrypted"))$jpaColumn.getAttribute("structural.encrypted")#{else}false#{end}

${jpaColumn.uniqueName}.subjectId = #{if}($jpaColumn.getAttribute("structural.subjectId"))$jpaColumn.getAttribute("structural.subjectId")#{else}false#{end}


#if($jpaColumn.getAttribute("structural.datatype") == "DATE")
${jpaColumn.uniqueName}.format = $jpaColumn.getAttribute("structural.dateformat")

#elseif($jpaColumn.getAttribute("structural.datatype") == "TIMESTAMP")
${jpaColumn.uniqueName}.format = $jpaColumn.getAttribute("structural.dateformat")

#elseif($jpaColumn.getAttribute("structural.datatype") == "TIME")
${jpaColumn.uniqueName}.format = $jpaColumn.getAttribute("structural.timeformat")

#else
${jpaColumn.uniqueName}.format = $jpaColumn.getAttribute("structural.format")
#end

${jpaColumn.uniqueName}.customFunction = $jpaColumn.getAttribute("structural.customFunction")
${jpaColumn.uniqueName}.excludedRoles = $jpaColumn.getAttribute("behavioural.notEnabledRoles")
${jpaColumn.uniqueName}.position = $velocityCount
#end



#end



# ==================================================================
# VIEWS
# ==================================================================

#foreach ($jpaView in $jpaViews)

# $jpaView.name ----------------------------------------------------

${jpaView.uniqueName}.visible = true
${jpaView.uniqueName}.type = generic

# view columns (positions)
#foreach ($jpaColumn in $jpaView.getColumns())
${jpaColumn.uniqueName}.visible = $jpaColumn.getAttribute("structural.visible")
${jpaColumn.uniqueName}.type = $jpaColumn.getAttribute("structural.columntype")
${jpaColumn.uniqueName}.attribute = $jpaColumn.getAttribute("structural.attribute")
${jpaColumn.uniqueName}.datatype = $jpaColumn.getAttribute("structural.datatype")
${jpaColumn.uniqueName}.format = $jpaColumn.getAttribute("structural.format")
${jpaColumn.uniqueName}.excludedRoles = $jpaColumn.getAttribute("behavioural.notEnabledRoles")
${jpaColumn.uniqueName}.position = $velocityCount
#end


#foreach ($jpaTable in $jpaView.innerTables)

# $jpaView.name > $jpaTable.sqlName -----------

${jpaTable.uniqueName}.visible = false
${jpaTable.uniqueName}.type = dimension

#foreach ($jpaColumn in $jpaTable.columns)
${jpaView.uniqueName}/${jpaColumn.uniqueName}.visible = $jpaColumn.getAttribute("structural.visible")
${jpaView.uniqueName}/${jpaColumn.uniqueName}.type = $jpaColumn.getAttribute("structural.columntype")
${jpaView.uniqueName}/${jpaColumn.uniqueName}.attribute = $jpaColumn.getAttribute("structural.attribute")
${jpaView.uniqueName}/${jpaColumn.uniqueName}.datatype = $jpaColumn.getAttribute("structural.datatype")
${jpaView.uniqueName}/${jpaColumn.uniqueName}.excludedRoles = $jpaColumn.getAttribute("behavioural.notEnabledRoles")
${jpaView.uniqueName}/${jpaColumn.uniqueName}.format = $jpaColumn.getAttribute("structural.format")
#end

#end

#end
