<div ng-controller="RegistryController" layout-fill layout="column">
   <md-toolbar class="secondaryToolbar">
      <div class="md-toolbar-tools" layout="row">
         <h2>{{configuration.title}}</h2>
         <span flex></span>
         <md-button ng-click="updateRow()">
            Save
         </md-button>
      </div>
   </md-toolbar>
   <md-content flex ng-cloak layout="column" class="registryFilters">
      <!--  div ng-if="configuration.filters" class="registryFilters"-->
      <md-card ng-if="configuration.filters && (configuration.filters.length > 0) && !allADFilters()">
         <md-subheader>Filters</md-subheader>
         <div layout="row" layout-align="start center" style="padding:0 8px">
            <md-input-container class="md-icon-float registryFilter" ng-repeat="filter in checkIfFilterColumnExists()" style="min-width:200px">
               <div ng-if="filter.static">
                  <div ng-if="filter.visible">
                     <label>{{filter.title}}</label>
                     <input  ng-model="filter.filterValue" ng-disabled="true">
                  </div>
               </div>
               <div ng-if="!filter.static">
                  <label>{{filter.title}}</label>
                  <input  ng-model="filter.value" ng-if="filter.presentation === 'MANUAL' && !filter.static" ng-keyup="addToFilters(filter)" ng-keydown="$event.keyCode === 13 && getFilteredData(filters)" ng-disabled="filter.static">
                  <md-select md-on-open="addFilterOptions(filter.field)" ng-model="filter.value" ng-if="filter.presentation == 'COMBO'" ng-change="addToFilters(filter)" ng-disabled="filter.static">
                     <md-option value=""></md-option>
                     <md-option ng-repeat="opt in filter.options track by $index" ng-value="opt.column_1">{{opt.column_1}}</md-option>
                  </md-select>
               </div>
            </md-input-container>
            <span flex></span>
            <md-button ng-click="deleteFilterValues()" class="md-raised" ng-if="checkIfFiltersHaveValues()">
               Clear
               <md-tooltip md-delay="500">Clear all filters</md-tooltip>
            </md-button>
            <md-button  class="md-raised md-primary" ng-click="getFilteredData(filters)">
               Filter
            </md-button>
         </div>
      </md-card>
      <!--  /div-->
      <md-card flex style="overflow:auto;">
         <table class="kn-table kn-table-alternated-rows" ng-if="configuration.pivot == false" style="table-layout:fixed">
            <thead>
               <tr>
                  <th class="recNo"><span>&nbsp;</span></th>
                  <th ng-repeat="col in columns | orderBy: 'position' track by $index" ng-if="col.visible" ng-style="{width:col.size +'px'}">
                     <div layout="row" layout-align="start center" ng-click="sortBy(col.field)">
                        <span class="sortorder" ng-class="{reverse: reverse}" ng-if="configuration.pagination != 'true'">{{col.title}} </span>
                        <span ng-if="configuration.pagination == 'true'">{{col.title}} </md-icon></span>
                        <span flex></span>
                        <md-menu>
                           <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdMenu.open()">
                              <md-icon md-menu-origin md-font-icon="fa fa-ellipsis-v"></md-icon>
                           </md-button>
                           <md-menu-content width="3">
                              <md-menu-item ng-if="!$first">
                                 <md-button ng-click="move(col.position,'left')">
                                    <md-icon md-font-icon="fa fa-outdent"></md-icon>
                                    Move Left
                                 </md-button>
                              </md-menu-item>
                              <md-menu-item ng-if="!$last">
                                 <md-button ng-click="move(col.position,'right')">
                                    <md-icon md-font-icon="fa fa-indent"></md-icon>
                                    Move Right
                                 </md-button>
                              </md-menu-item>
                           </md-menu-content>
                        </md-menu>
                     </div>
                  </th>
                  <th class="tableAction">
                     <md-button class="md-fab md-mini" ng-click="addRow()" ng-if="configuration.enableAddRecords || configuration.enableButtons">
                        <md-icon md-font-icon="fa fa-plus"></md-icon>
                        <md-tooltip md-delay="500">Add Row</md-tooltip>
                     </md-button>
                  </th>
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat="row in data">
                  <td class="recNo"> <span ng-if="!col.editable">{{$index+1}}</span> </td>
                  <td ng-repeat="col in columns | orderBy: 'position' track by $index " ng-if="col.visible"  ng-class='checkIfSelected(row)' ng-style="{'background-color':col.color, 'width':col.size + 'px'}">
                     <div>
                        <span ng-if="!col.editable && col.dataType !== 'boolean' && col.dataType !== 'date'">{{row[col.field] }}</span>
                        <span ng-if="!col.editable && col.dataType === 'date'">{{row[col.field] }}</span>
                        <span ng-if="!col.editable && col.dataType === 'timestamp'">{{row[col.field] | momentDateAndTime:currLanguage}}</span>                                
                        <input type="checkbox" ng-model="row[col.field]" ng-if="(col.editor=='TEXT' && col.dataType == 'boolean') && (!col.editable)" ng-checked="{{row[col.field]}}" disabled ng-click="setSelected(row)" >
                        <input type="checkbox" ng-model="row[col.field]" aria-label="data change" ng-if="(col.editor=='TEXT' && col.dataType == 'boolean') && (col.editable)" ng-checked="{{row[col.field]}}" ng-click="setSelected(row)">                                                            
                        <md-menu ng-if="col.editable && col.dataType !== 'boolean'" ng-click="setSelected(row)">
                           <div layout="row" class="clickable" ng-click="addColumnOptions(col, row, $mdOpenMenu)">  
                              <span ng-if="col.dataType === 'int' && row[col.field] != ''">{{row[col.field] | number}}</span>
                              <span ng-if="col.dataType === 'int' && row[col.field] == ''">{{row[col.field]}}</span>
                              <span ng-if="col.dataType === 'timestamp'  && row[col.field] != ''"> {{row[col.field] | momentDateAndTime:currLanguage}} </span>                                	
                              <span ng-if="col.dataType === 'date' &&  row[col.field] == ''"> {{row[col.field]}} </span>
                              <span ng-if="col.dataType !== 'float' && col.dataType !== 'date' && col.dataType !== 'timestamp' && col.dataType !== 'int'">{{row[col.field]}}</span>
                              <span ng-if="col.dataType === 'float'"> {{row[col.field] | decimal:col.format}} </span>                                                                             
                           </div>
                           <md-menu-content width="6" class="customContentMenu" >
                              <md-menu-item layout="row" style="height:100%" >
                                 <md-input-container class="md-icon-float md-block">
                                    <div ng-if="col.dataType !== 'date'">
                                       <input type="{{setDataType(col.dataType)}}" step="{{getStep(col.dataType)}}" name="textField" ng-model="row[col.field]" ng-keyup="$event.keyCode == 13 ? $mdMenu.close() : null"  aria-label="data change"
                                          ng-if="col.editor=='TEXT' && col.dataType !== 'boolean'">  
                                       <div ng-if="row.selected && !isDependentColumn(col)">
                                          <md-select ng-model="row[col.field]" aria-label="data change" ng-if="col.editor=='COMBO'" ng-change="notifyAboutDependency(col, $event)">
                                             <md-option ng-repeat="opt in comboColumnOptions[col.field] track by $index" value="{{opt.column_1}}">{{opt.column_1}}</md-option>
                                          </md-select>
                                       </div>
                                       <div ng-if="row.selected && isDependentColumn(col)">
                                          <md-select ng-model="row[col.field]" aria-label="data change" ng-if="col.editor=='COMBO'">
                                             <md-option ng-repeat="opt in comboColumnOptions[col.field][row[col.dependsFrom]] track by $index" value="{{opt.column_1}}">{{opt.column_1}}</md-option>
                                          </md-select>
                                       </div>
                                    </div>
 									<div ng-if="col.dataType === 'date'" layout="row">
                                       <md-datepicker ng-init="row[col.field] = row[col.field] || null" ng-model="row[col.field]" step="{{getStep(col.dataType)}}"
                                          name="dateField"  ng-keyup="$event.keyCode == 13 ? $mdMenu.close() : null" aria-label="data change"> </md-datepicker>
                                       <md-icon md-font-icon="fa fa-times" ng-click="resetDateField($event, row, col);"></md-icon>
                                    </div>
                                    <div ng-if="col.dataType === 'timestamp'" layout="row" layout-align="space-around center">
										<registry-date-time-picker ng-model="row[col.field]"></registry-date-time-picker>
                                    </div>
                                 </md-input-container>
                              </md-menu-item>
                           </md-menu-content>
                        </md-menu>
                     </div>
                  </td>
                  <td style="text-align:center">
                     <md-icon md-font-icon="fa fa-trash" class="delete-row" ng-click="deleteRowFromDB(row, $event)" ng-if="configuration.enableDeleteRecords || configuration.enableButtons"></md-icon>
                  </td>
               </tr>
            </tbody>
         </table>
         <table class="kn-table pivot-table" ng-if="configuration.pivot == true" style="table-layout:fixed">
            <thead>
               <tr>
                  <th ng-repeat="col in columns | orderBy: 'position' track by $index" ng-if="col.visible" ng-style="{width:col.size +'px'}">
                     <div layout="row" layout-align="start center">
                        <span>{{col.title}}</span>
                        <span flex></span>
                     </div>
                  </th>
               </tr>
            </thead>
            <tbody>
               <tr ng-repeat="(indexF, row) in data" ng-class="setSummaryRowColor(data,indexF,columns)">
                  <td ng-repeat="col in columns | orderBy: 'position' track by $index" rowspan="{{setRowspan(data,indexF,$index,columns)}}"  ng-if="compareRowsForRowspanPrint(data,indexF,$index,columns)" ng-class="checkIfSelected(row)">
                     <div>
 	                    <span ng-if="!col.editable && col.dataType !== 'boolean' && col.dataType !== 'date'">{{row[col.field] }}</span>
                        <span ng-if="!col.editable && col.dataType === 'date'">{{row[col.field] }}</span>
                        <span ng-if="!col.editable && col.dataType === 'timestamp'">{{row[col.field] | momentDateAndTime:currLanguage}}</span>
                        <span ng-if= "isItSummaryRow(data,indexF,$index,columns)">{{row[col.field] | number:getDecimalPlaces(col.field) }}</span>                   
                        <input type="checkbox" ng-model="row[col.field]" ng-if="(col.editor=='TEXT' && col.dataType == 'boolean' ) && (!col.editable) && row[col.field] !== '      '" ng-checked="{{row[col.field]}}" disabled >
                        <input type="checkbox" ng-model="row[col.field]" aria-label="data change" ng-if="(col.editor=='TEXT' && col.dataType == 'boolean') && (col.editable) && row[col.field] !== '      '" ng-checked="{{row[col.field]}}" ng-click="setSelected(row)">                                                            
                        <md-menu ng-if="col.editable && col.dataType !== 'boolean' && row[col.field] !== '      ' && !isItSummaryRow(data,indexF,$index,columns)">
                           <div layout="row" class="clickable" ng-click="addColumnOptions(col, row, $mdOpenMenu)">                                    	
                              <span ng-if="col.dataType === 'int'">{{row[col.field] | number}}</span>  
                              <span ng-if="col.dataType === 'timestamp' && row[col.field] != ''"> {{row[col.field] | momentDateAndTime:currLanguage}} </span>
                              <span ng-if="col.dataType === 'date' &&  row[col.field] == ''"> {{row[col.field]}} </span>                                  	
                              <span ng-if="col.dataType !== 'float' && col.dataType !== 'date' && col.dataType !== 'timestamp' && col.dataType !== 'int'">{{row[col.field]}}</span>
                              <span ng-if="col.dataType === 'float'">   {{row[col.field] |  decimal:col.format}}  </span>                                                                        
                           </div>
                           <md-menu-content width="6" class="customContentMenu" ng-click="setSelected(row)" >
                              <md-menu-item layout="row"  style="height:100%" >
                                 <md-input-container class="md-icon-float md-block" >
                                    <div ng-if="col.dataType !== 'date'">
                                       <input type="{{setDataType(col.dataType)}}" step="{{getStep(col.dataType)}}" name="textField" ng-model="row[col.field]" ng-keyup="$event.keyCode == 13 ? $mdMenu.close() : null" aria-label="data change"
                                          ng-if="col.editor=='TEXT' && col.dataType !== 'boolean'"> 
                                       <div ng-if="row.selected && !isDependentColumn(col)">
                                          <md-select ng-model="row[col.field]" aria-label="data change" ng-if="col.editor=='COMBO'" ng-change="notifyAboutDependency(col, $event)">
                                             <md-option ng-repeat="opt in comboColumnOptions[col.field] track by $index" value="{{opt.column_1}}">{{opt.column_1}}</md-option>
                                          </md-select>
                                       </div>
                                       <div ng-if="row.selected && isDependentColumn(col)">
                                          <md-select ng-model="row[col.field]" aria-label="data change" ng-if="col.editor=='COMBO'">
                                             <md-option ng-repeat="opt in comboColumnOptions[col.field][row[col.dependsFrom]] track by $index" value="{{opt.column_1}}">{{opt.column_1}}</md-option>
                                          </md-select>
                                       </div>
                                    </div>
                                    <div ng-if="col.dataType === 'date'" layout="row">
                                       <md-datepicker ng-init="row[col.field] = row[col.field] || null" ng-model="row[col.field]" step="{{getStep(col.dataType)}}"
                                          name="dateField"  ng-keyup="$event.keyCode == 13 ? $mdMenu.close() : null" aria-label="data change"> </md-datepicker>
                                       <md-icon md-font-icon="fa fa-times" ng-click="resetDateField($event, row, col);"></md-icon>
                                    </div>
                                    <div ng-if="col.dataType === 'timestamp'" layout="row" layout-align="space-around center">
										<registry-date-time-picker ng-model="row[col.field]"></registry-date-time-picker>
                                    </div>
                                 </md-input-container>
                              </md-menu-item>
                           </md-menu-content>
                        </md-menu>
                     </div>
                  </td>
               </tr>
            </tbody>
         </table>
         <div layout="row" ng-if="configuration.pagination == 'true'" style="position: sticky; left:0;">
            <div class="ag-theme-balham" flex>
               <div class=" ag-paging-panel ag-noBorders ag-font-style">
                  <span ref="eSummaryPanel" class="ag-paging-row-summary-panel">
                  <span ref="lbFirstRowOnPage">{{min}}</span> to <span ref="lbLastRowOnPage">{{max}}</span> of <span ref="lbRecordCount">{{resultsNumber}}</span>
                  </span>
                  <span class="ag-paging-page-summary-panel">
                     <div ref="btFirst" class="ag-paging-button-wrapper" ng-class="{'ag-disabled':disableFirst()}"><span class="ag-icon ag-icon-first" unselectable="on"></span>
                        <button type="button" ref="btFirst" class="ag-paging-button" ng-disabled="!hasPrevious" ng-click="first()">First</button>
                     </div>
                     <div ref="btPrevious" class="ag-paging-button-wrapper" ng-class="{'ag-disabled':disableFirst()}"><span class="ag-icon ag-icon-previous" unselectable="on"></span>
                        <button type="button" ref="btPrevious" class="ag-paging-button" ng-disabled="!hasPrevious" ng-click="previous()">Previous</button>
                     </div>
                     Page <span ref="lbCurrent" style="padding:0 4px;">{{page}}</span> of <span ref="lbTotal" style="padding-left: 4px;">{{getTotalPages.length}}</span>
                     <div ref="btNext" class="ag-paging-button-wrapper" ng-class="{'ag-disabled':disableLast()}"><span class="ag-icon ag-icon-next" unselectable="on"></span>
                        <button type="button" ref="btNext" class="ag-paging-button" ng-click="next()" ng-disabled="!hasNext">Next</button>
                     </div>
                     <div ref="btLast" class="ag-paging-button-wrapper" ng-class="{'ag-disabled':disableLast()}"><span class="ag-icon ag-icon-last" unselectable="on"></span>
                        <button type="button" ref="btLast" class="ag-paging-button" ng-disabled="!hasNext" ng-click="last()">Last</button>
                     </div>
                  </span>
               </div>
            </div>
         </div>
      </md-card>
   </md-content>
</div>