<md-dialog aria-label="addKpiAction" class="addKpiAction"  style=" min-width:95%; min-height:95%; " ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{translate.load("sbi.alert.listener.kpi.action.add.new");}}</h2>
        <span flex></span>
        
        <md-button ng-click="cancel()"  >
        {{translate.load("sbi.general.cancel")}}
      </md-button>
      
      <md-button ng-disabled="!isValidAction.status || currentAction.thresholdValues==undefined || currentAction.thresholdValues.length==0" ng-click="save()"  >
       {{translate.load("sbi.generic.update")}}
      </md-button>
        
      </div>
    </md-toolbar>
    <md-dialog-content flex layout >
      <div class="md-dialog-content" flex layout="column"> 
       <md-input-container>
        <label>{{translate.load("sbi.generic.type")}}</label>
        <md-select ng-model="currentAction.idAction" >
          <md-option ng-repeat="type in actionType" value="{{type.id}}" ng-click="changeCurrentActionType(type)">{{type.name}}</md-option>
        </md-select>
      </md-input-container> 
      
      <md-input-container>
	    	<label>{{translate.load("sbi.kpis.threshold")}}</label>
	        <md-select ng-model="currentAction.thresholdValues" multiple >
	          <md-option ng-repeat="threshVal in kpi.threshold.thresholdValues" value="{{threshVal.id}}">
		          <div layout="row">
		          	<div style="width:20px; height:20px; margin-right: 5px;" ng-style="{'background-color':threshVal.color}"></div>
		          	<span flex>{{threshVal.label}}</span>
		          </div>
	          </md-option>
	        </md-select>
	    </md-input-container> 
	     
       <action-maker flex ng-if="currentActionType.id!=undefined"  ng-model="currentAction.jsonActionParameters" template-url="currentActionType.template" is-valid="isValidAction"></action-maker>
      
      </div>
    </md-dialog-content>
   
</md-dialog>