<md-content class="md-padding noPadding" layout="column" layout-fill ng-cloak>
	<md-card ng-if="ngModelShared.filters!=undefined" >
		<md-card-content layout="column">
			<div layout="row" layout-align="center center" ng-show="ngModelShared.type != 'static-pivot-table' || ngModelShared.limitRows.enable == true">
				<md-switch ng-model="ngModelShared.limitRows.enable" aria-label="Limit rows">
					{{translate.load("sbi.cockpit.widgets.table.tabledesignerpanel.tableoptions.limitrows")}} &nbsp;
				</md-switch>
				
				<md-input-container>
					<label>{{translate.load("sbi.cockpit.widgets.table.tabledesignerpanel.tableoptions.maxrowsnumber")}}</label>
					<input type="number" ng-model="ngModelShared.limitRows.rows" ng-disabled="!ngModelShared.limitRows.enable" min="1">
				</md-input-container>
			</div>
			
			<div layout="row" ng-repeat="filterObj in ngModelShared.filters" >
				<md-chips flex ng-model="filterObj.filterVals" name="filters" readonly="false" md-removable="true" placeholder="{{filterObj.colName}}">
      			</md-chips>
			</div>	
		</md-card-content>
	</md-card>
	
	<md-card ng-if="ngModelShared.filters==undefined">
		<md-card class="noWidget ng-scope _md md-knowage-theme">
				<md-card-content layout-align="center center" class="layout-align-center-center">
					{{translate.load("sbi.cockpit.widgets.table.tabledesignerpanel.tableoptions.specifydatasettofilter")}}
				</md-card-content>
		</md-card>
	
	</md-card>
	
</md-content>