<div class="infoBar multiSelect animation fade-down " ng-if="bulkSelection" layout="row" layout-align="center center">
	<div flex></div>
	<md-button ng-click="clickItem($event,selectedRows,bulkSelection)"><i class="fa fa-bolt"></i> {{::translate.load('sbi.cockpit.widgets.table.selection.launchselection')}}</md-button>
	<div flex></div>
	<md-button  class="md-icon-button" ng-click="cancelBulkSelection()" >
       	<md-icon md-font-icon="fa fa-times"></md-icon>
   	</md-button>
</div>
<div class="cockpitTableContainer fake" ng-if="styledata.th.enabled !== false">

<table ng-class="" class="cockpitTable" ng-style="settings.style.table" ng-cloak fixed-header id="table-{{tableId}}" >
	    <thead>
	        <tr ng-style="settings.style.header">
	            <th scope="col" ng-repeat="column in columns track by $index" ng-if="!column.style.hiddenColumn" ng-style="getThStyle(styledata.th,column)" ng-click="sort(column,$event)" ng-class="{'hiddenIcon':column.aliasToShow != settings.sortingColumn,'active':column.aliasToShow == settings.sortingColumn}">
	                <span class="thText">{{column.aliasToShow | i18n}}
	                	<md-tooltip ng-if="!column.hideTooltip" md-direction="bottom" md-delay="500">{{column.aliasToShow | i18n}}</md-tooltip>
	                </span>
	                <span class="sortingIcon" ng-class="{'inverse':settings.sortingOrder == 'ASC'}"><i class="fa fa-arrow-down"></i></span>
	            </th>
	        </tr>
	    </thead>
	</table>
	</div>
<div class="cockpitTableContainer main" ng-class="{'noMargin':styledata.th.enabled === false}" ng-if="model && model.length > 0" on-scroll="table-{{tableId}}">
	<table ng-class="" class="cockpitTable" ng-style="settings.style.table" ng-cloak >
	    <thead ng-if="styledata.th.enabled !== false">
	        <tr ng-style="settings.style.header">
	            <th scope="col" ng-repeat="column in columns track by $index" ng-if="!column.style.hiddenColumn" ng-style="getThStyle(styledata.th,column)" ng-click="sort(column,$event)" ng-class="{'hiddenIcon':column.aliasToShow != settings.sortingColumn,'active':column.aliasToShow == settings.sortingColumn}">
	                <span class="thText">{{column.aliasToShow | i18n}}
	                	<md-tooltip ng-if="!column.hideTooltip" md-direction="bottom" md-delay="500">{{column.aliasToShow | i18n}}</md-tooltip>
	                </span>
	                <span class="sortingIcon" ng-class="{'inverse':settings.sortingOrder == 'ASC'}"><i class="fa fa-arrow-down"></i></span>
	            </th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr ng-repeat="row in model | orderBy : getSortingColumnFilter() : getSortingOrderAsBoolean() | limitTo : settings.pagination.enabled?settings.pagination.itemsNumber:undefined : (settings.pagination.enabled && settings.pagination.frontEnd)?(settings.page-1)*settings.pagination.itemsNumber:0" ng-style="::getRowStyle($even)" class="en-row" >
	            <td ng-repeat="column in columns" ng-if="!column.style.hiddenColumn" ng-click="selectCell($event,row,column)" ng-style="::getCellStyle(column,row[column.aliasToShow])" ng-class="{'highlight': isCellSelected(row,column)}">
	                <md-tooltip ng-if="!column.hideTooltip" md-direction="top" md-delay="500">
	                 	<span ng-if="::hasPrecision(column)">	{{row[column.aliasToShow] | number:checkPrecision(column)}} </span>
	                	<span ng-if="::!hasPrecision(column)">	{{row[column.aliasToShow]}} </span>
	                </md-tooltip>
					<div class="cellContainer" ng-style="{'justify-content':column.style['justify-content'] || 'flex-start'}">
		                <div ng-if="column.text.enabled" ng-class="{'truncated':column.truncated || column.barchart.enabled,'flex':column.barchart.enabled,'textEllipsis':row[column.aliasToShow].length > column.style.maxChars}" ng-style="{'font-size':column.style['font-size']}">
			                <span ng-if="column.style.prefix">{{column.style.prefix}}</span> 
			                <span ng-if="::hasPrecision(column)">{{row[column.aliasToShow] | number:checkPrecision(column)}}</span>
			                <span ng-if="::!hasPrecision(column) && column.type == 'java.util.Date'">{{::datify(row[column.aliasToShow],'DD/MM/YYYY') | date:column.dateFormat}}</span>
			                <span ng-if="::!hasPrecision(column) && column.type == 'java.sql.Timestamp'">{{::datify(row[column.aliasToShow],'DD/MM/YYYY HH:mm:ss.SSS') | date:column.dateFormat}}</span>
			                <span ng-if="::!hasPrecision(column) && column.type != 'java.util.Date' && column.type != 'java.sql.Timestamp'">{{row[column.aliasToShow]}}</span>
			                <span ng-if="column.style.suffix">{{column.style.suffix}}</span>
		                </div>
		                <i  class="fa fa-search showFullContentIcon" ng-if="column.style.maxChars!= '' && row[column.aliasToShow].length > column.style.maxChars" ng-click="showFullContent($event,row[column.aliasToShow])"></i>
		                    
		                <div class="barChart" ng-if="(column.visType == 'Chart' || column.visType == 'Text & Chart')  && column.barchart && column.barchart != {}" flex ng-class="{'flex':column.text.enabled}">
		                    <div class="progressTrack" ng-style="{'height':column.barchart.style['height'],'display':'flex','justify-content':column.style.td['justify-content']}">
		                        <div class="progressFill" ng-style="{'height':column.barchart.style['height'],'line-height':column.barchart.style['height'],'width':getBarChartFill(row[column.aliasToShow],column.barchart.minValue,column.barchart.maxValue),'background-color':getBarchartColor(column,row[column.aliasToShow]), 'color':column.barchart.style['color']}">
		                        </div>
		                    </div>
		                </div>
		                <span ng-if="column.ranges && column.ranges.length > 0 && column.ranges[0].icon">
		                    <md-icon ng-class="::getDynamicIcon(column,row[column.aliasToShow]).iconClass" ng-style="{'color': getDynamicIcon(column,row[column.aliasToShow]).iconColor}"></md-icon>
		                </span>
		                <span ng-if="$last" flex></span>
		                <span ng-if="$last" ng-click="selectCell($event,row,column)">
		                	<md-icon class="previewCrossIcon" ng-class="dynamicIcon()"></md-icon>
		                </span>
	                </div>
	            </td>
	        </tr>
	    </tbody>
	    <tfoot>
	    	<tr class="summaryTitle" ng-if="settings.summary.enabled && settings.summary.title">
				<td ng-style="styledata.summary">{{settings.summary.title}}</td>
			</tr>
			<tr ng-if="settings.summary.enabled" class="summary">
	            <td ng-repeat="column in columns" ng-style="getSummaryStyle(column)" ng-if="!column.style.hiddenColumn" >
		            <div ng-if="::hasPrecision(column)">
		            	<md-tooltip md-direction="top" md-delay="500">{{settings.summary.row[column.aliasToShow] | number:checkPrecision(column)}}</md-tooltip>
	            			{{settings.summary.row[column.aliasToShow] | number:checkPrecision(column)}}
		            </div>
	            </td>
	        </tr>
	    </tfoot>
	
	</table>
</div>
<div ng-if="(settings.noData && settings.noData.enabled) && (!model || model.length == 0)" layout="row" layout-align="center start" layout-fill>
	<div class="kn-noItems" flex="60" flex-xs="100">
		<p class="ng-binding" ng-if="settings.noData.message">{{settings.noData.message}}</p>
		<p class="ng-binding" ng-if="!settings.noData.message">{{::translate.load('sbi.cockpit.widgets.table.nodata.default')}}</p>
	</div>
</div>
<!--  cockpit-table-pagination ng-if="settings.pagination && settings.pagination.enabled && model" model="model" page="page" settings="settings"></cockpit-table-pagination-->
