<!-- v1.10.0 -->

<angular-table-actions layout="row" layout-align="end center">
	<md-input-container flex  md-no-float class="tableSearchBar" ng-init="showSearch=true;"  >
		<md-icon md-font-icon="fa fa-search" ng-click="showSearch=true;"></md-icon> 
		<input  ng-show="showSearch" ng-model="searchVal" ng-keyup="searchItem(searchVal)" type="text" placeholder="Search ">
		<md-icon ng-show="showSearch" md-font-icon="fa fa-times" ng-click="showSearch=false;searchVal='';searchItem(searchVal);" class="closeSearchBar"></md-icon> 
	</md-input-container>
</angular-table-actions>
<div flex layout="column" id="angularFullTableContentBox" ng-class="{'relativeHeader':relativeHeader}">
	 <div class="angularTableHeader" ng-if="!relativeHeader"></div>
	<div flex  id="angularTableContentBox" >
		<table class="principalTable" >
			<thead></thead>
			<tbody></tbody>
			<tfoot>
				<tr>
					<td colspan="{{tableColumns.length}}" id="tdQueueTableContent"  >
					<md-content id="queueTableContent">
					</md-content> 
					</td>
				</tr>
			</tfoot>
		</table>
		
	</div>
</div> 
<div id="fixedAngularTableContentBox"></div>

<angular-table-footer>
<div  class="box_pagination_list" layout="row" layout-align="end end">
<!-- 	<dir-pagination-controls max-size="5"  pagination-id='id+"PaginationTable"' on-page-change="pageChangedFunction({searchValue:prevSearch,itemsPerPage:itemsPerPage,currentPageNumber:newPageNumber,columnsSearch:columnsSearch,columnOrdering:column_ordering,reverseOrdering:reverse_col_ord})"></dir-pagination-controls> -->
	<dir-pagination-controls template-url="paginationTemplate.html" max-size="5"  pagination-id='id+"PaginationTable"' on-page-change="pageChangedHandler(prevSearch,itemsPerPage,newPageNumber,columnsSearch,column_ordering,reverse_col_ord,changeFromInput,paginationItem,directivePageChangeFunction)"></dir-pagination-controls>
</div>
</angular-table-footer>

<script type="text/ng-template" id="paginationTemplate.html">
<ul class="pagination"   ng-if="1 == pages.length"><li class="hiddenPaginationButton"></li></ul>
<ul class="pagination"   ng-if="1 < pages.length" ng-init="tmpVar={tmpCurrPage:1}">
    <li ng-if="pagination.last>10" ng-class="{ disabled : (pagination.current == 1 || pagination.current-10<1) }" >
        <a ng-if="!(pagination.current == 1 || pagination.current-10<1)" ng-click="setCurrent(pagination.current - 10);tmpVar.tmpCurrPage=pagination.current - 10"> -10 </a>
        <a ng-if="(pagination.current == 1 || pagination.current-10<1)"> -10 </a>
    </li>
    <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }" >
        <a href="" ng-if="pagination.current!=1" ng-click="setCurrent(pagination.current - 1) ;tmpVar.tmpCurrPage=pagination.current-1"> < </a>
        <a href="" ng-if="pagination.current==1"> < </a>
    </li>
    <li ng-repeat="pageNumber in pages track by $index" ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }" >
        <a ng-if="pageNumber!=pagination.current" href="" ng-click="setCurrent(pageNumber);tmpVar.tmpCurrPage=pageNumber">{{ pageNumber }}</a>
      	<input style="width:100%;text-align:center" ng-init="tmpVar.tmpCurrPage=pagination.current" ng-if="pageNumber==pagination.current"  ng-model="tmpVar.tmpCurrPage" ng-change="tmpVar.tmpCurrPage=onPageChange({changeFromInput:tmpVar.tmpCurrPage,paginationItem:pagination,directivePageChangeFunction:setCurrent});" type="text" placeholder="page" >
 </li>

    <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }" >
        <a href="" ng-if="pagination.current != pagination.last " ng-click="setCurrent(pagination.current + 1);tmpVar.tmpCurrPage=pagination.current+1"   > > </a>
        <a href="" ng-if="pagination.current == pagination.last "> > </a>
    </li>
    <li  ng-if="pagination.last>10" ng-class="{ disabled : (pagination.current == pagination.last || pagination.current +10 > pagination.last)}">
        <a href="" ng-if="!(pagination.current == pagination.last || pagination.current +10 > pagination.last)" ng-click="setCurrent(pagination.current + 10);tmpVar.tmpCurrPage=pagination.current+10"> +10 </a>
        <a href="" ng-if="(pagination.current == pagination.last || pagination.current +10 > pagination.last)" > +10 </a>
    </li>
</ul>
</script>

<script type="text/ng-template" id="headThTemplate.html">
<th scope="col" ng-repeat="val in tableColumns" width="{{val.size}}" class="{{val.customClass}}" ng-class="{'checkboxSpace':val.name =='--MULTISELECT--'}">
<div ng-if="val.name =='--MULTISELECT--'" class = 'angularTableSelectAll th-inner' >

		<md-tooltip md-direction="top">Select/Deselect All</md-tooltip>
	
   <md-checkbox 
       ng-checked="multiSelectVal"
       ng-click="selectAll()"  
       aria-label="selected item checked">  
    </md-checkbox>
</div>

    <div id="headDiv{{$index}}"  ng-hide="hideTableHead==true" ng-if="val.name !='--MULTISELECT--' && val.name!='--ROW_DETAIL--'" ng-click="orderBy(val)"  ng-class="{ 'black': val.name==column_ordering}" layout="row" layout-align="start center" class="th-inner" >
        
        <md-icon  ng-class="{ 'hidden': val.name!=column_ordering.name ,'fa fa-arrow-down' : (val.name==column_ordering.name && reverse_col_ord) ,'fa fa-arrow-up' : (val.name==column_ordering.name && !reverse_col_ord)}"></md-icon>
        <span ng-if="val.name!='--MULTISELECT--'"  flex>
                {{val.label}}
        
            <md-tooltip ng-if="column.hideTooltip!=true" md-delay="1000" md-direction="bottom"  >{{val.label}}</md-tooltip> 
        </span>
    </div>
</th>
</script>

<script type="text/ng-template" id="bodyTemplate.html">

<tr scope="row" ui-tree-node dir-paginate="row in ngModel |  filterBySpecificColumns:columnsSearch:searchFastVal| customOrdering:internal_column_ordering:internal_reverse_col_ord:tableColumns:initialSorting:initialSortingAsc | itemsPerPage:itemsPerPage track by $index" 
	pagination-id='id+"PaginationTable"' total-items='totalItemCount' current-page='pagination.currentPageNumber'
	ng-class="{'selectedRowItem': (highlightsSelectedItem==true && isSelected(row) ), 'hiddenRow':row.hideRow}"  class="animate-repeat-tablerow"
 	ng-if="isVisibleRowFunction(row)">
	<td  ng-repeat="column in tableColumns" ng-switch="column.static==true? '--STATIC--' : column.name" ng-click="clickItem(row,column.name,getColumnValue(row,column.name),$event,$parent.$index)" ng-dblclick="startEdit(row,column,getColumnValue(row,column.name),$event)" context-menu  data-target='{{id}}TableContextMenu-{{$parent.$index}}-{{$index}}' class="{{column.customRecordsClass}} " 
		ng-class="{ 'highlight': highlight, 'expanded' : expanded,'tableDragBar':column.name=='--DRAG_AND_DROP--'}" ng-style="column.style==undefined ? '' :  getDynamicValue(column.style,row,column,$parent.$index)" >
		
		<span ng-switch-when="--STATIC--" ng-if="column.template==undefined" ng-class="getChangedValueStyle(row,column.name)" ng-bind="row[column.name]" >
			<md-tooltip ng-if="column.hideTooltip!=true" md-delay="100" md-direction="bottom"  >{{row[column.name]}}</md-tooltip>
		</span>
		<span ng-switch-when="--STATIC--" ng-if="column.template!=undefined" ng-class="getChangedValueStyle(row,column.name)" build-template="column.template" ></span>

		<span ng-switch-default ng-if="column.name!='--MULTISELECT--'" ng-switch="allowEdit==true && row.editing==true && column.editable==true" > 
	 		<!--dynamic cell (default)-->
			<span  ng-switch-when="false"  ng-class="getChangedValueStyle(row,column.name)"  dynamichtml="getColumnValue(row,column.name,column.transformer)"   >
				<md-tooltip ng-if="column.hideTooltip!=true" md-delay="100" md-direction="bottom"><span dynamichtml="getColumnValue(row,column.name,column.transformer)"></span></md-tooltip>
			</span>
			<input   ng-switch-when="true"   ng-model="row[column.name]" ng-blur="doneEdit(row,column,getColumnValue(row,column.name),$event)" type="{{column.inputType || 'text'}}" autofocus />
		</span>

		<md-button ng-init="exp=false" class="md-icon-button rowExpanderButton" ng-if="column.name=='--ROW_DETAIL--' && (showExpanderRowCondition==undefined || showExpanderRowCondition({row:row}))" aria-label="expander row" ng-click="$event.stopPropagation();showRowDetail($event);exp=!exp;" >
        	<md-icon md-font-icon="fa " ng-class="{'fa-chevron-up': exp,'fa-chevron-down':!exp}"></md-icon>
      	</md-button>	

		<i ng-switch-when="--DRAG_AND_DROP--" ui-tree-handle class="fa fa-bars "></i>
			
		<md-checkbox ng-if="column.name=='--MULTISELECT--'"  ng-checked="isSelected(row)" ng-click="clickItem(row,column.name,getColumnValue(row,column.name),$event)" aria-label="selected item checked"> </md-checkbox>
		
		<span layout="row" ng-switch-when="--SPEEDMENU--" ng-if="speedMenuOption.length<=3">
			<md-button ng-if="getDynamicValue(menuItem.visible,row,column)!=false" 
				ng-repeat="menuItem in speedMenuOption" 
			 	ng-click='$event.stopPropagation();menuItem.action(row,$event);'
			 	class="md-icon-button actionButton"
			 	action-background-color={{menuItem.backgroundColor}} >
				<md-tooltip ng-if="menuItem.label!=undefined" md-direction="top">{{getDynamicValue(menuItem.label,row,column)}}</md-tooltip>	 
  	     	 	<md-icon ng-if="menuItem.icon!=undefined" ng-class="getDynamicValue(menuItem.icon,row,column)" action-color={{getDynamicValue(menuItem.color,row,column)}}></md-icon>
 	      	</md-button>
		</span>

		<md-menu ng-switch-when="--SPEEDMENU--" ng-if="speedMenuOption.length>3 ">
      		<md-button aria-label="row interactions menu" class="md-icon-button" ng-click="$event.stopPropagation();$mdOpenMenu($event)">
      			<md-icon md-menu-origin md-font-icon="fa fa-ellipsis-v"></md-icon>
      		</md-button>
     		<md-menu-content width="4" >
        		<md-menu-item ng-repeat="menuItem in speedMenuOption" ng-if="getDynamicValue(menuItem.visible,row,column)!=false"> 
          			<md-button ng-click="$event.stopPropagation();menuItem.action(row,$event);" action-background-color={{menuItem.backgroundColor}} ng-class="menuItem.buttonClass">
		   				<md-icon  ng-if="menuItem.icon!=undefined" action-color="{{getDynamicValue(menuItem.color,row,column)}}" ng-class="getDynamicValue(menuItem.icon,row,column)" md-menu-align-target></md-icon>
		    			<span ng-if="menuItem.label!=undefined">{{getDynamicValue(menuItem.label,row,column)}}</span> 
          			</md-button>
       		 	</md-menu-item>
      		</md-menu-content>
   		</md-menu>

		<div class="dropdown_menu_list " style="z-index: 999; " id='{{id}}TableContextMenu-{{$parent.$index}}-{{$index}}' )>
			<md-list class="dropdown-menu bottomBorder" role="menu" ng-if="menuOption.length!=0 && menuOption!=undefined && column.name!='--MULTISELECT--' && column.name!='--SPEEDMENU--'"> 
				<md-list-item ng-repeat=" menuItem in menuOption" role="menuitem"	ng-click='menuItem.action(row,getColumnValue(row,column.name),$event);$event.stopPropagation();' tabindex='{{$index}}' >
					<p >{{menuItem.label}}</p>
				</md-list-item>
			</md-list>
		</div>	
	</td>
 
</tr>

	
</script>


