/*******************************************************************************************************
 * Model Structure
 ********************************************************************************************************/
  
.has-kpi {
	 background-image:url(../../img/kpi/kpiico16.png) !important;
}
.ou {
	 background-image:url(../../img/kpi/door_colsed16.png) !important;
}
.line-through {
	text-decoration:line-through;
	color: gray;
}
.no-error {
	 font-weight: normal;
	 font-style: normal;
	 text-decoration: none;
}
.x-grid3-scroller{
	background-color: #f1f1f1;
}
.x-grid3-row{
	background-color: #f1f1f1;
}
.icon-copytree {
	 background-image:url(../../img/copytree.gif) !important;
}

.kpi-ou-trees{
	width: 50%;
	height: 100%;
}
.no-grant {
	 font-weight: bold;
	 font-style: italic;
	 text-decoration: none;
}
.grant {
	 font-weight: normal;
	 font-style: normal;
	 text-decoration: none;
}
.no-pad{
	padding: 0;
	margin: 0;
	/*float: left;
	width: 100%;*/
}





/*!
 * Ext JS Library 3.3.0
 * Copyright(c) 2006-2010 Ext JS, Inc.
 * licensing@extjs.com
 * http://www.extjs.com/license
 */
.x-column-tree .x-panel-header {
	padding: 3px 0px 0px 0px;
	border-bottom-width: 0px;
}

.x-column-tree .x-panel-header .x-panel-header-text {
	margin-left: 3px
}

.x-column-tree .x-tree-node {
    zoom:1;
}
.x-column-tree .x-tree-node-el {
    /*border-bottom:1px solid #eee; borders? */
    zoom:1;
}
.x-column-tree .x-tree-selected {
    background: #d9e8fb;
}
.x-column-tree  .x-tree-node a {
    line-height:18px;
    vertical-align:middle;
}
.x-column-tree  .x-tree-node a span{
	
}
.x-column-tree  .x-tree-node .x-tree-selected a span{
	background:transparent;
	color:#000;
}
.x-tree-col {
    float:left;
    overflow:hidden;
    padding:0 1px;
    zoom:1;
}

.x-tree-col-text, .x-tree-hd-text {
    color:#000;
    overflow:hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding:1px 3px 1px 5px;
    white-space: nowrap;
    font:normal 11px arial, tahoma, helvetica, sans-serif;
}


.x-tree-hd {
    float:left;
    overflow:hidden;
    border-left:1px solid #eee;
    border-right:1px solid #d0d0d0;
}

/*
 new KPI GUI
*/
.node-folder {
	 background-color: #F1F3CB;
}
.trend-up {
	 background-image:url(../../img/kpi/trend-up.png) !important;
	 background-repeat:no-repeat;
	 background-position: center;
}
.trend-down{
	 background-image:url(../../img/kpi/trend-down.png) !important;
	 	 background-repeat:no-repeat;
	 background-position: center;
}
.trend-equal {
	 background-image:url(../../img/kpi/trend-equal.png) !important;
	 	 background-repeat:no-repeat;
	 background-position: center;
}
.rounded-box{
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border: 1px solid silver;
  padding: 5px;
}
.kpi-grid-header:hover
{
	cursor:e-resize;
}
/*
.x-treegrid-col{
	word-wrap: break-word;
	width: 100%;
}*/