<?xml version="1.0" encoding="UTF-8"?>
<MENU>
	<ADMIN>
		<GROUP_ITEM label="menu.DataProviders" iconCls="storage">

			<ITEM label="menu.EngMan" type="EnginesManagement"
				to="${SPAGOBI_CONTEXT}${SPAGO_ADAPTER_HTTP}?PAGE=ListEnginesPage&amp;LIGHT_NAVIGATOR_RESET_INSERT=TRUE" />
			<ITEM label="menu.DataSourceMan" type="DataSourceManagement"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/datasource/datasource.jsp" />
			<ITEM label="menu.DataSetMan" type="DatasetManagement"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/catalogue/datasetManagement.jsp?LIGHT_NAVIGATOR_RESET_INSERT=TRUE" />

		</GROUP_ITEM>
		<GROUP_ITEM label="menu.ProfileMenu"
			iconCls="fa fa-2x fa-id-card-o">

			<ITEM label="menu.Attributes" type="ProfileManagement"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/catalogue/profileAttributesManagement.jsp?LIGHT_NAVIGATOR_RESET_INSERT=TRUE" />
			<ITEM label="menu.Roles" type="ProfileManagement"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/catalogue/rolesManagement.jsp?LIGHT_NAVIGATOR_RESET_INSERT=TRUE" />
			<ITEM label="menu.Users" type="ProfileManagement"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/catalogue/usersManagement.jsp?LIGHT_NAVIGATOR_RESET_INSERT=TRUE" />
			<ITEM label="menu.menuconfiguration" type="MenuManagement"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/catalogue/menuConfiguration.jsp?LIGHT_NAVIGATOR_RESET_INSERT=TRUE" />
			<ITEM label="menu.FunctMan" type="FunctionalitiesManagement"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/catalogue/functionalitiesManagement.jsp?LIGHT_NAVIGATOR_RESET_INSERT=TRUE" />
			<ITEM label="menu.community.mng" type="CommunityManagement"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/community/ManageCommunity.jsp" />
		</GROUP_ITEM>
		<GROUP_ITEM label="menu.BehaviouralModelMenu"
			iconCls="fa fa-2x fa-users">

			<ITEM label="menu.lovs.management" type="LovsManagement"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/catalogue/lovsManagement.jsp"
				iconCls="fa fa-2x fa-list" />
			<!-- <ITEM label="menu.LovMan" type="LovsView" to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/catalogue/lovsManagement.jsp?LIGHT_NAVIGATOR_RESET_INSERT=TRUE" 
				/> -->
			<ITEM label="menu.ParameterMan" type="ParameterView"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/catalogue/analyticalDrivers.jsp?LIGHT_NAVIGATOR_RESET_INSERT=TRUE" />
			<ITEM label="menu.ConstraintMan" type="ConstraintView"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/catalogue/modalitiesCheck.jsp?LIGHT_NAVIGATOR_RESET_INSERT=TRUE" />
			<ITEM label="menu.BehaviouralModelLineage"
				type="BehaviouralModelLineage"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/catalogue/behaviouralModelLineage.jsp?LIGHT_NAVIGATOR_RESET_INSERT=TRUE" />
		</GROUP_ITEM>
		<GROUP_ITEM label="menu.Catalogs"
			iconCls="fa fa-2x fa-paint-brush">

			<ITEM label="menu.MetaModelsCatalogue"
				type="MetaModelsCatalogueManagement"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/catalogue/businessModelCatalogue.jsp?LIGHT_NAVIGATOR_RESET_INSERT=TRUE" />
			<ITEM label="menu.MondrianCatalogue"
				type="ArtifactCatalogueManagement"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/catalogue/mondrianSchemasCatalogue.jsp?type=MONDRIAN_SCHEMA&amp;LIGHT_NAVIGATOR_RESET_INSERT=TRUE" />
			<ITEM label="menu.MapCat" type="MapCatalogueManagement"
				to="${SPAGOBI_CONTEXT}${SPAGO_ADAPTER_HTTP}?PAGE=ListMapsPage&amp;LIGHT_NAVIGATOR_RESET_INSERT=TRUE" />
			<ITEM label="menu.FeatureMapCat" type="MapFeaturesManagement"
				to="${SPAGOBI_CONTEXT}${SPAGO_ADAPTER_HTTP}?PAGE=ListFeaturesPage&amp;LIGHT_NAVIGATOR_RESET_INSERT=TRUE" />
			<ITEM label="menu.MeasuresCatalogue"
				type="MeasuresCatalogueManagement"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/measure/measuresCatalogue.jsp" />
			<ITEM label="menu.LayersCatalogue" type="GeoLayersManagement"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/layer/layerCatalogue.jsp" />
			<ITEM label="menu.glossary.technical"
				type="ManageGlossaryTechnical"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/glossary/technicaluser/glossaryTechnical.jsp"
				iconCls="fa fa-2x fa-book" />
			<ITEM label="menu.glossary.business"
				type="ManageGlossaryBusiness"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/glossary/businessuser/glossaryBusiness.jsp"
				iconCls="fa fa-2x fa-building" />
			<ITEM label="menu.calendar" type="ManageCalendar"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/calendar/calendarTemplate.jsp"
				iconCls="fa fa-2x fa-calendar" />
			<ITEM label="menu.timespan" type="Timespan"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/timespan/timespan.jsp" />
			<ITEM label="menu.calendar" type="Calendar"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/calendar/calendarTemplate.jsp" />
			<ITEM label="menu.FunctionsCatalog"
				type="FunctionsCatalogManagement"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/functionsCatalog/functionsCatalog.jsp" />
		</GROUP_ITEM>

		<GROUP_ITEM label="menu.ToolsMenu"
			iconCls="fa fa-2x fa-tasks">

			<ITEM label="menu.Scheduler" type="SchedulerManagement"
				to="${SPAGOBI_CONTEXT}${SPAGO_ADAPTER_HTTP}?ACTION_NAME=MANAGE_SCHEDULER_ACTION_ANGULARJS&amp;LIGHT_NAVIGATOR_RESET_INSERT=TRUE" />
			<ITEM label="menu.SchedulerMonitor" type="SchedulerManagement"
				to="${SPAGOBI_CONTEXT}${SPAGO_ADAPTER_HTTP}?ACTION_NAME=MANAGE_SCHEDULER_MONITOR_ACTION&amp;LIGHT_NAVIGATOR_RESET_INSERT=TRUE" />
			<ITEM label="menu.HierarchiesEditor"
				type="HierarchiesManagement"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/hierarchieseditor/hierarchiesEditor.jsp" />
			<ITEM label="menu.CacheManagement" type="CacheManagement"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/cache/cacheHome.jsp" />
			<ITEM label="menu.cross.definition" type="ManageCrossNavigation"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/cross/definition/crossDefinition.jsp" />
			<ITEM label="menu.Alert" type="AlertManagement"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/alert/alertDefinition.jsp" />
			<ITEM label="menu.NewsManagement" type="NewsManagement"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/news/newsManagement.jsp" />
		</GROUP_ITEM>

		<GROUP_ITEM label="menu.ServerSettings"
			iconCls="fa fa-2x fa-cogs">
			<!-- <ITEM label="menu.UdpMan" type="UserDefinedPropertyManagement" to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/udp/manageUdpAngular.jsp" 
				/> -->
			<ITEM label="menu.Config" type="ConfigManagement"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/config/configManagement.jsp" />
			<ITEM label="menu.Domain" type="DomainManagement"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/domain/domainManagement.jsp" />

			<ITEM label="Exporters menu" type="ExportersCatalogue"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/catalogue/exportersCatalogue.jsp" />
			<ITEM label="menu.MetadataMan" type="ObjMetadataManagement"
				to="${SPAGOBI_CONTEXT}${SPAGO_ADAPTER_HTTP}?PAGE=ListObjMetadataPage&amp;LIGHT_NAVIGATOR_RESET_INSERT=TRUE" />
		</GROUP_ITEM>


		<GROUP_ITEM label="menu.ServerManager"
			iconCls="fa fa-2x fa-cogs">

			<ITEM label="menu.TenantMan" type="TenantManagement"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/multitenant/multitenantManagementAngular.jsp" />
			<ITEM label="menu.TemplateManagement" type="TemplateManagement"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/servermanager/templateManagement.jsp" />
			<ITEM label="menu.ImpExpDocument" type="ImpExpDocument"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/servermanager/importExportDocuments/importExportDocuments.jsp" />
			<ITEM label="menu.ImpExpMenu" type="ImpExpMenu"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/servermanager/importExportMenu/importExportMenu.jsp" />
			<ITEM label="menu.ImpExpUsers" type="ImpExpUsers"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/servermanager/importExportUsers/importExportUsers.jsp" />
			<ITEM label="menu.ImpExpKpis" type="ImpExpKpis"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/servermanager/importExportKpis/importExportKpis.jsp" />
			<ITEM label="menu.ImpExpCatalog" type="ImpExpCatalog"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/servermanager/importExportCatalog/importExportCatalog.jsp" />
			<ITEM label="menu.ImpExpAnalyticalDrivers"
				type="ImpExpAnalyticalDrivers"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/servermanager/importExportAnalyticalDrivers/importExportAnalyticalDrivers.jsp" />
			<ITEM label="menu.ImpExpGlossary" type="ImpExpGlossary"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/servermanager/importExportGlossary/importExportGlossaryTemplate.jsp" />
			<ITEM label="menu.ImpExpAlerts" type="ImpExpAlerts"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/servermanager/importExportAlerts/importExportAlerts.jsp" />
			<ITEM label="menu.InstallConf" type="InstallConfig"
				to="${SPAGOBI_CONTEXT}/restful-services/2.0/installconfig" />
			<ITEM label="menu.license" type="LicenseManagement"
				to="showLicenseDialog" />
			<ITEM label="menu.event" type="EventsManagement"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/event/eventLogsApp.jsp" />

		</GROUP_ITEM>

		<GROUP_ITEM label="menu.i18n" iconCls="fa fa-flag">
			<ITEM label="menu.manageI18n" type="ManageInternationalization"
				to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/internationalization/internationalization.jsp"
				iconCls="fa fa-2x fa-flag" />
		</GROUP_ITEM>
	</ADMIN>

	<FIXED>
		<ITEM label="menu.home" iconCls="pi pi-fw pi-home" to="/knowage"/>
		<ITEM label="menu.Languages" iconCls="fab fa-font-awesome-flag" command="languageSelection"/>
		<ITEM label="menu.RoleSelection" iconCls="fas fa-users-cog"
			command="roleSelection" />
		<ITEM label="menu.info" iconCls="fas fa-info-circle" command="info" />
		<ITEM label="menu.login"
			to="${SPAGOBI_CONTEXT}/servlet/AdapterHTTP?ACTION_NAME=LOGOUT_ACTION&amp;LIGHT_NAVIGATOR_DISABLED=TRUE"
			iconCls="fas fa-sign-in-alt" condition="public_user" />
		<ITEM label="menu.logout"
			command="logout" condition="silent_login"
			iconCls="fas fa-sign-out-alt" />
	</FIXED>


	<USER>
		<!-- <ITEM label="menu.DocumentDev" type="DocumentDevManagement" to="${SPAGOBI_CONTEXT}${SPAGO_ADAPTER_HTTP}?ACTION_NAME=DOCUMENT_USER_BROWSER_START_ANGULAR_ACTION" 
			iconCls="fa fa-2x fa-folder-o" /> <ITEM label="menu.DocumentTest" type="DocumentTestManagement" 
			to="${SPAGOBI_CONTEXT}${SPAGO_ADAPTER_HTTP}?ACTION_NAME=DOCUMENT_USER_BROWSER_START_ANGULAR_ACTION" 
			iconCls="fa fa-2x fa-folder-o" /> <ITEM label="Workspace" type="WorkspaceManagement" 
			iconCls="fa fa-2x fa-briefcase" /> -->

		<ITEM label="menu.Browser" type="SeeDocBrowser"
			to="${SPAGOBI_CONTEXT}/servlet/AdapterHTTP?ACTION_NAME=DOCUMENT_USER_BROWSER_START_ANGULAR_ACTION&amp;LIGHT_NAVIGATOR_RESET_INSERT=TRUE"
			iconCls="far fa-folder-open" />

		<ITEM label="menu.workspace" type="FinalUsersManagement"
			to="${SPAGOBI_CONTEXT}/restful-services/publish?PUBLISHER=/WEB-INF/jsp/tools/workspace/workspaceManagement.jsp"
			iconCls="fas fa-briefcase" />

		<ITEM label="My Account" condition="my_account"
			to="${SPAGOBI_CONTEXT}/restful-services/signup/prepareUpdate"
			iconCls="fas fa-address-card" />

	</USER>

</MENU>