<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
 <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %5p %X{PID} --- [%015t] %c.%M : %m%n" />
        </Console>
  </Appenders>
    <Loggers>
       <Root level="TRACE">
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>
</Configuration>