<div layout="row" layout-padding ng-class="{'inverse-flex': inverse}" ng-if="tagsArray"> 
	<div flex>
		<span class="kn-chip noSelect" ng-repeat="tag in tagsArray | limitTo:tagsVisible track by $index" ng-click="toggleTag(tag)" ng-class="{'tagSelected':tag.isSelected}">
			{{tag.name}}
		</span>
		<span ng-if="tagsArray.length > tagsVisible"> ... </span>
	</div>
	<md-button class="md-icon-button" ng-click="toggleAllTags()">
		<md-icon ng-if="tagsArray.length > tagsVisible && tagsVisible == 100" md-font-icon="fa fa-chevron-up" ></md-icon>
		<md-icon ng-if="tagsArray.length > tagsVisible && tagsVisible != 100" md-font-icon="fa fa-chevron-down" ></md-icon>
	</md-button>
</div>