.x-livesearch-match {
	font-weight: bold;
	background-color: yellow;
}

.fa-trigger {
	background-image: none !important;
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-align: center;
	padding-top: 12px;
}

.my-map-trigger:after {
	content: "\f087";
	color: red;
}