.p-breadcrumb.kn-breadcrumb,
.p-breadcrumb.kn-breadcrumb-toolbar {
    border-radius: 0;
    background: transparent;
    border: 0;
    height: 100%;
    max-height: var(--kn-breadcrumb-height);
    padding: 0 0 0 4px;
    display: flex;
    .p-breadcrumb-chevron {
        display: inline-flex;
        height: 100%;
        align-items: center;
        margin-right: 8px;
        color: var(--kn-breadcrumb-items-color);
        font-size: 12px;
        line-height: 30px;
        &:nth-child(2) {
            display: none;
        }
    }
    li {
        &:not(.p-breadcrumb-home) {
            .breadcrumbs-item {
                display: inline;
                white-space: nowrap;
                height: 30px;
                text-align: center;
                position: relative;
                font-size: 12px;
                text-decoration: none;
                text-transform: none;
                border-radius: 10px;
                border: var(--kn-breadcrumb-items-border);
                background-color: transparent;
                padding: 0 16px;
                line-height: 24px;
                color: var(--kn-breadcrumb-items-color);
                height: 30px;
            }
        }
        &:last-child {
            .breadcrumbs-item {
                cursor: default;
                color: var(--kn-breadcrumb-selected-item-color);
                border: var(--kn-breadcrumb-selected-item-border);
            }
        }
    }

    .breadcrumbs-item:hover {
        cursor: pointer;
    }
}
.p-breadcrumb.kn-breadcrumb-toolbar {
    .p-breadcrumb-chevron {
        color: var(--kn-breadcrumb-toolbar-items-color);
    }
    li {
        &:not(.p-breadcrumb-home) {
            .breadcrumbs-item {
                border: var(--kn-breadcrumb-toolbar-items-border);
                color: var(--kn-breadcrumb-toolbar-items-color);
            }
        }
        &:last-child {
            .breadcrumbs-item {
                cursor: default;
                color: var(--kn-breadcrumb-toolbar-selected-item-color);
                border: var(--kn-breadcrumb-toolbar-selected-item-border);
            }
        }
    }
}
