.p-card.kn-card {
    &.no-padding {
        .p-card-body {
            padding: 0 0 8px 0;
            .p-card-content {
                padding: 0 0 8px 0;
            }
        }
    }

    &.full-height {
        height: 100%;
        .p-card-body {
            height: 100%;
            .p-card-content {
                height: 100%;
            }
        }
    }
}
