.p-card.kn-card {
    border-radius: var(--kn-button-border-radius);

    &.no-padding {
        .p-card-body {
            padding: 0 0 8px 0;
            .p-card-content {
                padding: 0 0 8px 0;
            }
        }
    }

    &.full-height {
        height: 100%;
        .p-card-body {
            height: 100%;
            .p-card-content {
                height: 100%;
            }
        }

        &--with-toolbar {
            @extend .full-height;

            .p-card-body {
                height: calc(100% - 35px);
                padding-bottom: 0px;

                .p-card-content {
                    padding-bottom: 0px;
                }
            }
        }
    }
}
