.dashboardEditor {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    position: absolute;
    z-index: 999;
    display: flex;
    flex-direction: column;

    .datasetEditor-container {
        flex: 1;
        display: flex;
    }

    .dashboardEditor-tabs.p-tabview {
        overflow: auto;
        display: flex;
        flex-direction: column;
        flex: 1;
        .p-tabview-panels {
            overflow: auto;
            padding: 0;
            display: flex;
            flex-direction: column;
            flex: 1;
            .p-tabview-panel {
                overflow: auto;
                display: flex;
                flex-direction: row;
                flex: 1;
            }
        }
    }

    .details-warning-color {
        color: red;
    }
}
