.kn-dialog {
    &--toolbar {
        .p-dialog-header {
            @extend .kn-toolbar;
            border-top-right-radius: 0 !important;
            border-top-left-radius: 0 !important;
        }

        &--primary {
            @extend .kn-dialog--toolbar;

            .p-dialog-header {
                background-color: var(--kn-toolbar-primary-background-color) !important;
                color: var(--kn-toolbar-primary-color) !important;

                .p-dialog-title {
                    font-weight: var(--kn-toolbar-font-weight) !important;
                    font-size: var(--kn-toolbar-font-size) !important;
                }
            }
        }

        &--secondary {
            @extend .kn-dialog--toolbar;

            .p-dialog-header {
                background-color: var(--kn-toolbar-secondary-background-color) !important;
                color: var(--kn-toolbar-secondary-color) !important;

                .p-dialog-title {
                    font-weight: var(--kn-toolbar-font-weight) !important;
                    font-size: var(--kn-toolbar-font-size) !important;
                }
            }
        }
    }
}
