.p-inputswitch {
    &.p-inputswitch-checked {
        &:not(.p-disabled) {
            &:hover {
                .p-inputswitch-slider {
                    background: var(--kn-input-checkbox-selected-background);
                }
            }
        }
        .p-inputswitch-slider {
            background: var(--kn-input-checkbox-selected-background);
            &:before {
                background: var(--kn-input-checkbox-selected-color);
            }
        }
    }
}
