.kn-list,
.kn-list.p-listbox {
    border: none;
    border-radius: 0;
    border-right: 1px solid $list-border-color;

    &.kn-list-no-border-right {
        border-right: none;
    }

    &--column {
        @extend .kn-list;
        height: 100vh;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .p-listbox {
            flex: 1;
        }
    }
    .p-listbox-list {
        .p-listbox-item {
            padding: 0;
            margin: 0;
            a {
                display: block;
                &.router-link-active {
                    background-color: $list-item-selected-background-color;
                }
            }
        }
    }

    .p-listbox-filter-container {
        input.p-listbox-filter {
            border-radius: 0;
        }
    }

    .kn-list-item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 0.75rem 0.75rem;
        border-bottom: 1px solid lighten($list-border-color, 15%);
        &.kn-list-item-success {
            border-left: 6px solid $color-success;
        }
        &.kn-list-item-warning {
            border-left: 6px solid $color-warning;
        }
        &.kn-list-item-error {
            border-left: 6px solid $color-error;
        }
        &.kn-list-item-info {
            border-left: 6px solid $color-info;
        }

        .kn-list-item-text {
            display: flex;
            flex: 1;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            margin-left: 0.8rem;
            overflow: hidden;

            .kn-list-item-text-secondary {
                color: $list-item-text-secondary-color;
                font-size: $list-item-text-secondary-font-size;
                width: 100%;
            }
        }
    }
}
