.kn-list,
.kn-list.p-listbox {
    border: none;
    border-radius: 0;
    border-right: 1px solid var(--kn-list-border-color);

    &.kn-list-no-border-right {
        border-right: none;
    }

    &.kn-list-border-left {
        border-left: 1px solid var(--kn-list-border-color);
        border-right: none;
    }

    &.kn-list-border-all {
        border: 1px solid var(--kn-list-border-color);
    }

    &--column {
        @extend .kn-list;
        height: 100vh;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .p-listbox {
            flex: 1;
        }
    }
    .p-listbox-list {
        .p-listbox-item {
            padding: 0;
            margin: 0;
            height: 100%;
            a {
                display: block;
                &.router-link-active {
                    background-color: var(--kn-list-item-selected-background-color);
                }
            }
        }
        .kn-list-item {
            display: flex;
            flex-direction: row;
            height: var(--kn-list-item-height);
            justify-content: flex-start;
            align-items: center;
            padding: 0.75rem 0.75rem;
            border-bottom: 1px solid var(--kn-list-border-color);
            &.kn-list-item-success {
                border-left: 6px solid var(--kn-color-success);
            }
            &.kn-list-item-warning {
                border-left: 6px solid var(--kn-color-warning);
            }
            &.kn-list-item-error {
                border-left: 6px solid var(--kn-color-error);
            }
            &.kn-list-item-info {
                border-left: 6px solid var(--kn-color-info);
            }
            &.router-link-active {
                background-color: var(--kn-list-item-selected-background-color);
            }

            .kn-list-item-text {
                display: flex;
                flex: 1;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                margin-left: 0.8rem;
                overflow: hidden;

                .kn-list-item-text-secondary {
                    color: var(--kn-list-item-text-secondary-color);
                    font-size: var(--kn-list-item-text-secondary-font-size);
                    width: 100%;
                }
            }
        }
    }

    .p-listbox-filter-container {
        input.p-listbox-filter {
            border-radius: 0;
        }
    }
}
