.kn-tieredMenu.p-tieredmenu.p-tieredmenu-overlay {
    transform: translateX($mainmenu-width) translateY(-41px);
    border-radius: 0;
    &.smallScreen {
        transform: translateX($mainmenu-width) translateY(41px);
    }
}
