.kn-tieredMenu.p-tieredmenu.p-tieredmenu-overlay {
    transform: translateX(var(--kn-mainmenu-width)) translateY(-41px);
    border-radius: 0;
    &.smallScreen {
        transform: translateX(var(--kn-mainmenu-width)) translateY(41px);
    }
}
@media only screen and (max-width: 768px) {
    .menu-scroll-content {
        .p-scrollpanel-content {
            width: 100%;
        }
    }
}
