.layout-wrapper-content {
    &.layout-wrapper-content-embed {
        .layout-menu-container {
            display: none;
        }
        .layout-main {
            margin-left: 0;
        }
        .kn-page--full {
            width: 100%;
        }
    }
}

.kn-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    &--full {
        @extend .kn-page;
        width: calc(100% - #{var(--kn-mainmenu-width)});
    }
    .kn-page-content {
        flex: 1;
        overflow-y: auto;
    }
}
