.p-paginator {
    .p-paginator-pages {
        .p-paginator-page {
            &.p-highlight {
                background-color: var(--kn-paginator-background-color);
                color: var(--kn-paginator-color);
                border-color: var(--kn-paginator-background-color);
            }
        }
    }
}
