.kn-table {
    height: 100%;
    display: flex;
    flex-direction: column;

    &.kn-table-small-input {
        .p-inputtext {
            padding: 0;
        }
    }

    .p-datatable-wrapper {
        height: 100%;
        .p-paginator-bottom {
            flex: 1;
        }
    }

    .p-button {
        &.p-button-icon-only {
            padding: 0;
            .p-button-icon {
                color: $button-icon-color-default;
                padding: 4px;
            }
        }
    }
}
