.kn-table {
    height: 100%;
    display: flex;
    flex-direction: column;

    &.kn-table-small-input {
        .p-inputtext {
            padding: 0;
        }
    }

    &.p-datatable-hoverable-rows {
        .p-datatable-tbody {
            tr:not(.p-highlight) {
                &:hover {
                    background-color: var(--kn-table-selected-background-color);
                }
            }
        }
    }

    &.p-datatable-sm {
        font-size: 0.8rem;
        .p-datatable-tbody {
            tr {
                td {
                    padding: 0.2rem;
                    .fa-stack {
                        height: 1em;
                        line-height: 1em;
                        .fa-stack-2x {
                            font-size: 1.6rem;
                            height: 1rem;
                            line-height: 1rem;
                        }
                    }
                }
            }
        }
    }

    .p-datatable-wrapper {
        height: 100%;
        .p-paginator-bottom {
            flex: 1;
        }
    }

    .p-button {
        &.p-button-icon-only {
            padding: 0;
            .p-button-icon {
                color: var(--kn-button-icon-color-default);
                padding: 4px;
            }
        }
    }
}
