<md-card layout-fill layout="column" class="flexCard" style="position:absolute" >
	<md-card-content flex layout="column" class="noPadding">
		<md-toolbar >
			<div class="md-toolbar-tools">{{translate.load("sbi.cockpit.association.editor.wizard.list.autodetect")}}</div>
		</md-toolbar>
		
		<md-content flex layout="column">
		
			<div layout="row" flex layout-align="center center" ng-hide="showTable">
				<md-progress-circular md-mode="indeterminate" md-diameter="70"></md-progress-circular>
			</div>
					
			<md-card ng-show="showTable">
				<md-card-content layout="row" layout-padding layout-align="center center">
		
					<md-input-container flex="20" style="margin-bottom:0px;">
						<label>{{translate.load("sbi.cockpit.association.editor.wizard.list.autodetect.minSimilarity")}}</label>
						<md-select ng-model="selectedMinSimilarityValue">
							<md-option ng-repeat="minSimilarity in minSimilarityValues" value="{{minSimilarity}}">
								{{minSimilarity * 100 | number:0}}%
							</md-option>
						</md-select>
					</md-input-container>
					
					<div flex="10"></div>
				
					<md-input-container flex="20" style="margin-bottom:0px;">
						<label>{{translate.load("sbi.cockpit.association.editor.wizard.list.autodetect.minLength")}}</label>
						<md-select ng-model="selectedMinLengthValue">
							<md-option ng-repeat="minLength in minLengthValues" value="{{minLength}}">
								{{minLength}}
							</md-option>
						</md-select>
					</md-input-container>
				
				</md-card-content>
			</md-card>
			
			<angular-table flex ng-show="showTable"
				id="cockpitAutodetectChoice"
				ng-model="cockpitAutodetectFilteredRows"
				columns="cockpitAutodetectColumns"
				sortable-column="[]"
				columns-search="cockpitAutodetectColumnsSearch"
				show-search-bar="true"
				multi-select="false"
				comparison-column="___id"
				highlights-selected-item="true"
				no-pagination="false"
				selected-item="cockpitAutodetectSelectedRow"
				>
			</angular-table>
			
		</md-content>
	</md-card-content>
	
	<md-card-actions layout="row" layout-align="end center">
		<md-button ng-click="closeDialog()">{{translate.load("sbi.generic.cancel")}}</md-button>
		<md-button ng-click="saveAutodetect()" ng-disabled="!cockpitAutodetectSelectedRow">{{translate.load("sbi.generic.save")}}</md-button>
	</md-card-actions>
</md-card>