#set($dataFields = $data.metaData.fields) ## columns of data table
#set($dataColumnsMapper = {})

#foreach ($dataField in $dataFields) ## conversion column name to internal column name
	#if($dataField.class.name == 'java.util.LinkedHashMap')
		#set($workAroundNoPrint = $dataColumnsMapper.put($dataField.header , $dataField.name))
	#end
#end

#set($rows = $data.rows) ## data in table rows


#set($series = $chart.VALUES.SERIE) ## metadata related to series

#set($seriesMap = {}) ## conversion series metadata to map object
#if($series.class.name == 'java.util.LinkedHashMap')
	#set($workAroundNoPrint = $seriesMap.put($series.name , $series))
#else
	#foreach($serie in $series)
		#set($workAroundNoPrint = $seriesMap.put($serie.name , $serie))
	#end
#end

{
    chart: {
   		type: 'gauge',

   		#if($chart.style.backgroundColor != '')
   		backgroundColor: '$chart.style.backgroundColor', ##outer chart background
    	#end
   		
   		#if($chart.height != '')
    	height:'$chart.height',
    	#end
    	
    	#if($chart.width != '')
    	width:'$chart.width',
    	#end

        plotBackgroundColor: null,
        plotBorderWidth: 0,
        plotShadow: false
    },
    
    
    title: {
        text: '$chart.TITLE.text',
        
        #set ($titleAlign = $chart.TITLE.style.align)
        #if ($titleAlign != '' )
        
        	#if ($titleAlign == 'left')
        	x: 70,
        	#elseif ($titleAlign == 'right')
        	x: -70,
        	#end
        
        align: '$titleAlign',
        #end
        
        style:{
        #foreach($styleName in $chart.TITLE.style.keySet())
        	#set ($axisTytleStyle = $chart.TITLE.style[$styleName])
    		#if ($styleName == 'fontWeight' && ($axisTitleStyle == 'italic' || $axisTitleStyle == 'normal'))
    			fontStyle: '$axisTitleStyle',
			#elseif($styleName == 'fontWeight' && $axisTytleStyle == 'underline')
    			textDecoration: 'underline',
			#else		        			
    			$styleName: '$axisTytleStyle',
    		#end
		#end
	    }
    },
    
    #if($chart.SUBTITLE.text != '')
    subtitle: {
        text: '$chart.SUBTITLE.text',
        
        #set ($subtitleAlign = $chart.SUBTITLE.style.align)
        #if ($subtitleAlign != '' )
        
        	#if ($subtitleAlign == 'left')
        	x: 70,
        	#elseif ($subtitleAlign == 'right')
        	x: -70,
        	#end
        
        align: '$subtitleAlign',
        #end
        
        style:{
        #foreach($styleName in $chart.SUBTITLE.style.keySet())
        	#set ($axisSubtitleStyle = $chart.SUBTITLE.style[$styleName])
    		#if ($styleName == 'fontWeight' && ($axisSubtitleStyle == 'italic' || $axisSubtitleStyle == 'normal'))
    			fontStyle: '$axisSubtitleStyle',
			#elseif($styleName == 'fontWeight' && $axisSubtitleStyle == 'underline')
    			textDecoration: 'underline',
			#else		        			
    			$styleName: '$axisSubtitleStyle',
    		#end
		#end
		}
    },
    #end
    
    
    pane: {    
        
    	#if($chart.PANE.startAngle)
        	startAngle: $chart.PANE.startAngle,
        #end
        #if($chart.PANE.endAngle)
        	endAngle: $chart.PANE.endAngle,
        #end
        
        background: [
        {
            backgroundColor: {
                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                stops: [[0, '#FFF'],[1, '#333']]
            },
            borderWidth: 0,
            outerRadius: '109%'
        }, {
            backgroundColor: {
                linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                stops: [
                    [0, '#333'],
                    [1, '#FFF']
                ]
            },
            borderWidth: 1,
            outerRadius: '107%'
        }, {
            // default background
        }, {
            backgroundColor: '#DDD',
            borderWidth: 0,
            outerRadius: '105%',
            innerRadius: '103%'
        }]
        
    },
    
    #set($axisList = {})
    #if($chart.AXES_LIST.AXIS.class.name == 'java.util.ArrayList')
    	#set($axisList = $chart.AXES_LIST.AXIS)
    #else
    	#set($axis = $axisList.put($axis.id , $chart.AXES_LIST.AXIS))
    #end
    
    yAxis:[
        ## Serie add
       
        #foreach ($yAxis in $axisList)   
                 	
        	#if ($yAxis.position != "bottom")
        	{    
        		min: $yAxis.min,
		        max: $yAxis.max,
		        
	        	title: {
		        	#if($yAxis.TITLE.enabled)
				 	 	enabled: $yAxis.TITLE.enabled
				 	#end
			 	 	
			 	 	#if($yAxis.TITLE.text)
	        			text: '$yAxis.TITLE.text',
	        		#end
	        		
				 	#if( $yAxis.TITLE.style )
		        		style:{
				        	#foreach($styleName in $yAxis.TITLE.style.keySet())
				        	
				        	
				        		#set ($axisTitleStyle = $yAxis.TITLE.style[$styleName])
				        		#if ($styleName == 'fontWeight' && ($axisTitleStyle == 'italic' || $axisTitleStyle == 'normal'))
				        			fontStyle: '$axisTitleStyle',
								#elseif($styleName == 'fontWeight' && $axisTitleStyle == 'underline')
				        			textDecoration: 'underline',
								#else		        			
				        			$styleName: '$axisTitleStyle',
				        		#end
				        	#end
		        		},
		        	#end
	        	},
	        	
	        	#if($yAxis.lineColor)
	        		lineColor: '$yAxis.lineColor', ##'#339',
	            #end
	        	#if($yAxis.tickPosition)
	        		tickPosition: '$yAxis.tickPosition',
	        	#end
	            #if($yAxis.tickColor)
	            	tickColor: '$yAxis.tickColor',
	            #end
	            #if($yAxis.minorTickColor)
	            	minorTickColor: '$yAxis.minorTickColor',
	            #end
	            #if($yAxis.offset)
	            	offset: $yAxis.offset,
	            #end
	            #if($yAxis.lineWidth)
	            	lineWidth: $yAxis.lineWidth,
	            #end
	            #if($yAxis.minorTickLength)
	            	minorTickLength: $yAxis.minorTickLength,
	            #end
	            #if($yAxis.endOnTickGauge)
	            	endOnTick: $yAxis.endOnTickGauge,
	            #end
	            
	        	#if($yAxis.minorTickInterval == '')
	        		minorTickInterval: 'auto',
        		#else
        			minorTickInterval: $yAxis.minorTickInterval,
	        	#end
	        	
	        	#if($yAxis.minorTickWidth)
	            	minorTickWidth: $yAxis.minorTickWidth,
	            #end
	            #if($yAxis.minorTickPosition)
	            	minorTickPosition: '$yAxis.minorTickPosition',
	            #end
	            #if($yAxis.minorTickColor)
	            	minorTickColor: '$yAxis.minorTickColor',
				#end
				#if($yAxis.tickPixelInterval)
	            	tickPixelInterval: $yAxis.tickPixelInterval,
	            #end
	            #if($yAxis.tickWidth)
	            	tickWidth: $yAxis.tickWidth,
	            #end
	            #if($yAxis.tickPosition)
	            	tickPosition: '$yAxis.tickPosition',
	            #end
	            #if($yAxis.tickLength)
	            	tickLength: $yAxis.tickLength,
	            #end
	            #if($yAxis.tickColor)
	            	tickColor: '$yAxis.tickColor',
	        	#end
	        	
	        	#if($yAxis.LABELS)
	        	labels: {
	        		#if($yAxis.LABELS.distance)
	                	distance: $yAxis.LABELS.distance,
	            	#end
	             	#if($yAxis.LABELS.rotation)
	                	rotation: $yAxis.LABELS.rotation,
	                #end
	                
		    		#if($yAxis.style)
		        		style:{
			        	#foreach($styleName in $yAxis.style.keySet())
			        	
			        		#set ($axisStyle = $yAxis.style[$styleName])
			        		#if ($styleName == 'fontWeight' && ($axisTitleStyle == 'italic' || $axisTitleStyle == 'normal'))
			        			fontStyle: '$axisTitleStyle',
							#elseif($styleName == 'fontWeight' && $axisTitleStyle == 'underline')
			        			textDecoration: 'underline',
							#else
			        			$styleName: '$axisStyle',
			        		#end
			        	#end
		        		},
		        	#end
	            },
	        	#end
	        	
	        	#if($yAxis.PLOTBANDS)
		        	plotBands: [        	
		        	
		        	#set($plots = $yAxis.PLOTBANDS.PLOT) 
		        	       	
		        	#if ($plots.class.name == "java.util.ArrayList")
		        	
			        	#foreach($plotElement in $plots)
		        		{
			        		#foreach($valueKey in $plotElement.keySet())
				        	
				    			#if ($valueKey == "color" && $plotElement.color)
				    				color: '$plotElement.color',
				    			#elseif ($valueKey == "from")
				    				from: $plotElement.from,
				    			#elseif ($valueKey == "to")
				    				to: $plotElement.to,
				    			#end
		        			
		        			#end
		        		},
			        	#end
			        	
			        #else
			         
			         	#if ($plots.color != "" && $plots.from != "" && $plots.to != "")
				        	{
				        		#if($plots.color != "")
				        			color: '$plots.color',
				        		#end
				        		
				        		#if($plots.from != "")
				        			from: $plots.from,
				        		#end
				        		
				        		#if($plots.to != "")
				        			to: $plots.to
				        		#end		        		
				        	},
				        #end
			        	
			        #end
		        	
		        	#*
		        	#foreach($valueKey in $yAxis.PLOTBANDS.PLOT.keySet())
		        	{
		    			#if ($valueKey == "color")
		    				color: $yAxis.PLOTBANDS.PLOT.color
		    			#end
	        			$datasettransformer.printOut($valueKey))
        			},
	        		#end
		        	
		        	#if ($yAxis.PLOTBANDS.PLOT.class.name != "java.util.LinkedHashMap")
		        	
			        	#foreach($band in $yAxis.PLOTBANDS.PLOT)
			        	{
			        	$datasettransformer.printOut("AAAAAA")
			        		from: $band.from,
			        		to: $band.to,
			        		color: '$band.color'
			        		$datasettransformer.printOut($yAxis.PLOTBANDS)
			        	},
			        	#end 
		        	#else
		        		{
		        			#if ($yAxis.PLOTBANDS.PLOT.from != '')
			        			from: $yAxis.PLOTBANDS.PLOT.from,
		        			#else
		        				from: '',
		        			#end
		        			
		        			#if ($yAxis.PLOTBANDS.PLOT.to != '')
			        			to: $yAxis.PLOTBANDS.PLOT.to,
		        			#else
		        				to: '',
		        			#end
		        			
		        			#if ($yAxis.PLOTBANDS.PLOT.color != '')
			        			color: $yAxis.PLOTBANDS.PLOT.color,
		        			#else
		        				color: '',
		        			#end
			        	}
		        	#end
		        	*#
		        	]
		        #end
		        },
    		#end             
        #end
        ## FINE Serie add
        ],

    
    series: [
    	#foreach($valueKey in $seriesMap.keySet())
	    	#set($relatedSerie = $seriesMap.get($valueKey))
	    	{
	    	name: '$relatedSerie.name',
	    	
	    	#if($relatedSerie.color)
	    	color: '$relatedSerie.color',
	    	#end
	    	
	        data: [
	    	    #set($relatedSerieColName = "$relatedSerie.column"+"_#if($relatedSerie.groupingFunction)$relatedSerie.groupingFunction#{else}SUM#end")
	    	    #set($serieColumnsMapped = $dataColumnsMapper.get($relatedSerieColName)) ## "Vendite_AVG" -> "column_5" ## "Ricavi_SUM" -> "column_6"
				
				#foreach($row in $rows)
					#set ($serieValue = $row.get($serieColumnsMapped))
					$serieValue,
				#end
	    	],
	    	
	    	dataLabels: {
	    	
	    	#if($relatedSerie.DATA_LABELS.yPositionDataLabels)
	    		y: $relatedSerie.DATA_LABELS.yPositionDataLabels,
	    	#end
	    	
	    	#if($relatedSerie.DATA_LABELS.colorDataLabels)
	    		color: '$relatedSerie.DATA_LABELS.colorDataLabels',
	    	#end
	    	#if($relatedSerie.DATA_LABELS.formatDataLabels)
	    		format: '$relatedSerie.DATA_LABELS.formatDataLabels',
	    	#end
	    	},
	    	
        	tooltip: { 
			#set($seriePrefix = $relatedSerie.prefixChar)
			#if($seriePrefix)
				valuePrefix: '$seriePrefix',
			#end
				
			#set($seriePostfix = $relatedSerie.postfixChar)
			#if($seriePostfix)
				valueSuffix: '$seriePostfix',
			#end				
				
			#if ($relatedSerie.precision)
				valueDecimals: '$relatedSerie.precision',
			#end
			},
			
			#if ($relatedSerie.DIAL.backgroundColorDial)
			dial: {
                backgroundColor: '$relatedSerie.DIAL.backgroundColorDial'
            },
            #end
        },
	    #end
	],
    
    
    #if($chart.EMPTYMESSAGE != '')
    lang: {
        noData: "$chart.EMPTYMESSAGE.text"
    },
    noData: {
    	style:{
    	#foreach($styleName in $chart.EMPTYMESSAGE.style.keySet())
    		$styleName: '$chart.EMPTYMESSAGE.style[$styleName]',
    	#end
		}
    },
    #end
    
    credits: { ##remove bottom credits text
    	enabled: false
    },
}