#set($category = $chart.VALUES.CATEGORY)
#set($chartType = $CHART.type)
#set($dataRows = $data.rows)
#set($dataFields = $data.metaData.fields) ## columns of data table
#set($dataColumnsMapper = {})

#foreach ($dataField in $dataFields) ## conversion column name to internal column name
	#if($dataField.class.name == 'java.util.LinkedHashMap')
		#set($workAroundNoPrint = $dataColumnsMapper.put($dataField.header , $dataField.name))
	#end
#end

#set($columnsNeeded = {})

#set($columnCouter = 0)

   
#foreach($value in $category) 
 #set($columnsNeeded[$columnCouter] = $value.column)
 #set($columnCouter = $columnCouter + 1)
#end

#set($serie = $chart.VALUES.SERIE.name)

#set($groupingFunction = $chart.VALUES.SERIE.groupingFunction)

#set($serieName = $datasettransformer.getSerieName($serie))

#set($columnNames = $datasettransformer.getColumnNames($columnsNeeded))

#set($firstresult = $datasettransformer.getData($dataRows,$serie,$columnsNeeded,$dataColumnsMapper, $groupingFunction))

#set($dateresult = $datasettransformer.getDateResult($firstresult,$columnsNeeded[0]))

#set($storeresult = $datasettransformer.getStoreResult($firstresult,$columnsNeeded[1]))

#set($result = $datasettransformer.getResult($firstresult, $serie, $columnsNeeded))

#set($axisList = $chart.AXES_LIST.AXIS)

    #set($xAxisList = {}) ## X Axises list container
    #set($yAxisList = {}) ## Y Axises list container
    #set($xAxisPositions = {}) ## X Axises integer positions list, for series references
    #set($yAxisPositions = {}) ## Y Axises integer positions list, for series references
    #set($xAxisCounter = 0) 
    #set($yAxisCounter = 0) 
    
    #foreach($axis in $axisList)
	 	#if($axis.type == 'Category')
	 		#set($workAroundNoPrint = $xAxisList.put($axis.alias, $axis))
	 		#set($workAroundNoPrint = $xAxisPositions.put($axis.alias , $xAxisCounter))
	 		
	 		#set($xAxisCounter = $xAxisCounter + 1)
	 	#end
	 	
	 	#if($axis.type == 'Serie')
	 		
		 		#set($workAroundNoPrint = $yAxisList.put($axis.alias , $axis))
		 		#set($workAroundNoPrint = $yAxisPositions.put($axis.alias , $yAxisCounter))
	 		
		 		#set($yAxisCounter = $yAxisCounter + 1)
	 		
	 	#end
	#end

{
 	chart: 
 	{
 		type: '$chartType',
	  	height: '$chart.height',
	  	width: '$chart.width',
  
  		style:
		{			
			fontFamily: '$chart.style.fontFamily',
			fontSize: '$chart.style.fontSize',
			fontWeight: '$chart.style.fontWeight',
			backgroundColor: '$chart.style.backgroundColor'			
  		}
 	},
 
 	colors: 
 	[
		#foreach($color in $chart.COLORPALETTE.COLOR)
			'$color.value', 
		#end
    ],
 
 	emptymessage:
	{
		text: '$chart.EMPTYMESSAGE.text',
		
		style:
		{
			fontFamily: '$chart.EMPTYMESSAGE.style.fontFamily',
			fontSize: '$chart.EMPTYMESSAGE.style.fontSize',
			fontWeight: '$chart.EMPTYMESSAGE.style.fontWeight',
			fontColor: '$chart.EMPTYMESSAGE.style.color',
			textAlign: '$chart.EMPTYMESSAGE.style.align'
		}
	},
	
	title:
	{
		text: '$chart.TITLE.text',
		
		style:
		{
			fontFamily: '$chart.TITLE.style.fontFamily',
			fontSize: '$chart.TITLE.style.fontSize',
			fontWeight: '$chart.TITLE.style.fontWeight',
			fontColor: '$chart.TITLE.style.color',
			textAlign: '$chart.TITLE.style.align'
		}
	},
	
	subtitle:
	{
		text: '$chart.SUBTITLE.text',
		
		style:
		{
			fontFamily: '$chart.SUBTITLE.style.fontFamily',
			fontSize: '$chart.SUBTITLE.style.fontSize',
			fontWeight: '$chart.SUBTITLE.style.fontWeight',
			fontColor: '$chart.SUBTITLE.style.color',
			textAlign: '$chart.SUBTITLE.style.align'
		}
	},
	
	legend:
	{
		style:
		{
			align: '$chart.LEGEND.style.align',
			symbolWidth: '$chart.LEGEND.style.symbolWidth'
		}
	},
	
	tooltip:
	{
		style:
		{
			align: '$chart.TOOLTIP.style.align',
			fontFamily: '$chart.TOOLTIP.style.fontFamily',
			fontSize: '$chart.TOOLTIP.style.fontSize',
			fontWeight: '$chart.TOOLTIP.style.fontWeight',
			fontColor: '$chart.TOOLTIP.style.color'
		}
	},
	
	
	xaxis:
	{		
		## We have only one X-axis, hence use the only present key of this axis (the single X-axis key)
		## (danilo.ristovski@mht.net)
		
		#foreach($xAxisKey in $xAxisList.keySet())
			
			#set($xAxis = $xAxisList.get($xAxisKey))
			
			style:
			{
				fontFamily: '$xAxis.style.fontFamily',
				fontWeight: '$xAxis.style.fontWeight',
				fontSize: '$xAxis.style.fontSize',
				fontColor: '$xAxis.style.color'
			}
		
		#end
	},
	
	yaxis:
	{		
		## We have only one Y-axis, hence use the only present key of this axis (the single Y-axis key)
		## (danilo.ristovski@mht.net)
		
		#foreach($yAxisKey in $yAxisList.keySet())
			
			#set($yAxis = $yAxisList.get($yAxisKey))
			
			style:
			{
				fontFamily: '$yAxis.style.fontFamily',
				fontWeight: '$yAxis.style.fontWeight',
				fontSize: '$yAxis.style.fontSize',
				fontColor: '$yAxis.style.color'
			}
					
		#end
	},
	
	## Additional data needed for rendering the HEATMAP chart	
	## (danilo.ristovski@mht.net)	
	additionalData:
	{
		dateresult: $dateresult,
  		storeresult: $storeresult,
  		serie: $serieName,
  		columns: $columnNames
	},
	
	data:
 	[
 		$result
 	]
}