#set($dataFields = $data.metaData.fields) ## columns of data table
#set($dataColumnsMapper = {})

#foreach ($dataField in $dataFields) ## conversion column name to internal column name
	#if($dataField.class.name == 'java.util.LinkedHashMap')
		#set($workAroundNoPrint = $dataColumnsMapper.put($dataField.header , $dataField.name))
	#end
#end

#set($rows = $data.rows) ## data in table rows


#set($series = $chart.VALUES.SERIE) ## metadata related to series

#set($seriesMap = {}) ## conversion series metadata to map object
#if($series.class.name == 'java.util.LinkedHashMap')
	#set($workAroundNoPrint = $seriesMap.put($series.name , $series))
#else
	#foreach($serie in $series)
		#set($workAroundNoPrint = $seriesMap.put($serie.name , $serie))
	#end
#end

{
    chart: {
   		type: 'pie',

   		#if($chart.style.backgroundColor != '')
   		backgroundColor: '$chart.style.backgroundColor', ##outer chart background
    	#end
   		
   		#if($chart.height != '')
    	height:'$chart.height',
    	#end
    	
    	#if($chart.width != '')
    	width:'$chart.width',
    	#end

    	#if($chart.dimension=='3D')
    	options3d: {
                enabled: true,
                alpha: 45,
                beta: 0
            },
    	#end
    	
        style:{
        	#foreach($styleName in $chart.style.keySet())
        	$styleName: '$chart.style[$styleName]',
        	#end
        },
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false
    },
    
    #if($chart.TITLE.text != '')
    title: {
        text: '$chart.TITLE.text'
    },
    #end
    
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    
    series: [
    
	    #set ($first = true)
    	#foreach($valueKey in $seriesMap.keySet())
	    	#set($relatedSerie = $seriesMap.get($valueKey))
	    	{
	    	name: '$relatedSerie.name',
	        data: [
	    	    #set($serieColumnCategory = $dataColumnsMapper.get($chart.VALUES.CATEGORY.column))
	    	    #set($serieColumnMapped = $dataColumnsMapper.get($relatedSerie.column))
				#foreach($row in $rows)
					#set ($serieName = $row.get($serieColumnCategory))
					#set ($serieValue = $row.get($serieColumnMapped))
					['$serieName', $serieValue],
				#end
	    	],
	    	
	    	#if($series.size()==2)
		        size: '45%',
		        #if($first)
		        	center: ['25%', '50%']
		        #else
		        	center: ['75%', '50%']
		        #end
	    		#set ($first = false)
		    #end
	        
	        },
	    #end
	],
    
    #if($chart.EMPTYMESSAGE != '')
    lang: {
        noData: "$chart.EMPTYMESSAGE.test"
    },
    noData: {
    	style:{
    	#foreach($styleName in $chart.EMPTYMESSAGE.style.keySet())
    		$styleName: '$chart.EMPTYMESSAGE.style[$styleName]',
    	#end
		}
    },
    #end
    
    credits: { ##remove bottom credits text
    	enabled: false
    },
}