#set($dataFields = $data.metaData.fields) ## columns of data table
#set($dataColumnsMapper = {})

#foreach ($dataField in $dataFields) ## conversion column name to internal column name
	#if($dataField.class.name == 'java.util.LinkedHashMap')
		#set($workAroundNoPrint = $dataColumnsMapper.put($dataField.header , $dataField.name))
	#end
#end

#set($rows = $data.rows) ## data in table rows


#set($series = $chart.VALUES.SERIE) ## metadata related to series

#set($seriesMap = {}) ## conversion series metadata to map object
#if($series.class.name == 'java.util.LinkedHashMap')
	#set($workAroundNoPrint = $seriesMap.put($series.name , $series))
#else
	#foreach($serie in $series)
		#set($workAroundNoPrint = $seriesMap.put($serie.name , $serie))
	#end
#end

{
    chart: {
   		type: 'pie',

   		#if($chart.style.backgroundColor != '')
   		backgroundColor: '$chart.style.backgroundColor', ##outer chart background
    	#end
   		
   		#if($chart.height != '')
    	height:'$chart.height',
    	#end
    	
    	#if($chart.width != '')
    	width:'$chart.width',
    	#end

    	#if($chart.dimension=='3D')
    	options3d: {
                enabled: true,
                alpha: 45,
                beta: 0
            },
    	#end
    	
        borderColor: '$chart.style.backgroundColor',
        style:{
        	#foreach($styleName in $chart.style.keySet())
        	$styleName: '$chart.style[$styleName]',
        	#end
        },
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false
    },
    
    colors: [
		#foreach($color in $chart.COLORPALETTE.COLOR)
		'$color.value', 
		#end
    ],
    
    
    title: {
        text: '$chart.TITLE.text',
        
        #set ($titleAlign = $chart.TITLE.style.align)
        #if ($titleAlign != '' )
        
        	#if ($titleAlign == 'left')
        	x: 70,
        	#elseif ($titleAlign == 'right')
        	x: -70,
        	#end
        
        align: '$titleAlign',
        #end
        
        style:{
        #foreach($styleName in $chart.TITLE.style.keySet())
        	#set ($axisTytleStyle = $chart.TITLE.style[$styleName])
    		#if ($styleName == 'fontWeight' && $axisTytleStyle == 'italic')
    			fontStyle: 'italic',
			#elseif($styleName == 'fontWeight' && $axisTytleStyle == 'underline')
    			textDecoration: 'underline',
			#else		        			
    			$styleName: '$axisTytleStyle',
    		#end
		#end
	    }
    },
    
    #if($chart.SUBTITLE.text != '')
    subtitle: {
        text: '$chart.SUBTITLE.text',
        
        #set ($subtitleAlign = $chart.SUBTITLE.style.align)
        #if ($subtitleAlign != '' )
        
        	#if ($subtitleAlign == 'left')
        	x: 70,
        	#elseif ($subtitleAlign == 'right')
        	x: -70,
        	#end
        
        align: '$subtitleAlign',
        #end
        
        style:{
        #foreach($styleName in $chart.SUBTITLE.style.keySet())
        	#set ($axisSubtitleStyle = $chart.SUBTITLE.style[$styleName])
    		#if ($styleName == 'fontWeight' && $axisSubtitleStyle == 'italic')
    			fontStyle: 'italic',
			#elseif($styleName == 'fontWeight' && $axisSubtitleStyle == 'underline')
    			textDecoration: 'underline',
			#else		        			
    			$styleName: '$axisSubtitleStyle',
    		#end
		#end
		}
    },
    #end
    
    #if ($chart.LEGEND.show != '' && $chart.LEGEND.show == 'true')
    legend: {
        #if ($chart.LEGEND.layout != '' )
        layout: '$chart.LEGEND.layout',
        #end
        #if ($chart.LEGEND.position != '' )
        align: '$chart.LEGEND.position',
        #end
        
        #if ($chart.LEGEND.floating != '')
        floating: $chart.LEGEND.floating,
        #end
        
    	#if($chart.LEGEND.floating == 'true')
    	
        #if($chart.LEGEND.x != '')
        x: $chart.LEGEND.x,
	    #end
        
        #if($chart.LEGEND.y != '')
        y: $chart.LEGEND.y,
    	#end
    	
    	#end
        
        #if($chart.LEGEND.style.borderWidth != '')
        borderWidth: $chart.LEGEND.style.borderWidth,
	    #end
        
        #if($chart.LEGEND.style.backgroundColor != '')
        backgroundColor: '$chart.LEGEND.style.backgroundColor',
	    #end
	    
        shadow: true,
        itemStyle: { 
        	'color': '$chart.LEGEND.style.color', 
        	'fontSize': '$chart.LEGEND.style.fontSize', 
        	'fontWeight': '$chart.LEGEND.style.fontWeight' 
        }
    },
    #end
    
    
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: true,
                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                style: {
                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                }
            }
        }
    },
    
    series: [
    
	    #set ($first = true)
    	#foreach($valueKey in $seriesMap.keySet())
	    	#set($relatedSerie = $seriesMap.get($valueKey))
	    	{
	    	name: '$relatedSerie.name',
	        data: [
	    	    #set($serieColumnCategory = $dataColumnsMapper.get($chart.VALUES.CATEGORY.column))
	    	    #set($relatedSerieColName = "$relatedSerie.column"+"_#if($relatedSerie.groupingFunction)$relatedSerie.groupingFunction#{else}'SUM')#end")
	    	    #set($serieColumnsMapped = $dataColumnsMapper.get($relatedSerieColName)) ## "Vendite_AVG" -> "column_5" ## "Ricavi_SUM" -> "column_6"
				#foreach($row in $rows)
					#set ($serieName = $row.get($serieColumnCategory))
					#set ($serieValue = $row.get($serieColumnsMapped))
					['$serieName', $serieValue],
				#end
	    	],
	    	
	    	#if($series.size()==2)
		        size: '45%',
		        #if($first)
		        	center: ['25%', '50%']
		        #else
		        	center: ['75%', '50%']
		        #end
	    		#set ($first = false)
		    #end
	        
	        },
	    #end
	],
    
    #if($chart.EMPTYMESSAGE != '')
    lang: {
        noData: "$chart.EMPTYMESSAGE.text"
    },
    noData: {
    	style:{
    	#foreach($styleName in $chart.EMPTYMESSAGE.style.keySet())
    		$styleName: '$chart.EMPTYMESSAGE.style[$styleName]',
    	#end
		}
    },
    #end
    
    credits: { ##remove bottom credits text
    	enabled: false
    },
}