#set($category = $chart.VALUES.CATEGORY)
#set($chartType = $CHART.type)
#set($font = $chart.FONT.type)
#set($dataRows = $data.rows)
#set($dataFields = $data.metaData.fields) ## columns of data table
#set($dataColumnsMapper = {})

#foreach ($dataField in $dataFields) ## conversion column name to internal column name
	#if($dataField.class.name == 'java.util.LinkedHashMap')
		#set($workAroundNoPrint = $dataColumnsMapper.put($dataField.header , $dataField.name))
	#end
#end

#set($columnsNeeded = {})

#set($columnCouter = 0)

   
#foreach($value in $category) 
 #set($columnsNeeded[$columnCouter] = $value.column)
 #set($columnCouter = $columnCouter + 1)
#end

#set($serie = $chart.VALUES.SERIE.name)

#set($result = $datasettransformer.createTreeChart($columnsNeeded,$serie,$dataColumnsMapper,$dataRows))

{
 chart: 
 {
  type: '$chartType',
  font: '$font'
 },
 
 colors: [
		#foreach($color in $chart.COLORPALETTE.COLOR)
		'$color.value', 
		#end
    ],
 
 emptymessage:
	{
		text: '$chart.EMPTYMESSAGE.text',
		height: '$chart.EMPTYMESSAGE.height',
		paddingLeft: '$chart.EMPTYMESSAGE.paddingLeft',
		position: '$chart.EMPTYMESSAGE.position',
		
		style:
		{
			fontType: '$chart.EMPTYMESSAGE.EMPTYMESSAGE-STYLE.fontType',
			fontStyle: '$chart.EMPTYMESSAGE.EMPTYMESSAGE-STYLE.fontStyle',
			fontSize: '$chart.EMPTYMESSAGE.EMPTYMESSAGE-STYLE.fontSize',
			fontColor: '$chart.EMPTYMESSAGE.EMPTYMESSAGE-STYLE.fontColor',
			textAlign: '$chart.EMPTYMESSAGE.EMPTYMESSAGE-STYLE.textAlign'
		}
	},
	
	title:
	{
		text: '$chart.TITLE.text',
		height: '$chart.TITLE.height',
		paddingLeft: '$chart.TITLE.paddingLeft',
		position: '$chart.TITLE.position',
		
		style:
		{
			fontType: '$chart.TITLE.TITLE-STYLE.fontType',
			fontStyle: '$chart.TITLE.TITLE-STYLE.fontStyle',
			fontSize: '$chart.TITLE.TITLE-STYLE.fontSize',
			fontColor: '$chart.TITLE.TITLE-STYLE.fontColor',
			textAlign: '$chart.TITLE.TITLE-STYLE.textAlign'
		}
	},
	
	subtitle:
	{
		text: '$chart.SUBTITLE.text',
		height: '$chart.SUBTITLE.height',
		paddingLeft: '$chart.SUBTITLE.paddingLeft',
		position: '$chart.SUBTITLE.position',
		
		style:
		{
			fontType: '$chart.SUBTITLE.SUBTITLE-STYLE.fontType',
			fontStyle: '$chart.SUBTITLE.SUBTITLE-STYLE.fontStyle',
			fontSize: '$chart.SUBTITLE.SUBTITLE-STYLE.fontSize',
			fontColor: '$chart.SUBTITLE.SUBTITLE-STYLE.fontColor',
			textAlign: '$chart.SUBTITLE.SUBTITLE-STYLE.textAlign'
		}
	},
	data:
 [
  $result
 ]
}