<div>
	<md-sidenav	style="overflow-x:hidden" md-component-id="right" class="md-sidenav-right">
		<md-toolbar class='primaryToolbar'>
			<div class="md-toolbar-tools" layout="row">
				<h2>Settings</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="closeSideNav('right')">
			    	<md-icon class="fa fa-times" aria-label="Close dialog" style="line-height:24px"></md-icon>
			    </md-button>
			</div>
		</md-toolbar>
		<div class="right-menu" layout="row" ng-hide="true"> 
			<div class="side-nav-tabs" >
				<md-button id="sidenav-table-btn" ng-class="tableIcon && !chartIcon? 'selected-right-panel-buttons' : 'right-panel-buttons'" ng-click="changeDataRepr('table')">
					<md-icon class="fa fa-table fa-2x"/>
				</md-button>
			</div>
			<div class="side-nav-tabs" >
				<md-button id="sidenav-chart-btn" ng-class="!tableIcon && chartIcon? 'selected-right-panel-buttons' : 'right-panel-buttons'" ng-click="changeDataRepr('chart')">
					<md-icon class="fa fa-pie-chart fa-2x"/>
				</md-button> 
			</div>
			<div class="side-nav-tabs">
				<md-button id="sidenav-tablechart-btn" ng-class="tableIcon && chartIcon? 'selected-right-panel-buttons' : 'right-panel-buttons'" ng-click="changeDataRepr('both')">
					<md-icon class="fa fa-table"/>
					<md-icon class="fa fa-pie-chart"/>			
				</md-button>
			</div>
		</div>
		<md-toolbar class='primaryToolbar' ng-hide="true">
			<div class="md-toolbar-tools" layout="row">
				<h2>Settings</h2>
			</div>
		</md-toolbar>
		<sbi-table-toolbar ng-show="tableIcon && !chartIcon"></sbi-table-toolbar>
		<sbi-chart-toolbar ng-show="!tableIcon && chartIcon"></sbi-chart-toolbar>
	</md-sidenav>
</div>
