.kn-etlmetadata {
	 background-color: $pageBackground;

	.header h2 {
    	padding-left: 14px;
	}	 

    .cardHeader {
        background-color: $secondaryColor !important;
    }
    .mainContainer {
        background-color: $pageBackground;
    }
}
