<md-tabs id="sheetTabs" ng-class="{'cockpitEditMode':cockpitModule_properties.EDIT_MODE,'cockpitSheetTabs':cockpitModule_properties.EDIT_MODE && cockpitModule_template.sheets.length<maxSheetsNumber, 'highlander':cockpitModule_template.sheets.length==1,'screenShottingSheet':cockpitModule_properties.LOADING_SCREENSHOT}" 
class="cockpitSheetTabsHook" md-align-tabs="bottom" flex md-selected="cockpitModule_properties.CURRENT_SHEET" md-autoselect >
	<md-tab ng-repeat="sheet in cockpitModule_template.sheets | orderObjectBy : 'index' | limitTo: maxSheetsNumber">
		<md-tab-label >
			<span ng-if="cockpitModule_properties.EDIT_MODE" class="sheetPageButton-{{$index}}" ng-dblClick="renameSheet(sheet,$event)">{{sheet.label}}</span>
			<span ng-if="!cockpitModule_properties.EDIT_MODE" class="sheetPageButton-{{$index}} viewModeSheet" >{{sheet.label}}</span>
			<md-menu ng-show="cockpitModule_properties.EDIT_MODE">
         		<md-button class="md-icon-button openSheetMenuIconButton" ng-click="$mdOpenMenu();$event.stopPropagation()">
           			<md-icon md-font-icon="fa fa-caret-down" ></md-icon>
         		</md-button>
         		<md-menu-content width="2">
	           		<md-menu-item>
	             		<md-button ng-click="deleteSheet(sheet,$event)">
	               			{{translate.load("sbi.generic.delete")}}
	             		</md-button>
	           		</md-menu-item>
	           		<md-menu-item>
	             		<md-button ng-click="renameSheet(sheet,$event)">
	               			{{translate.load("sbi.generic.rename")}}
	             		</md-button>
	           		</md-menu-item>
	           		<md-menu-item ng-if="cockpitModule_properties.EDIT_MODE && cockpitModule_template.sheets.length <maxSheetsNumber">
	             		<md-button ng-click="cloneSheet(sheet)">
	               			{{translate.load("sbi.cockpit.window.toolbar.clone")}}
	             		</md-button>
	           		</md-menu-item>
	           		<md-menu-item ng-if="sheet.index!=0">
	             		<md-button ng-click="moveSheet(sheet,'prev')">
	               			{{translate.load("sbi.generic.moveleft")}}
	             		</md-button>
	           		</md-menu-item>
	           		<md-menu-item ng-if="sheet.index!=cockpitModule_template.sheets.length-1">
	             		<md-button ng-click="moveSheet(sheet,'next')">
	               			{{translate.load("sbi.generic.moveright")}}
	             		</md-button>
	           		</md-menu-item>
	         	</md-menu-content>
       		</md-menu>
		</md-tab-label>
		<md-tab-body>
			<md-card ng-if="sheet.widgets.length == 0" class="noWidget">
				<md-card-content layout-align="center center">
					<p>{{translate.load("sbi.cockpit.nowidget1")}}</p>
					<p>{{translate.load("sbi.cockpit.nowidget2")}}</p>
				</md-card-content>
			</md-card>
			<cockpit-grid layout-fill ng-style="cockpitModule_template.style.background" id="gridsterSheet-{{sheet.index}}">
				<cockpit-widget ng-model="prop" ng-repeat="prop in sheet.widgets"  >
				</cockpit-widget>
			</cockpit-grid>
		</md-tab-body>
	</md-tab>
</md-tabs>

<md-button  ng-if="cockpitModule_properties.EDIT_MODE && cockpitModule_template.sheets.length <maxSheetsNumber" md-tab-fixed-add-sheet-button class="addSheetTabButton " aria-label="add sheet"  ng-click="addSheet();">
<md-tooltip md-direction="top">{{translate.load("sbi.cockpit.sheet.add")}}</md-tooltip>
	<md-icon md-font-icon="fa fa-plus"></md-icon>
</md-button> 

