<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
<Appenders>
 <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%c.%M: %m%n" />
</Console>
<RollingFile
    name="FILE"
    fileName="${sys:catalina.base}/logs/knowageMeta.log"  append="False"  filePattern="${sys:catalina.base}/logs/knowageMeta.log"
    ignoreExceptions="false" createOnDemand="true">
    <PatternLayout>
        <Pattern>%d{DATE} %5p %c.%M:%L - %m%n</Pattern>
    </PatternLayout>
    <Policies>
        <SizeBasedTriggeringPolicy size="10000KB" />
    </Policies>
    <DefaultRolloverStrategy max="1" />
</RollingFile>
  </Appenders>
    <Loggers>
    <logger name="edu.yale" additivity="false" level="ERROR">
        <AppenderRef ref="FILE"/>
    </logger>
    <logger name="it.eng.spagobi" additivity="false" level="ERROR">
        <AppenderRef ref="FILE"/>
    </logger>
    <logger name="it.eng.spagobi.commons.utilities.messages" additivity="false" level="ERROR">
        <AppenderRef ref="FILE"/>
    </logger>
    <logger name="it.eng.spagobi.commons.utilities.urls.WebUrlBuilder" additivity="false" level="ERROR">
        <AppenderRef ref="FILE"/>
    </logger>
    <logger name="velocity" additivity="false" level="ERROR">
        <AppenderRef ref="FILE"/>
    </logger>
  <Root level="ERROR">
            <AppenderRef ref="FILE"/>
        </Root>
    </Loggers>
</Configuration>