<md-dialog aria-label="Accessibility dialog"> 
	<md-toolbar>
	  <div class="md-toolbar-tools">
	    <h2>Accessibility settings</h2>
	  </div>
	</md-toolbar>
	<md-dialog-content>
		<div class="md-dialog-content">
			<md-switch ng-model="enableUIO" aria-label="enableUIO">
			  Enable user interface options 
			</md-switch>
			<!-- md-switch ng-model="enableRobobraille" aria-label="enableUIO">
	  			Enable Robobraille 
			</md-switch>
	     	<md-switch ng-model="enableVoice" aria-label="enableUIO">
			  Enable voice 
			</md-switch>
			<md-switch ng-model="enableGraphSonification" aria-label="enableUIO">
	  			Enable graph sonification 
			</md-switch-->
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row">
 		<md-button ng-click="saveAccessibilityPreferences()" class="md-primary">
			Save
   	   	</md-button>
	  	<md-button ng-click="closeDialog()" class="md-primary">
			Close
  	    </md-button>
	</md-dialog-actions>
</md-dialog>                                         