        	           <md-dialog aria-label="Accessibility dialog"> 
        	             <md-dialog-content>
          	           		<h2 class="md-title">Accesssibility settings</h2>
        	        <md-switch ng-model="enableUIO" aria-label="enableUIO">
  Enable user interface options 
</md-switch>
        	        <md-switch ng-model="enableRobobraille" aria-label="enableUIO">
  Enable Robobraille 
</md-switch>
        	        <md-switch ng-model="enableVoice" aria-label="enableUIO">
  Enable voice 
</md-switch>
        	        <md-switch ng-model="enableGraphSonification" aria-label="enableUIO">
  Enable graph sonification 
</md-switch>

        	           </md-dialog-content>
        	           <div class="md-actions">
        	              <md-button ng-click="saveAccessibilityPreferences()" class="md-primary">
								Save
        	              </md-button>
						  <md-button ng-click="closeDialog()" class="md-primary">
								Close
        	              </md-button>
        	           </div>
        	           </md-dialog>                                         