<md-dialog style="min-width:400px;">
 <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{translate.load("sbi.cockpit.widgets.table.search.prefix")}} {{ngModel.content.name}}</h2>
      </div>
    </md-toolbar>
    <form>
    <md-dialog-content layout-padding>
      <div layout="column" class="noPadding">
      	<div class="kn-info">
      		{{translate.load("sbi.cockpit.widgets.table.search.info")}}
      	</div>
	    	<div layout="row" layout-align="start center">
		    	<i class="fa fa-search" layout-padding></i>
				<md-input-container class="md-block" flex>
		        	<label>{{translate.load("sbi.cockpit.widgets.table.search")}}</label>
			        <input ng-model="ngModel.search.text" md-autofocus>
		      	</md-input-container>
	      	</div>
	      	<div layout="row" layout-align="start center">
	      		<i class="fa fa-columns" layout-padding></i>
		      	<md-input-container class="md-block" flex>
		           	<label>{{translate.load("sbi.cockpit.widgets.table.search.columns")}}</label>
		           <md-select ng-model="ngModel.search.columns" multiple>
		            <md-option ng-repeat="col in ngModel.content.columnSelectedOfDataset | filter:{fieldType:'ATTRIBUTE',type:'java.lang.String'}" value="{{col.name}}">
		              {{col.aliasToShow}}
		            </md-option>
		           </md-select>
		         </md-input-container>
	         </div>
	    </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
		<span flex></span>
		<md-button class="md-raised" ng-click="cancel()">{{::translate.load("sbi.cockpit.editor.widget.movesheet.cancel")}}</md-button>
		<md-button class="md-raised md-warn" ng-if="activeSearch" ng-click="resetSearch()">{{translate.load("sbi.cockpit.widgets.table.search.reset")}}</md-button>
		<md-button class="md-raised md-primary" ng-disabled="ngModel.search.text==undefined || ngModel.search.text=='' || ngModel.search.columns.length < 1" ng-click="searchColumnsModal()" type="submit">{{translate.load("sbi.cockpit.widgets.table.search")}}</md-button>
    </md-dialog-actions>
    </form>
</md-dialog>