<md-dialog class="documentBrowserNoteDialog" id="dialogNote" flex layout="column" aria-label="Select type of download" ng-controller="noteController" ng-cloak>
    <md-toolbar ">
      <div class="md-toolbar-tools">
        <h2>{{translate.load("sbi.execution.executionpage.toolbar.annotate")}}</h2>
      </div>
    </md-toolbar>
 
    	<md-dialog-content>		
		<md-tabs class="tabNote" flex  md-selected='selectedTab.tab'>
			<md-tab>
				<md-tab-label >Note</md-tab-label>
				<md-tab-body layout="column">
		
					<div class="wysiwygClass" flex>
						<wysiwyg-edit content="contentNotes"></wysiwyg-edit>
					</div>
					
				</md-tab-body>
						
			</md-tab>
			<md-tab md-on-select="getNotesList()">
				<md-tab-label >Notes List</md-tab-label>
				<md-tab-body >
				<md-content layout="column" layout-fill class="contentListNote">
					
				<div id="contentWhiteFrame" class="overflow" flex layout="column">
					 <md-whiteframe class="md-whiteframe-4dp" layout-margin  ng-repeat = "nota in notesList" >
			   					<div class="listNotes">
			   					 <md-toolbar class="secondaryToolbar">
								     <div class="md-toolbar-tools" layout="row" class="headerNote">
							    		<span flex><h5>Owner:  {{nota.owner}} </h5></span>
							    		<span flex><h5>Creation date:  {{nota.creationDate | asDate | date:'yyyy/MM/dd HH:mm:ss'}}</h5></span>
							    		<span flex><h5>Last change date:  {{nota.lastChangeDate | asDate | date:'yyyy/MM/dd HH:mm:ss'}}</h5></span>
							    	</div>
								   </md-toolbar>
						           <p layout-padding ng-bind-html="nota.content"></p>
						           <div layout="row">
						           <span flex></span>
							           <md-button class ="md-icon-button iconNote" ng-click="deleteNote(nota)"><md-icon md-font-icon="fa fa-trash-o" aria-label="Delete" ng-if="nota.owner ==profile" ></md-icon></md-button>
							           <md-button class ="md-icon-button iconNote" ng-click="editNote(nota)"><md-icon md-font-icon="fa fa-pencil-square-o" aria-label="Edit"></md-icon></md-button>
						          	</div>
					          	</div>
	 				 </md-whiteframe>
	 				</div> 

					 </md-content>
				</md-tab-body>
						
			</md-tab>
		</md-tabs>
		</md-dialog-content>
		<div class="md-actions" layout="row" ng-if="selectedTab.tab == 0">
	  			<md-select flex class="selectTypeNote" name="typeNote" ng-model="typeNote" required> 
					<md-option  value="Private">Private</md-option>
					<md-option  value="Public">Public</md-option>
				</md-select>
		  			
	  			<md-button class="md-raised" ng-click="close();">
		          CLOSE
		        </md-button>
		        <md-button id="buttonNote" ng-if="noteLoaded.owner==profile" class="md-raised" ng-click="saveNote()" >{{translate.load("sbi.execution.executionpage.toolbar.rating.submit")}}</md-button>
	        </div>
	   		<div class="md-actions" layout="row" ng-if="selectedTab.tab == 1">
	   			<md-button class="md-raised" ng-click="exportNote('pdf')" ><i class="fa fa-file-pdf-o"></i>Export in PDF</md-button>
			 	<md-button class="md-raised" ng-click="exportNote('rtf')"><i class="fa fa-file-word-o"></i>Export in RTF</md-button>
			 	<span flex></span>
		 		<md-button class="md-raised" ng-click="close();">
		          CLOSE
		        </md-button>
		 	</div>
		
		
</md-dialog>
