@media (min-width: 600px) {
  .flex-offset-gt-xs-17, .offset-gt-xs-17 {
      margin-left: 17%;
  }
}

@media (min-width: 960px) {
  .flex-offset-gt-sm-17, .offset-gt-sm-17 {
      margin-left: 17%;
  }
}

*{
  padding: 0;
  margin: 0;
}

body {
  background: #fff;
  color: #263238;
  font-size: 16px;
  margin:0;
  padding:0;
}

a, a:hover, a:focus {
  color: #263238;
  text-decoration: none;
}

.navbar-brand{
  /*background-image: url("../images/s4c_logo.png");*/
  /*background-image: url("../images/DM_logo_2line.png");*/
  background-image: url("../images/DM_logo_line.png");
  background-repeat: no-repeat;
  background-size: auto 45px;
  width: 220px;
  height: 45px;
  display: inline-block;
}
.navbar-project{
  background-image: url("../images/s4c_logo.png");
  background-repeat: no-repeat;
  background-size: auto 45px;
  width: 110px;
  height: 45px;
  display: inline-block;
}

img.logo{
  height:45px;
}

img, a img {
  border: none;
}

.img_note {
  margin-top: 6px !important;
  margin-bottom: -30px;
}

.clear  {   clear: both;    }

.btn, .btn a {
  color: #fff !important;
}

.knowage-intro md-card {
  /*-webkit-transition: background-color .2s ease-in;
  -moz-transition: background-color .2s ease-in;
  -o-transition: background-color .2s ease-in;
  transition: background-color .2s ease-in;*/

  border-color: #cdd1d3;

  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.md-fab-2x {
  width: 112px !important;
  height: 112px !important;
}

.md-fab-2x i {
  font-size: 60px;
  line-height: 1.8;
}

.knowage-intro md-card .md-fab-2x {
  margin-top: -65px;
}

@media (min-width: 600px) and (max-width: 959px) {
  .md-fab-2x {
    width: 56px !important;
    height: 56px !important;
  }

  .md-fab-2x i {
    font-size: 24px;
    line-height: 2.4;
  }

  .knowage-intro md-card .md-fab-2x {
    margin-top: -30px;
  }

  .underConstruction:after,
  .knowage-intro md-card.disabled:after
 {
    margin-top: 80px;
    margin-left: 5px;
  }
}

.knowage-intro .disabled, 
.knowage-intro .disabled:hover {
  opacity: .6 !important;
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
}

.underConstruction:after,
.knowage-intro md-card.disabled:after
 {
    content: "[UNDER CONSTRUCTION]";
    color: #fff;
    background: #000;
    padding: 5px 7px;
    position: absolute;
    z-index: 90;
    font-weight: bold;
    transform: rotate(-15deg);
    font-size: 18px;
    margin-top: 110px;
    margin-left: 40px;
}

/*
.md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab, .md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised {
    background-color: #1565c0 !important;
}

.md-button.md-default-theme.md-primary.md-fab:not([disabled]).md-focused, .md-button.md-primary.md-fab:not([disabled]).md-focused, .md-button.md-default-theme.md-primary.md-fab:not([disabled]):hover, .md-button.md-primary.md-fab:not([disabled]):hover, .md-button.md-default-theme.md-primary.md-raised:not([disabled]).md-focused,
.md-button.md-primary.md-raised:not([disabled]).md-focused, .md-button.md-default-theme.md-primary.md-raised:not([disabled]):hover, .md-button.md-primary.md-raised:not([disabled]):hover {
    background-color: #0d47a1 !important;
}
*/

/* Others */

.poweredFooter{
    transform: rotate(-90deg);
    width: 130px;
    bottom: 70px;
    position: absolute;
}

.poweredFooter.verticalAlign{
  background-image: url("../css/menuBar/logo_knowage.png");
  background-repeat: no-repeat;
  background-size: auto 45px;
  width: 220px;
  height: 45px;
  display: inline-block;
}
