.kn-importExportDocument {
	.absolute {
		position:absolute;
	}

	div.importSteps>md-content {
		    height: calc(100% - 25px);
	}

	.sourceTargetToolbar {
	/* 	background-color: rgba(63, 81, 181, 0.38); */
	    text-align: center;
	    z-index: 4;
	        margin-bottom: 1px;
	}

	.importSteps .md-subheader-wrapper,.importSteps .md-subheader {
		text-align: center;
	}

	.centerText{
		 text-align: center;
	}

	.miniheadimportexport {
		h2 {
			padding-left: 14px;
		}
	}

	.mainContainer {
		background-color: $importExportBackground;
	}
}