<div layout="row" layout-fill layout-padding>
   	<div ng-repeat="n in ngModel | orderBy: 'order' track by $index" flex ng-if="!n.hidden">
   		<md-toolbar>
   		<div class="md-toolbar-tools" ng-style="{'background-color' : n.color}">
   		<md-icon class="fa fa-sort"></md-icon>
   			{{n.name}}
   		<span flex></span>
   		<md-menu>			      
      	<md-button 	aria-label="query settings menu" class="md-icon-button" ng-click="openMenu($mdMenu.open, $event)">
        	<md-icon md-menu-origin class="fa fa-cog"></md-icon>
      	</md-button>
      	<md-menu-content>
	      
       		<md-menu-item>
          		<md-checkbox ng-model="n.hidden" class="menuCheckbox" aria-label="hide column">
            hide field
          </md-checkbox>
       		</md-menu-item>
       		<md-menu-item>
         			<md-checkbox ng-model="data.cb2" aria-label="Checkbox 1">
           use as attribute
          </md-checkbox>
       		</md-menu-item>
       		<md-menu-item>
         			<md-button ng-click="showStructureDetails('categoriesAxisDetails',categoriesAxis.alias)">
						<md-icon class="fa fa-sliders" style="display:inline"></md-icon>
            		<span>ranges</span>
          		</md-button>
       		</md-menu-item>
       		<md-menu-item>
       		  
         			<md-menu>			      
      	<md-button ng-click="openMenu($mdOpenMenu, $event)">
            		<span>FUNCTION</span>
      	</md-button>
      	<md-menu-content>
	      
	      	<md-menu-item>
          		<md-button ng-click="applyFuntion('none',n.id,n.entity)">
            		<span>none</span>
            		</md-button>
       		</md-menu-item>
       		
       		<md-menu-item>
          		<md-button ng-click="applyFuntion('sum',n.id,n.entity)">
            		<span>SUM</span>
            		</md-button>
       		</md-menu-item>
       		
       		<md-menu-item>
       			<md-button ng-click="applyFuntion('min',n.id,n.entity)">
            		<span>MIN</span></md-button>
       		</md-menu-item>
       		
       		<md-menu-item>
       			<md-button ng-click="applyFuntion('max',n.id,n.entity)">
            		<span>MAX</span>
            	</md-button>
       		</md-menu-item>    
       		
       		<md-menu-item>
          		<md-button ng-click="applyFuntion('avg',n.id,n.entity)">
            		<span>avg</span>
            	</md-button>
       		</md-menu-item>
       		
       		<md-menu-item>
          		<md-button ng-click="applyFuntion('count',n.id,n.entity)">
            		<span>count</span>
            	</md-button>
       		</md-menu-item>
       		
       		<md-menu-item>
          		<md-button ng-click="applyFuntion('count_distinct',n.id,n.entity)">
            		<span>dist</span>
            	</md-button>
       		</md-menu-item>      		
            		
       		</md-menu-content>
       		</md-menu>
       		</md-menu-item>
       		<md-menu-item>
       		  
         			<md-button ng-click="moveLeft(n.order, n)">
						<md-icon class="fa fa-angle-left" style="display:inline"></md-icon>
            		<span>move left</span>
          		</md-button>
       		</md-menu-item>
       		<md-menu-item>
         			<md-button ng-click="moveRight(n.order, n)">
						<md-icon class="fa fa-angle-right" style="display:inline"></md-icon>
            		<span>move right</span>
          		</md-button>
       		</md-menu-item>
        			        
	      </md-menu-content>
	      
    	</md-menu>
   		<md-icon class="fa fa-times"></md-icon>
   		</div>   		
    	</md-toolbar>
   	
   
   	<div ng-repeat="r in n.data track by $index" style="background-color:#white">{{r}}</div>
   	<div ng-repeat="f in n.filters track by $index" style="background-color:#C6E2FF">{{f}}</div>
   </div>
</div>

