<!-- <div id="angularTableTemplate" class="{{id}}ItemBox layout-fill layout-column" style="position:absolute;"> -->

<angular-table-actions layout="row" layout-align="end center">
	<md-input-container flex  md-no-float class="tableSearchBar" ng-init="showSearch=true;"  >
		<md-icon md-font-icon="fa fa-search" ng-click="showSearch=true;"></md-icon> 
		<input  ng-show="showSearch" ng-model="searchVal" ng-keyup="searchItem(searchVal)" type="text" placeholder="Search ">
		<md-icon ng-show="showSearch" md-font-icon="fa fa-times" ng-click="showSearch=false;searchVal='';searchItem(searchVal);" class="closeSearchBar"></md-icon> 
	</md-input-container>
</angular-table-actions>
<div flex layout="column" id="angularFullTableContentBox">
	 <table class="fakeTable">
	 	<thead>
	 		<tr ng-include="'headThTemplate.html'">
	 		</tr>
	 	</thead>
	 </table>
	 
	<div flex  id="angularTableContentBox"  >
		<table class="principalTable" >
			<thead></thead>
			<tbody></tbody>
			<tfoot>
				<tr>
					<td colspan="{{tableColumns.length}}" id="tdQueueTableContent"  >
					<md-content id="queueTableContent">
					</md-content> 
					</td>
				</tr>
			</tfoot>
		</table>
		
	</div>
</div> 
<div id="fixedAngularTableContentBox"></div>

<angular-table-footer>
<div  class="box_pagination_list" layout="row" layout-align="end end">
	<dir-pagination-controls max-size="5"  pagination-id='id+"PaginationTable"' on-page-change="pageChangedFunction({searchValue:prevSearch,itemsPerPage:itemsPerPage,currentPageNumber:newPageNumber,columnsSearch:columnsSearch,columnOrdering:column_ordering,reverseOrdering:reverse_col_ord})"></dir-pagination-controls>
</div>
</angular-table-footer>



<script type="text/ng-template" id="headThTemplate.html">
<th ng-repeat="val in tableColumns" width="{{val.size}}">

	<div id="headDiv{{$index}}"  ng-hide="hideTableHead==true" ng-if="val.name !='--MULTISELECT--'" ng-click="orderBy(val)"  ng-class="{ 'black': val.name==column_ordering}">
		
		<md-icon  ng-class="{ 'hidden': val.name!=column_ordering.name ,'fa fa-arrow-down' : (val.name==column_ordering.name && reverse_col_ord) ,'fa fa-arrow-up' : (val.name==column_ordering.name && !reverse_col_ord)}"></md-icon>
		<span >{{val.label}}</span>
	</div>

	<md-checkbox  ng-checked="multiSelectVal" ng-if="val.name=='--MULTISELECT--'"  ng-click="selectAll()" aria-label="selected item checked"> </md-checkbox>

</th>
</script>

<script type="text/ng-template" id="bodyTemplate.html">

<tr ui-tree-node dir-paginate="row in ngModel |  filterBySpecificColumns:columnsSearch:searchFastVal| customOrdering:internal_column_ordering:internal_reverse_col_ord:tableColumns:initialSorting | itemsPerPage:	itemsPerPage" 
	pagination-id='id+"PaginationTable"' total-items='totalItemCount' current-page=currentPageNumber
	ng-class="{'selectedRowItem': (highlightsSelectedItem==true && isSelected(row) )}"  class="animate-repeat-tablerow">

<td ng-repeat="column in tableColumns" ng-click="clickItem(row,getColumnValue(row,column.name),$event,$parent.$index)" ng-dblclick="startEdit(row,column,getColumnValue(row,column.name),$event)" context-menu  data-target='{{id}}TableContextMenu-{{$parent.$index}}-{{$index}}' ng-class="{ 'highlight': highlight, 'expanded' : expanded,'tableDragBar':column.name=='--DRAG_AND_DROP--'}">
		<span ng-if="column.name!='--MULTISELECT--' && column.name!='--SPEEDMENU--' && column.name!='--DRAG_AND_DROP--'" dynamichtml="getColumnValue(row,column.name)"   ng-show="!allowEdit || (allowEdit && !row.editing) || (allowEdit && row.editing && !column.editable)"></span>
		<input ng-if="column.name!='--MULTISELECT--' && column.name!='--SPEEDMENU--' && column.name!='--DRAG_AND_DROP--'" ng-show="allowEdit && row.editing && column.editable" ng-model="row[column.name]" ng-blur="doneEdit(row,column,getColumnValue(row,column.name),$event)" autofocus />
		
		<i ng-if="column.name=='--DRAG_AND_DROP--'" ui-tree-handle class="fa fa-bars "></i>

		<md-checkbox ng-if="column.name=='--MULTISELECT--'" ng-checked="isSelected(row)" ng-click="clickItem(row,getColumnValue(row,column.name),$event)" aria-label="selected item checked"> </md-checkbox>
		
		<md-button ng-if="column.name=='--SPEEDMENU--' && speedMenuOption.length<=3" ng-repeat="menuItem in speedMenuOption"  ng-click='$event.stopPropagation();menuItem.action(row,$event);' class="md-icon-button actionButton" aria-label="More" 
		action-background-color={{menuItem.backgroundColor}}>
 			<md-tooltip ng-if="menuItem.label!=undefined" md-direction="top">{{menuItem.label}}</md-tooltip>	
       	 <md-icon md-font-icon="{{menuItem.icon}}" aria-label="{{menuItem.label}}" action-color={{menuItem.color}}></md-icon>
      	</md-button>

		<md-menu  ng-if="column.name=='--SPEEDMENU--' &&  speedMenuOption.length>3 ">
      <md-button aria-label="row interactions menu" class="md-icon-button" ng-click="$event.stopPropagation();$mdOpenMenu($event)">
        <md-icon md-menu-origin md-font-icon="fa fa-ellipsis-v"></md-icon>
      </md-button>
      <md-menu-content width="4" >
        <md-menu-item ng-repeat="menuItem in speedMenuOption"> 
          <md-button ng-click="$event.stopPropagation();menuItem.action(row,$event);" action-background-color={{menuItem.backgroundColor}}>
		   <md-icon action-color="{{menuItem.color}}" md-font-icon="{{menuItem.icon}}" aria-label="{{menuItem.label}}" md-menu-align-target></md-icon>
           {{menuItem.label}}
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>

		<div class="dropdown_menu_list " style="z-index: 999; " id='{{id}}TableContextMenu-{{$parent.$index}}-{{$index}}' )>
			<md-list class="dropdown-menu bottomBorder" role="menu" ng-if="menuOption.length!=0 && menuOption!=undefined && column.name!='--MULTISELECT--' && column.name!='--SPEEDMENU--'"> 
				<md-list-item ng-repeat=" menuItem in menuOption" role="menuitem"	ng-click='menuItem.action(row,getColumnValue(row,column.name),$event);$event.stopPropagation();' tabindex='{{$index}}' >
					<p >{{menuItem.label}}</p>
				</md-list-item>
			</md-list>
		</div>	
	</td>
 
</tr>

	
</script>

<!-- </div> -->




