.kn-documentDetails {
    height: 100%;
}

.kn-documentDetails .templateHistory .selected {
    background-color: #d2dfeb;
}

.kn-documentDetails .tabContainer {
    height: calc(100% - 32px) !important;
}

.kn-documentDetails md-menu {
    padding: 0;
}

.kn-documentDetails .flexButton {
    display: flex;
}

.kn-documentDetails .outputType {
    text-transform: uppercase;
    width: 40%;
    display: inline-block;
}

.kn-documentDetails .outputName {
    width: 40%;
    display: inline-block;
}

.kn-documentDetails md-menu>.md-button {
    text-align: left;
    display: inline-block;
    border-radius: 0;
    margin: auto 0;
    font-size: 15px;
    text-transform: none;
    font-weight: 400;
    height: 100%;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
}

.kn-custom-tree {
    position: relative
}

.kn-documentDetails md-list md-list-item.md-2-line,
.kn-documentDetails md-list md-list-item.md-2-line .md-button {
    min-height: 42px;
    height: 42px;
}

.kn-custom-tree md-checkbox {
    margin-bottom: 0;
}

.kn-custom-tree .item {
    height: 32px;
    position: relative;
}

.kn-custom-tree .item .fa::before {
    position: relative;
    z-index: 2;
    background-color: white;
}

.kn-custom-tree:before {
    position: absolute;
    top: 0;
    bottom: 1rem;
    left: -.5em;
    display: block;
    width: 0;
    border-left: 1px dashed #777;
    content: "";
}

.kn-custom-tree .item:last-child::before {
    height: 50%;
}

.kn-custom-tree .item:after {
    border-top: 1px dashed #777;
    border-bottom: 0;
    border-left: 0;
    bottom: 0;
    left: -.2rem;
    top: 1rem;
    width: 1rem;
    height: auto;
    content: "";
    position: absolute;
}

.kn-custom-tree .expandedItems {
    padding-left: 20px;
}

.kn-dangerous{
	color:red;
	border-color:red;
}