#angularTableTemplate{
	position: relative !important;
}

md-toolbar.md-knowage-theme {
    min-height: 40px;
    height: 40px;
    background-color: #3B678C !important;
    color: #FFF !important;
}

md-toolbar.md-knowage-theme.md-toolbar-tools {
    height: 40px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
}