<div ng-click="clickItem(row,row[key])" context-menu  data-target="{{id}}TableContextMenu-{{ $parent.$parent.$parent.$index}}-{{$index}}"  ng-class="{ 'highlight': highlight, 'expanded' : expanded}">
{{row[key]}}
</div>

<div class="dropdown_menu_list " style="z-index: 999; left: 10px !important" id="{{id}}TableContextMenu-{{ $parent.$parent.$parent.$index}}-{{$index}}" )>
	<md-list class="dropdown-menu bottomBorder" role="menu" ng-if="menuOption.length!=0 && menuOption!=undefined"> 
		<md-list-item ng-repeat=" menuItem in menuOption" role="menuitem"	ng-click='menuItem.action(row,row[key],$event)' tabindex='{{$index}}' >
			<p >{{menuItem.label}}</p>
		</md-list-item>
	</md-list>

</div>	