<td ng-if="multiSelect==true" class="multiSelectBox">
	<md-checkbox ng-checked="isSelected(row)" ng-click="clickItem(row)" aria-label="selected item checked"> </md-checkbox>
</td>

<td ng-if="columns==undefined || columns.length==0" ng-repeat="(col,val) in row" ng-include="'/athena/js/src/angular_1.4/tools/commons/angular-table/angular-table-row-cell.html'" ng-class="{'selectedRowItem': (isSelected(row) && highlightsSelectedItem==true)}"</td>
<td ng-if="!(columns==undefined || columns.length==0)" ng-repeat="col in columns" ng-include="'/athena/js/src/angular_1.4/tools/commons/angular-table/angular-table-row-cell.html'" ng-class="{'selectedRowItem': (isSelected(row) && highlightsSelectedItem==true)}"></td>

<td ng-if="speedMenuOption!=undefined && speedMenuOption.length>0" >
	<div layout="row"  >
	  	<md-button ng-repeat=" menuItem in speedMenuOption"  ng-click='menuItem.action(item,$event)' aria-label="{{menuItem.label}}" class="md-fab md-raised actionButton " style="background-color:{{menuItem.backgroundColor}}">
			<md-tooltip md-direction="top">{{menuItem.label}}</md-tooltip>										           
			<md-icon style="color:{{menuItem.color}}" md-font-icon="{{menuItem.icon}}" aria-label="{{menuItem.label}}" ></md-icon>
		</md-button>
	 </div>					    
</td>	



	