

<md-dialog class="upload-dialog" aria-label="Mango (Fruit)" ng-cloak> 
	<md-toolbar class="md-blue">
		<div layout = 'column' layout-margin  layout-align="space-around center">
			<div layout = 'row' layout-margin  layout-align="space-around center">
				Uploading your file...
			</div>
		</div> 
	</md-toolbar> 
	<md-dialog-content layout="column" >
		<div layout = 'row' layout-margin layout-align="space-around center">
			Uploading '{{file.name}}' file in progress
		</div>
		<div layout = 'row' layout-margin>
			<md-progress-linear md-mode="indeterminate"></md-progress-linear>
		</div> 
	</md-dialog-content> 
</md-dialog>

