<div layout-fill class="overlayGray" layout="row" layout-align="center center">

<md-dialog aria-label="table configuration" ng-cloak  layout="column" class="width80">
   
    <md-dialog-content flex layout="column">
    	  <md-toolbar class="secondaryToolbar" layout="row">
		        <h1 flex class="md-toolbar-tools">{{translate.load('sbi.cockpit.widgets.table.columnstyle')}}</h1>
		         <md-button  flex=10  ng-click="cleanStyleColumn()" >
			      <md-icon md-font-icon="fa fa-eraser" aria-label="Clean"></md-icon>
			      </md-button>
		  </md-toolbar>
		      <div layout-margin layout="column" flex class="relative"> 
		    	 <div flex>
		       	<md-input-container class="md-block" class="small counter">
					<label>{{translate.load('sbi.cockpit.table.maxwidth')}}</label>
					<input class="input_class" type="number" ng-model="selectedColumn.style.maxWidth"> 
				</md-input-container>
		       </div>	
				<div flex>
					  <md-switch ng-model="selectedColumn.style.hideonMobile" aria-label="Hide Mobile">
					 {{translate.load('sbi.cockpit.table.hide')}}
					  </md-switch>
		       
				<!-- added by alepiova -->
				       
				       <div ng-if="selectedColumn.fieldType=='MEASURE'">
				       		
				       		<md-input-container>
		          				<label>{{translate.load('sbi.cockpit.table.visualizationtype')}}</label>
		          					<md-select ng-model="selectedColumn.visType">
		            					<md-option ng-repeat="vType in visTypes" value="{{vType}}">
		              						{{vType}}
		            					</md-option>
		          					</md-select>
		        			</md-input-container>
				     
					       <div ng-if="selectedColumn.visType=='Chart'|| selectedColumn.visType=='Chart & Text' || selectedColumn.visType== 'Text & Chart' ">
					       		<md-input-container flex class="md-block" class="small counter">
									<label>{{translate.load('sbi.cockpit.table.minvalue')}}</label>
									<input class="input_class" type="number" ng-model="selectedColumn.minValue" required> 
								</md-input-container>	
								
								<md-input-container flex class="md-block" class="small counter">
									<label>{{translate.load('sbi.cockpit.table.maxvalue')}}</label>
									<input class="input_class" type="number" ng-model="selectedColumn.maxValue" required> 
								</md-input-container>
								
								<md-input-container flex class="md-block" class="small counter">
									<label>{{translate.load('sbi.cockpit.table.chartlength')}}</label>
									<input class="input_class" type="number" ng-model="selectedColumn.chartLength" required> 
								</md-input-container>
								
								<md-input-container flex class="md-block" class="small counter">
									<label>{{translate.load('sbi.cockpit.table.chartcolor')}}</label> 
									<color-picker  options="colorPickerProperty" ng-model="selectedColumn.chartColor "></color-picker>
								</md-input-container>
								
					       </div>
					       
			        	      
					       <!-- <md-input-container>
						       <md-checkbox ng-model="selectedColumn.selectThreshold">
								  Threshold
							   </md-checkbox>
						   </md-input-container>
							   
	   			       	   <md-input-container ng-if="selectedColumn.selectThreshold">
			          				<label>Threshold</label>
									<input class="input_class" type="number" ng-model="selectedColumn.threshold" required> 
			        	   </md-input-container> -->
							
						   
						    
							
							
						   <md-input-container>
			          				<label>{{translate.load('sbi.cockpit.table.colorthreshold')}}</label>
									<input class="input_class" type="number" ng-model="selectedColumn.colorThreshold" required> 
			        	   </md-input-container> 
			        	   
			        	   
						   
						   
					       					       
					       <angular-table layout-fill
					    				id="thresholdsTable" 
										flex
										ng-show=true
										ng-model="thresholdsList"
										highlights-selected-item=true
										no-pagination=true
										columns="tableColumns"		
										scope-functions="selectedColumn.scopeFunc"	
							>						
							</angular-table>
							
						<!-- 	<angular-table layout-fill
					    				id="cellColorThresholdsTable" 
										flex
										ng-show=true
										ng-model="cellColorThresholdsList"
										highlights-selected-item=true
										no-pagination=true
										columns="cellColorTableColumns"		
										scope-functions="selectedColumn.scopeFunc"	
							>						
							</angular-table> -->
							
					  </div> 
					       
				
				       
				       
				       
				       
			   <!-- ----------------- -->
		       
		       
		       <div flex layout="row" ng-if="selectedColumn.fieldType == 'MEASURE'">
					<md-input-container flex class="md-block" class="small counter">
						<label> {{translate.load('sbi.cockpit.style.prefix')}}</label>
						<input class="input_class"  ng-model="selectedColumn.style.prefix"> 
					</md-input-container>
					<md-input-container flex class="md-block" class="small counter">
						<label>{{translate.load('sbi.cockpit.style.suffix')}}</label>
						<input class="input_class"  ng-model="selectedColumn.style.suffix"> 
					</md-input-container>
					<md-input-container flex class="md-block" class="small counter">
						<label>{{translate.load('sbi.cockpit.style.precision')}}</label>
						<input class="input_class" type="number" ng-model="selectedColumn.style.precision"> 
					</md-input-container>
		       </div>	
		       <div  flex>
					<md-input-container class="md-block"> 
						<label>{{translate.load('sbi.cockpit.table.backgroundcolor')}}</label>
						<color-picker  options="colorPickerProperty" ng-model="selectedColumn.style.background "></color-picker>
					</md-input-container>
				</div>
				<div flex>
				   	<md-input-container class="md-block"> 
						<label>{{translate.load('sbi.cockpit.table.fontcolor')}}</label>
						<color-picker  options="colorPickerProperty" ng-model="selectedColumn.style.color"></color-picker>
					</md-input-container>
				</div>
			
		       <div flex>
		       		<md-input-container flex class="md-block"> 
							<label>{{translate.load('sbi.cockpit.table.fontweight')}}</label>
							<md-select aria-label="aria-label" ng-model="selectedColumn.style.fontWeight">
									<md-option ng-repeat="w in fontWeight" value="{{w}}">{{w}}</md-option>
							</md-select>
					</md-input-container>
				</div>
				<div flex>
		       		<md-input-container flex class="md-block"> 
							<label>{{translate.load('sbi.cockpit.table.fontsize')}}</label>
							<input class="input_class" ng-model=selectedColumn.style.fontSize type="number"/>
					</md-input-container>
				</div>
		      </div>
    		</div>
    </md-dialog-content>
   
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="cancelcolumnStyleConfiguration()" >
        {{translate.load('sbi.generic.cancel')}}
      </md-button>
      <md-button ng-click="saveColumnStyleConfiguration()" ng-disabled="checkIfDisable()" >
        {{translate.load('sbi.generic.save')}}
      </md-button>
    </md-dialog-actions>
	 
 </md-dialog>
 </div>