<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
<Appenders>
 <RollingFile
    name="SpagoBIBirtReportEngine"
    fileName="${sys:catalina.base}/logs/knowageBirtReportEngine.log"  append="False"  filePattern="${sys:catalina.base}/logs/knowageBirtReportEngine.log"
    ignoreExceptions="false" createOnDemand="true">
    <PatternLayout>
        <Pattern>%d{DATE} %5p %c.%M:%L - %m%n</Pattern>
    </PatternLayout>
    <Policies>
        <SizeBasedTriggeringPolicy size="10000KB" />
    </Policies>
    <DefaultRolloverStrategy max="1" />
</RollingFile>
</Appenders>
    <Loggers>
    <logger name="it.eng.spagobi" level="ERROR">
        <AppenderRef ref="SpagoBIBirtReportEngine"/>
    </logger>
    <logger name="it.eng.spagobi.commons.utilities.messages" level="ERROR">
        <AppenderRef ref="SpagoBIBirtReportEngine"/>
    </logger>
    <logger name="it.eng.spagobi.commons.utilities.urls.WebUrlBuilder" level="ERROR">
        <AppenderRef ref="SpagoBIBirtReportEngine"/>
    </logger>
    <logger name="org.jasig" level="ERROR">
        <AppenderRef ref="SpagoBIBirtReportEngine"/>
    </logger>

  <Root level="ERROR">
            <AppenderRef ref="SpagoBIBirtReportEngine"/>
        </Root>
    </Loggers>
</Configuration>