.fl-prefsEditor-separatedPanel {
	position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
	.fl-panelBar  {
		.fl-prefsEditor-buttons {
			float: left !important;
			position: absolute;
			left: 40%;
			z-index: 9999;
		}
	}	
}

.accessible-mode-on {
	button, .md-button {
	  &:focus {
	    outline: 2px !important;
	  }
	}
}

.accessibleTable {
	border-collapse: collapse;
	width: 100%;
	min-width: 700px;
	thead {
		tr{
			height: 2rem;
			th {
				text-transform: uppercase;
				font-size: 1rem;
				color: $baseColor;
			}
		}
	}
	tbody {
		tr{
			height: 2rem;
			&:nth-child(odd) {
				background-color: lighten($ternaryColor,10%);
			}
			td {
				text-align: center;
				font-size: .8rem;
				color: $darkTextColor;
			}
		}
	}
}

.kn-accessiblePdf {
	width: 60%;
	.progressLinearAccessibleTables {
		margin-bottom: 8px;
		.bottom-block {
			position: relative;
			height: $biggerLineHeight;
			width: 100%; 
			strong {
				text-transform: capitalize;
			}
			&.success {
				background-color: lighten($positiveColor,40%);
			}
			&.active {
				background-color: lighten($secondaryColor,20%);
			}
			&.available {
				background-color: lighten($ternaryColor,10%);
			}
			&.error {
				background-color: lighten($negativeColor,30%);
			}
			> span {
				line-height: $biggerLineHeight;
				padding-left: 20px;
				font-size: $baseFontSize;
			}
		}
	}

	.hint {
		text-align: center;
		background-color: $pageBackground;
		margin-bottom: 30px;
		border-radius: 2px;
		font-size: .6rem;
		text-transform: uppercase;
		padding: 8px;
		width: 80%;
		-webkit-box-shadow: 0px 2px 3px 2px $shadowsColor;
		-moz-box-shadow: 0px 2px 3px 2px $shadowsColor;
		box-shadow: 0px 2px 3px 2px $shadowsColor;
		margin:0 auto 10px auto;
		p {
			margin:0;
		}
	}
}

.accessibleModeOn{
  *:focus {
    outline-width: 5px;
    outline-offset: 10px;
    outline-style: solid;
  }
}
