bread-crumb {
    min-height: 30px;
    &.kn-documentBrowser-comp, &.kn-workspace-comp{
        nav {
            background-color: $ternaryColor;
            md-tabs {
                md-tabs-canvas{
                    md-pagination-wrapper {
                        md-tab-item.md-tab{
                            color: rgba($baseColor, 0.6) !important;
                            &:nth-last-child(2) {
                                span {
                                    color: rgba($baseColor, 1);
                                }
                            }
                            span {
                                color: rgba($baseColor,0.6);
                                 &:before {
                                    color: rgba($baseColor,0.6);
                                 }
                            }
                        }
                    }
                }
            }
        }
    }
    nav {
        color: #fff;
        width: 100%;
        height: $toolbarHeight;
        line-height: $toolbarHeight;
        md-tabs {
            md-tabs-canvas {
                &.md-paginated {
                    height: $toolbarHeight;
                }
                md-pagination-wrapper {
                    height: $toolbarHeight;
                    md-ink-bar {
                        display: none;
                    }
                    
                    md-tab-item.md-tab {
                        line-height: $toolbarHeight !important;
                        padding: 0 12px 0 0 !important;
                        color: rgba($lightTextColor, 0.6) !important;
                        max-width: 200px !important;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        &.md-active {
                           font-weight: inherit !important; 
                        }
                        &:nth-last-child(2) {
                            span {
                                text-transform: capitalize;
                                color: rgba($lightTextColor, 1);
                            }
                            max-width: 300px !important;
                            font-weight: bold;
                        }
                        &:first-child {
                            span {
                                padding-left: 1rem;
                                &:before {
                                    display: none;
                                }
                            }
                        }
                        &:hover {
                            background-color: rgba($secondaryColor, .6);
                        }
                        

                        span {
                            text-transform: uppercase;
                            font-size: $baseFontSize;
                            &:before {
                                content: '\f054';
                                color: rgba($lightTextColor,0.6);
                                vertical-align: top;
                                display: inline-block;
                                font-family: 'FontAwesome';
                                font-weight: normal;
                                font-style: normal;
                                font-size: $smallFontSize;
                                padding-right: $baseFontSize;
                                -webkit-font-smoothing: antialiased;
                            }
                        }
                    }
                }
            }
        }
    }
}
