.kn-documentExecution{

	#documentFrameContainer {
		overflow-x: hidden !important;
	}

	.animate-switch-container {
		position: relative;
	}
	
	.animate-switch.ng-enter, .animate-switch.ng-leave {
		-webkit-transition: 0.5s linear all;
		-moz-transition: 0.5s linear all;
		-o-transition: 0.5s linear all;
		transition: 0.5s linear all;
		position: absolute;
	}
	
	.switch-left.ng-enter {
		left: 100%;
	}
	
	.switch-left.ng-leave, .switch-left.ng-enter.ng-enter-active {
		left: 0;
	}
	
	.switch-left.ng-leave.ng-leave-active {
		left: -100%;
	}
	
	.switch-right.ng-enter {
		right: 100%;
	}
	
	.switch-right.ng-leave, .switch-right.ng-enter.ng-enter-active {
		right: 0;
	}
	
	.switch-right.ng-leave.ng-leave-active {
		right: -100%;
	}
	
	/* menu style */
	#menuButton:hover {
		color: white;
	}
	
	#menu md-menu-item span, #menu md-menu-item md-icon {
		color: rgba(0, 0, 0, 0.87) !important
	}
	
	#menu md-menu-item md-icon {
		z-index: 1;
		padding-top: 4px;
	}
	
	#menu md-menu-content span.divider {
		padding-left: 10px;
		color: gray !important;
		font-weight: 100;
		font-style: italic;
		font-size: smaller;
	}
	
	.well, .lastScore, .ratingSaved {
		margin-left: 10px;
	}
	
	.rating span {
		font-size: 30px;
		color: #E4A400;
		margin-left: -3px;
	}
	
	.lastScore span {
		font-size: 30px;
		color: #E4A400;
		margin-left: -3px;
	}
	
	.ratingSaved span {
		font-size: 30px;
		margin-left: -3px;
	}
	
	#dialogRank {
		height: 350px;
		width: 250px;
	}
	
	#buttonRank {
		margin-left: 130px;
		bottom: -50px;
	}
	
	/* Metadata Dialog*/
	#metadataDlg md-dialog-content {
		margin: 0;
		padding-bottom: 10px;
	}
	
	#metadataDlg expander-box>md-content {
		border: 0 !important;
		padding: 0;
	}
	
	.animate-accordion.ng-hide-add, .animate-accordion.ng-hide-remove {
		transition: linear all 1s;
	}
	
	.animate-accordion.ng-hide {
		height: 0;
	}
	
	.headerNote {
		height: 40px;
	}
	
	.headerNote span {
		margin-top: -17px;
	}
	
	
	.tinyeditor-footer {
		display: none;
	}
	
	.listNotes {
		width: 100%;
		overflow: auto;
	}
	
	.contentListNote {
		background-color: rgba(148, 148, 148, 0.11);
	}
	
	.md-whiteframe-4dp {
		background-color: white;
	}
	
	.overflow {
		overflow: auto;
	}
	
	md-toolbar.documentExecutionToolbar button.md-icon-button {
		height: 40px;
		width: 40px;
		margin-right: 20px;
	}

	md-toolbar.documentExecutionToolbar md-menu-bar {
		padding: 0px;
	}
	
	md-toolbar.documentExecutionToolbar button.md-icon-button md-icon {
		line-height: 22px;
	}
	
	.parameter-leaf {
		background-image: url(../img/behavioural/parameter-leaf.png) !important;
		background-repeat: no-repeat no-repeat;
	}
	
	document-paramenter-element {
		overflow: hidden;
		align-items: center;
		&:nth-child(even){
			background-color: $contentBackground;
		}
		.textInput {
			div{
				margin:0;
			}
			input {
				font-size: $mediumFontSize;
			}
		}
		label {
			font-size: $baseFontSize;
    		color: $baseColor;
		}
		.datePicker {
			max-height: 70px;
		}
		button.md-icon-button.md-button {
	    	margin: 5px 0px;
		}
		md-select-value {
			font-size: $mediumFontSize;
		}

		.parametersSidenav {
			.labelContainer {
				margin:2px;
				md-icon {
					color: $baseColor;
					cursor: pointer;
					text-align: center;
					margin: 0 2px;
				}
				label {
					&.mandatory {
						&::after {
							content: " *"; 
						}
					}
				}
			}


		}
		.lookupParameter {
			div {
				margin:0;
			}
			md-chips {
				font-size: $smallFontSize;
				md-chips-wrap {
					padding: 0;
					md-chip {
						font-size: $smallFontSize;
						line-height: 24px;
						margin-top: 0;
						height: 24px;
					    margin-bottom: 4px;
					}
					._md-chip-input-container {
						display: none;
					}
				}
			}
		} 
		.checkBoxParameter {
			&>div {
				margin: 0;
			}
			md-checkbox {
				margin-bottom: 0;
				line-height: 20px;
				margin-left: 12px;
				._md-container {
					width: 14px;
					height: 14px;
					._md-icon {
						width: 14px;
						height: 14px;
						&:after {
						    left: 3.5;
	    					top: 0;
						}
					}
				}
				._md-label {
					font-size: $mediumFontSize;
				}
				&.md-knowage-theme:not([disabled]).md-primary.md-checked ._md-icon {
					background-color: $baseColor;
				}
			}
		}
		.radioParameter {
			md-radio-group {
				margin-left: 12px;
				md-radio-button {
				    margin-bottom: 4px;
					outline: none;
					._md-container {
						width: 14px;
						height: 14px;
						._md-off, ._md-on {
							width: 14px;
							height: 14px;
						}
					}
					._md-label {
						font-size: $mediumFontSize;
					}
				}
			}
		}
		.selectParameter {
			md-input-container {
				margin: 0;
			}
		}
		.datePickerParameter {
			md-datepicker {
				margin: 0;
				.md-datepicker-input-container {
					width: 100%;
					input {
						font-size: $mediumFontSize;
					}
				}
				.md-datepicker-triangle-button {
					margin: 0 6px !important; 
				}
				md-icon {
					font: normal normal normal 14px/1 'FontAwesome';
					&:before {
						content: '\f133';
						display: none;
					}
				}
			}
		}
	}
	.cockpitDatasetGrid {
    	.ag-cell[col-id='label'] {
    		.ag-cell-value {
	    		position: relative;
	    		bottom: 4px;
	    	}
    	}
    }
}

.customMetadata {
	wysiwyg-edit {
		.sizer {
			max-height:200px;
			.resizer {
				display: none;
			}
		}
	}
}

/* IE11 fix */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.kn-documentExecution {
		document-paramenter-element {
			max-width: 97%;
		}
		.lateralsidenav {
			overflow-x: hidden;
			md-toolbar {
				min-width: 350px;
			}
		}
	}
}
