.kn-documentBrowser{
	.actionButton {
		padding-left:3px;
	}

	angular-table {
		#angularFullTableContentBox:not(.relativeHeader) {
			.angularTableHeader {
				background-color: $baseColor !important;
			}
			tr {
				th {
					.th-inner {
						color: $lightTextColor !important;
						md-icon {
							color: $lightTextColor !important;
						}
					}
				}
			}
		}
		md-icon {
			height: 14px;
			width: 14px;
		}
	}

	.md-fab.md-mini md-icon {
		height: 28px;
		width: 28px;
		line-height: 28px;
	}

	.selectedDocumentSidenav {
		md-toolbar {
			padding: 15px 0 5px 0;
			box-sizing: content-box;
		}
		.selectedDocumentPreview {
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				max-width: 100%;
				max-height: 200px;
			}
		}
	}

	md-toolbar.documentBrowserToolbar button.md-icon-button,
		.selectedDocumentSidenav md-toolbar button.md-icon-button {
		height: 40px;
		width: 40px;
	}
	
	md-toolbar.documentBrowserToolbar button.md-icon-button.selectedButton {
		background-color: $baseColor;
		color: #fff;
	}

	md-toolbar.documentBrowserToolbar button.md-icon-button md-icon,
		.selectedDocumentSidenav md-toolbar button.md-icon-button md-icon {
		line-height: 22px;
	}
	
	md-toolbar.documentBrowserToolbar md-input-container.searchInput input {
		color: white;
		border-color: rgb(248, 252, 255) !important;
	}
	
	md-toolbar.documentBrowserToolbar md-input-container.searchInput label {
		color: white;
	}
	
	md-sidenav.selectedDocumentSidenav>md-content>md-list>md-list-item>div:not(._md-secondary-container) {
		width: 100%;
	}

	md-sidenav.selectedDocumentSidenav button md-icon {
		color: $baseColor;
	}
	
	md-sidenav.selectedDocumentSidenav>md-content>md-list>md-list-item>div>p
		{
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		-webkit-hyphens: auto;
		hyphens: auto;
		word-wrap: break-word;
	}
	
	.documentBrowserCardContainer {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		padding: 8px;
		.documentCard {
			md-card-title-text {
				width: 100%;
			}
			width: 100%;
			max-width: 350px;
			margin-top: 0;
			background-color: $baseColor;
			md-icon {
				color: $cardActionIconsColor;
			}
			.preview-icon {
				height: 112px;
			}
			md-card-title {
			    color: #FAFAFA;
			    padding: 12px;
		    	text-transform: uppercase;
		    	p{
				    margin: 0;
				    padding: 0;
				}
			}
			md-card-actions {
		    	background-color: rgba(white,0.5);
		    	margin: 0;
		    	button {
		    		overflow: visible;
		    	}
			}
			div.md-card-image {
				max-height: 100px;
			    width: 100%;
			    height: 100px;
			    background-size: contain;
			    background-position: top center;
			    background-repeat: no-repeat;
			    margin: 6px 0;
			}
		}
	}
	
	md-tabs.documentNavigationToolbar>md-tabs-wrapper md-tabs-canvas,
	md-tabs.documentNavigationToolbar>md-tabs-wrapper md-tabs-canvas md-pagination-wrapper,
	md-tabs.documentNavigationToolbar>md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item {
		height:30px!important;
	}
	
	md-tabs.documentNavigationToolbar>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-ink-bar{
		color:  #c70751 ;
		background:  #c70751 ;
	}
		
	md-tabs.documentNavigationToolbar>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item {
		padding: 2px 20px;
		color: $baseColor;
	}
	
	md-tabs.documentNavigationToolbar>md-tabs-content-wrapper {
		top: 30px;
	}
	
	md-tabs.documentNavigationToolbar>md-tabs-wrapper {
		background-color:$secondaryColor;
		margin-left: 80px;
		margin-right: 35px;
	}
	
	md-tabs.documentNavigationToolbar>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item>md-icon {
		font-size: 27px; 
		color:rgb(183, 183, 183);
	}
	
	md-tabs.documentNavigationToolbar .tabCloseButton{
	    height: 20px;
	    width: 20px;
	    min-height: 20px;
	   }
	
	md-tabs.documentNavigationToolbar .tabCloseButton md-icon{
	    color: white!important; 
   		line-height: 20px; 
	}
	
	//this hide the first tab of tabs 
	md-tabs.documentNavigationToolbar>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:first-child {
		width:0px;
		padding:0px;
	}
	 
	md-tabs.documentNavigationToolbar>md-tabs-wrapper .md-tab.md-active,
	md-tabs.documentNavigationToolbar>md-tabs-wrapper .md-tab.md-active>md-icon, 
	md-tabs.documentNavigationToolbar>md-tabs-wrapper .md-tab.md-focused,
	md-tabs.documentNavigationToolbar>md-tabs-wrapper .md-tab.md-focused>md-icon{
		color: white;
    	font-weight: lighter;
	}
	
	md-tabs.documentNavigationToolbar>button.documentBrowserTabButton.selectedDocumentBrowserTabButton{
	    border-bottom: 2px solid $fabPrimaryColor;
    	height: 28px;
    }
    
	md-tabs.documentNavigationToolbar>button.documentBrowserTabButton>md-icon,
	md-tabs.documentNavigationToolbar>md-menu>button.documentBrowserClearButton>md-icon{
		color: $baseColor;
	}
	
    md-tabs.documentNavigationToolbar>button.documentBrowserTabButton.selectedDocumentBrowserTabButton>md-icon{
   	 color:white;
    }
	
	md-tabs.documentNavigationToolbar>button.documentBrowserTabButton,
	md-tabs.documentNavigationToolbar>md-menu>button.documentBrowserClearButton{
		margin: 0;
		top:0;
	    height: 28px;
	    border-bottom: 2px solid transparent;
	    min-height: 30px;
	    width: 80px;
	    min-width: 30px;
	    position: absolute;
	    z-index: 2; 
	    font-size: 27px;
	    transition: all .5s cubic-bezier(.35,0,.25,1);
	    background-color: $secondaryColor;
	    border-radius: 0px;
	}
	
	md-tabs.documentNavigationToolbar>md-menu>button.documentBrowserClearButton{
	    right: 0px;
	    width: 35px;
	    
	}
	
	.document_browser_image_, .document_browser_image_EMPTY{
	    background-image: url('../img/documentBrowser/document_generic.png')!important;
	}
	
	.document_browser_image_REPORT{
	    background-image: url('../img/documentBrowser/document_report.png')!important;
	}
	
	.document_browser_image_OLAP{
	    background-image: url('../img/documentBrowser/document_olap.png')!important;
	}
	
	.document_browser_image_DATA_MINING{
	    background-image: url('../img/documentBrowser/document_datamining.png')!important;
	}
	
	.document_browser_image_DATAMART{
	    background-image: url('../img/documentBrowser/document_registry.png')!important;
	}
	
	.document_browser_image_DASH{
	    background-image: url('../img/documentBrowser/document_dashboard.png')!important;
	}
	
	.document_browser_image_MAP{
	    background-image: url('../img/documentBrowser/document_locatiointelligence.png')!important;
	}
	
	.document_browser_image_OFFICE_DOC{
	    background-image: url('../img/documentBrowser/document_officedoc.png')!important;
	}
	
	.document_browser_image_ETL{
	    background-image: url('../img/documentBrowser/document_etl.png')!important;
	}
	
	.document_browser_image_DOCUMENT_COMPOSITE{
	    background-image: url('../img/documentBrowser/document_cockpits.png')!important;
	}
	
	.document_browser_image_KPI{
	    background-image: url('../img/documentBrowser/document_kpi.png')!important;
	}
	
	.document_browser_image_SMART_FILTER{
	    background-image: url('../img/documentBrowser/document_smart_filter.png')!important;
	}
	
	.document_browser_image_CONSOLE{
	    background-image: url('../img/documentBrowser/document_console.png')!important;
	}
	
	.document_browser_image_WORKSHEET{
	    background-image: url('../img/documentBrowser/document_worksheet.png')!important;
	}
	
	.document_browser_image_CHART{
	    background-image: url('../img/documentBrowser/document_chart.png')!important;
	}
	
	.document_browser_image_MOBILE_CHART{
	    background-image: url('../img/documentBrowser/browser/document_mobile_chart.png')!important;
	}
	
	.document_browser_image_MOBILE_COCKPIT{
	    background-image: url('../img/documentBrowser/document_mobile_cockpit.png')!important;
	}
	
	.document_browser_image_MOBILE_REPORT{
	    background-image: url('../img/documentBrowser/document_mobile_report.png')!important;
	}
	
	.document_browser_image_NETWORK{
	    background-image: url('../img/documentBrowser/document_network.png')!important;
	}
	
	.document_browser_image_ACCESSIBLE_HTML{
	    background-image: url('../img/documentBrowser/document_acc.png')!important;
	}
	
	.document_browser_image_QBE{
	    background-image: url('../img/documentBrowser/document_qbe.png')!important;
	}

	.document_browser_image_SCHEDULATION{
	    background-image: url('../img/documentBrowser/document_schedulation.png')!important;
	}
	
	.preferiteDocumentIcon{
	color: #E4A400;
	}
	angular-table {
		padding: 0;
		.principalTable {
			tr {
				td:first-child {
					span {
						span {
							//padding-left: 1em;
						}
					}
				}
			}
		}
		th {
			background-color: $baseColor;
			color: $lightTextColor;
			md-icon {
				color: $lightTextColor;
			}
		}
	}

	.documentBrowserDropdown {
		md-menu-item>.md-button {
			md-icon {
				font-size: 1.3em;
				line-height: 1.2em;
			}
		}
	}

	.documentGridViewInput {
		display: block;
		min-height: 50px;
		md-input-container {
			margin-bottom: 0;
		}
	}

	.documentBrowserClearButton[disabled]{
		md-icon {
			color: transparent !important;
		}
	}

	.mainContent {
		.emptyContainer {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.outerIcon {
				.emptyIconSvg {
					width: 170px;
	    			height: 80px;
	    			background-repeat: no-repeat;
	    			background-size: 50%;
	    			background-position: center;
	    			background-color: $baseColor;
	    			@include custom-mask-image('../img/documentBrowser/empty.svg', 50%, center);
				}
			}
			.emptyIconText {
				font-size: 14px;
				text-transform: uppercase;
			}
		}
		md-toolbar {
			width: 100%;
			margin: 0;
		}
		md-card {
			height: 100%;
			min-height: 0px;
			.documentBrowserGrid {
				height: 100%;
				width: 100%;
				.ag-header-row {
					color: $lightTextColor;
				}
				.ag-body-viewport {
					overflow-x: hidden;
				}
			}
			md-card-content {
				height:100%;
			}
		}
	}
	.fa-stack {
		color: #757575;
	}

}
.metadataDialog {
	md-list-item {
		min-height: 2em;
		font-size: .8em;
	}
}

/* IE11 FIX */

@media all and (-ms-high-contrast:none) {
	.kn-documentBrowser{
		.documentGridViewInput {
			margin-top: 30px;
		}
		.selectedDocumentSidenav {
			md-toolbar {
				padding: 0;
				div {
					&.layout-row {
						height: 100%;
					}
				}
			}
		}
		md-tabs-content-wrapper {
			md-tab-content {
				overflow: hidden;
			}
		}
		.mainContent {
			height:100%;
			md-card {
				height: 100%;
				margin: 0;
			}
			.documentBrowserGrid  {
				height: 100%;
			}
			.emptyContainer {
				.outerIcon {
					.emptyIconSvg {
						display: none;
					}
				}
			}
		}
	}
}

@-moz-document url-prefix() {
	.kn-documentBrowser{
		.documentGridViewInput {
			margin-top: 30px;
		}
		.selectedDocumentSidenav {
			md-toolbar {
				div {
					&.layout-row {
						height: 100%;
						padding-top: 0;
					}
				}
			}
		}
		.mainContent {
			md-card {
				height: 100%;
			}
		}

	}
}

@supports (-ms-ime-align:auto) {
	.kn-documentBrowser .mainContent md-card {
		height: calc(-50px + 100%);
	}
}