.kn-license {
	.importButtonContainer {
		right: 20px;
	    bottom: -10px;
	    position: absolute;
	    width: 40px;
	}

	.licenseTopButtons {
		position: relative;
	}

	.listItemLineHeight {
		line-height: 1rem;
	}
}