.kn-custom-list {
	md-list-item {
		height: $biggerListHeight;
		min-height: $biggerListHeight;
		._md-list-item-inner{
			height: $biggerListHeight;
			min-height: $biggerListHeight;
			font-size: $mediumFontSize;
		}
		.md-button {
			min-height: $biggerListHeight;
			height: $biggerListHeight;
			line-height: $biggerListHeight;
		}
	}
	&.h42 {
		.kn-list-item {
		    height: 42px;
		    display: flex;
		    flex-direction: row;
		    justify-content: start;
		    align-items: center;
		    border-bottom: 1px solid $bordersColor;
		    .kn-list-preicon {
			    margin: 0 10px;
			}
			.kn-list-action-button{
			    margin: 0 6px;
			    height: 40px;
			    min-width: 0;
			    line-height: 24px;
			    padding: 8px;
			    width: 40px;
			    border-radius: 50%;
			}
			.kn-list-text {
			    box-sizing: border-box;
			    height: 100%;
			    flex: 1;
			    justify-content: center;
			}

			.kn-list-text h3 {
			    margin: 0;
			    font-size: .8rem;
			}
			.kn-list-text p {
			    margin: 0;
			    font-size: .7rem;
			}
		}
	}
}
 
.angularListTemplate {
	max-height: 100%;
	font-size: $baseFontSize;
	font-weight: normal;
	color: $darkTextColor;
	overflow-x: hidden;
	position: relative;
	*:focus {
		outline: none;
	}
	.searchBarList {
		input {
			padding-left: 0 !important;
		}
	}
	.dropdown_menu_list md-list-item,
	.dropdown_menu_list md-list-item button,
	.dropdown_menu_list md-list-item .md-list-item-inner{
		height: 36px !important;
	}
	.dropdown_menu_list md-list-item p {
		line-height: 20px;
		margin: 3px;
	}
	button {
		p {
			line-height: 25px;
			padding: 0px 16px 0 0;
			margin-left: 4px;
			border-bottom: 2px solid rgb(176, 190, 197);
		}
		padding: 0px;
	}
	md-list {
		padding: 0;
		md-list-item {
			.md-button {
				min-height: 27px;
				height: 27px;
			}
		}
	}
	.md-list-item-inner {
		width: 100%;
		height: 100%;
	}
	.angular-ui-tree-handle, .angular-ui-tree-handle:hover{
		cursor: pointer !important;
	}
	[layout-padding] .box_pagination_list {
		margin-left: -8px !important;
	}
	.pagination {
		margin: 0px !important;
		padding: 0px !important;
		&>li, &>li>span {
			position: relative;
			float: left;
			margin-left: -1px;
			text-decoration: none !important;
			background-color: #fff;
			border: 1px solid #ddd;
			display: block;
			width: 20px;
			height: 16px;
			text-align: center;
			line-height: 16px;
		}
		&>li>a {
			text-decoration: none !important;
			width: 100%;
			display: block;
		}
		&>.active {
			&>a,
			&>a:focus, 
			&>a:hover,
			&>span, 
			&>span:focus,
			&>span:hover {
				z-index: 2;
				color: #000;
				cursor: default;
				background-color: rgb(232, 232, 232);
				border-color: rgb(232, 232, 232);
			}
		}
		&>.disabled {
			&>a,
			&>a:focus,
			&>a:hover,
			&>span, 
			&>span:focus,
			&>span:hover {
				color: #777;
				cursor: not-allowed;
				background-color: #fff;
				border-color: #ddd;
			}
		}
	}
}

i.dragged-item-icon {
	font-size: 15px;
	float: left;
	color: rgb(176, 190, 197);
	cursor: move;
	margin-top: 4px;
}


/* dropdown */
.angularListTemplate .dropdown_menu_list {
	margin-top: -50px;
	position: fixed !important;
}

.angularListTemplate md-fab-speed-dial md-fab-trigger button,
	.angularListTemplate button.singleActionButton {
	height: 15px !important;
	width: 15px !important;
	min-height: 0;
}

.angularListTemplate button.singleActionButton {
	position: absolute;
    right: -5px;
    top: 5px;
}

.angularListTemplate md-fab-speed-dial md-fab-actions button {
	height: 20px;
	width: 20px;
	min-height: 0;
	top: 2px;
	background-color: #0094FF;
}

.angularListTemplate md-fab-speed-dial md-fab-actions button md-icon {
	margin-top: 2px;
}

.angularListTemplate md-fab-speed-dial {
	position: absolute;
	right: -5px;
	height: 100%;
	top: -3px;
}

.angularListTemplate .dropdown_menu_list md-list {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.angularListTemplate .dropdown_menu_list.open md-list {
	display: block;
}

.angularListTemplate .dropdown_menu_list md-list.bottomBorder md-list-item button
	{
	border-bottom: 1px solid rgb(176, 190, 197);
	padding: 0;
	margin-left: 8px;
	margin-right: 8px;
	border-radius: 0;
}

/*tree */
.angular-ui-tree-node p, .angular-ui-tree-node md-list-item,
	.angular-ui-tree-node md-list-item button, .angular-ui-tree-node md-list-item button .md-list-item-inner,
	.angular-ui-tree-node .md-ripple-container {
	height: 21px !important;
	min-height: 21px !important;
	cursor: pointer;
}

ol.angular-ui-tree-nodes li {
	border-left: 1px dotted #D3C1C1;
}

.angular-ui-tree-empty {
	background-color: white !important;
	min-height: 30px;
}

.angular-ui-tree-handle {
	/* 	border-left: 2px double #D3C1C1; */
	padding: 4px 0px;
	height: 27px !important;
	min-height: 27px !important;
	cursor: pointer;
}

.angular-ui-tree-placeholder {
	background: #f0f9ff;
	border: 2px dashed #bed2db;
	box-sizing: border-box;
}

.selectedRow {
	font-weight: bold;
}

