.kn-login {
	height: 100%;
	min-height: 100%;
    background-repeat: no-repeat;
    background-image: url("../img/defaultTheme/background_720.jpg");
    background-size: cover;

	.card-container.card {
	    width: 350px;
	    padding: 40px 40px;
	}
	.version {
		position: absolute;
		bottom: 5px;
		right: 10px;
		font-size: $smallFontSize;
		text-transform: uppercase;
	}
	.btn {
	    font-weight: 700;
	    height: 36px;
	    -moz-user-select: none;
	    -webkit-user-select: none;
	    user-select: none;
	    cursor: default;
	}

	.card {
	    background-color: rgba(238, 238, 238, 0.38);
	    padding: 20px 25px 30px;
	    margin: 0 auto 25px;
	    margin-top: 15%;
	    -moz-border-radius: 5px;
	    -webkit-border-radius: 5px;
	     border-radius: 5px; 
	    -moz-box-shadow: 0px 2px 2px rgba($shadowsColor, 0.3);
	    box-shadow: 0px 2px 2px rgba($shadowsColor, 0.3);
	}

	.form-control{
		display: block;
	    width: 100%;
	    height: $defaultSize*3;
	    padding: 6px 12px;
	    font-size: 14px;
	    line-height: 1.42857143;
	    color: $darkTextColor;
	    background-color: $pageBackground;
	    background-image: none;
	    border: 1px solid #ccc;
	    border-radius: 0;
	    -webkit-box-shadow: inset 0 1px 1px rgba($shadowsColor,.075);
	    box-shadow: inset 0 1px 1px rgba($shadowsColor,.075);
	    &::placeholder{
	    	color: lighten($darkTextColor, 15%);
	    }
	    &.smallerInput{
	    	height: $defaultSize*2;
	    }
	}

	.profile-img-card {
	    width: 96px;
	    height: 96px;
	    margin: 0 auto 10px;
	    display: block;
	    -moz-border-radius: 50%;
	    -webkit-border-radius: 50%;
	    border-radius: 50%;
	}

	/*
	 * Form styles
	 */
	.profile-name-card {
	    font-size: 16px;
	    font-weight: bold;
	    text-align: center;
	    margin: 10px 0 0;
	    min-height: 1em;
	}

	.reauth-email {
	    display: block;
	    color: #404040;
	    line-height: 2;
	    margin-bottom: 10px;
	    font-size: 14px;
	    text-align: center;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	}

	.form-signin {
		.captcha {
			height: 100px;
		    background-repeat: no-repeat;
		    background-size: cover;
		    border-top: 1px solid #ccc;
		    border-right: 1px solid #ccc;
		    border-left: 1px solid #ccc;
		}
		#inputEmail, #inputPassword{
			direction: ltr;
	    	height: 44px;
	    	font-size: 16px;
		}
		input[type=email], input[type=password], input[type=text], button {
			width: 100%;
		    display: block;
		    margin-bottom: 10px;
		    z-index: 1;
		    position: relative;
		    -moz-box-sizing: border-box;
		    -webkit-box-sizing: border-box;
		    box-sizing: border-box;
		}
		.form-control:focus {
		    border-color: lighten($baseColor,15%);
		    outline: 0;
		    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
		    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
		}
	}

	.btn-signin-azure {
		display: inline-block;
		padding: 6px 12px;
		margin-bottom: 0;
		font-size: 16px;
		font-weight: normal;
		line-height: 1.42857;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		touch-action: manipulation;
		cursor: pointer;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 0;
		color: #333;
		background-color: #eee;
		border-color: #eee;
	}

	.btn-signin-azure:hover {
		color: #333;
		background-color: #d5d5d5;
		border-color: #cfcfcf;
	}

	.btn.btn-signin {
	    background-color: $fabPrimaryColor;
	    padding: 0px;
	    font-weight: 700;
	    font-size: $defaultSize;
	    height: $defaultSize*3;
	    border: none;
	    border-radius: 0;
	    -o-transition: all 0.2s;
	    -moz-transition: all 0.2s;
	    -webkit-transition: all 0.2s;
	    transition: all 0.2s;
	    cursor: pointer;
	}

	.btn.btn-signin:hover,
	.btn.btn-signin:active,
	.btn.btn-signin:focus {
	    background-color: lighten($fabPrimaryColor, 15%);
	}

	.forgot-password {
	    color: rgb(104, 145, 162);
	}

	.forgot-password:hover,
	.forgot-password:active,
	.forgot-password:focus{
	    color: rgb(12, 97, 33);
	}

	.btn-default {
	    color: $lightTextColor;
	    background-color: transparent;
	    border-color: $ternaryColor;
	}
	.btn-default:hover {
	    color: #333;
	    background-color: rgba(255, 253, 253, 0.34);
	    cursor: pointer;
	}

	a.lightLink {
		color: $lightTextColor;
	    text-decoration: none;
	}

	.btn.btn-signup {
	    background-color: $baseColor;
	    padding: 0px;
	    font-weight: 700;
	    font-size: 14px;
	    height: $defaultSize*3;
	    border: none;
	    border-radius: 0;
	    -o-transition: all 0.2s;
	    -moz-transition: all 0.2s;
	    -webkit-transition: all 0.2s;
	    transition: all 0.2s;
	    cursor: pointer;
	}

	.btn.btn-signup:hover,
	.btn.btn-signup:active,
	.btn.btn-signup:focus {
	    background-color: lighten($baseColor, 15%);
	}

	label {
	    display: inline-block;
	    max-width: 100%;
	    margin-bottom: 5px;
	    font-weight: 700;
	    color: rgb(255, 255, 255);
	    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.43);
	}
	.signUpContainer {
		h3 {
			margin:8px 0;
			text-transform: uppercase;
			font-size: $defaultSize;
		}
		label {
			color: #002956 !important;
			text-shadow: none;
		}
		md-card {
			background-color: rgba(238, 238, 238, 0.38);
			.headerLogoImg {

			}
			md-input-container {
				&:not(.md-input-invalid).md-input-focused .md-input {
					border-color: #002956;
				}

				.md-input-has-value {
					label {
						color: white !important;
					}
				}	
			}
		}
		#sticky {
			height: 75px;
		    width: 100%;
		    background-size: cover;
		    background-position: center;
		    border-radius: 4px;
		    margin: 0;
		    background-repeat: no-repeat;
		    box-shadow: 0px 2px 2px $shadowsColor;
		}
		.goTologin {
			&:hover {
				background-color: lighten(#c50754,10%) !important; 
			}
			background-color: #c50754;
		}
	}
}

@media all and (max-width: 800px) {
	.kn-login {
		.signUpContainer {
			md-card {
				margin-top: 20px;
			}
		}
		.card {
			margin-top: 10px;
		}
	}		
}

.kn-changePassword {
	background-color: $contentBackground;
	.form-signin {
		.captcha {
			height: 100px;
		    background-repeat: no-repeat;
		    background-size: cover;
		    border-top: 1px solid #ccc;
		    border-right: 1px solid #ccc;
		    border-left: 1px solid #ccc;
		}
		#inputEmail, #inputPassword{
			direction: ltr;
	    	height: 44px;
	    	font-size: 16px;
		}
		input[type=email], input[type=password], input[type=text], button {
			width: 100%;
		    display: block;
		    margin-bottom: 10px;
		    z-index: 1;
		    position: relative;
		    -moz-box-sizing: border-box;
		    -webkit-box-sizing: border-box;
		    box-sizing: border-box;
		}
		.form-control{
			display: block;
		    width: 100%;
		    height: $defaultSize*3;
		    padding: 6px 12px;
		    font-size: 14px;
		    line-height: 1.42857143;
		    color: $darkTextColor;
		    background-color: $pageBackground;
		    background-image: none;
		    border: 1px solid #ccc;
		    border-radius: 0;
		    -webkit-box-shadow: inset 0 1px 1px rgba($shadowsColor,.075);
		    box-shadow: inset 0 1px 1px rgba($shadowsColor,.075);
		    &::placeholder{
		    	color: lighten($darkTextColor, 15%);
		    }
		    &::focus {
			    border-color: lighten($baseColor,15%);
			    outline: 0;
			    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
			    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
			}
		}
	}

	.btn.btn-signin {
	    background-color: $fabPrimaryColor;
	    padding: 0px;
	    font-weight: 700;
	    font-size: $defaultSize;
	    height: $defaultSize*3;
	    border: none;
	    border-radius: 0;
	    -o-transition: all 0.2s;
	    -moz-transition: all 0.2s;
	    -webkit-transition: all 0.2s;
	    transition: all 0.2s;
	    cursor: pointer;
	}

	.btn.btn-signin:hover,
	.btn.btn-signin:active,
	.btn.btn-signin:focus {
	    background-color: lighten($fabPrimaryColor, 15%);
	}

	.forgot-password {
	    color: rgb(104, 145, 162);
	}

	.forgot-password:hover,
	.forgot-password:active,
	.forgot-password:focus{
	    color: rgb(12, 97, 33);
	}

	.btn-default {
	    color: $lightTextColor;
	    background-color: transparent;
	    border-color: $ternaryColor;
	}
	.btn-default:hover {
	    color: #333;
	    background-color: rgba(255, 253, 253, 0.34);
	    cursor: pointer;
	}

	a.lightLink {
		color: $lightTextColor;
	    text-decoration: none;
	}

	.btn.btn-signup {
	    background-color: $baseColor;
	    padding: 0px;
	    font-weight: 700;
	    font-size: 14px;
	    height: $defaultSize*3;
	    border: none;
	    border-radius: 0;
	    -o-transition: all 0.2s;
	    -moz-transition: all 0.2s;
	    -webkit-transition: all 0.2s;
	    transition: all 0.2s;
	    cursor: pointer;
	}

	.btn.btn-signup:hover,
	.btn.btn-signup:active,
	.btn.btn-signup:focus {
	    background-color: lighten($baseColor, 15%);
	}
}