.kn-main-body {
  overflow: hidden;
}

.icoFlag{
  display: block;
  text-decoration: none;
  padding-left: 40px;
  background-size: contain;
  background-repeat: no-repeat;
}

.iconBar, .iconBarAdmin {
  margin-right: 0;
  display: inline-block;
  float: none;
  width: 100%;
  list-style-type: none;
  padding: 0;
  &> li {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    &> a {
      padding: 15px;
      color:$ternaryColor;
      display: inline-block;
      &:focus, &:hover {
        text-decoration: none;
        background:$baseColor;
        background-color: darken($baseColor,10%);
      }
    }
  }
  .navbar-icon {
    display: inline-block;
    text-align: center;
    vertical-align: baseline;
    top: 5px;
  }
  .newsBadge {
    background-color: $fabPrimaryColor;
    color: white;
    position:absolute;
    right: 5px;
    top:5px;
    padding: 4px;
    font-size: $mediumFontSize;
    height: auto;
    width: auto;
    min-width: 24px;
    border-radius: 50px;
  }
}

.centered {
	text-align: center;
}


.container-fluid {
    padding-right: 0px; 
   	padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}


md-list-item.license-item::before{
	min-height: 0px !important;
}

.kn-downloadsDialog {
  width:60%;
  md-dialog-content {
    min-height:300px;
    height:60%;
    .ag-cell {
      &.newDownload {
        border-left: 6px solid $fabPrimaryColor;
        padding-left: 15px;
      }
    }
  }
  .noDownload {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .emptyIconSvg {
      width: 100px;
      height: 100px;
      display: block;
      background-image: url('../img/defaultTheme/empty-box.svg');
    }
  }
}

@media (max-width: 768px) {
  .sidebar {
    &.open {
      min-width: 240px;
      width: 240px;
    }
    .sidebar-header {
      height: 135px;
    }
    .sidebar-image {
      img {
        width: 44px;
        height: 44px;
      }
    }
  }
  .iconBar {
      margin-left: 0;
  }
}

.kn-mainMenu {
  @mixin transition-max-height {
    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        transition: max-height .5s #{.65 + $i * .02}s ease-in;
      }
    }
  }

  @mixin transition-max-height-fast {
    @for $i from 1 through 10 {
      &:nth-child(#{$i}) {
        transition: max-height .1s #{.15 + $i * .02}s ease-in;
      }
    }
  }

  @mixin media-sm {
    @media (min-width: 300px) {
      @content;
    }
  }

  @mixin alpha-attribute($attribute, $color, $background) {
    $percent: alpha($color) * 100%;
    $opaque: opacify($color, 1);
    $solid-color: mix($opaque, $background, $percent);
    #{$attribute}: $solid-color;
    #{$attribute}: $color;
  }

  @function getColor($color) {
    @if (lightness($main) > 50) {
        @return rgba(black, .8);
    } @else {
        @return rgba(white, .8);
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }


  $main: $baseColor;
  $dark: mix(black, $main, 20%);

  // select font color
  $text: getColor($main);
  %sidebar-hover {
    @include alpha-attribute('background-color', rgba($main, 0.6), white);
  }

  .primnav {
    position: fixed;
    top: 0;
    height: 46px;
    width: 100vw;
    font-size: .8em;
    text-transform: uppercase;
    background-color: lighten($main, 5%);
    display: flex;
    flex-direction: column;
    transition: height 246ms .5s ease;
    padding-top: 58px;
    box-sizing: border-box;
    z-index: 7;
    @include media-sm {
      height: 100vh;
      width: 58px;
      transition: width 246ms .5s ease;
    }
    
    > ul {
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      transition: height 246ms ease;
    }

    .md-button {
      &.md-icon-button{
        md-icon {
          color: $lightTextColor;
        }
      }
    }
    
    li {
      font-weight: 400;
      position: relative;
      &:hover {
        @extend %sidebar-hover;
      }
      .tag {
        transition: all 246ms .5s ease;
        background-color: $fabPrimaryColor;
        color: $text;
        color: $lightTextColor;
        padding: 0 .5em;
        border-radius: 2em;
        margin-left: auto;
        margin-right: .75em;
        position: absolute;
        right: -5px;
        top: 10px;
      }
      a {
        position: relative;
        display: flex;
        align-items: center;
        white-space: nowrap;
        @include alpha-attribute('color', rgba($text, 0.8), white);
        text-decoration: none;
      }
      &.spacer {
        height: 70px;
        &:hover {
          background-color: lighten($main, 5%);
        }
      }
    }
    .icon {
      height: 46px;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 58px;
      padding: 15px;
      margin-right: 5px;
      padding-bottom: 15px;
      @include alpha-attribute('color', rgba($text, .9), black);
      &.userImage {
        border-radius: 50px;
        height: 40px;
        width: 40px;
        margin: 8px 10px;
        background-color: white;
        background-size: 100%;
        border: 2px solid #C70751;
        padding: 8px;
        background-position: center;
      }
      &.fa-2x {
        font-size: 1.7em;
      }
    }
    expand:hover {
      @extend %sidebar-hover;
    }
  }

  input.sysadmin{
    display: none;
    &:checked {
      & ~ .secnav > li {
          @include media-sm {
            @include transition-max-height-fast;
            max-height: 100px;
          }
        }
    }
  }

  .secnav {
    margin-left: 63px;
    border-left: 1px solid black;
    @include alpha-attribute('border-left-color', rgba($main, .9), black);
    overflow: hidden;


    li {
      @include alpha-attribute('color', rgba($text, .9), black);
      max-height: 100px;
      transition: max-height .1s;
      
      @include media-sm {
        max-height: 0px;
        transition: max-height .2s .2s;
      }
      
      a {
        text-transform: initial;
        display: block;
        color: inherit;
        padding: .75em 10px;
      }
    }
  }

  user {
    padding: 5px;
    padding-bottom: 3px;
    flex-shrink: 0;
    position: fixed;
    font-weight: 400;
    right: 0;
    @include alpha-attribute('color', rgba($text, 0.9), white);
    z-index: 99999;

    > section {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      > section {
        display: flex;
        flex-direction: column;
        white-space: nowrap;
      }
    }
    img {
      height: 51px;
      width: 48px;
      clip-path: circle(50% at 50% 50%);
      margin-left: 10px;
      min-height: 51px;
      min-width: 48px;
      align-items: flex-end;
    }
    name {
      font-weight: 400;
    }
    actions {
      padding: .1em 0;
      font-size: .8em;
      display: flex;
      justify-content: flex-end;
      
      a {
        padding: 0 .5em;
        color: $text;
        text-decoration: none;
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

  /**
      SCROLLBAR STYLE FOR IE
  */

  .icon {
    display: inline-block;
    width: 5vw;
    height: 4vw;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }

  $hamburger: $text;

  /** hamburger */

  input.hamburger {
    display: none;
    &:checked {
      & ~ nav.primnav {
        height: 100vh;
        @include media-sm {
          width: 275px;
        }
        li {
          .tag {
            right: 10px;
            top: 20px;
          }
          a{
             span{
              white-space: normal;
              max-width: 170px;
              overflow: hidden;
            }
          }
        }
      }
      & ~ label {
        > i {
          background-color: transparent;
          transform: rotate(90deg);
          &:before {
            transform: translate(-50%, -50%) rotate(45deg);
          }
          &:after {
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }
        close {
          color: $hamburger;
          width: 100%;
        }
        open {
          color: rgba(0, 0, 0, 0);
          width: 0;
        }
      }
      & ~ .menuOverlay {
        background-color: rgba(black, .3);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: all .3s linear;
        z-index:2;
        &.higherOverlay {
          z-index: 5;
        }
      }
      & ~ .adminMenuContainer {
        display: block;
        right: 0;
        z-index: 4;
        &.customMenuOpened {
          right: -300px;
        }
      }
      & ~ .secondLevelContainer{
        display: block;
        z-index: 6;
      }
    }
  }

  .secondLevelContainer{
    position: absolute;
    top: 0;
    width: 300px;
    background-color: lighten($shadowsColor, 15%);
    height: 100%;
    left: 275px;
    transition: left .5s ease-in;
    overflow-x: hidden;
    &.ng-enter,
    &.ng-leave.ng-leave-active {
      left: -100%;
    }
    &.ng-leave,
    &.ng-enter.ng-enter-active {
      left: 275px;
    }
    ul {
      position: absolute;
      width: 100%;
      height: calc(100% - 40px);
      &.ng-enter,&.ng-leave {
        transition: left .3s linear;
      }
      &.forwardAnim {
        &.ng-enter{
          left: 300px;
        }
        &.ng-leave,
        &.ng-enter.ng-enter-active {
          left: 0px;
        }

        &.ng-leave.ng-leave-active {
          left: -300px;
        }
      }
      &.reverseAnim {
        &.ng-enter{
          left: -300px;
        }
        &.ng-leave,
        &.ng-enter.ng-enter-active {
          left: 0px;
        }

        &.ng-leave.ng-leave-active {
          left: 300px;
        }
      }
    }
    li {
      border-bottom: 1px solid $shadowsColor;
      background-color: lighten($shadowsColor, 15%);
      padding: 8px;
      min-height: 57px;
      cursor: pointer;
      span {
        line-height: 38px;
        font-size: $baseFontSize;
      }
      &:hover {
        background-color: lighten($shadowsColor, 5%);
      }
    }
  }

  .adminMenuContainer {
    transition: right .3s ease-out;
    padding: 16px;
    position: absolute;
    top: 0;
    right: -100%;
    width: calc(100% - 275px);
    background-color: white;
    height: 100%;
    .menuGrid {
      overflow-y: auto;
      height: calc(100% - 58px);
      .highlight {
        background-color: yellow;
      }
      &>div {
        display: flex;
        margin-bottom: 40px;
        flex-direction: column;
      }
       h4 {
        font-size: 1rem;
        margin: .6rem 0;
        text-transform: uppercase;
        font-weight: 400;
        color: $baseColor;
      }
      li {
        font-size: .8rem;
        font-weight: 400;
        line-height: 1.2rem;
        &:hover {
          a {
            text-decoration: underline;
            color: $baseColor;
          }
        }
        a {
          transition: all .3s ease-in;
          color: $smallTextColor;
          text-decoration: none;
        }
      }
    }
  }



  label.hamburger {
    z-index: 9998;
    position: relative;
    display: block;
    height: 24px;
    width: 24px;
    &:hover {
      cursor: pointer;
    }
    text {
      close,
      open {
        text-transform: uppercase;
        align-text: center;
        position: absolute;
        transform: translateY(24px);
        text-align: center;
        overflow: hidden;
        transition: width .25s .35s, color .45s .35s;
        font-size: 7px;
      }
      close {
        color: $text;
        right: 0;
        width: 0;
      }
      open {
        color: $hamburger;
        width: 100%;
      }
    }
    > i {
      position: absolute;
      width: 100%;
      height: 2px;
      top: 50%;
      background-color: $hamburger;
      pointer-events: auto;
      transition-duration: .35s;
      transition-delay: .35s;
      &:before,
      &:after {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        left: 50%;
        background-color: $hamburger;
        content: "";
        transition: transform 0.35s;
        transform-origin: 50% 50%;
      }
      &:before {
        transform: translate(-50%, -7px);
      }
      &:after {
        transform: translate(-50%, 7px);
      }
    }
  }

  label.hamburger {
    position: fixed;
    top: 14px;
    left: 17px;
  }
} 