#menuAppAdmin, #menuApp{
.overlayButtonBar {
		top: 0;
		cursor: auto;
		left: 0;
    z-index: 1000;
    position: fixed;
    bottom: 10px;
    padding: 10px;
		background-color: $ternaryColor;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.37);
		border-radius: 0;
    	width: 40px;
    	height: 100%;
    	display: flex;
    	flex-direction: column;
    	align-items: center;
		.logoKnowage {
      float:left;
			cursor: default;
			margin: 0;
		  top: 10px;
    	position: relative;
			width: 20px;
			height: 143px;
			display: block;
			opacity: 1;
			background-image: url('../img/defaultTheme/logotipoVert.png');
			background-repeat: none;
			img {
				display: none;
			}
		}
		.menuKnowage {
			&>i {
				color: $baseColor;
			}
		}
	}
}
.landingPageEndUser, .landingPageAdmin {
	.layer>.text {
	    top: 0px !important;
	  }
}

#licenseDialog{
	.md-avatar {
		border-radius: 0;
	}
	.licenseTopButtons {
		position: absolute;
	    right: 0;
	    top: 0;
	    label{
	    	md-icon{
	    		line-height: $fabHeight
	    	}
	    }
	}	
}

#languageDialog{
	img{
		border-radius: 0;
	}
}

.sidebar-overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: #000;
  z-index: 1034;
  -webkit-transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.sidebar-overlay.active {
  opacity: 0.5;
  visibility: visible;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  transition-delay: 0;
}
.top-bar {
  height: 30px;
  position: absolute;
  bottom: 0;
  right: -8px;
}

/* ---- ADMIN SIDEBAR STYLE ------------------------*/
#contieniLinkAdmin{
  @include custom-linear-gradient($pageBackground,#e3eaed,37%,$ternaryColor,#f2f5f6);
	position: fixed;
	height: 95%;
	top: 30px;
	z-index: 1035;
	left:0;
	-webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
	-o-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
	transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
	width: 0;
  	overflow: hidden;
  	-webkit-transform: translate3d(-90%, 0, 0);
  	transform: translate3d(-90%, 0, 0);
	.row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding-left: 300px;
		padding-top: 5px;
	}
	h4 {
	    color: $lightTextColor;
	    margin-top: 5px;
	    font-size: 14px;
	    font-weight: 300;
	    font-family: $defaultFontFamily;
	    background: $baseColor;
	    padding: 4px;
	    width: 90%;
	}
	ul {
		padding-left: 5px;
		list-style: none;
		font-family: $defaultFontFamily;
		font-weight: 100;
	}

	li {
		position: relative;
		margin-left: 1em;
		line-height: 1rem;
		&:before {
			font-family: 'FontAwesome';
			position: absolute;
			left: -1em;
			content: "\f105";
			font-size: 12px;
			top: 1px;
		}
		a{
			text-decoration: none;
			color: black;
			font-size:12px;
			-webkit-transition: color 0.5s cubic-bezier(0.55, 0, 0.1, 1);
			-o-transition: color 0.5s cubic-bezier(0.55, 0, 0.1, 1);
			transition: color 0.5s cubic-bezier(0.55, 0, 0.1, 1);
			font-weight: 300;
			&:hover{
				color: $baseColor;
			}
		}
	}
	&.open {
		top: 10px;
		bottom: 10px;	
		min-width: 600px;
		width: 90%;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
		border-radius: 5px;
	}
}
.hideAdminPanel{
 	display: none !important;
}
.gruppoLinkAdmin{
  margin-bottom: 5px;
}

/* -- Bootstrap-like style ------------------------------- */
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.caretPosition {
	position: absolute !important;
    right: 24px !important;
    top: 20px !important;
    color: $detailBackground !important;
}	

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: darken($baseColor,10%);
}

/* -- Sidebar style ------------------------------- */

.sidebar {
   width: 0;
  -webkit-transform: translate3d(-280px, 0, 0);
  transform: translate3d(-280px, 0, 0);
	background-color:$baseColor;
	position: relative;
	display: block;
	min-height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	border: none;
	-webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
	-o-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
	transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  &.open {
    min-width: 280px;
    width: 280px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  .sidebar-header {
    position: relative;
    height: 110px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    &.header-cover {
      background-image: url('../img/defaultTheme/logoCover.png');
      background-repeat: no-repeat;
      background-position: center 20%;
      -webkit-background-size: contain;
      -moz-background-size: contain;
      -o-background-size: contain;
      background-size: 90%;
      font-family: $defaultFontFamily;
      font-weight: 400;
      &> i {
        margin-top: 70px;
        margin-left: 15px;
      }
    }
    &:hover {
      .sidebar-toggle {
        opacity: 1;
      }
    }
  }

  .sidebar-toggle {
    position: relative;
    float: right;
    padding: 0;
    background-image: none;
    border: none;
    width: 40px;
    font-size: 20px;
    opacity: 0.7;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    &:before, &:after {
      content: " ";
      display: table;
    }
    &:after {
      clear: both;
    }
  }

  .sidebar-brand {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    height: 48px;
    line-height: 48px;
    padding: 0;
    padding-left: 16px;
    padding-right: 56px;
    text-decoration: none;
    clear: both;
    font-weight: 500;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    &:hover, &:focus {
      -webkit-box-shadow: none;
      box-shadow: none;
      outline: none;
      text-decoration: none;
    }
    .caret {
      position: absolute;
      right: 24px;
      top: 24px;
    }
  }

  .sidebar-icon {
    display: inline-block;
    margin-right: 16px;
    min-width: 40px;
    width: 40px;
    text-align: left;
    vertical-align: baseline;
    position: relative;
    top: 5px;
    &:before, &:after {
      vertical-align: middle;
    }
  }

  .sidebar-nav {
    margin: 0;
    padding: 0;
    li {
      position: relative;
      list-style-type: none;
      display: inline-block;
      width: 100%;
      a {
        position: relative;
        cursor: pointer;
        user-select: none;
        display: block;
        line-height: 30px;
        padding: 0;
        padding-left: 16px;
        padding-right: 56px;
        text-decoration: none;
        clear: both;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        -webkit-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        &:hover, &:focus {
          -webkit-box-shadow: none;
          box-shadow: none;
          outline: none;
          background: transparent;
        }
        .caret {
          position: absolute;
          right: 24px;
          top: 24px;
        }
      }
      .sidebar-nav-link {
        display: inline-flex;
        width:100%;
        padding-right:16px;
      }
      md-menu-bar.md-knowage-theme {
        padding: 0;
        &>md-menu {
          padding: 0;
          &>button {
            display: flex;
            width: 40px;
            height: 32px;
            padding: 0;
            align-items: center;
            md-icon {
              color: $ternaryColor;
              text-align: center;
              font-size: 16px;
            }
          }
          &._md-open {
            &>button {
              background: transparent;
            }
          }
        }
      }
    }
    .dropdown-menu {
      position: relative;
      width: 100%;
      margin: 0;
      padding: 0;
      border: none;
      border-radius: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}

kn-inner-menu{
  md-menu-bar {
    padding:0;
  }
  .levelsButton{
    display: flex;
    width: 40px;
    height: 32px;
    padding: 0;
    align-items: center;
    background: transparent !important;
    justify-content: center;
    md-icon {
      margin: 0;
      height: 24px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      color: $ternaryColor;
      text-align: center;
      font-size: 16px;
    }
  }
}

.sidebar-inverse {
  background-color: $baseColor;
  .sidebar-header {
    background-color: $pageBackground;
  }
  .sidebar-toggle {
    color: $ternaryColor;
    background-color: transparent;
    cursor:pointer;
  }
  .sidebar-brand {
    color: $darkTextColor;
    background-color: transparent;
    font-size: 12px;
    &:hover, &:focus {
      color: $darkTextColor;
      background-color: rgba(black, 0.1);
    }
  }
  .sidebar-nav {
    li {
      &> a {
        color: $detailBackground;
        background-color: transparent;
        font-family: $defaultFontFamily;
        font-size: 12px;
        font-weight: 400;
        i {
          color: $ternaryColor;
        }
      }
      &:hover, &:focus {
        &> a {
          color: $ternaryColor;
          background-color: darken($baseColor,10%);
          i {
            color: $ternaryColor;
          }
        } 
      }
    }
    &> .open {
      &> a , a:hover, a:focus{
        color: $ternaryColor;
        background-color: #000000;
      }
    }
    &> .active {
      &> a , a:hover, a:focus{
        color: $detailBackground;
        background-color: #000000;
      }
    }
    &> .disabled {
      &> a , a:hover, a:focus{
        color: $darkTextColor;
        background-color: transparent;
      }
    }
    &> .dropdown {
      &> .dropdown-menu {
        background-color: darken($baseColor, 15%);
        &.open {
          display:block;
        }
        &> .active {
          &> a, a:hover, a:focus {
            color: $detailBackground;
            background-color: #000000;
          }
        }
        &> li {
          &> a:focus, a:hover {
            background-color: #000000;
            color: $ternaryColor;
          }
        }
      }
    }
  }
}

.sidebar-fixed-left,
.sidebar-fixed-right,
.sidebar-stacked {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1036;
}
.sidebar-fixed-left {
  left: 0;
  box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.35);
}
.sidebar-fixed-right {
  right: 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.35);
  -webkit-transform: translate3d(280px, 0, 0);
  transform: translate3d(280px, 0, 0);
}
.sidebar-fixed-right.open {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.sidebar-fixed-right .icon-material-sidebar-arrow:before {
  content: "\e614";
}
.menuKnowage{
	color: black;
	float: left;
	opacity: .6;
  &:hover {
    opacity: 1;
  }
}

.icoFlag{
  display: block;
  text-decoration: none;
  padding-left: 40px;
  background-size: contain;
  background-repeat: no-repeat;
}

.iconBar {
  margin-right: 0;
  display: inline-block;
  float: none;
  width: 100%;
  list-style-type: none;
  padding: 0;
  &> li {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    &> a {
      padding: 15px;
      color:$ternaryColor;
      display: inline-block;
      &:focus, &:hover {
        text-decoration: none;
        background:$baseColor;
        background-color: darken($baseColor,10%);
      }
    }
  }
  .navbar-icon {
    display: inline-block;
    text-align: center;
    vertical-align: baseline;
    top: 5px;
  }
}

.centered {
	text-align: center;
}


.container-fluid {
    padding-right: 0px; 
   	padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.iconBarAdmin {
	margin-right: 0;
	margin-left: 0;
  display: inline-block;
  float: none;
  width: 100%;
  list-style-type: none;
  padding: 0;
  li {
    height:50px;
    text-align:center;
    &>a {
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      display: inline-block;
      color:$ternaryColor;
      &:hover, &:active, &:focus {
        background-color: darken($baseColor,10%);
      }
    }
  }
}

md-list-item.license-item::before{
	min-height: 0px !important;
}

@media (max-width: 768px) {
  .sidebar {
    &.open {
      min-width: 240px;
      width: 240px;
    }
    .sidebar-header {
      height: 135px;
    }
    .sidebar-image {
      img {
        width: 44px;
        height: 44px;
      }
    }
  }
  .iconBar {
      margin-left: 0;
  }
}