.kn-qbe {

    .qbeList{
        overflow-y: auto;
        @include coolScrollBars($baseColor,6px);
        border: 1px solid $bordersColor;
    }

    .smaller-dialog {
        width: 400px;
        height: 500px;
    }

    expression-panel {
        padding: 16px;
        margin: 16px;
        border: 1px solid $shadowsColor;
        border-radius: 2px;
        background-color: $tableHeaderColor;
        box-shadow: 3px 3px 5px $shadowsColor;
        group {
            margin: 0 16px;
            &>div {
                padding: 8px;
                transition: all .3s ease-out;
                background-color: rgba($pageBackground,.9);
                border: 1px solid rgba($secondaryColor,.6);
                &:hover {
                    background-color: rgba(darken($pageBackground,5%),.8);
                    border: 1px solid $secondaryColor;
                }
                &.selectedFilter {
                    background-color: $secondaryColor;
                }
            }
        }
        filter {
            md-card {
                background-color: $tableSelectedElementColor;
                border-radius: 0;
                transition: background-color .3s ease-out;
                &:hover {
                    background-color: lighten($secondaryColor,10%);
                }
                &.selectedFilter {
                    background-color: $secondaryColor;
                }
                filter-details {
                    md-list-item {
                        height: 50px;
                        min-height: 50px;
                    }
                    h4 {
                        font-weight: bold !important;
                        font-size: $mediumFontSize !important;
                        color: $darkTextColor;
                    }
                    p {
                        font-size: $smallFontSize !important;
                        color: $smallTextColor;
                        span {
                            margin-right: 4px;
                        }
                    }
                }
            }
        }
    }

	ul {
		&[dnd-list]{
        	margin: 0px;
			min-height: 42px;
			padding-left: 0px;
			li {
			    display: block;
			    padding: 0px;
                .filterOperator {
                    md-select {
                        margin-top: 0;
                    }
                }
                &.last{        
                    .filterGroup {
                        .filterOperator {
                            display: flex;
                        }
                    }          
                    .filterOperator {
                        display: none;
                    }
                }
                .groupContainer{
                    align-items: center;
                    justify-content: space-around;
                    .filterItemLi{
                        &>div{
                            flex-wrap: wrap;
                            justify-content: center;
                        }
                        .filterItem{
                            min-width: 200px;
                            width: 100%;
                        }
                    }

                }
                .filterGroup {
                    background-color: lighten($ternaryColor,10%);
                    padding:0;
                    margin: 8px;
                    min-width: 300px;
                    h3 {
                        font-size: $baseFontSize;
                        margin-top: 0;
                        margin-bottom: 0;
                        margin-left: 8px;
                        text-transform: uppercase;

                    }
                    .innerLast{                    
                        .filterOperator {
                            display: none;
                        }
                    }
                    .filterOperator {
                        flex-direction: row;
                        width: auto;
                        md-select {
                            margin: 0;  
                        }
                    }
                }
                .filterItem{
                    border-top: 5px solid $secondaryColor;
                    font-size: $baseFontSize; 
                    height: 50px;
                    min-height: 50px;
                    min-width: 300px;
                    width: 90%;
                    h4{
                        text-transform: uppercase;
                        margin: 4px 0 0 4px;
                    }
                }
			}
        }
	}
	 
    .expanderList {
        h3 {
            &.opened {
                box-shadow: 0px 3px 3px 0px $ternaryColor;
                border-bottom: none;
            }
            background-color: $baseColor;
            color: white;
            font-weight: 400;
            border-bottom: 1px solid $ternaryColor;
            margin: 0;
            margin-bottom: 4px;
            padding: 4px;
            font-size: 1rem;
        }
        .chip {
            background-color: $lightTextColor;
            color: $baseColor;
            display: flex;
            padding: 0px 16px;
            border-radius: 50px;
            font-size: .8rem;
            font-weight: normal;
            line-height: 19px;
        }
        ng-transclude {
            md-icon{
                line-height: 24px;
            }
        }
        .expandableEntities,
        .expandableSubqueries {
            h4 {
                display: flex;
                background-color: $lightTextColor;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                height: $listHeight;
                line-height: $listHeight;
                margin: 0;
                padding: 4px 8px 4px 8px;
                font-size: .8rem;
                font-family: 'Roboto';
                border-bottom: 1px solid $ternaryColor;
                outline: none;
                cursor: pointer;
                .colorSquare {
                    height: .8rem;
                    margin-right: 5px;
                    width: .8rem;
                    display: block;
                }
                &.filterEntityColor {        		
                	background-color: lighten($fabPrimaryColor, 20%);            	
        		}
                span {
                    margin-left: 5px;
                }
                &.expanded {}
            }
            
            .second-lvl-padding {
            	padding-left:40px;
            }
            .second-lvl-chevron {
            	padding-top:10px;
            }
            .second-lvl-cursor {
            	cursor:pointer;
            }
            .is-default {
            	font-weight:bold;
            }
            .is-not-default {
            	font-weight:normal;
            }
            ul {
                background-color: $pageBackground;
                margin: 0;
                list-style: none;
                padding-left: 0;
                cursor: pointer;
                li {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 4px 0px 4px 20px;
                    font-size: .8rem;
                    border-bottom: 1px solid $ternaryColor;
                    line-height: 1.5rem;
                    height: 1.5rem;
                    cursor: grab;
                    .itemType {
                        width:16px;
                        text-align:center;
                        margin-right: 10px;
                    }
                    button {
                        margin: 0;
                        padding: 0;
                        width: 32px;
                    }
                    &:hover {
                        background-color: darken($pageBackground, 10%);
                    }
                    i {
                        line-height: 1rem;
                    }
                    span {
                        padding-left: 5px;
                    }
                }
            }
            .md-button.md-icon-button {
                margin: 0;                
            }
        }
        
        
        //fontAwesome icons remapping
        .fa {
            &.cube:before {
                content: "\f1b2"
            }
            &.generic:before {
                content: "\f022"
            }
            &.measure:before {
                content: "\f02b"
            }
            &.dimension:before {
                content: "\f047"
            }
            &.temporal_dimension:before {
                content: "\f073"
            }
            &.geographic_dimension:before {
                content: "\f0ac"
            }
        }

        //qbecustom icons remapping

        .qbe:before{
          font-family: "qbe-custom" !important;
          font-style: normal !important;
          font-weight: normal !important;
          font-variant: normal !important;
          text-transform: none !important;
          speak: none;
          line-height: 1rem;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }

        .measure:before {
          content: "\62";
        }
        .attribute:before {
          content: "\63";
        }
        .calculation:before {
          content: "\61";
        }
        .relation:before {
          content: "\64";
        }
        .time_dimension:before {
          content: "\65";
        }
        .geographic_dimension:before {
          content: "\67";
        }
        .default_hierarchy:before {
          content: "\68";
        }
        .segment_attribute_text:before {
          content: "\69";
        }
        .cube:before {
          content: "\6a";
        }
        .database:before {
          content: "\6b";
        }
        .generic:before {
          content: "\6d";
        }
        .view:before {
          content: "\6e";
        }
        .temporal_dimension:before {
          content: "\66";
        }
        .dimensions:before {
          content: "\6f";
        }
    }
    .vertical-devider {
    	border-left: 1px solid $baseColor;
    }
    .qbeMenuContent {
        max-height: 400px;
        md-checkbox > div.md-container {
            left: 16px;
        }
        ._md-nested-menu {
            padding: 0;
            margin: 0;
            button {
                padding: 0 16px;
                margin: 0;
                height: 48px;
                span {
                    padding-left: 16px;
                }
                &:hover {
                    color: $baseColor;
                    background-color: rgba($baseColor,0.3);
                }
                
            }
        }
		md-menu-item {
			button {
				span {
					text-transform: none;
				}
			}
		}
		.md-label {
			position:relative; 
			right:-12px;
		}
    }
    .qbeCustomTable {
        padding: 4px; 
        min-height: 500px;
        min-width: 100%;
        overflow: auto;
        .qbeCustomColumn {
            border-right: 1px solid $ternaryColor;
            max-width: 300px;
            &:first-child {
                border-left: 1px solid $ternaryColor;  
            }
            .qbeCustomTopColor {
                height: 4px;
                display: block;
                width: 100%;
            }
            .md-toolbar-tools {
                padding: 0;
                h2 {
                    line-height: 2rem;
                    max-width: 110px;
                    display: block;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
                p {
                    font-size: 10px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    margin: 0;
                }
                button.md-icon-button {
                    margin: 0;
                }
            } 
            .qbeCustomRow {
                font-size: $baseFontSize;
                padding: 0 4px;
                width: calc(100% - 8px);
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                display: block;
                &:nth-child(even) {
                    background-color: $contentBackground;
                }
                &:nth-child(odd) {
                    background-color: $lightTextColor;
                }
            }
            .qbeCustomFooter {
                background-color: $secondaryColor;
                height: 24px;
            }
            md-icon {
                line-height: 24px;
            }
        }
    }
    .advancedFiltersVisualization {
        .container-element {
            ul {
                min-height: 10px;
            }
        }
    }
    
    .dndDragging {
	    opacity: 0.7;
	}
	
	.dndDraggingSource {
	    display: none;
	}
	
	.dndPlaceholder {
	    background-color: #a9c3db;
	    display: block;
	    min-height: 42px;
	}
	.selected {
		.item {
			color: #3c763d;
	   		background-color: #dff0d8;
		}
		.box {
			border-color: #d6e9c6;
			&>h3 {
				background-color: #dff0d8;
	    		background-image: linear-gradient(to bottom,#dff0d8 0,#d0e9c6 100%);
	    		border-color: #d6e9c6;
	    		color: #3c763d;
			}
		}
	}

	.item {
	    padding: 10px 15px;
	}
	
	.container-element {
	    margin: 10px;
	}
	
	.temporal-filter-avaliable {
		color:#990000;
		
	}
			
	.filterColor {  		
        color: $fabPrimaryColor;            	
    }   
     		
	.havingColor {  		
        color: $fabPrimaryColor;            	
    }

    @mixin setHeight($height) {
        height: $height;
        min-height: $height;
        line-height: $height;
    }

    span.functionDescription {
        font-size: $smallFontSize;
        text-align: right;
    }

    .calculatedFieldEditor {
        height: calc( 100% - 16px);
        min-height: 500px;
        md-card {
            height: 100%;
            .entitySelect{
                min-height: 60px;
                height: 60px;
            }
            md-list {
                overflow-y: auto;
                max-height: 380px;
                @include coolScrollBars($baseColor,6px);
                md-list-item{
                    @include setHeight($listHeight);
                    &:before{
                        @include setHeight($listHeight);
                    }
                    .md-button{
                        @include setHeight($listHeight);
                        padding-left: 0 !important;
                    }
                    .md-list-item-inner{
                        @include setHeight($listHeight);
                        font-size: $smallFontSize;
                    }
                }
            }
        }
        md-menu-bar {
            padding: 0;
            background-color: #f2f2f2;
            margin-top: 15px;
            .validationMenu {
                float:right;
            }
        }
        md-input-container{
            .md-errors-spacer{
                display: none;
            }
        }
        .left{
            margin-right: 0;
        }
        .right{
            margin-left: 0;
        }

        .formula{
            height: 300px;
            box-shadow: 0px -1px 1px 2px #ccc inset;
            cursor: text;
            span{
                display: inline-block;
                position: relative;
                height: 25px;
                line-height: 25px;
                padding: 2px 10px;
                margin: 5px 5px 5px 0;
                vertical-align: middle;
                background-color: #ccc;
                border-radius: 25px;
                font-size: .7rem;
                cursor: pointer;
                &:first-child{
                    margin-left: 5px;
                }
            }
        }
        
        .CodeMirror-wrap{
            border: 1px solid #ccc;
            width: 100%;
            .cm-atom{
                padding: 1px;
                background-color: #f2f2f2;
                border-radius: 4px;
                box-shadow: 0px 1px 1px #aaa;
            }
        }
        md-sidenav {
            .hint {
                font-size: $smallFontSize;
                color: $smallTextColor;
            }
        }
    }

    .filterRow {
        align-items: center;
        background-color: $contentBackground;
        &:nth-child(even) {
            background-color: lighten($ternaryColor,15%);
        }
    }

    .havings{
        md-input-container {
            margin: 18px 4px;
        }
    }

    .filterOtherEntity, .havingOtherEntity {
        padding: 0;
        .md-button {
            width: 100%;
            margin: 0;
            height: 48px;
            padding-left: 14px;
            text-align: left;
        }
    }

    .angularTableHeaderButton {
        position: absolute;
        top: 20px;
        right: 14px;
        z-index: 9;
    }

    #basicView{
        .md-icon-button{
            md-icon {
                line-height: 24px;
            }
        }
    }
    [ng-drag].dragging {
        position: absolute;
        background-color: $pageBackground;
    }
	
    md-icon {
        &.fa, &.fas, &.fab, &.far {
            font-size: 14px;
        }
    }
    qbe-filter {
        md-input-container {
            padding-right: 4px;
        }
        target {
            md-chips-wrap {
                padding-bottom: 4px;
                min-height: 28px;
                .md-chip-input-container {
                    margin: 0;
                    font-size: $mediumFontSize;
                    height: 24px;
                    input {
                        height: 24px;
                        &:not([type]) {
                            height: 24px;
                        }
                    }
                    &:not(:first-child) {
                        margin: 0;
                    }
                }
                md-chip {
                    margin-top: 2px;
                    margin-right: 4px;
                    font-size: $smallFontSize;
                    line-height: 22px;
                    height: 22px;
                    .md-chip-remove {
                        width: 22px;
                        height: 22px;
                        md-icon {
                            min-height: 16px;
                            min-width: 16px;
                            height: 16px;
                            width: 16px;
                        }
                    }
                }
            }
        }
    }
}

