.kn-table{
	width: 100%;
	border-collapse: collapse;
	thead {
		color: $baseColor;
		background-color: $tableHeaderColor;
		font-size: $baseFontSize;
		tr {
			height: $angularTableTRHeight;
			th{
				border-bottom: 1px solid $ternaryColor;
				text-align: left;
			}
		}
	}
	tbody {
		tr {
			border-bottom: 1px solid lighten($ternaryColor,10%);
			td {
				font-size: $baseFontSize;
				&.tableAction{
					width: 50px;
				}
				md-input-container {
					margin: 0;
					width: 100%;
				}
				md-checkbox {
					margin-bottom: 0;
				}
			}
		}
		
	}
}