.kn-table{
	width: 100%;
	border-collapse: collapse;
	md-icon {
		text-align: center;
	}
	md-checkbox {
		._md-container {
			&:after{
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
			}
		}
	}
	
	thead {
		color: $baseColor;
		background-color: $tableHeaderColor;
		font-size: $baseFontSize;
		tr {
			height: $angularTableTRHeight;
			th{
				border-bottom: 1px solid $ternaryColor;
				text-align: left;
				&.multiTableAction{
					width: 100px;
				}
			}
		}
	}
	tbody {
		tr {
			border-bottom: 1px solid lighten($ternaryColor,10%);
			.highlight{
				background-color:lighten($secondaryColor,10% ) !important;
			}
			td {
				font-size: $baseFontSize;
				&.tableAction{
					width: 50px;
				}
				&.colorPickerTd{
					width: 200px;
				}
				&.multiTableAction{
					width: 100px;
				}
				md-input-container, md-select {
					margin: 0;
					width: 100%;
				}
				md-checkbox {
					margin-bottom: 0;
				}
				md-switch {
					margin: 0;
				}
				.md-button {
					&.expanded {
						background-color: $secondaryColor;
						&:hover {
							background-color: darken($secondaryColor,15%) !important;
						}
						md-icon {
							color: $lightTextColor;
						}
					}
				}
				color-picker{
					width: 195px;
					.color-picker-wrapper{
						width: 195px;
						z-index: unset;
						.input-group .input-group-addon:first-child {
							border: 1px solid $ternaryColor;
						}
						.color-picker-input-wrapper {
							width: 100%;
							.color-picker-input{
								width: 100%;
								border: 0;
							    border-bottom: 1px solid $ternaryColor;
							    padding: 5px 0 5px 30px !important;
							    outline: none;
							    &:focus{
							    	border-bottom: 2px solid $baseColor;
							    }
							}
						}
					}
				}
				&.inner-space {
					padding:0 0 10px 0;
				}
			}
		}
	}
	&.kn-inner-table {
		background-color: $listBackground;
		thead {
			background-color: $secondaryColor;
			font-size: $mediumFontSize;
			tr {
				height: $defaultSize;
			}
		}
		tbody {
			tr {
				td {
					font-size: $mediumFontSize;
					&.tableAction{
						width: 50px;
					}
					md-icon {
						text-align: center;
						cursor: pointer;
						font-size: $baseFontSize;
					}
				}
			}
		}
	}
	&.kn-table-alternated-rows {
		tr:nth-child(odd) {
			background: $pageBackground;
		}
	}
}
