
<md-dialog style='width:50%;'>
    
      <md-toolbar class="knowage-blue dialog-toolbar">
		<h2 flex="flex" class="md-title">Cross Navigation Definition</h2>
	</md-toolbar>
      
      
      <md-content> 
    <div style="padding: 5px;">
   <p class="md-body-1">Select the type of cross navigation below</p>
   
   <div layout="row" layout-wrap>
						<div flex=100>
							<md-input-container class="md-block">
							<label>Member Name</label>
							<input ng-model=""> 
							</md-input-container>
						</div>
	</div>
	
	<md-button class="md-raised" ng-click="enterSelectMode($index,argument)" style="float: right;">
       Select from table
     </md-button>
   <div layout="row" layout-wrap>
						<div flex=100>
							<md-input-container class="md-block">
							<label>Parameter Name</label>
							<input ng-model=""> 
							</md-input-container>
						</div>
	</div>
   
 	</div>
	</md-content>
    <md-dialog-actions layout="row">
    	<md-button ng-click="saveCN()" class="md-raised"  md-autofocus>
       Finish
      </md-button>
      <md-button ng-click="closeDialog()" class="md-raised" style="margin-right:20px;" >
       Cancel
      </md-button>
    </md-dialog-actions>
</md-dialog>

