<md-dialog style='width:50%;'>
    
   <md-toolbar class="knowage-blue dialog-toolbar">
   		<h2 flex="flex" class="md-title">Scenario Wizard</h2>
   </md-toolbar>
   
   <md-content>
   
   	   <!-- SCENARIO DESCRIPTION -->
	   <div style="padding: 5px;">
	 		<p class="md-body-1">Selecting an edit cube and an editable measure is mandatory.</p>   
	   </div>
	   
	   <!-- EDIT CUBE NAME -->
	   <div flex=100>
	       <md-input-container  layout="column" flex=100> 
	       <label>Select Cube</label>
	       <md-select
	        ng-model="scenario.editCube"
	        > <md-option 
	        ng-repeat="l in cubeList track by $index" value="{{l}}">{{l}} </md-option>
	       </md-select>
	        </md-input-container>
	   </div>
	   
	   
	   <!-- EDITABLE MEASURES -->
	   <md-whiteframe class="md-whiteframe-4dp layout-padding " flex layout layout-margin style ="height: 40%;" >
	   <fieldset flex>
          <legend >Editable measures</legend>
          <div style="padding: 5px;">
          <div>
            <md-checkbox aria-label="Select All" ng-checked="isChecked()" md-indeterminate="isIndeterminate()" ng-click="toggleAll()">
              <span ng-if="isChecked()">Un-</span>Select All
            </md-checkbox>
          </div>
            <div style="padding-left: 30px;" flex="100" ng-repeat="item in measuresList">
              <md-checkbox ng-checked="exists(item)" ng-click="toggle(item)">
               {{ item.name }}
              </md-checkbox>
            </div>
          </div>
        </fieldset>
        </md-whiteframe>
	   
	   <div style="padding: 5px;">
  							Variables
			<i class="fa fa-plus-square" ng-click="addVariable()" aria-hidden="true" ></i>
			
			<div ng-repeat="p in scenario.variables" layout-gt-sm="row" layout-align="start center">
						<div layout="row"> 								
								<md-input-container class="md-block" flex-gt-sm>
      							<label>Parameter Name</label>
  								<input ng-model="p.name">
								</md-input-container>
								
								<md-input-container class="md-block" flex-gt-sm>
      							<label>Parameter Value</label>
  								<input ng-model="p.value">
								</md-input-container>
						</div> 						
    						
 						<div>
							<i class="fa fa-minus-square" ng-click="removeVariable(i)" aria-hidden="true"></i> 	
						</div>	      						
			</div>
		</div>
  
	   
   </md-content>

    <md-dialog-actions layout="row">
     <md-button ng-click="saveScenario()" class="md-raised"  md-autofocus>
        Save
      </md-button>
      <md-button ng-click="closeDialogOlapDesigner()" class="md-raised" style="margin-right:20px;" >
       Cancel
      </md-button>
    </md-dialog-actions>
</md-dialog>