<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory name="HibernateSessionFactoryMySQL">

		<property name="hibernate.connection.datasource">java:comp/env/jdbc/knowage</property>


       	<property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
                  
               <!-- 
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle9Dialect</property>
        <property name="hibernate.dialect">org.hibernate.dialect.IngresDialect</property>
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="hibernate.dialect">org.hibernate.dialect.DB2400Dialect</property>
        
        -->
        
        <property name="hibernate.cache.use_second_level_cache">false</property>
        <property name="hibernate.cache.use_query_cache">false</property>
		<!-- <property name="hibernate.connection.zeroDateTimeBehavior">convertToNull</property>  -->
        
 		<property name="hibernate.show_sql">false</property>
 		<property name="hibernate.jdbc.factory_class">org.hibernate.jdbc.NonBatchingBatcherFactory</property>
        <!--
       
		<property name="hibernate.cache.use_minimal_puts">true</property>                
        <property name="hibernate.generate_statistics">true</property>       
        <property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        -->

		<mapping resource="it/eng/spagobi/commons/metadata/mapping/SbiTenant.hbm.xml" />
		<mapping resource="it/eng/spagobi/events/metadata/mapping/SbiEvents.hbm.xml" />
		<mapping resource="it/eng/spagobi/events/metadata/mapping/SbiEventsLog.hbm.xml" />
		<mapping resource="it/eng/spagobi/commons/metadata/mapping/SbiDomains.hbm.xml" />
		<mapping resource="it/eng/spagobi/commons/metadata/mapping/SbiCategory.hbm.xml" />
		<mapping resource="it/eng/spagobi/commons/metadata/mapping/SbiConfig.hbm.xml" />

		<mapping resource="it/eng/spagobi/commons/metadata/mapping/SbiProductType.hbm.xml" />

		<mapping resource="it/eng/spagobi/commons/metadata/mapping/SbiAuthorizations.hbm.xml" />
		<mapping resource="it/eng/spagobi/commons/metadata/mapping/SbiExtRoles.hbm.xml" />
		<mapping resource="it/eng/spagobi/commons/metadata/mapping/SbiAuthorizationsRoles.hbm.xml" />
		<mapping resource="it/eng/spagobi/commons/metadata/mapping/SbiUserFunctionality.hbm.xml" />
		<mapping resource="it/eng/spagobi/behaviouralmodel/analyticaldriver/metadata/mapping/SbiParameters.hbm.xml" />
		<mapping resource="it/eng/spagobi/behaviouralmodel/analyticaldriver/metadata/mapping/SbiParuseDet.hbm.xml" />
		<mapping resource="it/eng/spagobi/behaviouralmodel/analyticaldriver/metadata/mapping/SbiParuse.hbm.xml" />
		<mapping resource="it/eng/spagobi/behaviouralmodel/analyticaldriver/metadata/mapping/SbiParuseCk.hbm.xml" />
		<mapping resource="it/eng/spagobi/behaviouralmodel/analyticaldriver/metadata/mapping/SbiObjParuse.hbm.xml" />
		<mapping resource="it/eng/spagobi/behaviouralmodel/analyticaldriver/metadata/mapping/SbiObjParview.hbm.xml" />
		<mapping resource="it/eng/spagobi/behaviouralmodel/lov/metadata/mapping/SbiLov.hbm.xml" />
		<mapping resource="it/eng/spagobi/behaviouralmodel/check/metadata/mapping/SbiChecks.hbm.xml" />
		<mapping resource="it/eng/spagobi/analiticalmodel/document/metadata/mapping/SbiObjPar.hbm.xml" />
		<mapping resource="it/eng/spagobi/analiticalmodel/document/metadata/mapping/SbiObjects.hbm.xml" />
		<mapping resource="it/eng/spagobi/analiticalmodel/document/metadata/mapping/SbiObjectsRating.hbm.xml" />
		<mapping resource="it/eng/spagobi/analiticalmodel/document/metadata/mapping/SbiObjFunc.hbm.xml" />
		<mapping resource="it/eng/spagobi/analiticalmodel/document/metadata/mapping/SbiObjState.hbm.xml" />
		<mapping resource="it/eng/spagobi/analiticalmodel/document/metadata/mapping/SbiSubreports.hbm.xml" />
		<mapping resource="it/eng/spagobi/analiticalmodel/document/metadata/mapping/SbiViewpoints.hbm.xml" />
		<mapping resource="it/eng/spagobi/tools/catalogue/metadata/mapping/SbiMetaModelViewpoints.hbm.xml" />
		<mapping resource="it/eng/spagobi/analiticalmodel/functionalitytree/metadata/mapping/SbiFunctions.hbm.xml" />
		<mapping resource="it/eng/spagobi/analiticalmodel/functionalitytree/metadata/mapping/SbiFuncRole.hbm.xml" />
		<mapping resource="it/eng/spagobi/monitoring/metadata/mapping/SbiAudit.hbm.xml" />
		<mapping resource="it/eng/spagobi/engines/config/metadata/mapping/SbiEngines.hbm.xml" />
		<mapping resource="it/eng/spagobi/engines/config/metadata/mapping/SbiExporters.hbm.xml" />
		<mapping resource="it/eng/spagobi/tools/datasource/metadata/mapping/SbiDataSource.hbm.xml" />
		<mapping resource="it/eng/spagobi/tools/distributionlist/metadata/mapping/SbiDistributionList.hbm.xml" />
		<mapping resource="it/eng/spagobi/tools/distributionlist/metadata/mapping/SbiDistributionListsObjects.hbm.xml" />
		<mapping resource="it/eng/spagobi/tools/distributionlist/metadata/mapping/SbiDistributionListUser.hbm.xml" />
		<mapping resource="it/eng/spagobi/commons/metadata/mapping/SbiProductTypeEngine.hbm.xml" />
		<mapping resource="it/eng/spagobi/commons/metadata/mapping/SbiOrganizationDatasource.hbm.xml" />
		<mapping resource="it/eng/spagobi/commons/metadata/mapping/SbiOrganizationProductType.hbm.xml" />
		<mapping resource="it/eng/spagobi/commons/metadata/mapping/SbiOrganizationTheme.hbm.xml" />	
		
		<mapping resource="it/eng/spagobi/commons/metadata/mapping/SbiBinContents.hbm.xml" />
		<mapping resource="it/eng/spagobi/analiticalmodel/document/metadata/mapping/SbiObjTemplates.hbm.xml" />
		<mapping resource="it/eng/spagobi/analiticalmodel/document/metadata/mapping/SbiObjNotes.hbm.xml" />
		<mapping resource="it/eng/spagobi/analiticalmodel/document/metadata/mapping/SbiSubObjects.hbm.xml" />
		<mapping resource="it/eng/spagobi/analiticalmodel/document/metadata/mapping/SbiSnapshots.hbm.xml" />

		<mapping resource="it/eng/spagobi/tools/scheduler/metadata/mapping/SbiTriggerPaused.hbm.xml" />
		<mapping resource="it/eng/spagobi/tools/scheduler/wsEvents/mapping/SbiWsEvent.hbm.xml" />



		<!-- map catalogue -->
		<mapping resource="it/eng/spagobi/mapcatalogue/metadata/mapping/SbiGeoMapFeatures.hbm.xml" />
		<mapping resource="it/eng/spagobi/mapcatalogue/metadata/mapping/SbiGeoFeatures.hbm.xml" />
		<mapping resource="it/eng/spagobi/mapcatalogue/metadata/mapping/SbiGeoMaps.hbm.xml" />
		<mapping resource="it/eng/spagobi/mapcatalogue/metadata/mapping/SbiGeoLayers.hbm.xml" />
		<mapping resource="it/eng/spagobi/mapcatalogue/metadata/mapping/SbiGeoLayersRoles.hbm.xml" />

		<!-- rememberMe -->
		<mapping resource="it/eng/spagobi/hotlink/rememberme/metadata/mapping/SbiRememberMe.hbm.xml" />

		<mapping resource="it/eng/spagobi/tools/dataset/metadata/mapping/SbiDataSet.hbm.xml" />
        <mapping  resource="it/eng/spagobi/tools/dataset/metadata/mapping/SbiObjDataSet.hbm.xml" />
        <mapping  resource="it/eng/spagobi/functions/metadata/mapping/SbiObjFunction.hbm.xml" />
		

		<!-- Menu -->
		<mapping resource="it/eng/spagobi/wapp/metadata/mapping/SbiMenu.hbm.xml" />
		<mapping resource="it/eng/spagobi/wapp/metadata/mapping/SbiMenuRole.hbm.xml" />

		<!-- Alarm -->
		<mapping resource="it/eng/spagobi/tools/alert/metadata/mapping/SbiAlert.hbm.xml" />
		<mapping resource="it/eng/spagobi/tools/alert/metadata/mapping/SbiAlertLog.hbm.xml" />
		<mapping resource="it/eng/spagobi/tools/alert/metadata/mapping/SbiAlertAction.hbm.xml" />
		<mapping resource="it/eng/spagobi/tools/alert/metadata/mapping/SbiAlertListener.hbm.xml" />



		<!-- Obj Metadata -->
		<mapping resource="it/eng/spagobi/tools/objmetadata/metadata/mapping/SbiObjMetadata.hbm.xml" />
		<mapping resource="it/eng/spagobi/tools/objmetadata/metadata/mapping/SbiObjMetacontents.hbm.xml" />

		<!-- PROFILING -->
		<mapping resource="it/eng/spagobi/profiling/mapping/SbiAttribute.hbm.xml" />
		<mapping resource="it/eng/spagobi/profiling/mapping/SbiExtUserRoles.hbm.xml" />
		<mapping resource="it/eng/spagobi/profiling/mapping/SbiUser.hbm.xml" />
		<mapping resource="it/eng/spagobi/profiling/mapping/SbiUserAttributes.hbm.xml" />
		<mapping resource="it/eng/spagobi/profiling/mapping/SbiAccessibilityPreferences.hbm.xml"/>

		<!-- User Defined Attributes -->
		<mapping resource="it/eng/spagobi/tools/udp/metadata/SbiUdp.hbm.xml" />
		<mapping resource="it/eng/spagobi/tools/udp/metadata/SbiUdpValue.hbm.xml" />

		
		<!-- messages -->
		<mapping resource="it/eng/spagobi/i18n/metadata/mapping/SbiI18NMessages.hbm.xml" />

		<!-- massive export -->
		<!-- -->
		<mapping resource="it/eng/spagobi/tools/massiveExport/metadata/mapping/SbiProgressThread.hbm.xml" />
		        
        <!-- dossier activity -->
        <mapping resource="it/eng/spagobi/dossier/metadata/mapping/SbiDossierActivity.hbm.xml" />


		<!-- tools: Meta-models catalogue -->
		<mapping resource="it/eng/spagobi/tools/catalogue/metadata/mapping/SbiMetaModel.hbm.xml" />
		<mapping resource="it/eng/spagobi/tools/catalogue/metadata/mapping/SbiMetaModelContent.hbm.xml" />
 		<mapping resource="it/eng/spagobi/tools/catalogue/metadata/mapping/SbiMetaModelParameter.hbm.xml" />
 		<mapping resource="it/eng/spagobi/tools/catalogue/metadata/mapping/SbiMetamodelParuse.hbm.xml" />
  		<mapping resource="it/eng/spagobi/tools/catalogue/metadata/mapping/SbiMetaModelParview.hbm.xml" />
			
		<!-- Federation definition -->
		<mapping resource="it/eng/spagobi/federateddataset/metadata/mapping/SbiFederationDefinition.hbm.xml"/>
        <mapping resource="it/eng/spagobi/federateddataset/metadata/mapping/SbiDataSetFederation.hbm.xml"/>
        
		<!-- tools: Artifacts' catalogue -->
		<mapping resource="it/eng/spagobi/tools/catalogue/metadata/mapping/SbiArtifact.hbm.xml" />
		<mapping resource="it/eng/spagobi/tools/catalogue/metadata/mapping/SbiArtifactContent.hbm.xml" />

		<!-- COMMUNITY -->
		<mapping resource="it/eng/spagobi/community/mapping/SbiCommunity.hbm.xml" />
		<mapping resource="it/eng/spagobi/community/mapping/SbiCommunityUsers.hbm.xml" />
		
		<!-- CACHE -->
        <mapping resource="it/eng/spagobi/cache/metadata/mapping/SbiCacheItem.hbm.xml" />
        
        <!-- GLOSSARY -->
		<mapping resource="it/eng/spagobi/tools/glossary/metadata/mapping/SbiGlContents.hbm.xml" />
		<mapping resource="it/eng/spagobi/tools/glossary/metadata/mapping/SbiGlGlossary.hbm.xml" />
		<mapping resource="it/eng/spagobi/tools/glossary/metadata/mapping/SbiGlReferences.hbm.xml" />
		<mapping resource="it/eng/spagobi/tools/glossary/metadata/mapping/SbiGlWlist.hbm.xml" />
		<mapping resource="it/eng/spagobi/tools/glossary/metadata/mapping/SbiGlWord.hbm.xml" />
		<mapping resource="it/eng/spagobi/tools/glossary/metadata/mapping/SbiGlDocWlist.hbm.xml" />     
		<mapping resource="it/eng/spagobi/tools/glossary/metadata/mapping/SbiGlDataSetWlist.hbm.xml" />
		<mapping resource="it/eng/spagobi/tools/glossary/metadata/mapping/SbiGlBnessClsWlist.hbm.xml" />
		<mapping resource="it/eng/spagobi/tools/glossary/metadata/mapping/SbiGlTableWlist.hbm.xml" />       
		
		
		<mapping resource="it/eng/spagobi/tools/timespan/metadata/mapping/SbiTimespan.hbm.xml" />
		
		
		<!-- IMAGES -->
		<mapping resource="it/eng/spagobi/images/metadata/mapping/SbiImages.hbm.xml" />        

        <!-- Cross Navigation -->
        <mapping resource="it/eng/spagobi/tools/crossnavigation/metadata/mapping/SbiCrossNavigation.hbm.xml" />
        <mapping resource="it/eng/spagobi/tools/crossnavigation/metadata/mapping/SbiCrossNavigationPar.hbm.xml" />
        
        <!-- Document Output Parameters -->
        <mapping resource="it/eng/spagobi/tools/crossnavigation/metadata/mapping/SbiOutputParameter.hbm.xml" />
        
        <!-- KPI Configuration -->
        <mapping resource="it/eng/spagobi/kpi/metadata/mapping/SbiKpiAlias.hbm.xml" />
        <mapping resource="it/eng/spagobi/kpi/metadata/mapping/SbiKpiKpi.hbm.xml" />
        <mapping resource="it/eng/spagobi/kpi/metadata/mapping/SbiKpiPlaceholder.hbm.xml" />
        <mapping resource="it/eng/spagobi/kpi/metadata/mapping/SbiKpiRule.hbm.xml" />
        <mapping resource="it/eng/spagobi/kpi/metadata/mapping/SbiKpiRuleOutput.hbm.xml" />
        <mapping resource="it/eng/spagobi/kpi/metadata/mapping/SbiKpiThreshold.hbm.xml" />
        <mapping resource="it/eng/spagobi/kpi/metadata/mapping/SbiKpiThresholdValue.hbm.xml" />
        <mapping resource="it/eng/spagobi/kpi/metadata/mapping/SbiKpiTarget.hbm.xml" />
        <mapping resource="it/eng/spagobi/kpi/metadata/mapping/SbiKpiTargetValue.hbm.xml" />
        <mapping resource="it/eng/spagobi/kpi/metadata/mapping/SbiKpiScorecard.hbm.xml" />
        <mapping resource="it/eng/spagobi/kpi/metadata/mapping/SbiKpiExecution.hbm.xml" />
        <mapping resource="it/eng/spagobi/kpi/metadata/mapping/SbiKpiExecutionFilter.hbm.xml" />
        <mapping resource="it/eng/spagobi/kpi/metadata/mapping/SbiKpiValue.hbm.xml" />
        <mapping resource="it/eng/spagobi/kpi/metadata/mapping/SbiKpiValueExecLog.hbm.xml" />
         
         <!-- METADATA -->
         <mapping resource="it/eng/spagobi/metadata/metadata/mapping/SbiMetaBc.hbm.xml" />
         <mapping resource="it/eng/spagobi/metadata/metadata/mapping/SbiMetaBcAttribute.hbm.xml" />
         <mapping resource="it/eng/spagobi/metadata/metadata/mapping/SbiMetaDsBc.hbm.xml" />
         <mapping resource="it/eng/spagobi/metadata/metadata/mapping/SbiMetaJob.hbm.xml" />
         <mapping resource="it/eng/spagobi/metadata/metadata/mapping/SbiMetaJobSource.hbm.xml" />
         <mapping resource="it/eng/spagobi/metadata/metadata/mapping/SbiMetaJobTable.hbm.xml" />
         <mapping resource="it/eng/spagobi/metadata/metadata/mapping/SbiMetaObjDs.hbm.xml" />
         <mapping resource="it/eng/spagobi/metadata/metadata/mapping/SbiMetaSource.hbm.xml" />
         <mapping resource="it/eng/spagobi/metadata/metadata/mapping/SbiMetaTable.hbm.xml" />
         <mapping resource="it/eng/spagobi/metadata/metadata/mapping/SbiMetaTableBc.hbm.xml" />
         <mapping resource="it/eng/spagobi/metadata/metadata/mapping/SbiMetaTableColumn.hbm.xml" />
         <mapping resource="it/eng/spagobi/metadata/metadata/mapping/SbiMetaDocumentTableRelation.hbm.xml" />
         <mapping resource="it/eng/spagobi/metadata/metadata/mapping/SbiMetaDatasetTableRelation.hbm.xml" />
         <!-- Function catalog mapping -->  
     	 <mapping resource="it/eng/spagobi/functions/metadata/mapping/SbiCatalogFunction.hbm.xml" />
         <mapping resource="it/eng/spagobi/functions/metadata/mapping/SbiFunctionInputVariable.hbm.xml" />
     	 <mapping resource="it/eng/spagobi/functions/metadata/mapping/SbiFunctionInputColumn.hbm.xml" />
         <mapping resource="it/eng/spagobi/functions/metadata/mapping/SbiFunctionOutputColumn.hbm.xml" />
		
	 <!-- News Management -->
        <mapping resource="it/eng/spagobi/tools/news/metadata/mapping/SbiNews.hbm.xml" />
        <mapping resource="it/eng/spagobi/tools/news/metadata/mapping/SbiNewsRead.hbm.xml" />
         
         
         <!-- Workspace organizer mapping -->   
         <mapping resource="it/eng/spagobi/workspace/metadata/mapping/SbiFunctionsOrganizer.hbm.xml" />
         <mapping resource="it/eng/spagobi/workspace/metadata/mapping/SbiObjFuncOrganizer.hbm.xml" />
         
         <!-- Whatif workflow mapping -->
         <mapping resource="it/eng/spagobi/whatif/metadata/mapping/SbiWhatifWorkflow.hbm.xml" />
         
         <!-- Tags mapping -->
         <mapping resource="it/eng/spagobi/tools/tag/metadata/mapping/SbiTag.hbm.xml" />
         <mapping resource="it/eng/spagobi/tools/tag/metadata/mapping/SbiDataSetTag.hbm.xml" />
        
        <!-- end mapping -->
        
        <class-cache class="it.eng.spagobi.commons.metadata.SbiDomains" usage="read-only"/>
        <class-cache class="it.eng.spagobi.commons.metadata.SbiUserFunctionality" usage="read-only"/>
        <class-cache class="it.eng.spagobi.tools.dataset.metadata.SbiDataSet" usage="nonstrict-read-write"/>
        <class-cache class="it.eng.spagobi.tools.datasource.metadata.SbiDataSource" usage="nonstrict-read-write"/>
        <class-cache class="it.eng.spagobi.analiticalmodel.functionalitytree.metadata.SbiFuncRole" usage="nonstrict-read-write"/>

		<!-- <class-cache class="it.eng.spagobi.commons.metadata.SbiExtRoles" usage="read-only"/> -->
		<!-- class-cache class="it.eng.spagobi.analiticalmodel.functionalitytree.metadata.SbiFunctions" 
			usage="nonstrict-read-write"/ -->
		<!-- collection-cache collection="it.eng.spagobi.analiticalmodel.functionalitytree.metadata.SbiFunctions.sbiFuncRoles" 
			usage="nonstrict-read-write"/ -->

	</session-factory>

</hibernate-configuration>
