/*
 * General prefs editor styling used to apply preferences
 * !important is used for all styles to ensure that Preferences Framework's enactors are able to override the page's default styles.
 */

@import "utils/Themes"

.fl-font-arial,
.fl-font-arial * {
    font-family: "Arial" !important;
}

.fl-font-verdana,
.fl-font-verdana * {
    font-family: "Verdana" !important;
}

.fl-font-times,
.fl-font-times * {
    font-family: Georgia, Times, "Times New Roman", serif !important;
}

.fl-font-comic-sans,
.fl-font-comic-sans * {
    font-family: "Comic Sans MS", sans-serif !important;
}

// UI Enhancer "Enlarge text" link options
.fl-text-larger input,
.fl-text-larger button {
    font-size: 125% !important;
}

// UI Enhancer 'enhanced links' styling
.fl-link-enhanced a {
    font-size: 125% !important;
    text-decoration: underline !important;
    font-weight: bold !important;
}

// Theming
build-themes-Enactors(themes);
