#set($results = $data.rows)
#set($dataFields = $data.metaData.fields)

#set($categories = $chart.VALUES.CATEGORY)
#set($serie = $chart.VALUES.SERIE.name)

#set($dataColumnsMapper = {})

#foreach ($dataField in $dataFields) ## conversion column name to internal column name
	#if($dataField.class.name == 'java.util.LinkedHashMap')		
		#set($workAroundNoPrint = $dataColumnsMapper.put($dataField.header, $dataField.name))
	#end
#end

#set($columnsNeeded = {})

#set($columnCounter = 0)
		
#foreach($value in $categories)	

	#set($columnsNeeded[$columnCounter] = $value.column)
	#set($columnCounter = $columnCounter + 1)
#end

{
	chart:
	{		
		type: '$chart.type',
		height: '$chart.height',
		width: '$chart.width',
		
		style:
		{
			backgroundColor: '$chart.style.backgroundColor',
			fontWeight: '$chart.style.fontWeight',
			fontSize: '$chart.style.fontSize'
		}
	},
	
	title:
	{
		text: '$chart.TITLE.text',
		
		style:
		{
			align: '$chart.TITLE.style.align',
			color: '$chart.TITLE.style.color',
			fontWeight: '$chart.TITLE.style.fontWeight',
			fontSize: '$chart.TITLE.style.fontSize'
		}
	},
	
	subtitle:
	{
		text: '$chart.SUBTITLE.text',
		
		style:
		{
			align: '$chart.SUBTITLE.style.align',
			color: '$chart.SUBTITLE.style.color',
			fontWeight: '$chart.SUBTITLE.style.fontWeight',
			fontSize: '$chart.SUBTITLE.style.fontSize'
		}
	},
		
	emptymessage:
	{
		text: '$chart.EMPTYMESSAGE.text',
		
		style:
		{
			align: '$chart.EMPTYMESSAGE.style.align',
			color: '$chart.EMPTYMESSAGE.style.color',
			fontWeight: '$chart.EMPTYMESSAGE.style.fontWeight',
			fontSize: '$chart.EMPTYMESSAGE.style.fontSize'
		}
	},
	
	colors: 
	[
		#*
 			If user specified more than one color from the color palette
 			on the Designer when creating the chart, then we have an array
 			list of elements. Otherwise, we are dealing with a hashmap.
 			
 			In the first case, create an array of colors. In the second 
 			case take the only color user specified and put it as the only
 			element of the array that we are now creating.
 			
 			@modifiedBy: danristo (danilo.ristovski@mht.net)
 		*#	
 			
		#*#if ($chart.COLORPALETTE.COLOR.class.name == 'java.util.ArrayList')
			#foreach($color in $chart.COLORPALETTE.COLOR)
				'$color.get('value')',			
			#end			
		#else
			'$chart.COLORPALETTE.COLOR.value'
		#end	*#
		
		#*
			If user specifies at least 2 colors (class name of the structure that hold data
			about colors picked in the color palette of the Designer will in this case be
			LinkedList, instead of LinkedHashMap as in other case - just one element) go 
			into the if-statement. If there are no picked color or there is just one, go
			into the else-statement.
			@author: danristo (danilo.ristovski@mht.net)
		*#
 		
 		#if ($chart.COLORPALETTE.COLOR && $chart.COLORPALETTE.COLOR.class.name != 'java.util.LinkedHashMap') 
			
			#foreach($color in $chart.COLORPALETTE.COLOR)
				'$color.value', 
			#end	
					
		#else		
			
			#*
				If user does not specify any color inside the color palette the chart
				will take predefined value for the color (#000000) (else-case).	Otherwise, 
				we will take the single value specified in the palette (if-case).
				@author: danristo (danilo.ristovski@mht.net)
			*#
			
			#if ($chart.COLORPALETTE.COLOR)
				'$chart.COLORPALETTE.COLOR.value'
			#else
				'#518BC6'
			#end
			
		#end
    ],	
	
	data:
	[
		$datasettransformer.toMatrix($results,$columnsNeeded,$serie,$dataColumnsMapper)
	]

}