#set($category = $chart.VALUES.CATEGORY)
#set($dataRows = $data.rows)
#set($dataFields = $data.metaData.fields) ## columns of data table
#set($dataColumnsMapper = {})

#foreach ($dataField in $dataFields) ## conversion column name to internal column name
	#if($dataField.class.name == 'java.util.LinkedHashMap')
		#set($workAroundNoPrint = $dataColumnsMapper.put($dataField.header, $dataField.name))
	#end
#end

#* 	
	For Java class of dataset transformer we need '$dataRows' (raw JSON dataset),
	'$columnsNeeded' (name of the columns for sequence) and $$dataColumnsMapper (metadata)
*#

#set($columnsNeeded = {})

#set($columnCouter = 0)
			
#foreach($value in $category)	
	#set($columnsNeeded[$columnCouter] = $value.column)
	#set($columnCouter = $columnCouter + 1)
#end

#set($serie = $chart.VALUES.SERIE.name)

{
	chart: 
	{
		type: '$chart.type',
		width: '$chart.width',
		height: '$chart.height',		
		topPadding: '$chart.topPadding',
		bottomPadding: '$chart.bottomPadding',
		
		style:
		{
			opacMouseOver: '$chart.CHART-STYLE.opacMouseOver',
			
			font:
			{
				type: '$chart.CHART-STYLE.FONT.type',
				size: '$chart.CHART-STYLE.FONT.size',
				color: '$chart.CHART-STYLE.FONT.color'
			}
		}
	},
	
	
	emptymessage:
	{
		text: '$chart.EMPTYMESSAGE.EMPTYMESSAGE-STYLE.text',
		height: '$chart.EMPTYMESSAGE.height',
		paddingLeft: '$chart.EMPTYMESSAGE.paddingLeft',
		position: '$chart.EMPTYMESSAGE.position',
		
		style:
		{
			fontType: '$chart.EMPTYMESSAGE.EMPTYMESSAGE-STYLE.fontType',
			fontStyle: '$chart.EMPTYMESSAGE.EMPTYMESSAGE-STYLE.fontStyle',
			fontSize: '$chart.EMPTYMESSAGE.EMPTYMESSAGE-STYLE.fontSize',
			fontColor: '$chart.EMPTYMESSAGE.EMPTYMESSAGE-STYLE.fontColor',
			textAlign: '$chart.EMPTYMESSAGE.EMPTYMESSAGE-STYLE.textAlign'
		}
	},
	
	title:
	{
		text: '$chart.TITLE.text',
		height: '$chart.TITLE.height',
		paddingLeft: '$chart.TITLE.paddingLeft',
		position: '$chart.TITLE.position',
		
		style:
		{
			fontType: '$chart.TITLE.TITLE-STYLE.fontType',
			fontStyle: '$chart.TITLE.TITLE-STYLE.fontStyle',
			fontSize: '$chart.TITLE.TITLE-STYLE.fontSize',
			fontColor: '$chart.TITLE.TITLE-STYLE.fontColor',
			textAlign: '$chart.TITLE.TITLE-STYLE.textAlign'
		}
	},
	
	subtitle:
	{
		text: '$chart.SUBTITLE.text',
		height: '$chart.SUBTITLE.height',
		paddingLeft: '$chart.SUBTITLE.paddingLeft',
		position: '$chart.SUBTITLE.position',
		
		style:
		{
			fontType: '$chart.SUBTITLE.SUBTITLE-STYLE.fontType',
			fontStyle: '$chart.SUBTITLE.SUBTITLE-STYLE.fontStyle',
			fontSize: '$chart.SUBTITLE.SUBTITLE-STYLE.fontSize',
			fontColor: '$chart.SUBTITLE.SUBTITLE-STYLE.fontColor',
			textAlign: '$chart.SUBTITLE.SUBTITLE-STYLE.textAlign'
		}
	},
		
	tip:
	{
		text: '$chart.TIP.text',		
		width: '$chart.TIP.width',		
		position: '$chart.TIP.position',
		
		style:
		{
			fontType: '$chart.TIP.TIP-STYLE.fontType',
			fontStyle: '$chart.TIP.TIP-STYLE.fontStyle',
			fontSize: '$chart.TIP.TIP-STYLE.fontSize',
			fontColor: '$chart.TIP.TIP-STYLE.fontColor',
			textAlign: '$chart.TIP.TIP-STYLE.textAlign'
		}
	},
		
	toolbar:
	{
		position: '$chart.TOOLBAR.position',
		height: '$chart.TOOLBAR.height',
		width: '$chart.TOOLBAR.width',
		spacing: '$chart.TOOLBAR.spacing',
		tail: '$chart.TOOLBAR.tail',
		padding: '$chart.TOOLBAR.padding',
		
		style:
		{
			percFontColor: '$chart.TOOLBAR.TOOLBAR-STYLE.percFontColor'
		}
	},	
	
	legend:
	{
		width: '$chart.LEGEND.width',
		height: '$chart.LEGEND.height',
		spacing: '$chart.LEGEND.spacing',
		radius: '$chart.LEGEND.radius',
		padding: '$chart.LEGEND.padding'
	},
		
	data:
	[
	 	$datasettransformer.toTree($columnsNeeded,$serie,$dataColumnsMapper,$dataRows)
	]
}