#set($category = $chart.VALUES.CATEGORY)

#set($dataRows = $data.rows)
#set($dataFields = $data.metaData.fields) ## columns of data table
#set($dataColumnsMapper = {})

#foreach ($dataField in $dataFields) ## conversion column name to internal column name
 #if($dataField.class.name == 'java.util.LinkedHashMap')
  #set($workAroundNoPrint = $dataColumnsMapper.put($dataField.header, $dataField.name))
 #end
#end

#*  
 For Java class of dataset transformer we need '$dataRows' (raw JSON dataset),
 '$columnsNeeded' (name of the columns for sequence) and $$dataColumnsMapper (metadata)
*#

#set($columnsNeeded = {})

#set($columnCounter = 0)

#if(!$category.column)
	#foreach($value in $category) 
		 #set($columnsNeeded[$columnCounter] = $value.column)
		 #set($columnCounter = $columnCounter + 1)
	#end
#else
	#set($columnsNeeded[0] = $category.column)
#end

#set($serie = $chart.VALUES.SERIE.name)

#set($result = $datasettransformer.toWordcloud($columnsNeeded,$dataColumnsMapper,$dataRows,$serie))

{
 	chart: 
 	{
  		type: '$chart.type',
  		width: '$chart.width',
		height: '$chart.height',
  		
  		style:
  		{
  			fontFamily: '$chart.style.fontFamily',
	  		fontSize: '$chart.style.fontSize',
	  		fontWeight: '$chart.style.fontWeight',
	  		backgroundColor: '$chart.style.backgroundColor',
	  		maxWords: '$chart.style.maxWords',
	  		maxAngle: '$chart.style.maxAngle',
	  		minAngle: '$chart.style.minAngle',
	  		maxFontSize: '$chart.style.maxFontSize',
	  		wordPadding: '$chart.style.wordPadding'
  		}  		
 	},
 
 	## Same as for the Sunburst chart
 	emptymessage:
	{
		text: '$chart.EMPTYMESSAGE.text',		
		
		style:
		{
			align: '$chart.EMPTYMESSAGE.style.align',
			fontFamily: '$chart.EMPTYMESSAGE.style.fontFamily',
			fontWeight: '$chart.EMPTYMESSAGE.style.fontWeight',			
			fontSize: '$chart.EMPTYMESSAGE.style.fontSize',
			color: '$chart.EMPTYMESSAGE.style.color'
		}
	},
	
	title:
	{
		text: '$chart.TITLE.text',		
		
		style:
		{
			fontFamily: '$chart.TITLE.style.fontFamily',
			fontSize: '$chart.TITLE.style.fontSize',
			fontWeight: '$chart.TITLE.style.fontWeight',
			color: '$chart.TITLE.style.color',
			align: '$chart.TITLE.style.align'
		}
	},
	
	subtitle:
	{
		text: '$chart.SUBTITLE.text',		
		
		style:
		{
			fontFamily: '$chart.SUBTITLE.style.fontFamily',
			fontWeight: '$chart.SUBTITLE.style.fontWeight',
			fontSize: '$chart.SUBTITLE.style.fontSize',
			color: '$chart.SUBTITLE.style.color',
			align: '$chart.SUBTITLE.style.align'
		}
	},
 
 	data:
 	[
  		$result
 	]
}