.hidden {
	display: none !important;
	visibility: hidden !important;
}

.angularListTemplate *:focus {
	outline: none;
}

.angularListTemplate {
	max-height: 100%;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: normal;
	color: black;
}

.angularListTemplate {
	overflow-x: hidden;
	position: relative;
}

.angularListTemplate .searchBarList {
	padding: 0;
	background-color: transparent;
	margin: 0px;
	height: 22px;
}

.angularListTemplate .searchBarList md-icon {
	color: rgb(177, 169, 174);
	height: 100%;
	top: 50%;
	margin-top: -5px;
}

.angularListTemplate .searchBarList md-icon.filter-icon {
	left: 100%;
	margin-left: -10px;
	display: none;
}

.angularListTemplate .searchBarList md-icon.filter-icon.not_empty {
	color: red;
	display: block;
}

.angularListTemplate .searchBarList input {
	    margin: 0px;
    /* margin-left: 15px; */
    height: 22px;
    padding-left: 18px;
}

.angularListTemplate md-progress-circular {
	left: 50%;
	margin-left: -25px;
	position: absolute
}

i.dragged-item-icon {
	font-size: 15px;
	float: left;
	color: rgb(176, 190, 197);
	cursor: move;
	margin-top: 4px;
}

.angularListTemplate .dropdown_menu_list md-list-item,
	.angularListTemplate .dropdown_menu_list md-list-item button,
	.angularListTemplate .dropdown_menu_list md-list-item .md-list-item-inner
	{
	/* 	min-height: 15px !important; */
	min-height: 22px !important;
}

.angularListTemplate .dropdown_menu_list md-list-item p {
	line-height: 20px;
	margin: 3px;
}

.angularListTemplate button {
	height: 22px !important;
	padding: 0px;
}

.angularListTemplate md-list {
	padding: 0;
}

.angularListTemplate  button p {
	line-height: 25px;
	padding: 0px 16px 0 0;
	margin-left: 4px;
	border-bottom: 2px solid rgb(176, 190, 197);
}

.angularListTemplate md-list md-list-item button.md-button:not ([disabled]
	):hover {
	background-color: transparent;
}

.angularListTemplate md-list md-list-item button.md-button:not ([disabled]
	):hover {
	background-color: transparent;
}

.angularListTemplate .angular-ui-tree-handle, .angularListTemplate .angular-ui-tree-handle:hover
	{
	cursor: pointer !important;
}

/* pagination */
.angularListTemplate .box_pagination_list {
	position: absolute;
	bottom: 0;
	width: 100%;
	margin-bottom: 3px;
}

.angularListTemplate [layout-padding] .box_pagination_list {
	margin-left: -8px !important;
}

.angularListTemplate .pagination>li, .angularListTemplate .pagination>li>span
	{
	position: relative;
	float: left;
	margin-left: -1px;
	text-decoration: none !important;
	background-color: #fff;
	border: 1px solid #ddd;
	display: block;
	width: 20px;
	height: 16px;
	text-align: center;
	line-height: 16px;
}

.angularListTemplate .pagination {
	margin: 0px !important;
	padding: 0px !important;
}

.angularListTemplate .pagination>li>a {
	text-decoration: none !important;
	width: 100%;
	display: block;
}

.angularListTemplate .pagination>.active, .angularListTemplate .pagination>.active>a,
	.angularListTemplate .pagination>.active>a:focus, .angularListTemplate .pagination>.active>a:hover,
	.angularListTemplate .pagination>.active>span, .angularListTemplate .pagination>.active>span:focus,
	.angularListTemplate .pagination>.active>span:hover {
	z-index: 2;
	color: #000;
	cursor: default;
	background-color: rgb(232, 232, 232);
	border-color: rgb(232, 232, 232);
}

.angularListTemplate .pagination>.disabled>a, .angularListTemplate .pagination>.disabled>a:focus,
	.angularListTemplate .pagination>.disabled>a:hover,
	.angularListTemplate .pagination>.disabled>span, .angularListTemplate .pagination>.disabled>span:focus,
	.angularListTemplate .pagination>.disabled>span:hover {
	color: #777;
	cursor: not-allowed;
	background-color: #fff;
	border-color: #ddd;
}

/* dropdown */
.angularListTemplate .dropdown_menu_list {
	margin-top: -25px;
	position: fixed !important;
	left: 10px !important;
}

.angularListTemplate .dropdown_menu_list md-list {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 4px;
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.angularListTemplate .dropdown_menu_list.open md-list {
	display: block;
}

.angularListTemplate .dropdown_menu_list md-list.bottomBorder md-list-item button
	{
	border-bottom: 1px solid rgb(176, 190, 197);
	padding: 0;
	margin-left: 8px;
	margin-right: 8px;
	border-radius: 0;
}

/*tree */
.angular-ui-tree-node p, .angular-ui-tree-node md-list-item,
	.angular-ui-tree-node md-list-item button, .angular-ui-tree-node md-list-item button .md-list-item-inner,
	.angular-ui-tree-node .md-ripple-container {
	height: 21px !important;
	min-height: 21px !important;
	cursor: pointer;
}

.angularListTemplate .md-list-item-inner {
	width: 100%;
	height: 100%;
}

ol.angular-ui-tree-nodes li {
	border-left: 1px dotted #D3C1C1;
}

.angular-ui-tree-empty {
	background-color: white !important;
	min-height: 30px;
}

.angular-ui-tree-handle {
	/* 	border-left: 2px double #D3C1C1; */
	padding: 4px 0px;
	height: 27px !important;
	min-height: 27px !important;
	cursor: pointer;
}

.angular-ui-tree-placeholder {
	background: #f0f9ff;
	border: 2px dashed #bed2db;
	box-sizing: border-box;
}

.selectedRow {
	font-weight: bold;
}

p.wrapText {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.angularListTemplate md-fab-speed-dial md-fab-trigger button,
	.angularListTemplate button.singleActionButton {
	height: 15px !important;
	width: 15px !important;
	min-height: 0;
}

.angularListTemplate button.singleActionButton {
	position: absolute;
	right: -5px;
	top: 0;
}

.angularListTemplate md-fab-speed-dial md-fab-actions button {
	height: 20px;
	width: 20px;
	min-height: 0;
	top: 2px;
	background-color: #0094FF;
}

.angularListTemplate md-fab-speed-dial md-fab-actions button md-icon {
	margin-top: 2px;
}

.angularListTemplate md-fab-speed-dial {
	position: absolute;
	right: -5px;
	height: 100%;
	top: -3px;
}