
bread-crumb md-tabs {
	height: 23px;
	min-height: 0px !important;
}

bread-crumb md-tabs md-tabs-canvas, bread-crumb md-tabs md-pagination-wrapper,bread-crumb md-tabs md-tab-item
	{
	height: 23px !important;
}

bread-crumb md-tabs md-tab-item {
	padding: 0 24px !important; 
	background-image: url("/knowage/themes/glossary/css/backgroundArrow.png");
	background-position: right;
}
bread-crumb md-tabs  md-tabs-content-wrapper {
	top: 24px !important;
}

bread-crumb md-tabs md-ink-bar {
	background: rgb(123, 171, 195);
	margin-right: 16px;
	margin-left: 10px;
}
