<md-dialog style='width:50%;'>
   <md-toolbar class="primaryToolbar">
   		<div class="md-toolbar-tools">
   			<h2>Pagination Wizard</h2>
   		</div>
   </md-toolbar>
	   
   <md-dialog-content layout-padding style="min-height:200px">
  		<md-checkbox ng-show="true" ng-model="pagination" aria-label="use table pagination">
			<span>Use table pagination</span>
		</md-checkbox>
   </md-dialog-content>
	
    <md-dialog-actions layout="row">
     	<span flex></span>
      	<md-button ng-click="closeDialogOlapDesigner()" class="md-raised">
       		Cancel
      	</md-button>
      	<md-button ng-click="savePagination()" class="md-raised md-primary" md-autofocus>
        	Save
      	</md-button>
    </md-dialog-actions>
</md-dialog>