<md-dialog aria-label="Mango (Fruit)" ng-cloak style="max-width:900px;max-height:600px;"> 
	<md-toolbar class="miniheadhiersmall">
		<div class="md-toolbar-tools">
			  <h2 class="md-flex">Modify Hierarchies</h2>
		</div>
	</md-toolbar> 
	<md-dialog-content layout="column">
		<form name="hierForm">
			<div flex layout-margin>
				<div ng-repeat='mt in metadata'>
					<md-input-container>
						<label> {{mt.NAME}}</label>
						<input type="text" ng-model="hier[mt.ID]" ng-if="mt.TYPE == 'String' || mt.TYPE == 'Number'"></input>
						<md-datepicker ng-model="hier[mt.ID]" ng-change="" ng-if="mt.TYPE == 'Date'"></md-datepicker>
					</md-input-container>
				</div>
				
				<!-- 
					<fieldset class="standard">
					<legend>{{translate.load("sbi.kpi.validity")}}</legend>
					<div layout="row" layout-xs='column' layout-wrap flex layout-align="space-around center" layout-align-xs="space-around stretch">
						<div>
							<label>{{translate.load("sbi.generic.from")}}</label>
							<md-datepicker ng-model="begin_dt" ng-change=""></md-datepicker>
						</div>
						<div>
							<label>{{translate.load("sbi.generic.to")}}</label>
							<md-datepicker ng-model="end_dt" ng-change=""></md-datepicker>
						</div>
					</div>
				</fieldset>
				-->
				<div layout="row" layout-align="space-around center">
					<md-button type="submit" class="md-raised md-ExtraMini" ng-click="saveHier(hier)" ng-disabled="hierForm.$invalid"> {{ translate.load("sbi.generic.update")}} </md-button>
					<md-button type="button" class="md-raised md-ExtraMini"	ng-click="closeDialog()">{{translate.load("sbi.generic.cancel")}} </md-button>
				</div> 
		</form>
	</md-dialog-content> 
</md-dialog>

