<md-dialog aria-label="Mango (Fruit)" ng-cloak style="max-width:900px;max-height:600px;"> 
	<md-toolbar class="miniheadhiersmall">
		<div class="md-toolbar-tools">
			  <h2 class="md-flex">Modify Hierarchies</h2>
		</div>
	</md-toolbar> 
	<md-dialog-content layout="column">
		<form name="hierForm">
			<div flex layout-margin>
				<div ng-repeat='mt in metadata'>
					<md-input-container ng-if="mt.VISIBLE && (mt.TYPE == 'String' || mt.TYPE == 'Number')" >
						<label> {{mt.NAME}}</label>
						<input type="text" ng-model="hier[mt.ID]" ng-disabled='!mt.EDITABLE' ng-required='mt.REQUIRED'></input>
					</md-input-container>
					<div ng-if="mt.VISIBLE && mt.TYPE == 'Date'">
						<md-datepicker ng-model="hier[mt.ID]" ng-change="" ng-disabled='!mt.EDITABLE' ng-required='mt.REQUIRED'></md-datepicker> {{mt.NAME}}
					</div>
				</div>
				<div layout="row" layout-align="space-around center">
					<md-button type="submit" class="md-raised md-ExtraMini" ng-click="saveHier(hier)" ng-disabled="hierForm.$invalid"> {{ translate.load("sbi.generic.update")}} </md-button>
					<md-button type="button" class="md-raised md-ExtraMini"	ng-click="closeDialog()">{{translate.load("sbi.generic.cancel")}} </md-button>
				</div> 
		</form>
	</md-dialog-content> 
</md-dialog>

