<md-dialog aria-label="Mango (Fruit)" ng-cloak class="master-dialog list-dialog" ng-cloak> 
	<md-toolbar class="miniheadhiersmall">
		<div class="md-toolbar-tools">
			  <h2 class="md-flex">{{translate.load('sbi.hierarchies.hierTarget');}}</h2>
		</div>
	</md-toolbar> 
	<md-dialog-content>
		<md-content layout="column" layout-align="space-between stretch">
			<md-content layout-wrap layout="row" layout-align = "left center" class="force-100width">
				<md-list>
					<md-list-item class="">
						<md-checkbox ng-model="all" ng-click="selectAll()"></md-checkbox>{{translate.load("sbi.generic.select")}} {{translate.load("sbi.generic.all")}}
					</md-list-item>
					<md-list-item class="" ng-repeat="hier in listHierarchies">
						<md-checkbox ng-model="hier.checked"></md-checkbox>{{hier.HIER_NM}} - {{hier.$parent.HIER_NM}}<br>
						{{hier.path}}	
					</md-list-item>
				</md-list>
			</md-content>
			<md-content layout="row" layout-align="end center" class="force-100width">
				<md-button type="button" class="md-raised md-ExtraMini"	ng-click="cancelDialog()">{{translate.load("sbi.general.cancel")}} </md-button>
				<md-button type="button" class="md-raised md-ExtraMini"	ng-click="closeDialog()">{{translate.load("sbi.general.ok")}} </md-button>
			</md-content> 
		</md-content>
	</md-dialog-content> 
</md-dialog>

