<md-card>
	<md-toolbar class="ternaryToolbar" >
		<div class="md-toolbar-tools" layout="row">
			<md-switch ng-model="ngModel.titles" ng-click="toggleTitle()">{{translate.load("sbi.cockpit.style.titles")}}</md-switch>
			<span flex></span>
			<md-button ng-click="resetTitlesStyle()" class="md-icon-button" ng-if="isWidget && (ngModel.titles!=cockpitStyle.titles || ngModel.headerHeight || !angular.equals(ngModel.title,cockpitStyle.title))" >
				<md-tooltip>Clear title styles</md-tooltip>
				<md-icon md-font-icon="fa fa-eraser" ></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-card-content layout="column" layout-align="start stretch">
			<div layout="row">
				<md-input-container class="md-block" flex>
					<label>{{::translate.load("sbi.cockpit.style.title.text")}}</label>
					<input ng-model="ngModel.title.label" type="text" ng-disabled="!ngModel.titles">
				</md-input-container>
				<md-input-container class="md-block" flex>
					<label>Horizontal alignment</label>
					<md-select ng-model="ngModel.title.font['text-align']" ng-disabled="!ngModel.titles">
						<md-option ng-repeat="fs in cockpitModule_generalOptions.textAlign" ng-value="fs.value">{{fs.label}}</md-option>
					</md-select>
				</md-input-container>
				<md-input-container class="md-block" flex>
					<label>{{::translate.load("sbi.cockpit.style.font.family")}}</label>
					<md-select ng-model="ngModel.title.font['font-family']" ng-disabled="!ngModel.titles">
						<md-option ng-repeat="fs in cockpitModule_generalOptions.fontFamily" ng-value="fs.value"><span ng-style="{'font-family':fs.value}">{{fs.label}}</span></md-option>
					</md-select>
				</md-input-container>
			</div>
			
			<div layout="row">
				<md-input-container class="md-block" flex>
					<label>{{::translate.load("sbi.cockpit.style.titles.font.size")}}</label>
					<input ng-model="ngModel.title.font['font-size']" ng-disabled="!ngModel.titles" type="text"/>
					<div class="hint">{{::translate.load('sbi.cockpit.style.fontSize.hint')}}</div>
				</md-input-container>
				<md-input-container class="md-block" flex>
					<label>{{::translate.load("sbi.cockpit.style.font.style")}}</label>
					<md-select ng-model="ngModel.title.font['font-style']" ng-disabled="!ngModel.titles">
						<md-option ng-repeat="fst in cockpitModule_generalOptions.fontStyle" ng-value="fst.value"><span ng-style="{'font-style':fst.value}">{{fst.label}}</span></md-option>
					</md-select>
				</md-input-container>
				<md-input-container class="md-block" flex>
					<label>{{::translate.load("sbi.cockpit.style.titles.font.weight")}}</label>
					<md-select ng-model="ngModel.title.font['font-weight']" ng-disabled="!ngModel.titles">
						<md-option ng-repeat="fw in cockpitModule_generalOptions.fontWeight" ng-value="fw.value"><span ng-style="{'font-weight':fw.value}">{{fw.label}}</span></md-option>
					</md-select>
				</md-input-container>
			</div>
			
			<div layout="row">
				<md-input-container class="md-block" flex>
					<label>{{::translate.load("sbi.cockpit.style.titles.font.headerheight")}}</label>
					<input ng-model="ngModel.title.height" type="number" min="0" ng-disabled="!ngModel.titles">
					<div class="hint">{{::translate.load('sbi.cockpit.style.title.height.hint')}}</div>
				</md-input-container>
				<md-input-container class="md-block" flex>
					<label>{{::translate.load("sbi.cockpit.style.titles.font.color")}}</label>
					<color-picker options="colorPickerOptions" ng-model="ngModel.title.font['color']"></color-picker> 
				</md-input-container>
				<md-input-container class="md-block" flex>
					<label>{{::translate.load("sbi.cockpit.style.titles.background.color")}}</label>
					<color-picker options="colorPickerOptions" ng-model="ngModel.title['background-color']"></color-picker> 
				</md-input-container>
			</div>
	</md-card-content>
</md-card>

<md-card>
	<md-toolbar class="ternaryToolbar" >
		<div class="md-toolbar-tools" layout="row">
			<md-switch ng-model="ngModel.borders">{{translate.load("sbi.cockpit.style.borders")}}</md-switch>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="resetBordersStyle()" ng-if="isWidget && (ngModel.borders!=cockpitStyle.borders || !angular.equals(ngModel.border,cockpitStyle.border))">
				<md-icon md-font-icon="fa fa-eraser"  ></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-card-content layout="column">
		<div layout="row">
			<md-input-container class="md-block" flex >
				<label>{{translate.load("sbi.cockpit.style.borders.style")}}</label>
				<md-select ng-model="ngModel.border['border-style']" ng-disabled="!ngModel.borders">
					<md-option></md-option>
					<md-option ng-repeat=" bsize in bordersSize" ng-value="bsize.value">{{bsize.label}} <span ng-class="bsize.exampleClass"></span></md-option>
				</md-select>
			</md-input-container>
			<md-input-container class="md-block" flex>
				<label>{{translate.load("sbi.cockpit.style.borders.thickness")}}</label>
				<input ng-model="ngModel.border['border-width']" type="text" ng-disabled="!ngModel.borders"/>
				<div class="hint">{{::translate.load('sbi.cockpit.style.fontSize.hint')}}</div>
			</md-input-container>
			<md-input-container flex class="md-block"> 
				<label>{{translate.load('sbi.cockpit.style.borders.color')}}</label>
				<color-picker options="borderColorOptions" ng-model="ngModel.border['border-color']"></color-picker>
			</md-input-container> 
		</div>
		<div layout="row">
			<md-input-container class="md-block" flex >
				<label>Border radius top left</label>
				<input ng-model="ngModel.border['border-top-left-radius']" type="text" ng-disabled="!ngModel.borders"/>
				<div class="hint">{{::translate.load('sbi.cockpit.style.radius.hint')}}</div>
			</md-input-container>
			<md-input-container class="md-block" flex >
				<label>Border radius top right</label>
				<input ng-model="ngModel.border['border-top-right-radius']" type="text" ng-disabled="!ngModel.borders"/>
				<div class="hint">{{::translate.load('sbi.cockpit.style.radius.hint')}}</div>
			</md-input-container>
			<md-input-container class="md-block" flex >
				<label>Border radius bottom left</label>
				<input ng-model="ngModel.border['border-bottom-left-radius']" type="text" ng-disabled="!ngModel.borders"/>
				<div class="hint">{{::translate.load('sbi.cockpit.style.radius.hint')}}</div>
			</md-input-container>
			<md-input-container class="md-block" flex >
				<label>Border radius bottom right</label>
				<input ng-model="ngModel.border['border-bottom-right-radius']" type="text" ng-disabled="!ngModel.borders"/>
				<div class="hint">{{::translate.load('sbi.cockpit.style.radius.hint')}}</div>
			</md-input-container>
		</div>
		
	</md-card-content>
</md-card>

<md-card>
	<md-toolbar class="ternaryToolbar" >
		<div class="md-toolbar-tools" layout="row">
			<md-switch ng-model="ngModel.padding.enabled">{{::translate.load("sbi.cockpit.style.padding")}}</md-switch>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="resetPaddingStyle()" ng-if="isWidget && (ngModel.padding!=cockpitStyle.padding || !angular.equals(ngModel.padding,cockpitStyle.padding))">
				<md-icon md-font-icon="fa fa-eraser"  ></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-card-content layout="column">
		<div layout="row" layout-align="start center">
			<md-button class="md-icon-button md-secondary" ng-if="!ngModel.padding || !ngModel.padding.unlinked" ng-click="linkPaddings(true)" ng-disabled="!ngModel.padding.enabled">
				<md-icon md-font-icon="fa fa-unlink"></md-icon>
				<md-tooltip md-delay="500">{{::translate.load("sbi.cockpit.style.padding.unlinkall")}}</md-tooltip>
			</md-button>
			<md-button class="md-icon-button md-secondary" ng-if="ngModel.padding.unlinked" ng-click="linkPaddings(false)" ng-disabled="!ngModel.padding.enabled">
				<md-icon md-font-icon="fa fa-link"></md-icon>
				<md-tooltip md-delay="500">{{::translate.load("sbi.cockpit.style.padding.linkall")}}</md-tooltip>
			</md-button>
			<md-input-container class="md-block" flex-xs="100" flex="25" ng-if="!ngModel.padding.unlinked">
				<label>{{::translate.load("sbi.cockpit.style.padding")}}</label>
				<input ng-model="ngModel.padding['padding-left']" type="text" ng-disabled="!ngModel.padding.enabled" ng-change="checkPaddingLink('padding-left')"/>
				<div class="hint">{{::translate.load('sbi.cockpit.style.radius.hint')}}</div>
			</md-input-container>
			<md-input-container class="md-block" flex ng-if="ngModel.padding.unlinked">
				<label>{{::translate.load("sbi.cockpit.style.padding.left")}}</label>
				<input ng-model="ngModel.padding['padding-left']" type="text" ng-disabled="!ngModel.padding.enabled"/>
				<div class="hint">{{::translate.load('sbi.cockpit.style.radius.hint')}}</div>
			</md-input-container>
			<md-input-container class="md-block" flex ng-if="ngModel.padding.unlinked">
				<label>{{::translate.load("sbi.cockpit.style.padding.top")}}</label>
				<input ng-model="ngModel.padding['padding-top']" type="text" ng-disabled="!ngModel.padding.enabled"/>
				<div class="hint">{{::translate.load('sbi.cockpit.style.radius.hint')}}</div>
			</md-input-container>
			<md-input-container class="md-block" flex ng-if="ngModel.padding.unlinked">
				<label>{{::translate.load("sbi.cockpit.style.padding.right")}}</label>
				<input ng-model="ngModel.padding['padding-right']" type="text" ng-disabled="!ngModel.padding.enabled"/>
				<div class="hint">{{::translate.load('sbi.cockpit.style.radius.hint')}}</div>
			</md-input-container>
			<md-input-container class="md-block" flex ng-if="ngModel.padding.unlinked">
				<label>{{::translate.load("sbi.cockpit.style.padding.bottom")}}</label>
				<input ng-model="ngModel.padding['padding-bottom']" type="text" ng-disabled="!ngModel.padding.enabled"/>
				<div class="hint">{{::translate.load('sbi.cockpit.style.radius.hint')}}</div>
			</md-input-container>
		</div>
		
	</md-card-content>
</md-card>

<md-card>
	<md-toolbar class="ternaryToolbar" >
		<div class="md-toolbar-tools" layout="row">
			<h2>{{::translate.load("sbi.cockpit.style.options.other")}}</h2>
			<span flex></span>
		</div>
	</md-toolbar>
	<md-card-content >
		<div layout="row" layout-align="start center">
		<md-switch ng-model="ngModel.shadows" flex="15">{{::translate.load("sbi.cockpit.style.shadows")}}</md-switch>
			<md-input-container class="md-block" flex="30">
				<label>{{::translate.load("sbi.cockpit.style.shadows.size")}}</label>
					<md-select ng-model="ngModel.shadow['box-shadow']" ng-disabled="!ngModel.shadows">
				<md-option ng-repeat="bs in boxShadow" ng-value="bs.value">{{bs.label}}</md-option>
				</md-select>
			</md-input-container>
		</div>
		<md-input-container flex class="md-block"> 
			<label>{{::translate.load('sbi.cockpit.style.backgroundcolor')}}</label> 
			<div layout="row">
				<color-picker options="{format:'rgb'}" ng-model="ngModel.backgroundColor" flex style="position:relative"></color-picker> 
				<md-button class="md-icon-button" ng-if="isWidget && (ngModel.backgroundColor!=cockpitStyle.backgroundColor || !angular.equals(ngModel.backgroundColor,cockpitStyle.backgroundColor))" ng-click="resetBackgroundStyle()">
					<md-icon md-font-icon="fa fa-eraser"  ></md-icon>
				</md-button>
			</div>
			
		</md-input-container> 
		<md-switch ng-if="screenAvailable() && isUndefined(ngModel.showScreenshot)" ng-model="cockpitModule_template.configuration.showScreenshot" ng-click="changeShowScreenshot()">{{::translate.load("sbi.cockpit.style.options.enablescreenshot")}}</md-switch>
		<md-switch ng-if="screenAvailable() && !isUndefined(ngModel.showScreenshot)" ng-model="ngModel.showScreenshot">{{::translate.load("sbi.cockpit.style.options.enablescreenshot")}}</md-switch>
		
		<md-switch ng-model="ngModel.showExcelExport" >Enable show excel export(when available)</md-switch>
	</md-card-content>
</md-card>