<md-card>
	<md-toolbar class="ternaryToolbar" >
		<div class="md-toolbar-tools" layout="row">
			<md-switch ng-model="ngModel.titles" ng-click="toggleTitle()">{{translate.load("sbi.cockpit.style.titles")}}</md-switch>
			<span flex></span>
			<md-button ng-click="resetTitlesStyle()" class="md-icon-button" ng-if="isWidget && (ngModel.titles!=cockpitStyle.titles || ngModel.headerHeight || !angular.equals(ngModel.title,cockpitStyle.title))" >
				<md-tooltip>Clear title styles</md-tooltip>
				<md-icon md-font-icon="fa fa-eraser" ></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-card-content layout="column" layout-align="start stretch">
			<div layout="row">
				<md-input-container class="md-block" flex>
					<label>{{::translate.load("sbi.cockpit.style.title.text")}}</label>
					<input ng-model="ngModel.title.label" type="text" ng-disabled="!ngModel.titles">
				</md-input-container>
				<md-input-container class="md-block" flex>
					<label>Horizontal alignment</label>
					<md-select ng-model="ngModel.title.font['text-align']" ng-disabled="!ngModel.titles">
						<md-option ng-repeat="fs in cockpitModule_generalOptions.textAlign" ng-value="fs.value">{{fs.label}}</md-option>
					</md-select>
				</md-input-container>
			</div>
			<div layout="row">
				<md-input-container class="md-block" flex>
					<label>{{::translate.load("sbi.cockpit.style.font.family")}}</label>
					<md-select ng-model="ngModel.title.font['font-family']" ng-disabled="!ngModel.titles">
						<md-option ng-repeat="fs in cockpitModule_generalOptions.fontType" ng-value="fs.value">{{fs.label}}</md-option>
					</md-select>
				</md-input-container>
				<md-input-container class="md-block" flex>
					<label>{{::translate.load("sbi.cockpit.style.titles.font.size")}}</label>
					<md-select ng-model="ngModel.title.font['font-size']" ng-disabled="!ngModel.titles">
						<md-option ng-repeat="fs in cockpitModule_generalOptions.fontSizeDimension" ng-value="fs.value">{{fs.label}}</md-option>
					</md-select>
				</md-input-container>
				<md-input-container class="md-block" flex>
					<label>{{::translate.load("sbi.cockpit.style.titles.font.weight")}}</label>
					<md-select ng-model="ngModel.title.font['font-weight']" ng-disabled="!ngModel.titles">
						<md-option ng-repeat="fw in cockpitModule_generalOptions.fontWeight" ng-value="fw.value">{{fw.label}}</md-option>
					</md-select>
				</md-input-container>
				
			</div>
			<div layout="row">
				<md-input-container class="md-block" flex>
					<label>{{::translate.load("sbi.cockpit.style.titles.font.headerheight")}} (px)</label>
					<input ng-model="ngModel.title.height" type="number" min="0" ng-disabled="!ngModel.titles">
				</md-input-container>
				<md-input-container class="md-block" flex>
					<label>{{::translate.load("sbi.cockpit.style.titles.font.color")}}</label>
					<color-picker options="colorPickerOptions" ng-model="ngModel.title.font['color']"></color-picker> 
				</md-input-container>
				<md-input-container class="md-block" flex>
					<label>{{::translate.load("sbi.cockpit.style.titles.background.color")}}</label>
					<color-picker options="colorPickerOptions" ng-model="ngModel.title['background-color']"></color-picker> 
				</md-input-container>
			</div>
	</md-card-content>
</md-card>

<md-card>
	<md-toolbar class="ternaryToolbar" >
		<div class="md-toolbar-tools" layout="row">
			<md-switch ng-model="ngModel.borders">{{translate.load("sbi.cockpit.style.borders")}}</md-switch>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="resetBordersStyle()" ng-if="isWidget && (ngModel.borders!=cockpitStyle.borders || !angular.equals(ngModel.border,cockpitStyle.border))">
				<md-icon md-font-icon="fa fa-eraser"  ></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-card-content layout="column">
		<div layout="row">
			<md-input-container class="md-block" flex >
				<label>{{translate.load("sbi.cockpit.style.borders.style")}}</label>
				<md-select ng-model="ngModel.border['border-style']" ng-disabled="!ngModel.borders">
					<md-option ng-repeat=" bsize in bordersSize" ng-value="bsize.value">{{bsize.label}} <span ng-class="bsize.exampleClass"></span></md-option>
				</md-select>
			</md-input-container>
			<md-input-container class="md-block" flex>
				<label>{{translate.load("sbi.cockpit.style.borders.thickness")}}</label>
				<md-select ng-model="ngModel.border['border-width']" ng-disabled="!ngModel.borders">
					<md-option ng-repeat="bwidth in bordersWidth" ng-value="bwidth.value">{{bwidth.label}}</md-option>
				</md-select>	
			</md-input-container>
			<md-input-container flex class="md-block"> 
				<label>{{translate.load('sbi.cockpit.style.borders.color')}}</label>
				<color-picker options="borderColorOptions" ng-model="ngModel.border['border-color']"></color-picker>
			</md-input-container> 
		</div>
		<div layout="row">
			<md-input-container class="md-block" flex >
				<label>Border radius top left</label>
				<input ng-model="ngModel.border['border-top-left-radius']" type="text" ng-disabled="!ngModel.borders"/>
			</md-input-container>
			<md-input-container class="md-block" flex >
				<label>Border radius top right</label>
				<input ng-model="ngModel.border['border-top-right-radius']" type="text" ng-disabled="!ngModel.borders"/>
			</md-input-container>
			<md-input-container class="md-block" flex >
				<label>Border radius bottom left</label>
				<input ng-model="ngModel.border['border-bottom-left-radius']" type="text" ng-disabled="!ngModel.borders"/>
			</md-input-container>
			<md-input-container class="md-block" flex >
				<label>Border radius bottom right</label>
				<input ng-model="ngModel.border['border-bottom-right-radius']" type="text" ng-disabled="!ngModel.borders"/>
			</md-input-container>
		</div>
		
	</md-card-content>
</md-card>

<md-card>
	<md-toolbar class="ternaryToolbar" >
		<div class="md-toolbar-tools" layout="row">
			<md-switch ng-model="ngModel.shadows">{{::translate.load("sbi.cockpit.style.shadows")}}</md-switch>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="resetShadowsStyle()" ng-if="isWidget && (ngModel.shadows!=cockpitStyle.shadows || !angular.equals(ngModel.shadow,cockpitStyle.shadow))">
				<md-icon md-font-icon="fa fa-eraser"  ></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-card-content layout="row" layout-align="space-around center">
		<md-input-container class="md-block" flex>
			<label>{{translate.load("sbi.cockpit.style.shadows.size")}}</label>
				<md-select ng-model="ngModel.shadow['box-shadow']" ng-disabled="!ngModel.shadows">
			<md-option ng-repeat="bs in boxShadow" ng-value="bs.value">{{bs.label}}</md-option>
			</md-select>
		</md-input-container>
	</md-card-content>
</md-card>


<md-card>
	<md-toolbar class="ternaryToolbar" >
		<div class="md-toolbar-tools" layout="row">
			<h2>{{translate.load("sbi.cockpit.style.backgroundcolor")}}</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-if="isWidget && (ngModel.backgroundColor!=cockpitStyle.backgroundColor || !angular.equals(ngModel.backgroundColor,cockpitStyle.backgroundColor))" ng-click="resetBackgroundStyle()">
				<md-icon md-font-icon="fa fa-eraser"  ></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-card-content layout="row" layout-align="space-around center">
		
		<md-input-container flex class="md-block"> 
			<label>{{translate.load('sbi.cockpit.style.backgroundcolor')}}</label> 
			<color-picker options="{format:'rgb'}" ng-model="ngModel.backgroundColor"></color-picker> 
		</md-input-container> 
		
	</md-card-content>
</md-card>