<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
<Appenders>
 <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%c.%M: %m%n" />
</Console>
</Appenders>
    <Loggers>
  <Root level="DEBUG">
            <AppenderRef ref="CONSOLE"/>
        </Root>
    </Loggers>
</Configuration>