<md-card   class="flexCard customTableWidgetConfiguration" >
	<md-card-content flex layout="column" class="noPadding">
	    <md-toolbar> 
	      <div class="md-toolbar-tools">
	        <h2>{{::translate.format(translate.load('sbi.cockpit.widget.configuration'),translate.load('sbi.cockpit.widget.table'))}}</h2>
	        <span flex></span>
	      </div>
	    </md-toolbar>
	    <md-content flex layout="column">
			<md-tabs flex md-border-bottom>
				<md-tab label="{{::translate.load('sbi.cockpit.widget.table.columns')}}">
				
					<md-card>
				     	<md-card-content layout="row" layout-align="space-around center">
				     		<dataset-selector flex ng-model=newModel.dataset.dsId on-change="changeDS(dsId);"></dataset-selector>  	
						   	<md-input-container flex class="md-block"> 
								<md-switch ng-model="newModel.settings.pagination.enabled" aria-label="Fixed rows per page" layout-align="center center">
									 Pagination
								</md-switch>
						    </md-input-container>
							<md-input-container flex class="md-block"> 
								<label>{{translate.load('sbi.cockpit.widgets.table.tabledesignerpanel.tableoptions.maxrowsnumber')}}</label>
									<input class="input_class" ng-model="newModel.settings.pagination.itemsNumber" type="number" min="1" ng-disabled="!newModel.settings.pagination.enabled">
							</md-input-container>
							<md-input-container flex class="md-block"> 
								<md-switch ng-model="newModel.settings.pagination.frontEnd" aria-label="Frontend pagination" layout-align="center center"
										ng-disabled="!newModel.settings.pagination.enabled">
									 {{translate.load('sbi.cockpit.widgets.table.tabledesignerpanel.tableoptions.frontendpagination')}}
								</md-switch>
						     </md-input-container>
						</md-card-content>
					</md-card>
					
					<md-card>
						<md-card-content class="noPadding" layout="column">
						
							<md-subheader class="noPadding" style="margin-bottom:8px;">
								<div layout="row" layout-align="start center" style="height:48px; padding-left:8px">
									<span>{{translate.load('sbi.cockpit.widgets.table.tabledesignerpanel.tableoptions.tablecolumns')}}</span>
									<span flex></span>
									<md-button ng-click="openColumnGroups()">Manage column groups</md-button>
									<md-button ng-click="openListColumn()">{{translate.load('sbi.cockpit.widgets.table.tabledesignerpanel.tableoptions.addcolumn')}} </md-button>
					                <calculated-field ng-model="newModel" additional-info="datasetAdditionalInfos"></calculated-field>
					                <catalog-function ng-model="newModel" additional-info="datasetAdditionalInfos"></catalog-function>
				                </div>
							</md-subheader>
							<div layout="row" layout-margin>
						        <md-input-container flex="40" class="md-block" ng-show="newModel.content.columnSelectedOfDataset.length>0">
					      			<label>{{translate.load("sbi.cockpit.widgets.table.modalselectioncolumn");}}</label>
					         		<md-select md-option-empty ng-model="newModel.settings.modalSelectionColumn">
					         			<md-option md-option-empty ng-value=""></md-option>
					          			<md-option ng-repeat="modalcolumn in newModel.content.columnSelectedOfDataset" ng-value="modalcolumn.alias">
					               			{{modalcolumn.alias}}
					          			</md-option>
					      			</md-select>
							    </md-input-container>
							    <md-input-container flex="40" class="md-block">
					       			<label>{{translate.load("sbi.cockpit.widgets.table.sorting.column");}}</label>
					          		<md-select ng-model="newModel.settings.sortingColumn" multiple="false">
					          			<md-option></md-option>
					           			<md-option ng-repeat="sortingColumn in newModel.content.columnSelectedOfDataset" ng-value="sortingColumn.name">
					                			{{sortingColumn.aliasToShow}}
					           			</md-option>
					       			</md-select>
							    </md-input-container>
							    <md-input-container flex="20" class="md-block">
					       			<label>{{translate.load("sbi.cockpit.widgets.table.sorting.order");}}</label>
					          		<md-select ng-model="newModel.settings.sortingOrder" ng-disabled="!newModel.settings.sortingColumn || newModel.settings.sortingColumn==''">
					           			<md-option value="ASC">{{translate.load("sbi.cockpit.widgets.table.sorting.asc");}}</md-option>
					          			<md-option value="DESC">{{translate.load("sbi.cockpit.widgets.table.sorting.desc");}}</md-option>
					       			</md-select>
							    </md-input-container>
							</div>
							
							<!-- COLUMNS DEFINITION TABLE -->
				   			<div ng-show="newModel.content.columnSelectedOfDataset.length>0" ag-grid="columnsGrid" class="ag-theme-balham ag-theme-knowage ag-theme-knowage-secondary" style="padding:8px;"></div>
				   			
				   			<!-- SUMMARY ROWS DEFINITION -->
				   			<md-subheader class="noPadding">
				   			 	<div layout="row" layout-align="start center" style="height:48px;padding-left:16px">
		   							<md-switch ng-model="newModel.settings.summary.enabled"></md-switch> <span layout-padding>{{::translate.load('sbi.cockpit.widgets.table.tabledesignerpanel.tableoptions.summaryrow')}}</span>
		   							<span flex></span>
									<md-button ng-click="addSummaryRow()" ng-disabled="!newModel.settings.summary.enabled">
										{{::translate.load('sbi.cockpit.widget.table.summary.add')}}
										<md-tooltip md-delay="1000">{{::translate.load('sbi.cockpit.widget.table.summary.addtooltip')}}</md-tooltip>
									</md-button>
		   						</div>
							</md-subheader>
							<div ng-if="newModel.settings.summary.enabled && newModel.settings.summary && newModel.settings.summary.list.length > 0" layout="column">
								<div layout="row" ng-if="newModel.settings.summary.style.pinnedOnly && showNoPinnedColumnWarning" layout-align="center center">
									<div class="kn-warning" flex="60">{{::translate.load('sbi.cockpit.widget.table.summary.noPinnedColumnsWarning')}}</div>
								</div>
								<div ng-repeat="summaryRow in newModel.settings.summary.list track by $index" layout="row" style="padding:8px;" layout-align="start center">
									<md-input-container flex="50" class="md-block">
					       				<label>{{::translate.load('sbi.generic.label')}}</label>
			          					<input type="text" ng-model="summaryRow.label"/>
							    	</md-input-container>
							    	<md-input-container  class="md-block flex" ng-if="$first">
							    		<label>{{::translate.load('sbi.cockpit.widgets.table.column.summaryAggregation')}}</label>
			          					<input disabled ng-value="translate.load('sbi.cockpit.widgets.table.column.summaryDefaultAggregation')"/>				       				
							    	</md-input-container>
									<md-input-container flex class="md-block" ng-if="!$first">
					       				<label>{{::translate.load('sbi.cockpit.widgets.table.column.summaryAggregation')}}</label>
			          					<md-select ng-model="summaryRow.aggregation">
			          						<md-option ng-repeat="func in availableSummaryAggregations" ng-value="func">{{func}}</md-option>
				       					</md-select>
							    	</md-input-container>
							    	<md-checkbox layout-align="space-around center" ng-model="newModel.settings.summary.style.pinnedOnly" class="md-block" ng-if="$first">
										{{::translate.load('sbi.cockpit.table.summary.pinnedonly')}}
									</md-checkbox>
							    	<md-button class="md-icon-button" ng-click="removeSummaryRow($index)" ng-if="!$first">
							    		<md-icon md-font-icon="fa fa-trash"></md-icon>
							    	</md-button>
								</div>
							</div>
							
							
				     	</md-card-content>
				    </md-card>
				</md-tab>
		        <md-tab label="{{translate.load('sbi.cockpit.style')}}">
		        
		        	<md-card>
						<md-toolbar class="ternaryToolbar" >
							<div class="md-toolbar-tools" layout="row">
								<md-switch ng-model="newModel.style.th.enabled" ng-click="toggleTh()" ng-init="newModel.style.th.enabled = initTh()">Header</md-switch>
								<span flex></span>
							</div>
						</md-toolbar>
						<md-card-content>
						<div flex layout=column >
							<div flex layout="row" >
								<div layout="row" flex layout-align="start center">
									<md-checkbox ng-disabled="!newModel.style.th.enabled" ng-model="newModel.style.th.multiline" class="md-block">
										{{::translate.load('sbi.cockpit.table.multiline')}}
									</md-checkbox>
								</div>
								<md-input-container flex class="md-block">
									<label>Header height</label>
									<input ng-model="newModel.style.th.height" ng-disabled="!newModel.style.th.enabled" type="number"/>
									<div class="hint">Header height in px (default is 25px)</div>
								</md-input-container>
								<md-input-container flex class="md-block">
									<label>{{::translate.load('sbi.cockpit.table.fontfamily')}}</label>
									<md-select aria-label="aria-label" ng-model="newModel.style.th['font-family']" ng-disabled="!newModel.style.th.enabled">
										<md-option ng-repeat="fam in cockpitModule_generalOptions.fontFamily" value="{{fam.value}}"><span ng-style="{'font-family':fam.value}">{{fam.label}}</span></md-option>
									</md-select>
								</md-input-container>
								<md-input-container flex class="md-block" >
									<label>{{::translate.load("sbi.cockpit.style.titles.font.size")}}</label>
									<input ng-model="newModel.style.th['font-size']" ng-disabled="!newModel.style.th.enabled" type="text"/>
									<div class="hint">{{::translate.load('sbi.cockpit.style.fontSize.hint')}}</div>
								</md-input-container>
								<md-input-container flex class="md-block">
									<label>{{::translate.load('sbi.cockpit.table.fontweight')}}</label>
									<md-select aria-label="aria-label" ng-model="newModel.style.th['font-weight']" ng-disabled="!newModel.style.th.enabled">
										<md-option ng-repeat="weight in cockpitModule_generalOptions.fontWeight" value="{{weight.value}}"><span ng-style="{'font-weight':weight.value}">{{weight.label}}</span></md-option>
									</md-select>
								</md-input-container>
								
								
							</div>
							<div flex layout=column >
								<div flex layout="row" >
									<md-input-container flex class="md-block">
										<label>{{::translate.load('sbi.cockpit.style.font.style')}}</label>
										<md-select aria-label="aria-label" ng-model="newModel.style.th['font-style']" ng-disabled="!newModel.style.th.enabled">
											<md-option ng-repeat="fst in cockpitModule_generalOptions.fontStyle" ng-value="fst.value"><span ng-style="{'font-style':fst.value}">{{fst.label}}</span></md-option>
										</md-select>
									</md-input-container>
									<md-input-container flex class="md-block">
										<label>{{::translate.load('sbi.cockpit.table.alignment')}}</label>
										<md-select aria-label="aria-label" ng-model="newModel.style.th['justify-content']" ng-disabled="!newModel.style.th.enabled">
											<md-option ng-repeat="fjc in cockpitModule_generalOptions.flexJustifyContent" ng-value="fjc.value">{{fjc.label}}</md-option>
										</md-select>
									</md-input-container>
									<md-input-container flex class="md-block">
										<label>{{::translate.load('sbi.cockpit.table.fontcolor')}}</label>
										<color-picker options="colorPickerPropertyTh" ng-model="newModel.style.th.color"/>
									</md-input-container>
									<md-input-container flex class="md-block">
										<label>{{::translate.load('sbi.cockpit.table.backgroundcolor')}}</label>
										<color-picker options="colorPickerPropertyTh" ng-model="newModel.style.th['background-color']"/>
									</md-input-container>
									
								</div>
								
							</div>
						</div>
					</md-card-content>

					</md-card>
					
					<md-card>
					<md-toolbar class="ternaryToolbar" >
						<div class="md-toolbar-tools" layout="row">
							<h2>{{::translate.load('sbi.cockpit.widget.table.rows')}}</h2>
						</div>
					</md-toolbar>
					<md-card-content class="noPadding">
						<div flex layout="column" ng-cloak>
							<div layout="row" flex style="padding:0 16px">
								<div layout="row" layout-align="start center" flex="20">
									<md-checkbox ng-model="newModel.settings.multiselectable" class="md-block"  ng-click="enableMultiselect()">
										{{::translate.load('sbi.cockpit.table.rows.multiselectable')}}
									</md-checkbox>
								</div>
								<md-input-container flex class="md-block">
									<label>{{::translate.load('sbi.cockpit.table.multiselectioncolor')}}</label>
									<color-picker options="colorPickerMultiselection" ng-model="newModel.settings.multiselectablecolor"/>
								</md-input-container>
							</div>
							<div layout="row" flex style="padding:0 16px">
								<!-- >div flex=20 layout="row" layout-align="start center">
									<md-checkbox ng-model="newModel.settings.autoRowsHeight" class="md-block" aria-label="Auto rows height">
										{{::translate.load('sbi.cockpit.table.rows.autoAdapt')}}
									</md-checkbox>
								</div-->
								<div flex=20 layout="row" layout-align="start center">
									<md-checkbox ng-model="newModel.settings.indexColumn" class="md-block" aria-label="index column">
										{{::translate.load('sbi.cockpit.table.settings.showindexcolumn')}}
									</md-checkbox>
								</div>
								<div flex layout="row" >
									<md-input-container flex class="md-block">
										<label>{{::translate.load('sbi.cockpit.table.rows.height')}}</label>
										<input class="input_class" ng-model="newModel.style.tr.height" type="number" min="0"/>
									</md-input-container>
								</div>
							</div>
							<div flex layout="row" style="padding:0 16px">
								<div flex="20" layout="row" layout-align="start center">
									<md-checkbox layout-align="space-around center" ng-model="newModel.settings.alternateRows.enabled" class="md-block"
											aria-label="enable alternate rows" ng-click="enableAlternate()">
										{{::translate.load('sbi.cockpit.table.alternate')}}
									</md-checkbox>
								</div>
								<md-input-container flex class="md-block">
									<label>{{::translate.load('sbi.cockpit.table.alternate.evenrows')}}</label>
									<color-picker options="colorPickerPropertyEvenOddRows" ng-model="newModel.settings.alternateRows.evenRowsColor"/>
								</md-input-container>

								<md-input-container flex class="md-block">
									<label>{{::translate.load('sbi.cockpit.table.alternate.oddrows')}}</label>
									<color-picker options="colorPickerPropertyEvenOddRows" ng-model="newModel.settings.alternateRows.oddRowsColor"/>
								</md-input-container>
							</div>
							<div flex layout="row" style="padding:0 16px">
								<div flex=20 layout="row" layout-align="start center">
									<md-checkbox ng-model="newModel.settings.norows.hide" class="md-block" aria-label="Enable nodata message">
										{{::translate.load('sbi.cockpit.widgets.table.nodata.label')}}
									</md-checkbox>
								</div>
								<md-input-container flex class="md-block">
									<label>{{::translate.load('sbi.cockpit.widgets.table.nodata.message')}}</label>
									<input class="input_class" ng-disabled="newModel.settings.norows.hide" ng-model="newModel.settings.norows.message" />
								</md-input-container>
							</div>
						</div>
						<md-subheader class="noPadding">
				   			 	<div layout="row" layout-align="start center" style="height:48px;padding-left:16px">
		   							<md-switch ng-model="newModel.settings.rowThresholds.enabled"></md-switch> <span layout-padding>Row Style Conditions</span>
		   							<span flex></span>
									<md-button ng-click="addRowThreshold()" ng-disabled="!newModel.settings.rowThresholds.enabled">
										{{::translate.load('sbi.cockpit.widget.table.summary.add')}}
										<md-tooltip md-delay="1000">{{::translate.load('sbi.cockpit.widget.table.summary.addtooltip')}}</md-tooltip>
									</md-button>
		   						</div>
							</md-subheader>
							<div ng-if="newModel.settings.rowThresholds.enabled && newModel.settings.rowThresholds.list.length > 0" layout="column">
								<div ng-repeat="threshold in newModel.settings.rowThresholds.list track by $index" layout="row" style="padding:0 8px;" layout-align="start center">
									<md-button class="md-icon-button" ng-click="setRowThresholdFormula($index)">
							    		<md-icon ng-class="{'active':hasFormula(threshold)}" md-font-icon="fa fa-code"></md-icon>
							    		<md-tooltip md-delay="500">Use advanced formula</md-tooltip>
							    	</md-button>
							    	
							    	<md-input-container flex class="md-block" ng-if="hasFormula(threshold)">
					       				<label>Formula</label>
					       				<textarea ng-model="threshold.formula" rows="1"></textarea>
					       				<div class="hint">Use javascript syntax and placeholders like $F{...}, $P{...} and $V{...} </div>
							    	</md-input-container>
							    	
							    	<div flex layout="row" ng-if="!hasFormula(threshold)">
										<md-input-container flex class="md-block">
						       				<label>Column</label>
						       				<md-select ng-model="threshold.column">
				          						<md-option ng-repeat="column in newModel.content.columnSelectedOfDataset" ng-value="column.name">{{column.alias}}</md-option>
					       					</md-select>
								    	</md-input-container>
								    	<md-input-container flex class="md-block">
						       				<label>Condition</label>
						       				<md-select ng-model="threshold.condition">
				          						<md-option ng-repeat="func in rowThresholdsConditions" ng-value="func">{{func}}</md-option>
					       					</md-select>
								    	</md-input-container>
								    	<md-input-container flex class="md-block">
						       				<label>Compare value type</label>
						       				<md-select ng-model="threshold.compareValueType">
				          						<md-option ng-repeat="func in cockpitModule_generalOptions.compareValueTypes" ng-value="func.value">{{func.label}}</md-option>
					       					</md-select>
								    	</md-input-container>
								    	
								    	<md-input-container flex class="md-block" ng-if="threshold.compareValueType == 'variable'">
						       				<label>Compare value</label>
						       				<md-select ng-model="threshold.compareValue">
				          						<md-option ng-repeat="variable in cockpitModule_template.configuration.variables" ng-value="variable.name">{{variable.name}}</md-option>
					       					</md-select>
				       					</md-input-container>
				       					
				       					<md-input-container flex class="md-block" ng-if="threshold.compareValueType == 'variable' && isObject(cockpitModule_properties.VARIABLES[threshold.compareValue])">
						       				<label>Compare value key</label>
						       				<md-select ng-model="threshold.compareValueKey">
				          						<md-option ng-repeat="(key, value) in cockpitModule_properties.VARIABLES[threshold.compareValue]" ng-value="key">{{key}}</md-option>
					       					</md-select>
				       					</md-input-container>
					       					
				       					<md-input-container flex class="md-block" ng-if="threshold.compareValueType == 'parameter'">
						       				<label>Compare value</label>
					       					<md-select ng-model="threshold.compareValue">
				          						<md-option ng-repeat="(key,value) in cockpitModule_analyticalDrivers" ng-value="key">{{key}}</md-option>
					       					</md-select>
								    	</md-input-container>
								    
								    	<md-input-container flex class="md-block" ng-if="!threshold.compareValueType || threshold.compareValueType == 'static'"">
						       				<label>Compare value</label>
						       				<input type="text" ng-model="threshold.compareValue" />
								    	</md-input-container>
							    	</div>
							    	<div flex="15" class="exampleRowThreshold" ng-style="threshold.style">
							    		example
							    	</div>
							    	
							    	<md-button class="md-icon-button" ng-click="setRowThresholdStyle($index)">
							    		<md-icon md-font-icon="fa fa-paint-brush"></md-icon>
							    	</md-button>
							    	
							    	<md-button class="md-icon-button" ng-click="removeRowThreshold($index)">
							    		<md-icon md-font-icon="fa fa-trash"></md-icon>
							    	</md-button>
								</div>
							</div>
					</md-card-content>
				</md-card>
					
					
		        	<md-card>
					<md-toolbar class="ternaryToolbar" >
						<div class="md-toolbar-tools" layout="row">
							{{::translate.load('sbi.cockpit.widget.table.summary')}}
						</div>
					</md-toolbar>
					
					<md-card-content >
						<div flex layout=column >
							<div flex layout="row" >
								<md-input-container flex class="md-block">
									<label>{{::translate.load('sbi.cockpit.table.fontfamily')}}</label>
									<md-select ng-disabled ="!newModel.settings.summary.enabled" aria-label="aria-label" ng-model="newModel.settings.summary.style['font-family']">
										<md-option ng-repeat="fam in cockpitModule_generalOptions.fontFamily" value="{{fam.value}}"><span ng-style="{'font-family':fam.value}">{{fam.label}}</span></md-option>
									</md-select>
								</md-input-container>
								<md-input-container class="md-block" flex>
								<label>{{::translate.load("sbi.cockpit.style.font.style")}}</label>
								<md-select ng-model="newModel.settings.summary.style['font-style']" ng-disabled="!newModel.settings.summary.enabled">
									<md-option ng-repeat="fst in cockpitModule_generalOptions.fontStyle" ng-value="fst.value"><span ng-style="{'font-style':fst.value}">{{fst.label}}</span></md-option>
								</md-select>
							</md-input-container>
							</div>
							<div flex layout="row" >
								<md-input-container flex class="md-block" >
									<label>{{::translate.load("sbi.cockpit.style.titles.font.size")}}</label>
									<input ng-model="newModel.settings.summary.style['font-size']" ng-disabled="!newModel.settings.summary.enabled" type="text"/>
									<div class="hint">{{::translate.load('sbi.cockpit.style.fontSize.hint')}}</div>
								</md-input-container>
								<md-input-container flex class="md-block">
									<label>{{::translate.load('sbi.cockpit.table.fontweight')}}</label>
									<md-select ng-disabled ="!newModel.settings.summary.enabled" aria-label="aria-label" ng-model="newModel.settings.summary.style['font-weight']">
										<md-option ng-repeat="weight in cockpitModule_generalOptions.fontWeight" value="{{weight.value}}"><span ng-style="{'font-weight':weight.value}">{{weight.label}}</span></md-option>
									</md-select>
								</md-input-container>
								<md-input-container flex class="md-block">
									<label>{{::translate.load('sbi.cockpit.table.fontcolor')}}</label>
									<color-picker options="summaryColorPickerProperty" ng-model="newModel.settings.summary.style['color']"/>
								</md-input-container>
								<md-input-container flex class="md-block">
									<label>{{::translate.load('sbi.cockpit.table.backgroundcolor')}}</label>
									<color-picker options="summaryColorPickerProperty" ng-model="newModel.settings.summary.style['background-color']"/>
								</md-input-container>
							</div>		
						</div>
					</md-card-content>
				</md-card>
		        	<cockpit-style-configurator widget ng-model="newModel.style"></cockpit-style-configurator>
		        	
		        </md-tab>
		        
		        <md-tab label="{{::translate.load('sbi.cockpit.widget.table.cross')}}">
					<cockpit-cross-configurator widget ng-cloak ng-model="newModel.cross"></cockpit-cross-configurator>
				</md-tab>
		     	
		     	 <md-tab label="{{translate.load('sbi.cockpit.widget.table.filters')}}">
		        	<cockpit-filters-configuration ng-model-shared="newModel"></cockpit-filters-configuration>
		        </md-tab>
		        
	      	</md-tabs>
	    </md-content>
    </md-card-content>
    <md-card-actions layout="row"  layout-align="end center">
	    <md-button class="md-raised" ng-click="cancelConfiguration()" >
	     {{translate.load('sbi.generic.cancel')}}
	    </md-button>
	    <md-button class="md-raised md-primary" ng-click="saveConfiguration()"  >
	     {{translate.load('sbi.generic.save')}}
	    </md-button>
    </md-card-actions>
</md-card>