<div flex layout="column" ng-style="ngModel.style"> 
	<md-toolbar class="secondaryToolbar" layout="row" ng-if="showToolbar">
		<h1 flex class="md-toolbar-tools">{{translate.load('sbi.cockpit.selections.title')}}</h1>
		<md-button  class="md-icon-button" ng-click="clearAllSelection()" ng-if="selection.length >0">
			 <md-icon md-font-icon="fa fa-eraser" aria-label="ClearAll"></md-icon>
			 <md-tooltip md-direction="bottom">{{translate.load('sbi.cockpit.selections.clearselections')}}</md-tooltip>
		</md-button>
	</md-toolbar>
		
		<angular-table
			id='selectionTable' ng-model="selection"
			ng-show="selection.length >0"
			columns='columnTableSelection'
			columns-search='["label"]'
			no-pagination=true  speed-menu-option= actionsOfSelectionColumns
			style="min-height:0 !important"
		> </angular-table> 
		<div layout="column" flex  layout-align="center center" ng-if="selection.length ==0" layout-padding>
			<span>{{translate.load('sbi.cockpit.selections.noselections')}}</span>
			<md-button ng-click="saveConfiguration()"  >
	        {{translate.load('sbi.generic.apply')}}
	      </md-button>
		</div>
				       
	<div layout="row" layout-align="end center">
	    <span flex></span>

      <md-button ng-click="saveConfiguration()"  ng-if="selection.length !=0">
        {{translate.load('sbi.generic.apply')}}
      </md-button>

	</div>
</div>

