<!--  <post-iframe layout-column flex ng-show="ngModel.content.datasetLabel"></post-iframe> -->
<md-card class=" flexCard" layout="column" > 
	<md-card-content flex="" layout="column" class="noPadding">
		<md-toolbar class="secondaryToolbar" layout="row">
			<h1 flex class="md-toolbar-tools">List Selections</h1>
			<md-button  flex=10  ng-click="clearAllSelection()" >
				 <md-icon md-font-icon="fa fa-eraser" aria-label="ClearAll"></md-icon>
			</md-button>
		</md-toolbar>
		<angular-table flex 
			id='selectionTable' ng-model="selection"
			columns='columnTableSelection'
			columns-search='["label"]'
			no-pagination=true  speed-menu-option= actionsOfSelectionColumns
		> </angular-table> 
				       
	</md-card-content>
	<md-card-actions layout="row" layout-align="end center">
	    <span flex></span>

      <md-button ng-click="saveConfiguration()"  >
        {{translate.load('sbi.generic.apply')}}
      </md-button>

	</md-card-actions>
</md-card>

