@mixin custom-background-image($url) {
	background: {
		image: url($url) !important;
		repeat: no-repeat;
		size: 70%;
		position: center center;
	}
	filter: grayscale(100%);
	opacity: 0.5;
	&:hover {
		background-color:$ternaryColor;
		opacity: 0.8;
		filter: grayscale(50%);
	}
	&.active {
		opacity: 1;
		outline: none;
		filter: grayscale(0%);
	}
}

@mixin custom-preview-image($url){
	background: {
		image: url($url) !important;
		repeat: no-repeat;
		size: contain;
		position: center center;
	}
	height: 100%;
}

@mixin coolScrollBars($color, $dimensions){
	&::-webkit-scrollbar-track{
		-webkit-box-shadow: inset 0 0 $dimensions rgba(0,0,0,0.3);
		border-radius: 10px;
		background-color: #F5F5F5;
	}

	&::-webkit-scrollbar{
		width: $dimensions;
		height: $dimensions;
		background-color: #F5F5F5;
	}

	&::-webkit-scrollbar-thumb{
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 $dimensions rgba(0,0,0,.3);
		background-color: lighten($color,15%);
	}
}