$baseColor: 		#3b678c;
$headerBackground: $baseColor;
$headerFontWeight: 600;
$lightTextColor:	white;		
$fabPrimaryColor: #c70751;
$fabTop: 10px;
$secondaryColor: #a9c3db;
$inputLineColor: $baseColor;
$inactiveLabelColor: #a9c3db;
$activeLabelColor: $baseColor;
$tabFontWeight: $headerFontWeight;
$toolbarButtonColor: white;
$listBackground: #eceff1;
$listRightBorder: 2px solid gray;
$detailBackground: #f6f6f6;
$tabBackground: white;
$tabPadding: 8px;
$tableFontSize: 16px;
$tableLineSeparator: #c3d4df;
$tableSelectedElementColor: $secondaryColor;

/* Fonts & Icons */
//------------------------
$fabIconSize: 18px ;
$headerFontSize: 15px;