$baseColor: 		#3b678c;
$headerBackground: $baseColor;
$headerFontWeight: 600;
$lightTextColor:	white;		
$fabPrimaryColor: #c70751;
$secondaryColor: #a9c3db;
$inputLineColor: $baseColor;
$inactiveLabelColor: #a9c3db;
$activeLabelColor: $baseColor;
$tabFontWeight: $headerFontWeight;

/* Fonts & Icons */
//------------------------
$fabIconSize: 18px ;
$headerFontSize: 15px;