md-slider.margintop {
	margin-top: 18px;
}

md-slider.visibleValue .md-sign, md-slider.visibleValue .md-sign:after {
	opacity: 1 !important;
	-webkit-transform: translate3d(0, 0, 0) scale(1) !important;
	transform: translate3d(0, 0, 0) scale(1) !important;
}

md-select-menu.md-default-theme md-option[selected], md-select-menu md-option[selected]
	{
	color: rgb(255, 255, 255) !important;
	background-color: #3F51B5;
}

.fa {
	font-family: FontAwesome !important;
}

.no-padding {
	padding: 0px !important;
}

.hidden {
	display: none;
}

geo-legend {
	z-index: 1;
	/* 	position: absolute; */
	/* 	bottom: 0px; */
	/* 	left: 5px; */
}

geo-distance-calculator {
	z-index: 1;
	/* 	position: absolute; */
	/* 	bottom: 0px; */
	/* 	left: 55px; */
}

#geoRigthMenu button#showMenu {
	    border-radius: 0;
    width: 31px;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: -31px;
    color: black;
    padding: 0;
    margin-left: -31px;
    margin-top: 26px;
    height: 33px;
    min-height: 20px;
}

.mapBodyStyle {
	overflow: hidden;
}

#map {
	position: relative;
}

#geoRigthMenu  .md-sidenav-right md-content.contentStyle {
	/* 	background-color: #EBEBEB; */
	height: calc(100% - 30px);
	padding: 0 5;
	min-width: 300px;
}

#geoRigthMenu md-sidenav.md-locked-open {
/* 	width: 400px; */
/* 	min-width: 304px; */
/* 	max-width: 400px; */
}
#geoRigthMenu{
	height: 100%
}

#geoRigthMenu md-sidenav.md-locked-open,#geoRigthMenu .md-sidenav-right .md-toolbar-tools {
    font-size: 13px !important;
}

#geoRigthMenu  .md-sidenav-right>md-content.contentStyle>md-tabs {
	height: 100%;
}

#geoRigthMenu .md-sidenav-right md-toolbar {
	min-height: 23px;
	height: 26px;
}

#geoRigthMenu .md-sidenav-right {
	max-height: 100%;
	height: 100%
}



/* .itemboxGU .expanderIcon { */
/* 	min-height: 30px; */
/* 	position: absolute; */
/* 	top: 0; */
/* 	right: 0; */
/* 	height: 30px; */
/* 	width: 30px; */
/* } */

/* .itemboxGU md-toolbar.categoryToolbar { */
/* 	background-color: white; */
/* 	color: black; */
/* } */

/* .itemboxGU md-toolbar.categoryToolbar button md-icon { */
/* 	color: black; */
/* } */

/* .itemboxGU md-toolbar.categoryToolbar .md-toolbar-tools { */
/* 	height: 100%; */
/* } */

expander-box md-toolbar {
	margin-top: 10px;
}
expander-box md-content md-radio-button, expander-box md-content md-checkbox
	{
	/* 	    margin: 6px 4px 6px 16px; */
	margin: 0px 4px 11px 16px;
}

/* .itemboxGU>md-content { */
/* 	border: 1px solid rgb(63, 81, 181); */
/* } */

geo-legend .legendBox .colorbox {
	height: 18px;
	width: 18px;
	border: 1px solid rgba(0, 0, 0, 0.15);
	margin: 1px;
}

geo-legend .legendBox {
	background-color: white;
	border-radius: 5px;
	padding: 5px;
	max-width: 350px;
}

geo-legend  .legendBox:before {
	border-top: 7px solid white;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	content: "";
	position: absolute;
	bottom: 45px;
	left: 23px;
}

geo-distance-calculator .clearMeasure {
	position: absolute;
	bottom: 25px;
	z-index: 21 !important;
	width: 20px !important;
	height: 20px !important;
	min-height: 20px;
}

geo-distance-calculator .clearMeasure md-icon {
	line-height: 19px;
	margin-left: -1px;
}

geo-distance-calculator md-input-container {
	padding: 3px;
}

geo-distance-calculator .calcBox {
	background-color: white;
	border-radius: 5px;
}

geo-distance-calculator .calcBox:before {
	border-top: 7px solid white;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	content: "";
	position: absolute;
	bottom: 45px;
	margin-left: 20px;
}

geo-distance-calculator .calcBox .measureDisplay {
	margin: 0px;
	text-align: center;
}

.tooltip {
	position: relative;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	color: white;
	padding: 4px 8px;
	opacity: 0.7;
	white-space: nowrap;
}

.tooltip-measure {
	opacity: 1;
	font-weight: bold;
}

.tooltip-static {
	background-color: #ffcc33;
	color: black;
	border: 1px solid white;
}

.tooltip-measure:before, .tooltip-static:before {
	border-top: 6px solid rgba(0, 0, 0, 0.5);
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
	content: "";
	position: absolute;
	bottom: -6px;
	margin-left: -7px;
	left: 50%;
}

.tooltip-static:before {
	border-top-color: #ffcc33;
}

.toolbarBotton {
	min-height: 25px !important;
	height: 28px !important;
	width: 28px !important;
	line-height: 28px !important;
	margin: 0 10px;
	top: 0 !important;
}

.toolbarBotton md-icon {
	margin: -7px 0 0 -3px;
}

.zoomAnimation {
	-webkit-transition: all 0.5s ease-in-out !important;
	-moz-transition: all 0.5s ease-in-out !important;
	-o-transition: all 0.5s ease-in-out !important;
	transition: all 0.5s ease-in-out !important;
}

/* info popup style  */
.ol-popup {
	position: absolute;
	background-color: white;
	-webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
	filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
	padding: 15px;
	padding-right:0px;
	border-radius: 10px;
	border: 1px solid #cccccc;
	bottom: 12px;
	left: -50px;
	min-width: 280px;
}

.ol-popup:after, .ol-popup:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.ol-popup:after {
	border-top-color: white;
	border-width: 10px;
	left: 48px;
	margin-left: -10px;
}

.ol-popup:before {
	border-top-color: #cccccc;
	border-width: 11px;
	left: 48px;
	margin-left: -11px;
}

.ol-popup-closer {
	    position: absolute;
    right: 0;
    top: -7px;
}



.ol-popup-content {
	height: 200px;
	overflow: auto;
}

geo-cross-nav-multiselect .itemboxGU {
	position: absolute;
	top: 100px;
	left: 10px;

	/*
	-webkit-transition: all 0.5s ease-in-out !important;
	-moz-transition: all 0.5s ease-in-out !important;
	-o-transition: all 0.5s ease-in-out !important;
	transition: all 0.5s ease-in-out !important;
	*/
}

geo-cross-nav-multiselect .itemboxGU {
	background-color: #FFF;
	font-size: 15px;
	opacity: 0.8;
}

geo-cross-nav-multiselect .itemboxGU:hover {
	opacity: 1;
}

[md-color-picker] .md-color-picker-input-container .md-color-picker-clear
	{
	display: none;
}

md-tabs.mini-tabs{
	height: 100%;
}


md-tabs.mini-tabs md-tabs-canvas,md-tabs.mini-tabs md-pagination-wrapper{
	height:23px!important;
}
    
md-tabs.mini-tabs md-tab-item{
	  padding: 0 24px;
}

md-tabs.mini-tabs  md-tabs-content-wrapper{
	 top:24px !important;
}