<md-card  layout-fill layout="column" class="flexCard" style="position:absolute;">
	<md-card-content flex layout="column" class="noPadding">
		<md-toolbar class="secondaryToolbar">
			<div class="md-toolbar-tools">
				<h2>{{translate.load("kn.qbe.filters.parameters")}}</h2>
				<span flex></span>
				<md-button class="md-fab md-mini" aria-label="Add new dataset parameter" ng-click="parametersAddItem(); setFormDirty()">
		            <md-icon md-font-icon="fa fa-plus" ></md-icon>
		            <md-tooltip>{{translate.load("kn.qbe.params.add")}}</md-tooltip>
		        </md-button> 					
			</div>
		</md-toolbar>						         
												
		<md-content flex layout="column">
			<div layout="row" layout-align="center center" ng-if="!parameterItems || parameterItems.length == 0">
				<div class="kn-noItems" flex="60">
					{{translate.load("kn.qbe.params.noparameters")}}
				</div>
			</div>
			<md-card ng-if="parameterItems && parameterItems.length > 0">
			<span class="kn-inputError" ng-if="hasDuplicates(parameterItems,'name')">{{translate.load('kn.qbe.params.duplicated')}}</span>
				<md-card-content layout="row" layout-padding>
					<md-button class="md-icon-button angularTableHeaderButton" aria-label="Clear all parameters" 
						ng-click="deleteAllParameters();">
						<md-icon md-font-icon="fa fa-eraser" ></md-icon>
						<md-tooltip>{{translate.load("kn.qbe.params.clear.all.dataset.params")}}</md-tooltip>
					</md-button>					      						
					<angular-table style="min-height:300px"
						id="datasetParametersTable"
						layout-fill
						ng-model="parameterItems"
						columns='parametersColumns'
						scope-functions=paramScopeFunctions
						no-pagination=true
						speed-menu-option="parameterDelete"
						current-page-number=parametersTableLastPage >
					</angular-table>
					
							
				</md-card-content>		   									
			</md-card>
		</md-content>
	</md-card-content>		
	<md-card-actions layout="row" layout-align="start center">
		<span flex></span>
		<md-button ng-click="closeParams()" class="md-raised">
	    {{translate.load("kn.qbe.general.cancel")}}
		</md-button>
		<md-button ng-click="saveParams()" ng-disabled="hasDuplicates(parameterItems,'name')" class="md-primary md-raised">
		{{translate.load("kn.qbe.general.save")}}
		</md-button>
	</md-card-actions>
</md-card>