<md-dialog style="min-width:400px">
   <md-toolbar>
      <div class="md-toolbar-tools">
         <h2>{{::vpCtrl.headerTitle}}</h2>
      </div>
   </md-toolbar>
   <form name="parametersForm" class="wordForm">
      <md-dialog-content layout="column" layout-margin>
         <div layout="row">
            <md-input-container flex>
               <label>{{::vpCtrl.name}}</label> 
               <input name="NAME" ng-model="vpCtrl.newViewpoint.NAME" required type="text" md-maxlength="40" maxlength="40" ng-pattern="vpCtrl.regex.alphanumeric" >
            </md-input-container>
         </div>
         <div layout="row">
            <md-input-container flex>
               <label>{{::vpCtrl.description}}</label>
               <input ng-model="vpCtrl.newViewpoint.DESCRIPTION" required type="text" md-maxlength="160" maxlength="160" ng-pattern="vpCtrl.regex.extendedAlphanumeric">
            </md-input-container>
         </div>
         <div layout="row">
            <md-input-container flex>
               <label>{{::vpCtrl.visibility}}</label>
               <md-select ng-model="vpCtrl.newViewpoint.SCOPE" required >
                  <md-option value="PUBLIC">{{::vpCtrl.publicOpt}}</md-option>
                  <md-option value="PRIVATE">{{::vpCtrl.privateOpt}}</md-option>
               </md-select>
            </md-input-container>
         </div>
      </md-dialog-content>
      <div class="md-actions" layout="row">
         <md-button ng-click="vpCtrl.annulla()" class="md-raised">
            {{::vpCtrl.cancelOpt}} 
         </md-button>
         <md-button ng-click="vpCtrl.submit()" class="md-raised md-primary" 
            ng-disabled="!parametersForm.$valid"  >
            {{::vpCtrl.submitOpt}} 
         </md-button>
      </div>
   </form>
</md-dialog>