<md-dialog id="dialogSendMail" flex layout="column" aria-label="Send mail" ng-cloak 
	md-dynamic-height>
	
	<md-toolbar>
	      <div class="md-toolbar-tools">
	        <h2>{{translate.load("sbi.execution.sendmail.headerTitle")}}</h2>
	        
	      </div>
	    </md-toolbar>
			  	<md-dialog-content class="sticky-container" layout-padding>
					<div layout="row">
						<div flex="100">
							<md-input-container class="md-block">
								<label>{{translate.load("sbi.execution.sendmail.mailto")}}</label> 
								<input ng-model="sendMailCtrl.mail.TO" type="text" >
							</md-input-container>
						</div>
					</div>
					<div layout="row">
						<div flex="100">
							<md-input-container class="md-block">
								<label>{{translate.load("sbi.execution.sendmail.cc")}}</label>
								<input ng-model="sendMailCtrl.mail.CC" type="text" md-maxlength="160" maxlength="160">
							</md-input-container>
						</div>
					</div>
					<div layout="row">
						<div flex="100">
							<md-input-container class="md-block">
								<label>{{translate.load("sbi.execution.sendmail.object")}}</label>
								<input ng-model="sendMailCtrl.mail.OBJECT" type="text" md-maxlength="160" maxlength="160">
							</md-input-container>
						</div>
					</div>
				  	<div class="wysiwygClass" >
						<wysiwyg-edit content="sendMailCtrl.mail.MESSAGE" ng-if="sendMailCtrl.loaded"></wysiwyg-edit>
					</div>	  	
			  		
			  		<!-- blank space to prevent the next component (div) to have margin -->
			  		<div></div>
			  		
			  		<div layout="row">
						<div flex="50">
							<md-input-container class="md-block">
								<label>{{translate.load("sbi.execution.sendmail.login")}}</label>
								<input ng-model="sendMailCtrl.mail.LOGIN" type="text" >
							</md-input-container>
						</div>

						<div flex="50">
							<md-input-container class="md-block">
								<label>{{translate.load("sbi.execution.sendmail.password")}}</label>
								<input ng-model="sendMailCtrl.mail.PASSWORD" type="password" >
							</md-input-container>
						</div>
						</div>
						<div layout="row">

						<div flex="100">
							<md-input-container class="md-block">
								<label>{{translate.load("sbi.execution.sendmail.replayto")}}</label>
								<input ng-model="sendMailCtrl.mail.REPLAYTO" type="text" >
							</md-input-container>
						</div>
					</div>
			  	</md-dialog-content>
			  	
			  	<md-dialog-actions layout="row">
			  		<span flex></span>
				    <md-button ng-click="sendMailCtrl.annulla()" class="md-raised">
				  		{{translate.load("sbi.general.cancel")}}
				    </md-button>
				  	<md-button id="buttonSendMail" class="md-raised" ng-click="sendMailCtrl.submit()" 
				 			ng-disabled="!sendMailCtrl.mail.TO">
				  		{{translate.load("sbi.execution.sendmail.headerTitle")}}
				  	</md-button>
	 	 		</md-dialog-actions>

	<md-dialog-content>
</md-dialog>