#set($dataFields=$data.metaData.fields) ## columns of data table
$datasettransformer.print($data)
#set($dataColumnsMapper={})
#foreach ($dataField in $dataFields) ## conversion column name to internal column name
#if($dataField.class.name == 'java.util.LinkedHashMap')
#set($workAroundNoPrint=$dataColumnsMapper.put($dataField.header.toLowerCase().trim() , $dataField.name))
#end
#end
#set($rows=$data.rows) ## data in table rows
#set($categorieColumnsMapped=$dataColumnsMapper.get($drilldownCategory.toLowerCase().trim()))
	#set($name= "name")
	#set($col= "column")
#if($chart.CHART.VALUES.SERIE.class.name == 'java.util.ArrayList')
#foreach($serie in $chart.CHART.VALUES.SERIE)
	#if($serie.get($name) == $drilldownSerie)
	#set($mainSerieName =$serie.get($col))
	#end
#end
#elseif($chart.CHART.VALUES.SERIE.class.name == 'java.util.LinkedHashMap')
	#if($chart.CHART.VALUES.SERIE.name == $drilldownSerie)
		#set($mainSerie = $chart.CHART.VALUES.SERIE)
		#set($mainSerieName = $mainSerie.column)
	#end
#else
#set($mainSerieName = $drilldownSerie)
#end
#set($serieColumnsMapped=$dataColumnsMapper.get($mainSerieName.toLowerCase()))

{
	name:	'$selectedCategory',
	#if($drilldownCategoryName != '')
	category: '$drilldownCategoryName',
	#else
	category: '$drilldownCategory',
	#end
	serieName:'$drilldownSerie',

	data: [
#foreach($row in $rows)

#set ($serieValue=$row.get($serieColumnsMapped))
#set ($serieName= $row.get($categorieColumnsMapped))
		{
			drilldown: $enableNextDrilldown,
			y: $serieValue,
			name: '$serieName'
		},
#end
	],

}