
@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto/Roboto-Regular-webfont.eot");
    src: url("../fonts/roboto/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/roboto/Roboto-Regular-webfont.ttf") format("truetype"), url("../fonts/roboto/Roboto-Regular-webfont.svg#RobotoRegular") format("svg")
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto/Roboto-Italic-webfont.eot");
    src: url("../fonts/roboto/Roboto-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Italic-webfont.woff") format("woff"), url("../fonts/roboto/Roboto-Italic-webfont.ttf") format("truetype"), url("../fonts/roboto/Roboto-Italic-webfont.svg#RobotoItalic") format("svg");
    font-weight: normal;
    font-style: italic
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto/Roboto-Bold-webfont.eot");
    src: url("../fonts/roboto/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Bold-webfont.woff") format("woff"), url("../fonts/roboto/Roboto-Bold-webfont.ttf") format("truetype"), url("../fonts/roboto/Roboto-Bold-webfont.svg#RobotoBold") format("svg");
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto/Roboto-BoldItalic-webfont.eot");
    src: url("../fonts/roboto/Roboto-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-BoldItalic-webfont.woff") format("woff"), url("../fonts/roboto/Roboto-BoldItalic-webfont.ttf") format("truetype"), url("../fonts/roboto/Roboto-BoldItalic-webfont.svg#RobotoBoldItalic") format("svg");
    font-weight: bold;
    font-style: italic
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto/Roboto-Thin-webfont.eot");
    src: url("../fonts/roboto/Roboto-Thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Thin-webfont.woff") format("woff"), url("../fonts/roboto/Roboto-Thin-webfont.ttf") format("truetype"), url("../fonts/roboto/Roboto-Thin-webfont.svg#RobotoThin") format("svg");
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto/Roboto-ThinItalic-webfont.eot");
    src: url("../fonts/roboto/Roboto-ThinItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-ThinItalic-webfont.woff") format("woff"), url("../fonts/roboto/Roboto-ThinItalic-webfont.ttf") format("truetype"), url("../fonts/roboto/Roboto-ThinItalic-webfont.svg#RobotoThinItalic") format("svg");
    font-weight: 200;
    font-style: italic
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto/Roboto-Light-webfont.eot");
    src: url("../fonts/roboto/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Light-webfont.woff") format("woff"), url("../fonts/roboto/Roboto-Light-webfont.ttf") format("truetype"), url("../fonts/roboto/Roboto-Light-webfont.svg#RobotoLight") format("svg");
    font-weight: 100;
    font-style: normal
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto/Roboto-LightItalic-webfont.eot");
    src: url("../fonts/roboto/Roboto-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-LightItalic-webfont.woff") format("woff"), url("../fonts/roboto/Roboto-LightItalic-webfont.ttf") format("truetype"), url("../fonts/roboto/Roboto-LightItalic-webfont.svg#RobotoLightItalic") format("svg");
    font-weight: 100;
    font-style: italic
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto/Roboto-Medium-webfont.eot");
    src: url("../fonts/roboto/Roboto-Medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Medium-webfont.woff") format("woff"), url("../fonts/roboto/Roboto-Medium-webfont.ttf") format("truetype"), url("../fonts/roboto/Roboto-Medium-webfont.svg#RobotoMedium") format("svg");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'Roboto';
    src: url("../fonts/roboto/Roboto-MediumItalic-webfont.eot");
    src: url("../fonts/roboto/Roboto-MediumItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-MediumItalic-webfont.woff") format("woff"), url("../fonts/roboto/Roboto-MediumItalic-webfont.ttf") format("truetype"), url("../fonts/roboto/Roboto-MediumItalic-webfont.svg#RobotoMediumItalic") format("svg");
    font-weight: 300;
    font-style: italic
}

.kn-list {
    background: #eceff1;
    border-right: 2px solid gray
}

.kn-list md-icon.fa {
    padding-left: 2px;
    display: inline
}

.kn-list md-content.md-knowage-theme {
    background-color: transparent
}

.kn-detail {
    background: #f6f6f6
}

.kn-detail .kn-detail-content {
    background: transparent
}

.kn-detail .containerDiv {
    position: absolute
}

.kn-detail .layerFilter {
    padding: 10px
}

.kn-detail md-content .layerFilterContent {
    overflow: hidden
}

.kn-detail .angularListTemplate .searchBarList input {
    margin: 0px;
    padding-left: 18px;
    height: initial
}

.kn-detail .md-button.md-knowage-theme.md-fab {
    top: 0px
}

.kn-detail .md-button.md-knowage-theme.md-fab md-icon {
    font-size: inherit;
    padding-top: inherit
}

.kn-detail .angularListTemplate {
    font-family: Roboto, Verdana, Geneva, Arial, Helvetica, sans-serif
}

md-list.md-knowage-theme.flex {
	
	padding: 5px !important;
}

angular-table table>tbody>tr>td {
    font-size: 16px;
    border-top: 1px #c3d4df solid;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

angular-table table>thead {
    background: white
}

angular-table {
    padding: 0 5px;
    overflow: auto;
    overflow-y: hidden;
    min-height: 200px
}

angular-table angular-table-actions {
    margin-top: 15px;
    margin-bottom: 10px
}

angular-table table thead th {
    text-align: left;
    font-size: 16px;
    color: #3b678c;
    font-weight: 600
}

angular-table table>tbody>tr.selectedRowItem {
    background-color: #a9c3db
}

angular-table table>tbody>tr:hover {
    cursor: pointer;
    background-color: #EEEEEE
}

angular-table table thead th div {
    align-items: center;
    height: 40px;
    line-height: 40px
}

angular-table *:focus {
    outline: none
}

angular-table .hidden {
    display: none !important
}

angular-table .black {
    color: black
}

angular-table[no-pagination] #angularTableContentBox {
    overflow-y: auto
}

angular-table[full-width] #angularFullTableContentBox {
    width: 100%;
    overflow: auto
}

angular-table[full-width] #angularTableContentBox {
    overflow-x: hidden
}

angular-table[full-width] table {
    width: auto !important
}

angular-table table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0
}

angular-table[multi-select] table>thead>tr>th:nth-child(n+3):nth-last-child(n+2),
angular-table[multi-select] table>tbody>tr>td:nth-child(n+3):nth-last-child(n+2),
angular-table:not(multi-select) table>thead>tr>th:nth-child(n+1):nth-last-child(n+2),
angular-table:not(multi-select) table>tbody>tr>td:nth-child(n+1):nth-last-child(n+2) {
    padding: 0 28px
}

angular-table[multi-select] table>thead>tr>th:nth-child(2),
angular-table:not(multi-select) table>thead>tr>th:nth-child(1),
angular-table[multi-select] table>tbody>tr>td:nth-child(2),
angular-table:not(multi-select) table>tbody>tr>td:nth-child(1) {
    padding: 0 28px 0 0 !important
}

angular-table table>thead>tr>th:last-child,
angular-table table>tbody>tr>td:last-child {
    padding: 0 24px 0 28px
}

angular-table table thead th div md-icon {
    margin-top: 9px;
    width: 7px
}

angular-table table>tbody>tr {
    height: 48px;
    transition: background-color .2s
}

angular-table table>tbody>tr>td {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
    border-top: 1px rgba(0, 0, 0, 0.12) solid;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

angular-table table>thead>tr>th>div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

angular-table table>tbody>tr>td button.actionButton {
    height: 30px !important;
    width: 30px !important;
    min-height: 25px !important;
    margin: 0 !important
}

angular-table table>tbody>tr>td button.actionButton:hover {
    background-color: #C0C9D0 !important
}

angular-table table>tbody>tr>td button.actionButton md-icon {
    line-height: 25px !important
}

@-moz-document url-prefix() {
    angular-table table>tbody>tr>td {
        text-overflow: inherit
    }
}

angular-table table td div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 26px
}

angular-table angular-table-actions md-input-container.tableSearchBar {
    padding-bottom: 0px;
    height: 25px
}

angular-table angular-table-actions {
    padding: 0 24px 0 10px;
    height: 30px
}

angular-table angular-table-actions md-input-container.tableSearchBar .closeSearchBar {
    left: 100%;
    margin-left: -15px
}

angular-table .pagination>li,
angular-table .pagination>li>span {
    position: relative;
    float: left;
    margin-left: -1px;
    text-decoration: none !important;
    background-color: #fff;
    display: block;
    width: 20px;
    height: 16px;
    text-align: center;
    line-height: 16px
}

angular-table .pagination {
    margin: 0px !important;
    padding: 0px !important
}

angular-table .pagination>li>a {
    text-decoration: none !important;
    width: 100%;
    display: block
}

angular-table .pagination>.active,
angular-table .pagination>.active>a,
angular-table .pagination>.active>a:focus,
angular-table .pagination>.active>a:hover,
angular-table .pagination>.active>span,
angular-table .pagination>.active>span:focus,
angular-table .pagination>.active>span:hover {
    z-index: 2;
    color: #000;
    cursor: default;
    background-color: #e8e8e8;
    border-color: #e8e8e8
}

angular-table .pagination>.disabled>a,
angular-table .pagination>.disabled>a:focus,
angular-table .pagination>.disabled>a:hover,
angular-table .pagination>.disabled>span,
angular-table .pagination>.disabled>span:focus,
angular-table .pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd
}

angular-table .dropdown_menu_list {
    position: fixed !important
}

angular-table .position-fixed {
    position: fixed !important
}

angular-table .dropdown_menu_list md-list {
    position: relative;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-color: #ECECEC
}

angular-table .dropdown_menu_list.open md-list {
    display: block
}

angular-table .dropdown_menu_list md-list-item,
angular-table .dropdown_menu_list md-list-item button,
angular-table .dropdown_menu_list md-list-item .md-list-item-inner {
    min-height: 22px !important
}

angular-table .dropdown_menu_list md-list-item p {
    line-height: 20px;
    margin: 3px;
    color: black
}

angular-table .dropdown_menu_list md-list.bottomBorder md-list-item button {
    border-bottom: 1px solid #b0bec5;
    padding: 0;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 0
}

angular-table md-checkbox {
    margin-bottom: 0px
}

angular-table .tableDragBar {
    padding: 0 !important;
    text-align: center;
    color: grey
}

angular-table .animate-repeat-tablerow.ng-move,
angular-table .animate-repeat-tablerow.ng-enter {
    transition: all linear 0.2s
}

angular-table .animate-repeat-tablerow.ng-leave.ng-leave-active,
angular-table .animate-repeat-tablerow.ng-move,
angular-table .animate-repeat-tablerow.ng-enter {
    opacity: 0
}

angular-table .animate-repeat-tablerow.ng-leave,
angular-table .animate-repeat-tablerow.ng-move.ng-move-active,
angular-table .animate-repeat-tablerow.ng-enter.ng-enter-active {
    opacity: 1
}

angular-table .animate-repeat-tablerow.ng-leave,
angular-table .animate-repeat-tablerow.ng-leave.ng-leave-active {
    transition: all 0s
}

angular-table.absoluteTfoot tfoot>tr>td #queueTableContent {
    display: none
}

angular-table.absoluteTfoot #fixedAngularTableContentBox {
    display: block
}

angular-table #fixedAngularTableContentBox {
    display: none
}

angular-table .principalTable>thead>tr>th>div {
    height: 0px !important
}

angular-table .principalTable>thead>tr>th>md-checkbox {
    display: none
}

angular-table .principalTable>thead>tr>th {
    padding-top: 0px !important;
    padding-bottom: 0px !important
}

.md-button.md-knowage-theme.md-fab {
    top: 10px
}

.md-button.md-knowage-theme.md-fab:not([disabled]) {
    background-color: #c70751 !important
}

.md-button.md-knowage-theme.md-fab md-icon {
    font-size: 18px;
    padding-top: 4px
}

md-input-container.md-knowage-theme .md-input {
    border-color: #3b678c
}

md-input-container.md-knowage-theme:not(.md-input-invalid).md-input-focused .md-input {
    border-color: #3b678c
}

md-input-container.md-knowage-theme:not(.md-input-invalid).md-input-focused md-icon {
    color: #3b678c
}

md-input-container.md-knowage-theme:not(.md-input-invalid).md-input-has-value label {
    color: #a9c3db
}

md-input-container.md-knowage-theme:not(.md-input-invalid).md-input-focused label {
    color: #3b678c
}

md-input-container.md-knowage-theme ng-messages:not(.md-char-counter),
md-input-container.md-knowage-theme [ng-messages]:not(.md-char-counter),
md-input-container.md-knowage-theme ng-message:not(.md-char-counter),
md-input-container.md-knowage-theme data-ng-message:not(.md-char-counter),
md-input-container.md-knowage-theme x-ng-message:not(.md-char-counter),
md-input-container.md-knowage-theme [ng-message]:not(.md-char-counter),
md-input-container.md-knowage-theme [data-ng-message]:not(.md-char-counter),
md-input-container.md-knowage-theme [x-ng-message]:not(.md-char-counter),
md-input-container.md-knowage-theme [ng-message-exp]:not(.md-char-counter),
md-input-container.md-knowage-theme [data-ng-message-exp]:not(.md-char-counter),
md-input-container.md-knowage-theme [x-ng-message-exp]:not(.md-char-counter) {
    color: #c70751
}

md-input-container.md-knowage-theme.md-input-invalid .md-input {
    border-color: #c70751
}

md-input-container.md-knowage-theme.md-input-invalid.md-input-focused label {
    color: #c70751
}

md-checkbox.md-knowage-theme.md-checked .md-icon {
    background-color: #3b678c
}

md-checkbox.md-knowage-theme .md-icon {
    border-color: #3b678c
}

md-radio-button.md-knowage-theme .md-on {
    background-color: #3b678c
}

md-radio-button.md-knowage-theme .md-off {
    border-color: #a9c3db
}

md-radio-button.md-knowage-theme.md-checked .md-off {
    border-color: #a9c3db
}

md-select.md-knowage-theme .md-select-value {
    border-bottom-color: #3b678c
}

md-select.md-knowage-theme .md-select-value .md-select-icon {
    color: #3b678c
}

md-select.md-knowage-theme:not([disabled]):focus .md-select-value {
    border-bottom-color: #3b678c
}

md-select-menu.md-knowage-theme md-option[selected] {
    color: #3b678c
}

md-select-menu.md-knowage-theme md-option[selected]:focus {
    color: #3b678c
}

md-tabs.md-knowage-theme .md-tab.md-active,
md-tabs.md-knowage-theme .md-tab.md-active md-icon,
md-tabs.md-knowage-theme .md-tab.md-focused,
md-tabs.md-knowage-theme .md-tab.md-focused md-icon {
    color: #3b678c;
    font-weight: 500
}

md-tabs.md-knowage-theme md-ink-bar {
    color: #3b678c;
    background: #3b678c
}

md-card.md-knowage-theme {
    background-color: #fff;
    display: block;
    padding: 8px
}

md-tab-content md-content.md-knowage-theme {
    background-color: transparent
}

a.md-button.md-knowage-theme.md-primary,
.md-button.md-knowage-theme.md-primary {
    color: #3b678c
}

.md-button.md-knowage-theme.md-raised {
    color: #3b678c;
    background-color: #a9c3db
}

.md-button.md-knowage-theme.md-raised:not([disabled]):hover {
    background-color: #3b678c;
    color: white
}

.md-knowage-theme .md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator,
.md-knowage-theme .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator {
    background: #3b678c;
    color: #fff;
    border-color: transparent
}

.md-knowage-theme .md-calendar-date-selection-indicator:hover {
    background: #a9c3db
}

.md-knowage-theme .md-datepicker-input-container {
    border-bottom-color: #3b678c
}

.md-knowage-theme .md-datepicker-input-container.md-datepicker-focused {
    border-bottom-color: #3b678c
}

.md-knowage-theme .md-datepicker-input {
    color: #3b678c
}

.md-knowage-theme .md-datepicker-triangle-button .md-datepicker-expand-triangle {
    border-top-color: #3b678c
}

.md-knowage-theme .md-datepicker-triangle-button:hover .md-datepicker-expand-triangle {
    border-top-color: #3b678c
}

.md-knowage-theme .md-calendar-day-header {
    background: #3b678c;
    color: #fff
}

.md-knowage-theme .md-calendar-date.md-calendar-date-today .md-calendar-date-selection-indicator {
    border: 1px solid #3b678c
}

.md-knowage-theme .md-calendar-date.md-focus .md-calendar-date-selection-indicator {
    background: #a9c3db
}

.kn-info {
    margin: 10px;
    border: 1px dashed #3b678c;
    padding: 10px;
    text-align: center;
    position: relative
}

.kn-close-Info {
    position: absolute;
    right: 5px;
    top: 5px
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.noMargin {
    margin: 0px
}

.noPadding {
    padding: 0px
}

.noBorder {
    border: 0px
}

.removeTransition {
    transition: none !important
}