angular-table table>tbody>tr>td {
    font-size: 16px;
    border-top: 1px #c3d4df solid;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

angular-table table>thead {
    background: white
}

angular-table {
    padding: 0 5px;
    overflow: auto;
    overflow-y: hidden;
    min-height: 200px
}

angular-table angular-table-actions {
    margin-top: 15px;
    margin-bottom: 10px
}

angular-table table thead th {
    text-align: left;
    font-size: 16px;
    color: #3b678c;
    font-weight: 600
}

angular-table table>tbody>tr.selectedRowItem {
    background-color: #a9c3db
}

angular-table table>tbody>tr:hover {
    cursor: pointer;
    background-color: #EEEEEE
}

angular-table table thead th div {
    align-items: center;
    height: 40px;
    line-height: 40px
}

angular-table *:focus {
    outline: none
}

angular-table .hidden {
    display: none !important
}

angular-table .black {
    color: black
}

angular-table[no-pagination] #angularTableContentBox {
    overflow-y: auto
}

angular-table[full-width] #angularFullTableContentBox {
    width: 100%;
    overflow: auto
}

angular-table[full-width] #angularTableContentBox {
    overflow-x: hidden
}

angular-table[full-width] table {
    width: auto !important
}

angular-table table {
    width: 100%;
    table-layout: fixed;
    border-spacing: 0
}

angular-table[multi-select] table>thead>tr>th:nth-child(n+3):nth-last-child(n+2),
angular-table[multi-select] table>tbody>tr>td:nth-child(n+3):nth-last-child(n+2),
angular-table:not(multi-select) table>thead>tr>th:nth-child(n+1):nth-last-child(n+2),
angular-table:not(multi-select) table>tbody>tr>td:nth-child(n+1):nth-last-child(n+2) {
    padding: 0 28px
}

angular-table[multi-select] table>thead>tr>th:nth-child(2),
angular-table:not(multi-select) table>thead>tr>th:nth-child(1),
angular-table[multi-select] table>tbody>tr>td:nth-child(2),
angular-table:not(multi-select) table>tbody>tr>td:nth-child(1) {
    padding: 0 28px 0 0 !important
}

angular-table table>thead>tr>th:last-child,
angular-table table>tbody>tr>td:last-child {
    padding: 0 24px 0 28px
}

angular-table table thead th div md-icon {
    margin-top: 9px;
    width: 7px
}

angular-table table>tbody>tr {
    height: 48px;
    transition: background-color .2s
}

angular-table table>tbody>tr>td {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
    border-top: 1px rgba(0, 0, 0, 0.12) solid;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

angular-table table>thead>tr>th>div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden
}

angular-table table>tbody>tr>td button.actionButton {
    height: 25px !important;
    width: 25px !important;
    min-height: 25px !important
}

angular-table table>tbody>tr>td button.actionButton md-icon {
    line-height: 25px !important
}

@-moz-document url-prefix() {
    angular-table table>tbody>tr>td {
        text-overflow: inherit
    }
}

angular-table table td div {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 26px
}

angular-table angular-table-actions md-input-container.tableSearchBar {
    padding-bottom: 0px;
    height: 25px
}

angular-table angular-table-actions {
    padding: 0 24px 0 10px;
    height: 30px
}

angular-table angular-table-actions md-input-container.tableSearchBar .closeSearchBar {
    left: 100%;
    margin-left: -15px
}

angular-table .pagination>li,
angular-table .pagination>li>span {
    position: relative;
    float: left;
    margin-left: -1px;
    text-decoration: none !important;
    background-color: #fff;
    display: block;
    width: 20px;
    height: 16px;
    text-align: center;
    line-height: 16px
}

angular-table .pagination {
    margin: 0px !important;
    padding: 0px !important
}

angular-table .pagination>li>a {
    text-decoration: none !important;
    width: 100%;
    display: block
}

angular-table .pagination>.active,
angular-table .pagination>.active>a,
angular-table .pagination>.active>a:focus,
angular-table .pagination>.active>a:hover,
angular-table .pagination>.active>span,
angular-table .pagination>.active>span:focus,
angular-table .pagination>.active>span:hover {
    z-index: 2;
    color: #000;
    cursor: default;
    background-color: #e8e8e8;
    border-color: #e8e8e8
}

angular-table .pagination>.disabled>a,
angular-table .pagination>.disabled>a:focus,
angular-table .pagination>.disabled>a:hover,
angular-table .pagination>.disabled>span,
angular-table .pagination>.disabled>span:focus,
angular-table .pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd
}

angular-table .dropdown_menu_list {
    position: fixed !important
}

angular-table .position-fixed {
    position: fixed !important
}

angular-table .dropdown_menu_list md-list {
    position: relative;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-color: #ECECEC
}

angular-table .dropdown_menu_list.open md-list {
    display: block
}

angular-table .dropdown_menu_list md-list-item,
angular-table .dropdown_menu_list md-list-item button,
angular-table .dropdown_menu_list md-list-item .md-list-item-inner {
    min-height: 22px !important
}

angular-table .dropdown_menu_list md-list-item p {
    line-height: 20px;
    margin: 3px;
    color: black
}

angular-table .dropdown_menu_list md-list.bottomBorder md-list-item button {
    border-bottom: 1px solid #b0bec5;
    padding: 0;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 0
}

angular-table md-checkbox {
    margin-bottom: 0px
}

angular-table .tableDragBar {
    padding: 0 !important;
    text-align: center;
    color: grey
}

angular-table .animate-repeat-tablerow.ng-move,
angular-table .animate-repeat-tablerow.ng-enter {
    transition: all linear 0.2s
}

angular-table .animate-repeat-tablerow.ng-leave.ng-leave-active,
angular-table .animate-repeat-tablerow.ng-move,
angular-table .animate-repeat-tablerow.ng-enter {
    opacity: 0
}

angular-table .animate-repeat-tablerow.ng-leave,
angular-table .animate-repeat-tablerow.ng-move.ng-move-active,
angular-table .animate-repeat-tablerow.ng-enter.ng-enter-active {
    opacity: 1
}

angular-table .animate-repeat-tablerow.ng-leave,
angular-table .animate-repeat-tablerow.ng-leave.ng-leave-active {
    transition: all 0s
}

angular-table.absoluteTfoot tfoot>tr>td #queueTableContent {
    display: none
}

angular-table.absoluteTfoot #fixedAngularTableContentBox {
    display: block
}

angular-table #fixedAngularTableContentBox {
    display: none
}

angular-table .principalTable>thead>tr>th>div {
    height: 0px !important
}

angular-table .principalTable>thead>tr>th>md-checkbox {
    display: none
}

angular-table .principalTable>thead>tr>th {
    padding-top: 0px !important;
    padding-bottom: 0px !important
}
