
.knowage-blue {
	background-color: #3b678c !important;
    min-height: 0px !important;
}

.groupX {
    font-size: 12px;
    margin: 10px 0;
    color:#000000 !important;
    background-color: rgba(224, 224, 224, 0.96);
    text-transform: none;
    font-weight: 400;
    line-height:1;
    min-width:75px;
    height: 25px;
}

.md-button.left {
    border-radius: 20px 0 0 20px;
}

.md-button.middle {
    border-radius: 0;
    border-left: 1px solid rgba(230, 230, 230, 0.96);
    border-right: 1px solid rgba(230, 230, 230, 0.96);
}

.md-button.right {
    border-radius: 0 25px 25px 0;
}

.md-button:not([disabled]):hover {
    background-color: rgba(193, 193, 193, 0.96);
    transition: 0.3s;
}

.md-button.dimension-top{
    background-color: rgba(59, 103, 140, 0.96);
    height:25px;
    font-size: 12px;
    line-height: 1;
    color:#ffffff !important;
    border: 2px solid #ffffff;
}

.md-button.dimension-left{
    background-color: rgba(59, 103, 140, 0.96);
    height:25px;
    font-size: 12px;
    line-height: 1;
    color:#ffffff !important;
    transform: rotate(90deg);
    margin-top: 55px;
    margin-bottom: 20px;
    margin-left:-29px;
    border: 2px solid #ffffff;
    padding: 4px;
}

.md-button{
    min-height:0px;
}

.dimension-top-toolbar{
    border-radius: 0px 7px 7px 0px;
}

.dimension-left-toolbar{
    border-radius: 0px 0px 7px 7px;
}

.md-toolbar-tools{
    height: 32px;
}

.dialog-toolbar{
    padding: 0px 10px !important;
}

.icon{
    height:32px;
    min-width: 32px;
}

.filter-toolbar{
    color: #ffffff !important;
    border-radius: 10px 10px 0px 0px;
    padding-left: 10px;
    line-height: 0;
}

.filter-card{
    border-radius: 10px 10px;
    width:20%;
    height:10%;
    -moz-height:5%;
}

.central-panel{
    height:calc(80% - 32px);
    height: -moz-calc(80% - 32px);
    width:60%;
    position:absolute;
}

.dialog-style{
    padding: 10px;
}

table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}

/*.tree css*/

.tree,
.tree ul {
  margin:0 0 0 1em; /* indentation */
  padding:0;
  list-style:none;
  position:relative;
}

.tree ul {margin-left:.5em} /* (indentation/2) */

.tree:before,
.tree ul:before {
  content:"";
  display:block;
  width:0;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  border-left:1px dotted #D3C1C1;
}

.tree li {
  margin:0;
  padding: 0px 0.8em;
  line-height: 2.3em; /* default list item's `line-height` */
  position:relative;
}

.tree li:before {
  content:"";
  display:block;
  width:10px; /* same with indentation */
  height:0;
  border-top:1px dotted #D3C1C1;
  margin-top:-1px; /* border top width */
  position:absolute;
  top:1em; /* (line-height/2) */
  left:0;
}

.tree li:last-child:before {
  background:white; /* same with body background */
  height:auto;
  top:1em; /* (line-height/2) */
  bottom:0;
}
