<md-card ng-if="!params" layout-fill layout="column" class="flexCard" style="position:absolute">
	<md-card-content flex layout="column" class="noPadding">
		<md-toolbar class="secondaryToolbar">
			<div class="md-toolbar-tools">
				<h2>{{translate.load("kn.qbe.general.filters")}}</h2>
				<span flex></span>
				<md-button class="md-icon-button" aria-label="Add new filter" ng-show="isloadTemporalFiltersVisible(field.dataType)" ng-click="loadTemporalFilters()" 
						title='{{translate.load("kn.qbe.general.field")}}'>
					<md-icon md-font-icon="fa fa-calendar" ></md-icon>
				</md-button>
				 <md-button class="md-fab md-mini" aria-label="Add new filter" ng-click="addNewFilter()">
					<md-icon md-font-icon="fa fa-plus" ></md-icon>
				</md-button>

			</div>
		</md-toolbar>
		<md-content flex layout="column" >
		
			<div layout="row" layout-align="center center" ng-if="(filters | filter : filterByColumnName).length==0">
				<div class="kn-noItems" flex="60">
					{{translate.load("kn.qbe.filters.nofilters")}}
				</div>
			</div>
			<md-card ng-if="(filters | filter : filterByColumnName).length > 0">
			
				<md-card-content layout="column" layout-padding>
				
					<div layout="row" layout-wrap="" layout-align="space-between" class="filterRow" ng-repeat="filter in filters | filter : filterByColumnName" >
						<md-input-container flex=30  >
							<label class="filterLabel">{{translate.load("kn.qbe.general.field")}}</label>
							<input name="leftOperand" ng-model="filter.leftOperandDescription" readonly>
						</md-input-container>
						
						<md-input-container flex=10 >
							<label class="filterLabel">{{translate.load("kn.qbe.filters.condition")}}</label>
							<md-select ng-model="filter.operator">
								<md-tooltip md-direction="bottom">{{translate.load("kn.qbe.filters.tootip")}}</md-tooltip>
								<md-option ng-repeat="operator in getConditionOptionsbyField(field.name)"
										value="{{operator.value}}"
										ng-click="changeCondition(operator.value,filter)">
									{{operator.name}}
								</md-option> 
							</md-select>
						</md-input-container>
						
						<md-input-container flex=10  ng-if="filter.operator=='SPATIAL_NN'">
							<label class="filterLabel">{{translate.load("kn.qbe.filters.parameter")}}</label>
							<input name="conditionParameter" ng-model="filter.operatorParameter" >
						</md-input-container>
						
						<!-- targetTypes -->
						<md-input-container flex=10 >
							<label class="filterLabel">{{translate.load("kn.qbe.filters.targetType")}}</label>
							<md-select
									ng-model="filter.rightType">
								<md-option
										ng-repeat="type in targetTypes"
										value="{{type.value}}"
										ng-click="changeTarget(type.value,filter)">
									{{type.name}}
								</md-option>
							</md-select>
						</md-input-container>
						
						<target flex
							obj="{	subqueries:subqueries,
									entities:tree,
									parameters:pars}"
							filter="filter"
							field-type="field.dataType"
							target-type="filter.rightType">
						</target>

						<md-button class="md-icon-button" ng-click="changeTarget(filter.rightType,filter)" ng-show="filter.rightType == 'valueOfField'">
							<md-icon md-font-icon="fa fa-check" ></md-icon>
							<md-tooltip md-delay="1000" >{{translate.load("kn.qbe.filters.target")}}</md-tooltip>
						</md-button>
						<md-button class="md-icon-button" ng-click="deleteFilter(filter)">
							<md-icon md-font-icon="fa fa-eraser" ></md-icon>
							<md-tooltip md-delay="1000" >{{translate.load("kn.qbe.filters.clear")}}</md-tooltip>
						</md-button>
						<div layout="row" flex=100 ng-if="isTableVisible(filter)">
							<div ag-grid="valuesGrid" class="ag-theme-balham ag-noBorders ag-theme-knowage" 
								style="width:100%;min-height:400px;">
							</div>
						</div>
					</div>
				</md-card-content>
			</md-card>
			
		</md-content>
	</md-card-content>
	<md-card-actions layout="row" layout-align="start center">
		<span flex></span>
		<md-button ng-click="closeFilters()" class="md-raised">{{translate.load("kn.qbe.general.cancel")}}</md-button>
		<md-button ng-click="saveFilters()"  class="md-primary md-raised">{{translate.load("kn.qbe.general.save")}}</md-button>
	</md-card-actions>
</md-card>
<md-card ng-if="params"  layout-fill layout="column" class="flexCard" style="position:absolute">
	<md-card-content flex layout="column" class="noPadding">
		<md-toolbar class="secondaryToolbar" layout-padding>
			<div class="md-toolbar-tools">
				<h2><span>{{translate.load("kn.qbe.filters.parameters")}}</span></h2>
				<span flex></span>
			</div>
		</md-toolbar>
		
		<md-content flex layout="column" layout-padding> 
			<md-card>
				<md-card-content layout="row" layout-padding  style="height:400px">
						<div  ag-grid="paramsPreviewGrid" class="ag-theme-balham ag-noBorders ag-theme-knowage" 
						style="width:100%;height: 100%;"></div>	
				</md-card-content>
			</md-card>
		</md-content>
	</md-card-content>
	
	<md-card-actions layout="row" layout-align="start center">
		<span flex></span>
		<md-button ng-click="closeFilters()" class="md-raised">
			{{translate.load("kn.qbe.general.cancel")}}
		</md-button>
		<md-button ng-click="applyParams()" md-autofocus class="md-primary md-raised">
			{{translate.load("kn.qbe.filters.apply.parameters")}}
		</md-button>
	</md-card-actions>
</md-card>