<md-dialog class="filter-dialog-dimensions">
	
	<md-toolbar class="primaryToolbar">
		<div class="md-toolbar-tools">
			<h2>{{filterDialogToolbarName}}</h2>
		</div>
	</md-toolbar>

	<md-dialog-content layout-padding style="width:100%;height:100%;">
		<span class="dialog-msg" ng-if="searchText.length > 0 && searchText.length < minNumOfLetters")>
			You need at least {{minNumOfLetters}} letters to start search!
		</span>	
		<div class="no-wrap" layout="row" layout-align="start center">
			<md-button  ng-click="unSelectAll(data)" class="md-raised">
				<md-tooltip md-delay="500" md-direction="top">
         				{{translate.load("sbi.common.unselect.all");}}
       			</md-tooltip>
				{{::translate.load("sbi.common.unselect.all");}}
			</md-button>
			
			<md-switch ng-show="isAnySelected()" ng-model="selectView" aria-label="Selected only view" ng-change="toggleViewMode()">
				 <span ng-if="selectView">{{::translate.load('sbi.olap.filter.showselected')}}: {{::translate.load('sbi.common.yes')}}</span>
				 <span ng-if="!selectView">{{::translate.load('sbi.olap.filter.showselected')}}: {{::translate.load('sbi.common.no')}}</span>
			</md-switch>
			
			<span flex layout="row">
				<md-input-container md-no-float class="md-block" flex>
					<md-icon md-font-icon="fa fa-search" style="top:5px"></md-icon>
					<input ng-class="{'filter-search-redbg':bgColor()}"
		      				ng-show="true" 
		      				ng-model="searchText" 
		      				placeholder="Insert text here" 
		      				style="margin-left: 28px; width: calc(100% - 28px);"
		      				ng-keypress="(searchText.length > 0 && searchText.length >= minNumOfLetters) ? searchFilter($event):''"
		      				/>
        			
				</md-input-container>
				<md-button ng-disabled="minNumOfLetters > searchText.length" ng-click="searchFilter()">
	         		{{::translate.load('sbi.generic.search')}}
	       		</md-button>
       		</span>	
						
			<md-input-container >
				<md-checkbox ng-show="true" ng-model="showSiblings" aria-label="Show bros" style="display:initial;">
					{{showSiblings?'Show siblings':'Hide siblings'}}
				</md-checkbox>	
			</md-input-container>
    	</div>
		<div layout="row" flex>
			<div ui-tree>
				<ul ui-tree-nodes="" ng-model="data" class="tree" >
					<filter-tree-first-level ng-show="!loadingFilter"></filter-tree-first-level>
				</ul>
			</div ui-tree>
			<span flex></span>
	
			<filter-parameters-list ng-show="olapMode && isSlicer" drivers-list="adParams" selected-attribute="selectedAttribute" attribute-list="profileAttributes" select-item-action="selectAd(ad)" selected-filter="lastSelectedFilter" bind-mode="bindMode"></filter-parameters-list>
		</div>
		<md-progress-circular md-mode="indeterminate" ng-show="loadingFilter"></md-progress-circular>
	</md-dialog-content>

	<md-dialog-actions layout="row">
	
		<div flex layout="row" layout-align="center" ng-if="ancestorAndDescendantSlicerSelection">
			<div class="kn-warning">
			{{::translate.load('sbi.olap.filter.slicer.ancestorAndDescendantSelection')}}
			</div>
		</div>
	
		<md-button class="md-raised" ng-click="closeFiltersDialog()">
			{{::translate.load('sbi.common.cancel')}}
		</md-button>
		<md-button class="md-raised md-primary" ng-click="filterDialogSave()">
			{{::translate.load('sbi.common.save')}}
		</md-button>		
	</md-dialog-actions>
	
</md-dialog>