<div id="filterpanel" filterpanel layout="row" ng-drop="true" ng-drop-success="dropFilter($data,$event)" layout-align="center center">
	
	<div ng-show="filterCardList.length == 0" layout="row" layout-align="center center" layout-fill>
		<div class="kn-noItems" flex="60">{{filterPanelEmpty}}</div>
	</div>
	
	<md-button class="md-icon-button filter-shift-arrow" flex=10 
			   aria-label="shift to left" ng-click="dimensionShift('left',true)" 
			   ng-if="filterSliderNeeded">
		<md-icon md-font-icon="fa fa-arrow-circle-o-left fa-2x" ></md-icon>
	</md-button>
	<filter-card></filter-card>
	<md-button class="md-icon-button filter-shift-arrow" flex=10 
	           aria-label="shift to right" ng-click="dimensionShift('right', true)" 
	           ng-if="filterSliderNeeded">
		<md-icon md-font-icon="fa fa-arrow-circle-o-right fa-2x"></md-icon>
	</md-button>

</div>
