<div class="filter-panel" layout="row" flex>
	<div class="new-filter-card" 
		ng-repeat="filter in filterCardList" 
		ng-drag="true" ng-drag-data="filter" 
		ng-drag-success="dragSuccess('filter',$index)"
		id="filter-{{filter.name}}"
		layout="row">
			
		<md-button ng-click="showMultiHierDialog(e,filter);$event.stopPropagation();" class="md-icon-button noMargin" ng-show="filter.hierarchies.length > 1">
			<md-icon md-font-icon="fa fa-sitemap" ></md-icon>
		</md-button>
		<span flex>
			{{filter.caption}}
			<md-tooltip md-delay="1000">{{translate.load('sbi.olap.drag.filter')}}</md-tooltip>
		</span>
		<md-button class="md-icon-button noMargin" ng-class="{'activeFilters' : FiltersService.getSlicerNamesString(filter.selectedHierarchyUniqueName) != ''}" aria-label="filter" ng-click="openFiltersDialogAsync(e, filter, null, $index);$event.stopPropagation();" id="{{filter.name}}-filter">
			<md-icon md-font-icon="fa fa-filter"></md-icon>
			<md-tooltip>{{FiltersService.getSlicerNamesString(filter.selectedHierarchyUniqueName)}}</md-tooltip>
		</md-button>

	</div>
	
	<span flex class="axisDropzone">{{translate.load('sbi.olap.drop.filter')}}</span>
</div>