<md-dialog class="multi-hier-dialog">
	
	<md-toolbar class="primaryToolbar">
      <div class="md-toolbar-tools">
      		{{member.caption}}
      </div>
    </md-toolbar>
    
    <md-dialog-content layout-padding style="width:100%;height:100%">
    	<p>
    		The selected hierarchy is <b>{{member.hierarchies[member.selectedHierarchyPosition].caption}}</b>.
    		You can change it acting on the form below.
    	</p>
    	<h4 class="noMargin">Available hierarchies:</h4>
    	<md-input-container>    		
    		<select ng-model="selecetedMultiHierUN" class="multi-hier-combo">
    			<option ng-repeat="hier in member.hierarchies" value="{{hier.uniqueName}}">
    				<span>{{hier.caption}}</span>
    			</option>
    		</select>
    	</md-input-container>
    </md-dialog-content>
    
    <md-dialog-actions layout="row">
    	<md-button ng-click="closeDialog(ev)" class="md-raised">
			Cancel
		</md-button>
		<md-button ng-click="updateHierarchie(ev)" class="md-raised md-primary">
			Save
		</md-button>
    </md-dialog-actions>
</md-dialog>