<ul ng-model="item.children" ng-show="item.collapsed">

	<li ng-repeat="item in item.children">
	<div class="no-wrap">
		<md-icon md-font-icon="fa fa-list-alt" ng-show="item.leaf && activeaxis == -1" ng-click="" ng-if="!selectView"> 
		</md-icon>
		<md-icon md-font-icon="fa fa-angle-right" ng-show="!item.collapsed && !item.leaf" ng-if="!selectView"
				ng-click="expandTreeAsync(item)" class="dialog-button-padding"> 
		</md-icon>
		<md-icon md-font-icon="fa fa-angle-down" ng-show="item.collapsed && !item.leaf" ng-if="!selectView"
				ng-click="hideAsyncTree(item)" class="dialog-button-padding"> 
		</md-icon>
		<span ng-if="selectView">└</span>
		<span ng-click="" ng-show=" !item.leaf">
			<md-checkbox ng-model="item.visible" ng-change="updateSelectedMembers(item);checkSlicerSelection();">
			<span ng-class="highlight(item.name)?'highlight-filter-result':''">
				{{item.name}}
			</span>
			</md-checkbox>
		</span>
		<span ng-click="" ng-show=" item.leaf">
			<md-checkbox ng-model="item.visible" ng-change="updateSelectedMembers(item);checkSlicerSelection();">
			<span ng-class="highlight(item.name)?'highlight-filter-result':''" class="no-wrap">
				{{item.name}}
			</span>
			</md-checkbox>
		</span>	
		<filter-tree-deeper-levels></filter-tree-deeper-levels>	
	</div>
</li>
</ul>

