<md-dialog>
	<md-toolbar >
		<div class="md-toolbar-tools">
			<h2>{{translate.load("kn.qbe.temporalfilter.title")}}</h2>
			<span flex=""></span>
		</div>	
	</md-toolbar>
		<md-content style="padding:10px;">
			<div>
				<angular-table  
				        
 						id="temporalFiltersList"
 						ng-model="temporalFilters" 
 						columns='[ 
 						         {"label":"Name","name":"name"}]'
 						show-search-bar=false 
 						highlights-selected-item=true
 						selected-item="selectedTemporalFilter"
 						>						
 				 </angular-table>
			</div>
			<md-button class="md-raised floatRightFederationButton" ng-click="addSelectedFilter()">
     				{{translate.load("kn.crosstab.chooseaggregationfunctionwindow.buttons.apply")}}
    		</md-button>
	</md-content>
</md-dialog>
