.animate-switch-container {
  position:relative; 
}
.animate-switch.ng-enter,
.animate-switch.ng-leave {
  -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
  transition:0.5s linear all;

  position:absolute;
}

.switch-left.ng-enter {
  left:100%;
}

.switch-left.ng-leave,
.switch-left.ng-enter.ng-enter-active {
  left:0;
}

.switch-left.ng-leave.ng-leave-active {
  left:-100%;
}

.switch-right.ng-enter {
  right:100%;
}

.switch-right.ng-leave,
.switch-right.ng-enter.ng-enter-active {
  right:0;
}

.switch-right.ng-leave.ng-leave-active {
  right:-100%;
}

/* menu style */
#menuButton:hover {color:white;}
#menu md-menu-item span, #menu md-menu-item md-icon {color: rgba(0, 0, 0, 0.87) !important}
#menu md-menu-item md-icon {z-index: 1;padding-top: 4px;}

#menu md-menu-content span.divider {
	padding-left: 10px;
	color: gray!important;
    font-weight: 100;
    font-style: italic;
    font-size: smaller;
}
.well, .lastScore,.ratingSaved{
	margin-left: 10px;
}

.rating span {
	font-size: 30px;
	color:#E4A400;
	margin-left:-3px;
}

.lastScore span {
	 font-size: 30px;
	 color:#E4A400;
	 margin-left:-3px;
}

.ratingSaved span{
	font-size: 30px;
	margin-left:-3px;
}

#dialogRank{
	height: 350px;
	width: 250px;
}

#buttonRank{
	margin-left: 130px;
	bottom: -50px;
}

/* Metadata Dialog*/
#metadataDlg md-dialog-content {margin: 0;padding-bottom: 10px;}
#metadataDlg expander-box > md-content {border: 0!important; padding:0;}
.animate-accordion.ng-hide-add, .animate-accordion.ng-hide-remove {transition: linear all 1s;}
.animate-accordion.ng-hide {height:0;}