#set($category = $chart.VALUES.CATEGORY)
#set($chartType = $CHART.type)
#set($dataRows = $data.rows)
#set($dataFields = $data.metaData.fields) ## columns of data table
#set($dataColumnsMapper = {})

#foreach ($dataField in $dataFields) ## conversion column name to internal column name
	#if($dataField.class.name == 'java.util.LinkedHashMap')
		#set($workAroundNoPrint = $dataColumnsMapper.put($dataField.header , $dataField.name))
	#end
#end

#set($columnsNeeded = {})

#set($columnCouter = 0)

   
#foreach($value in $category) 
 #set($columnsNeeded[$columnCouter] = $value.column)
 #set($columnCouter = $columnCouter + 1)
#end

#set($serie = $chart.VALUES.SERIE.name)

#set($groupingFunction = $chart.VALUES.SERIE.groupingFunction)

#set($sizeCriteria = $chart.sizeCriteria)

#set($result = $datasettransformer.createTreeChart($columnsNeeded,$serie,$dataColumnsMapper,$dataRows, $groupingFunction))

#set($crossNavigation = '')
#set($crossNavigation = $chart.DRILL)	


{
 	chart: {
  	type: '$chartType',
  	height: '$chart.height',
  	width: '$chart.width',
  	
  		## Danilo Ristovski 27.12 (space for the 'Back' button)
  		marginBottom: 40,
  
	## I think this is necessary when title and subtitle are not provided (danristo)
	#if ($chart.TITLE.text == "" && $chart.SUBTITLE.text == "")
		marginTop: 60,
	#end
  
  #if($chart.style.backgroundColor!="")
  	backgroundColor: '$chart.style.backgroundColor',
  #end
  
  		style: {			
			fontFamily: '$chart.style.fontFamily',
			fontSize: '$chart.style.fontSize',
					
			#if($chart.style.fontWeight == 'italic' || $chart.style.fontWeight == 'normal')
    			fontStyle: '$chart.style.fontWeight',
			#elseif($chart.style.fontWeight == 'underline')
    			textDecoration: '$chart.style.fontWeight',
			#elseif($chart.style.fontWeight == 'bold')		        			
    			fontWeight: '$chart.style.fontWeight',
    		#end
  		}
 },
 
 colors: [
 	
 		#*
 			Since the Highcharts library for this chart defines default color
 			for items, we do not need to check if there is more than one defined
 			in the structure that hold data about picked colors. It is permitted
 			not to have colors (after users saving of the file).
 		 	@author: danristo (danilo.ristovski@mht.net)
	 	*#
 		
 		#if ($chart.COLORPALETTE.COLOR.class.name != 'java.util.LinkedHashMap') 
			#foreach($color in $chart.COLORPALETTE.COLOR)
				'$color.value', 
			#end
		#else
			'$chart.COLORPALETTE.COLOR.value'
		#end
    ],
 
 	emptymessage: {
		text: '$chart.EMPTYMESSAGE.text',
		
		style: {
			fontFamily: '$chart.EMPTYMESSAGE.style.fontFamily',
			fontSize: '$chart.EMPTYMESSAGE.style.fontSize',
			fontColor: '$chart.EMPTYMESSAGE.style.color',
			textAlign: '$chart.EMPTYMESSAGE.style.align',
					
			#if($chart.EMPTYMESSAGE.style.fontWeight == 'italic' || $chart.EMPTYMESSAGE.style.fontWeight == 'normal')
    			fontStyle: '$chart.EMPTYMESSAGE.style.fontWeight',
			#elseif($chart.EMPTYMESSAGE.style.fontWeight == 'underline')
    			textDecoration: '$chart.EMPTYMESSAGE.style.fontWeight',
			#elseif($chart.EMPTYMESSAGE.style.fontWeight == 'bold')		        			
    			fontWeight: '$chart.EMPTYMESSAGE.style.fontWeight',
    		#end	
		}
	},
	
	title: {
		text: '$chart.TITLE.text',
		
		style: {
			fontFamily: '$chart.TITLE.style.fontFamily',
			fontSize: '$chart.TITLE.style.fontSize',
			fontColor: '$chart.TITLE.style.color',
			textAlign: '$chart.TITLE.style.align',	
					
			#if($chart.TITLE.style.fontWeight == 'italic' || $chart.TITLE.style.fontWeight == 'normal')
    			fontStyle: '$chart.TITLE.style.fontWeight',
			#elseif($chart.TITLE.style.fontWeight == 'underline')
    			textDecoration: '$chart.TITLE.style.fontWeight',
			#elseif($chart.TITLE.style.fontWeight == 'bold')		        			
    			fontWeight: '$chart.TITLE.style.fontWeight',
    		#end	
		}
	},
	
	subtitle: {
		text: '$chart.SUBTITLE.text',
		
		style: {
			fontFamily: '$chart.SUBTITLE.style.fontFamily',
			fontSize: '$chart.SUBTITLE.style.fontSize',
			fontColor: '$chart.SUBTITLE.style.color',
			textAlign: '$chart.SUBTITLE.style.align',	
					
			#if($chart.SUBTITLE.style.fontWeight == 'italic' || $chart.SUBTITLE.style.fontWeight == 'normal')
    			fontStyle: '$chart.SUBTITLE.style.fontWeight',
			#elseif($chart.SUBTITLE.style.fontWeight == 'underline')
    			textDecoration: '$chart.SUBTITLE.style.fontWeight',
			#elseif($chart.SUBTITLE.style.fontWeight == 'bold')		        			
    			fontWeight: '$chart.SUBTITLE.style.fontWeight',
    		#end		
		}
	},
	
	#*
		Remove credits from the TREEMAP chart (the "Highcharts.com" link at the 
		bottom right side of the chart).
		@author: danristo (danilo.ristovski@mht.net)
	 *# 
	credits: 
	{ 
    	enabled: false
    },
      crossNavigation:
    {
    #if($crossNavigation != '') 
						crossNavigationDocumentName: '$crossNavigation.document',
						crossNavigationDocumentParams: [
							## if single PARAM node, not array
							#if($crossNavigation.PARAM_LIST.PARAM.class.name == "java.util.LinkedHashMap")
								#set($param = $crossNavigation.PARAM_LIST.PARAM)
								{ name: '$param.name', urlName:'$param.parameterUrlName', type: '$param.type', value: '$param.value' }
							#else
								##Array of parameters
								
								#foreach($param in $crossNavigation.PARAM_LIST.PARAM)
								{ name: '$param.name', urlName:'$param.parameterUrlName', type: '$param.type', value: '$param.value' },
								#end
							#end
						],
						#end
    },
	
	#*
		Customization (settings) for the "Back" button that appears when drilling
		down on the HEATMAP, needed for drilling up (returning back on the previous
		level). There is need to place it somewhere where it will not overlap the 
		chart and title/subtitle. 
		
		@author Danilo Ristovski (danristo, danilo.ristovski@mht.net)
	*#
	series:
	[
		{
			drillUpButton: 
			{
				#*
					Button will be placed on the center of the whole chart, at its bottom
					where it will not overlap the chart and title/subtitle. Position will
					be fixed.
				*#
                position: 
                {
                    align: "center",
                    verticalAlign: "bottom",
                    ##x: -10,
                    y: 8
                },
                
                #*
					Customization of style of the button.
				*#
                theme: 
                {
                    fill: 'white',
                    strokeWidth: 1,
                    stroke: 'silver',
                    r: 2,
                    
                    #* 
                    	Style of the text within the button (font size, font color, etc.) 
                    *#
                    style:
                    {
                    	fontSize: "12px"
                    },
                    
                    states: 
                    {
                        hover: 
                        {
                            fill: '#b3b3b3'
                        }
                    }
                }	
            },
		}
	],
	
	plotOptions:
	{
		series:
		{
			#* 
            	From Highcharts API: When a series contains a data array that is longer than this, 
            	only one dimensional arrays of numbers, or two dimensional arrays with x and y values 
            	are allowed. Also, only the first point is tested, and the rest are assumed to be the 
            	same format. This saves expensive data checking and indexing in long series. Set it to 
            	0 disable. Defaults to 1000.
            	
            	URL: http://api.highcharts.com/highcharts#plotOptions.series.turboThreshold
            	
            	We will increase this value in order to display series that contain a data array bigger
            	than 1000 (default), because it is most likely that we will have this situation very 
            	often.
            	
            	@author: danristo (danilo.ristovski@mht.net)
            *#
            turboThreshold: 5000
		}
	},
	
	data: 
	[
     $result
    ]
}