<md-card>
	<md-toolbar class="ternaryToolbar ">
    	<div class="md-toolbar-tools">
        	<h2>Variables settings</h2>
          	<span flex></span>
          	<md-button class="md-icon-button" ng-click="addVariablesUsage()" >
	      		<md-icon md-font-icon="fa fa-plus" aria-label="Add variable usage"></md-icon>
	      	</md-button>
        </div>
     </md-toolbar>
	<md-card-content layout="column">
		<div ng-if="!variables || variables.length == 0" flex>No variable usage set</div>             
		<div layout="row" ng-repeat="setting in variables track by $index" layout-align="start center">
			<md-input-container flex=20 class="md-block"> 
				<label>Action</label>
				<md-select aria-label="aria-label" ng-model="setting.action">
					<md-option ng-repeat="vc in variablesActions" value="{{vc.value}}">{{vc.label}}</md-option>
				</md-select>
			</md-input-container>
			
			<md-input-container flex=20 class="md-block" ng-if="setting.action"> 
				<label>Variable</label>
				<md-select aria-label="aria-label" ng-model="setting.variable">
					<md-option ng-repeat="(key,value) in cockpitModule_properties.VARIABLES" value="{{key}}">{{key}}</md-option>
				</md-select>
			</md-input-container>
			
			<md-input-container flex=20 class="md-block" ng-if="setting.action == 'show' || setting.action == 'hide'"> 
				<label>Condition</label>
				<md-select aria-label="aria-label" ng-model="setting.condition">
					<md-option ng-repeat="c in conditions" value="{{c}}">{{c}}</md-option>
				</md-select>
			</md-input-container>
			
			<md-input-container flex=20 class="md-block" ng-if="setting.action == 'show' || setting.action == 'hide'"> 
				<label>Value</label>
				<input type="text" ng-model="setting.value"/>
			</md-input-container>
			
			<span flex></span>
			
			<md-button class="md-icon-button" ng-click="deleteVariable($index)" >
		      	<md-icon md-font-icon="fa fa-trash" aria-label="Delete variable"></md-icon>
		    </md-button>
		</div>

	</md-card-content>
</md-card>