<md-card   class="flexCard customTableWidgetConfiguration" >
	<md-card-content flex layout="column" class="noPadding">
		<md-toolbar>
		  <div class="md-toolbar-tools">
		    <h2>{{translate.format(translate.load('sbi.cockpit.widget.configuration'),translate.load('sbi.cockpit.widget.chart'))}}</h2>
		    <span flex></span>
		  </div>
		</md-toolbar>
		<md-content flex layout="column">
		   
			<md-tabs flex md-border-bottom class="chartConfigContainer">
		  
		  		<md-tab label="{{translate.load('sbi.cockpit.dataset')}}">
		  			<md-card>
	        			<md-card-content layout="row">
		   					<dataset-selector flex ng-model="localModel.datasetId" on-change="handleEvent('datasetChanged',dsId)"></dataset-selector>
		     			</md-card-content>
	     			</md-card>
	     				<md-card>
	     			<md-card-content class="noPadding" layout="column" ng-show="localModel.columnSelectedOfDatasetAggregations.length>0">
	     					<md-subheader class="noPadding" style="margin-bottom:8px;">
								<div layout="row" layout-align="start center" style="height:48px; padding-left:8px">
									<span>{{translate.load('sbi.cockpit.widgets.table.tabledesignerpanel.tableoptions.tablecolumns')}}</span>
									<span flex></span>					             	
	        			            <calculated-field ng-model="localModel" callback-update-grid="updateGrid()" callback-update-alias="updateAliasOnSerie(newAlias, oldAlias)" additional-info="datasetAdditionalInfos"></calculated-field>
					                <!-- <catalog-function ng-model="localModel" callback-update-grid="updateGrid()" callback-update-alias="updateAliasOnSerie(newAlias, oldAlias)" additional-info="datasetAdditionalInfos"></catalog-function> -->   
				                </div>
							</md-subheader>
	     		        		
	        			<div  ag-grid="columnsGrid" class="ag-theme-balham ag-theme-knowage ag-theme-knowage-secondary ag-full-dimensions" style="padding:8px;">

	        			</div> 	        			
	        		 
		      			</md-card-content>
	     			</md-card>
	     						
	         	</md-tab>
		     	
		     	<md-tab label="{{translate.load('sbi.cockpit.widgets.chartengine.chartEngineDesigner.title')}}" md-on-select="handleEvent('openConfiguration')" md-on-deselect="handleEvent('closeConfiguration')">
		     	 	<div ng-show="confSpinner" layout-fill style='position:absolute;z-index: 500;background:rgba(0,0,0, 0.3);'>
       					<md-progress-circular  md-mode='indeterminate' style='top:50%;left:50%;margin-left:-25px;' ></md-progress-circular>
    				</div>
 		     	 	<chart-designer ng-if="localModel.datasetId" dataset-label="localModel.datasetLabel"  dataset-id="localModel.datasetId" is-cockpit-eng=true local-mod=localModel></chart-designer> 
					<div layout="row" layout-align="center center" ng-if="!localModel.datasetId">
						<div class="kn-noItems">{{translate.load('sbi.cockpit.table.missingdataset')}}</div>
					</div>
			    </md-tab>
		  
			    <md-tab label="{{translate.load('sbi.cockpit.style')}}" md-on-select="handleEvent('openStyle')">
			     	<cockpit-style-configurator widget ng-model="localStyle"></cockpit-style-configurator>
			    </md-tab>
			    <md-tab label="{{translate.load('sbi.cockpit.widget.table.cross')}}" md-on-select="handleEvent('openCross')" ng-if="user.isTechnicalUser == 'true'">
               		<cockpit-cross-configurator widget ng-cloak ng-model="localModel"></cockpit-cross-configurator>
          		</md-tab>
          		
          		<md-tab label="{{translate.load('sbi.cockpit.widget.table.filters')}}" md-on-select="handleEvent('openFilters')">
	      			<cockpit-filters-configuration ng-model-shared="localModel"></cockpit-filters-configuration>
			    </md-tab>
		  </md-tabs>
		</md-content>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button ng-click="cancelConfiguration()" class="md-raised">
         {{translate.load('sbi.generic.cancel')}}
      </md-button>
      <md-button ng-click="handleEvent('save')"  class="md-primary">
         {{translate.load('sbi.generic.save')}}
      </md-button>
    </md-card-actions>
</md-card>