	
<md-toolbar class="secondaryToolbar">
	
			<div class="md-toolbar-tools" layout='row'>
				{{tableDef.name}}
				
				
			</div>
			
</md-toolbar>

<angular-table 	flex
									id="{{tableDef.name}}" 
									ng-model='itemList'
									columns='[
									{"label":"LABEL","name":"label"},
									{"label":"DESCRIPTION","name":"description"}
									]'
									click-function ="itemSelected(item)"
									selected-item = "selectedItem"
									show-search-bar=true
									highlights-selected-item=true
									no-pagination=false
									ng-show=true
									
									> 
									
</angular-table>