<md-dialog aria-label="driver visualization"  style="min-width:60%" ng-form name="dataDependency">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{translate.load("sbi.documentdetails.datadependency")}}</h2>
            </div>
        </md-toolbar>
        <md-dialog-content style="padding:16px" layout="column" layout-align="start stretch">
            <div layout="row" layout-align="center center">
                <div class="kn-info" flex="60">
                    {{translate.load("sbi.documentdetails.datadependency.set")}}
                </div>
            </div>
            <div>
	                <md-input-container   ng-if='!document.category'flex>
	                    <h3>{{translate.load("sbi.documentdetails.visualdependency.analyticaldriver")}} "{{driverName}}" {{translate.load("sbi.documentdetails.datadependency.depends")}}</h3>
	                    <md-select ng-required = "'true'" ng-model="selectedDataCondition.objParFatherId" ng-change="addToChangedDataDepedencies(selectedDataCondition)" >
	                        <md-option ng-value="option.id" ng-repeat="option in drivers track by $index">
	                            {{ option.label }}
	                        </md-option>
	                    </md-select>
	                </md-input-container>
	                <md-input-container   ng-if='document.category'flex>
	                    <h3>{{translate.load("sbi.documentdetails.visualdependency.analyticaldriver")}} "{{driverName}}" {{translate.load("sbi.documentdetails.datadependency.depends")}}</h3>
	                    <md-select ng-required = "'true'" ng-model="selectedDataCondition.metaModelParFatherId" ng-change="addToChangedDataDepedencies(selectedDataCondition)" >
	                        <md-option ng-value="option.id" ng-repeat="option in drivers track by $index">
	                            {{ option.label }}
	                        </md-option>
	                    </md-select>
	                </md-input-container>
	                <p>  {{translate.load("sbi.documentdetails.datadependency.operator")}}</p>
	                  <h5>
	                    {{translate.load("sbi.documentdetails.datadependency.operatorinfo1")}} 
	                    {{getDriverNameById(selectedDataCondition)}} 
	                    {{translate.load("sbi.documentdetails.datadependency.operatorinfo2")}} </h5>
	                <md-input-container>
	                    <md-select ng-model="selectedDataCondition.filterOperation" ng-change="addToChangedDataDepedencies(selectedDataCondition)">
	                        <md-option ng-value="option" ng-repeat="option in availableOperators track by $index">
	                            {{ option }}
	                        </md-option>
	                    </md-select>
	                </md-input-container>
<hr>
					<div  ng-repeat="paruse in paruses | filter:{id:selectedDriver.parID} ">	
						<div>		  
						<label> {{translate.load("sbi.documentdetails.datadependency.check")}}</label>
						<input type="checkbox" ng-checked="selectedDataCondition.paruseId == paruse.useID || $index == 0" ng-model="selectedDataCondition.persist[paruse.useID]">
						{{selectedDataCondition.persist[paruse.useID]}}
                      <h3>{{translate.load("sbi.documentdetails.datadependency.usename")}}</h3>
	                   <p><h4>{{paruse.name}} : {{paruse.description}} </h4></p>
                   
                      <h3>{{translate.load("sbi.documentdetails.datadependency.columns")}}</h3>
           		<md-select ng-model="paruseColumns[paruse.useID]" ng-change="addToChangedDataDepedencies(selectedDataCondition)">
	                       
	                        <md-option ng-value="option" ng-repeat="option in getLovColumnsForParuse(paruse) track by $index">
	                            {{ option }}
	                        </md-option>
	             		</md-select>  
	             		</div>	                 
	            	</div> 
	            
			</div>
	        </md-dialog-content>
	        <md-dialog-actions layout="row">
	            <span flex></span>
	            <md-button class="md-raised" ng-click="close(dataDependency);">
	                 {{translate.load("sbi.documentdetails.visualdependency.cancel")}}
	            </md-button>
	            <md-button class="md-raised md-primary"  ng-disabled="visualDependency.$invalid" ng-click="hide()">
	                 {{translate.load("sbi.documentdetails.visualdependency.save")}}
	            </md-button>
	        </md-dialog-actions>
	    </form>
	</md-dialog>