@mixin custom-background-image($url) {
	background: {
		image: url($url) !important;
		repeat: no-repeat;
		size: 70%;
		position: center center;
	}
	filter: grayscale(100%);
	opacity: 0.5;
	&:hover {
		background-color:$ternaryColor;
		opacity: 0.8;
		filter: grayscale(50%);
	}
	&.active {
		opacity: 1;
		outline: none;
		filter: grayscale(0%);
	}
}

@mixin custom-preview-image($url){
	background: {
		image: url($url) !important;
		repeat: no-repeat;
		size: contain;
		position: center center;
	}
	height: 100%;
}

@mixin coolScrollBars($color, $dimensions){
	&::-webkit-scrollbar-track{
		-webkit-box-shadow: inset 0 0 $dimensions rgba(0,0,0,0.3);
		border-radius: 10px;
		background-color: #F5F5F5;
	}

	&::-webkit-scrollbar{
		width: $dimensions;
		height: $dimensions;
		background-color: #F5F5F5;
	}

	&::-webkit-scrollbar-thumb{
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 $dimensions rgba(0,0,0,.3);
		background-color: lighten($color,15%);
	}
}

@mixin custom-linear-gradient($color1,$stopColor, $stopPerc, $color2, $fallbackColor){
	background: $fallbackColor; /* Old browsers */
	background: -moz-linear-gradient(top,  $color1 0%, $stopColor $stopPerc, $color2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1 ), color-stop($stopPerc,$stopColor), color-stop(100%,$color2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  $color1 0%,$stopColor $stopPerc,$color2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  $color1 0%,$stopColor $stopPerc,$color2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, $color1 0%,$stopColor $stopPerc,$color2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  $color1 0%,$stopColor $stopPerc,$color2 100%); /* W3C */
}

@mixin custom-mask-image($imgUrl,$size : cover,$position: 0 0){
	mask-image: url($imgUrl);
	mask-size: $size;
	mask-repeat: no-repeat;
	mask-position: $position;
	-webkit-mask-image: url($imgUrl);
	-webkit-mask-size: $size;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-position: $position;
}