<md-card   >
<md-card-content flex layout="column" class="noPadding">

		<md-toolbar>
	   		<div class="md-toolbar-tools secondaryToolbar">
	   			New filter
	   			<span flex></span>
	   			<md-button 	aria-label="query settings menu" class="md-icon-button" ng-click="addNewFilter()">
		      <md-icon md-font-icon="fa-plus" class="fa s32 md-primary md-hue-2" ></md-icon>
		    </md-button>			 
	   		</div>
	   	</md-toolbar>

   <md-table-container>
  <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
    <thead md-head >
      <tr md-row>
        <th md-column ><span>Field</span></th>
        <th md-column ><span>Condition</span></th>
        <th md-column >Target</th>
        <th md-column ></th>
        <th md-column ></th>
      </tr>
    </thead>
    
    
    
    <tbody md-body>
      <tr md-row md-select="filter" md-select-id="name" md-auto-select ng-repeat="filter in filters">
        <td md-cell><md-select ng-model="filter.leftOperandDescription" >
          <md-option ng-repeat="f in entitiesField" value="{{f.id}}" ng-click="setLeftValue(f,filter)">
            {{field.entity}} : {{f.text}}
          </md-option>
        </md-select></td>
        <td md-cell> <md-select ng-model="filter.operator">
          <md-option ng-repeat="operator in getConditionOptions" value="{{operator.value}}">
            {{operator.name}}
          </md-option>
        </md-select></td>
        <td md-cell>
        	<input name="target" ng-model="filter.rightOperandDescription" ng-maxlength="100" ng-change="edit(filter)" >
        	
        	<md-menu ng-if="targetOption=='anotherEntity'" >
				<md-button 	aria-label="Open menu for setting target type" class="md-icon-button" 
					ng-click="openMenu($mdMenu.open, $event);" ng-disabled="disableCombo"
					style="margin-left:2; margin-right:2;">
				    <md-icon md-menu-origin class="fa fa-angle-down" style="display:inline"></md-icon>
				</md-button>
					      	
				<md-menu-content width="tree.length"  >
					<md-menu-item ng-repeat="entity in tree">
				      	<md-button ng-click="selectChanged(entity)">
				       		<span>{{entity.text}}</span>
				    	</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>	
			<md-menu ng-if="targetOption=='anotherField'" >
				<md-button 	aria-label="Open menu for setting target type" class="md-icon-button" 
					ng-click="openMenu($mdMenu.open, $event);" ng-disabled="disableCombo"
					style="margin-left:2; margin-right:2;">
				    <md-icon md-menu-origin class="fa fa-angle-down" style="display:inline"></md-icon>
				</md-button>
					      	
				<md-menu-content width="entitiesChildren.length"  >
					<md-menu-item ng-repeat="r in entitiesChildren">
				      	<md-button  ng-click="fillInput(filter, r, 'field')">
				       		<span>{{r.text}}</span>
				    	</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
			
			<md-menu ng-if="targetOption=='subquery'" >
				<md-button 	aria-label="Open menu for setting target type" class="md-icon-button" 
					ng-click="openMenu($mdMenu.open, $event);" ng-disabled="disableCombo"
					style="margin-left:2; margin-right:2;">
				    <md-icon md-menu-origin class="fa fa-angle-down" style="display:inline"></md-icon>
				</md-button>
					      	
				<md-menu-content width="subqueries.length"  >
					<md-menu-item ng-repeat="s in subqueries">
				      	<md-button  ng-click="fillInput(filter,s, 'subquery')">
				       		<span>{{s.text}}</span>
				    	</md-button>
					</md-menu-item>
				</md-menu-content>
			</md-menu>
        
        
        </td>
        <td md-cell><md-menu>
						<md-button 	aria-label="Open menu for setting target type" class="md-icon-button" 
							ng-click="openMenu($mdMenu.open, $event);"
							style="margin-left:2; margin-right:2;">
						    <md-icon md-menu-origin class="fa fa-ellipsis-v" style="display:inline"></md-icon>
						</md-button>
						      	
						<md-menu-content width="4">
							<md-menu-item >
					        	<md-button ng-click="changeTarget('valueOfField',filter)">
					 				<md-icon class="fa fa-pencil-square-o" style="display:inline"></md-icon>
						       		<span>Value of the field</span>
						    	</md-button>
					        </md-menu-item>
						        
						    <md-menu-item >
						    	<md-button ng-click="changeTarget('anotherEntity')" >
						        	<md-icon class="fa fa-text-width" style="display:inline"></md-icon>
						        	<span>Another field</span>
						        </md-button>
							</md-menu-item>	
						        	
						    <md-menu-item >
						    	<md-button ng-click="changeTarget('subquery')" >
						        	<md-icon class="fa fa-th-large" style="display:inline"></md-icon>
						        	<span>Subquery</span>
						        </md-button>
							</md-menu-item>	
						        	
						    <md-menu-item >
						    	<md-button ng-click="changeTarget('parameter')" >
						        	<md-icon class="fa fa-th" style="display:inline"></md-icon>
						            <span>Parameter</span>
								</md-button>
				        	</md-menu-item>	
						</md-menu-content>
					</md-menu></td>
        <td md-cell><md-button 	aria-label="Delete filter" class="md-icon-button" ng-click="deleteFilter(filter)">
		      			<md-icon md-font-icon="fa fa-trash" class="fa s32 md-primary md-hue-2" ></md-icon>
		    		</md-button></td>
     
      </tr>
    </tbody>
  </table>
</md-table-container>
</md-card-content>
<md-card-content ng-if="showTable"style="height:300px;">
	
		<angular-table layout-fill
				  id="vauleField_id" ng-model="listOfValues"
				columns='[
						{"label":"Valori","name":"column_1","size":"50px"},
						]'
				no-pagination=false
				selected-item="value" highlights-selected-item="true"
				multi-select="true" >
				 </angular-table>
	
</md-card-content>
 <md-card-actions layout="row" layout-align="end center">
      <md-button ng-click="closeFilters()" >
      cancel
      </md-button>
      <md-button ng-click="saveFilters()"  >
		save
      </md-button>
    </md-card-actions>
</md-card>