<md-card ng-if="!params" layout-fill layout="column" class="flexCard" style="position:absolute">
<md-card-content flex layout="column" class="noPadding">
	<md-toolbar class="secondaryToolbar" layout-padding>
		<div class="md-toolbar-tools">
	   		<h2><span>{{translate.load("kn.qbe.general.filters")}}</span></h2>
			<span flex></span>
			<md-button class="md-icon-button" aria-label="Add new filter" ng-click="addNewFilter()" 
					title="Tooltip">
				<md-icon md-font-icon="fa fa-plus-circle" ></md-icon>
			</md-button>
									 
	   	</div>
	</md-toolbar>
	<md-content flex layout="column">
	<md-card>
	<md-card-content layout="row" layout-padding>
		<md-table-container>
		  <table md-table md-row-select multiple ng-model="selected" md-progress="promise">
		    <thead md-head >
		      <tr md-row>
		        <th md-column ><span>{{translate.load("kn.qbe.general.field")}}</span></th>
		        <th md-column ><span>{{translate.load("kn.qbe.filters.condition")}}</span></th>
		        <th md-column >{{translate.load("kn.qbe.filters.target")}}</th>
		      <th md-column >Connector</th>  
		        <th md-column ></th>
		        <th md-column ></th>
		      </tr>
		    </thead>
		    <tbody md-body>
		      <tr md-row  md-select="filter" md-select-id="name" md-auto-select ng-repeat="filter in filters | filter: fieldFilter ">
		        <td md-cell>
		        	<input name="left" ng-model="filter.leftOperandDescription" ng-maxlength="100" ng-readonly="true" >
		        </td>
		        <td md-cell> <md-select ng-model="filter.operator">
					<md-option ng-repeat="operator in getConditionOptions" value="{{operator.value}}" >
		            	{{operator.name}}
					</md-option></md-select>
		        </td>
		        <td md-cell>
		        	<input name="target" ng-model="filter.rightOperandDescription" ng-maxlength="100" ng-change="edit(filter)" >
		        	
		        	<md-menu ng-if="targetOption=='anotherEntity'" >
						<md-button 	aria-label="Open menu for setting target type" class="md-icon-button" 
							ng-click="openMenu($mdMenu.open, $event);" ng-disabled="disableCombo"
							style="margin-left:2; margin-right:2;">
						    <md-icon md-menu-origin class="fa fa-angle-down" style="display:inline"></md-icon>
						</md-button>
							      	
						<md-menu-content width="tree.length"  >
							<md-menu-item ng-repeat="entity in tree">
								<md-menu>
						      		<md-button ng-mouseenter="openMenu($mdOpenMenu, $event);selectChanged(entity)">
						       			<span>{{entity.text}}</span>
						    		</md-button>
						    		<md-menu-content width="entitiesChildren.length"  >
						    			<md-menu-item ng-repeat="r in entitiesChildren">
						    					<md-button  ng-click="fillInput(filter, r, 'field')">
						       						<span>{{r.text}}</span>
						    					</md-button>
						    			</md-menu-item>
									</md-menu-content>
								</md-menu>
							</md-menu-item>
						</md-menu-content>
					</md-menu>	
					
					
					<md-menu ng-if="targetOption=='subquery'" >
						<md-button 	aria-label="Open menu for setting target type" class="md-icon-button" 
							ng-click="openMenu($mdMenu.open, $event);" ng-disabled="disableCombo"
							style="margin-left:2; margin-right:2;">
						    <md-icon md-menu-origin class="fa fa-angle-down" style="display:inline"></md-icon>
						</md-button>
							      	
						<md-menu-content width="subqueries.length"  >
							<md-menu-item ng-repeat="s in subqueries">
						      	<md-button  ng-click="fillInput(filter,s, 'subquery')">
						       		<span>{{s.name}}</span>
						    	</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
					<md-menu ng-if="targetOption=='parameter'" >
						<md-button 	aria-label="Open menu for setting target type" class="md-icon-button" 
							ng-click="openMenu($mdMenu.open, $event);" ng-disabled="disableCombo"
							style="margin-left:2; margin-right:2;">
						    <md-icon md-menu-origin class="fa fa-angle-down" style="display:inline"></md-icon>
						</md-button>
							      	
						<md-menu-content width="pars.length"  >
							<md-menu-item ng-repeat="p in pars">
						      	<md-button  ng-click="fillInput(filter,p, 'parameter')">
						       		<span>{{p.name}}</span>
						    	</md-button>
							</md-menu-item>
						</md-menu-content>
					</md-menu>
		   		</td>
		        <td md-cell><md-select ng-model="filter.booleanConnector" >
		        	<md-option ng-repeat="c in getBooleanConnectors" value="{{c}}"  >
		            	{{c}}
					</md-option></md-select>
		        </td>
		        <td md-cell><md-menu>
								<md-button 	aria-label="Open menu for setting target type" class="md-icon-button" 
									ng-click="openMenu($mdMenu.open, $event);"
									style="margin-left:2; margin-right:2;">
								    <md-icon md-menu-origin class="fa fa-ellipsis-v" style="display:inline"></md-icon>
								</md-button>
								      	
								<md-menu-content width="4">
									<md-menu-item >
							        	<md-button ng-click="changeTarget('valueOfField',filter)">
							 				<md-icon class="fa fa-pencil-square-o" style="display:inline"></md-icon>
								       		<span>{{translate.load("kn.qbe.filters.value.of.the.field")}}</span>
								    	</md-button>
							        </md-menu-item>
								        
								    <md-menu-item >
								    	<md-button ng-click="changeTarget('anotherEntity')" >
								        	<md-icon class="fa fa-text-width" style="display:inline"></md-icon>
								        	<span>{{translate.load("kn.qbe.filters.another.field")}}</span>
								        </md-button>
									</md-menu-item>	
								        	
								    <md-menu-item ng-if="subqueries.length>0">
								    	<md-button ng-click="changeTarget('subquery')" >
								        	<md-icon class="fa fa-th-large" style="display:inline"></md-icon>
								        	<span>{{translate.load("kn.qbe.filters.subquery")}}</span>
								        </md-button>
									</md-menu-item>	
								        	
								    <md-menu-item ng-if="pars.length>0">
								    	<md-button ng-click="changeTarget('parameter')" >
								        	<md-icon class="fa fa-th" style="display:inline"></md-icon>
								            <span>{{translate.load("kn.qbe.filters.parameter")}}</span>
										</md-button>
						        	</md-menu-item>	
								</md-menu-content>
							</md-menu></td>
		        <td md-cell><md-button 	aria-label="Delete filter" class="md-icon-button" ng-click="deleteFilter(filter)">
				      			<md-icon md-font-icon="fa fa-trash" class="fa s32 md-primary md-hue-2" ></md-icon>
				    		</md-button></td>
		     
		      </tr>
		    </tbody>
		  </table>
		</md-table-container>
		</md-card-content>
	</md-card>
	<md-card layout-padding style="height:300px; margin:0px" ng-if="showTable" >
		
			<angular-table layout-fill
					  id="vauleField_id" ng-model="listOfValues"
					columns='[
							{"label":"Valori","name":"column_1","size":"50px"},
							]'
					no-pagination=false
					selected-item="value" highlights-selected-item="true"
					multi-select="true" >
					 </angular-table>
		
	</md-card>
	</md-content>
	</md-card-content>
	 <md-card-actions layout="row" layout-align="end center">
	      <md-button ng-click="closeFilters()" >
	      {{translate.load("kn.qbe.general.cancel")}}
	      </md-button>
	      <md-button ng-click="saveFilters()"  >
			{{translate.load("kn.qbe.general.save")}}
	      </md-button>
	</md-card-actions>
</md-card>
<md-card ng-if="params"  layout-fill layout="column" class="flexCard" style="position:absolute">
<md-card-content flex layout="column" class="noPadding">
	<md-toolbar class="secondaryToolbar" layout-padding>
		<div class="md-toolbar-tools">
	   		<h2><span>{{translate.load("kn.qbe.filters.parameters")}}</span></h2>
			<span flex></span>									 
	   	</div>
	</md-toolbar>
	
	<md-content flex layout="column">
	<md-card>
	<md-card-content layout="row" layout-padding>
		 <angular-table
				id="datasetParametersTable"
				flex
				style="height:100%;padding:8px"
				ng-model=pars
				columns=parametersPreviewColumns
				show-search-bar=false
				scope-functions=paramScopeFunctions
				no-pagination=false
				current-page-number=parametersTableLastPage >
		</angular-table>
	</md-card-content>
	</md-card>
	</md-content>
	

	</md-card-content>
	 <md-card-actions layout="row" layout-align="end center">
	      <md-button ng-click="applyValueOfParameterAndContinuePreviewExecution()" class="md-raised"  md-autofocus>
       		{{translate.load("kn.qbe.filters.apply.parameters")}}
      </md-button>
      <md-button ng-click="closeFilters()" class="md-raised" style="margin-right:20px;" >
        {{translate.load("kn.qbe.general.cancel")}}
      </md-button>
	</md-card-actions>
</md-card>