associator-directive {
	position: relative;
	display: block;
	padding: 0;
}

.kn-associatorDirective{
	
	.associator-parameter {
	background-color: #C4DCF3;
	color: rgba(255, 255, 255, 0.87);
	font-size: 15px;
	padding: 5px 16px 0 16px !important;
	font-weight: 400;
	min-height: 33px !important
	}
	.associator-parameter.highlight-selected-parameter {
		background-color: #a9c3db;
	}

	.associator-parameter.link {
		color: black;
		background-color: #E6E6E6;
	}
	.associator-parameter .fa-link {
		color: #3F51B5;
	}
	.loadingSpinner {
		text-align: center;
		vertical-align: middle;
		width: 100%;
		height: 100%;
	}
	.openDocIcon {
		margin-top: 6px;
		color: white;
	}

	.parametersList {
		&:first-child {
			padding-right:10px;
		}
		li {
			border: 0;
			padding: 2px;
			border: 0 !important;
		}
		&>div {
			padding: 3px;
		}
		md-list {
			border: 1px solid #a9c3db;
			md-list-item {
				min-height: 36px;
				._md-list-item-inner {
					min-height: 36px;
				}
				&.over {
					background-color: rgba(128, 128, 128, 0.32);
					border: 1px dashed;
				}
				&.errorClass {
					background-color: rgba(255, 0, 0, 0.29);
					border: 1px dashed red;
				}
				&.multyValue>.md-button>._md-list-item-inner {
					height: 100% !important;
				}
			}	
		}
	}

	button.md-raised {
		margin-top: 22px;
	}

	.truncate {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
