.kn-datasetmanagement{

.required-message {
  color: #c70751 !important;
  font-size: 12px;
  line-height: 14px;
  opacity: 1;
  padding-top: 5px;
  margin-top: 0;
}

.fullscreen-dialog {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

}