.kn-importExportDocument {
	.absolute {
		position:absolute;
	}

	md-tabs-canvas {
    	background-color: $tabBackground;
	}

	div.importSteps>md-content {
		    height: calc(100% - 25px);
	}

	.sourceTargetToolbar {
	/* 	background-color: rgba(63, 81, 181, 0.38); */
	    text-align: center;
	    z-index: 4;
	        margin-bottom: 1px;
	}

	.importSteps .md-subheader-wrapper,.importSteps .md-subheader {
		text-align: center;
	}

	.centerText{
		 text-align: center;
	}

	.miniheadimportexport {
		h2 {
			padding-left: 14px;
		}
	}

	.mainContainer {
		background-color: $importExportBackground;
	}
	md-radio-button {
		display: flex;
		align-items: center;
	}

	.internalFab.md-knowage-theme {
		top:-10px !important;
	}
	.line-container {
		max-width: 100rem !important;
	}

	#AssociationFileUploadImport {
		padding: 0;
	}
	#fileUploadImport {
		padding: 0;
	}
	component-tree {
		md-checkbox {
			margin-bottom: 0;
			display: flex;
			align-items: center;
		}
	}
	

}
