<!-- manual number input -->
	<div class="textInput" ng-if="param.type == 'Number'"  layout="column" layout-margin>
		<<div layout="row" layout-align="start center" class="labelContainer">
			<label ng-class='requiredField'  flex = 80 ng-style= ''>{{param.name}} </label> 
			<md-icon md-font-icon="fa fa-eraser" ng-click="driversExecutionService.resetParameter(param)">
				<md-tooltip md-delay="1000">{{sbiModule_translate.load("sbi.execution.parametersselection.parameter.clear")}}</md-tooltip>
			</md-icon>
		</div>
		<md-input-container class="md-block noMargin" flex>
			<input class="input_class" ng-model="param.value"  ng-required=true type="number" />	
		</md-input-container>
	</div>
	
	<!-- manual text input -->
	<div ng-if="param.type=='String'" layout="column" layout-margin class="textInput">
		<div layout="row" layout-align="start center" class="labelContainer">
			<label ng-class='requiredField'  flex = 80 ng-style= ''>{{param.name}} </label> 
			<md-icon md-font-icon="fa fa-eraser" ng-click="driversExecutionService.resetParameter(param)">
				<md-tooltip md-delay="1000">{{sbiModule_translate.load("sbi.execution.parametersselection.parameter.clear")}}</md-tooltip>
			</md-icon>
		</div>
		<md-input-container class="md-block noMargin" flex>
			<input class="input_class" ng-model="param.value"  ng-required=true />
		</md-input-container>
	</div>