/* -- import Roboto Font ---------------------------- */
@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/roboto/Roboto-Regular-webfont.eot');
    src: url('../../fonts/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/roboto/Roboto-Regular-webfont.woff') format('woff'),
         url('../../fonts/roboto/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../../fonts/roboto/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');

}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/roboto/Roboto-Italic-webfont.eot');
    src: url('../../fonts/roboto/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/roboto/Roboto-Italic-webfont.woff') format('woff'),
         url('../../fonts/roboto/Roboto-Italic-webfont.ttf') format('truetype'),
         url('../../fonts/roboto/Roboto-Italic-webfont.svg#RobotoItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/roboto/Roboto-Bold-webfont.eot');
    src: url('../../fonts/roboto/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/roboto/Roboto-Bold-webfont.woff') format('woff'),
         url('../../fonts/roboto/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../../fonts/roboto/Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/roboto/Roboto-BoldItalic-webfont.eot');
    src: url('../../fonts/roboto/Roboto-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/roboto/Roboto-BoldItalic-webfont.woff') format('woff'),
         url('../../fonts/roboto/Roboto-BoldItalic-webfont.ttf') format('truetype'),
         url('../../fonts/roboto/Roboto-BoldItalic-webfont.svg#RobotoBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/roboto/Roboto-Thin-webfont.eot');
    src: url('../../fonts/roboto/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/roboto/Roboto-Thin-webfont.woff') format('woff'),
         url('../../fonts/roboto/Roboto-Thin-webfont.ttf') format('truetype'),
         url('../../fonts/roboto/Roboto-Thin-webfont.svg#RobotoThin') format('svg');
    font-weight: 200;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/roboto/Roboto-ThinItalic-webfont.eot');
    src: url('../../fonts/roboto/Roboto-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/roboto/Roboto-ThinItalic-webfont.woff') format('woff'),
         url('../../fonts/roboto/Roboto-ThinItalic-webfont.ttf') format('truetype'),
         url('../../fonts/roboto/Roboto-ThinItalic-webfont.svg#RobotoThinItalic') format('svg');  
    font-weight: 200;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/roboto/Roboto-Light-webfont.eot');
    src: url('../../fonts/roboto/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/roboto/Roboto-Light-webfont.woff') format('woff'),
         url('../../fonts/roboto/Roboto-Light-webfont.ttf') format('truetype'),
         url('../../fonts/roboto/Roboto-Light-webfont.svg#RobotoLight') format('svg');
    font-weight: 100;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/roboto/Roboto-LightItalic-webfont.eot');
    src: url('../../fonts/roboto/Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/roboto/Roboto-LightItalic-webfont.woff') format('woff'),
         url('../../fonts/roboto/Roboto-LightItalic-webfont.ttf') format('truetype'),
         url('../../fonts/roboto/Roboto-LightItalic-webfont.svg#RobotoLightItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/roboto/Roboto-Medium-webfont.eot');
    src: url('../../fonts/roboto/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/roboto/Roboto-Medium-webfont.woff') format('woff'),
         url('../../fonts/roboto/Roboto-Medium-webfont.ttf') format('truetype'),
         url('../../fonts/roboto/Roboto-Medium-webfont.svg#RobotoMedium') format('svg');
    font-weight: 300;
    font-style: normal;
}
 
@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/roboto/Roboto-MediumItalic-webfont.eot');
    src: url('../../fonts/roboto/Roboto-MediumItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/roboto/Roboto-MediumItalic-webfont.woff') format('woff'),
         url('../../fonts/roboto/Roboto-MediumItalic-webfont.ttf') format('truetype'),
         url('../../fonts/roboto/Roboto-MediumItalic-webfont.svg#RobotoMediumItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

/* -- import Material Icons Font -------------------- */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/materialIcons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../../fonts/materialIcons/MaterialIcons-Regular.woff2) format('woff2'),
       url(../../fonts/materialIcons/MaterialIcons-Regular.woff) format('woff'),
       url(../../fonts/materialIcons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons-row {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 25px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons-admin {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 21px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  vertical-align: middle;  
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


/* -- You can use this sidebar in Bootstrap (v3) projects. HTML-markup like Navbar bootstrap component will make your work easier. -- */
/* -- Box model ------------------------------- */
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* -- Demo style ------------------------------- */
html,
body {
  position: relative;
  min-height: 100%;
  height: 100%;
}
body {
  font-family: 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  color: #212121;
  background-color: #f5f5f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.sidebar-overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  background: #000;
  z-index: 1034;
  -webkit-transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -moz-transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 0 linear 0.4s, opacity 0.4s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.sidebar-overlay.active {
  opacity: 0.5;
  visibility: visible;
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  transition-delay: 0;
}
.top-bar {
  height: 30px;
  position: absolute;
  bottom: 0;
  right: -8px;
}
/* -- Google typography ------------------------------- */
.headline {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
  color: #212121;
  text-transform: inherit;
  letter-spacing: inherit;
}
.subhead {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.1;
  color: #212121;
  text-transform: inherit;
  letter-spacing: inherit;
}
/* ---- ADMIN SIDEBAR STYLE ------------------------*/
#contieniLinkAdmin{
background: #f2f5f6; /* Old browsers */
background: -moz-linear-gradient(top,  #ECEFF1 0%, #e3eaed 37%, #BDBDBD 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ECEFF1), color-stop(37%,#e3eaed), color-stop(100%,#BDBDBD)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ECEFF1 0%,#e3eaed 37%,#BDBDBD 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ECEFF1 0%,#e3eaed 37%,#BDBDBD 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ECEFF1 0%,#e3eaed 37%,#BDBDBD 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ECEFF1 0%,#e3eaed 37%,#BDBDBD 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ECEFF1', endColorstr='#BDBDBD',GradientType=0 ); /* IE6-9 */
  position: fixed;
  height: 95%;
  top: 30px;
  z-index: 1035;
  left:0;
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.gruppoLinkAdmin{
  margin-bottom: 5px;
  min-height: 205px;
}
#contieniLinkAdmin {
  width: 0;
  overflow: hidden;
  -webkit-transform: translate3d(-90%, 0, 0);
  transform: translate3d(-90%, 0, 0);
}

#contieniLinkAdmin h4 {
    color: #F0F1F2;
    margin-top: 5px;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
    border-radius: 3px;
    background: #3B668C;
    padding: 4px;
    width: 90%;
  
}
#contieniLinkAdmin ul {
  padding-top:10px;
  padding-left: 5px;
  list-style: none;
  font-family: 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
  font-weight: 100;
}

#contieniLinkAdmin li {
  position: relative;
  margin-left: 1em;
}
#contieniLinkAdmin li:before {
  font-family: 'Material Icons';
  position: absolute;
  left: -1em;
  content: "";
  font-size: 12px;
}
#contieniLinkAdmin li a{
  text-decoration: none;
  color: black;
  font-size:12px;
  -webkit-transition: color 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: color 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: color 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  font-weight: 300;
}

#contieniLinkAdmin li a:hover{
  color: #44619d;
}

#contieniLinkAdmin.open {
  min-width: 600px;
  width: 90%;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  border-radius: 5px;
}

#contieniLinkAdmin .row{
  padding-left: 300px;
  padding-top: 10px;
}


/* -- Bootstrap-like style ------------------------------- */
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.caretPosition {
	position: absolute !important;
    right: 24px !important;
    top: 20px !important;
    color: #f5f5f5 !important;
}	

.nav-pills>li>a {
   color: #ADBDCC;
   border-radius:0px;
   font-family: 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #243C51;
}

.dropdown-menu {
  display: none;
  

}
/* -- Constructor style ------------------------------- */
.constructor {
  position: relative;
  margin: 0;
  padding: 0 50px;
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.sidebar,
.wrapper {
  display: table-cell;
  vertical-align: top;
}
.sidebar-stacked.open + .wrapper .constructor {
  margin-left: 280px;
}
@media (max-width: 768px) {
  .sidebar-stacked.open + .wrapper .constructor {
    margin-left: 240px;
  }
}
/* -- Sidebar style ------------------------------- */
.sidebar {
 background-color:#3b668c;
  position: relative;
  display: block;
  min-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  border: none;
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  -o-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.sidebar:before,
.sidebar:after {
  content: " ";
  display: table;
}
.sidebar:after {
  clear: both;
}
.sidebar::-webkit-scrollbar-track {
  border-radius: 2px;
}
.sidebar::-webkit-scrollbar {
  width: 5px;
  background-color: #F7F7F7;
}
.sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #BFBFBF;
}
.sidebar .sidebar-header {
  position: relative;
  height: 110px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.sidebar .sidebar-header.header-cover {
  background-image: url('logoCover.png');
  background-repeat: no-repeat;
  background-position: center 20%;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: 90%;
  font-family: 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
  font-weight: 400;
}

.sidebar .sidebar-header.header-cover > i {
	 margin-top: 70px;
	 margin-left: 15px;
}
.sidebar .sidebar-header:hover .sidebar-toggle {
  opacity: 1;
}
.sidebar .sidebar-toggle {
  position: relative;
  float: right;
  padding: 0;
  background-image: none;
  border: none;
  width: 40px;
  font-size: 20px;
  opacity: 0.7;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.sidebar .sidebar-toggle:before,
.sidebar .sidebar-toggle:after {
  content: " ";
  display: table;
}
.sidebar .sidebar-toggle:after {
  clear: both;
}
.sidebar .icon-material-sidebar-arrow:before {
  content: "\e610";
}
.sidebar .sidebar-image img {
  width: 54px;
  height: 54px;
  margin: 16px;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.sidebar .sidebar-brand {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  height: 48px;
  line-height: 48px;
  padding: 0;
  padding-left: 16px;
  padding-right: 56px;
  text-decoration: none;
  clear: both;
  font-weight: 500;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.sidebar .sidebar-brand:hover,
.sidebar .sidebar-brand:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.sidebar .sidebar-brand .caret {
  position: absolute;
  right: 24px;
  top: 24px;
}
.sidebar .sidebar-brand .sidebar-badge {
  position: absolute;
  right: 16px;
  top: 12px;
}
.sidebar .sidebar-brand:hover,
.sidebar .sidebar-brand:focus {
  text-decoration: none;
}
.sidebar .sidebar-badge {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  line-height: 24px;
  padding: 0 3px;
  font-size: 10px;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}
.sidebar .sidebar-badge.badge-circle {
  border-radius: 50%;
}
.sidebar .sidebar-divider,
.sidebar .sidebar-nav .divider {
  position: relative;
  display: block;
  height: 1px;
  margin: 8px 0;
  padding: 0;
  overflow: hidden;
}
.sidebar .sidebar-text {
  display: block;
  height: 48px;
  line-height: 48px;
  padding: 0;
  padding-left: 16px;
  padding-right: 56px;
  text-decoration: none;
  clear: both;
  font-weight: 500;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.sidebar .sidebar-text:hover,
.sidebar .sidebar-text:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.sidebar .sidebar-text .caret {
  position: absolute;
  right: 24px;
  top: 24px;
}
.sidebar .sidebar-text .sidebar-badge {
  position: absolute;
  right: 16px;
  top: 12px;
}
.sidebar .sidebar-icon {
  display: inline-block;
  margin-right: 16px;
  min-width: 40px;
  width: 40px;
  text-align: left;
  vertical-align: baseline;
  position: relative;
  top: 5px;
}
.sidebar .sidebar-icon:before,
.sidebar .sidebar-icon:after {
  vertical-align: middle;
}
.sidebar .sidebar-nav {
  margin: 0;
  padding: 0;
}
.sidebar .sidebar-nav li {
  position: relative;
  list-style-type: none;
  display: inline-block;
  width: 100%;
  
}
.sidebar .sidebar-nav li a {
  position: relative;
  cursor: pointer;
  user-select: none;
  display: block;
  /*height: 30px;*/
  line-height: 30px;
  padding: 0;
  padding-left: 16px;
  padding-right: 56px;
  text-decoration: none;
  clear: both;
 /* font-weight: 500;*/
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.sidebar .sidebar-nav li a:hover,
.sidebar .sidebar-nav li a:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}
.sidebar .sidebar-nav li a .caret {
  position: absolute;
  right: 24px;
  top: 24px;
}
.sidebar .sidebar-nav li a .sidebar-badge {
  position: absolute;
  right: 16px;
  top: 12px;
}
.sidebar .sidebar-nav li a:hover {
  background: transparent;
}
.sidebar .sidebar-nav .dropdown-menu {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.sidebar-default {
  background-color: #ffffff;
}
.sidebar-default .sidebar-header {
  background-color: #eceff1;
}
.sidebar-default .sidebar-toggle {
  color: #212121;
  background-color: transparent;
}
.sidebar-default .sidebar-brand {
  color: #757575;
  background-color: transparent;
}
.sidebar-default .sidebar-brand:hover,
.sidebar-default .sidebar-brand:focus {
  color: #212121;
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebar-default .sidebar-badge {
  color: #ffffff;
  background-color: #bdbdbd;
}
.sidebar-default .sidebar-divider,
.sidebar-default .sidebar-nav .divider {
  background-color: #bdbdbd;
}
.sidebar-default .sidebar-text {
  color: #212121;
}
.sidebar-default .sidebar-nav li > a {
  color: #212121;
  background-color: transparent;
}
.sidebar-default .sidebar-nav li > a i {
  color: #757575;
}
.sidebar-default .sidebar-nav li:hover > a,
.sidebar-default .sidebar-nav li > a:hover {
  color: #212121;
  background-color: #e0e0e0;
}
.sidebar-default .sidebar-nav li:hover > a i,
.sidebar-default .sidebar-nav li > a:hover i {
  color: #757575;
}
.sidebar-default .sidebar-nav li:focus > a,
.sidebar-default .sidebar-nav li > a:focus {
  color: #212121;
  background-color: transparent;
}
.sidebar-default .sidebar-nav li:focus > a i,
.sidebar-default .sidebar-nav li > a:focus i {
  color: #757575;
}
.sidebar-default .sidebar-nav > .open > a,
.sidebar-default .sidebar-nav > .open > a:hover,
.sidebar-default .sidebar-nav > .open > a:focus {
  color: #212121;
  background-color: #e0e0e0;
}
.sidebar-default .sidebar-nav > .active > a,
.sidebar-default .sidebar-nav > .active > a:hover,
.sidebar-default .sidebar-nav > .active > a:focus {
  color: #212121;
  background-color: #e0e0e0;
}
.sidebar-default .sidebar-nav > .disabled > a,
.sidebar-default .sidebar-nav > .disabled > a:hover,
.sidebar-default .sidebar-nav > .disabled > a:focus {
  color: #e0e0e0;
  background-color: transparent;
}
.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu {
  background-color: #e0e0e0;
}
.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu > li > a:focus {
  background-color: #e0e0e0;
  color: #212121;
}
.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu > li > a:hover {
  background-color: #cecece;
  color: #212121;
}
.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu > .active > a,
.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu > .active > a:hover,
.sidebar-default .sidebar-nav > .dropdown > .dropdown-menu > .active > a:focus {
  color: #212121;
  background-color: #e0e0e0;
}
.sidebar-inverse {
  background-color: #3b668c;
}
.sidebar-inverse .sidebar-header {
  background-color: #eceff1;
}
.sidebar-inverse .sidebar-toggle {
  color: #BDBDBD;
  background-color: transparent;
  cursor:pointer;
}
.sidebar-inverse .sidebar-brand {
  color: #757575;
  background-color: transparent;
}
.sidebar-inverse .sidebar-brand:hover,
.sidebar-inverse .sidebar-brand:focus {
  color: #212121;
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebar-inverse .sidebar-badge {
  color: #212121;
  background-color: #e0e0e0;
}
.sidebar-inverse .sidebar-divider,
.sidebar-inverse .sidebar-nav .divider {
  background-color: #bdbdbd;
}
.sidebar-inverse .sidebar-text {
  color: #f5f5f5;
}
.sidebar-inverse .sidebar-nav li > a {
    color: #f5f5f5;
    background-color: transparent;
    font-family: 'Roboto', 'Helvetica Neue, Helvetica, Arial', sans-serif;
    font-size: 12px;
    font-weight: 400;
}
.sidebar-inverse .sidebar-nav li > a i {
  color: #bdbdbd;
}
.sidebar-inverse .sidebar-nav li:hover > a,
.sidebar-inverse .sidebar-nav li > a:hover,
.sidebar-inverse .sidebar-nav li > a:active  {
  color: #bdbdbd;
  background-color: #243C51;
}
.sidebar-inverse .sidebar-nav li:hover > a i,
.sidebar-inverse .sidebar-nav li > a:hover i {
  color: #bdbdbd;
}
.sidebar-inverse .sidebar-nav li:focus > a,
.sidebar-inverse .sidebar-nav li > a:focus {
  color: #f5f5f5;
  background-color: #243C51;
}
.sidebar-inverse .sidebar-nav li:focus > a i,
.sidebar-inverse .sidebar-nav li > a:focus i {
  color: #bdbdbd;
}
.sidebar-inverse .sidebar-nav > .open > a,
.sidebar-inverse .sidebar-nav > .open > a:hover,
.sidebar-inverse .sidebar-nav > .open > a:focus {
  color: #bdbdbd;
  background-color: #000000;
}
.sidebar-inverse .sidebar-nav > .active > a,
.sidebar-inverse .sidebar-nav > .active > a:hover,
.sidebar-inverse .sidebar-nav > .active > a:focus {
  color: #f5f5f5;
  background-color: #000000;
}
.sidebar-inverse .sidebar-nav > .disabled > a,
.sidebar-inverse .sidebar-nav > .disabled > a:hover,
.sidebar-inverse .sidebar-nav > .disabled > a:focus {
  color: #757575;
  background-color: transparent;
}
.sidebar-inverse .sidebar-nav > .dropdown > .dropdown-menu {
  	background-color: #1e2933;
}
.sidebar-inverse .sidebar-nav > .dropdown > .dropdown-menu.open{
 display:block;
}
.sidebar-inverse .sidebar-nav > .dropdown > .dropdown-menu > li > a:focus {
  background-color: #000000;
  color: #bdbdbd;
}
.sidebar-inverse .sidebar-nav > .dropdown > .dropdown-menu > li > a:hover {
  background-color: #000000;
  color: #bdbdbd;
}
.sidebar-inverse .sidebar-nav > .dropdown > .dropdown-menu > .active > a,
.sidebar-inverse .sidebar-nav > .dropdown > .dropdown-menu > .active > a:hover,
.sidebar-inverse .sidebar-nav > .dropdown > .dropdown-menu > .active > a:focus {
  color: #f5f5f5;
  background-color: #000000;
}
.sidebar-colored {
  background-color: #ffffff;
}
.sidebar-colored .sidebar-header {
  background-color: #e91e63;
}
.sidebar-colored .sidebar-toggle {
  color: #f5f5f5;
  background-color: transparent;
}
.sidebar-colored .sidebar-brand {
  color: #e0e0e0;
  background-color: transparent;
}
.sidebar-colored .sidebar-brand:hover,
.sidebar-colored .sidebar-brand:focus {
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebar-colored .sidebar-badge {
  color: #ffffff;
  background-color: #ec407a;
}
.sidebar-colored .sidebar-divider,
.sidebar-colored .sidebar-nav .divider {
  background-color: #bdbdbd;
}
.sidebar-colored .sidebar-text {
  color: #212121;
}
.sidebar-colored .sidebar-nav li > a {
  color: #212121;
  background-color: transparent;
}
.sidebar-colored .sidebar-nav li > a i {
  color: #757575;
}
.sidebar-colored .sidebar-nav li:hover > a,
.sidebar-colored .sidebar-nav li > a:hover {
  color: #e91e63;
  background-color: #e0e0e0;
}
.sidebar-colored .sidebar-nav li:hover > a i,
.sidebar-colored .sidebar-nav li > a:hover i {
  color: #f06292;
}
.sidebar-colored .sidebar-nav li:focus > a,
.sidebar-colored .sidebar-nav li > a:focus {
  color: #212121;
  background-color: transparent;
}
.sidebar-colored .sidebar-nav li:focus > a i,
.sidebar-colored .sidebar-nav li > a:focus i {
  color: #f06292;
}
.sidebar-colored .sidebar-nav > .open > a,
.sidebar-colored .sidebar-nav > .open > a:hover,
.sidebar-colored .sidebar-nav > .open > a:focus {
  color: #e91e63;
  background-color: #e0e0e0;
}
.sidebar-colored .sidebar-nav > .active > a,
.sidebar-colored .sidebar-nav > .active > a:hover,
.sidebar-colored .sidebar-nav > .active > a:focus {
  color: #212121;
  background-color: #f5f5f5;
}
.sidebar-colored .sidebar-nav > .disabled > a,
.sidebar-colored .sidebar-nav > .disabled > a:hover,
.sidebar-colored .sidebar-nav > .disabled > a:focus {
  color: #e0e0e0;
  background-color: transparent;
}
.sidebar-colored .sidebar-nav > .dropdown > .dropdown-menu {
  background-color: #e0e0e0;
}
.sidebar-colored .sidebar-nav > .dropdown > .dropdown-menu > li > a:focus {
  background-color: #e0e0e0;
  color: #e91e63;
}
.sidebar-colored .sidebar-nav > .dropdown > .dropdown-menu > li > a:hover {
  background-color: #cecece;
  color: #e91e63;
}
.sidebar-colored .sidebar-nav > .dropdown > .dropdown-menu > .active > a,
.sidebar-colored .sidebar-nav > .dropdown > .dropdown-menu > .active > a:hover,
.sidebar-colored .sidebar-nav > .dropdown > .dropdown-menu > .active > a:focus {
  color: #212121;
  background-color: #f5f5f5;
}
.sidebar-colored-inverse {
  background-color: #e91e63;
}
.sidebar-colored-inverse .sidebar-header {
  background-color: #eceff1;
}
.sidebar-colored-inverse .sidebar-toggle {
  color: #212121;
  background-color: transparent;
}
.sidebar-colored-inverse .sidebar-brand {
  color: #757575;
  background-color: transparent;
}
.sidebar-colored-inverse .sidebar-brand:hover,
.sidebar-colored-inverse .sidebar-brand:focus {
  color: #212121;
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebar-colored-inverse .sidebar-badge {
  color: #212121;
  background-color: #e0e0e0;
}
.sidebar-colored-inverse .sidebar-divider,
.sidebar-colored-inverse .sidebar-nav .divider {
  background-color: #bdbdbd;
}
.sidebar-colored-inverse .sidebar-text {
  color: #e0e0e0;
}
.sidebar-colored-inverse .sidebar-nav li > a {
  color: #f5f5f5;
  background-color: transparent;
}
.sidebar-colored-inverse .sidebar-nav li > a i {
  color: #e0e0e0;
}
.sidebar-colored-inverse .sidebar-nav li:hover > a,
.sidebar-colored-inverse .sidebar-nav li > a:hover {
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebar-colored-inverse .sidebar-nav li:hover > a i,
.sidebar-colored-inverse .sidebar-nav li > a:hover i {
  color: #f5f5f5;
}
.sidebar-colored-inverse .sidebar-nav li:focus > a,
.sidebar-colored-inverse .sidebar-nav li > a:focus {
  color: #f5f5f5;
  background-color: transparent;
}
.sidebar-colored-inverse .sidebar-nav li:focus > a i,
.sidebar-colored-inverse .sidebar-nav li > a:focus i {
  color: #f5f5f5;
}
.sidebar-colored-inverse .sidebar-nav > .open > a,
.sidebar-colored-inverse .sidebar-nav > .open > a:hover,
.sidebar-colored-inverse .sidebar-nav > .open > a:focus {
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebar-colored-inverse .sidebar-nav > .active > a,
.sidebar-colored-inverse .sidebar-nav > .active > a:hover,
.sidebar-colored-inverse .sidebar-nav > .active > a:focus {
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0.2);
}
.sidebar-colored-inverse .sidebar-nav > .disabled > a,
.sidebar-colored-inverse .sidebar-nav > .disabled > a:hover,
.sidebar-colored-inverse .sidebar-nav > .disabled > a:focus {
  color: #bdbdbd;
  background-color: transparent;
}
.sidebar-colored-inverse .sidebar-nav > .dropdown > .dropdown-menu {
  background-color: rgba(0, 0, 0, 0.1);
}
.sidebar-colored-inverse .sidebar-nav > .dropdown > .dropdown-menu.open{
 display:block;
}
.sidebar-colored-inverse .sidebar-nav > .dropdown > .dropdown-menu > li > a:focus {
  background-color: rgba(0, 0, 0, 0.1);
  color: #f5f5f5;
}
.sidebar-colored-inverse .sidebar-nav > .dropdown > .dropdown-menu > li > a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: #f5f5f5;
}
.sidebar-colored-inverse .sidebar-nav > .dropdown > .dropdown-menu > .active > a,
.sidebar-colored-inverse .sidebar-nav > .dropdown > .dropdown-menu > .active > a:hover,
.sidebar-colored-inverse .sidebar-nav > .dropdown > .dropdown-menu > .active > a:focus {
  color: #f5f5f5;
  background-color: rgba(0, 0, 0, 0.2);
}
.sidebar {
  width: 0;
  -webkit-transform: translate3d(-280px, 0, 0);
  transform: translate3d(-280px, 0, 0);
}
.sidebar.open {
  min-width: 280px;
  width: 280px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.sidebar-fixed-left,
.sidebar-fixed-right,
.sidebar-stacked {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 1036;
}
.sidebar-stacked {
  left: 0;
}
.sidebar-fixed-left {
  left: 0;
  box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.35);
}
.sidebar-fixed-right {
  right: 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.35);
  -webkit-transform: translate3d(280px, 0, 0);
  transform: translate3d(280px, 0, 0);
}
.sidebar-fixed-right.open {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.sidebar-fixed-right .icon-material-sidebar-arrow:before {
  content: "\e614";
}
@media (max-width: 768px) {
  .sidebar.open {
    min-width: 240px;
    width: 240px;
  }
  .sidebar .sidebar-header {
    height: 135px;
  }
  .sidebar .sidebar-image img {
    width: 44px;
    height: 44px;
  }
}




	.overlayButtonBar{
		background-color: rgba(90,90,90,0.2);
		border-radius: 4px;
		position: fixed;
		bottom: 10px;
		left: 10px;
		z-index: 1000;
		padding: 10px;
		width: 184px;
		height: 40px;
		cursor:move; 
		box-shadow: 0px 1px 4px rgba(0,0,0,0.37);
	}
	.overlayButtonBar:hover{
		background-color: rgba(90,90,90,0.3);
	}
	.menuKnowage{
		color: black;
		float: left;
		opacity: .6;

	}
	.logoKnowage{
		float:left;
		width: 120px;
		height: 22px;
		display: block;
		opacity: 1;
		margin-left:20px;
		margin-top:4px;
		opacity: .6;
	}
	.logoKnowage img{	
		margin-top:0px
	}
	.menuKnowage:hover, .logoKnowage:hover{
		opacity: 1;

	}
	
    .icoFlag{
    display: block;
    text-decoration: none;
    padding-left: 40px;
    background-size: contain;
    background-repeat: no-repeat;
    }

.iconBar> li  {
	text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    
}    

.iconBar> li >a {
    padding: 15px;
    color:#bdbdbd;
    display: inline-block;
}

.iconBar .navbar-icon {
    display: inline-block;
   /* margin-right: 16px;*/
   /* min-width: 40px;*/
   /* width: 40px;*/
    text-align: center;
    vertical-align: baseline;
   /* position: relative;*/
    top: 5px;
   /* color:#ECEFF1;*/
}

.iconBar>li>a:focus, .iconBar>li>a:hover {
    text-decoration: none;
    background:#3B668C;
    background-color: #243C51;
}

.centered {
	text-align: center;
}

.iconBar {
	margin-right: 0;
    display: inline-block;
    float: none;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .iconBar {
        margin-left: 0;
    }
}

.container-fluid {
    padding-right: 0px; 
   	padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.iconBarAdmin {
	margin-right: 0;
	margin-left: 0;
    display: inline-block;
    float: none;
    width: 100%;
}

.iconBarAdmin li{
	height:50px;
	text-align:center;
}

.iconBarAdmin li > a{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
	color:#bdbdbd;
}

.iconBarAdmin li > a:hover,
.iconBarAdmin li > a:active,
.iconBarAdmin li > a:focus{
	background-color: #243C51;
}