 				 	<angular-table  ng-hide="showGridView==true || ngModel.length==0 " flex layout-fill style="position:relative"
							id='federationListTable' ng-model=ngModel
							columns='[{"label":"Label","name":"label"},{"label":"Name","name":"name"}]'
							columnsSearch='["name"]' 
							show-search-bar=false
							speed-menu-option=tableSpeedMenuOption
							highlights-selected-item="true"
							selected-item=selectedFederation
							click-function="clickFederation(item);">
						</angular-table>
					 
					
					
					<!-- Federation Grid View -->
					<div layout="row"  layout-wrap ng-hide="showGridView!=true " >
					<md-card class="documentCard" ng-repeat="federation in ngModel| orderBy:orderingFederationCards" ng-class="{'md-whiteframe-15dp' : selectedFederation==federation }">
			        <md-card-title>
				          <md-card-title-text>
				            <p class=" ellipsis">{{federation.name}}</p>
				             <md-tooltip md-delay="1500">
				              {{federation.name}}
				            </md-tooltip>
				          </md-card-title-text>
				    </md-card-title>
 			        <img src="/knowage/themes/sbi_default/img/metamodel/federation.png" class="md-card-image" alt="image caption"> 
			        <md-card-actions layout="row" layout-align="space-around end">
			          <md-button class="md-icon-button" aria-label="showQbe" ng-click="showFederationAction({fed:federation});">
			            <md-icon md-font-icon="fa fa-search fa-2x"></md-icon>
			              <md-tooltip md-delay="1000">
				              show qbe
				            </md-tooltip>
			          </md-button>
			          
			          <md-button class="md-icon-button" aria-label="edit" ng-click="editFederationAction({fed:federation});">
			            <md-icon md-font-icon="fa  fa-pencil fa-2x"></md-icon>
			            <md-tooltip md-delay="1000">
				              edit
				            </md-tooltip>
			          </md-button>
			        	 
<!-- 			          <md-button class="md-icon-button" aria-label="Favorite" ng-click="executeDocumentAction({doc:document});"> -->
<!-- 			            <md-icon md-font-icon="fa fa-play-circle fa-2x"></md-icon> -->
<!-- 			          </md-button> -->
			          
<!-- 			          <md-button class="md-icon-button" aria-label="Settings" ng-click="cloneDocumentAction({doc:document});"> -->
<!-- 			            <md-icon md-font-icon="fa fa-clone fa-2x"></md-icon> -->
<!-- 			          </md-button> -->
			          
			          <md-button class="md-icon-button" aria-label="delete" ng-if="deleteFederationAction != undefined" ng-click="deleteFederationAction({fed:federation});">
			            <md-icon md-font-icon="fa fa-trash fa-2x"></md-icon>
			            <md-tooltip md-delay="1000">
				              delete
				            </md-tooltip>
			          </md-button>
			          
			        </md-card-actions>
			      </md-card>
	 
					</div> 
				</md-content>