<md-card class="flexCard customTableWidgetConfiguration" ng-cloak >
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{::translate.format(translate.load('sbi.cockpit.widget.configuration'),translate.load('sbi.cockpit.widget.selector'))}}</h2>
			<span flex/>
		</div>
	</md-toolbar>
	<md-card-content flex layout="column" class="noPadding">
			<md-tabs md-border-bottom flex>
			
				<md-tab label="{{::translate.load('sbi.cockpit.widget.table.columns')}}">
					<cockpit-selector-configurator ></cockpit-selector-configurator>
				</md-tab>
				
				<md-tab label="{{::translate.load('sbi.cockpit.style')}}">
					<md-card ng-if="model.settings.modalityValue && model.settings.modalityValue!='multiDropdown'">
						<md-toolbar class="ternaryToolbar" >
							<div class="md-toolbar-tools" layout="row">
								<h2>Label</h2>
								<span flex></span>
							</div>
						</md-toolbar>
						
						<md-card-content>
							<div flex layout=column >
								<div flex layout="row" >
									
									<md-input-container flex class="md-block">
										<label>{{::translate.load('sbi.cockpit.table.fontfamily')}}</label>
										<md-select aria-label="aria-label" ng-model="model.style['font-family']">
											<md-option ng-repeat="fam in cockpitModule_generalOptions.fontFamily" value="{{fam.value}}">
												<span ng-style="{'font-family':fam.value}">{{fam.label}}</span>
											</md-option>
										</md-select>
									</md-input-container>
									<md-input-container flex class="md-block" >
										<label>{{::translate.load("sbi.cockpit.style.titles.font.size")}}</label>
										<input ng-model="model.style['font-size']" type="text"/>
										<div class="hint">{{::translate.load('sbi.cockpit.style.fontSize.hint')}}</div>
									</md-input-container>
									<md-input-container flex class="md-block">
										<label>{{::translate.load('sbi.cockpit.table.fontweight')}}</label>
										<md-select aria-label="aria-label" ng-model="model.style['font-weight']" >
											<md-option ng-repeat="weight in cockpitModule_generalOptions.fontWeight" value="{{weight.value}}">
												<span ng-style="{'font-weight':weight.value}">{{weight.label}}</span>
											</md-option>
										</md-select>
									</md-input-container>
									<md-input-container flex class="md-block">
										<label>{{::translate.load('sbi.cockpit.style.font.style')}}</label>
										<md-select aria-label="aria-label" ng-model="model.style['font-style']">
											<md-option ng-repeat="fst in cockpitModule_generalOptions.fontStyle" ng-value="fst.value">
												<span ng-style="{'font-style':fst.value}">{{fst.label}}</span>
											</md-option>
										</md-select>
									</md-input-container>
									
								</div>
								<div flex layout=column >
									<div flex layout="row" >
										<md-input-container flex class="md-block">
											<label>{{::translate.load('sbi.cockpit.widget.selector.label.height')}}</label>
											<input ng-model="model.style['height']" type="text">
										</md-input-container>
										<md-input-container flex class="md-block" >
											<label>{{::translate.load('sbi.cockpit.widget.selector.label.fontcolor')}}</label>
											<color-picker options="{format:'rgb'}" ng-model="model.style.color"/>
										</md-input-container>
										<md-input-container flex class="md-block" >
											<label>{{::translate.load('sbi.cockpit.table.backgroundcolor')}}</label>
											<color-picker options="{format:'rgb'}" ng-model="model.style['background-color']"/>
										</md-input-container>
									</div>
								</div>
							</div>
						</md-card-content>

					</md-card>
					
					<cockpit-style-configurator widget ng-model="model.style"></cockpit-style-configurator>
				</md-tab>

				<md-tab label="{{::translate.load('sbi.cockpit.widget.table.filters')}}">
					<cockpit-filters-configuration ng-model-shared="model">
				</md-tab>
				
			</md-tabs>
	</md-card-content>
	
	<md-card-actions layout="row" layout-align="end center">
		<span flex></span>
		<md-button ng-click="cancelConfiguration()" class=" md-raised" >
			{{::translate.load('sbi.generic.cancel')}}
		</md-button>
		<md-button ng-click="saveConfiguration()" class="md-primary md-raised" >
			{{::translate.load('sbi.generic.save')}}
		</md-button>
	</md-card-actions>
	
</md-card>