<md-card class="flexCard customTableWidgetConfiguration" ng-cloak >
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{::translate.format(translate.load('sbi.cockpit.widget.configuration'),translate.load('sbi.cockpit.widget.selector'))}}</h2>
			<span flex/>
		</div>
	</md-toolbar>
	<md-card-content flex layout="column" class="noPadding">
			<md-tabs md-border-bottom flex>
			
				<md-tab label="{{::translate.load('sbi.cockpit.widget.table.columns')}}">
					<cockpit-selector-configurator ></cockpit-selector-configurator>
				</md-tab>
				
				<md-tab label="{{::translate.load('sbi.cockpit.style')}}">
					<cockpit-style-configurator widget ng-model="model.style"></cockpit-style-configurator>
				</md-tab>

				<md-tab label="{{::translate.load('sbi.cockpit.widget.table.filters')}}">
					<cockpit-filters-configuration ng-model-shared="model">
				</md-tab>
				
			</md-tabs>
	</md-card-content>
	
	<md-card-actions layout="row" layout-align="end center">
		<span flex></span>
		<md-button ng-click="cancelConfiguration()" class=" md-raised" >
			{{::translate.load('sbi.generic.cancel')}}
		</md-button>
		<md-button ng-click="saveConfiguration()" class="md-primary md-raised" >
			{{::translate.load('sbi.generic.save')}}
		</md-button>
	</md-card-actions>
	
</md-card>