<md-dialog class="multiselectionDialog">
    <md-toolbar class="secondaryToolbar">
      <div class="md-toolbar-tools">
        <h2 class="text-transform-none">{{title || targetColumn.name}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="selectAll()">
        	<md-icon md-font-icon="fa fa-check-square-o" ng-if="!allSelected"></md-icon>
        	<md-icon md-font-icon="fa fa-eraser" ng-if="allSelected"></md-icon>
        	<md-tooltip md-delay="500">{{translate.load('kn.cockpit.selector.selectall')}}</md-tooltip>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content style="min-width:400px;">
    	<div layout="row" layout-align="start center">
      		<md-input-container class="md-icon-float md-block" flex>
      			<label>{{translate.load('kn.cockpit.selector.search')}}</label>
      			 <md-icon md-font-icon="fa fa-search"></md-icon>
      			<input type="text" ng-model="searchText"/>
      		</md-input-container>
      	</div>
      	<div ng-show="selectables.length == 0" layout="row" layout-align="center center">
      		<div class="kn-noItems" flex="60">{{translate.load('kn.cockpit.widget.selector.noitems')}}</div>
      	</div>
	    <md-list ng-show="selectables.length > 0">
			<md-virtual-repeat-container id="vertical-container">
		      <md-list-item md-virtual-repeat="item in selectables | filter:{name:searchText}" class="selectableList" ng-class="{'disabled': !settings.hideDisabled && isDisabled(item.name)}">
		         	<p class="truncated"> {{ item.name }} </p>
    				<md-checkbox class="md-secondary" ng-model="item.selected" ng-disabled="!settings.hideDisabled && isDisabled(item.name)"></md-checkbox>
		      </md-list-item>
		    </md-virtual-repeat-container>
	    </md-list>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised" ng-click="cancel()">
       {{translate.load('kn.cockpit.selector.cancel')}}
      </md-button>
      <md-button class="md-raised md-primary" ng-click="close()">
        {{translate.load('kn.cockpit.selector.select')}}
      </md-button>
    </md-dialog-actions>
</md-dialog>