<div flex layout-align="center center" class="cockpitSelectorWidget">
	<div ng-if="ngModel.settings.modalityValue=='singleValue' && showSelection && !isSelectedColumnTemporal()" layout="column" class="cSelWScroller" ng-class="{'horizontal':ngModel.settings.modalityView=='horizontal','grid':ngModel.settings.modalityView=='grid'}">
		<div ng-if="ngModel.settings.modalityValue!='multiValue'" layout="column" 
			ng-class="{'horizontal':ngModel.settings.modalityView=='horizontal','grid':ngModel.settings.modalityView=='grid' }" ng-click="selectElement($event)" >
			<label class="kn-custom-radio-container" ng-repeat="record in datasetRecords.rows" ng-disabled="::isDisabled(record.column_1)" title="{{::record.column_1}}" ng-style="::gridWidth()">
				<span>{{::record.column_1}}</span>
			  <input type="radio" ng-checked="::isSelected(record.column_1)" ng-disabled="::isDisabled(record.column_1)" ng-value="::record.column_1">
			  <span class="checkmark"></span>
			</label>
		</div>
	</div>
	
	<!-- lov list multiple input -->
	<div ng-if="ngModel.settings.modalityValue=='multiValue' && showSelection && !isSelectedColumnTemporal()" layout="column" class="cSelWScroller"
		ng-class="{'horizontal':ngModel.settings.modalityView=='horizontal','grid':ngModel.settings.modalityView=='grid' }" ng-click="selectElement($event)" >
		<label class="kn-custom-checkbox-container" ng-repeat="record in datasetRecords.rows" ng-disabled="::isDisabled(record.column_1)" title="{{::record.column_1}}" ng-style="::gridWidth()">
			<span>{{::record.column_1}}</span>
		  <input type="checkbox" ng-checked="::isSelected(record.column_1)" ng-disabled="::isDisabled(record.column_1)" ng-value="::record.column_1">
		  <span class="checkmark"></span>
		</label>
	</div>
	
	<!-- lov combobox single and multiple input -->
	<div ng-if="ngModel.settings.modalityValue=='dropdown' && !isSelectedColumnTemporal()" layout="column" class="selectParameter cockpitSelectorWidgetCombobox" layout-padding layout-fill layout-align="center center">
	
		<!-- single -->
		<md-input-container class="md-block" ng-if="showSelection" style="width:100%">
			<div class="kn-select">
				<select ng-model="selectedValues[0]" ng-change="toggleParameter(selectedValues[0])"
						ng-options="value disable when isDisabled(value) for value in datasetRecords.rows.map(mapToColumn)" ng-style="::gridWidth()">
					<option></option>
				</select>
			</div>
		</md-input-container>
		
		<!-- multiple 
		<md-input-container class="md-block multipleSelect" ng-if="ngModel.settings.modalityValue=='multiValue' && showSelection" style="width:100%">
			<div class="kn-select multipleSelect">
				<select ng-model="selectedValues" multiple ng-change="toggleParameter(selectedValues)" 
						ng-options="value disable when isDisabled(value) for value in datasetRecords.rows.map(mapToColumn)" ng-style="::gridWidth()"></select>
			</div>
		</md-input-container-->
		
	</div>
	
	<!-- date pickers -->
	<div ng-show="isSelectedColumnTemporal()" layout="column" class="cSelWScroller" ng-class="{'horizontal':ngModel.settings.modalityView=='horizontal','grid':ngModel.settings.modalityView=='grid'}" ng-cloak>
	
		<div layout="row" layout-align="start center">
			<md-input-container>
				<label>{{::translate.load(ngModel.settings.modalityValue=='multiValue' ? "sbi.cockpit.widgets.selector.startdate" : "sbi.cockpit.widgets.selector.singledate")}}</label>
				<md-datepicker name="startDate" ng-model="startDate" md-max-date="ngModel.settings.modalityValue=='multiValue' ? endDate : null" md-open-on-focus ng-style="::gridWidth()"></md-datepicker>
			</md-input-container>
			
			<md-button class="md-icon-button" aria-label="Clear start date" title="Clear start date" ng-click="clearStartDate()">
				<md-icon md-font-icon="fa fa-eraser"></md-icon>
			</md-button>
		</div>
		
		<div layout="row" layout-align="start center" ng-show="ngModel.settings.modalityValue=='multiValue'">
			<md-input-container>
				<label>{{::translate.load("sbi.cockpit.widgets.selector.enddate")}}</label>
				<md-datepicker name="endDate" ng-model="endDate" md-min-date="startDate" md-open-on-focus ng-style="::gridWidth()"></md-datepicker>
			</md-input-container>
			
			<md-button class="md-icon-button" aria-label="Clear end date" title="Clear end date" ng-click="clearEndDate()">
				<md-icon md-font-icon="fa fa-eraser"></md-icon>
			</md-button>
		</div>
		
	</div>

</div>