<div flex layout-align="start" class="cockpitSelectorWidget">
	<div ng-if="ngModel.settings.modalityPresent=='LIST' && ngModel.settings.modalityValue!='multiValue'" layout="column" class="cSelWScroller" ng-class="{'horizontal':ngModel.settings.modalityView=='horizontal','grid':ngModel.settings.modalityView=='grid'}">
		<md-radio-group ng-model="parameter">
			<md-radio-button class="md-primary cSelWRadio" ng-repeat="record in datasetRecords.rows"  
			value="{{record.column_1+''}}" ng-click="toggleRadioParameter(record.column_1+'')"
			>
				{{record.column_1}} 
			</md-radio-button>
		</md-radio-group>
	</div>
	
	<!-- lov list multiple input -->
	<div ng-if="ngModel.settings.modalityPresent=='LIST' && ngModel.settings.modalityValue=='multiValue'" layout="column" class="checkBoxParameter cSelWScroller" ng-class="{'horizontal':ngModel.settings.modalityView=='horizontal','grid':ngModel.settings.modalityView=='grid' }">
		<div class="cSelWCheckContainer">
			<md-checkbox class="md-primary cSelWCheck" ng-checked="checkboxParameterExists(record.column_1+'')" 
			value="{{record.column_1+''}}" ng-click="toggleCheckboxParameter(record.column_1+'')" 
			layout="row" layout-align="start center" ng-repeat="record in datasetRecords.rows"
			>
				{{record.column_1}}
			</md-checkbox>
		</div>
		
	</div>
	
	<!-- lov combobox single and multiple input -->
	<div ng-if="ngModel.settings.modalityPresent=='COMBOBOX'" layout="column"  class="selectParameter cockpitSelectorWidgetCombobox" layout-padding>
		<md-input-container class="md-block" ng-if="ngModel.settings.modalityValue=='multiValue'" >
		<!-- multiple -->
			<md-select ng-model="multiCombo.selected" multiple  md-on-close="clearParamSearch()"> 
		 		
				<md-select-header>
				        <md-input-container class="md-block">
				          <input
				            type="search"
				            ng-model="searchParamText"
				            ng-keydown="$event.stopPropagation()"
				            placeholder="Search..">
				          </md-input-container>  
				        </md-select-header>
				        <md-option ng-repeat="record in datasetRecords.rows | filter:searchParamText" 
				        ng-value="record.column_1+''" ng-click="toggleComboParameter(record.column_1+'', false)"
				       >
					{{record.column_1}}
				</md-option>
			</md-select>
			
		</md-input-container>
		<md-input-container class="md-block"  ng-if="ngModel.settings.modalityValue!='multiValue'" >
			<!-- single -->
			<md-select ng-model="parameter" 
		         ng-if="ngModel.settings.modalityValue!='multiValue'" md-on-close="clearParamSearch()"> 
				<md-select-header>
				        <md-input-container class="md-block">
				          <input
				            type="search"
				            ng-model="searchParamText"
				            ng-keydown="$event.stopPropagation()"
				            placeholder="Search..">
				          </md-input-container>  
				        </md-select-header>

				<md-option ng-repeat="record in datasetRecords.rows | filter:searchParamText" 
				ng-value="record.column_1+''" ng-click="toggleComboParameter(record.column_1+'',true)"
				>
					{{record.column_1}}
				</md-option>
			</md-select>
		</md-input-container>
	</div>
</div>