.kn-decoration-none {
    text-decoration: none;
    color: inherit;
}

.kn-height-full {
    height: 100% !important;
}

.kn-width-full {
    width: 100%;
}

.kn-width-full {
    width: 100%;
}

.kn-width-full-with-menu {
    width: calc(100vw - var(kn-mainmenu-width));
}

.kn-detail {
    overflow: auto;
    flex: 1;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.kn-draggable {
    cursor: grab;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.kn-height-full-vertical {
    height: 100vh;
    overflow: hidden;
}

.kn-hide {
    display: none;
}

.kn-flex {
    flex: 1;
}

.kn-relative {
    position: relative;
}

.kn-absolute {
    position: absolute;
}

.kn-flex-0 {
    flex: 0;
}

.kn-flex-05 {
    flex: 0.5;
}

.kn-overflow-y {
    overflow-y: auto;
}

.kn-overflow-x {
    overflow-x: auto;
}

.kn-overflow {
    overflow: auto;
}

.kn-remove-card-padding {
    :deep(.p-card-body) {
        padding: 0;
        .p-card-content {
            padding: 0;
        }
    }
}

.kn-no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.kn-no-decoration {
    text-decoration: none;
    color: inherit;
}

.kn-router-view {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.kn-small-paginator {
    @media screen and (max-width: 1200px) {
        .p-paginator-first,
        .p-paginator-last,
        .p-paginator-pages {
            display: none;
        }
    }
}

.kn-truncated {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.kn-text-success {
    color: var(--kn-color-success) !important;
}

.kn-text-error {
    color: var(--kn-color-error) !important;
}

.kn-warning-icon {
    color: var(--kn-color-warning);
}

.kn-cursor-pointer {
    cursor: pointer;
}

.kn-white-color {
    color: var(--kn-button-text-color) !important;
}

.kn-alternated-rows {
    & > div {
        &:nth-child(even) {
            background-color: var(--kn-list-item-alternated-background-color);
        }
    }
}
