.p-component {
    font-family: var(--kn-font-family);
}

.kn-disabled-text {
    color: var(--kn-color-disabled);
}

.kn-capitalize {
    text-transform: capitalize;
}
h1{
    font-size: 2rem;
    line-height: 2rem;
    text-transform: capitalize;
}
h2{
    font-size: 1.7rem;
    line-height: 1.7rem;
    text-transform: capitalize;
}
h3{
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-transform: capitalize;
}
h4{
    font-size: 1.3rem;
    line-height: 1.3rem;
    text-transform: capitalize;
}
h5{
    font-size: 1.2rem;
    line-height: 1.2rem;
    text-transform: capitalize;
}
