.kn-material-input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

label.kn-material-input-label {
    color: var(--kn-color-primary) !important;
    text-transform: capitalize;
}

label.kn-material-input-label.kn-required-alert {
    color: red !important;
}
