<div ng-controller="hierMasterController">
	<md-content layout="row" layout-wrap>
		<div class="div-container" flex style="margin-right: 20px;" >
			<md-toolbar class="miniheadhiersmall" style="border-bottom: 2px solid grey;" ng-click='debug()'>
				<div class="md-toolbar-tools">
					<i class="fa fa-list"></i>
					<h2 class="md-flex" style="padding-left: 14px">{{translate.load("sbi.hierarchies.dimensions");}}</h2>
					<span flex=""></span>					
				</div>
			</md-toolbar>
			<md-content id='hierMasterDim' layout-padding layout='column' layout-align='space-around stretch'>
		        <md-content id='dimensionsSelection' layout='row' layout-wrap layout-align='space-around center' layout-sm='column' layout-align-sm='space-around stretch' style='width:96%'>
			        <md-datepicker ng-model="dateDim" ng-change='getDimensionsTable(dateFilterDim,seeHideLeafDim,false,false)' md-placeholder="{{translate.load('sbi.hierarchies.date');}}" required></md-datepicker>
					<md-input-container flex flex-sm='90'>
						<label>{{translate.load("sbi.hierarchies.dimensions");}}</label>
			        	<md-select ng-model='dim' ng-disabled='!dateDim' md-on-close='getDimensionsTable(undefined,undefined,true,true);getHierarchies()'>
			        		<md-option ng-value="dim" ng-repeat="dim in dimensions">{{ dim.DIMENSION_NM }}</md-option>
			        	</md-select>
					</md-input-container>
				</md-content>
		      	<md-content layout='row' layout-align='start start'>
					<md-icon ng-if="!seeFilterDim" class="fa fa-filter" ng-click="toggleSeeFilter('dim')"></md-icon>
					<md-icon ng-if="seeFilterDim" class="fa fa-times" ng-click="toggleSeeFilter('dim')"></md-icon>
				</md-content>
				<md-content id='hierarchiesDimFilters' ng-show='seeFilterDim' layout-fill>
					<fieldset class="standard" >
				        <legend>Filters</legend>
				        <div layout="column" layout-wrap flex layout-align="space-around stretch">
				        	<md-content layout='row' layout-fill layout-align='start center'>
				        		After Date: <md-datepicker ng-model="dateFilterDim" ng-disabled="!dim"></md-datepicker>
				        	</md-content>
				        	<md-content layout='row' layout-fill layout-align='space-between center'>
				        		<md-checkbox ng-model="seeHideLeafDim" style='height: 33px;' ng-disabled="!dim || !hierMaster">{{translate.load("sbi.hierarchies.show.misselement");}}</md-checkbox>
				        		 <div>
					        		 <md-icon class="fa fa-check" ng-click="getDimensionsTable(dateFilterDim,seeHideLeafDim,false,false)"></md-icon>
							         <md-icon class="fa fa-trash" ng-click="getDimensionsTable(undedined,undefined,true,false)"></md-icon>
						         </div>
			        		</md-content>
			        	</div>
			        </fieldset>
				</md-content>
		      	<md-content style="position:relative;min-height:32rem;max-height:32rem;" ng-if="dimensionsTable && dimensionsTable.length > 0">
		      		<angular-table
				        id='dimTable'
				        ng-model="dimensionsTable"
					    columns="columnsTable"
					    columns-search="columnSearchTable"
					    show-search-bar = "true"
					    drag-enabled = "true"
					    enable-clone = "true"
					    no-drop-enabled = "true"
					    no-pagination = "false"
					    show-empty-placeholder = "false"
					    highlights-selected-item="true"
					    speed-menu-option="dimSpeedMenu"
					    drag-drop-options="tableOptions"
					    class="table-object"
					>
					</angular-table>
				</md-content>
				<md-content class='' ng-show='dimensionsTable.length==0 && dim && dateDim' layout='row' layout-padding layout-align ='space-around center'>
					<h4>{{translate.load("sbi.hierarchies.nodata");}}</h4>
				</md-content> 	  	
				<md-content layout="row" layout-align="start start">	
					<md-button ng-click="crateMasterHier()" ng-disabled="!dim || !dateDim" class="md-raised md-ExtraMini" style="min-width:15rem;">{{translate.load("sbi.hierarchies.new.create.master");}}</md-button>
					<md-button ng-click="synchronizeMaster()" ng-disabled="true" class="md-raised md-ExtraMini" style="min-width:15rem;">{{translate.load("sbi.hierarchies.synchronize");}}</md-button>
				</md-content>
			</md-content>
		</div>													    
		<div  class="div-container" flex>
			<md-toolbar class="miniheadhiersmall" style="border-bottom: 2px solid grey;" >
				<div class="md-toolbar-tools">
					<i class="fa fa-list"></i>
					<h2 class="md-flex" style="padding-left: 14px">{{translate.load("sbi.hierarchies.hierarchies");}}</h2>
					<span flex=""></span>					
				</div>
			</md-toolbar>
			<md-content id='hierMasterTree' layout-padding layout='column' layout-align='space-around stretch'>
				<md-content layout='row' layout-xs='column' layout-padding layout-align='space-around center'>
					<md-datepicker ng-model="dateTree" ng-change="getTree()"></md-datepicker>
					<md-button ng-click='saveTree()' ng-disabled='!treeDirty' class='md-raised md-ExtraMini'>{{translate.load("sbi.generic.update");}}</md-button>
					<md-checkbox ng-model="doBackup" ng-disabled='!treeDirty'>{{translate.load("sbi.hierarchies.backup");}}</md-checkbox>
				</md-content>
				<md-content id='hierarchiesSelection' layout='row' layout-wrap layout-align='space-around center' layout-sm='column' layout-align-sm='space-around stretch' style='width:96%'>
					<md-input-container flex flex-sm='90'>
				        	<label>{{translate.load("sbi.hierarchies.hierarchies");}} {{translate.load("sbi.generic.type");}}</label>
				        	<md-select type='text' ng-model='hierType' ng-disabled='!dateTree || !dim' md-on-close='getHierarchies()'>
				        		<md-option ng-value="hierType" ng-repeat="hierType in hierarchiesType">{{ hierType}}</md-option>
				        	</md-select>
						</md-input-container>
					<md-input-container flex flex-sm='90'>
			        	<label>{{translate.load("sbi.hierarchies.hierarchies");}}</label>
			        	<label ng-if=''>{{translate.load("sbi.hierarchies.hierarchies");}}</label>
			        	<md-select type='text' ng-model='hierMaster'  md-on-close='getTree()' ng-disabled='!dim || !hierType || hierarchiesMaster == undefined || hierarchiesMaster.length==0'>
			        		<md-option ng-value="hierMaster" ng-repeat="hierMaster in hierarchiesMaster">{{ hierMaster.HIER_NM	}}</md-option>
			        	</md-select>
					</md-input-container>
				</md-content>
				<md-content layout='row' layout-align='start start'>
					<md-icon ng-if="!seeFilterTree" class="fa fa-filter" ng-click="toggleSeeFilter('tree')"></md-icon>
					<md-icon ng-if="seeFilterTree" class="fa fa-times" ng-click="toggleSeeFilter('tree')"></md-icon>
				</md-content>
				<md-content id='hierarchiesTreeFilters' ng-show='seeFilterTree' layout-fill>
					<fieldset class="standard" >
				        <legend>Filters</legend>
				        <div layout="column" layout-wrap flex layout-align="space-around stretch">
					        <md-content layout='row' layout-fill layout-align='space-around center'>
						        <md-input-container flex='40'>
						        	<label>{{translate.load("sbi.ds.filterLabel");}}</label>
						        	<input type='text' ng-model='filterByTree' ng-disabled="!hierMaster"></input>
					      		</md-input-container>
						        <md-input-container flex='40'>
						        	<label>{{translate.load("sbi.ds.orderComboLabel");}}</label>
						        	<md-select type='text' ng-model='orderByTree' ng-disabled="!hierMaster">
						        		<md-option ng-value="orderByTree" ng-repeat="orderByTree in orderByFields">{{ orderByTree }}</md-option>
						        	</md-select>
						        </md-input-container>
					        </md-content>
					        <md-content layout='row' layout-fill layout-align='start center'>
				        		After Date: <md-datepicker ng-model="dateFilterTree" ng-disabled="!hierMaster"></md-datepicker>
				        	</md-content>
				        	<md-content layout='row' layout-fill layout-align='space-between center'>
				        		<md-checkbox ng-model="seeHideLeafTree" style='height: 33px;' ng-disabled="!hierMaster">{{translate.load("sbi.hierarchies.show.misselement");}}</md-checkbox>
				        		 <div>
					        		 <md-icon class="fa fa-check" ng-click="applyFilter('tree')"></md-icon>
							         <md-icon class="fa fa-trash" ng-click="removeFilter('tree')"></md-icon>
						         </div>
			        		</md-content>
			        	</div>
			        </fieldset>
				</md-content>
				<md-content ng-hide="showLoading || hierTree.length == 0" layout-padding>
					<document-tree id="master" 
						ng-model="hierTree"
						create-tree="false" 
						multi-select='false' keys='keys' 
						text-search='filterByTreeTrigger' 
						fields-search='["name"]' 
						order-by='orderByTreeTrigger' 
						menu-option='menuOptionTree' 
						enable-drag='true' 
						no-drop-enabled='false' 
						enable-clone='true' 
						show-empty-placeholder='true'
						options-drag-drop = "treeOptions"
						>
					</document-tree>
				</md-content>
				<md-content class='waitingContainer' ng-show='showLoading' layout='row' layout-padding layout-align ='space-around center'>
					<md-progress-circular md-mode="indeterminate"></md-progress-circular>
					<h4>{{translate.load("sbi.generic.wait");}}</h4>
				</md-content>
				<md-content class='' ng-show='hierTree.length==0 && !showLoading && dateTree && hierType && hierMaster' layout='row' layout-padding layout-align ='space-around center'>
					<h4>{{translate.load("sbi.hierarchies.nodata");}}</h4>
				</md-content>
			</md-content>
		</div>
	</md-content>
</div>