<div ng-controller="hierMasterController">
	<md-content layout="row" layout-wrap>
		<div class="div-container" flex style="margin-right: 20px;" >
			<md-toolbar class="miniheadhiersmall" style="border-bottom: 2px solid grey;" ng-click='debug()'>
				<div class="md-toolbar-tools">
					<i class="fa fa-list"></i>
					<h2 class="md-flex" style="padding-left: 14px">{{translate.load("sbi.hierarchies.dimensions");}}</h2>
					<span flex=""></span>					
				</div>
			</md-toolbar>
			<md-content id='hierMasterDim' layout-padding layout='column' layout-align='space-around stretch'>
		        <md-content id='dimensionsSelection' layout='row' layout-wrap layout-align='space-around center' layout-sm='column' layout-align-sm='space-around stretch' style='width:96%'>
			        <md-datepicker ng-model="dateDim" ng-change='getDimensionsTable()' md-placeholder="{{translate.load('sbi.hierarchies.date');}}" required></md-datepicker>
					<md-input-container flex flex-sm='90'>
						<label>{{translate.load("sbi.hierarchies.dimensions");}}</label>
			        	<md-select ng-model='dim' ng-disabled='!dateDim' md-on-close='getDimensionsTable()'>
			        		<md-option ng-value="dim" ng-repeat="dim in dimensions">{{ dim.DIMENSION_NM }}</md-option>
			        	</md-select>
					</md-input-container>
				</md-content>
		       <div  layout="row" layout-align="start center" style="padding:0 15px">	     
			       <div layout="row"  md-no-float  ng-init="showFilter=false;showPostData=false;"> 		      		
					     <md-icon md-font-icon="fa fa-filter" ng-click="showFilter=true;"></md-icon> 									 
						 <md-checkbox class="tableSearchBar" md-no-ink ng-if="showFilter" ng-model="filter4Hier" ng-change="filterData(filter4Hier,'hier')">
						   		Foglie non presenti in gerarchia
						 </md-checkbox>
						 <md-checkbox class="tableSearchBar" md-no-ink    ng-if="showFilter" ng-model="filter4Data" >Data</md-checkbox>
						 <md-datepicker ng-model="filterDate" md-placeholder="" ng-if="showFilter"  ></md-datepicker>
						 <md-icon ng-show="showFilter" md-font-icon="fa fa-trash" ng-click="showFilter=false;showPostData=false;filterVal='';searchFilter(searchVal);" 
						 		  class="closeSearchBar" style="padding-left:30px;"></md-icon>
			       	</div> 
		      	</div>
		      	<div style="position:relative;min-height:30rem;max-height:32rem;" ng-if="dimensionsTable && dimensionsTable.length > 0">
		      		<angular-table
				        id='dimTable'
				        ng-model="dimensionsTable"
					    columns="columnsTable"
					    columns-search="columnSearchTable"
					    show-search-bar = "true"
					    drag-enabled = "true"
					    enable-clone = "true"
					    show-empty-placeholder = "true"
					    no-pagination = false
					    highlights-selected-item="true"											
					>
					</angular-table>
				</div> 	  	
				<md-content layout="row"  layout-align="end center" style="width:100%">
					<md-button ng-disabled="true" class="md-raised md-ExtraMini" style="min-width: 12rem;">{{translate.load("sbi.hierarchies.new.create");}}</md-button>
				</md-content>
			</md-content>
		</div>													    
		<div  class="div-container" flex>
			<md-toolbar class="miniheadhiersmall" style="border-bottom: 2px solid grey;" >
				<div class="md-toolbar-tools">
					<i class="fa fa-list"></i>
					<h2 class="md-flex" style="padding-left: 14px">{{translate.load("sbi.hierarchies.hierarchies");}}</h2>
					<span flex=""></span>					
				</div>
			</md-toolbar>
			<md-content id='hierMasterTree' layout-padding layout='column' layout-align='space-around stretch'>
				<md-content layout='row' layout-xs='column' layout-padding layout-align='space-around center'>
					<md-datepicker ng-model="dateTree" ng-change="getTree()"></md-datepicker>
					<md-button ng-click='createTree()' ng-disabled=' !dateTarget' class='md-raised md-ExtraMini'>{{translate.load("sbi.generic.create");}}</md-button>
					<md-button ng-click='saveTree()' ng-disabled='!treeDirty' class='md-raised md-ExtraMini'>{{translate.load("sbi.generic.update");}}</md-button>
				</md-content>
				<md-content id='hierarchiesSelection' layout='row' layout-wrap layout-align='space-around center' layout-sm='column' layout-align-sm='space-around stretch' style='width:96%'>
					<md-input-container flex flex-sm='90'>
				        	<label>{{translate.load("sbi.hierarchies.hierarchies");}} {{translate.load("sbi.generic.type");}}</label>
				        	<md-select type='text' ng-model='hierType' ng-disabled='!dateTree || !dim' md-on-close='getHierarchies()'>
				        		<md-option ng-value="hierType" ng-repeat="hierType in hierarchiesType">{{ hierType}}</md-option>
				        	</md-select>
						</md-input-container>
					<md-input-container flex flex-sm='90'>
			        	<label>{{translate.load("sbi.hierarchies.hierarchies");}}</label>
			        	<label ng-if=''>{{translate.load("sbi.hierarchies.hierarchies");}}</label>
			        	<md-select type='text' ng-model='hierMaster'  md-on-close='getTree("target")' ng-disabled='!dim || hierarchiesMaster.length==0'>
			        		<md-option ng-value="hierMaster" ng-repeat="hierMaster in hierarchiesMaster">{{ hierMaster.HIER_NM	}}</md-option>
			        	</md-select>
					</md-input-container>
				</md-content>
				<md-content layout='row' layout-align='start start'>
					<md-icon ng-if="!seeFilterTarget" class="fa fa-filter" ng-click="toogleSeeFilter('target')"></md-icon>
					<md-icon ng-if="seeFilterTarget" class="fa fa-times" ng-click="toogleSeeFilter('target')"></md-icon>
				</md-content>
				<md-content id='hierarchiesMasterFilters' ng-show='seeFilterTarget' layout-fill>
					<fieldset class="standard" >
				        <legend>Filters</legend>
				        <div layout="column" layout-wrap flex layout-align="space-around stretch">
					        <md-content layout='row' layout-fill layout-align='space-around center'>
						        <md-input-container flex='40'>
						        	<label>{{translate.load("sbi.ds.filterLabel");}}</label>
						        	<input type='text' ng-model='filterByTarget'></input>
					      		</md-input-container>
						        <md-input-container flex='40'>
						        	<label>{{translate.load("sbi.ds.orderComboLabel");}}</label>
						        	<md-select type='text' ng-model='orderByTarget'>
						        		<md-option ng-value="orderByTarget" ng-repeat="orderByTarget in orderByFields">{{ orderByTarget }}</md-option>
						        	</md-select>
						        </md-input-container>
					        </md-content>
					        <md-content layout='row' layout-fill layout-align='start center'>
				        		After Date: <md-datepicker ng-model="dateFilterTarget"></md-datepicker>
				        	</md-content>
				        	<md-content layout='row' layout-fill layout-align='space-between center'>
				        		<md-checkbox ng-model="seeHideLeafTarget" style='height: 33px;'>{{translate.load("sbi.hierarchies.show.misselement");}}</md-checkbox>
				        		 <div>
					        		 <md-icon class="fa fa-check" ng-click="applyFilter('target')"></md-icon>
							         <md-icon class="fa fa-trash" ng-click="removeFilter('target')"></md-icon>
						         </div>
			        		</md-content>
			        	</div>
			        </fieldset>
				</md-content>
				<md-content>
					<document-tree id="master" ng-model="hierTree" create-tree="false" multi-select='false' keys='keys' text-search='filterByTargetTrigger' 
				fields-search='["name"]' order-by='orderByTargetTrigger' menu-option='menuOptionTarget' drag-enabled='false' no-drop-enabled='false' enable-clone='false'></document-tree>
				</md-content>
			</md-content>
		</div>
	</md-content>
</div>