<md-tab-content class="knowage-grey-color" layout="column">
	<div layout="row" layout-align="center center" class="chart-tab-margin-top" flex>
		<md-whiteframe class="md-whiteframe-4dp" layout layout-align="center center" flex=80 style="height:85%;">
			<div flex=40 layout-fill style="overflow:auto">
				<md-content layout-padding>

					<md-input-container  class="md-block whiteframe-element-padding">
						<label>{{translate.load("sbi.chartengine.designer.styleforparameters")}}</label>	
						<md-select  ng-model="chartTemplate.styleName">
							<md-option ng-repeat="c in chartStyles | filter: filterStyles" ng-click="changeStyle(c)">{{c.CHARTSTYLE.name}} 
							</md-option>
						</md-select>
					</md-input-container>
						
					<!-- 		
					<md-input-container  class="md-block whiteframe-element-padding">
						<label>{{translate.load("sbi.chartengine.designer.chartTypePicker")}}</label>	
						<md-select  ng-model="chartTemplate.CHART.type">
							<md-option ng-repeat="c in chartTypes">{{c | uppercase}} 
							</md-option>
						</md-select>
					</md-input-container>
					 -->	
		
					<md-input-container  class="md-block whiteframe-element-padding" ng-if=!isCockpitEng>
					 <label>Dataset in use</label>
						<input ng-model="datasetLabel" ng-readonly="true">
					</md-input-container>
					

					<md-grid-list style="margin-top:16px;" md-cols-gt-md="4" md-cols-md="4" md-cols-sm="2" md-gutter="16px" md-row-height="1:1">
					    <md-grid-tile ng-repeat="chart in chartTypes" class={{chart}} ng-click="selectChartType(chart)" ng-class="{'active':selectedChartType == chart}">
					    	<md-tooltip md-direction="bottom">
					          {{chart}}
					        </md-tooltip>
					    </md-grid-tile>
					 </md-grid-list>
					 
				</md-content>
			</div>
			<md-divider class="vertical-divider"></md-divider>
			<div flex=60 layout="row" layout-fill>
				<md-card flex style="overflow: hidden;" class="firefoxPreviewFix" >
					<div class="md-card-image {{selectedChartType}}_preview"></div>
				</md-card>
			</div>
  		</md-whiteframe>
	</div>
</md-tab-content>
