 				 	<angular-table  ng-hide="showGridView==true || ngModel.length==0 " 
 				 					layout-fill 
		 				 			style="position:absolute;overflow:auto"
		 				 			no-pagination=true
									id='documentListTable' ng-model=ngModel
									columns='[{"label":"Document name","name":"documentName"},{"label":"Document label","name":"documentLabel"},{"label":"Document description","name":"documentDescription"},{"label":"Document type","name":"documentType"}]'
									columnsSearch='["name"]' 
									show-search-bar=false
									speed-menu-option=tableSpeedMenuOption
									highlights-selected-item="true"
									selected-item=selectedDocument
									click-function="clickDocument(item);">
					</angular-table>					 
					
					<!-- Document Grid View -->
					<div layout="row"  layout-wrap ng-hide="showGridView!=true " >
					<md-card class="documentCard" ng-repeat="document in ngModel| orderBy:orderingDocumentCards" ng-class="{'md-whiteframe-15dp' : selectedDocument==document }">
			        <md-card-title>
				          <md-card-title-text>
				            <p class=" ellipsis">{{document.documentName}}</p>
				             <md-tooltip md-delay="1500">
				              {{document.documentName}}
				            </md-tooltip>
				          </md-card-title-text>
				    </md-card-title>
			        <div class="md-card-image document_browser_image_{{document.documentType}}"   ng-click="clickDocument(document);" ></div>
			        <md-card-actions layout="row" layout-align="space-around end">
			          			          			          			        	 
			          <md-button class="md-icon-button" aria-label="Execute" ng-click="executeDocumentAction({doc:document});">
			            <md-icon md-font-icon="fa fa-play-circle fa-2x"></md-icon>
			          </md-button>
			          
			          <md-button ng-if="showAddToOrganizer" class="md-icon-button" aria-label="Organizer" ng-click="addToOrganizerAction({doc:document});">
			            <md-icon  md-font-icon="fa fa-plus-circle fa-2x"></md-icon>
			          </md-button>
			          
			        </md-card-actions>
			      </md-card>
	 
					</div> 
				</md-content>