<md-card  layout-fill layout="column" class="flexCard" style="position:absolute">
<md-card-content flex layout="column" class="noPadding">
	<md-toolbar class="secondaryToolbar" layout-padding>
		<div class="md-toolbar-tools">
			<h2><span>{{translate.load("kn.qbe.filters.parameters")}}</span></h2>
			<span flex></span>
			<md-button class="md-icon-button" aria-label="Add new dataset parameter" ng-click="parametersAddItem(); setFormDirty()" 
					title="add new parameter">
				<md-icon md-font-icon="fa fa-plus-circle" ></md-icon>
			</md-button>
									
			<md-button class="md-icon-button" aria-label="Clear all parameters" 
					ng-click="deleteAllParameters();" title="Clear all parameters">
				<md-icon md-font-icon="fa fa-eraser" ></md-icon>
			</md-button>
		</div>
	</md-toolbar>						         
											
	<md-content flex layout="column">
	<md-card>
	<md-card-content layout="row" layout-padding>
																				      						
		<angular-table
			id="datasetParametersTable"
			flex
			style="height:100%;padding:8px"
			ng-model="parameterItems"
			columns='parametersColumns'
			scope-functions=paramScopeFunctions
			no-pagination=true
			speed-menu-option="parameterDelete"
			current-page-number=parametersTableLastPage >
		</angular-table>
		
				
	</md-card-content>		   									
	</md-card>
	</md-content>
	</md-card-content>		
	<md-card-actions layout="row" layout-align="end center">
		<md-button ng-click="closeParams()" >
	    {{translate.load("kn.qbe.general.cancel")}}
		</md-button>
		<md-button ng-click="saveParams()"  >
		{{translate.load("kn.qbe.general.save")}}
		</md-button>
	</md-card-actions>
</md-card>