<md-dialog class="addNewWidget">
	<md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{::translate.load("sbi.cockpit.editor.newwidget.title")}}</h2>
        <span flex></span>
        <md-button ng-click="cancelConfiguration()">{{::translate.load("sbi.cockpit.editor.newwidget.close")}}</md-button>
      </div>
    </md-toolbar>
	<md-dialog-content layout="column" layout-align="start center">
		<div class="kn-info">
			{{::translate.load("sbi.cockpit.editor.newwidget.info")}}
		</div>
		<div class="widgetsContainer" layout="row" layout-wrap>
			<div class="widgetContainer" ng-repeat="widget in widgetType | filter:searchWidgetText" flex="25" flex-sm="33" flex-xs="50">
				<div class="widget" ng-click="addWidget(widget.type)" layout="column" layout-margin layout-align="center center">
					<md-tooltip md-delay="500">{{widget.description}}</md-tooltip>
					<i ng-class="widget.class"></i>
					<p class="widgetDescription">{{widget.name}}</p>
				</div>
			</div>
		</div>
	</md-dialog-content>
</md-dialog>

