<md-dialog class="addNewWidget">
	<md-toolbar class="secondaryToolbar">
      <div class="md-toolbar-tools">
        <h2>{{::translate.load("sbi.cockpit.editor.newwidget.title")}}</h2>
        <span flex></span>
      </div>
    </md-toolbar>
	<md-dialog-content layout-align="start center" flex-xs="100">
		<div ng-show="widgetSpinner" class="widgetSpinner" layout-fill>
			<md-progress-circular  md-diameter="20px" md-mode='indeterminate'></md-progress-circular>
		</div>
		<div ng-show="!widgetSpinner" layout="row" layout-align="center center">
			<div class="kn-info" flex="60">
				{{::translate.load("sbi.cockpit.editor.newwidget.info")}}
			</div>
		</div>
		<div ng-show="!widgetSpinner" class="widgetsContainer" layout="row" layout-wrap layout-align="center center">
			<div class="widgetContainer" ng-repeat="widget in widgetType | filter:searchWidgetText" ng-if="showWidgetType(widget)" flex="20" flex-sm="25" flex-xs="50">
				<div class="widget" ng-click="addWidget(widget.type)" layout="column" layout-margin layout-align="center center">
					<div ng-if="widget.beta" class="betaBadge">BETA</div>
					<md-tooltip md-delay="500">{{widget.description}}</md-tooltip>
					<i ng-class="widget.cssClass"></i>
					<p class="widgetDescription">{{widget.name}}</p>
				</div>
			</div>
		</div>
	</md-dialog-content>
	<md-dialog-actions layout="row" layout-align="end center"  >
	    <span flex></span>
      <md-button class="md-raised" ng-click="cancelConfiguration()" >
        {{translate.load('sbi.generic.cancel')}}
      </md-button>
	</md-dialog-actions>
</md-dialog>