<div data-html2canvas-ignore class="exportingPdfDialog">
	<md-dialog >
	    <md-toolbar>
	      <div class="md-toolbar-tools">
	        <h2>{{::translate.load('kn.cockpit.export.pdf')}}</h2>
	      </div>
	    </md-toolbar>
	
	    <md-dialog-content layout-align="center center" layout-padding>
	      <md-progress-linear md-mode="determinate" value="{{((cockpitModule_properties.CURRENT_SHEET+1)/cockpitModule_template.sheets.length)*100}}"></md-progress-linear>
	        <div style="text-align:center">{{::translate.load('kn.cockpit.export.capturingpage')}} {{cockpitModule_properties.CURRENT_SHEET+1}} {{::translate.load('sbi.cockpit.widgets.table.pagination.of')}} {{cockpitModule_template.sheets.length}}</div>
	    </md-dialog-content>
	
	</md-dialog>
</div>