<md-dialog style="width:60%">
	<md-toolbar class="secondaryToolbar" layout="row">
		<h1 flex class="md-toolbar-tools">{{translate.load('sbi.cockpit.selections.title')}}</h1>
		<md-button  class="md-icon-button" ng-click="clearAllSelection()" ng-if="selection.length >0">
			 <md-icon md-font-icon="fa fa-eraser" aria-label="ClearAll"></md-icon>
			 <md-tooltip md-direction="bottom">{{translate.load('sbi.cockpit.selections.clearselections')}}</md-tooltip>
		</md-button>
	</md-toolbar>
	
	<md-dialog-content layout="column" style="min-height:200px;">
		<div style="padding:8px">
			<div ng-if="selection.length >0" ag-grid="selectionsGrid" class="ag-theme-balham ag-theme-knowage ag-theme-knowage-default"></div>
		</div>
		<div layout="row" layout-align="center center" ng-if="selection.length ==0" flex>
			<div class="kn-noItems">
				{{translate.load('sbi.cockpit.selections.noselections')}}
			</div>
		</div>	      
	</md-dialog-content>
	
	<md-dialog-actions layout="row" layout-align="end center"  >
	    <span flex></span>
      <md-button class="md-raised" ng-click="cancelConfiguration()" >
        {{translate.load('sbi.generic.cancel')}}
      </md-button>
      <md-button class="md-raised md-primary" ng-click="saveConfiguration()"  >
        {{translate.load('sbi.generic.save')}}
      </md-button>

	</md-dialog-actions>
</md-dialog>