
<md-dialog aria-label="Open document"  style="width:100%;height:100%;max-width:100%;max-height:100%;" ng-cloak>

	<md-dialog-content flex layout="column" class="dialogFrameContent" >
		
		<md-toolbar class="documentBrowserToolbar" ng-cloak>
			
			<div layout="row">
				
				<span flex></span>
				<md-button ng-if="drivers.length > 0" ng-click="hideDrivers()" class="md-icon-button">
	          		<md-icon md-font-icon="fa fa-filter"></md-icon>
	       	 	</md-button>
				<md-button ng-hide="{{isFromDataSetCatalogue}}" ng-click="saveQbeDocument()" class="md-icon-button">
	          		<md-icon md-font-icon="fa fa-floppy-o"></md-icon>
	       	 	</md-button>
	       	 	
	       	 	<md-button ng-click="closeDocument()" class="md-icon-button">
	          		<md-icon md-font-icon="fa fa-times-circle-o"></md-icon>
	       	 	</md-button>
	       	 	
        	</div>
        	
		</md-toolbar>
	
		<iframe ng-if="businessModel.executed" flex class="noBorder" ng-src="{{documentViewerUrl}}" id="documentViewerIframe"></iframe>
		
	</md-dialog-content>

</md-dialog>
<div layout="column" flex=20 ng-if="showDrivers && !businessModel.executed">
<md-toolbar class="header secondaryToolbar" >
		<div class="md-toolbar-tools" layout="row" layout-align="space-around center">
			<md-button aria-label="Reset Parameter" class="md-icon-button" ng-click="clearListParametersForm();">
				<md-tooltip md-delay="500" >{{::translate.load("sbi.execution.parametersselection.toolbar.clear")}}</md-tooltip>
				<md-icon md-font-icon="fa fa-eraser"></md-icon>
			</md-button>						
			<md-button aria-label="Open Saved Parameters" class="md-icon-button" 
					ng-click="urlViewPointService.getViewpoints();">
					<md-tooltip md-delay="500" >{{::translate.load("sbi.execution.parametersselection.toolbar.open")}}</md-tooltip>
					<md-icon md-font-icon="fa fa-pencil"></md-icon>
			</md-button>	
			<md-button aria-label="Save Parameters" class="md-icon-button"	ng-click="urlViewPointService.createNewViewpoint();">
					<md-tooltip md-delay="500" >{{::translate.load("sbi.execution.parametersselection.toolbar.save")}}</md-tooltip>
					<md-icon md-font-icon="fa fa-floppy-o"></md-icon>
			</md-button>
		  	
	  	</div>
</md-toolbar>

<md-sidenav  class="md-sidenav-right md-whiteframe-4dp" md-component-id="parametersPanelSideNav"  layout-fill md-is-locked-open="$mdMedia('gt-md')">
<div layout=column>
<div flex=90 > 
      <document-paramenter-element execProperties="businessModel"  parameter="parameter" ng-repeat="parameter in drivers" ng-show="parameter.visible" layout="row" layout-align="start" />
   </div>
   <div flex=10>
<md-button style="width:95%" ng-cloak class="toolbar-button-custom md-raised"  ng-click="executeParameter()">
	{{::translate.load("sbi.execution.parametersselection.executionbutton.message")}}
</md-button>	
</div>
</div>
    </md-sidenav>
    </div>