<md-dialog aria-label="Open document"  layout-fill style="min-width:100%" ng-cloak>
	<md-dialog-content flex layout="column" class="dialogFrameContent" >
		<md-toolbar class="documentBrowserToolbar" ng-cloak>
			<div class="md-toolbar-tools" layout="row">
				<h2>{{driverableObject.name}}</h2>
				<span flex></span>
				<md-button ng-if="drivers.length > 0 && showFilterIcon" ng-click="toggleDrivers()" class="md-icon-button">
					<md-icon md-font-icon="fa fa-filter"></md-icon>
				</md-button>
				<md-button ng-click="closeDocument(true)">
					{{ isFromDataSetCatalogue ? translate.load("sbi.generic.saveandclose") : translate.load("sbi.generic.close") }}
				</md-button>
				<md-button ng-hide="{{isFromDataSetCatalogue}}" ng-click="saveQbeDocument()">
					{{::translate.load("sbi.generic.save")}}
				</md-button>
			</div>
		</md-toolbar>
		
		<div layout="row" flex >
			<md-content layout="column" flex ng-show="currentView.status == 'BUSINESSMODEL'">
				<iframe ng-if="driverableObject.executed" flex=100 class="noBorder" layout-fill ng-src="{{documentViewerUrl}}" id="documentViewerIframe" >				
				</iframe>
			</md-content>
			<div flex layout ng-if="currentView.status == 'PARAMETERS'">
            	<div ng-if="parameterView.status == 'FILTER_SAVED'" layout flex>
            		<parameter-view-point-handler flex layout="column" execProperties="driverableObject" execute="execute"/>
            	</div>
            </div>
			<div layout="column" ng-if="showDrivers">		
			<md-sidenav  flex layout="column" layout-align = "right" class="md-sidenav-right md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-md')">
				<md-toolbar class="header secondaryToolbar" >
					<div class="md-toolbar-tools" layout="row" layout-align="space-around center">
						<md-button aria-label="Reset Parameter" class="md-icon-button" ng-click="clearListParametersForm()">
							<md-tooltip md-delay="500" >{{::translate.load("sbi.execution.parametersselection.toolbar.clear")}}</md-tooltip>
							<md-icon md-font-icon="fa fa-eraser"></md-icon>
						</md-button>						
						<md-button aria-label="Open Saved Parameters" class="md-icon-button" ng-click="getViewpoints()">
							<md-tooltip md-delay="500" >{{::translate.load("sbi.execution.parametersselection.toolbar.open")}}</md-tooltip>
							<md-icon md-font-icon="fa fa-pencil"></md-icon>
						</md-button>	
						<md-button aria-label="Save Parameters" class="md-icon-button" ng-click="createNewViewpoint()">
							<md-tooltip md-delay="500" >{{::translate.load("sbi.execution.parametersselection.toolbar.save")}}</md-tooltip>
							<md-icon md-font-icon="fa fa-floppy-o"></md-icon>
						</md-button>					  	
				  	</div>
				</md-toolbar>
				<div flex style="overflow:auto"> 
				    <render-parameters driverable-object = "selectedDataSet" param = "param" ng-repeat="param in selectedDataSet.pars" ></render-parameters> 
					<form name = "driversForm" >
				    	<document-paramenter-element execProperties="driverableObject"  parameter="parameter" ng-repeat="parameter in drivers"  ng-show="parameter.visible" layout="row" layout-align="start" />
					</form>
				</div>
				<div>
					<md-button style="width:95%" ng-cloak class="toolbar-button-custom md-raised" ng-disabled="isExecuteParameterDisabled()" ng-click="execute()">
						{{::translate.load("sbi.execution.parametersselection.executionbutton.message")}}
					</md-button>	
				</div>			
			</md-sidenav>
			</div>
		</div>
	</md-dialog-content>
</md-dialog>
