<md-card class="cockpit-map-widget-edit">
 	<md-toolbar class="secondaryToolbar"> 
      <div class="md-toolbar-tools">
        <h2>Layers</h2>
        <span flex></span>
        <md-button class="" ng-click="addLayer($event)">
			Add layer
		</md-button>
      </div>
    </md-toolbar>
	<md-card-content>
		<div layout="row" layout-align="center center">
			<div class="kn-noItems" ng-if="!newModel.content.layers || newModel.content.layers.length == 0">
				No Layers present, add one or more to continue
			</div>
		</div>
		
		<table class="kn-table" ng-if="newModel.content.layers.length > 0">
			<thead>
				<tr>
					<th ng-if="newModel.content.layers.length > 1"></th><th>Type</th><th>Name</th><th>Label</th><th>Target</th><th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat-start="layer in newModel.content.layers | orderBy:'order' ">
					
					<td class="multiTableAction" ng-if="newModel.content.layers.length > 1">
						<div layout="row" layout-align="center"> 
		                	<md-button ng-click="move($event,layer,'up')" class="md-icon-button" aria-label="up" ng-show="!$first"> 
	               				<md-icon md-font-icon="fa fa-arrow-up"></md-icon>
	          				</md-button>
	          				<md-button ng-click="move($event,layer,'down')" class="md-icon-button" aria-label="down" ng-show="!$last">
	          					<md-icon md-font-icon="fa fa-arrow-down"></md-icon>
	          				</md-button>
          				</div>
  					</td>
					<td>{{layer.type}}</td>
					<td>{{layer.name}}</td>
					<td>
						<md-input-container class="md-block">
				            <input ng-model="layer.alias">
		          		</md-input-container></td>
					<td>
						<md-switch ng-model="layer.targetDefault" aria-label="target layer" ng-change="setTargetLayer(layer)">
					  </md-switch>
					</td>
					<!--  td class="colorPickerTd" style="text-align:right;">
						<md-input-container class="md-block flex">
					        <color-picker options="colorPickerOptions" ng-model="layer.markerConf.color"></color-picker> 
				      	</md-input-container>
			      	</td-->
					<td class="colorPickerTd" style="text-align:right;">
						<md-button class="md-icon-button" ng-click="expandRow(layer,'metadata')" ng-class="{'expanded':layer.expanded=='metadata'}">
							<md-tooltip>Metadata</md-tooltip>
							<md-icon md-font-icon="fa fa-tags"></md-icon>
						</md-button>
						
						<md-button class="md-icon-button" ng-click="expandRow(layer,'markers')" ng-class="{'expanded':layer.expanded=='markers'}">
							<md-tooltip>Markers</md-tooltip>
							<md-icon md-font-icon="fa fa-map-marker"></md-icon>
						</md-button>
						
						<md-button class="md-icon-button" ng-click="deleteLayer(layer)">
							<md-tooltip>Delete</md-tooltip>
							<md-icon md-font-icon="fa fa-trash"></md-icon>
						</md-button>
					</td>
				    
				</tr>
				<tr ng-repeat-end ng-if="layer.expanded">
					<td colspan="100">
						<md-card layout="column">
							<md-toolbar class="ternaryToolbar">
							  <div class="md-toolbar-tools">
							    <h2>{{layer.expanded}}</h2>
							    <span flex></span>
							  </div>
							</md-toolbar>
							<md-card-content flex layout="column" ng-if="layer.expanded=='metadata'">
								<table class="kn-table kn-table-row-highlight kn-table-alternated-rows" ng-if="newModel.content.layers.length > 0">
									<thead>
										<tr>
											<th>Column</th>
											<th>Alias</th>
											<th>Type</th>
											<th>Aggregation function</th>
											<th>Show on map</th>
											<th>Show on detail</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="column in newModel.content.columnSelectedOfDataset[layer.dsId] | orderBy:'fieldType':true " ng-class="{'highlight':column.fieldType=='SPATIAL_ATTRIBUTE'}">
											
											<td><md-icon ng-if="column.fieldType=='SPATIAL_ATTRIBUTE'" md-font-icon="fa fa-globe"></md-icon> {{column.name}}</td>
											<td>
												<md-input-container>
													<input ng-model="column.aliasToShow" type="text">
												</md-input-container>
											</td>
											<td>{{column.fieldType}}</td>
											<td>
												<md-input-container ng-if="column.fieldType === 'MEASURE'">
													<md-select ng-model="column.properties.aggregationSelected" ng-init="column.properties.aggregationSelected=column.properties.aggregationSelected||availableAggregationFunctions[0]">
														<md-option ng-repeat="func in availableAggregationFunctions" ng-calue="func">{{func}}</md-option>
													</md-select>
												</md-input-container>
											</td>
											<td>
												<md-checkbox ng-model="column.properties.showMap" aria-label="Checkbox 2" ng-if="column.fieldType=='MEASURE'"/>
											</td>
											<td>
												<md-checkbox ng-model="column.properties.showDetails" aria-label="Checkbox 2" ng-if="column.fieldType=='MEASURE' || column.fieldType=='ATTRIBUTE'"/>
											</td>
										</tr>
									</tbody>
								</table>		
							</md-card-content>
							
							<md-card-content flex layout="column" class="markersExpander" ng-if="layer.expanded=='markers'">
								<div layout="row">
									<div class="buttonBar" ng-init="layer.markerConf.type=layer.markerConf.type||'default'">
										<md-button class="md-raised" ng-click="setIconType(layer,'default')" ng-class="{'selected':layer.markerConf.type == 'default'}">Default</md-button>
										<md-button class="md-raised" ng-click="setIconType(layer,'icon')" ng-class="{'selected':layer.markerConf.type == 'icon'}">Icon</md-button>
										<md-button class="md-raised" ng-click="setIconType(layer,'img')" ng-class="{'selected':layer.markerConf.type == 'img'}">Image</md-button>
										<md-button class="md-raised" ng-click="setIconType(layer,'url')" ng-class="{'selected':layer.markerConf.type == 'url'}">Url</md-button>
									</div>
									<div flex></div>
									<md-switch ng-model="layer.clusterConf.enabled" aria-label="cluster enabler">Use cluster</md-switch>
								</div>
								<div layout="row" layout-align="start center">
								
										<md-input-container class="md-block flex" ng-if="layer.markerConf.type == 'icon'">
									        <label>Icon</label>
									        <input ng-model="layer.markerConf.icon.className" disabled>
								      	</md-input-container>
								      	
								      	<md-button class="md-icon-button md-fab" ng-click="chooseIcon($event, layer)" ng-if="layer.markerConf.type == 'icon'"><md-icon md-font-icon="fa fa-th"></md-icon></md-button>
								      	
								      	<md-input-container class="md-block flex" ng-if="layer.markerConf.type == 'url'">
									        <label>Icon Url</label>
									        <input ng-model="layer.markerConf.url">
								      	</md-input-container>
								      	
										<md-input-container class="md-block flex" ng-if="layer.markerConf.type == 'img'">
									        <label>Image</label>
									        <input ng-model="layer.markerConf.img" disabled>
								      	</md-input-container>

								      	<div layout="row" ng-if="layer.markerConf.type == 'img'">
											<file-upload flex id="ImageUpload" ng-model="uploadImg" ng-if="!layer.markerConf.img"></file-upload>
											<md-button ng-click="upload($event,layer)" aria-label="upload Menu" ng-if="!layer.markerConf.img"
													class="md-fab md-mini">
												<md-icon md-font-icon="fa fa-upload"/>
											</md-button>
											<md-button ng-click="erase($event, layer)" ng-if="layer.markerConf.img" aria-label="upload Menu"
													class="md-fab md-mini">
												<md-icon md-font-icon="fa fa-eraser"/>
											</md-button>
										</div>
										
							      	<md-input-container class="md-block flex" style="margin-left:20px;" ng-if="layer.markerConf.type != 'img' && layer.markerConf.type != 'url'">
								        <label>Color</label>
								        <color-picker options="colorPickerOptions" ng-model="layer.markerConf.style.color"></color-picker> 
							      	</md-input-container>
							      	
									<md-input-container class="md-block flex" ng-if="layer.markerConf.type == 'img' || layer.markerConf.type == 'url'">
								        <label>Scale (%)</label>
								        <input ng-model="layer.markerConf.scale" type="number" min="0" max="500">
							      	</md-input-container>
							      	
							      	<md-input-container class="md-block flex" ng-if="layer.markerConf.type == 'icon'">
								        <label>Size (%)</label>
								        <input ng-model="layer.markerConf.size" type="number" min="0" max="500">
							      	</md-input-container>
							      	
									<div flex></div>
									<div class="preview" >
										<label>Preview</label>
										<img src="https://openlayers.org/en/v4.6.4/examples/data/dot.png" ng-if="!layer.markerConf[layer.markerConf.type]" />
										<i class="fa" ng-class="layer.markerConf.icon.className" ng-style="{'color':layer.markerConf.style.color, 'font-size':layer.markerConf.size + '%'}" ng-if="layer.markerConf.type == 'icon' && layer.markerConf[layer.markerConf.type]"></i>
										<img ng-if="layer.markerConf.type == 'img' && layer.markerConf[layer.markerConf.type]" ng-style="layer.markerConf.style" src="{{layer.markerConf.img}}"/>
										<img ng-if="layer.markerConf.type == 'url' && layer.markerConf[layer.markerConf.type]" ng-style="layer.markerConf.style" src="{{layer.markerConf.url}}"/>
									</div>
								</div>
								
							</md-card-content>
						</md-card>
						<md-card layout="column" ng-if="layer.expanded=='markers' && layer.clusterConf.enabled">
							<md-toolbar class="ternaryToolbar">
							  <div class="md-toolbar-tools">
							    <h2>Cluster</h2>
							    <span flex></span>
							  </div>
							</md-toolbar>
							<md-card-content flex layout="column" class="markersExpander">
									<div layout="row" ng-if="layer.clusterConf.enabled" layout-align="start center">
									<md-input-container class="md-block flex" ng-if="layer.clusterConf.enabled">
								        <label>Radius Size</label>
								        <input ng-model="layer.clusterConf.radiusSize" type="number" ng-init="layer.clusterConf.radiusSize=layer.clusterConf.radiusSize||10">
							      	</md-input-container>
							      	<md-input-container class="md-block flex" ng-if="layer.clusterConf.enabled">
								        <label>Font size</label>
								        <input ng-model="layer.clusterConf.style['font-size']" type="text" ng-init="layer.clusterConf.style['font-size']=layer.clusterConf.style['font-size']||'12px'">
							      	</md-input-container>
							      	<md-input-container class="md-block flex" ng-if="layer.clusterConf.enabled">
								        <label>Font color</label>
								         <color-picker options="colorPickerOptions" ng-model="layer.clusterConf.style['color']"></color-picker> 
							      	</md-input-container>
							      	<md-input-container class="md-block flex" ng-if="layer.clusterConf.enabled">
								        <label>Background color</label>
								         <color-picker options="colorPickerOptions" ng-model="layer.clusterConf.style['background-color']"></color-picker> 
							      	</md-input-container>
							      	<div class="preview" >
										<label>Preview</label>
										<div class="clusterExample" 
											ng-style="{'width':(layer.clusterConf.radiusSize * 2) + 'px', 'height':(layer.clusterConf.radiusSize * 2) + 'px','font-size':layer.clusterConf.style['font-size'],'background-color':layer.clusterConf.style['background-color'],'color':layer.clusterConf.style.color}" >10</div>
									</div>
								</div>
							</md-card-content>
						</md-card>
					</td>
				</tr>
							
			</tbody>
		</table>
	</md-card-content>
</md-card>