<!-- legend panel -->
<div  class="mapWidgetLegend">
	<div ng-repeat="legendElem in legend">
		<div layout="column" ng-if="getLayerVisibility(legendElem.layer)">
			<span class="legendLayerLabel" flex>&nbsp;{{legendElem.alias}}</span>
			<div layout="row" layout-align="start center">
				  <span class="legendStartLimit">{{legendElem.limits[0]}}&nbsp;&nbsp;</span>
				  <div style="height:10px;width:90%;display:block;border-radius:25px;" ng-style="{ background: 'linear-gradient(to right ' + legendElem.colors + ')' }"></div>
				  <span class="legendEndLimit">&nbsp;&nbsp;{{legendElem.limits[1]}}</span>
			</div>
		</div>
	</div>
</div>