<md-card layout="column" ng-if="layer.expanded=='metadata'">
							<md-toolbar class="ternaryToolbar">
							  <div class="md-toolbar-tools">
							    <h2>{{layer.expanded}}</h2>
							    <span flex></span>
							  </div>
							</md-toolbar>
							<md-card-content flex layout="column" class="noPadding">
								<md-subheader>Spatial Attribute</md-subheader>
								<div layout-padding>
									<table class="kn-table kn-table-row-highlight" ng-if="newModel.content.layers.length > 0" >
										<thead>
											<tr>
												<th>Column</th>
												<th>Coordinates Type</th>
												<th>Coordinates Format</th>
											<!-- 	<th>Json Feature Type</th> -->
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="column in newModel.content.columnSelectedOfDataset[layer.dsId] | filter:{'fieldType':'SPATIAL_ATTRIBUTE'}" >
												
												<td>  {{column.name}}</td>
												<td>
													<md-input-container >
														<md-select ng-model="column.properties.coordType" ng-init="column.properties.coordType = column.properties.coordType || 'string'">
															<md-option value="string">string</md-option>
															<md-option value="json">JSON</md-option>
														</md-select>
													</md-input-container>
												</td>
												<td>
													<md-input-container >
														<md-select ng-model="column.properties.coordFormat" ng-init="column.properties.coordFormat = column.properties.coordFormat || 'lon lat'">
															<md-option value="lon lat">lon lat</md-option>
															<md-option value="lat lon">lat lon</md-option>
														</md-select>
													</md-input-container>
												</td>
												<!-- <td>
													<md-input-container ng-if="column.properties.coordType == 'json'">
														<md-select ng-model="column.properties.jsonFeatureType" ng-init="column.properties.jsonFeatureType = column.properties.jsonFeatureType || 'Point'">
															<md-option value="Point">Simple Marker (Point)</md-option>
															<md-option value="Other">Other</md-option>
														</md-select>
													</md-input-container>
												</td> -->
											</tr>
										</tbody>
									</table>
								</div>	
								<md-subheader>Fields</md-subheader>	
								<div layout-padding>
									<div layout="column" layout-align="center center" >
										<div class="kn-info" flex="60" ng-if="confrontationDsList.length > 0">
											Some fields in the template has been changed. You can reassign them or add the new ones.
											<md-button ng-click="addField(newModel.content.columnSelectedOfDataset[layer.dsId])">Add field</md-button>
										</div>
										<table class="kn-table kn-table-row-highlight kn-table-alternated-rows" ng-if="newModel.content.layers.length > 0" layout-padding>
										<thead>
											<tr>
												<th>Column</th>
												<th>Alias</th>
												<th>Type</th>
												<th>Aggregation function</th>
												<th style="text-align:center">Show on detail</th>
												<th style="text-align:center">Show on map</th>
												<th style="text-align:center">Modal column</th>
												<th style="text-align:center">Threshold</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="column in newModel.content.columnSelectedOfDataset[layer.dsId] | orderBy:'fieldType':true track by $index" ng-if="column.fieldType != 'SPATIAL_ATTRIBUTE'">
												
												<td>
													<md-input-container ng-if="!checkDs(column)" layout="row" layout-align="start center">
														<i class="fa fa-warning"><md-tooltip>The column name is changed, select a field from the existing ones</md-tooltip></i> 
														<md-select ng-model="column.name" aria-label="column name" ng-change="updateDsList(column, layer.dsId)" ng-init="column.name=''">
															<md-option value=""></md-option>
															<md-option ng-repeat="col in confrontationDsList" ng-value="col.name" ng-if="col.fieldType != 'SPATIAL_ATTRIBUTE'">{{col.name}}</md-option>
														</md-select>
													</md-input-container>
													
													<span ng-if="checkDs(column)">{{column.name}}</span>
													
												</td>
												<td>
													<md-input-container>
														<input ng-model="column.aliasToShow" type="text" aria-label="column alias">
													</md-input-container>
												</td>
												<td>{{column.fieldType}}</td>
												<td>
													<md-input-container ng-if="column.fieldType === 'MEASURE'">
														<md-select ng-model="column.properties.aggregationSelected" ng-init="column.properties.aggregationSelected=column.properties.aggregationSelected||availableAggregationFunctions[0]" aria-label="column aggregation">
															<md-option ng-repeat="func in availableAggregationFunctions" ng-value="func">{{func}}</md-option>
														</md-select>
													</md-input-container>
												</td>
												<td style="text-align:center">
													<md-checkbox ng-model="column.properties.showDetails" aria-label="Checkbox 2" ng-if="column.fieldType=='MEASURE' || column.fieldType=='ATTRIBUTE'"/>
												</td>
												<td style="text-align:center">
													<md-checkbox ng-model="column.properties.showMap" aria-label="Checkbox 2" ng-if="column.fieldType=='MEASURE'"/>
												</td>
												<td style="display: flex;justify-content: center;">
													<md-switch ng-if="column.fieldType == 'ATTRIBUTE'" ng-model="column.properties.modal" class="noMargin" ng-change="setModalColumn(column,layer)" aria-label="modal"></md-switch>
												</td>
												<td class="multiTableAction">
													<md-icon style="cursor: pointer" md-font-icon="fa fa-sliders" ng-if="column.fieldType === 'MEASURE'" ng-click="getThresholds($event,column)"></md-icon>
													<md-icon style="cursor: pointer" md-font-icon="fa fa-trash" ng-click="deleteColumn(newModel.content.columnSelectedOfDataset[layer.dsId],column)" ng-if="!checkDs(column,false)"></md-icon>
												</td>
											</tr>
										</tbody>
									</table>	
								</div>	
							</md-card-content>
						</md-card>