<!--  included in mapWidgetLayers.html -->
<div layout="row" flex>
	<md-card layout="column" ng-if="layer.expanded=='style'" flex>
		<md-toolbar class="ternaryToolbar">
		  <div class="md-toolbar-tools">
		    <h2>{{translate.load('sbi.cockpit.map.edit.visualization.cardName')}}</h2>
		    <span flex></span>
		  </div>
		</md-toolbar>
		<md-card-content flex layout="column" class="markersExpander noPadding" >
			<div layout="row" class="visTypes" style="padding:8px;">
				<div class="outerIcon" ng-repeat="visType in visualizationTypes" ng-click="setMarkersVisualizationType(layer,visType.name)" ng-class="{'selected':layer.visualizationType==visType.name}" ng-init="layer.visualizationType=layer.visualizationType?layer.visualizationType:'markers'">
					<div class="visTypeIcon" ng-class="visType.class" ng-disabled="!visType.enabled" >
						<md-tooltip>{{visType.name}}</md-tooltip>
					</div>
				</div>
			</div>
			<md-subheader ng-if="layer.visualizationType == 'clusters'">{{translate.load('sbi.cockpit.map.edit.visualization.header.clusters')}}</md-subheader>
			<div style="padding:8px;" ng-if="layer.visualizationType == 'clusters'">
				
				<div layout="row" layout-align="start center">
					<md-input-container class="md-block flex">
				        <label>{{translate.load('sbi.cockpit.map.edit.visualization.cluster.radius')}}</label>
				        <input ng-model="layer.clusterConf.radiusSize" type="number" ng-init="layer.clusterConf.radiusSize=layer.clusterConf.radiusSize||10">
			      	</md-input-container>
			      	<md-input-container class="md-block flex" >
				        <label>{{translate.load('sbi.cockpit.map.edit.visualization.cluster.fontSize')}}</label>
				        <input ng-model="layer.clusterConf.style['font-size']" type="text" ng-init="layer.clusterConf.style['font-size']=layer.clusterConf.style['font-size']||'12px'">
			      	</md-input-container>
			      	<md-input-container class="md-block flex" >
				        <label>{{translate.load('sbi.cockpit.map.edit.visualization.cluster.fontColor')}}</label>
				         <color-picker options="colorPickerOptions" ng-model="layer.clusterConf.style['color']"></color-picker> 
			      	</md-input-container>
			      	<md-input-container class="md-block flex">
				        <label>{{translate.load('sbi.cockpit.map.edit.visualization.cluster.backgroundColor')}}</label>
				         <color-picker options="colorPickerOptions" ng-model="layer.clusterConf.style['background-color']"></color-picker> 
			      	</md-input-container>
			      	<div class="preview" >
						<label>{{translate.load('sbi.cockpit.map.edit.visualization.common.preview')}}</label>
						<div class="clusterExample" 
							ng-style="{'width':(layer.clusterConf.radiusSize * 2) + 'px', 'height':(layer.clusterConf.radiusSize * 2) + 'px','font-size':layer.clusterConf.style['font-size'],'background-color':layer.clusterConf.style['background-color'],'color':layer.clusterConf.style.color}" >10</div>
					</div>
				</div>
			</div>
			<md-subheader ng-if="layer.visualizationType == 'choropleth'">{{translate.load('sbi.cockpit.map.edit.visualization.header.choroplet')}}</md-subheader>
			<div style="padding:12px" ng-if="layer.visualizationType == 'choropleth'">
				
				<div layout="row" layout-align="start center" style="margin: 20px 0">
					<md-input-container flex="50" class="md-block">
						<label>{{translate.load('sbi.cockpit.map.edit.visualization.choroplet.classes')}}</label>
						<md-select ng-model="layer.analysisConf.method" ng-init="layer.analysisConf.method = layer.analysisConf.method || 'CLASSIFY_BY_EQUAL_INTERVALS'">
							<md-option value="CLASSIFY_BY_EQUAL_INTERVALS">{{translate.load('sbi.cockpit.map.edit.visualization.choroplet.classesByEqualIntervals')}}</md-option>
							<md-option value="CLASSIFY_BY_QUANTILS">{{translate.load('sbi.cockpit.map.edit.visualization.choroplet.classesByQuantils')}}</md-option>
							<md-option value="CLASSIFY_BY_RANGES">{{translate.load('sbi.cockpit.map.edit.visualization.choroplet.classesByRanges')}}</md-option>
						</md-select>
					</md-input-container>
					<md-input-container ng-if="layer.analysisConf.method!='CLASSIFY_BY_RANGES'" flex="50" class="md-block" >
						<label>{{translate.load('sbi.cockpit.map.edit.visualization.choroplet.classesNumber')}}</label>
						<input ng-model="layer.analysisConf.classes" type="number" ng-init="layer.analysisConf.classes=layer.analysisConf.classes||3">
					</md-input-container>
					<md-button class="md-button md-primary" ng-if="layer.analysisConf.method=='CLASSIFY_BY_RANGES'" ng-click="getChoroplethThresholds($event,layer.analysisConf)">
						{{translate.load('sbi.cockpit.map.edit.visualization.choroplet.manageRanges')}}
					</md-button>
				</div>
				<div ng-if="layer.analysisConf.method!='CLASSIFY_BY_RANGES'" layout="row" layout-align="start center" style="margin: 10px 0">
					<md-input-container flex="35" class="md-block" >
						<label>{{translate.load('sbi.cockpit.map.edit.visualization.choroplet.fromColor')}}</label>
						 <color-picker options="colorPickerOptions" ng-model="layer.analysisConf.fromColor" ng-init="layer.analysisConf.fromColor=layer.analysisConf.fromColor|| '#d1d1d1' "></color-picker> 
					</md-input-container>
					<md-input-container flex="35" class="md-block">
						<label>{{translate.load('sbi.cockpit.map.edit.visualization.choroplet.toColor')}}</label>
						 <color-picker options="colorPickerOptions" ng-model="layer.analysisConf.toColor" ng-init="layer.analysisConf.toColor=layer.analysisConf.toColor|| '#5b5b5b' "></color-picker> 
					</md-input-container>
					<md-input-container flex="30" class="md-block flex">
						<label>{{translate.load('sbi.cockpit.map.edit.visualization.marker.borderColor')}}</label>
						<color-picker options="colorPickerOptions" ng-model="layer.markerConf.style.borderColor"></color-picker> 
					</md-input-container>
				</div>
			</div>
			<md-subheader ng-if="layer.visualizationType == 'clusters' || layer.visualizationType == 'markers'">{{translate.load('sbi.cockpit.map.edit.visualization.header.marker')}}</md-subheader>
			<div style="padding:8px;" ng-if="layer.visualizationType == 'clusters' || layer.visualizationType == 'markers'">
	
			<div class="buttonBarSquared" layout="row" ng-init="layer.markerConf.type=layer.markerConf.type||'default'" >
				<div class="markerTypeIcon" ng-click="setIconType(layer,'default')" ng-class="{'selected':layer.markerConf.type == 'default'}">
					<md-tooltip>{{translate.load('sbi.cockpit.map.edit.visualization.marker.defaultMarker')}}</md-tooltip>
					<md-icon md-font-icon="fa fa-circle"></md-icon>
				</div>
				<div class="markerTypeIcon" ng-click="setIconType(layer,'icon')" ng-class="{'selected':layer.markerConf.type == 'icon'}">
					<md-tooltip>{{translate.load('sbi.cockpit.map.edit.visualization.marker.iconMarker')}}</md-tooltip>
					<md-icon md-font-icon="fa fa-map-marker"></md-icon>
				</div>
				<div class="markerTypeIcon" ng-click="setIconType(layer,'img')" ng-class="{'selected':layer.markerConf.type == 'img'}">
					<md-tooltip>{{translate.load('sbi.cockpit.map.edit.visualization.marker.imageMarker')}}</md-tooltip>
					<md-icon md-font-icon="fa fa-picture-o"></md-icon>
				</div>
				<div class="markerTypeIcon" ng-click="setIconType(layer,'url')" ng-class="{'selected':layer.markerConf.type == 'url'}">
					<md-tooltip>{{translate.load('sbi.cockpit.map.edit.visualization.marker.markerFromUrl')}}</md-tooltip>
					<md-icon md-font-icon="fa fa-globe"></md-icon>
				</div>
			</div>
			<div layout="row" layout-align="start center">
	
				<md-button class="md-icon-button md-fab" ng-click="chooseIcon($event, layer)" ng-if="layer.markerConf.type == 'icon'">
					<md-icon md-font-icon="fa fa-th"></md-icon>
				</md-button>
	
				<md-input-container class="md-block flex" ng-if="layer.markerConf.type == 'url'">
					<label>Icon Url</label>
					<input ng-model="layer.markerConf.url">
				</md-input-container>
	
				<md-button ng-click="chooseImg($event, layer)" aria-label="upload Menu" ng-if="layer.markerConf.type == 'img'"
						class="md-fab md-mini">
					<md-icon md-font-icon="fa fa-th"/>
				</md-button>
	
				<md-input-container class="md-block flex" ng-if="layer.markerConf.type != 'img' && layer.markerConf.type != 'url'">
					<label>{{translate.load('sbi.cockpit.map.edit.visualization.marker.fillColor')}}</label>
					<color-picker options="colorPickerOptions" ng-model="layer.markerConf.style.color"></color-picker> 
				</md-input-container>
	
				<md-input-container class="md-block flex" ng-if="layer.markerConf.type != 'img' && layer.markerConf.type != 'url'" ng-show="needsBorderColor(layer)">
					<label>{{translate.load('sbi.cockpit.map.edit.visualization.marker.borderColor')}}</label>
					<color-picker options="colorPickerOptions" ng-model="layer.markerConf.style.borderColor"></color-picker> 
				</md-input-container>
	
				<md-input-container class="md-block flex" ng-if="layer.markerConf.type == 'img' || layer.markerConf.type == 'url'">
					<label>{{translate.load('sbi.cockpit.map.edit.visualization.marker.scale')}}</label>
					<input ng-model="layer.markerConf.scale" type="number" min="0" max="500">
				</md-input-container>
	
				<md-input-container class="md-block flex" ng-if="layer.markerConf.type == 'icon' || layer.markerConf.type == 'default'">
					<label>{{translate.load('sbi.cockpit.map.edit.visualization.marker.size')}}</label>
					<input ng-model="layer.markerConf.size" type="number" min="0" max="500">
				</md-input-container>
	
				<div flex></div>
				<div class="preview" >
					<label>{{translate.load('sbi.cockpit.map.edit.visualization.common.preview')}}</label>
					<i class="fa fa-circle defaultIcon" ng-style="{'color':layer.markerConf.style.color}" ng-if="!layer.markerConf[layer.markerConf.type] || layer.markerConf.type == 'default'"></i>
					<i ng-class="layer.markerConf.icon.className" ng-style="{'color':layer.markerConf.style.color, 'font-size':layer.markerConf.size + '%'}" ng-if="layer.markerConf.type == 'icon' && layer.markerConf[layer.markerConf.type]"></i>
					<img ng-if="layer.markerConf.type == 'img' && layer.markerConf[layer.markerConf.type]" ng-style="{'width':layer.markerConf.scale + '%','height':layer.markerConf.scale + '%'}" ng-src="{{ layer.markerConf.img || '//:0' }}"/>
					<img ng-if="layer.markerConf.type == 'url' && layer.markerConf[layer.markerConf.type]" ng-style="{'width':layer.markerConf.scale + '%','height':layer.markerConf.scale + '%'}" ng-src="{{ layer.markerConf.url || '//:0' }}"/>
				</div>
			</div>
			
		</div>
		
		<md-subheader ng-if="layer.visualizationType == 'heatmap'">{{translate.load('sbi.cockpit.map.edit.visualization.header.heatmap')}}</md-subheader>
			<div style="padding:16px;" ng-if="layer.visualizationType == 'heatmap'">
				
				<div layout="row" layout-align="start center">
					<md-input-container class="md-block flex">
				        <label>{{translate.load('sbi.cockpit.map.edit.visualization.heatmap.radius')}}</label>
				        <input ng-model="layer.heatmapConf.radius" type="number" ng-init="layer.heatmapConf.radius=layer.heatmapConf.radius||8">
			      	</md-input-container>
			      	<md-input-container class="md-block flex" >
				        <label>{{translate.load('sbi.cockpit.map.edit.visualization.heatmap.blur')}}</label>
				        <input ng-model="layer.heatmapConf.blur" type="number" ng-init="layer.heatmapConf.blur=layer.heatmapConf.blur||15">
			      	</md-input-container>
				</div>
			</div>
		
		</md-card-content>
	</md-card>
	
	<md-card layout="column" ng-if="layer.expanded=='style'" flex ng-show="openIconManager" >
		<icon-manager ng-if="openIconManager" flex="20" selected-icon="layer.markerConf.icon.className" on-selection="setIcon(icon)" available-families="['fontawesome']"></icon-manager>
	</md-card>
	
</div>