<div layout="row" class="cockpit-map-widget" layout-fill style="position: relative;">
 	<div id="{{ngModel.content.mapId}}" class="map" style="width:100%">
	 	<div class="optionsController" ng-click="toggleSidenav()">
	 		<md-tooltip>Toggle Map Options</md-tooltip>
	 		<i class="fa fa-cog"></i>
	 	</div>
 	</div>
 	
 	<div id="popup" class="ol-popup" >
 		 <a href="#" id="popup-closer" class="ol-popup-closer" ng-click="closePopup()">
 		 	<i class="fa fa-times"></i>
 		 </a>
 		 <div id="popup-content" >
 		 	<h2>DETAILS</h2>
    	    <ul>
    	    	<li ng-repeat="prop in layerConfig track by $index" ng-if="prop.properties.showDetails">
    	    		<p><strong>{{prop.aliasToShow}}:</strong><span ng-cloak>{{props[prop.name].value}}</span></p>
    	    		<p class="warningMessage"><i class='fa fa-warning'></i> The value is within the Alarm range!</p>
    	    	</li>
    	    </ul>
 		 </div>
 	</div>
 	
    
	<ng-include src="getTemplateUrl('mapWidgetControlPanel')"></ng-include>
</div>