<!-- control panel -->
<md-sidenav class="md-sidenav-right mapOptionsSidenav" md-component-id="optionSidenav" md-is-locked-open="optionsSidenavOpened" style="height:100%">
	
    <md-toolbar layout="row" class="secondaryToolbar" layout-align="start center">
      	<h2 class="md-toolbar-tools">OPTIONS</h2>
      	<span flex></span>
    </md-toolbar>

	<div ng-repeat="layer in ngModel.content.layers">
		<div class="indicatorOptions" layout="column">
			<div class="indicatorLabel"  layout="row" layout-align="start center" ng-click="toggleLayerExpanse(layer)">
				<md-icon md-font-icon="fa fa-eye" ng-if="getLayerVisibility(layer.name)" ng-click="toggleLayer($event,layer.name)"></md-icon>
			    <md-icon md-font-icon="fa fa-eye-slash" ng-if="!getLayerVisibility(layer.name)" ng-click="toggleLayer($event,layer.name)"></md-icon>
			    <span flex>{{layer.alias}}</span>
			    <md-icon md-font-icon="fa fa-chevron-down" ng-if="!layer.expandedNav"></md-icon>
			    <md-icon md-font-icon="fa fa-chevron-up" ng-if="layer.expandedNav"></md-icon>
			</div>
			<md-radio-group style="padding:8px;" ng-model="layer.defaultIndicator" ng-if="layer.expandedNav">
	 	   		<md-radio-button ng-repeat="ind in ngModel.content.columnSelectedOfDataset[layer.dsId]" ng-if="ind.properties.showMap" ng-click="thematizeMeasure(layer.name, ind.aliasToShow)"  class="md-primary" ng-value="ind.name" style="font-size:.7rem;" >
		 	   		{{ind.aliasToShow}} <!-- ({{ind.properties.aggregationSelected}})  -->
		 	   	</md-radio-button>
	    	</md-radio-group>
		</div>
	</div>
</md-sidenav>