<md-dialog aria-label="Select Function"  ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>KPI List</h2>
      </div>
    </md-toolbar>
    <md-dialog-content layout="column" style ="height: 80%;">
     <div class="md-dialog-content" layout="column" flex>
		<angular-table class="cssTable" flex
		id='listKpiTable' ng-model="kpiAllList"
		columns='[{"label":"KPI Name","name":"name"},{"label":"Category","name":"valueCd"},{"label":"Date","name":"datacreation"},{"label":"Author","name":"author"},{"label":" ","name":"icon","size":"30px"}]'
		columns-search='["name"]' show-search-bar=true
		multi-select= multiSelect selected-item="selectedItem" comparison-column="'id'"
		scope-functions=tableFunction highlights-selected-item="true"
		> </angular-table>
		</div>
   	 </md-dialog-content>
   	 <md-dialog-actions>
   	 	<md-button class="md-raised md-primary" ng-click="addKPIToCheck()">
          	{{translate.load('sbi.general.save')}}
        </md-button>
		<md-button class="md-raised" ng-click="close()">
			Close    
        </md-button>
   	 </md-dialog-actions>
</md-dialog>
