.x-form-cb-wrap-inner {
	text-align: left;
	margin-left: 5px;
}


.tool-icon {
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.x-tool {
background-image:none;
}

.x-tool-deleteAllItemsFromAxisPanel {
 background: url(../img/icon_deleteAll.png);
}

.highcharts-container{
	margin: auto;
}

.icon-info {
	background-image: url(../img/icon-info15.png) !important;
}