<md-card ng-if="!params" layout-fill layout="column" class="flexCard" style="position:absolute">
<md-card-content flex layout="column" class="noPadding havings">
	<md-toolbar class="secondaryToolbar" layout-padding>
	
		<div class="md-toolbar-tools">
	   		<h2><span>{{translate.load("kn.qbe.havings")}}</span></h2>
			<span flex></span>
			<md-button class="md-fab md-mini" aria-label="Add new filter" ng-click="addNewHaving()">
	            <md-icon md-font-icon="fa fa-plus" ></md-icon>
	            <md-tooltip>{{translate.load("kn.qbe.havings.add.new.having")}}</md-tooltip>
	        </md-button> 
	   	</div>
	</md-toolbar>
	<md-content flex layout="column">
		<div layout="row" layout-align="center center" ng-if="(havings | filter : field.id).length == 0">
			<div class="kn-noItems" flex="60" flex-xs="100">
				<p class="ng-binding">{{translate.load("kn.qbe.havings.nohavings")}}</p>
			</div>
		</div>
		<md-card ng-if="(havings | filter : field.id).length > 0">
			<md-card-content layout="column" layout-padding>
 				<div layout="row" layout-align="space-between" class="filterRow" ng-repeat="having in havings | filter : field.id" >    			
	            	
	      			<md-input-container flex=20>
	      				<label class="havingLabel">{{translate.load("kn.qbe.havings.field")}}</label>
		            	<input name="leftOperand" ng-model="having.leftOperandDescription" readonly>
		            </md-input-container>
					
					<md-input-container flex=10>
						<label class="havingLabel">{{translate.load("kn.qbe.havings.function")}}</label>
						<md-select ng-model="having.leftOperandAggregator">
							<md-option ng-repeat="leftOperandAggregator in getFunctions" value="{{leftOperandAggregator}}">{{leftOperandAggregator}}
							</md-option>
						</md-select>
					</md-input-container>
					
					<md-input-container flex=10>
						<label class="havingLabel">{{translate.load("kn.qbe.havings.operator")}}</label>
						<md-select ng-model="having.operator">
							<md-option ng-repeat="operator in getConditionOptions" value="{{operator.value}}">{{operator.name}}
							</md-option>
						</md-select>
					</md-input-container>				
	
					<md-input-container flex=10>
						<label class="havingLabel">{{translate.load("kn.qbe.havings.target.type")}}</label>
						<md-select ng-model="having.rightType">
							<md-option ng-repeat="rightType in getHavingTargetTypes" value="{{rightType.value}}" ng-click="changeTarget(rightType.value, having)">{{rightType.name}}
							</md-option>
						</md-select>
					</md-input-container>
					
					<md-input-container flex=10 ng-if="having.rightType=='anotherEntity' || having.rightType=='subquery'">
						<label class="havingLabel">{{translate.load("kn.qbe.havings.target.function")}}</label>
						<md-select ng-model="having.rightOperandAggregator">
							<md-option ng-repeat="rightOperandAggregator in getFunctions" value="{{rightOperandAggregator}}">{{rightOperandAggregator}}
							</md-option>
						</md-select>
					</md-input-container>
					
					<md-input-container flex=20 ng-if="having.rightType=='anotherEntity'">
						<label class="havingLabel">{{translate.load("kn.qbe.havings.target")}}</label>
						<input name="rightOperand" ng-model="having.rightOperandDescription" readonly>
					</md-input-container>
					
					<md-input-container ng-if="having.rightType == 'anotherEntity'">
						<md-menu>
							<md-button aria-label="Open menu for setting target type" class="md-icon-button" ng-click="openMenu($mdMenu.open, $event);">
								<md-icon md-menu-origin class="fa fa-angle-down" style="display:inline"></md-icon>
							</md-button>
							<md-menu-content>
								<md-menu-item ng-repeat="entity in tree">
									<md-menu class="havingOtherEntity">
										<md-button ng-click="$mdMenu.open()">
										<span>{{entity.text}}</span>
										</md-button>
										<md-menu-content>
											<md-menu-item ng-repeat="r in entity.children">
												<md-button ng-click="fillInput(having, r, 'anotherEntity')">
													<span>{{r.text}}</span>
												</md-button>
											</md-menu-item>
										</md-menu-content>
									</md-menu>
								</md-menu-item>
							</md-menu-content>
						</md-menu>
					</md-input-container>
					
					<md-input-container flex=25 ng-if="having.rightType=='subquery'">
						<label class="havingLabel">{{translate.load("kn.qbe.havings.target")}}</label>
						<md-select ng-model="having.rightOperandDescription">
							<md-option ng-repeat="s in subqueries" value={{s}} ng-click="fillInput(having, s, 'subquery')">{{s.name}}
							</md-option>
						</md-select>
					</md-input-container>
					
					<md-input-container flex=25 ng-if="having.rightType!='anotherEntity' && having.rightType!='subquery'">
						<label class="havingLabel">{{translate.load("kn.qbe.havings.target")}}</label>
						<input name="rightOperand" ng-model="having.rightOperandDescription" ng-change="edit(having)">
					</md-input-container>
					
					<md-input-container flex=10>
						<label class="havingLabel">{{translate.load("kn.qbe.havings.connector")}}</label>
						<md-select ng-model="having.booleanConnector">
							<md-option ng-repeat="booleanConnector in getBooleanConnectors" value="{{booleanConnector}}">{{booleanConnector}}
						</md-select>
					</md-input-container>
					
					<md-button flex=5 class="md-icon-button" ng-click="deleteHaving(having)">
						<md-icon md-font-icon="fa fa-eraser"></md-icon>
						<md-tooltip md-delay>Clear Having</md-tooltip>
					</md-button>
					
				</div>	
			</md-card-content>
		</md-card>
	</md-content>
  	</md-card-content>
	 <md-card-actions layout="row" layout-align="start center">
	 <span flex></span>
	      <md-button ng-click="closeHavings()" class="md-raised">
	      {{translate.load("kn.qbe.general.cancel")}}
	      </md-button>
	      <md-button ng-click="saveHavings()"  class="md-primary md-raised">
			{{translate.load("kn.qbe.general.save")}}
	      </md-button>
	</md-card-actions>
</md-card>