.grid-button {
	cursor: pointer
}

/* Toolbar*/

.icon-back {
	background-image: url('../../../img/analiticalmodel/execution/ico_back.png') !important;
}

.icon-expand {
	background-image: url('../../../img/expand16x17bis.png') !important;
}

.icon-refresh {
	background-image: url('../../../img/analiticalmodel/execution/ico_refresh.png') !important;
}

/* Menu file */
.icon-print {
	background-image: url('../../../img/analiticalmodel/execution/ico_print.png') !important;
}

.icon-send-mail {
	background-image: url('../../../img/mail_generic16.png') !important;
}

.icon-save-into-personal-folder {
	background-image: url('../../../img/analiticalmodel/execution/ico_save_into_personal_folder.png') !important;
}

/* Menu info */
.icon-metadata {
	background-image: url('../../../img/info16.png') !important;
}

.icon-notes {
	background-image: url('../../../img/analiticalmodel/execution/ico_note.png') !important;
}

.icon-no-notes {
	background-image: url('../../../img/analiticalmodel/execution/ico_no_note.png') !important;
}

.icon-rating {
	background-image: url('../../../img/rating16.png') !important;
}

/* Menu shortcuts */

.icon-add-bookmark {
	background-image: url('../../../img/analiticalmodel/execution/icon_bookmar_add.png') !important;
}
.icon-show-bookmark {
	background-image: url('../../../img/analiticalmodel/execution/icon_bookmar_show.png') !important;
}

.icon-show-subobject {
	background-image: url('../../../img/analiticalmodel/execution/icon_subobject_show.png') !important;
}

.icon-add-subobject {
	background-image: url('../../../img/analiticalmodel/execution/icon_subobject_add.png') !important;
}

.icon-execute-snapshot {
	background-image: url('../../../img/execsnapshot16.png') !important;
}







.icon-apply-viewpoint {
	background-image: url('../../../img/analiticalmodel/execution/apply-viewpoint16.png') !important;
}

.icon-filter {
	background:transparent url('../../../img/analiticalmodel/execution/tool-sprites.gif') no-repeat 0 -45px;
}

.icon-unfilter {
	background:transparent url('../../../img/analiticalmodel/execution/tool-sprites.gif') no-repeat 0 -45px;
}

.icon-select {
	background-image: url('../../../img/select16.png') !important;
}


.icon-saved-parameters {
	background-image: url('../../../img/savedparameters16.png') !important;
}


.icon-save {
	background-image: url('../../../img/save16.png') !important;
}

.icon-saveas {
	background-image: url('../../../img/save-as16.png') !important;
}

.icon-edit {
	background-image: url('../../../img/edit16.png') !important;
}



.icon-view {
	background-image: url('../../../img/editdelete15.png') !important;
}

.icon-clear {
	background-image: url('../../../img/clear16.gif') !important;
}

.icon-insert {
	background-image: url('../../../img/attach.png') !important;
}

.icon-add {
    background-image:url('../../../img/commons/add.gif') !important;
}

.icon-clone {
    background-image:url('../../../img/kpi/linkedDoc.gif') !important;
}

.icon-restore {
    background-image:url('../../../img/tools/importexport/importexport16.png') !important;
}

.icon-remove {
	background-image: url('../../../img/erase.png') !important;
}

.icon-download {
    background-image: url('../../../img/download.png') !important;
}

.icon-info {
    background-image:url('../../../img/info16.png') !important;
}

.icon-profattr {
    background-image:url('../../../img/rolesynch16.png') !important;
}

.icon-execute {
	background-image: url('../../../img/exec16.png') !important;
}

.icon-inspect {
	 background-image:url(../../../img/Inspect.gif) !important;
}

.icon-execute-viewpoint {
	background-image: url('../../../img/exec16.png') !important;
}



.icon-filter-funnel {
	background-image:url(../../../img/filter-funnel.gif) !important;
}







.icon-pdf {
	background-image: url('../../../img/kpi/pdf16.png') !important;
}

.icon-xls {
	background-image: url('../../../img/xls16.png') !important;
}

.icon-xlsx {
	background-image: url('../../../img/xlsx16.png') !important;
}

.icon-png {
	background-image: url('../../../img/png16.png') !important;
}

.icon-graphml {
	background-image: url('../../../img/graphml16.png') !important;
}

.icon-txt {
	background-image: url('../../../img/txt16.png') !important;
}

.icon-csv {
	background-image: url('../../../img/csv16.png') !important;
}

.icon-ppt {
	background-image: url('../../../img/ppt16.png') !important;
}

.icon-xml {
	background-image: url('../../../img/xml16.png') !important;
}

.icon-jpg {
	background-image: url('../../../img/jpg16.png') !important;
}

.icon-rtf {
     background-image:url('../../../img/rtf.gif') !important;
}

.icon-jrxml {
     background-image:url('../../../img/jrxml.gif') !important;
}

.icon-json {
     background-image:url('../../../img/json18.png') !important;
}

.icon-export {
	background-image: url('../../../img/analiticalmodel/execution/ico_exporter.png') !important;
}

.x-form-dependent-field {
    padding:1px 3px;
    background:#DFE8F6;
    border:1px solid #B5B8C8;
}

.icon-it {
	background-image: url('../../../img/it_IT.gif') !important;
}

.icon-en {
	background-image: url('../../../img/en_US.gif') !important;
}

.icon-fr {
	background-image: url('../../../img/fr_FR.gif') !important;
}

.icon-es {
	background-image: url('../../../img/es_ES.gif') !important;
}

.icon-exit {
	background-image: url('../../../img/wapp/exit16.png') !important;
}

.icon-test {
	background-image: url('../../../img/test16.png') !important;
}


.icon-role {
	background-image: url('../../../img/wapp/roles.png') !important;
}

.icon-info {
	background-image: url('../../../img/question.gif') !important;
}

.button-select {
	background-image: url('../../../img/select16.png') !important;
	width: 16px !important;
	height: 16px !important;
}

.button-remove {
	background-image: url('../../../img/erase.png') !important;
	width: 16px !important;
	height: 16px !important;
}


.action-detail-note {
	width:16px;
    height:16px;
    margin:2 2 2 2;
    float:right;
    background-image: url('../../../img/detail.png');
    background-position:center center;
    background-repeat:no-repeat; 
}

.action-delete-note {
	width:16px;
    height:16px;
    margin:2 2 2 2;
    float:right;
    background-image: url('../../../img/error16.gif') !important;
    background-position:center center;
    background-repeat:no-repeat; 
}
.x-tool-plusprofile {
	background-image: url('../../../img/commons/add.gif') !important;
}

.x-exec-paramlabel-disabled {
	color: red;
	background-color: green;
}

.x-exec-lookup-hidden-twin {
	width: 0px !important;
}

.x-exec-lookup-twin-maximize{
    background-image: url(../../../img/analiticalmodel/execution/maximize-trigger.png) !important;
    cursor:pointer;
}

.red-row { background-color: #F5C0C0 !important; background-image: none !important } 
.yellow-row { background-color: #FBF8BF !important; background-image: none !important } 
.green-row { background-color: #99CC99 !important; background-image: none !important }

.document-table-info {
    font-size: 10pt;
}

.document-table-info-icon {
    width: 10%;
}

.document-table-info-title {
    width: 20%;
    font-weight: bold;
    text-align: right;
    padding: 1pt;
}

.document-table-info-content {
    padding: 1pt;
}