<div layout="column" class="qbeCustomTable" flex>
	<div style="padding-bottom:5px">
		<md-toolbar>
			<div class="md-toolbar-tools secondaryToolbar">
				<i class="md-icon-button" ng-click="toggleEntitiesList()">
					<md-tooltip ng-if="!hideList" md-delay="500">Hide List</md-tooltip>
					<md-tooltip ng-if="hideList" md-delay="500">Show List</md-tooltip>
					<i ng-if="!hideList" class="fas fa-chevron-left"></i>
					<i ng-if="hideList" class="fas fa-chevron-right"></i>
				</i>
				<ng-transclude></ng-transclude>
				
				<span flex></span>
				<i ng-if="ngModel.length > 0" class="md-icon-button" ng-click="removeColumns(ngModel,!query_service.smartView)" style="margin-right: 4px;">
					<md-tooltip md-delay="500">{{::translate.load("kn.qbe.selectgridpanel.buttons.tt.deleteall")}}</md-tooltip>
					<i class="fas fa-eraser"></i>
				</i>
				<i class="md-icon-button" ng-if="filters.length>0" ng-click="deleteAllFilters()">
					<md-tooltip md-delay="500">{{::translate.load("kn.qbe.filtergridpanel.buttons.tt.delete")}}</md-tooltip>
					<span class="fa-stack">
						<i class="fas fa-ban fa-stack-2x"></i>
						<i class="fas fa-filter fa-stack-1x"></i>
					</span>
				</i>

				<md-button class="md-icon-button" ng-click="showHiddenColumns()" ng-if="hiddenColumns()">
					<md-tooltip md-delay="500"> {{::translate.load("kn.qbe.custom.table.show.hidden.columns.tooltip")}}</md-tooltip>
					<md-icon md-font-icon="fa fa-eye"></md-icon>
				</md-button>
				<md-switch ng-model="query_service.smartView" aria-label="Switch smart preview">
					{{::translate.load("kn.qbe.custom.table.smartdata")}}
				</md-switch>
				
				<md-button ng-if="selectedVisualization=='previewData' && !query_service.smartView" class="md-icon-button"  ng-click="executeRequest()">
					<md-icon md-font-icon="fa fa-play">
						<md-tooltip md-delay="500">{{::translate.load('kn.qbe.execute')}}</md-tooltip>
					</md-icon>
				</md-button>
				
				<md-menu>
					<md-button class="kn-list-action-button md-icon-button" ng-click="openMenu($mdOpenMenu,$event)">
						<md-tooltip> {{::translate.load("kn.qbe.export.menu.tooltip")}}</md-tooltip>
						<md-icon md-menu-origin md-font-icon="fa fa-ellipsis-v"></md-icon>
						</md-button>
						<md-menu-content width="4" class="qbeMenuContent">
							<md-menu-item>
								<md-button ng-click="showSQLQuery()">{{::translate.load('kn.generic.query.SQL')}}</md-button>
							</md-menu-item>
							<md-menu-item ng-show="ngModel.length>0">
								<md-checkbox ng-model="distinct" class="menuCheckbox" ng-change="setDistinct(distinct)" style="width:auto"></md-checkbox>
								<span>{{::translate.load("kn.qbe.custom.table.distinct")}}</span>
							</md-menu-item>
							<md-menu-item>
								<md-button ng-click="openDialogForParams(ngModel)">{{::translate.load('kn.qbe.calculatedFields.parameters')}}</md-button>
							</md-menu-item>
							<md-menu-item ng-if="!query_service.smartView">
								<md-button ng-click="showCalculatedField(ngModel)">{{::translate.load('kn.qbe.calculatedFields')}}</md-button>
							</md-menu-item>
							<md-menu-item>
								<md-button ng-click="openFiltersAdvanced()">{{::translate.load('kn.qbe.filter.advanced')}}</md-button>
							</md-menu-item>
							<md-menu-item>
								<md-button ng-click="openDialogJoinDefinitions(ngModel)">{{::translate.load("kn.qbe.custom.table.toolbar.join.definition")}}</md-button>
							</md-menu-item>
							<md-menu-item ng-if="ngModel.length>0">
								<export-menu  ></export-menu>
							</md-menu-item>
						</md-menu-content>		
				</md-menu>
			</div>
		</md-toolbar>
   	</div>
   		<md-content flex>
   			<qbe-advanced-visualization ng-if="selectedVisualization=='advanced'" ng-model="filters"></qbe-advanced-visualization>
   			<qbe-filter-visualization ng-if="selectedVisualization=='filters'"></qbe-filter-visualization>
   	
   			<div layout="column" ng-if="selectedVisualization=='previewData' && !query_service.smartView">
   				<md-card layout-padding layout="column">	
					<angular-table
						id="basicView"
						layout-fill
						ng-model="ngModel"
						columns='basicViewColumns'
						scope-functions=basicViewScopeFunctions
						speed-menu-option="treeSpeedMenu"
						no-pagination=true
						allow-edit=true>
					</angular-table>									
				</md-card>
			</div>

	<div layout="row" ng-if="selectedVisualization=='previewData' && query_service.smartView">
		
		<div
			ag-grid="qbeTableGrid"
			class="ag-theme-balham ag-theme-knowage-advanced ag-noBorders ag-qbe-table"
			style="width: 100%"
			ng-show="ngModel && ngModel.length > 0">
		</div>
		
	</div>
  </md-content>
  <div layout="row" ng-if="query_service.smartView && ngModel.length > 0 && results > 0">
  	<div class="ag-theme-balham" flex>
		<div class=" ag-paging-panel ag-noBorders ag-font-style">
			<span ref="eSummaryPanel" class="ag-paging-row-summary-panel">
				<span ref="lbFirstRowOnPage">{{(start * itemsPerPage) + 1}}</span> to <span ref="lbLastRowOnPage">{{maxPageNumber()}}</span> of <span ref="lbRecordCount">{{results}}</span>
			</span>
			<span class="ag-paging-page-summary-panel">
				<div ref="btFirst" class="ag-paging-button-wrapper" ng-class="{'ag-disabled':disableFirst()}">
					<span class="ag-icon ag-icon-first" unselectable="on"></span>
					<button type="button" class="ag-paging-button" ref="btFirst" ng-disabled="disableFirst()" ng-click="first()">First</button>
				</div>
				<div ref="btPrevious" class="ag-paging-button-wrapper" ng-class="{'ag-disabled':disableFirst()}">
					<span class="ag-icon ag-icon-previous" unselectable="on"></span>
					<button type="button" class="ag-paging-button" ref="btPrevious" ng-disabled="disableFirst()" ng-click="prev()">Previous</button>
				</div>
				Page <span ref="lbCurrent">{{start + 1}}</span> of <span ref="lbTotal">{{totalPages}}</span>
				<div ref="btNext" class="ag-paging-button-wrapper" ng-class="{'ag-disabled':disableLast()}"><span class="ag-icon ag-icon-next" unselectable="on"></span>
					<button type="button" class="ag-paging-button" ref="btNext" ng-click="next()" ng-disabled="disableLast()">Next</button>
				</div>
				<div ref="btLast" class="ag-paging-button-wrapper" ng-class="{'ag-disabled':disableLast()}"><span class="ag-icon ag-icon-last" unselectable="on"></span>
					<button type="button" class="ag-paging-button" ref="btLast" ng-disabled="disableLast()" ng-click="last()">Last</button>
				</div>
			</span>
		</div>
	</div>
</div>
  	
	<!--  md-whiteframe ng-if="query_service.smartView && ngModel.length > 0 && results > 0" class="md-whiteframe-3dp" layout="row">
		<span flex></span>
		<qbe-pagination total-count="results" on-page-change='pageChanged(newPageNumber)'></qbe-pagination>
		<div flex="5"></div>
	</md-whiteframe-->
	<div id="ag-popup-close-area" style="position: absolute; display: none; top: 0; left:0; width: 100%; height: 100%;" ng-click="closePopup()">
		<div class="ag-theme-balham ag-popup" id="ag-popup" >
			<div class="ag-menu ag-popup-child" id="ag-popup-child" style="min-width: 242px;">
				<div ref="eBody" class="ag-menu-body">
					<div class="ag-menu-list" tabindex="-1">
						<div class="ag-menu-option" tabindex="-1" >
							<span ref="eIcon" class="ag-menu-option-icon ag-menu-option-part">
								<input type="checkbox" ng-model="field.visible" ng-click="setVisible(field.id,field.entity, field.visible)"/>
							</span>
							<span ref="eName" class="ag-menu-option-text ag-menu-option-part">{{::translate.load("kn.qbe.custom.table.show.field")}}</span>
							<span ref="eShortcut" class="ag-menu-option-shortcut ag-menu-option-part"></span>
							<span ref="ePopupPointer" class="ag-menu-option-popup-pointer ag-menu-option-part">&nbsp;</span>
						</div>
						
						<div class="ag-menu-option" tabindex="-1" ng-show="field.iconCls=='measure'" ng-if="isTemporal">
							<span ref="eIcon" class="ag-menu-option-icon ag-menu-option-part">&nbsp;</span>
							<span ref="eName" class="ag-menu-option-text ag-menu-option-part">{{::translate.load("kn.qbe.selectgridpanel.name.temporalOperand.parameter")}}</span>
							<span ref="eShortcut" class="ag-menu-option-shortcut ag-menu-option-part"></span>
							<span ref="ePopupPointer" class="ag-menu-option-popup-pointer ag-menu-option-part">&nbsp;</span>
						</div>
						
						
						<div class="ag-menu-option" tabindex="-1" ng-show="field.iconCls=='measure'" ng-if="isTemporal">
							<span ref="eIcon" class="ag-menu-option-icon ag-menu-option-part"><span class="fa fa-puzzle-piece"></span></span>
							<span ref="eName" class="ag-menu-option-text ag-menu-option-part">{{::translate.load("kn.qbe.custom.table.function.temporal")}}</span>
							<span ref="eShortcut" class="ag-menu-option-shortcut ag-menu-option-part"></span>
							<md-menu >
								<span ref="ePopupPointer" class="ag-menu-option-popup-pointer ag-menu-option-part" ng-click="openMenu($mdMenu.open, $event)"><span class="ag-icon ag-icon-small-right" unselectable="on"></span></span>
								<md-menu-content class="qbeMenuContent"> 
									<md-menu-item>
										<md-button ng-click="applyFuntion('YTD',field.id,field.entity)">
											<span>YTD</span> 
										</md-button> 
									</md-menu-item> 
									<md-menu-item> 
										<md-button ng-click="applyFuntion('LAST_YEAR',field.id,field.entity)">
											<span>LAST_YEAR</span> 
										</md-button> 
									</md-menu-item> 
									<md-menu-item> 
										<md-button ng-click="applyFuntion('PARALLEL_YEAR',field.id,field.entity)">
											<span>PARALLEL_YEAR</span> 
										</md-button> 
									</md-menu-item> 
									<md-menu-item> 
										<md-button ng-click="applyFuntion('MTD',field.id,field.entity)"> 
											<span>MTD</span>
										</md-button> 
									</md-menu-item> 
									<md-menu-item> 
										<md-button ng-click="applyFuntion('LAST_MONTH',field.id,field.entity)">
											<span>LAST_MONTH</span> 
										</md-button>
									</md-menu-item> 
								</md-menu-content>
							</md-menu>
						</div>
						
						<div class="ag-menu-option" tabindex="-1" ng-show="field.iconCls=='attribute' || (field.iconCls=='calculation' && field.attributes.formState.nature.toLowerCase()=='attribute')">
							<span ref="eIcon" class="ag-menu-option-icon ag-menu-option-part">
								<input type="checkbox" ng-model="field.group" ng-click="group(field.id, field.entity, field.group)"/>
							</span>
							<span ref="eName" class="ag-menu-option-text ag-menu-option-part">{{::translate.load("kn.qbe.custom.table.group")}}</span>
							<span ref="eShortcut" class="ag-menu-option-shortcut ag-menu-option-part"></span>
							<span ref="ePopupPointer" class="ag-menu-option-popup-pointer ag-menu-option-part">&nbsp;</span>
						</div>
						
						<div class="ag-menu-option" tabindex="-1" ng-show="field.iconCls=='measure'  || (field.iconCls=='calculation' && field.attributes.formState.nature.toLowerCase()=='measure')">
							<span ref="eIcon" class="ag-menu-option-icon ag-menu-option-part"><span class="kni kni-sum"></span></span>
							<span ref="eName" class="ag-menu-option-text ag-menu-option-part">{{::translate.load("kn.qbe.custom.table.aggregation")}}</span>
							<span ref="eShortcut" class="ag-menu-option-shortcut ag-menu-option-part"></span>
							<md-menu >
								<span ref="ePopupPointer" class="ag-menu-option-popup-pointer ag-menu-option-part" ng-click="openMenu($mdMenu.open, $event)"><span class="ag-icon ag-icon-small-right" unselectable="on"></span></span>
								<md-menu-content class="qbeMenuContent">
									<!--
										KNOWAGE-5457 : Hide NONE into SmartView
									 -->
									<!--
									<md-menu-item>
										<md-button ng-click="applyFuntion('none',field.id,field.entity)" ng-class="{'md-raised':field.funct=='NONE'}">
											<span>{{::translate.load("kn.qbe.custom.table.none")}}</span> 
										</md-button> 
									</md-menu-item>
									 -->
									<md-menu-item> 
										<md-button ng-click="applyFuntion('sum',field.id,field.entity)" ng-class="{'md-raised':field.funct=='SUM'}">
											<span>{{::translate.load("kn.qbe.custom.table.sum")}}</span> 
										</md-button> 
									</md-menu-item> 
									<md-menu-item> 
										<md-button ng-click="applyFuntion('min',field.id,field.entity)" ng-class="{'md-raised':field.funct=='MIN'}">
											<span>{{::translate.load("kn.qbe.custom.table.min")}}</span> 
										</md-button> 
									</md-menu-item> 
									<md-menu-item> 
										<md-button ng-click="applyFuntion('max',field.id,field.entity)" ng-class="{'md-raised':field.funct=='MAX'}"> 
											<span>{{::translate.load("kn.qbe.custom.table.max")}}</span>
										</md-button> 
									</md-menu-item> 
									<md-menu-item> 
										<md-button ng-click="applyFuntion('avg',field.id,field.entity)" ng-class="{'md-raised':field.funct=='AVG'}"> 
											<span>{{::translate.load("kn.qbe.custom.table.avg")}}</span>
										</md-button> 
									</md-menu-item>
									<md-menu-item> 
										<md-button ng-click="applyFuntion('count',field.id,field.entity)" ng-class="{'md-raised':field.funct=='COUNT'}"> 
											<span>{{::translate.load("kn.qbe.custom.table.count")}}</span>
										</md-button> 
									</md-menu-item>
									<md-menu-item> 
										<md-button ng-click="applyFuntion('count_distinct',field.id,field.entity)" ng-class="{'md-raised':field.funct=='COUNT_DISTINCT'}"> 
											<span>{{::translate.load("kn.qbe.custom.table.count.distinct")}}</span>
										</md-button> 
									</md-menu-item>
								</md-menu-content>
							</md-menu>
						</div>

						<div class="ag-menu-option" tabindex="-1" ng-click="changeAlias(field)">
							<span ref="eIcon" class="ag-menu-option-icon ag-menu-option-part"><span class="fa fa-tag"></span></span>
							<span ref="eName" class="ag-menu-option-text ag-menu-option-part">Rename alias</span>
							<span ref="eShortcut" class="ag-menu-option-shortcut ag-menu-option-part"></span>
							<span ref="ePopupPointer" class="ag-menu-option-popup-pointer ag-menu-option-part">&nbsp;</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>