<div class="qbeCustomColumn" layout-column>
	<md-toolbar>
	<div class="md-toolbar-tools">
		<md-button aria-label="query settings menu" class="md-icon-button"
			ng-click="toggleOrder(field)"> <md-tooltip
			md-direction="top">{{field.name}}</md-tooltip> <md-icon
			md-menu-origin class="fa fa-sort"></md-icon> </md-button>

		<p style="min-width: 60px">
			{{field.alias}}
			<md-tooltip md-direction="top">{{field.alias}}</md-tooltip>
		</p>

		<md-menu> <md-button aria-label="query settings menu"
			class="md-icon-button" ng-click="openMenu($mdMenu.open, $event)">
		<md-tooltip md-direction="top">{{::translate.load("kn.qbe.custom.table.column.settings")}}</md-tooltip>
		<md-icon md-menu-origin class="fa fa-cog"></md-icon> </md-button> <md-menu-content
			class="qbeMenuContent"> <md-menu-item>
		<md-checkbox ng-model="field.visible"
			ng-click="setVisible(field.id,field.entity, field.visible)"
			class="menuCheckbox" aria-label="show column"> <span>{{::translate.load("kn.qbe.custom.table.show.field")}}</span>
		</md-checkbox> </md-menu-item> <md-menu-item ng-show="field.iconCls=='measure'" ng-if="isTemporal">
		<md-button ng-click="addTemporalParameter(field)"> <md-icon
			class="fa fa-terminal"></md-icon> <span>{{::translate.load("kn.qbe.selectgridpanel.name.temporalOperand.parameter")}}</span>
		</md-button> </md-menu-item> <md-menu-item ng-show="field.iconCls=='measure'" ng-if="isTemporal">
		<md-menu> <md-button
			ng-click="openMenu($mdMenu.open, $event)"> <md-icon
			class="fa fa-puzzle-piece"></md-icon> <span>{{::translate.load("kn.qbe.custom.table.function.temporal")}}</span>
		</md-button> <md-menu-content class="qbeMenuContent"> <md-menu-item>
		<md-button ng-click="applyFuntion('YTD',field.id,field.entity)">
		<span>YTD</span> </md-button> </md-menu-item> <md-menu-item> <md-button
			ng-click="applyFuntion('LAST_YEAR',field.id,field.entity)">
		<span>LAST_YEAR</span> </md-button> </md-menu-item> <md-menu-item> <md-button
			ng-click="applyFuntion('PARALLEL_YEAR',field.id,field.entity)">
		<span>PARALLEL_YEAR</span> </md-button> </md-menu-item> <md-menu-item> <md-button
			ng-click="applyFuntion('MTD',field.id,field.entity)"> <span>MTD</span>
		</md-button> </md-menu-item> <md-menu-item> <md-button
			ng-click="applyFuntion('LAST_MONTH',field.id,field.entity)">
		<span>LAST_MONTH</span> </md-button> </md-menu-item> </md-menu-content> </md-menu> </md-menu-item> <md-menu-item
			ng-show="field.iconCls=='attribute' || (field.iconCls=='calculation' && field.attributes.formState.nature.toLowerCase()=='attribute')">
		<md-checkbox ng-model="field.group"
			ng-click="group(field.id, field.entity, field.group)"
			class="menuCheckbox" aria-label="hide column"> <span>
			{{::translate.load("kn.qbe.custom.table.group")}}</span> </md-checkbox> </md-menu-item> <md-menu-item
			ng-show="field.iconCls=='measure'  || (field.iconCls=='calculation' && field.attributes.formState.nature.toLowerCase()=='measure')">
		<md-menu> <md-button
			ng-click="openMenu($mdMenu.open, $event)"> <md-icon
			md-font-icon="kni kni-sum"></md-icon> <span>{{::translate.load("kn.qbe.custom.table.aggregation")}}</span>
		</md-button> <md-menu-content class="qbeMenuContent"> <md-menu-item>
		<md-button ng-click="applyFuntion('none',field.id,field.entity)"
			ng-class="{'md-raised':field.funct=='NONE'}"> <span>{{::translate.load("kn.qbe.custom.table.none")}}</span>
		</md-button> </md-menu-item> <md-menu-item> <md-button
			ng-click="applyFuntion('sum',field.id,field.entity)"
			ng-class="{'md-raised':field.funct=='SUM'}"> <span>{{::translate.load("kn.qbe.custom.table.sum")}}</span>
		</md-button> </md-menu-item> <md-menu-item> <md-button
			ng-click="applyFuntion('min',field.id,field.entity)"
			ng-class="{'md-raised':field.funct=='MIN'}"> <span>{{::translate.load("kn.qbe.custom.table.min")}}</span></md-button>
		</md-menu-item> <md-menu-item> <md-button
			ng-click="applyFuntion('max',field.id,field.entity)"
			ng-class="{'md-raised':field.funct=='MAX'}"> <span>{{::translate.load("kn.qbe.custom.table.max")}}</span>
		</md-button> </md-menu-item> <md-menu-item> <md-button
			ng-click="applyFuntion('avg',field.id,field.entity)"
			ng-class="{'md-raised':field.funct=='AVG'}"> <span>{{::translate.load("kn.qbe.custom.table.avg")}}</span>
		</md-button> </md-menu-item> <md-menu-item> <md-button
			ng-click="applyFuntion('count',field.id,field.entity)"
			ng-class="{'md-raised':field.funct=='COUNT'}"> <span>{{::translate.load("kn.qbe.custom.table.count")}}</span>
		</md-button> </md-menu-item> <md-menu-item> <md-button
			ng-click="applyFuntion('count_distinct',field.id,field.entity)"
			ng-class="{'md-raised':field.funct=='COUNT_DISTINCT'}"> <span>{{::translate.load("kn.qbe.custom.table.count.distinct")}}</span>
		</md-button> </md-menu-item> </md-menu-content> </md-menu> </md-menu-item> <md-menu-item> <md-button
			ng-click="moveLeft(field.order, field)"> <md-icon
			class="fa fa-angle-left"></md-icon> <span>{{::translate.load("kn.qbe.custom.table.move.left")}}</span>
		</md-button> </md-menu-item> <md-menu-item> <md-button
			ng-click="moveRight(field.order, field)"> <md-icon
			class="fa fa-angle-right"></md-icon> <span>{{::translate.load("kn.qbe.custom.table.move.right")}}</span>
		</md-button> </md-menu-item> <md-menu-item> <md-button
			ng-click="changeAlias(field)"> <md-icon class="fa fa-tag"></md-icon>
		<span>{{::translate.load("kn.qbe.general.alias")}}</span> </md-button> </md-menu-item> </md-menu-content> </md-menu>
		<md-button aria-label="query settings menu" class="md-icon-button"
			ng-click="removeColumns([field])"> <md-tooltip
			md-direction="top">{{::translate.load("kn.qbe.custom.table.delete.column")}}</md-tooltip>
		<md-icon md-menu-origin class="fa fa-times"></md-icon> </md-button>
	</div>
	</md-toolbar>

</div>