<md-card  ng-form name="structure-orderingColumnForm" flex >
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-menu>
				<md-button 	aria-label="Help " class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)"
		      				style="margin-left:2; margin-right:2;" ng-class="structureForm.$invalid ? 'dangerBorder' : ''">
		        	<md-icon md-menu-origin class="fa fa-question-circle" style="display:inline"></md-icon>
		      	</md-button>
		      	<md-menu-content style="min-height:175px;padding:20px 20px;>
	        		<md-menu-item class="noright" style="padding:0 8 0 16">
	          			<span  ng-bind-html="translate.load('sbi.chartengine.designer.emptytext.dragdropmeasures.' + selectedChartType.toLowerCase())"></span>
	        			<span  ng-bind-html="translate.load('sbi.chartengine.designer.emptytext.dragdropattributes.' + selectedChartType.toLowerCase())"></span>
	        		</md-menu-item>	        		
        		</md-menu-content>
	      	</md-menu>
		</div>	
	</md-toolbar> 
	<div layout="row"  flex=100 layout-margin ng-if="selectedChartType.toLowerCase()!='radar'">
	
		<label>{{translate.load("sbi.chartengine.structure.categoryStyleConfig.categoriesDateTime")}}</label>
		<md-input-container class="small counter"> <md-checkbox ng-disabled="chartTemplate.groupSeries || chartTemplate.groupCategories"
			ng-model="chartTemplate.dateTime" style="margin:0 8px" aria-label="dateTime" name="generic_dateTime" ></md-checkbox>
		</md-input-container>
		<md-icon ng-if="chartTemplate.dateTime" md-menu-origin class="fa fa-question-circle" style="display:inline">
			<md-tooltip md-direction="bottom">
				{{translate.load("sbi.chartengine.structure.categoryStyleConfig.categoryDate.info")}}
			</md-tooltip>
		</md-icon>
	</div>

	<div ng-if="chartTemplate.dateTime" layout="column" layout-padding ng-if="selectedChartType.toLowerCase()!='radar'">
	<md-input-container class="md-block">
		 <label>{{translate.load("sbi.chartengine.structure.categoryStyleConfig.dateFormat")}}</label>
			 <md-select ng-model="chartTemplate.dateFormat" name="categories_ordering_type"> <md-option
			ng-repeat="option in listDateFormats" value="{{option.value}}">{{option.name}}</md-option>
		</md-select> </md-input-container>
		
	</div>
	<div ng-if="chartTemplate.dateTime && (selectedChartType.toLowerCase()=='bar' || selectedChartType.toLowerCase()=='line')" layout="column" layout-padding>
	<md-input-container class="md-block">
	 <label >{{translate.load("sbi.chartengine.structure.categoryStyleConfig.categoryDate")}}</label>
		 <md-select ng-model="chartTemplate.categoryDate" name="categoryDate" > <md-option
		ng-repeat="option in categories" value="{{option.name}}">{{option.name}}</md-option>
	</md-select> </md-input-container>
		
	</div>	
	
	<div layout="row"
		   flex=100 layout-margin ng-if="selectedChartType.toLowerCase()!='scatter' && selectedChartType.toLowerCase()!='heatmap' && selectedChartType.toLowerCase()!='radar'">
		
			<label>{{translate.load("sbi.chartengine.designer.tab.configuration.groupCategories")}}</label>
			<md-input-container class="small counter"> <md-checkbox  ng-disabled="chartTemplate.groupSeries || chartTemplate.dateTime  || chartTemplate.groupSeriesCateg || chartTemplate.show3D" 
				ng-model="chartTemplate.groupCategories" style="margin:0 8px" aria-label="groupCategories" name="generic_groupCategories" ></md-checkbox>
			</md-input-container>
			<md-icon md-menu-origin class="fa fa-question-circle" style="display:inline">	
				<md-tooltip md-direction="bottom">	
					{{translate.load("sbi.chartengine.designer.tab.grouping.category")}}	
				</md-tooltip>	
			</md-icon>
	</div>

	<md-subheader class="md-primary" ng-if="selectedChartType.toLowerCase()!='scatter' && selectedChartType.toLowerCase()!='heatmap'" >
	{{translate.load("sbi.chartengine.designer.tab.configuration.grouping.createsplitting")}}
	<md-icon md-menu-origin class="fa fa-question-circle" style="display:inline">	
				<md-tooltip md-direction="bottom">	
					{{translate.load("sbi.chartengine.designer.tab.grouping.groupSeries")}}	
				</md-tooltip>	
			</md-icon>
	</md-subheader>
				
	
	<div layout="row" ng-if="selectedChartType.toLowerCase()!='scatter' && selectedChartType.toLowerCase()!='heatmap'">
	 <div layout="column"
			  flex=100 layout-margin ng-if="selectedChartType.toLowerCase()!='radar'">
		
			<label>{{translate.load("sbi.chartengine.designer.tab.configuration.groupSeries")}}</label>
			<md-input-container class="small counter"> <md-checkbox  ng-disabled="chartTemplate.groupCategories || chartTemplate.dateTime  || chartTemplate.groupSeriesCateg"
				ng-model="chartTemplate.groupSeries" style="margin:0 8px" aria-label="groupSeries" name="generic_groupSeries" ></md-checkbox>
			</md-input-container>
		</div>  
	 	<div layout="column"
			  flex=100 layout-margin>
		
			<label>{{translate.load("sbi.chartengine.designer.tab.configuration.groupSeriesCateg")}}</label>
			<md-input-container class="small counter"> <md-checkbox  ng-disabled="chartTemplate.groupCategories  || chartTemplate.groupSeries"
				ng-model="chartTemplate.groupSeriesCateg" style="margin:0 8px" aria-label="groupSeriesCateg" name="generic_groupSeriesCateg" ></md-checkbox>
			</md-input-container>
		</div>	
		
		</div>
		
			<div layout="row" ng-if="chartTemplate.groupSeriesCateg">
			<div layout="column" flex=100 layout-margin>
			
			<label>{{translate.load("sbi.chartengine.designer.tab.configuration.seriesToUse")}}</label>
			<md-input-container class="md-block">
				 <md-select ng-model="chartTemplate.groupedSerie" >
				 	<md-option
					ng-repeat="seriesItem in chartTemplate.VALUES.SERIE " value="{{seriesItem.column}}">{{seriesItem.column}}
					</md-option>
				 </md-select> 
			</md-input-container>
			
			</div>
		</div>
		
	
</md-card>