<div  ng-form name="structure-labelsForm"  layout="column" layout-padding flex>

<md-input-container class="md-block"> 
	<label>{{translate.load("sbi.chartengine.axisstylepopup.labelParams.distanceLabelFromYAxis")}}</label>
		 <input type="number" step="any" name="gauge_labels_distance"
		ng-model="axisForDisplay.LABELS.distance"/> </md-input-container>

<div layout="row"  layout-align="start center" >
	<label>{{translate.load("sbi.chartengine.axisstylepopup.labelParams.enable.rotationOfLabelYAxis")}}</label>
	<md-input-container class="small counter">  
		<md-checkbox ng-model="axisForDisplay.LABELS.rotationEnabled"
		style="margin:0 8px" aria-label="enableRotation" name="enableRotation"></md-checkbox>
	</md-input-container>
</div>

<md-input-container class="md-block"> 
		<label>{{translate.load("sbi.chartengine.axisstylepopup.labelParams.rotationOfLabelYAxis")}}</label>
		<input  type="number" step="any" name="gauge_labels_rotation"
			ng-model="axisForDisplay.LABELS.rotation" ng-disabled="!axisForDisplay.LABELS.rotationEnabled" /> 
	</md-input-container>
	

</div>