<div ng-form name="structure-orderingColumnForm" flex>
<div layout="column" layout-padding>

<md-input-container class="md-block"  ng-if="selectedChartType.toLowerCase()=='heatmap'">
	<label >{{translate.load("sbi.chartengine.structure.categoryStyleConfig.orderByColumnFirstCateg.labelText")}}</label>
	<md-select ng-model="categories[0].orderColumn" name="categories_ordering_column"> <md-option
			ng-repeat="option in allAttributes" value="{{option.name}}">{{option.alias}}</md-option>
	</md-select> 
</md-input-container>		
<md-input-container class="md-block"  ng-if="selectedChartType.toLowerCase()=='heatmap'">
	<label >{{translate.load("sbi.chartengine.structure.categoryStyleConfig.orderingType.labelText")}}</label>
	<md-select ng-model="categories[0].orderType" name="categories_ordering_type"> <md-option
			ng-repeat="option in seriesItemOrderingTypes" value="{{option.value}}">{{option.name}}</md-option>
	</md-select> 
</md-input-container>
		
<md-input-container class="md-block"  ng-if="selectedChartType.toLowerCase()!='heatmap' && selectedChartType.toLowerCase()!='bar' && selectedChartType.toLowerCase()!='bubble' && selectedChartType.toLowerCase()!='line' && selectedChartType.toLowerCase()!='pie'">
	<label>{{translate.load("sbi.chartengine.structure.categoryStyleConfig.orderByColumn.labelText")}}</label>
	<md-select ng-model="categories[0].orderColumn" name="categories_ordering_column"> <md-option
		ng-repeat="option in allAttributes" value="{{option.name}}">{{option.alias}}</md-option>
	</md-select> 
</md-input-container>
	
<md-input-container class="md-block"  ng-if="selectedChartType.toLowerCase()!='heatmap' && selectedChartType.toLowerCase()!='bar' && selectedChartType.toLowerCase()!='bubble' && selectedChartType.toLowerCase()!='line' && selectedChartType.toLowerCase()!='pie'">
	<label >{{translate.load("sbi.chartengine.structure.categoryStyleConfig.orderingType.labelText")}}</label>
	<md-select ng-model="categories[0].orderType" name="categories_ordering_type"> <md-option
		ng-repeat="option in seriesItemOrderingTypes" value="{{option.value}}">{{option.name}}</md-option>
	</md-select> 
</md-input-container>


<!--  -->
<div layout="row" ng-repeat="category in categories track by $index" ng-if="selectedChartType.toLowerCase()=='bar' || selectedChartType.toLowerCase()=='line' || selectedChartType.toLowerCase()=='pie'">

<div layout="column" flex=50>
	<label>{{category.column}}</label>
</div>
<div layout="column" flex=50>
	<md-input-container class="md-block">
		 <label >{{translate.load("sbi.chartengine.structure.categoryStyleConfig.orderByColumn.labelText")}}</label>
			 <md-select ng-model="chartTemplate.VALUES.CATEGORY.drillOrder[category.column].orderColumn" name="drill_category_ordering_column">
			 <md-option></md-option>
			 <md-option	ng-repeat="option in allAttributes track by $index" value="{{option.name}}">{{option.alias}}</md-option>
		</md-select>
	</md-input-container>
	<md-input-container class="md-block">
		 <label >{{translate.load("sbi.chartengine.structure.categoryStyleConfig.orderingType.labelText")}}</label>
			<md-select ng-model="chartTemplate.VALUES.CATEGORY.drillOrder[category.column].orderType"  name="drill_category_ordering_type"> 
				 <md-option ng-repeat="option in seriesItemOrderingTypes" value="{{option.value}}">{{option.name}}</md-option>
	</md-select> </md-input-container>
		
</div>

</div>
	
	
	<!--  -->
<md-input-container class="md-block" ng-if="selectedChartType.toLowerCase()=='heatmap'">
	 <label>{{translate.load("sbi.chartengine.structure.categoryStyleConfig.orderByColumnSecCateg.labelText")}}</label>
		 <md-select ng-model="categories[1].orderColumn" name="categories_ordering_column"> <md-option
		ng-repeat="option in allAttributes" value="{{option.name}}">{{option.alias}}</md-option>
	</md-select> </md-input-container>
	
<md-input-container class="md-block" ng-if="selectedChartType.toLowerCase()=='heatmap'">
	 <label>{{translate.load("sbi.chartengine.structure.categoryStyleConfig.orderingType.labelText")}}</label>
		 <md-select ng-model="categories[1].orderType" name="categories_ordering_type"> <md-option
		ng-repeat="option in seriesItemOrderingTypes" value="{{option.value}}">{{option.name}}</md-option>
	</md-select> </md-input-container>
	
</div>	

</div>              	