<md-card  ng-form name="structure-orderingColumnForm" flex >
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>
				{{translate.load("sbi.chartengine.designer.tab.configuration.grouping.createsplitting")}}
			</h2>
			<md-menu>
				<md-button 	aria-label="Help " class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)"
		      				style="margin-left:2; margin-right:2;" ng-class="structureForm.$invalid ? 'dangerBorder' : ''">
		        	<md-icon md-menu-origin class="fa fa-question-circle" style="display:inline"></md-icon>
		      	</md-button>
		      	<md-menu-content style="min-height:175px;padding:20px 20px;">
	        		<md-menu-item class="noright" style="padding:0 8 0 16">
						<span  ng-bind-html="translate.load('sbi.chartengine.designer.emptytext.dragdropattributes.' + selectedChartType.toLowerCase())"></span>
	        		</md-menu-item>	        		
        		</md-menu-content>
	      	</md-menu>
		</div>	
	</md-toolbar> 
	<div layout="row" flex layout-margin flex=100 layout-align="start center">
		<label>{{translate.load("sbi.chartengine.designer.tab.configuration.groupSeriesCateg.split")}}</label>
		<md-input-container class="small counter">
			<md-checkbox  ng-model="chartTemplate.groupSeriesCateg" style="margin:0 8px" aria-label="groupSeriesCateg" name="generic_groupSeriesCateg" ng-click=removeProperties()></md-checkbox>
		</md-input-container>
	</div>
	
		
	<div layout="column" ng-if="chartTemplate.groupSeriesCateg">
		
		<md-input-container class="md-block">
			<label>{{translate.load("sbi.chartengine.designer.tab.configuration.groupSeriesCateg.coloredCategory")}}</label>
			<md-select ng-model="chartTemplate.coloredCategory" >
				<md-option ng-repeat="categ in categories" value="{{categ.column}}">{{categ.column}}</md-option>
			</md-select> 
		</md-input-container>
		
		<md-input-container class="md-block">
			<label>{{translate.load("sbi.chartengine.designer.tab.configuration.groupSeriesCateg.seriesToUse")}}</label>
			<md-select ng-model="chartTemplate.groupedSerie" >
				<md-option ng-repeat="seriesItem in getFilteredSeries()" value="{{seriesItem.column}}">{{seriesItem.column}}</md-option>
			</md-select> 
		</md-input-container>

	</div>

	<div layout="row" flex layout-margin flex=100 layout-align="start center">
		<label>{{translate.load("sbi.chartengine.structure.categoryStyleConfig.showCategoryValue")}} </label>
		<md-input-container class="small counter"> 
			<md-checkbox  ng-model="chartTemplate.showCategoryValue" style="margin:0 8px" aria-label="showCategoryValue" name="showCategoryValue" ></md-checkbox>
		</md-input-container>
	</div>
	
</md-card>