<html>
<head>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta content="5" http-equiv="refresh">
</head>
<style>td       { background-color: LightCoral; }
table    { margin: 1em; }
.columns { display: flex; flex-direction: row; flex-wrap: wrap; width: 100%; }
.column  { flex: 10%; }</style>
<body>
<div class="columns">
<div class="column">
<span>CrossTabDefinitionBuilder.builder().measuresOnRows().totalsOnRows().totalsOnColumns().build()</span>
<TABLE>
  
<THEAD>
    
<TR>
      
<TD class="empty" colspan="2"></TD>
      <TD class="crosstab-header-text" colspan="5" ng-click="orderPivotTable('0','1',1)" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">
        
<DIV title="quarter">
          
<I class="fa fa-arrow-up">
            
<FAKE></FAKE>
          
</I>
          <SPAN style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">quarter</SPAN>
        
</DIV>
      
</TD>
    
</TR>
    
<TR>
      
<TD class="level"></TD>
      <TD class="level"></TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q1')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q1</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q2')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q2</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q3')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q3</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q4')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q4</TD>
      <TD class="memberNoStandardStyle" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Total</TD>
    
</TR>
  
</THEAD>
  
<TBODY>
    
<TR>
      
<TD></TD>
      <TD class="measures-header-text">unit_sales</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q1','_S_unit_sales_S_unit_sales')" title="374,00">374,00</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q2','_S_unit_sales_S_unit_sales')" title="332,00">332,00</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q3','_S_unit_sales_S_unit_sales')" title="216,00">216,00</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q4','_S_unit_sales_S_unit_sales')" title="581,00">581,00</TD>
      <TD class="totals" ng-click="selectMeasure('','','','','_S_unit_sales_S_unit_sales')" style="" title="50.279,00">50.279,00</TD>
    
</TR>
    
<TR>
      
<TD class="totals">Total</TD>
      <TD class="measures-header-text">unit_sales</TD>
      <TD class="totals" ng-click="selectMeasure('','','_S_quarter','_S_Q1','_S_unit_sales_S_unit_sales')" style="" title="8.527,00">8.527,00</TD>
      <TD class="totals" ng-click="selectMeasure('','','_S_quarter','_S_Q2','_S_unit_sales_S_unit_sales')" style="" title="11.565,00">11.565,00</TD>
      <TD class="totals" ng-click="selectMeasure('','','_S_quarter','_S_Q3','_S_unit_sales_S_unit_sales')" style="" title="16.993,00">16.993,00</TD>
      <TD class="totals" ng-click="selectMeasure('','','_S_quarter','_S_Q4','_S_unit_sales_S_unit_sales')" style="" title="13.194,00">13.194,00</TD>
      <TD class="totals" ng-click="selectMeasure('','','','','_S_unit_sales_S_unit_sales')" style="" title="50.279,00">50.279,00</TD>
    
</TR>
  
</TBODY>

</TABLE>
<span>CrossTabDefinitionBuilder.builder().measuresOnRows().totalsOnRows().noTotalsOnColumns().build()</span>
<TABLE>
  
<THEAD>
    
<TR>
      
<TD class="empty" colspan="1"></TD>
      <TD class="crosstab-header-text" colspan="5" ng-click="orderPivotTable('0','1',1)" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">
        
<DIV title="quarter">
          
<I class="fa fa-arrow-up">
            
<FAKE></FAKE>
          
</I>
          <SPAN style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">quarter</SPAN>
        
</DIV>
      
</TD>
    
</TR>
    
<TR>
      
<TD class="level"></TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q1')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q1</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q2')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q2</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q3')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q3</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q4')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q4</TD>
      <TD class="memberNoStandardStyle" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Total</TD>
    
</TR>
  
</THEAD>
  
<TBODY>
    
<TR>
      
<TD class="measures-header-text">unit_sales</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q1','_S_unit_sales_S_unit_sales')" title="163,00">163,00</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q2','_S_unit_sales_S_unit_sales')" title="880,00">880,00</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q3','_S_unit_sales_S_unit_sales')" title="207,00">207,00</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q4','_S_unit_sales_S_unit_sales')" title="402,00">402,00</TD>
      <TD class="totals" ng-click="selectMeasure('','','','','_S_unit_sales_S_unit_sales')" style="" title="50.418,00">50.418,00</TD>
    
</TR>
  
</TBODY>

</TABLE>
<span>CrossTabDefinitionBuilder.builder().measuresOnRows().noTotalsOnRows().totalsOnColumns().build()</span>
<TABLE>
  
<THEAD>
    
<TR>
      
<TD class="empty" colspan="2"></TD>
      <TD class="crosstab-header-text" colspan="4" ng-click="orderPivotTable('0','1',1)" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">
        
<DIV title="quarter">
          
<I class="fa fa-arrow-up">
            
<FAKE></FAKE>
          
</I>
          <SPAN style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">quarter</SPAN>
        
</DIV>
      
</TD>
    
</TR>
    
<TR>
      
<TD class="level"></TD>
      <TD class="level"></TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q1')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q1</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q2')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q2</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q3')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q3</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q4')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q4</TD>
    
</TR>
  
</THEAD>
  
<TBODY>
    
<TR>
      
<TD></TD>
      <TD class="measures-header-text">unit_sales</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q1','_S_unit_sales_S_unit_sales')" title="710,00">710,00</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q2','_S_unit_sales_S_unit_sales')" title="811,00">811,00</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q3','_S_unit_sales_S_unit_sales')" title="353,00">353,00</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q4','_S_unit_sales_S_unit_sales')" title="338,00">338,00</TD>
    
</TR>
    
<TR>
      
<TD class="totals">Total</TD>
      <TD class="measures-header-text">unit_sales</TD>
      <TD class="totals" ng-click="selectMeasure('','','_S_quarter','_S_Q1','_S_unit_sales_S_unit_sales')" style="" title="11.608,00">11.608,00</TD>
      <TD class="totals" ng-click="selectMeasure('','','_S_quarter','_S_Q2','_S_unit_sales_S_unit_sales')" style="" title="15.027,00">15.027,00</TD>
      <TD class="totals" ng-click="selectMeasure('','','_S_quarter','_S_Q3','_S_unit_sales_S_unit_sales')" style="" title="10.023,00">10.023,00</TD>
      <TD class="totals" ng-click="selectMeasure('','','_S_quarter','_S_Q4','_S_unit_sales_S_unit_sales')" style="" title="15.452,00">15.452,00</TD>
    
</TR>
  
</TBODY>

</TABLE>
<span>CrossTabDefinitionBuilder.builder().measuresOnRows().noTotalsOnRows().noTotalsOnColumns().build()</span>
<TABLE>
  
<THEAD>
    
<TR>
      
<TD class="empty" colspan="1"></TD>
      <TD class="crosstab-header-text" colspan="4" ng-click="orderPivotTable('0','1',1)" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">
        
<DIV title="quarter">
          
<I class="fa fa-arrow-up">
            
<FAKE></FAKE>
          
</I>
          <SPAN style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">quarter</SPAN>
        
</DIV>
      
</TD>
    
</TR>
    
<TR>
      
<TD class="level"></TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q1')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q1</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q2')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q2</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q3')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q3</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q4')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q4</TD>
    
</TR>
  
</THEAD>
  
<TBODY>
    
<TR>
      
<TD class="measures-header-text">unit_sales</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q1','_S_unit_sales_S_unit_sales')" title="828,00">828,00</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q2','_S_unit_sales_S_unit_sales')" title="493,00">493,00</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q3','_S_unit_sales_S_unit_sales')" title="810,00">810,00</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q4','_S_unit_sales_S_unit_sales')" title="364,00">364,00</TD>
    
</TR>
  
</TBODY>

</TABLE>
</div>
<div class="column">
<span>CrossTabDefinitionBuilder.builder().measuresOnRows().totalsOnRows().totalsOnColumns().withProductFamilyInRows().build()</span>
<TABLE>
  
<THEAD>
    
<TR>
      
<TD class="empty" colspan="2"></TD>
      <TD class="crosstab-header-text" colspan="5" ng-click="orderPivotTable('0','1',1)" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">
        
<DIV title="quarter">
          
<I class="fa fa-arrow-up">
            
<FAKE></FAKE>
          
</I>
          <SPAN style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">quarter</SPAN>
        
</DIV>
      
</TD>
    
</TR>
    
<TR>
      
<TD class="crosstab-header-text" ng-click="orderPivotTable('0','0',1)">
        
<DIV title="product_family">
          
<I class="fa fa-arrow-up">
            
<FAKE></FAKE>
          
</I>
          <SPAN class="crosstab-header-text">product_family</SPAN>
        
</DIV>
      
</TD>
      <TD class="level"></TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q1')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q1</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q2')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q2</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q3')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q3</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q4')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q4</TD>
      <TD class="memberNoStandardStyle" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Total</TD>
    
</TR>
  
</THEAD>
  
<TBODY>
    
<TR>
      
<TD class="memberNoStandardStyle" id="Drink1" ng-click="selectRow('product_family','Drink')" style="" title="Drink">Drink</TD>
      <TD class="measures-header-text">unit_sales</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Drink','_S_quarter','_S_Q1','_S_unit_sales_S_unit_sales')" title="818,00">818,00</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Drink','_S_quarter','_S_Q2','_S_unit_sales_S_unit_sales')" title="154,00">154,00</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Drink','_S_quarter','_S_Q3','_S_unit_sales_S_unit_sales')" title="607,00">607,00</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Drink','_S_quarter','_S_Q4','_S_unit_sales_S_unit_sales')" title="667,00">667,00</TD>
      <TD class="totals" ng-click="selectMeasure('_S_product_family','_S_Drink','','','_S_unit_sales_S_unit_sales')" style="" title="19.513,00">19.513,00</TD>
    
</TR>
    
<TR>
      
<TD class="memberNoStandardStyle" id="Food1" ng-click="selectRow('product_family','Food')" style="" title="Food">Food</TD>
      <TD class="measures-header-text">unit_sales</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Food','_S_quarter','_S_Q1','_S_unit_sales_S_unit_sales')" title="487,00">487,00</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Food','_S_quarter','_S_Q2','_S_unit_sales_S_unit_sales')" title="643,00">643,00</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Food','_S_quarter','_S_Q3','_S_unit_sales_S_unit_sales')" title="546,00">546,00</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Food','_S_quarter','_S_Q4','_S_unit_sales_S_unit_sales')" title="853,00">853,00</TD>
      <TD class="totals" ng-click="selectMeasure('_S_product_family','_S_Food','','','_S_unit_sales_S_unit_sales')" style="" title="11.843,00">11.843,00</TD>
    
</TR>
    
<TR>
      
<TD class="memberNoStandardStyle" id="Non-Consumable1" ng-click="selectRow('product_family','Non-Consumable')" style="" title="Non-Consumable">Non-Consumable</TD>
      <TD class="measures-header-text">unit_sales</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Non-Consumable','_S_quarter','_S_Q1','_S_unit_sales_S_unit_sales')" title="846,00">846,00</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Non-Consumable','_S_quarter','_S_Q2','_S_unit_sales_S_unit_sales')" title="181,00">181,00</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Non-Consumable','_S_quarter','_S_Q3','_S_unit_sales_S_unit_sales')" title="72,00">72,00</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Non-Consumable','_S_quarter','_S_Q4','_S_unit_sales_S_unit_sales')" title="566,00">566,00</TD>
      <TD class="totals" ng-click="selectMeasure('_S_product_family','_S_Non-Consumable','','','_S_unit_sales_S_unit_sales')" style="" title="15.027,00">15.027,00</TD>
    
</TR>
    
<TR>
      
<TD class="member" id="Total1" style="" title="Total">Total</TD>
      <TD class="measures-header-text">unit_sales</TD>
      <TD class="totals" ng-click="selectMeasure('','','_S_quarter','_S_Q1','_S_unit_sales_S_unit_sales')" style="" title="14.543,00">14.543,00</TD>
      <TD class="totals" ng-click="selectMeasure('','','_S_quarter','_S_Q2','_S_unit_sales_S_unit_sales')" style="" title="9.862,00">9.862,00</TD>
      <TD class="totals" ng-click="selectMeasure('','','_S_quarter','_S_Q3','_S_unit_sales_S_unit_sales')" style="" title="11.151,00">11.151,00</TD>
      <TD class="totals" ng-click="selectMeasure('','','_S_quarter','_S_Q4','_S_unit_sales_S_unit_sales')" style="" title="10.827,00">10.827,00</TD>
      <TD class="totals" ng-click="selectMeasure('','','','','_S_unit_sales_S_unit_sales')" style="" title="46.383,00">46.383,00</TD>
    
</TR>
  
</TBODY>

</TABLE>
<span>CrossTabDefinitionBuilder.builder().measuresOnRows().totalsOnRows().noTotalsOnColumns().withProductFamilyInRows().build()</span>
<TABLE>
  
<THEAD>
    
<TR>
      
<TD class="empty" colspan="2"></TD>
      <TD class="crosstab-header-text" colspan="5" ng-click="orderPivotTable('0','1',1)" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">
        
<DIV title="quarter">
          
<I class="fa fa-arrow-up">
            
<FAKE></FAKE>
          
</I>
          <SPAN style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">quarter</SPAN>
        
</DIV>
      
</TD>
    
</TR>
    
<TR>
      
<TD class="crosstab-header-text" ng-click="orderPivotTable('0','0',1)">
        
<DIV title="product_family">
          
<I class="fa fa-arrow-up">
            
<FAKE></FAKE>
          
</I>
          <SPAN class="crosstab-header-text">product_family</SPAN>
        
</DIV>
      
</TD>
      <TD class="level"></TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q1')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q1</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q2')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q2</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q3')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q3</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q4')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q4</TD>
      <TD class="memberNoStandardStyle" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Total</TD>
    
</TR>
  
</THEAD>
  
<TBODY>
    
<TR>
      
<TD class="memberNoStandardStyle" id="Drink1" ng-click="selectRow('product_family','Drink')" style="" title="Drink">Drink</TD>
      <TD class="measures-header-text">unit_sales</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Drink','_S_quarter','_S_Q1','_S_unit_sales_S_unit_sales')" title="645,00">645,00</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Drink','_S_quarter','_S_Q2','_S_unit_sales_S_unit_sales')" title="657,00">657,00</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Drink','_S_quarter','_S_Q3','_S_unit_sales_S_unit_sales')" title="718,00">718,00</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Drink','_S_quarter','_S_Q4','_S_unit_sales_S_unit_sales')" title="144,00">144,00</TD>
      <TD class="totals" ng-click="selectMeasure('_S_product_family','_S_Drink','','','_S_unit_sales_S_unit_sales')" style="" title="18.549,00">18.549,00</TD>
    
</TR>
    
<TR>
      
<TD class="memberNoStandardStyle" id="Food1" ng-click="selectRow('product_family','Food')" style="" title="Food">Food</TD>
      <TD class="measures-header-text">unit_sales</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Food','_S_quarter','_S_Q1','_S_unit_sales_S_unit_sales')" title="631,00">631,00</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Food','_S_quarter','_S_Q2','_S_unit_sales_S_unit_sales')" title="206,00">206,00</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Food','_S_quarter','_S_Q3','_S_unit_sales_S_unit_sales')" title="87,00">87,00</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Food','_S_quarter','_S_Q4','_S_unit_sales_S_unit_sales')" title="490,00">490,00</TD>
      <TD class="totals" ng-click="selectMeasure('_S_product_family','_S_Food','','','_S_unit_sales_S_unit_sales')" style="" title="12.976,00">12.976,00</TD>
    
</TR>
    
<TR>
      
<TD class="memberNoStandardStyle" id="Non-Consumable1" ng-click="selectRow('product_family','Non-Consumable')" style="" title="Non-Consumable">Non-Consumable</TD>
      <TD class="measures-header-text">unit_sales</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Non-Consumable','_S_quarter','_S_Q1','_S_unit_sales_S_unit_sales')" title="616,00">616,00</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Non-Consumable','_S_quarter','_S_Q2','_S_unit_sales_S_unit_sales')" title="430,00">430,00</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Non-Consumable','_S_quarter','_S_Q3','_S_unit_sales_S_unit_sales')" title="241,00">241,00</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Non-Consumable','_S_quarter','_S_Q4','_S_unit_sales_S_unit_sales')" title="528,00">528,00</TD>
      <TD class="totals" ng-click="selectMeasure('_S_product_family','_S_Non-Consumable','','','_S_unit_sales_S_unit_sales')" style="" title="13.635,00">13.635,00</TD>
    
</TR>
  
</TBODY>

</TABLE>
<span>CrossTabDefinitionBuilder.builder().measuresOnRows().noTotalsOnRows().totalsOnColumns().withProductFamilyInRows().build()</span>
<TABLE>
  
<THEAD>
    
<TR>
      
<TD class="empty" colspan="2"></TD>
      <TD class="crosstab-header-text" colspan="4" ng-click="orderPivotTable('0','1',1)" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">
        
<DIV title="quarter">
          
<I class="fa fa-arrow-up">
            
<FAKE></FAKE>
          
</I>
          <SPAN style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">quarter</SPAN>
        
</DIV>
      
</TD>
    
</TR>
    
<TR>
      
<TD class="crosstab-header-text" ng-click="orderPivotTable('0','0',1)">
        
<DIV title="product_family">
          
<I class="fa fa-arrow-up">
            
<FAKE></FAKE>
          
</I>
          <SPAN class="crosstab-header-text">product_family</SPAN>
        
</DIV>
      
</TD>
      <TD class="level"></TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q1')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q1</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q2')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q2</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q3')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q3</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q4')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q4</TD>
    
</TR>
  
</THEAD>
  
<TBODY>
    
<TR>
      
<TD class="memberNoStandardStyle" id="Drink1" ng-click="selectRow('product_family','Drink')" style="" title="Drink">Drink</TD>
      <TD class="measures-header-text">unit_sales</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Drink','_S_quarter','_S_Q1','_S_unit_sales_S_unit_sales')" title="485,00">485,00</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Drink','_S_quarter','_S_Q2','_S_unit_sales_S_unit_sales')" title="372,00">372,00</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Drink','_S_quarter','_S_Q3','_S_unit_sales_S_unit_sales')" title="55,00">55,00</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Drink','_S_quarter','_S_Q4','_S_unit_sales_S_unit_sales')" title="7,00">7,00</TD>
    
</TR>
    
<TR>
      
<TD class="memberNoStandardStyle" id="Food1" ng-click="selectRow('product_family','Food')" style="" title="Food">Food</TD>
      <TD class="measures-header-text">unit_sales</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Food','_S_quarter','_S_Q1','_S_unit_sales_S_unit_sales')" title="170,00">170,00</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Food','_S_quarter','_S_Q2','_S_unit_sales_S_unit_sales')" title="714,00">714,00</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Food','_S_quarter','_S_Q3','_S_unit_sales_S_unit_sales')" title="192,00">192,00</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Food','_S_quarter','_S_Q4','_S_unit_sales_S_unit_sales')" title="193,00">193,00</TD>
    
</TR>
    
<TR>
      
<TD class="memberNoStandardStyle" id="Non-Consumable1" ng-click="selectRow('product_family','Non-Consumable')" style="" title="Non-Consumable">Non-Consumable</TD>
      <TD class="measures-header-text">unit_sales</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Non-Consumable','_S_quarter','_S_Q1','_S_unit_sales_S_unit_sales')" title="513,00">513,00</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Non-Consumable','_S_quarter','_S_Q2','_S_unit_sales_S_unit_sales')" title="356,00">356,00</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Non-Consumable','_S_quarter','_S_Q3','_S_unit_sales_S_unit_sales')" title="207,00">207,00</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Non-Consumable','_S_quarter','_S_Q4','_S_unit_sales_S_unit_sales')" title="676,00">676,00</TD>
    
</TR>
    
<TR>
      
<TD class="member" id="Total1" style="" title="Total">Total</TD>
      <TD class="measures-header-text">unit_sales</TD>
      <TD class="totals" ng-click="selectMeasure('','','_S_quarter','_S_Q1','_S_unit_sales_S_unit_sales')" style="" title="10.917,00">10.917,00</TD>
      <TD class="totals" ng-click="selectMeasure('','','_S_quarter','_S_Q2','_S_unit_sales_S_unit_sales')" style="" title="12.812,00">12.812,00</TD>
      <TD class="totals" ng-click="selectMeasure('','','_S_quarter','_S_Q3','_S_unit_sales_S_unit_sales')" style="" title="14.623,00">14.623,00</TD>
      <TD class="totals" ng-click="selectMeasure('','','_S_quarter','_S_Q4','_S_unit_sales_S_unit_sales')" style="" title="14.128,00">14.128,00</TD>
    
</TR>
  
</TBODY>

</TABLE>
<span>CrossTabDefinitionBuilder.builder().measuresOnRows().noTotalsOnRows().noTotalsOnColumns().withProductFamilyInRows().build()</span>
<TABLE>
  
<THEAD>
    
<TR>
      
<TD class="empty" colspan="2"></TD>
      <TD class="crosstab-header-text" colspan="4" ng-click="orderPivotTable('0','1',1)" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">
        
<DIV title="quarter">
          
<I class="fa fa-arrow-up">
            
<FAKE></FAKE>
          
</I>
          <SPAN style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">quarter</SPAN>
        
</DIV>
      
</TD>
    
</TR>
    
<TR>
      
<TD class="crosstab-header-text" ng-click="orderPivotTable('0','0',1)">
        
<DIV title="product_family">
          
<I class="fa fa-arrow-up">
            
<FAKE></FAKE>
          
</I>
          <SPAN class="crosstab-header-text">product_family</SPAN>
        
</DIV>
      
</TD>
      <TD class="level"></TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q1')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q1</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q2')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q2</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q3')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q3</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q4')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q4</TD>
    
</TR>
  
</THEAD>
  
<TBODY>
    
<TR>
      
<TD class="memberNoStandardStyle" id="Drink1" ng-click="selectRow('product_family','Drink')" style="" title="Drink">Drink</TD>
      <TD class="measures-header-text">unit_sales</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Drink','_S_quarter','_S_Q1','_S_unit_sales_S_unit_sales')" title="486,00">486,00</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Drink','_S_quarter','_S_Q2','_S_unit_sales_S_unit_sales')" title="393,00">393,00</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Drink','_S_quarter','_S_Q3','_S_unit_sales_S_unit_sales')" title="583,00">583,00</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Drink','_S_quarter','_S_Q4','_S_unit_sales_S_unit_sales')" title="975,00">975,00</TD>
    
</TR>
    
<TR>
      
<TD class="memberNoStandardStyle" id="Food1" ng-click="selectRow('product_family','Food')" style="" title="Food">Food</TD>
      <TD class="measures-header-text">unit_sales</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Food','_S_quarter','_S_Q1','_S_unit_sales_S_unit_sales')" title="692,00">692,00</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Food','_S_quarter','_S_Q2','_S_unit_sales_S_unit_sales')" title="414,00">414,00</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Food','_S_quarter','_S_Q3','_S_unit_sales_S_unit_sales')" title="532,00">532,00</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Food','_S_quarter','_S_Q4','_S_unit_sales_S_unit_sales')" title="807,00">807,00</TD>
    
</TR>
    
<TR>
      
<TD class="memberNoStandardStyle" id="Non-Consumable1" ng-click="selectRow('product_family','Non-Consumable')" style="" title="Non-Consumable">Non-Consumable</TD>
      <TD class="measures-header-text">unit_sales</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Non-Consumable','_S_quarter','_S_Q1','_S_unit_sales_S_unit_sales')" title="770,00">770,00</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Non-Consumable','_S_quarter','_S_Q2','_S_unit_sales_S_unit_sales')" title="510,00">510,00</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Non-Consumable','_S_quarter','_S_Q3','_S_unit_sales_S_unit_sales')" title="76,00">76,00</TD>
      <TD class="data" ng-click="selectMeasure('_S_product_family','_S_Non-Consumable','_S_quarter','_S_Q4','_S_unit_sales_S_unit_sales')" title="669,00">669,00</TD>
    
</TR>
  
</TBODY>

</TABLE>
</div>
<div class="column">
<span>CrossTabDefinitionBuilder.builder().measuresOnColumns().noTotalsOnRows().totalsOnColumns().build()</span>
<TABLE>
  
<THEAD>
    
<TR>
      
<TD class="empty" colspan="0"></TD>
      <TD class="crosstab-header-text" colspan="4" ng-click="orderPivotTable('0','1',1)" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">
        
<DIV title="quarter">
          
<I class="fa fa-arrow-up">
            
<FAKE></FAKE>
          
</I>
          <SPAN style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">quarter</SPAN>
        
</DIV>
      
</TD>
    
</TR>
    
<TR>
      
<TD class="empty" colspan="0"></TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q1')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q1</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q2')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q2</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q3')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q3</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q4')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q4</TD>
    
</TR>
    
<TR>
      
<TD class="level"></TD>
      <TD class="member" ng-click="orderPivotTable('0','1',1, 'unit_sales' , '_S_quarter_S_Q1')">
        
<DIV title="unit_sales">
          
<I></I>
          <SPAN class="measures-header-text">unit_sales</SPAN>
        
</DIV>
      
</TD>
      <TD class="member" ng-click="orderPivotTable('1','1',1, 'unit_sales' , '_S_quarter_S_Q2')">
        
<DIV title="unit_sales">
          
<I></I>
          <SPAN class="measures-header-text">unit_sales</SPAN>
        
</DIV>
      
</TD>
      <TD class="member" ng-click="orderPivotTable('2','1',1, 'unit_sales' , '_S_quarter_S_Q3')">
        
<DIV title="unit_sales">
          
<I></I>
          <SPAN class="measures-header-text">unit_sales</SPAN>
        
</DIV>
      
</TD>
      <TD class="member" ng-click="orderPivotTable('3','1',1, 'unit_sales' , '_S_quarter_S_Q4')">
        
<DIV title="unit_sales">
          
<I></I>
          <SPAN class="measures-header-text">unit_sales</SPAN>
        
</DIV>
      
</TD>
    
</TR>
  
</THEAD>
  
<TBODY>
    
<TR>
      
<TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q1','_S_unit_sales_S_unit_sales')" title="773,00">773,00</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q2','_S_unit_sales_S_unit_sales')" title="148,00">148,00</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q3','_S_unit_sales_S_unit_sales')" title="697,00">697,00</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q4','_S_unit_sales_S_unit_sales')" title="975,00">975,00</TD>
    
</TR>
    
<TR>
      
<TD></TD>
      <TD class="member" id="Total1" title="Total">Total</TD>
      <TD class="totals" ng-click="selectMeasure('','','_S_quarter','_S_Q1','_S_unit_sales_S_unit_sales')" style="" title="11.742,00">11.742,00</TD>
      <TD class="totals" ng-click="selectMeasure('','','_S_quarter','_S_Q2','_S_unit_sales_S_unit_sales')" style="" title="12.520,00">12.520,00</TD>
      <TD class="totals" ng-click="selectMeasure('','','_S_quarter','_S_Q3','_S_unit_sales_S_unit_sales')" style="" title="14.003,00">14.003,00</TD>
      <TD class="totals" ng-click="selectMeasure('','','_S_quarter','_S_Q4','_S_unit_sales_S_unit_sales')" style="" title="17.454,00">17.454,00</TD>
    
</TR>
  
</TBODY>

</TABLE>
<span>CrossTabDefinitionBuilder.builder().measuresOnColumns().noTotalsOnRows().noTotalsOnColumns().build()</span>
<TABLE>
  
<THEAD>
    
<TR>
      
<TD class="crosstab-header-text" colspan="4" ng-click="orderPivotTable('0','1',1)" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">
        
<DIV title="quarter">
          
<I class="fa fa-arrow-up">
            
<FAKE></FAKE>
          
</I>
          <SPAN style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">quarter</SPAN>
        
</DIV>
      
</TD>
    
</TR>
    
<TR>
      
<TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q1')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q1</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q2')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q2</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q3')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q3</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q4')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q4</TD>
    
</TR>
    
<TR>
      
<TD class="member" ng-click="orderPivotTable('0','1',1, 'unit_sales' , '_S_quarter_S_Q1')">
        
<DIV title="unit_sales">
          
<I></I>
          <SPAN class="measures-header-text">unit_sales</SPAN>
        
</DIV>
      
</TD>
      <TD class="member" ng-click="orderPivotTable('1','1',1, 'unit_sales' , '_S_quarter_S_Q2')">
        
<DIV title="unit_sales">
          
<I></I>
          <SPAN class="measures-header-text">unit_sales</SPAN>
        
</DIV>
      
</TD>
      <TD class="member" ng-click="orderPivotTable('2','1',1, 'unit_sales' , '_S_quarter_S_Q3')">
        
<DIV title="unit_sales">
          
<I></I>
          <SPAN class="measures-header-text">unit_sales</SPAN>
        
</DIV>
      
</TD>
      <TD class="member" ng-click="orderPivotTable('3','1',1, 'unit_sales' , '_S_quarter_S_Q4')">
        
<DIV title="unit_sales">
          
<I></I>
          <SPAN class="measures-header-text">unit_sales</SPAN>
        
</DIV>
      
</TD>
    
</TR>
  
</THEAD>
  
<TBODY>
    
<TR>
      
<TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q1','_S_unit_sales_S_unit_sales')" title="121,00">121,00</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q2','_S_unit_sales_S_unit_sales')" title="312,00">312,00</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q3','_S_unit_sales_S_unit_sales')" title="97,00">97,00</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q4','_S_unit_sales_S_unit_sales')" title="123,00">123,00</TD>
    
</TR>
    
<TR></TR>
  
</TBODY>

</TABLE>
</div>
</div>
</body>
</html>
