<html>
<head>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta content="5" http-equiv="refresh">
</head>
<style>td       { background-color: LightCoral; }
table    { margin: 1em; }
.columns { display: flex; flex-direction: row; flex-wrap: wrap; width: 100%; }
.column  { flex: 10%; }</style>
<body>
<div class="columns">
<div class="column">
<span>CrossTabDefinitionBuilder.builder().measuresOnRows().totalsOnRows().totalsOnColumns().build()</span>
<TABLE>
  
<THEAD>
    
<TR>
      
<TD colspan="2" rowspan="2"></TD>
      <TD class="crosstab-header-text" colspan="5" ng-click="orderPivotTable('0','1',1)" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">
        
<DIV title="quarter">
          
<I class="fa fa-arrow-up">
            
<FAKE></FAKE>
          
</I>
          <SPAN style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">quarter</SPAN>
        
</DIV>
      
</TD>
    
</TR>
    
<TR>
      
<TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q1')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q1</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q2')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q2</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q3')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q3</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q4')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q4</TD>
      <TD class="memberNoStandardStyle" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Total</TD>
    
</TR>
  
</THEAD>
  
<TBODY>
    
<TR>
      
<TD></TD>
      <TD class="measures-header-text">unit_sales</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q1','_S_unit_sales_S_unit_sales')" title="203.185,00">203.185,00</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q2','_S_unit_sales_S_unit_sales')" title="198.177,00">198.177,00</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q3','_S_unit_sales_S_unit_sales')" title="205.076,00">205.076,00</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q4','_S_unit_sales_S_unit_sales')" title="226.337,00">226.337,00</TD>
      <TD class="totals" ng-click="selectMeasure('','','','','_S_unit_sales_S_unit_sales')" style="" title="832.775,00">832.775,00</TD>
    
</TR>
    
<TR>
      
<TD></TD>
      <TD class="measures-header-text">unit_sales</TD>
      <TD class="totals" ng-click="selectMeasure('','','_S_quarter','_S_Q1','_S_unit_sales_S_unit_sales')" style="" title="203.185,00">203.185,00</TD>
      <TD class="totals" ng-click="selectMeasure('','','_S_quarter','_S_Q2','_S_unit_sales_S_unit_sales')" style="" title="198.177,00">198.177,00</TD>
      <TD class="totals" ng-click="selectMeasure('','','_S_quarter','_S_Q3','_S_unit_sales_S_unit_sales')" style="" title="205.076,00">205.076,00</TD>
      <TD class="totals" ng-click="selectMeasure('','','_S_quarter','_S_Q4','_S_unit_sales_S_unit_sales')" style="" title="226.337,00">226.337,00</TD>
      <TD class="totals" ng-click="selectMeasure('','','','','_S_unit_sales_S_unit_sales')" style="" title="832.775,00">832.775,00</TD>
    
</TR>
  
</TBODY>

</TABLE>
<span>CrossTabDefinitionBuilder.builder().measuresOnRows().totalsOnRows().noTotalsOnColumns().build()</span>
<TABLE>
  
<THEAD>
    
<TR>
      
<TD colspan="2" rowspan="2"></TD>
      <TD class="crosstab-header-text" colspan="5" ng-click="orderPivotTable('0','1',1)" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">
        
<DIV title="quarter">
          
<I class="fa fa-arrow-up">
            
<FAKE></FAKE>
          
</I>
          <SPAN style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">quarter</SPAN>
        
</DIV>
      
</TD>
    
</TR>
    
<TR>
      
<TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q1')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q1</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q2')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q2</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q3')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q3</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q4')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q4</TD>
      <TD class="memberNoStandardStyle" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Total</TD>
    
</TR>
  
</THEAD>
  
<TBODY>
    
<TR>
      
<TD class="measures-header-text">unit_sales</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q1','_S_unit_sales_S_unit_sales')" title="203.185,00">203.185,00</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q2','_S_unit_sales_S_unit_sales')" title="198.177,00">198.177,00</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q3','_S_unit_sales_S_unit_sales')" title="205.076,00">205.076,00</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q4','_S_unit_sales_S_unit_sales')" title="226.337,00">226.337,00</TD>
      <TD class="totals" ng-click="selectMeasure('','','','','_S_unit_sales_S_unit_sales')" style="" title="832.775,00">832.775,00</TD>
    
</TR>
  
</TBODY>

</TABLE>
<span>CrossTabDefinitionBuilder.builder().measuresOnRows().noTotalsOnRows().totalsOnColumns().build()</span>
<TABLE>
  
<THEAD>
    
<TR>
      
<TD colspan="2" rowspan="2"></TD>
      <TD class="crosstab-header-text" colspan="4" ng-click="orderPivotTable('0','1',1)" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">
        
<DIV title="quarter">
          
<I class="fa fa-arrow-up">
            
<FAKE></FAKE>
          
</I>
          <SPAN style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">quarter</SPAN>
        
</DIV>
      
</TD>
    
</TR>
    
<TR>
      
<TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q1')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q1</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q2')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q2</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q3')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q3</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q4')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q4</TD>
    
</TR>
  
</THEAD>
  
<TBODY>
    
<TR>
      
<TD></TD>
      <TD class="measures-header-text">unit_sales</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q1','_S_unit_sales_S_unit_sales')" title="203.185,00">203.185,00</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q2','_S_unit_sales_S_unit_sales')" title="198.177,00">198.177,00</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q3','_S_unit_sales_S_unit_sales')" title="205.076,00">205.076,00</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q4','_S_unit_sales_S_unit_sales')" title="226.337,00">226.337,00</TD>
    
</TR>
    
<TR>
      
<TD></TD>
      <TD class="measures-header-text">unit_sales</TD>
      <TD class="totals" ng-click="selectMeasure('','','_S_quarter','_S_Q1','_S_unit_sales_S_unit_sales')" style="" title="203.185,00">203.185,00</TD>
      <TD class="totals" ng-click="selectMeasure('','','_S_quarter','_S_Q2','_S_unit_sales_S_unit_sales')" style="" title="198.177,00">198.177,00</TD>
      <TD class="totals" ng-click="selectMeasure('','','_S_quarter','_S_Q3','_S_unit_sales_S_unit_sales')" style="" title="205.076,00">205.076,00</TD>
      <TD class="totals" ng-click="selectMeasure('','','_S_quarter','_S_Q4','_S_unit_sales_S_unit_sales')" style="" title="226.337,00">226.337,00</TD>
    
</TR>
  
</TBODY>

</TABLE>
<span>CrossTabDefinitionBuilder.builder().measuresOnRows().noTotalsOnRows().noTotalsOnColumns().build()</span>
<TABLE>
  
<THEAD>
    
<TR>
      
<TD colspan="1" rowspan="2"></TD>
      <TD class="crosstab-header-text" colspan="4" ng-click="orderPivotTable('0','1',1)" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">
        
<DIV title="quarter">
          
<I class="fa fa-arrow-up">
            
<FAKE></FAKE>
          
</I>
          <SPAN style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">quarter</SPAN>
        
</DIV>
      
</TD>
    
</TR>
    
<TR>
      
<TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q1')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q1</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q2')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q2</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q3')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q3</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q4')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q4</TD>
    
</TR>
  
</THEAD>
  
<TBODY>
    
<TR>
      
<TD class="measures-header-text">unit_sales</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q1','_S_unit_sales_S_unit_sales')" title="203.185,00">203.185,00</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q2','_S_unit_sales_S_unit_sales')" title="198.177,00">198.177,00</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q3','_S_unit_sales_S_unit_sales')" title="205.076,00">205.076,00</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q4','_S_unit_sales_S_unit_sales')" title="226.337,00">226.337,00</TD>
    
</TR>
  
</TBODY>

</TABLE>
</div>
<div class="column">
<span>CrossTabDefinitionBuilder.builder().measuresOnColumns().noTotalsOnRows().totalsOnColumns().build()</span>
<TABLE>
  
<THEAD>
    
<TR>
      
<TD colspan="1" rowspan="3"></TD>
      <TD class="crosstab-header-text" colspan="4" ng-click="orderPivotTable('0','1',1)" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">
        
<DIV title="quarter">
          
<I class="fa fa-arrow-up">
            
<FAKE></FAKE>
          
</I>
          <SPAN style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">quarter</SPAN>
        
</DIV>
      
</TD>
    
</TR>
    
<TR>
      
<TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q1')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q1</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q2')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q2</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q3')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q3</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q4')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q4</TD>
    
</TR>
    
<TR>
      
<TD class="member" ng-click="orderPivotTable('0','1',1, 'unit_sales' , '_S_quarter_S_Q1')">
        
<DIV title="unit_sales">
          
<I></I>
          <SPAN class="measures-header-text">unit_sales</SPAN>
        
</DIV>
      
</TD>
      <TD class="member" ng-click="orderPivotTable('1','1',1, 'unit_sales' , '_S_quarter_S_Q2')">
        
<DIV title="unit_sales">
          
<I></I>
          <SPAN class="measures-header-text">unit_sales</SPAN>
        
</DIV>
      
</TD>
      <TD class="member" ng-click="orderPivotTable('2','1',1, 'unit_sales' , '_S_quarter_S_Q3')">
        
<DIV title="unit_sales">
          
<I></I>
          <SPAN class="measures-header-text">unit_sales</SPAN>
        
</DIV>
      
</TD>
      <TD class="member" ng-click="orderPivotTable('3','1',1, 'unit_sales' , '_S_quarter_S_Q4')">
        
<DIV title="unit_sales">
          
<I></I>
          <SPAN class="measures-header-text">unit_sales</SPAN>
        
</DIV>
      
</TD>
    
</TR>
  
</THEAD>
  
<TBODY>
    
<TR>
      
<TD></TD>
      <TD class="member" id="Total1" title="Total">Total</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q1','_S_unit_sales_S_unit_sales')" title="203.185,00">203.185,00</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q2','_S_unit_sales_S_unit_sales')" title="198.177,00">198.177,00</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q3','_S_unit_sales_S_unit_sales')" title="205.076,00">205.076,00</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q4','_S_unit_sales_S_unit_sales')" title="226.337,00">226.337,00</TD>
    
</TR>
    
<TR>
      
<TD class="totals" ng-click="selectMeasure('','','_S_quarter','_S_Q1','_S_unit_sales_S_unit_sales')" style="" title="203.185,00">203.185,00</TD>
      <TD class="totals" ng-click="selectMeasure('','','_S_quarter','_S_Q2','_S_unit_sales_S_unit_sales')" style="" title="198.177,00">198.177,00</TD>
      <TD class="totals" ng-click="selectMeasure('','','_S_quarter','_S_Q3','_S_unit_sales_S_unit_sales')" style="" title="205.076,00">205.076,00</TD>
      <TD class="totals" ng-click="selectMeasure('','','_S_quarter','_S_Q4','_S_unit_sales_S_unit_sales')" style="" title="226.337,00">226.337,00</TD>
    
</TR>
  
</TBODY>

</TABLE>
<span>CrossTabDefinitionBuilder.builder().measuresOnColumns().noTotalsOnRows().noTotalsOnColumns().build()</span>
<TABLE>
  
<THEAD>
    
<TR>
      
<TD class="crosstab-header-text" colspan="4" ng-click="orderPivotTable('0','1',1)" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">
        
<DIV title="quarter">
          
<I class="fa fa-arrow-up">
            
<FAKE></FAKE>
          
</I>
          <SPAN style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">quarter</SPAN>
        
</DIV>
      
</TD>
    
</TR>
    
<TR>
      
<TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q1')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q1</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q2')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q2</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q3')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q3</TD>
      <TD class="memberNoStandardStyle" ng-click="selectRow('quarter','Q4')" style=" font-style:normal!important; color:#3b678c; font-weight: 600;text-align:center;">Q4</TD>
    
</TR>
    
<TR>
      
<TD class="member" ng-click="orderPivotTable('0','1',1, 'unit_sales' , '_S_quarter_S_Q1')">
        
<DIV title="unit_sales">
          
<I></I>
          <SPAN class="measures-header-text">unit_sales</SPAN>
        
</DIV>
      
</TD>
      <TD class="member" ng-click="orderPivotTable('1','1',1, 'unit_sales' , '_S_quarter_S_Q2')">
        
<DIV title="unit_sales">
          
<I></I>
          <SPAN class="measures-header-text">unit_sales</SPAN>
        
</DIV>
      
</TD>
      <TD class="member" ng-click="orderPivotTable('2','1',1, 'unit_sales' , '_S_quarter_S_Q3')">
        
<DIV title="unit_sales">
          
<I></I>
          <SPAN class="measures-header-text">unit_sales</SPAN>
        
</DIV>
      
</TD>
      <TD class="member" ng-click="orderPivotTable('3','1',1, 'unit_sales' , '_S_quarter_S_Q4')">
        
<DIV title="unit_sales">
          
<I></I>
          <SPAN class="measures-header-text">unit_sales</SPAN>
        
</DIV>
      
</TD>
    
</TR>
  
</THEAD>
  
<TBODY>
    
<TR>
      
<TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q1','_S_unit_sales_S_unit_sales')" title="203.185,00">203.185,00</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q2','_S_unit_sales_S_unit_sales')" title="198.177,00">198.177,00</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q3','_S_unit_sales_S_unit_sales')" title="205.076,00">205.076,00</TD>
      <TD class="data" ng-click="selectMeasure('','','_S_quarter','_S_Q4','_S_unit_sales_S_unit_sales')" title="226.337,00">226.337,00</TD>
    
</TR>
  
</TBODY>

</TABLE>
</div>
</div>
</body>
</html>
