<md-dialog aria-label="Info word"  class="infoBox">
 <md-toolbar class="md-blue minihead">
    <div class="md-toolbar-tools">
      <h4 class="md-flex" >{{translate.load("sbi.generic.details");}}</h4>
    </div>
  </md-toolbar>
<md-dialog-content class="noPadding">
<div layout="column">
<ul>
<li><span>{{translate.load("sbi.browser.document.label");}}:</span><p> {{infCtrl.info.label}} </p></li>
<li><span>{{translate.load("sbi.browser.document.name");}}:</span><p> {{infCtrl.info.name}}</p></li>
<li><span>{{translate.load("sbi.hierarchies.scope");}}:</span><p> {{infCtrl.info.functionalities[0]}}</p></li>
<li class="sub-list"><span>{{translate.load("sbi.browser.document.profiledVisibility");}}:</span>
		<ul><li  ng-repeat="lnk in infCtrl.info.access ">{{lnk}}</li></ul>
</li>
</ul>
</div>
</md-dialog-content>
</md-dialog>