
<md-dialog aria-label="Info content"  class="infoBox">
 <md-toolbar class="md-blue minihead">
    <div class="md-toolbar-tools">
      <h4 class="md-flex" >{{translate.load("sbi.generic.details");}}</h4>
    </div>
  </md-toolbar>
<md-dialog-content class="noPadding">
<div layout="column">
<ul>
<li><span>{{translate.load("sbi.generic.name");}}:</span><p> {{infCtrl.info.CONTENT_NM}} </p></li>
<li><span>{{translate.load("sbi.generic.code");}}:</span><p> {{infCtrl.info.CONTENT_CD}} </p></li>
<li><span>{{translate.load("sbi.generic.descr");}}:</span><p> {{infCtrl.info.CONTENT_DS}} </p></li>

</ul>
</div>
</md-dialog-content>
</md-dialog>