.absolute{
position:absolute
}

.relative{
position:relative
}

.CodeMirror { 
  height: auto;
}

.metadataTabs{
    width: 250px;
    background-color: white;
    }
    
.alertIconMissingAlias {
line-height: 24px !important;
    color: #FFEB38 !important;
    margin-right: 6px;
}