// COMMON COLORS
$color-default: #a7a7a7;
$color-primary: #43749e;
$color-secondary: #bbd6ed;
$color-fab: #ce0651;
$color-disabled: #a0a0a0;
$color-selected: lighten($color-secondary, 5%);
$color-borders: #ccc;
$color-success: #74a748;
$color-error: #d32f2f;

// COMMON FONT
$font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;

// BUTTONS
$button-text-color: #fff;
$button-icon-color-default: $color-default;

// LIST
$list-border-color: $color-borders;
$list-item-selected-background-color: $color-secondary;
$list-item-text-secondary-color: $color-default;
$list-item-text-secondary-font-size: 0.8rem;

// MENU
$mainmenu-background-color: $color-primary;
$mainmenu-box-shadow: 0px 4px 8px rgb(72, 72, 72);
$mainmenu-highlight-color: $color-fab;
$mainmenu-icon-color: #fff;
$mainmenu-panel-color: #f0f8ff;
$mainmenu-panel-text-color: $color-primary;
$mainmenu-profile-box-shadow: -3px 0 4px 0 black;
$mainmenu-width: 58px;

// PROGRESS BAR
$progress-bar-background-color: rgba($color-secondary, 0.3);
$progress-bar-foreground-color: $color-fab;

// TOOLBAR
$toolbar-height: 2.5rem;
$toolbar-padding: 0 0.75rem;
$toolbar-font-weight: 400;
$toolbar-font-size: 1rem;

$toolbar-background-color-default: $color-default;
$toolbar-color-default: black;

$toolbar-background-color-primary: $color-primary;
$toolbar-color-primary: white;

$toolbar-background-color-secondary: $color-secondary;
$toolbar-color-secondary: white;

// TREE
$tree-border-color: $color-borders;
