<md-card class="flexCard customTableWidgetConfiguration pivotTableWidget" ng-cloak>
	<md-card-content flex layout="column" class="noPadding">
		<md-toolbar>
		  <div class="md-toolbar-tools">
		    <h2>{{::translate.format(translate.load('sbi.cockpit.widget.configuration'),translate.load('sbi.cockpit.widget.pivot'))}}</h2>
		    <span flex></span>
		  </div>
		</md-toolbar>
		<md-content flex layout="column">
		   
		  <md-tabs flex md-border-bottom>
		  	
		  <md-tab label="{{::translate.load('sbi.cockpit.dataset')}}">
		      	<md-tab-body>
		      	<div layout="column" layout-fill>
	      	<md-card>
		  		<md-card-content>
		  		 	<dataset-selector ng-model=localModel.dataset.dsId on-change="changeDatasetFunction(dsId)"></dataset-selector>
		  		</md-card-content>
		  	</md-card>		  
			   
			   <md-card ng-if="localModel.dataset.dsId!=undefined" flex layout="column">
			   		<md-subheader class="noPadding" style="margin-bottom:8px;" layout="row" layout-align="end center">
						<catalog-function ng-if="localModel.dataset.dsId" ng-model="localModel" additional-info="datasetAdditionalInfos"></catalog-function>
					</md-subheader>		
			     	<md-card-content flex layout="row" class="pivotTableDesigner" >		
			     		<div layout="column" class="measureAttributeTab">
			     			<div layout="column" flex="50">
			     				<md-toolbar class="primaryToolbar">
		      						<div class="md-toolbar-tools">
			      						<h2 flex>{{::translate.load("sbi.cockpit.pivot.measures")}}</h2>
		      						</div>
		      					</md-toolbar>
		      					<md-content flex layout="column" ng-class="{'dropZone': (sbiModule_device.browser.name=='chrome' && dragUtils.dragObjectType=='MEASURE-PT')}">
		      						<md-list flex dnd-list="currentDataset.metadata.fieldsMeta" dnd-allowed-types="['MEASURE-PT']" dnd-drop="dropCallback(event, index,currentDataset.metadata.fieldsMeta, item, external, type, 'MEASURE')" class="md-dense">
		      							<md-list-item ng-repeat="item in currentDataset.metadata.fieldsMeta"
			      							ng-if="item.fieldType=='MEASURE'"
			      							dnd-draggable="item"
			      							dnd-moved="currentDataset.metadata.fieldsMeta.splice($index, 1)"
			      							dnd-type="'MEASURE'"
			      							dnd-dragstart="dragUtils.dragObjectType='MEASURE'"
			      							dnd-dragend="dragUtils.dragObjectType=undefined">
		      							 <md-icon md-font-icon="fa fa-bars" style="margin:0!important;"></md-icon>
		      							{{item.alias}}
		      							</md-list-item>
		      							<md-list-item class="dndPlaceholder" >
									        {{::translate.load("sbi.cockpit.pivot.messages.drop.measure.remove")}}
									    </md-list-item>
		      						</md-list>
		      					</md-content>
			     			</div>
			     			<div layout="column" flex="50">
			     				<md-toolbar class="primaryToolbar">
		      						<div class="md-toolbar-tools">
			      						<h2 flex>{{::translate.load("sbi.cockpit.pivot.attributes")}}</h2>
		      						</div>
		      					</md-toolbar>
		      					<md-content flex layout="column" ng-class="{'dropZone': (sbiModule_device.browser.name=='chrome' && (dragUtils.dragObjectType=='COLUMNS' || dragUtils.dragObjectType=='ROWS'))}">
		      						<md-list flex dnd-list="currentDataset.metadata.fieldsMeta" dnd-allowed-types="['COLUMNS','ROWS']" 
		      							dnd-drop="dropCallback(event, index,currentDataset.metadata.fieldsMeta, item, external, type, 'ATTRIBUTE')" class="md-dense">
		      							<md-list-item ng-repeat="item in currentDataset.metadata.fieldsMeta" 
			      							ng-if="item.fieldType=='ATTRIBUTE'"
											dnd-draggable="item"
			      							dnd-moved="currentDataset.metadata.fieldsMeta.splice($index, 1)"
			      							dnd-type="'ATTRIBUTE'"
			      							dnd-dragstart="dragUtils.dragObjectType='ATTRIBUTE'"
			      							dnd-dragend="dragUtils.dragObjectType=undefined">
		      							 <md-icon md-font-icon="fa fa-bars" style="margin:0!important;"></md-icon>
		      							{{item.alias}}
		      							</md-list-item>
		      							<md-list-item class="dndPlaceholder" >
									        {{::translate.load("sbi.cockpit.pivot.messages.drop.attribute.remove")}}
									    </md-list-item>
		      						</md-list>
		      					</md-content>
			     			</div>
			     		</div>
			     		<div layout="row" flex>
				     			<div flex class="contentElementBox" layout="column">
				     				<md-toolbar class="md-hue-2 ternaryToolbar">  
			      						<div class="md-toolbar-tools">
				      						<h2 flex>{{::translate.load("sbi.cockpit.pivot.columns")}}</h2>
			      						</div>
			      					</md-toolbar>
			      					<md-content flex layout="column" ng-class="{'dropZone': sbiModule_device.browser.name=='chrome' &&  (dragUtils.dragObjectType=='ATTRIBUTE' || dragUtils.dragObjectType=='COLUMNS' || dragUtils.dragObjectType=='ROWS')  }" >
			      						<md-list flex dnd-list="localModel.content.crosstabDefinition.columns"  
			      							dnd-allowed-types="['ATTRIBUTE','ROWS','COLUMNS']" 
			      							dnd-drop="dropCallback(event, index,localModel.content.crosstabDefinition.columns, item, external, type, 'COLUMNS')">
			      							<md-list-item  class="noright" ng-repeat="item in localModel.content.crosstabDefinition.columns"
				      							dnd-draggable="item"
				      							dnd-moved="localModel.content.crosstabDefinition.columns.splice($index, 1)"
				      							dnd-type="'COLUMNS'"
				      							dnd-dragstart="dragUtils.dragObjectType='COLUMNS'"
			      								dnd-dragend="dragUtils.dragObjectType=undefined">
			      							 <md-icon md-font-icon="fa fa-bars" style="margin:0!important;"></md-icon>
			      							{{item.alias}}
			      							 <md-icon md-font-icon="fa fa-trash" ng-if="item.nature=='catalog_function'" aria-label="Checkbox 1" class="md-secondary" ng-click="deleteCatalogFunction()"></md-icon>
			      							 <md-icon md-font-icon="fa fa-cog" aria-label="Checkbox 1" class="md-secondary" ng-click="editFieldsProperty(item)"></md-icon>
			      							</md-list-item>
			      							<md-list-item class="dndPlaceholder" >
										       {{::translate.load("sbi.cockpit.pivot.messages.drop.attribute")}}
										    </md-list-item>
										    <div flex layout-align="center center" layout="row" ng-if="!localModel.content.crosstabDefinition.columns || localModel.content.crosstabDefinition.columns.length == 0">
				      							<div class="kn-noItems" flex="60">
				      								{{::translate.load("sbi.cockpit.pivot.messages.columns.info")}}
				      							</div>
				      						</div>
			      						</md-list>
			      					</md-content>
				     			</div>
			     				<div flex class="contentElementBox" layout="column">
			     					<md-toolbar class="md-hue-2 ternaryToolbar">  
			      						<div class="md-toolbar-tools">
				      						<h2 flex>{{::translate.load("sbi.cockpit.pivot.rows")}}</h2>
			      						</div>
			      					</md-toolbar>
			      					<md-content flex layout="column" ng-class="{'dropZone': sbiModule_device.browser.name=='chrome' &&  (dragUtils.dragObjectType=='ATTRIBUTE' || dragUtils.dragObjectType=='COLUMNS' || dragUtils.dragObjectType=='ROWS')  }">
			      						<md-list flex dnd-list="localModel.content.crosstabDefinition.rows"  dnd-allowed-types="['ATTRIBUTE','COLUMNS','ROWS']" dnd-drop="dropCallback(event, index,localModel.content.crosstabDefinition.rows, item, external, type, 'ROWS')">
			      							<md-list-item  class="noright" ng-repeat="item in localModel.content.crosstabDefinition.rows"
			      							dnd-draggable="item"
			      							dnd-moved="localModel.content.crosstabDefinition.rows.splice($index, 1)"
			      							dnd-type="'ROWS'"
			      							dnd-dragstart="dragUtils.dragObjectType='ROWS'"
		      								dnd-dragend="dragUtils.dragObjectType=undefined"
			      							 >
			      							 <md-icon md-font-icon="fa fa-bars" style="margin:0!important;"></md-icon>
			      							{{item.alias}}
			      							 <md-icon md-font-icon="fa fa-trash" ng-if="item.nature=='catalog_function'" aria-label="Checkbox 1" class="md-secondary" ng-click="deleteCatalogFunction()"></md-icon>
			      							 <md-icon md-font-icon="fa fa-cog" aria-label="Checkbox 1" class="md-secondary" ng-click="editFieldsProperty(item)"></md-icon>
			      							</md-list-item>
			      							<md-list-item class="dndPlaceholder" >
										       {{::translate.load("sbi.cockpit.pivot.messages.drop.attribute")}}
										    </md-list-item>
										    <div flex layout-align="center center" layout="row" ng-if="!localModel.content.crosstabDefinition.rows || localModel.content.crosstabDefinition.rows == 0">
				      							<div class="kn-noItems" flex="60">
				      								{{::translate.load("sbi.cockpit.pivot.messages.rows.info")}}
				      							</div>
				      						</div>
			      						</md-list>
			      					</md-content>
			     				</div>
			     				<div flex class="contentElementBox" layout="column">
				     				<md-toolbar class="md-hue-2 ternaryToolbar">  
			      						<div class="md-toolbar-tools">
				      						<h2 flex>{{::translate.load("sbi.cockpit.pivot.measures")}}</h2>
				      						<calculated-field ng-model="localModel" measures-list-func="getAvailableMeasures()" additional-info="datasetAdditionalInfos" callback-add-to="addCalculatedField(newItem)"></calculated-field>
			      						</div>
			      					</md-toolbar>
			      					<md-content flex layout="column" ng-class="{'dropZone': sbiModule_device.browser.name=='chrome' &&  (dragUtils.dragObjectType=='MEASURE' ||dragUtils.dragObjectType=='MEASURE-PT'|| dragUtils.dragObjectType=='CALCULATED-FIELD')  }">
			      						<md-list flex dnd-list="localModel.content.crosstabDefinition.measures"  dnd-allowed-types="['MEASURE','MEASURE-PT','CALCULATED-FIELD']"  dnd-drop="dropCallback(event, index,localModel.content.crosstabDefinition.measures, item, external, type, 'MEASURE-PT')">
			      							<md-list-item  class="noright" ng-repeat="item in localModel.content.crosstabDefinition.measures"
			      							dnd-draggable="item"
			      							dnd-moved="localModel.content.crosstabDefinition.measures.splice($index,1)"
			      							dnd-type="{{getMeasureType(item)}}"
			      							dnd-dragstart="dragUtils.dragObjectType=getMeasureType(item)"
		      								dnd-dragend="dragUtils.dragObjectType=undefined"
			      							 >
			      							 <md-icon md-font-icon="fa fa-bars" style="margin:0!important;"></md-icon>
			      							<span flex> {{item.alias}} </span>
			      							 <calculated-field ng-if="item.nature=='calculated_field'" ng-model="localModel" selected-item="item" measures-list-func="getAvailableMeasures()" additional-info="datasetAdditionalInfos" callback-add-to="addCalculatedField(newItem)"></calculated-field> 
			      							 <md-icon md-font-icon="fa fa-trash" ng-if="item.nature=='calculated_field'" aria-label="Checkbox 1" class="md-secondary" ng-click="deleteCalculatedField($index)"></md-icon>
			      							 <md-icon md-font-icon="fa fa-trash" ng-if="item.nature=='catalog_function'" aria-label="Checkbox 1" class="md-secondary" ng-click="deleteCatalogFunction()"></md-icon>
			      							 <md-icon md-font-icon="fa fa-cog" aria-label="Checkbox 1" class="md-secondary" ng-click="editFieldsProperty(item)"></md-icon> 
			      							</md-list-item>
			      							<md-list-item class="dndPlaceholder" >
										       {{::translate.load("sbi.cockpit.pivot.messages.drop.measure")}}
										    </md-list-item>
										    <div flex layout-align="center center" layout="row" ng-if="!localModel.content.crosstabDefinition.measures || localModel.content.crosstabDefinition.measures == 0">
				      							<div class="kn-noItems" flex="60">
				      								{{::translate.load("sbi.cockpit.pivot.messages.measures.info")}}
				      							</div>
				      						</div>
			      						</md-list>
			      					</md-content>
			     				</div>
			     		</div>
			     	
			     	
	
			     	</md-card-content>
			    </md-card>
			    </div>
			    </md-tab-body>
		     </md-tab>
		  
		  	<md-tab label="{{::translate.load('sbi.cockpit.pivot.config')}}">
		  	
		  		<md-card>
					<md-card-title>
						<md-card-title-text layout="row">
							<span flex class="md-headline">{{::translate.load("sbi.cockpit.pivot.general")}}</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-content layout="column" >
						<md-input-container class="md-block">
				          <label>{{::translate.load("sbi.cockpit.pivot.maxCellsNumber")}}</label>
				          <input  ng-model="localModel.content.crosstabDefinition.config.maxcellnumber">
				        </md-input-container>
				        
				        <div layout="row" layout-margin>
							<span >{{::translate.load("sbi.crosstab.crosstabdetailswizard.measureson")}}</span>
							<md-radio-group flex layout="row" ng-model="localModel.content.crosstabDefinition.config.measureson" >
								<md-radio-button value="columns" class="md-primary">{{::translate.load("sbi.cockpit.pivot.columns")}}</md-radio-button>
								<md-radio-button ng-click="localModel.content.crosstabDefinition.config.hideZeroRows='false'" value="rows" class="md-primary"> {{::translate.load("sbi.cockpit.pivot.rows")}} </md-radio-button>
							</md-radio-group>
						</div>
						
						<div layout="row" layout-margin>
							<span >{{::translate.load("sbi.crosstab.crosstabdetailswizard.percenton")}}</span>
							<md-radio-group flex layout="row" ng-model="localModel.content.crosstabDefinition.config.percenton" >
								<md-radio-button value="column" class="md-primary">{{::translate.load("sbi.cockpit.pivot.columns")}}</md-radio-button>
								<md-radio-button value="row" class="md-primary"> {{::translate.load("sbi.cockpit.pivot.rows")}} </md-radio-button>
								<md-radio-button value="no" class="md-primary"> {{::translate.load("sbi.crosstab.crosstabdetailswizard.nopercent")}} </md-radio-button>
							</md-radio-group>
						</div>
					
					</md-card-content>
				</md-card>
				
				<md-card>
					<md-card-title>
						<md-card-title-text layout="row">
							<span flex class="md-headline">{{::translate.load("sbi.crosstab.crosstabdetailswizard.onrows")}}</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-content layout="row" layout-align="space-around center">
						<md-checkbox ng-model="localModel.content.crosstabDefinition.config.calculatetotalsonrows" aria-label="Checkbox 1">
				        	{{::translate.load("sbi.crosstab.crosstabdetailswizard.calculatetotalsonrows")}}
				        </md-checkbox>
				        <md-input-container class="md-block">
					          <label>{{::translate.load("sbi.crosstab.crosstabdetailswizard.totalLabel")}}</label>
					          <input  size="40" ng-model="localModel.content.crosstabDefinition.config.rowtotalLabel" ng-disabled="!localModel.content.crosstabDefinition.config.calculatetotalsonrows">
					    </md-input-container>
						<md-checkbox ng-model="localModel.content.crosstabDefinition.config.calculatesubtotalsonrows" aria-label="Checkbox 1">
				        	{{::translate.load("sbi.crosstab.crosstabdetailswizard.calculatesubtotalsonrows")}}
				        </md-checkbox>
				        <md-input-container class="md-block">
					          <label>{{::translate.load("sbi.crosstab.crosstabdetailswizard.subtotalLabel")}}</label>
					          <input  size="40" ng-model="localModel.content.crosstabDefinition.config.rowsubtotalLabel" ng-disabled="!localModel.content.crosstabDefinition.config.calculatesubtotalsonrows">
					    </md-input-container>
					</md-card-content>
					<md-card-content layout="row" layout-align="space-around center">
						<md-checkbox ng-disabled="localModel.content.crosstabDefinition.config.measureson=='rows'" ng-model="localModel.content.crosstabDefinition.config.hideZeroRows">
				        	{{::translate.load("sbi.crosstab.crosstabdetailswizard.hidezerorows")}}
				        </md-checkbox>
				        <md-checkbox ng-model="localModel.content.crosstabDefinition.config.fixedColumn">
				        	{{::translate.load("sbi.crosstab.crosstabdetailswizard.fixedColumn")}}
				        </md-checkbox>
				        <md-checkbox ng-model="localModel.content.crosstabDefinition.config.expandCollapseRows">
				        	{{::translate.load("sbi.crosstab.crosstabdetailswizard.expandcollapse")}}
				        </md-checkbox>
					</md-card-content>
				</md-card>
				
				<md-card >
					<md-card-title>
						<md-card-title-text layout="row">
							<span flex class="md-headline">{{::translate.load("sbi.crosstab.crosstabdetailswizard.oncolumns")}}</span>
						</md-card-title-text>
					</md-card-title>
					<md-card-content layout="row" layout-align="space-around center">
						<md-checkbox ng-model="localModel.content.crosstabDefinition.config.calculatetotalsoncolumns" aria-label="Checkbox 1">
					        	{{::translate.load("sbi.crosstab.crosstabdetailswizard.calculatetotalsoncolumns")}}
					        </md-checkbox>
					        <md-input-container class="md-block">
					          <label>{{::translate.load("sbi.crosstab.crosstabdetailswizard.totalLabel")}}</label>
					          <input size="40" ng-model="localModel.content.crosstabDefinition.config.columntotalLabel" ng-disabled="!localModel.content.crosstabDefinition.config.calculatetotalsoncolumns">
					        </md-input-container>
							<md-checkbox ng-model="localModel.content.crosstabDefinition.config.calculatesubtotalsoncolumns" aria-label="Checkbox 1">
					        	{{::translate.load("sbi.crosstab.crosstabdetailswizard.calculatesubtotalsoncolumns")}}
					        </md-checkbox>
					        <md-input-container class="md-block">
					          <label>{{::translate.load("sbi.crosstab.crosstabdetailswizard.subtotalLabel")}}</label>
					          <input  size="40" ng-model="localModel.content.crosstabDefinition.config.columnsubtotalLabel" ng-disabled="!localModel.content.crosstabDefinition.config.calculatesubtotalsoncolumns">
					        </md-input-container>
					</md-card-content>
				</md-card>
		  	
				     	
		    </md-tab>
		  
		    <md-tab label="{{::translate.load('sbi.cockpit.style')}}">
		     	<md-card>
					<md-toolbar class="ternaryToolbar" >
						<div class="md-toolbar-tools" layout="row">
							<h2>{{::translate.load('sbi.cockpit.designer.fontConf.crosstabFontGeneralOpts')}}</h2>
							<span flex></span>
						</div>
					</md-toolbar>
					<md-card-content >
						<div layout=row >
							<md-input-container flex class="md-block">
								<label>{{::translate.load('sbi.cockpit.pivot.rows.height')}}</label>
								<input class="input_class" ng-model="localModel.content.style.generic['height']" />
								<div class="hint">{{::translate.load('sbi.cockpit.style.radius.hint')}}</div>
							</md-input-container>
							<md-input-container flex>
								<label>{{::translate.load('sbi.cockpit.style.fontSize')}}</label>
								<input ng-model="localModel.content.style.generic['font-size']" type="text"/>
								<div class="hint">{{::translate.load('sbi.cockpit.style.fontSize.hint')}}</div>
							</md-input-container>
							<md-input-container flex>
								<label>{{::translate.load('sbi.cockpit.style.font.family')}}</label>
								<md-select ng-model="localModel.content.style.generic['font']">
									<md-option ng-repeat="ff in cockpitModule_generalOptions.fontFamily" ng-value="ff.value" >
										<span ng-style="{'font-family':ff.value}">{{ff.label}}</span>
									</md-option>
								</md-select>
							</md-input-container>
							<md-input-container flex>
								<label>{{::translate.load('sbi.cockpit.style.layout')}}</label>
								<md-select ng-model="localModel.content.style.generic['layout']">
									<md-option ng-value="'auto'">Auto</md-option>
									<md-option ng-value="'fixed'">Fixed</md-option>
								</md-select>
							</md-input-container>
						</div>
					</md-card-content>
				</md-card>
				
				<md-card>
					<md-toolbar class="ternaryToolbar" >
						<div class="md-toolbar-tools" layout="row">
							<h2>{{::translate.load('sbi.cockpit.designer.fontConf.crosstabHeadersFontOpts')}}</h2>
							<span flex></span>
						</div>
					</md-toolbar>
					<md-card-content >
			     		<div layout=row >
			     			<md-input-container flex>
								<label>{{::translate.load('sbi.cockpit.style.fontSize')}}</label>
								<input ng-model="localModel.content.style.crossTabHeaders['font-size']" type="text"/>
								<div class="hint">{{::translate.load('sbi.cockpit.style.fontSize.hint')}}</div>
							</md-input-container>
							<md-input-container flex>
								<label>{{::translate.load('sbi.cockpit.style.font.family')}}</label>
								<md-select ng-model="localModel.content.style.crossTabHeaders['font-family']">
									<md-option ng-repeat="ff in cockpitModule_generalOptions.fontFamily" ng-value="ff.value" >
										<span ng-style="{'font-family':ff.value}">{{ff.label}}</span>
									</md-option>
								</md-select>
							</md-input-container>
			     			<md-input-container flex>
								<label>{{::translate.load('sbi.cockpit.style.fontWeight')}}</label>
								<md-select ng-model="localModel.content.style.crossTabHeaders['font-weight']">
									<md-option ng-repeat="fw in cockpitModule_generalOptions.fontWeight" ng-value="fw.value" >
										<span ng-style="{'font-weight':fw.value}">{{fw.label}}</span>
									</md-option>
								</md-select>
							</md-input-container>
			     		</div>
			     		<div layout=row >
			     			<md-input-container flex>
								<label>{{::translate.load('sbi.cockpit.style.textDecoration')}}</label>
								<md-select ng-model="localModel.content.style.crossTabHeaders['text-decoration']">
									<md-option ng-repeat="td in cockpitModule_generalOptions.textDecoration" ng-value="td.value" >
										<span ng-style="{'text-decoration':td.value}">{{td.label}}</span>
									</md-option>
								</md-select>
							</md-input-container>
				     		<md-input-container flex class="md-block"> 
								<label>{{::translate.load('sbi.cockpit.style.color')}}</label>
								<color-picker  options="colorPickerProperty" ng-model="localModel.content.style.crossTabHeaders.color "></color-picker>
							</md-input-container>
							<md-input-container flex class="md-block"> 
								<label>{{::translate.load('sbi.cockpit.style.background')}}</label>
								<color-picker  options="colorPickerProperty" ng-model="localModel.content.style.crossTabHeaders['background-color'] "></color-picker>
							</md-input-container>
			     		</div>
					</md-card-content>
				</md-card>
				
				<md-card>
					<md-toolbar class="ternaryToolbar" >
						<div class="md-toolbar-tools" layout="row">
							<h2>{{::translate.load('sbi.cockpit.designer.fontConf.measuresHeaders')}}</h2>
							<span flex></span>
						</div>
					</md-toolbar>
					<md-card-content >
			     		<div layout=row >
			     			<md-input-container flex>
								<label>{{::translate.load('sbi.cockpit.style.fontSize')}}</label>
								<input ng-model="localModel.content.style.measuresHeaders['font-size']" type="text"/>
								<div class="hint">{{::translate.load('sbi.cockpit.style.fontSize.hint')}}</div>
							</md-input-container>
							<md-input-container flex>
								<label>{{::translate.load('sbi.cockpit.style.font.family')}}</label>
								<md-select ng-model="localModel.content.style.measuresHeaders['font-family']">
									<md-option ng-repeat="ff in cockpitModule_generalOptions.fontFamily" ng-value="ff.value" >
										<span ng-style="{'font-family':ff.value}">{{ff.label}}</span>
									</md-option>
								</md-select>
							</md-input-container>
			     			<md-input-container flex>
								<label>{{::translate.load('sbi.cockpit.style.fontWeight')}}</label>
								<md-select ng-model="localModel.content.style.measuresHeaders['font-weight']">
									<md-option ng-repeat="fw in cockpitModule_generalOptions.fontWeight" ng-value="fw.value" >
										<span ng-style="{'font-weight':fw.value}">{{fw.label}}</span>
									</md-option>
								</md-select>
							</md-input-container>
			     		</div>
			     		<div layout=row >
			     			<md-input-container flex>
								<label>{{::translate.load('sbi.cockpit.style.textDecoration')}}</label>
								<md-select ng-model="localModel.content.style.measuresHeaders['text-decoration']">
									<md-option ng-repeat="td in cockpitModule_generalOptions.textDecoration" ng-value="td.value" >
										<span ng-style="{'text-decoration':td.value}">{{td.label}}</span>
									</md-option>
								</md-select>
							</md-input-container>
				     		<md-input-container flex class="md-block"> 
								<label>{{::translate.load('sbi.cockpit.style.color')}}</label>
								<color-picker  options="colorPickerProperty" ng-model="localModel.content.style.measuresHeaders.color "></color-picker>
							</md-input-container>
							<md-input-container flex class="md-block"> 
								<label>{{::translate.load('sbi.cockpit.style.background')}}</label>
								<color-picker  options="colorPickerProperty" ng-model="localModel.content.style.measuresHeaders['background-color']"></color-picker>
							</md-input-container>
			     		</div>
					</md-card-content>
				</md-card>
				
				<md-card>
					<md-toolbar class="ternaryToolbar" >
						<div class="md-toolbar-tools" layout="row">
							<h2>{{::translate.load('sbi.cockpit.designer.fontConf.measuresFontOpts')}}</h2>
							<span flex></span>
						</div>
					</md-toolbar>
					<md-card-content >
			     		<div layout=row >
			     			<md-input-container flex>
								<label>{{::translate.load('sbi.cockpit.style.fontSize')}}</label>
								<input ng-model="localModel.content.style.measures['font-size']" type="text"/>
								<div class="hint">{{::translate.load('sbi.cockpit.style.fontSize.hint')}}</div>
							</md-input-container>
							<md-input-container flex>
								<label>{{::translate.load('sbi.cockpit.style.font.family')}}</label>
								<md-select ng-model="localModel.content.style.measures['font-family']">
									<md-option ng-repeat="ff in cockpitModule_generalOptions.fontFamily" ng-value="ff.value" >
										<span ng-style="{'font-family':ff.value}">{{ff.label}}</span>
									</md-option>
								</md-select>
							</md-input-container>
			     			<md-input-container flex>
								<label>{{::translate.load('sbi.cockpit.style.fontWeight')}}</label>
								<md-select ng-model="localModel.content.style.measures['font-weight']">
									<md-option ng-repeat="fw in cockpitModule_generalOptions.fontWeight" ng-value="fw.value" >
										<span ng-style="{'font-weight':fw.value}">{{fw.label}}</span>
									</md-option>
								</md-select>
							</md-input-container>
			     		</div>
			     		<div layout=row >
			     			<md-input-container flex>
								<label>{{::translate.load('sbi.cockpit.style.textDecoration')}}</label>
								<md-select ng-model="localModel.content.style.measures['text-decoration']">
									<md-option ng-repeat="td in cockpitModule_generalOptions.textDecoration" ng-value="td.value" >
										<span ng-style="{'text-decoration':td.value}">{{td.label}}</span>
									</md-option>
								</md-select>
							</md-input-container>
				     		<md-input-container flex class="md-block"> 
								<label>{{::translate.load('sbi.cockpit.style.color')}}</label>
								<color-picker  options="colorPickerProperty" ng-model="localModel.content.style.measures.color "></color-picker>
							</md-input-container>
							<md-input-container flex class="md-block"> 
								<label>{{::translate.load('sbi.cockpit.style.background')}}</label>
								<color-picker  options="colorPickerProperty" ng-model="localModel.content.style.measures['background-color']"></color-picker>
							</md-input-container>
			     		</div>
					</md-card-content>
				</md-card>
				
				<md-card>
					<md-toolbar class="ternaryToolbar" >
						<div class="md-toolbar-tools" layout="row">
							<h2>{{::translate.load('sbi.cockpit.pivot.totals')}}</h2>
							<span flex></span>
						</div>
					</md-toolbar>
					<md-card-content >
						<div layout=row flex>
				     		<md-input-container flex class="md-block md-icon-right"> 
								<label>{{::translate.load('sbi.cockpit.style.color')}}</label>
								<color-picker options="colorPickerProperty" ng-model="localModel.content.style.totals.color "></color-picker>
							</md-input-container>
							<md-input-container flex class="md-block"> 
								<label>{{::translate.load('sbi.cockpit.style.background')}}</label>
								<color-picker  options="colorPickerProperty" ng-model="localModel.content.style.totals['background-color'] "></color-picker>
							</md-input-container>
			     		</div>
					</md-card-content>
				</md-card>
				
				<md-card>
					<md-toolbar class="ternaryToolbar" >
						<div class="md-toolbar-tools" layout="row">
							<h2>{{::translate.load('sbi.cockpit.pivot.subtotals')}}</h2>
							<span flex></span>
						</div>
					</md-toolbar>
					<md-card-content >
						<div layout=row flex>
				     		<md-input-container flex class="md-block"> 
								<label>{{::translate.load('sbi.cockpit.style.color')}}</label>
								<color-picker  options="colorPickerProperty" ng-model="localModel.content.style.subTotals.color "></color-picker>
							</md-input-container>
							<md-input-container flex class="md-block"> 
								<label>{{::translate.load('sbi.cockpit.style.background')}}</label>
								<color-picker  options="colorPickerProperty" ng-model="localModel.content.style.subTotals['background-color'] "></color-picker>
							</md-input-container>
			     		</div>
					</md-card-content>
				</md-card>
				
				<md-card>
					<md-toolbar class="ternaryToolbar" >
						<div class="md-toolbar-tools" layout="row">
							<h2>{{::translate.load('sbi.cockpit.widget.table.grid')}}</h2>
							<span flex></span>
						</div>
					</md-toolbar>
					<md-card-content >
						<div layout="row" flex ng-cloak>
				           <div flex=20 layout=column>
				           		<div flex  layout="row" layout-align="start center">
						           <md-checkbox layout-align="space-around center" ng-model="localModel.content.style.showGrid"  class="md-block"
											aria-label="Checkbox 1" ng-change="enableGrid()">{{::translate.load('sbi.cockpit.table.grid.showgrid')}}</md-checkbox>
								</div>
								<div flex  layout="row" layout-align="start center">
						          <md-checkbox layout-align="space-around center" ng-model="localModel.content.style.showAlternateRows"  class="md-block"
											aria-label="Checkbox 1"  ng-change="enableAlternate()">{{::translate.load('sbi.cockpit.table.alternate')}}</md-checkbox>
								</div>
								<div flex layout="row" layout-align="start center">
									<div class="kn-info" flex>{{::translate.load('sbi.cockpit.table.alternate.warning')}}</div>
								</div>
				           </div>
				           <div flex layout=column >
					           	<div flex layout="row">
									<md-input-container class="md-block" flex=50 >
										<label>{{::translate.load("sbi.cockpit.style.borders.style")}}</label>
										<md-select ng-model="localModel.content.style.measuresRow['border-style']" ng-disabled ="!localModel.content.style.showGrid">
											<md-option ng-repeat=" bsize in bordersSize" ng-value="bsize.value">{{bsize.label}} <span ng-class="bsize.exampleClass"></span></md-option>
										</md-select>
									</md-input-container>
									<md-input-container class="md-block" flex=33>
										<label>{{::translate.load("sbi.cockpit.style.borders.thickness")}}</label>
										<md-select ng-model="localModel.content.style.measuresRow['border-width']" ng-disabled ="!localModel.content.style.showGrid">
											<md-option ng-repeat="bwidth in bordersWidth" ng-value="bwidth.value">{{bwidth.label}}</md-option>
										</md-select>	
									</md-input-container>									
									<md-input-container flex=33 class="md-block"> 
										<label>{{::translate.load('sbi.cockpit.table.grid.color')}}</label>
										<color-picker  options="colorPickerPropertyGrid" ng-model="localModel.content.style.measuresRow['border-color'] "></color-picker>
									</md-input-container>
										
					           	</div>
					           	<div flex layout=column >
						           	<div layout=row >
							     		<md-input-container flex=50 class="md-block"> 
											<label>{{::translate.load('sbi.cockpit.table.alternate.evenrows')}}</label>
											<color-picker  options="colorPickerAlternateGrid" ng-model="localModel.content.style.measuresRow['even-background-color']" ></color-picker>
										</md-input-container>
										<md-input-container flex=50 class="md-block"> 
											<label>{{::translate.load('sbi.cockpit.table.alternate.oddrows')}}</label>
											<color-picker  options="colorPickerAlternateGrid" ng-model="localModel.content.style.measuresRow['odd-background-color']" ></color-picker>
										</md-input-container>
						     		</div>
				           		</div>
				           	</div>
			           </div>
					</md-card-content>
				</md-card>
   
			     	<cockpit-style-configurator widget ng-model="localModel.style"></cockpit-style-configurator>
		     	 
		     </md-tab>
		     
		     <md-tab label="{{::translate.load('sbi.cockpit.widget.table.cross')}}">
				<cockpit-cross-configurator widget ng-cloak ng-model="localModel.cross"></cockpit-cross-configurator>
			</md-tab>
		     
		     <md-tab label="{{::translate.load('sbi.cockpit.widget.table.filters')}}">
	      		<cockpit-filters-configuration ng-model-shared="localModel">
		     </md-tab>
		     
		  </md-tabs>
		</md-content>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
      <md-button class="md-raised" ng-click="cancelConfiguration()" >
         {{::translate.load('sbi.generic.cancel')}}
      </md-button>
      <md-button class="md-raised md-primary" ng-click="saveConfiguration()"  >
         {{::translate.load('sbi.generic.save')}}
      </md-button>
    </md-card-actions>
</md-card>