<div layout-fill class="overlayGray" layout="row" layout-align="center center">

<md-dialog aria-label="crosstable configuration" ng-cloak  layout="column" class="width80">
   <md-toolbar class="secondaryToolbar" layout="row">
			<h1 flex class="md-toolbar-tools">{{::translate.load('sbi.cockpit.widgets.table.columnstyle')}}</h1>
			 <md-button class="md-icon-button" ng-click="cleanStyleColumn()" >
			  <md-icon md-font-icon="fa fa-eraser" aria-label="Clean"></md-icon>
			  </md-button>
	  </md-toolbar>
	<md-dialog-content flex layout="row">
		  
			  <div layout-margin layout="column" flex class="relative"> 
			   	
				<div flex>
				 <div layout="column" ng-if="selectedColumn.widgetType=='staticPivotTable'">
					<div flex layout="row" layout-align="start center">
						<md-checkbox ng-disabled="selectedColumn.disableShowHeader" flex ng-model="selectedColumn.showHeader" >
									{{::translate.load("sbi.cockpit.table.showHeader")}}
						</md-checkbox>
						<div class="kn-info" layout="row" flex layout-align="start center" ng-if="selectedColumn.showSortingAlert" >
							ATTENTION: Were saved manual sortings that are different by the next configuration set. The system will use the first ones.</br>
									   Click on the reset icon to revert the template configuration. </div>
						 <md-icon md-font-icon="fa fa-undo" ng-if="selectedColumn.showSortingAlert" ng-click="resetTemplateSortOptions()">
							<md-tooltip md-direction="top">Revert configuration</md-tooltip>
						 </md-icon>
					</div>
					<div layout="row" flex> 
						<md-input-container flex>
						  <label>{{::translate.load('sbi.cockpit.table.columnname')}}</label>
						  <input ng-model="selectedColumn.id"  ng-disabled="true">
						</md-input-container>
						<md-input-container flex>
						  <label>{{::translate.load('sbi.cockpit.table.title')}}</label>
						  <input ng-model="selectedColumn.alias">
						</md-input-container>	
						<md-input-container flex ng-if="variables">
						  	<label>{{::translate.load('sbi.cockpit.widgets.staticpivot.variables')}} <small>{{::translate.load('sbi.generic.optional')}}</small></label>
						  	<md-select ng-model="selectedColumn.variable">
						  		<md-option></md-option>
								<md-option ng-repeat="(key, value) in variables" ng-value="key" >							
									{{key}}
								</md-option>
							</md-select>
						  	<div class="hint">{{::translate.load('sbi.cockpit.widgets.staticpivot.variables.hint')}}</div>
						</md-input-container>
					</div>
					<div layout="row">
						<md-input-container ng-if="selectedColumn.fieldType!='MEASURE' && selectedColumn.fieldType!='CALCULATED_FIELD'" class="md-block" flex>
								<md-checkbox ng-model="selectedColumn.sorting" aria-label="Checkbox Order" ng-disabled="selectedColumn.showSortingAlert">
										{{::translate.load("sbi.cockpit.widgets.table.sorting.column")}}
								</md-checkbox>
						</md-input-container>
						<md-input-container ng-if="selectedColumn.fieldType!='MEASURE' && selectedColumn.fieldType!='CALCULATED_FIELD'" class="md-block" flex>
							<label>{{::translate.load("sbi.cockpit.widgets.table.sorting.orderByColumnValue");}}</label>
							<md-select ng-model="selectedColumn.sortingId" ng-disabled="!selectedColumn.sorting || selectedColumn.sorting=='' || selectedColumn.showSortingAlert" data-ng-change="updateSortOptions(selectedColumn)">
								<md-option ng-repeat="sortCol in selectedColumn.sorterByColumns" ng-value="sortCol" >							
								{{sortCol}}
								</md-option>
							</md-select>
						</md-input-container>
						<md-input-container ng-if="selectedColumn.fieldType!='MEASURE' && selectedColumn.fieldType!='CALCULATED_FIELD'" class="md-block" flex>
							<label>{{::translate.load("sbi.cockpit.widgets.table.sorting.order");}}</label>
							<md-select ng-model="selectedColumn.sortingOrder" ng-disabled="!selectedColumn.sorting || selectedColumn.sorting=='' || selectedColumn.showSortingAlert" data-ng-change="updateSortOptions(selectedColumn)">
								<md-option value="ASC">{{::translate.load("sbi.cockpit.widgets.table.sorting.asc");}}</md-option>
								<md-option value="DESC">{{::translate.load("sbi.cockpit.widgets.table.sorting.desc");}}</md-option>
							</md-select>
						</md-input-container>
						<md-input-container ng-if="selectedColumn.fieldType=='MEASURE' || selectedColumn.fieldType=='CALCULATED_FIELD'" flex>
							<md-tooltip md-delay="500"> {{::translate.load('sbi.cockpit.aggregationwindow.selectAggregation.tooltip')}} </md-tooltip>
							<label>{{::translate.load('sbi.cockpit.aggregationwindow.selectAggregation')}}</label>
							<md-select ng-model="selectedColumn.funct" ng-change="setExcludeFromTotal(selectedColumn)">
								<md-option ng-repeat="agF in cockpitModule_generalOptions.aggregationFunctions" ng-value="agF.value" >
								{{agF.label}}
								</md-option>
							</md-select>
						</md-input-container>
						<md-input-container ng-if="selectedColumn.fieldType=='MEASURE' || selectedColumn.fieldType=='CALCULATED_FIELD'" flex>
							<md-checkbox flex ng-disabled="isExcludeFromTotalEnabled()" ng-model="selectedColumn.excludeFromTotalAndSubtotal">{{::translate.load("sbi.cockpit.aggregationwindow.excludeFromTotalAndSubtotal")}}</md-checkbox>
						</md-input-container>
						<div class="kn-info" ng-if="isExcludeFromTotalEnabled()" flex>{{translate.load("sbi.cockpit.aggregationwindow.excludeFromTotalAndSubtotal.info")}}</div>
					</div>			
					
				</div>
			   
			   <!-- ----------------- -->
			
			   <div ng-if="selectedColumn.fieldType=='MEASURE' || selectedColumn.fieldType=='CALCULATED_FIELD'">
					<!-- both simple table and static pivot table -->
					<div layout="column">
					<md-input-container md-class="md-block">
						<label>{{::translate.load('sbi.cockpit.table.visualizationtype')}}</label>
							<md-select ng-model="selectedColumn.visType">
								<md-option ng-repeat="vType in visTypes" value="{{vType.value}}">
									{{vType.label}}
								</md-option>
							</md-select>
					</md-input-container>
			 
				   <div ng-if="selectedColumn.visType=='Chart'|| selectedColumn.visType=='Chart & Text' || selectedColumn.visType== 'Text & Chart' " layout="row" layout-wrap>
						<md-input-container flex=50 class="md-block" class="small counter" >
							<label>{{::translate.load('sbi.cockpit.table.minvalue')}}</label>
							<input class="input_class" type="number" ng-model="selectedColumn.minValue" required>
						</md-input-container>
						
						<md-input-container flex=50 class="md-block" class="small counter">
							<label>{{::translate.load('sbi.cockpit.table.maxvalue')}}</label>
							<input class="input_class" type="number" ng-model="selectedColumn.maxValue" required>
						</md-input-container>
						
						<md-input-container flex=50 class="md-block" class="small counter">
							<label>{{::translate.load('sbi.cockpit.table.chartlength')}}(px)</label>
							<input class="input_class" type="number" ng-model="selectedColumn.chartLength" required>
						</md-input-container>
						
						<md-input-container flex=50 class="md-block" class="small counter">
							<label>{{::translate.load('sbi.cockpit.table.chartcolor')}}</label>
							<color-picker  options="colorPickerProperty" ng-model="selectedColumn.chartColor "></color-picker>
						</md-input-container>
						
						<md-input-container flex=50 class="md-block" class="small counter">
							<label>CACCAPUPU</label>
							<input type="text" ng-model="selectedColumn.test" />
						</md-input-container>
						
				   </div>			
					

				</div>


				<md-card>
		       			<md-toolbar class="ternaryToolbar ">
					      <div class="md-toolbar-tools">
					        <h2>{{::translate.load('sbi.cockpit.table.threshold')}}</h2>
					          <span flex></span>
					          <md-button   class="md-icon-button" ng-click="addRange()" >
						      	<md-icon md-font-icon="fa fa-plus" aria-label="Add range"></md-icon>
						      </md-button>
				          </div>
				       </md-toolbar>
				       
				       <md-card-content layout="column">
	       			   		<div ng-if="!selectedColumn.ranges || selectedColumn.ranges.length == 0" flex>{{::translate.load('sbi.cockpit.table.nothreshold')}}</div>
							<div layout="row" ng-repeat="range in selectedColumn.ranges" layout-align="space-between center">
								<md-input-container flex=20 class="md-block"> 
									<label>{{::translate.load('sbi.cockpit.table.condition')}}</label>
									<md-select aria-label="aria-label" ng-model="range.operator">
										<md-option ng-repeat="c in conditions" value="{{c}}">{{c}}</md-option>
									</md-select>
								</md-input-container>
								
								<md-input-container flex=20 class="md-block">
									<label>{{::translate.load('sbi.cockpit.table.threshold')}}</label>
									<input class="input_class" type="number" ng-model="range.value"> 
								</md-input-container>
								
								<button flex="10" class="md-button md-raised md-button-empty" ng-click="chooseIcon(range)" ng-style="{'background-color':range['background-color']}">
									<span ng-if="!range.icon" ng-style="{'color':range.color}">Choose Icon</span>
									<i ng-if="range.icon" ng-class="range.icon" ng-style="{'color':range.color}"></i>
								</button>
								
								<md-input-container flex=20 class="md-block"> 
									<label>Text/icon color</label>
									<color-picker options="colorPickerProperty" ng-model="range.color"></color-picker>
								</md-input-container>
	
								<md-input-container flex=20 class="md-block"> 
									<label>{{::translate.load('sbi.cockpit.table.backgroundcolor')}}/chart color</label>
									<color-picker options="colorPickerProperty" ng-model="range['background-color']"></color-picker>
								</md-input-container>
	
								<md-button class="md-icon-button" ng-click="deleteRange(range.$$hashKey)" >
							      	<md-icon md-font-icon="fa fa-trash" aria-label="Delete range"></md-icon>
							    </md-button>
							</div>
	
						</md-card-content>
				</md-card>
				       
				<!-- md-card>
					<md-toolbar class="ternaryToolbar ">
					  <div class="md-toolbar-tools">
						<h2>
						  <span>{{::translate.load('sbi.cockpit.table.threshold')}}</span>
						</h2>
					  </div>
				   </md-toolbar>
				  
	   			   <md-card-content layout-row>
					   <angular-table flex
									id="thresholdsTable"
									ng-show=true
									ng-model="thresholdsList"
									highlights-selected-item=true
									no-pagination=true
									columns="tableColumns"
									scope-functions="selectedColumn.scopeFunc"
						>						
						</angular-table>
						<div flex>
						{{::translate.load('sbi.cockpit.table.backgroundthresholds')}}
							<div ng-repeat="i in [0, 1, 2]"  layout="row">
									
									<md-input-container flex class="md-block" flex="33%">
										<label>{{::translate.load('sbi.cockpit.table.condition')}}</label>
										<md-select aria-label="aria-label" ng-model="selectedColumn.colorThresholdOptions.condition[i]">
											<md-option ng-repeat="c in conditions" value="{{c}}">{{c}}</md-option>
										</md-select>
									</md-input-container>
									
									<md-input-container flex class="md-block"  ng-if="selectedColumn.colorThresholdOptions.condition[i]!='none'" class="small counter">
										<label>{{::translate.load('sbi.cockpit.table.threshold')}}</label>
										<input class="input_class" type="number" ng-model="selectedColumn.colorThresholdOptions.conditionValue[i]" required>
									</md-input-container>
									
									<md-input-container flex class="md-block" flex="33%" ng-if="selectedColumn.colorThresholdOptions.condition[i]!='none'">
										<label>{{::translate.load('sbi.cockpit.table.condition')}}</label>
										<md-select aria-label="aria-label" ng-model="selectedColumn.colorThresholdOptions.condition2[i]">
											<md-option ng-repeat="c in conditions" value="{{c}}">{{c}}</md-option>
										</md-select>
									</md-input-container>
									
									<md-input-container flex class="md-block"  ng-if="selectedColumn.colorThresholdOptions.condition[i]!='none'" class="small counter">
										<label>{{::translate.load('sbi.cockpit.table.threshold')}}</label>
										<input class="input_class" type="number" ng-model="selectedColumn.colorThresholdOptions.conditionValue2[i]" required>
									</md-input-container>									
									
									<md-input-container flex class="md-block" ng-if="selectedColumn.colorThresholdOptions.condition[i]!='none'">
										<label>{{::translate.load('sbi.cockpit.table.backgroundcolor')}}</label>
										<color-picker options="colorPickerProperty" ng-model="selectedColumn.colorThresholdOptions.color[i]"></color-picker>
									</md-input-container>
							</div>							
						</div>
					</md-card-content>
				</md-card-->
			  </div> 
							
			   <!-- ----------------- -->
			   
			   <md-card>
				<md-toolbar class="ternaryToolbar ">
				  <div class="md-toolbar-tools">
					<h2>
					  <span>Style</span>
					</h2>
				</div>
			   </md-toolbar>
			   
			   <md-card-content>
			   <div flex layout="row" ng-if="selectedColumn.fieldType == 'MEASURE' || selectedColumn.fieldType == 'CALCULATED_FIELD'">
					<md-input-container flex class="md-block" class="small counter">
						<label> {{::translate.load('sbi.cockpit.style.prefix')}}</label>
						<input class="input_class"  ng-model="selectedColumn.style.prefix" ng-no-trim> 
					</md-input-container>
					<md-input-container flex class="md-block" class="small counter">
						<label>{{::translate.load('sbi.cockpit.style.suffix')}}</label>
						<input class="input_class"  ng-model="selectedColumn.style.suffix" ng-no-trim> 
					</md-input-container>
					<md-input-container flex class="md-block"  class="small counter">  
						<label>{{::translate.load('sbi.cockpit.style.format')}}</label>
						<md-select aria-label="aria-label" ng-model="selectedColumn.style.format">
							<md-option ng-repeat="f in formatPattern" value="{{f}}">{{f}}</md-option>
						</md-select>
					</md-input-container>
					<md-input-container flex class="md-block" class="small counter">
						<label>{{::translate.load('sbi.cockpit.style.precision')}}</label>
						<input class="input_class" type="number" ng-model="selectedColumn.style.precision" min="0" ng-disabled="!isPrecisionEnabled()">
					</md-input-container>
			   </div>	
			   <div  flex layout="row">
					<md-input-container class="md-block" flex>
						<label>{{::translate.load('sbi.cockpit.table.columnSize')}}</label>
						<input class="input_class" type="text" ng-model="selectedColumn.style.size"> 
					</md-input-container>
					<md-input-container flex class="md-block"> 
						<label>{{::translate.load('sbi.cockpit.table.fontcolor')}}</label>
						<color-picker  options="colorPickerProperty" ng-model="selectedColumn.style.color"></color-picker>
					</md-input-container>
					<md-input-container flex class="md-block"> 
						<label>{{::translate.load('sbi.cockpit.table.backgroundcolor')}}</label>
						<color-picker  options="colorPickerProperty" ng-model="selectedColumn.style.background "></color-picker>
					</md-input-container>
				</div>
			   <div flex>
					<md-input-container flex class="md-block"> 
							<label>{{::translate.load('sbi.cockpit.table.fontweight')}}</label>
							<md-select aria-label="aria-label" ng-model="selectedColumn.style.fontWeight">
									<md-option ng-repeat="w in cockpitModule_generalOptions.fontWeight" ng-value="w.value">{{w.label}}</md-option>
							</md-select>
					</md-input-container>
				</div>
				<div flex>
					<md-input-container class="md-block" flex>
				<label>{{::translate.load("sbi.cockpit.table.fontsize")}}</label>
				<md-select ng-model="selectedColumn.style.fontSize">
					<md-option ng-repeat="fs in cockpitModule_generalOptions.fontSizeDimension" ng-value="fs.value">{{fs.label}}</md-option>
				</md-select>
			</md-input-container>
				</div>
			 <div layout="row" flex class="relative"> 	
					<md-input-container flex class="md-block"> 
							<label>{{::translate.load('sbi.cockpit.table.alignment')}}</label>
							<md-select aria-label="aria-label" ng-model="selectedColumn.style.textAlign">
									<md-option ng-repeat="a in cockpitModule_generalOptions.textAlign" ng-value="a.value">{{a.label}}</md-option>
							</md-select>
					</md-input-container>
					<md-input-container flex class="md-block"> 
							<label>{{::translate.load('sbi.cockpit.table.vertical.alignment')}}</label>
							<md-select aria-label="aria-label" ng-model="selectedColumn.style.textVerticalAlign">
									<md-option ng-repeat="a in cockpitModule_generalOptions.textVerticalAlign" ng-value="a.value">{{a.label}}</md-option>
							</md-select>
					</md-input-container>
			</div>					
				</md-card-content>
				</md-card>
			  </div>
			</div>
			<ng-include src="getTemplateUrl('tableWidgetAddIconDialog')" flex="20" ng-if="tempVar"></ng-include>
	</md-dialog-content>
   
	<md-dialog-actions layout="row">
	  <span flex></span>
	  <md-button ng-click="cancelcolumnStyleConfiguration()" class="md-raised" >
		{{::translate.load('sbi.generic.cancel')}}
	  </md-button>
	  <md-button ng-click="saveColumnStyleConfiguration()" class="md-primary md-raised" ng-disabled="checkIfDisable()" >
		{{::translate.load('sbi.generic.save')}}
	  </md-button>
	</md-dialog-actions>
	 
 </md-dialog>
 </div>