/*******************************************************************************************************
*
*	UITabs.css (taken from exo platform)
*
********************************************************************************************************/
.UITabs {
	padding:0px;	
}

.UITabs .tab {
	border:solid 1px #b8c1ca; 
	background:#d4d7e0;
	padding:2px 10px;
	margin-right: 5px ;
	color:#5f6164;
	font-size:10px;
	font-weight:bold;
	margin-left:0px;	
}

.UITabs .tab a{
	color:#5f6164;
	text-decoration:none;
}

.UITabs .selected {
	background:#FFFFFF;
}

.UITabs .first-tab-level {
	padding:2px 0px 2px 5px;
	color:#5f6164;
  	font-size:10px;
  	font-weight:bold;
	background:#eeeff3;
	border:solid 1px #a4abb6;	
	margin:1px 0px 1px 0px;
	background-color:#f8f8f8;
}

.UITabs .first-tab-level .tab{
	float:left;
}

.UITabs .second-tab-level {
	padding:2px 0px 2px 5px;
	color:#5f6164;
  	font-size:10px;
  	font-weight:bold;
	background:#eeeff3;
	border:solid 1px #a4abb6;
}

.UITabs .second-tab-level .tab{
	float:right;
}
