<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
<Appenders>
   <RollingFile
    name="FILE"
    fileName="${sys:catalina.base}/logs/knowageWhatIfEngine.log"  append="False"  filePattern="${sys:catalina.base}/logs/knowageWhatIfEngine.log"
    ignoreExceptions="false" createOnDemand="true">
    <PatternLayout>
        <Pattern>%d{DATE} %5p %c.%M:%L - %m%n</Pattern>
    </PatternLayout>
    <Policies>
        <SizeBasedTriggeringPolicy size="10000KB" />
    </Policies>
    <DefaultRolloverStrategy max="1" />
</RollingFile>
    <RollingFile
    name="FILE_AUDIT"
    fileName="${sys:catalina.base}/logs/knowageWhatIfEngineStackAudit.log"  append="False"  filePattern="${sys:catalina.base}/logs/knowageWhatIfEngineStackAudit.log"
    ignoreExceptions="false" createOnDemand="true">
    <PatternLayout>
        <Pattern>%d{DATE}: %m%n</Pattern>
    </PatternLayout>
    <Policies>
        <SizeBasedTriggeringPolicy size="10000KB" />
    </Policies>
    <DefaultRolloverStrategy max="1" />
</RollingFile>
        </Appenders>
    <Loggers>
    <logger name="audit" additivity="false" level="INFO">
        <AppenderRef ref="FILE_AUDIT"/>
    </logger>
    <logger name="edu.yale" additivity="false" level="ERROR">
        <AppenderRef ref="FILE"/>
    </logger>
    <logger name="it.eng.spagobi" additivity="false" level="ERROR">
        <AppenderRef ref="FILE"/>
    </logger>
    <logger name="it.eng.spagobi.engines.whatif" additivity="false" level="ERROR">
        <AppenderRef ref="FILE"/>
    </logger>
    <logger name="mondrian.sql" additivity="false" level="ERROR">
        <AppenderRef ref="FILE"/>
    </logger>
    <logger name="Spago" additivity="false" level="ERROR">
        <AppenderRef ref="FILE"/>
    </logger>

  <Root level="ERROR">
            <AppenderRef ref="FILE"/>
        </Root>
    </Loggers>
</Configuration>