<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error">
	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout>
				<Pattern>%d{ISO8601_OFFSET_DATE_TIME_HHCMM} [%u{RANDOM}] %5p [%t] [%c.%M:%L] [%X{correlationId}] [%X{environment}] [%X{tenant}]%n%message%n%xThrowable</Pattern>
			</PatternLayout>
		</Console>

		<Routing name="KNOWAGE_WHAT_IF_ENGINE">
			<Routes pattern="$${ctx:tenant:-global}">
				<Route>
					<RollingFile
						name="KNOWAGE_WHAT_IF_ENGINE_${route}"
						append="true"
						fileName="${sys:catalina.base}/logs/${route}/knowageWhatIfEngine-${route}.${date:yyyy-MM-dd}.log"
						filePattern="${sys:catalina.base}/logs/${route}/knowageWhatIfEngine-${route}.%d{yyyy-MM-dd}.log"
						ignoreExceptions="true"
						createOnDemand="true">
						<PatternLayout>
							<Pattern>%d{ISO8601_OFFSET_DATE_TIME_HHCMM} [%u{RANDOM}] %5p [%t] [%c.%M:%L] [%X{correlationId}/%X{jSessionId}] [%X{environment}] [%X{tenant}]%n%message%n%xThrowable</Pattern>
						</PatternLayout>
						<Policies>
							<TimeBasedTriggeringPolicy />
						</Policies>
					</RollingFile>
				</Route>
			</Routes>
		</Routing>

		<Routing name="KNOWAGE_WHAT_IF_ENGINE_STACK_AUDIT">
			<Routes pattern="$${ctx:tenant:-global}">
				<Route>
					<RollingFile
						name="KNOWAGE_WHAT_IF_ENGINE_STACK_AUDIT_${route}"
						append="true"
						fileName="${sys:catalina.base}/logs/${route}/knowageWhatIfEngineStackAudit-${route}.${date:yyyy-MM-dd}.log"
						filePattern="${sys:catalina.base}/logs/${route}/knowageWhatIfEngineStackAudit-${route}.%d{yyyy-MM-dd}.log"
						ignoreExceptions="true"
						createOnDemand="true">
						<PatternLayout>
							<Pattern>%d{ISO8601_OFFSET_DATE_TIME_HHCMM} [%u{RANDOM}] %5p [%t] [%c.%M:%L] [%X{correlationId}/%X{jSessionId}] [%X{environment}] [%X{tenant}]%n%message%n%xThrowable</Pattern>
						</PatternLayout>
						<Policies>
							<TimeBasedTriggeringPolicy />
						</Policies>
					</RollingFile>
				</Route>
			</Routes>
		</Routing>

	</Appenders>
	<Loggers>
		<logger name="audit" additivity="false" level="INFO">
			<AppenderRef ref="KNOWAGE_WHAT_IF_ENGINE_STACK_AUDIT" />
		</logger>
		<logger name="edu.yale" additivity="false" level="error">
			<AppenderRef ref="KNOWAGE_WHAT_IF_ENGINE" />
		</logger>
		<logger name="it.eng.spagobi" additivity="false" level="error">
			<AppenderRef ref="KNOWAGE_WHAT_IF_ENGINE" />
		</logger>
		<logger name="it.eng.spagobi.engines.whatif" additivity="false" level="error">
			<AppenderRef ref="KNOWAGE_WHAT_IF_ENGINE" />
		</logger>
		<logger name="mondrian.sql" additivity="false" level="error">
			<AppenderRef ref="KNOWAGE_WHAT_IF_ENGINE" />
		</logger>
		<logger name="Spago" additivity="false" level="error">
			<AppenderRef ref="KNOWAGE_WHAT_IF_ENGINE" />
		</logger>
		<Root level="error">
			<AppenderRef ref="KNOWAGE_WHAT_IF_ENGINE" />
		</Root>
	</Loggers>
</Configuration>