<md-dialog style='height:75%; width:25%;' layout="column">
	
	<md-toolbar class="knowage-blue dialog-toolbar" flex=10 layout="column">
		<p width="50%">{{filterDialogToolbarName}}</p>		
	</md-toolbar>

	<md-content class="dialog-style" flex=90 >
		<div>
        		<md-button class="md-icon-button" style="margin-right:-4%;margin-left:-4%;" ng-click="showHideSearchOnFilters()">
					<md-tooltip md-direction="top">
          				{{showSearchInput ? "Hide search": "Show search"}}
        			</md-tooltip>

					<md-icon ng-class="showSearchInput ? 'fa fa-eye-slash' :'fa fa-eye'" style="padding-top:5px;"></md-icon>
				</md-button>
				
        		<input ng-show="showSearchInput" ng-model="searchText" placeholder="Insert text here" width="70%!important">
				
				<md-button ng-show="showSearchInput" ng-click="searchFilter()" class="md-icon-button">
				<md-tooltip md-direction="top">
          				Search
        			</md-tooltip>
					<md-icon class="fa fa-search" style="padding-top:5px;"></md-icon>
				</md-button>
				
				<md-checkbox ng-show="showSearchInput" ng-model="showSiblings" aria-label="Show bros" style="display:initial;">
					<span style="font-size: 10px">{{showSiblings?'Show siblings':'Hide siblings'}}</span>
				</md-checkbox>
    	</div>
		
		<div ui-tree >
			<ul ui-tree-nodes="" ng-model="data" class="tree" >
				<filter-tree-first-level></filter-tree-first-level>
			</ul>
		</div ui-tree>

	</md-content>

	<md-dialog-actions layout="row">
		<md-button ng-click="closeFiltersDialog()">
			Cancel
		</md-button>
		<md-button ng-click="filterDialogSave()">
			Save
		</md-button>		
	</md-dialog-actions>
	
</md-dialog>