
<div style="width:100%" layout="row">
	<div class="new-filter-card" 
			ng-repeat="filter in filterCardList|limitTo:numVisibleFilters" 
			ng-drag="true" ng-drag-data="filter" 
			ng-drag-success="dragSuccess('filter',$index)"
			>
			
		<div layout="row" class="top">
			<div class="button-area" >
				<md-button class="multi-hierarachy-btn"  ng-click="showMultiHierDialog(e,filter)" ng-show="filter.hierarchies.length > 1">
					<md-icon class="fa fa-sitemap" style="color:white; margin-top:10%"></md-icon>
				</md-button>
			</div>
			<div class="name-area">{{filter.name}}</div>
		</div>
	
	 	<div layout="row" class="bottom">
			<div class="name-area">
				{{filterSelected[$index].visible ? filterSelected[$index].name : '...'}}
			</div>
			<div class="button-area">
				<md-button class="md-icon-button" style="right:15px; " aria-label="Favorite" ng-click="openFiltersDialogAsync(e, filter, null)" id="{{filter.name}}-filter">
					<md-icon md-font-icon="fa fa-filter"></md-icon>
				</md-button>
			</div>
		</div>
	</div>
</div>