<div layout="row" class="top-alignment" ng-drop="true" ng-drop-success="dropFilter($data,$event)">
	
	<div ng-show="filterCardList.length == 0" style="height:80px; padding-left:42px; padding-top:32px; width:100%"; >
		Drag the member here if you want to use it as a slicer
	</div>
	<md-button class="md-icon-button" flex=10 aria-label="Favorite" ng-click="filterShift('left')" style="margin:auto" ng-show="shiftNeeded">
		<md-icon md-font-icon="fa fa-arrow-circle-o-left fa-2x" ></md-icon>
	</md-button>
	<filter-card></filter-card>
	<md-button class="md-icon-button" flex=10 aria-label="Favorite" ng-click="filterShift('right')" style="margin:auto" ng-show="shiftNeeded">
		<md-icon md-font-icon="fa fa-arrow-circle-o-right fa-2x"></md-icon>
	</md-button>

</div>

