<md-dialog  style="width:30%; height:80%;"layout="column">
	
	<md-toolbar class="knowage-blue dialog-toolbar" flex=10 layout="column">
		<p width="50%">{{filterDialogToolbarName}}</p>		
	</md-toolbar>

	<md-content class="dialog-style" flex=90 >
		<span style="font-size: 10px; color:red;" ng-if="searchText.length > 0 && searchText.length < minNumOfLetters")>
			You need at least {{minNumOfLetters}} letters to start search!
		</span>	
		<div style="white-space: nowrap;">
			<input	ng-class="bgColor()?'filter-search-redbg filter-search':'filter-search'"
        			ng-show="true" 
        			ng-model="searchText" 
        			placeholder="Insert text here" 
        			width="70%!important"/>				
				<!-- showSearchInput -->
				<md-button ng-show="true" ng-click="searchFilter()" class="md-icon-button" ng-disabled="minNumOfLetters > searchText.length">
					<md-tooltip md-direction="top">
          				Search
        			</md-tooltip>
					<md-icon class="fa fa-search" style="padding-top:5px;"></md-icon>
				</md-button>
				
				<md-checkbox ng-show="true" ng-model="showSiblings" aria-label="Show bros" style="display:initial;">
					<span style="font-size: 10px">{{showSiblings?'Show siblings':'Hide siblings'}}</span>
				</md-checkbox>
    	</div>
		
		<div ui-tree>
			<ul ui-tree-nodes="" ng-model="data" class="tree" >
				<filter-tree-first-level ng-show="!loadingFilter"></filter-tree-first-level>
			</ul>
		</div ui-tree>
		<md-progress-circular md-mode="indeterminate" ng-show="loadingFilter"></md-progress-circular>
	</md-content>

	<md-dialog-actions layout="row">
		<md-button ng-click="closeFiltersDialog()">
			Cancel
		</md-button>
		<md-button ng-click="filterDialogSave()">
			Save
		</md-button>		
	</md-dialog-actions>
	
</md-dialog>