
<div style="width:100%" layout="row">
	<div class="new-filter-card" 
			ng-repeat="filter in filterCardList|limitTo:numVisibleFilters" 
			ng-drag="true" ng-drag-data="filter" 
			ng-drag-success="dragSuccess('filter',$index)"
			id="filter-{{filter.name}}"
			>
			
		<div layout="row" class="top">
			<div class="button-area" >
				<md-button class="multi-hierarachy-btn"  ng-click="showMultiHierDialog(e,filter)" ng-show="filter.hierarchies.length > 1">
					<md-icon class="fa fa-sitemap" style="color:white; margin-top:10%"></md-icon>
				</md-button>
			</div>
			<div class="name-area">{{filter.caption}}</div>
		</div>
	
	 	<div layout="row" class="bottom">
			<div class="name-area"  title="{{filterSelected[$index].visible ? filterSelected[$index].caption : 'Filter not selected'}}">
				<span style="white-space:nowrap;">
					{{filterSelected[$index].visible ? cutName(filterSelected[$index].caption, -1, false) : '...'}}
				</span>
			</div>
			<div class="button-area">
				<md-button class="md-icon-button" style="right:15px; " aria-label="Favorite" ng-click="openFiltersDialogAsync(e, filter, null)" id="{{filter.name}}-filter">
					<md-icon md-font-icon="fa fa-filter"></md-icon>
				</md-button>
			</div>
		</div>
	</div>
</div>