<md-card ng-include="filterCard" flex=20>
</md-card>


<md-card flex=20 class="filter-card">
	<md-card-title class="knowage-blue filter-toolbar">
		<md-card-title-text>
			<span>Customers</span>
		</md-card-title-text>
	</md-card-title>
	<md-card-actions layout="row" layout-align="end">
		<md-button class="md-icon-button" style="bottom:0;" aria-label="Favorite" ng-click="openFiltersDialog(e)">
			<md-icon md-font-icon="fa fa-filter"></md-icon>
		</md-button>
	</md-card-actions>
</md-card>