<md-dialog style='height:30%; width:25%;' layout="column">
	
	<md-toolbar class="knowage-blue" style="min-height:20px">
      <div>
      		{{member.caption}}
      	<span flex></span>
        <md-button class="md-icon-button" ng-click="closeDialog(ev)" style="float: right;">
          <md-icon class="fa fa-times" style="color:white;" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    
    <md-dialog-content style="padding:10px;font-size:85%">
    	<span>
    	The selected hierarchy is <b>{{member.hierarchies[member.selectedHierarchyPosition].caption}}</b>.
    	You can change it acting on the form below.
    	</span>
    	<br/>
    	<label>Available hierarchies:</label>
    	<md-input-container style="width:50%; padding-left:10%">    		
    		<select ng-model="selecetedMultiHierUN" class="multi-hier-combo" >
    			<option  ng-repeat="hier in member.hierarchies" value="{{hier.uniqueName}}" style="height:20px">
    				<span style="font-size:85%;">{{hier.caption}}</span>
    			</option>
    		</select>
    	</md-input-container>
    </md-dialog-content>
    
    <md-dialog-actions layout="row">
    	<md-button ng-click="closeDialog(ev)" style="line-height:25px">
			Cancel
		</md-button>
		<md-button ng-click="updateHierarchie(ev)" style="line-height:25px">
			Save
		</md-button>
    </md-dialog-actions>
</md-dialog>