<ul ng-model="item.children" ng-show="item.collapsed">

	<li ng-repeat="item in item.children"  >
	<div>
		<md-icon md-font-icon="fa fa-list-alt" ng-show="item.leaf && activeaxis == -1" ng-click=""> 
		</md-icon>
		<md-icon md-font-icon="fa fa-angle-right" ng-show="!item.collapsed && !item.leaf" ng-click="expandTreeAsync(item)"> 
		</md-icon>
		<md-icon md-font-icon="fa fa-angle-down" ng-show="item.collapsed && !item.leaf" ng-click="hideAsyncTree(item)"> 
		</md-icon>
		<span ng-click="selectFilter(item)" ng-show="activeaxis == -1" id="tdl-value-{{item.name}}">
			<span ng-class="highlight(item.name)?'highlight-filter-result':''">
				{{item.name}}
			</span>
			<md-icon md-font-icon="fa fa-check-circle-o" style="color:green;" ng-show="item.uniqueName == filterSelected[filterAxisPosition].uniqueName"> 
			</md-icon>
		</span>
		<span ng-click="" ng-show="activeaxis >= 0" style="padding-left: 10px;">
			<md-checkbox ng-checked="item.visible" ng-click="checkboxSelected(item)">
			<span ng-class="highlight(item.name)?'highlight-filter-result':''">
				{{item.name}}
			</span>
			</md-checkbox>
		</span>	
		<filter-tree-deeper-levels></filter-tree-deeper-levels>	
	</div>
</li>
</ul>

