<?xml version="1.0" encoding="UTF-8"?>

<web-app id="knowagejasperreportengine" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	
	<display-name>knowagejasperreportengine</display-name>
	<description>
		knowage jasper report engine
	</description>

	<!--  ============================================================================ -->
	<!--  FILTERS								 									   -->
	<!--  ============================================================================ -->
	
	
	 <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>it.eng.spagobi.utilities.filters.EncodingFilter</filter-class>
         <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    
        <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/JasperReportServlet/*</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/JasperReportServletBackEnd/*</url-pattern>
    </filter-mapping>   
    
	
	<!-- START-CAS  
	<filter>
	  <filter-name>CAS Authentication Filter</filter-name>
	  <filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
	  <init-param>
	    <param-name>casServerLoginUrl</param-name>
	    <param-value>https://athos.engilab.ewebpd.eng.it:1447/cas/login</param-value>
	  </init-param>
	  <init-param>
	    <param-name>serverName</param-name>
	    <param-value>athos.engilab.ewebpd.eng.it:1447</param-value>
	  </init-param>    
	</filter>
	
	<filter>
	  <filter-name>CAS Validation Filter</filter-name>
	  <filter-class>org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter</filter-class>
	  <init-param>
	    <param-name>casServerUrlPrefix</param-name>
	    <param-value>https://athos.engilab.ewebpd.eng.it:1447/cas</param-value>
	  </init-param>
	  <init-param>
	    <param-name>serverName</param-name>
	    <param-value>https://athos.engilab.ewebpd.eng.it:1447</param-value>
	  </init-param>
	  <init-param>
	    <param-name>proxyReceptorUrl</param-name>
	    <param-value>/proxyCallback</param-value>
	  </init-param> 
	
			<init-param>
				<param-name>proxyCallbackUrl</param-name>
				<param-value>https://athos.engilab.ewebpd.eng.it:1447/SpagoBIJasperReportEngine/proxyCallback</param-value>
			</init-param>  
	
	</filter>
	
	<filter>
	  <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
	  <filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
	</filter>
	
	END-CAS -->


	<filter>
		<filter-name>SpagoBIAccessFilter</filter-name>
		<filter-class>
			it.eng.spagobi.utilities.filters.SpagoBIAccessFilter
		</filter-class>
	</filter>
	
	
	<!--  ============================================================================ -->
	<!--  FILTER MAPPINGS						 									   -->
	<!--  ============================================================================ -->
	
	<!-- START-CAS  
	   <filter-mapping>
	    <filter-name>CAS Authentication Filter</filter-name>
	    <url-pattern>/JasperReportServlet/*</url-pattern>
	  </filter-mapping> 
	    	
	   <filter-mapping>
	    <filter-name>CAS Validation Filter</filter-name>
	    <url-pattern>/JasperReportServlet/*</url-pattern>
	  </filter-mapping> 
	   	
	
	   <filter-mapping>
	    <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
	    <url-pattern>/JasperReportServlet/*</url-pattern>
	  </filter-mapping> 
	  
		<filter-mapping>
			<filter-name>CAS Validation Filter</filter-name>
			<url-pattern>/proxyCallback</url-pattern>	
		</filter-mapping>
	END-CAS -->

	<filter-mapping>
		<filter-name>SpagoBIAccessFilter</filter-name>
		<url-pattern>/JasperReportServlet/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>SpagoBIAccessFilter</filter-name>
		<url-pattern>/JasperReportServletBackEnd/*</url-pattern>
	</filter-mapping>	
	
	<!--  ============================================================================ -->
	<!--  SERVLETS								 									   -->
	<!--  ============================================================================ -->
  	
  	<!-- 
	<servlet>
		<servlet-name>JasperReportServlet</servlet-name>
		<servlet-class>
			it.eng.spagobi.engines.jasperreport.JasperReportServlet
		</servlet-class>
	</servlet>
	
		<servlet>
		<servlet-name>JRImageServlet</servlet-name>
		<servlet-class>
			it.eng.spagobi.engines.jasperreport.JRImageServlet
		</servlet-class>
	</servlet>
	 -->
	 
	 <servlet>
		<servlet-name>JasperReportServlet</servlet-name>
		<servlet-class>
			it.eng.spagobi.engines.jasperreport.services.JasperReportEngineStartAction
		</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>JRImageServlet</servlet-name>
		<servlet-class>
			it.eng.spagobi.engines.jasperreport.services.JRImageServlet
		</servlet-class>
	</servlet>


	<servlet>
		<servlet-name>SpagoBIDrillServlet</servlet-name>
		<servlet-class>
			it.eng.spagobi.utilities.callbacks.drill.SpagoBIDrillServlet
		</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>EngineTestServlet</servlet-name>
		<servlet-class>
			it.eng.spagobi.utilities.engines.EngineTestServlet
		</servlet-class>
	</servlet>	


	<!--  ============================================================================ -->
	<!--  SERVLET MAPPINGS						 									   -->
	<!--  ============================================================================ -->
    
    
	<servlet-mapping>
		<servlet-name>JasperReportServlet</servlet-name>
		<url-pattern>/JasperReportServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>JasperReportServlet</servlet-name>
		<url-pattern>/JasperReportServletBackEnd</url-pattern>
	</servlet-mapping>	


	<servlet-mapping>
		<servlet-name>JRImageServlet</servlet-name>
		<url-pattern>/JRImageServlet</url-pattern>
	</servlet-mapping>


	<servlet-mapping>
		<servlet-name>SpagoBIDrillServlet</servlet-name>
		<url-pattern>/SpagoBIDrillServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>EngineTestServlet</servlet-name>
		<url-pattern>/JasperReportServletTest</url-pattern>
	</servlet-mapping>
	
	
	<!--  ============================================================================ -->
	<!--  GENERAL SETTINGS						 									   -->
	<!--  ============================================================================ -->    
    

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<error-page>
	  	<exception-type>java.lang.Throwable</exception-type>
	  	<location>/html/error.html</location>
	</error-page>
		 
	<error-page>
	  	<error-code>404</error-code>
	  	<location>/html/error.html</location>
	</error-page>
  
	<error-page>
	  	<error-code>500</error-code>
	  	<location>/html/error.html</location>
	</error-page>
	
	<!--
	  <env-entry>
	  	<env-entry-name>spagobi_resource_path</env-entry-name>
	  	<env-entry-type>java.lang.String</env-entry-type>
	  	<env-entry-value>c:/SpagoBI/resources</env-entry-value>
	  </env-entry>
	  <env-entry>
	  	<env-entry-name>spagobi_service_url</env-entry-name>
	  	<env-entry-type>java.lang.String</env-entry-type>
	  	<env-entry-value>http://localhost:9084/SpagoBI</env-entry-value>
	  </env-entry>
	   <env-entry>
	  	<env-entry-name>spagobi_sso_class</env-entry-name>
	  	<env-entry-type>java.lang.String</env-entry-type>
	  	<env-entry-value>it.eng.spagobi.services.common.TamSsoService</env-entry-value>
	  </env-entry>
	-->
</web-app>

