<div id="{{svgId}}" layout-align="center center" layout="column">
	<span style="font-size:{{labelFontSize}}; font-family:{{fontConf.fontFamily}}; font-weight:{{fontConf.fontWeight}}; color:{{fontConf.color}};"
			ng-if="showValue">{{value.toFixed(valuePrecision)}}</span>
	<svg class="kpiLinearGauge" svg-width="{{size + 20}}"
			style="font-family: {{fontConf.fontFamily}}; font-weight: {{fontConf.fontWeight}}">
			
 		<g transform="translate(10,0)">
			<rect ng-if="showThresholds" ng-repeat="stop in thresholdStops" class="range" 
				svg-transform="translate({{(stop.from * sizeScaleFactor) || 0}},0)" 
				svg-style="fill: {{stop.color}}" 
				svg-width="{{getThresholdWidth(stop)}}" svg-height="{{mini==true? '20' : '40'}}"/>
			
			<rect class="measure" svg-width="{{value>0 ? value * sizeScaleFactor : 0}}" 
				svg-height="{{mini==true? '6.666' : '13.333'}}" x="0" 
				svg-y="{{mini==true? '6.666' : '13.333'}}"/>
			
			<line ng-if="showTarget" class="target" svg-y1="{{mini==true? '3' : '5'}}" svg-y2="{{mini==true? '17' : '35'}}" 
					svg-x1="{{targetValue * sizeScaleFactor || 0}}" svg-x2="{{targetValue * sizeScaleFactor || 0}}"></line>
			
		</g>
		<g transform="translate(0,10)" svg-style="color: {{fontConf.color}};" ng-if="mini==false")>
			<g class="tick" transform="translate(10,0)" style="opacity: 1;">
				<text text-anchor="middle" dy="1em" y="30">{{minValue}}</text>
			</g>
			<g class="tick"style="opacity: 1;"
					svg-transform="translate({{((minValue + (maxMinValueDifference) / 2) * sizeScaleFactor + 10) || 0}},0)">
				<text text-anchor="middle" dy="1em" y="30">50%</text>
			</g>
			<g class="tick" svg-transform="translate({{(maxValue * sizeScaleFactor) + 10 || 0}},0)" >
				<text text-anchor="middle" dy="1em" y="30">100%</text>
			</g>
			<g class="tick" svg-transform="translate({{(maxValue * (3/2) * sizeScaleFactor) + 10 || 0}},0)" >
				<text text-anchor="middle" dy="1em" y="30">150%</text>
			</g>
		</g>
	</svg>
</div>
<style>
#{{svgId}} svg.kpiLinearGauge {
	height: {{mini==true? '20px' : '60px'}};
}

#{{svgId}} svg .measure {
	fill: #3B678C;
	opacity: 0.7;
}

#{{svgId}} svg .range {
	opacity: 0.4;
}
#{{svgId}} svg .tick {
	fill: #c4dcf3;
	font-size:{{intermediateFontSize}};
}

#{{svgId}} svg .measure:hover {
	opacity: 1;
}

#{{svgId}} svg .target {
    stroke-width: 2px;
    stroke: #AC0A08;
}

</style>