.animation {

	//Slide Down Animation
	&.slide-down.ng-enter {
	  transition:0.3s cubic-bezier(0, 1, 0.5, 1) all;
	  opacity: 0;
	  top: -70px;
	}
	&.slide-down.ng-enter.ng-enter-active {
	  opacity:1;
	  top:0;
	}
	&.slide-down.ng-leave {
	  transition:0.3s linear all;
	  opacity:1;
	}
	&.slide-down.ng-leave.ng-leave-active {
	  opacity:0;
	  top: -70px;
	}

	//Fade Down Animation
	&.fade-down.ng-enter {
		transition:0.3s linear all;
  		min-height: 0px;
  		max-height: 0px;
  		line-height: 0px;
		opacity: 0;
	  	top: -20px;
	}
	&.fade-down.ng-enter.ng-enter-active {
  		min-height: 25px;
  		max-height: 25px;
  		line-height: 25px;
	  opacity:1;
	  top:0;
	}
	&.fade-down.ng-leave {
	  transition:0.3s linear all;
	  min-height: 25px;
  		max-height: 25px;
  		line-height: 25px;
	  opacity:1;
	}
	&.fade-down.ng-leave.ng-leave-active {
		min-height: 0px;
  		max-height: 0px;
  		line-height: 0px;
	  opacity:0;
	  top: -20px;
	}
}