.cacheManager{
	md-content.md-knowage-theme {
		background-color: $pageBackground;
	}
	
	md-tabs-content-wrapper {
		background-color: $pageBackground;
	}
	md-tabs-canvas {
		background-color: $tabBackground;
	}
}