.vertical-divider {
  border-top-width: 0;
  border-right-width: 1px;
  border-right-style: solid;
  height: 100%;
}

.chart-tab-margin-top {
	margin-top:40px
}

.knowage-grey-color {
	background-color:#FAFAFA
}
.whiteframe-element{
	background-color:#FFFFFF;
}
.whiteframe-element-padding {
	padding:15px
}
.whiteframe-element-center-margin {
	margin-left:15px;
	margin-right:15px;
}