.kn-documentBrowser{

	md-toolbar.documentBrowserToolbar button.md-icon-button,
		.selectedDocumentSidenav md-toolbar button.md-icon-button {
		height: 40px;
		width: 40px;
	}
	
	md-toolbar.documentBrowserToolbar button.md-icon-button.selectedButton {
		background-color: $baseColor;
		color: #fff;
	}

	md-toolbar.documentBrowserToolbar button.md-icon-button md-icon,
		.selectedDocumentSidenav md-toolbar button.md-icon-button md-icon {
		line-height: 22px;
	}
	
	md-toolbar.documentBrowserToolbar md-input-container.searchInput input {
		color: white;
		border-color: rgb(248, 252, 255) !important;
	}
	
	md-toolbar.documentBrowserToolbar md-input-container.searchInput label {
		color: white;
	}
	
	md-sidenav.selectedDocumentSidenav>md-content>md-list>md-list-item>div {
		width: 100%;
	}

	md-sidenav.selectedDocumentSidenav button md-icon {
		color: $baseColor;
	}
	
	md-sidenav.selectedDocumentSidenav>md-content>md-list>md-list-item>div>p
		{
		-moz-hyphens: auto;
		-ms-hyphens: auto;
		-webkit-hyphens: auto;
		hyphens: auto;
		word-wrap: break-word;
	}
	
	.documentCard {
		width: 300px;
		background-color: $ternaryColor;
		padding: 8px 0 0 0;
	}
	
	.documentCard md-card-title {
	    color: #FAFAFA;
    	text-transform: uppercase;
	}
	.documentCard md-card-title p {
	    margin: 0px 5px;
	}
	
	
	.documentCard md-card-actions {
    	background-color: rgba(white,0.5);
	}
	
	.documentCard div.md-card-image {
		max-height: 150px;
		max-width: 300px;
	    width: 100%;
	    height: 150px;
	    background-size: contain;
	    background-position: top center;
	    background-repeat: no-repeat;
	    margin: 6px 0;
	}
	
	
	md-tabs.documentNavigationToolbar>md-tabs-wrapper md-tabs-canvas,
	md-tabs.documentNavigationToolbar>md-tabs-wrapper md-tabs-canvas md-pagination-wrapper,
	md-tabs.documentNavigationToolbar>md-tabs-wrapper md-tabs-canvas md-pagination-wrapper md-tab-item {
		height:30px!important;
	}
	
	md-tabs.documentNavigationToolbar>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-ink-bar{
		color:  #c70751 !important;
		background:  #c70751 !important;
	}
		
	md-tabs.documentNavigationToolbar>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item {
		padding: 2px 20px;
		color: $baseColor;
	}
	
	md-tabs.documentNavigationToolbar>md-tabs-content-wrapper {
		top: 30px;
	}
	
	md-tabs.documentNavigationToolbar>md-tabs-wrapper {
		background-color:$secondaryColor;
		margin-left: 80px;
		margin-right: 35px;
	}
	
	md-tabs.documentNavigationToolbar>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item>md-icon {
		font-size: 27px; 
		color:rgb(183, 183, 183);
	}
	
	md-tabs.documentNavigationToolbar .tabCloseButton{
	    height: 20px;
	    width: 20px;
	    min-height: 20px;
	   }
	
	md-tabs.documentNavigationToolbar .tabCloseButton md-icon{
	    color: white!important; 
   		line-height: 20px; 
	}
	
	//this hide the first tab of tabs 
	md-tabs.documentNavigationToolbar>md-tabs-wrapper>md-tabs-canvas>md-pagination-wrapper>md-tab-item:first-child {
		width:0px;
		padding:0px;
	}
	 
	md-tabs.documentNavigationToolbar>md-tabs-wrapper .md-tab.md-active,
	md-tabs.documentNavigationToolbar>md-tabs-wrapper .md-tab.md-active>md-icon, 
	md-tabs.documentNavigationToolbar>md-tabs-wrapper .md-tab.md-focused,
	md-tabs.documentNavigationToolbar>md-tabs-wrapper .md-tab.md-focused>md-icon{
		color: white;
    	font-weight: lighter;
	}
	
	md-tabs.documentNavigationToolbar>button.documentBrowserTabButton.selectedDocumentBrowserTabButton{
	    border-bottom: 2px solid #C70751;
    	height: 28px;
    }
    
	md-tabs.documentNavigationToolbar>button.documentBrowserTabButton>md-icon,
	md-tabs.documentNavigationToolbar>md-menu>button.documentBrowserClearButton>md-icon{
		color: $baseColor;
	}
	
    md-tabs.documentNavigationToolbar>button.documentBrowserTabButton.selectedDocumentBrowserTabButton>md-icon{
   	 color:white;
    }
	
	md-tabs.documentNavigationToolbar>button.documentBrowserTabButton,
	md-tabs.documentNavigationToolbar>md-menu>button.documentBrowserClearButton{
		margin: 0;
		top:0;
	    height: 28px;
	    border-bottom: 2px solid transparent;
	    min-height: 30px;
	    width: 80px;
	    min-width: 30px;
	    position: absolute;
	    z-index: 2; 
	    font-size: 27px;
	    transition: all .5s cubic-bezier(.35,0,.25,1);
	    background-color: $secondaryColor;
	    border-radius: 0px;
	}
	
	md-tabs.documentNavigationToolbar>md-menu>button.documentBrowserClearButton{
	    right: 0px;
	    width: 35px;
	    
	}
	
	.full-screen-sidenav {
		width: 100%;
		max-width: 100%;
	}
	
	.document_browser_image_EMPTY{
	    background-image: url('../../sbi_default/img/analiticalmodel/browser/document_empty.png')!important;
	}
	
	.document_browser_image_REPORT{
	    background-image: url('../../sbi_default/img/analiticalmodel/browser/document_report.png')!important;
	}
	
	.document_browser_image_OLAP{
	    background-image: url('../../sbi_default/img/analiticalmodel/browser/document_olap.png')!important;
	}
	
	.document_browser_image_DATA_MINING{
	    background-image: url('../../sbi_default/img/analiticalmodel/browser/document_datamining.png')!important;
	}
	
	.document_browser_image_DATAMART{
	    background-image: url('../../sbi_default/img/analiticalmodel/browser/document_dashboard.png')!important;
	}
	
	.document_browser_image_DASH{
	    background-image: url('../../sbi_default/img/analiticalmodel/browser/document_dashboard.png')!important;
	}
	
	.document_browser_image_MAP{
	    background-image: url('../../sbi_default/img/analiticalmodel/browser/document_locatiointelligence.png')!important;
	}
	
	.document_browser_image_OFFICE_DOC{
	    background-image: url('../../sbi_default/img/analiticalmodel/browser/document_officedoc.png')!important;
	}
	
	.document_browser_image_ETL{
	    background-image: url('../../sbi_default/img/analiticalmodel/browser/document_etl.png')!important;
	}
	
	.document_browser_image_DOCUMENT_COMPOSITE{
	    background-image: url('../../sbi_default/img/analiticalmodel/browser/document_cockpits.png')!important;
	}
	
	.document_browser_image_KPI{
	    background-image: url('../../sbi_default/img/analiticalmodel/browser/document_kpi.png')!important;
	}
	
	.document_browser_image_SMART_FILTER{
	    background-image: url('../../sbi_default/img/analiticalmodel/browser/document_smart_filter.png')!important;
	}
	
	.document_browser_image_CONSOLE{
	    background-image: url('../../sbi_default/img/analiticalmodel/browser/document_console.png')!important;
	}
	
	.document_browser_image_WORKSHEET{
	    background-image: url('../../sbi_default/img/analiticalmodel/browser/document_worksheet.png')!important;
	}
	
	.document_browser_image_CHART{
	    background-image: url('../../sbi_default/img/analiticalmodel/browser/document_chart.png')!important;
	}
	
	.document_browser_image_MOBILE_CHART{
	    background-image: url('../../sbi_default/img/analiticalmodel/browser/document_mobile_chart.png')!important;
	}
	
	.document_browser_image_MOBILE_COCKPIT{
	    background-image: url('../../sbi_default/img/analiticalmodel/browser/document_mobile_cockpit.png')!important;
	}
	
	.document_browser_image_MOBILE_REPORT{
	    background-image: url('../../sbi_default/img/analiticalmodel/browser/document_mobile_report.png')!important;
	}
	
	.document_browser_image_NETWORK{
	    background-image: url('../../sbi_default/img/analiticalmodel/browser/document_network.png')!important;
	}
	
	.document_browser_image_ACCESSIBLE_HTML{
	    background-image: url('../../sbi_default/img/analiticalmodel/browser/document_acc.png')!important;
	}
	
	.document_browser_image_QBE{
	    background-image: url('../../sbi_default/img/analiticalmodel/browser/document_qbe.png')!important;
	}
	 
	/*
	.document_browser_image_CHART{
	    background-image: url('../../sbi_default/img/analiticalmodel/browser/document_adhocreporting.png')!important;
	}
	
	.document_browser_image_CHART{
	    background-image: url('../../sbi_default/img/analiticalmodel/browser/document_collaborations.png')!important;
	}
	
	.document_browser_image_CHART{
	    background-image: url('../../sbi_default/img/analiticalmodel/browser/document_datamanagement.png')!important;
	}
	
	.document_browser_image_CHART{
	    background-image: url('../../sbi_default/img/analiticalmodel/browser/document_externalprocess.png')!important;
	}
	.document_browser_image_CHART{
	    background-image: url('../../sbi_default/img/analiticalmodel/browser/document_freeinquiry.png')!important;
	}
	.document_browser_image_CHART{
	    background-image: url('../../sbi_default/img/analiticalmodel/browser/document_inmemory.png')!important;
	}
	.document_browser_image_CHART{
	    background-image: url('../../sbi_default/img/analiticalmodel/browser/document_whatif.png')!important;
	}
	
	*/
	
	.preferiteDocumentIcon{
	color: #E4A400;
	}
	angular-table {
		padding: 0;
		.fakeTable {
			md-icon {
				padding-right: .5em;
				color: white;
			}
			th:first-child {
				div {
					padding-left: 1em;
				}
			}
		}
		.principalTable {
			tr {
				td:first-child {
					span {
						span {
							padding-left: 1em;
						}
					}
				}
			}
		}
		th {
			background-color: $baseColor;
			color: white;
		}
	}

	.documentBrowserDropdown {
		md-menu-item>.md-button {
			md-icon {
				font-size: 1.3em;
				line-height: 1.2em;
			}
		}
	}

	
	
	
	
}
.metadataDialog {
	md-list-item {
		min-height: 2em;
		font-size: .8em;
	}
}