.kn-kpiExecution {
	background-color: $detailBackground;
	.kpiColorValue, .singleKpiColorValue{
		.kpiColorBox {
			margin: 0 4px;
			width: 24px;
			height: 24px;
			.fa {
				color: white;
				text-align: center;
			}
			&.greyKpi {
				color: red;
				background-color: $kpiGreyColor;
			}
			&.redKpi {
				background-color: $kpiRedColor;
			}
			&.greenKpi {
				background-color: $kpiGreenColor;
			}
			&.yellowKpi {
				background-color: $kpiYellowColor;
			}
		}
	}
	md-card {
		.md-headline {
			margin-left: 8px;
			font-size: inherit;
		}
		md-card-title-text{
			font-size: 1.3em;
			color: $ternaryColor;
			text-transform: uppercase;
			font-weight: bold;
		}
	}
	.kpiValue {
		margin-bottom: 10px;
		h3 {
			margin: 0;
			font-size: .8em;
			color: $ternaryColor;
			text-transform: uppercase;
		}
		h1 {
			margin: 0;
			font-size: 1.5em;
			font-weight: 300;
		}
	}
	.kpiLinearGauge {
		max-height: 60px;
	}
	.gauge {
		overflow: visible;
	}

}

/* IE11 fix */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	.kn-kpiExecution {
		kpi-list-document {
			flex: inherit !important;
		}
	}
}