.kn-qbe {
    .expanderList {
        h3 {
            &.opened {
                box-shadow: 0px 3px 3px 0px $ternaryColor;
                border-bottom: none;
            }
            background-color: $baseColor;
            color: white;
            font-weight: 400;
            border-bottom: 1px solid $ternaryColor;
            margin: 0;
            margin-bottom: 4px;
            padding: 4px;
            font-size: 1rem;
            .chip {
                background-color: $ternaryColor;
                color: $baseColor;
                display: flex;
                padding: 0px 16px;
                border-radius: 50px;
                font-size: .8rem;
                font-weight: normal;
                line-height: 19px;
            }
        }
        .expandableEntities,
        .expandableSubqueries {
            h4 {
                display: flex;
                background-color: $lightTextColor;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                height: 1rem;
                line-height: 1rem;
                margin: 0;
                padding: 4px 8px 4px 8px;
                font-size: .8rem;
                font-family: 'Roboto';
                border-bottom: 1px solid $ternaryColor;
                outline: none;
                cursor: pointer;
                .colorSquare {
                    height: .8rem;
                    margin-right: 5px;
                    width: .8rem;
                    display: block;
                }
                span {
                    margin-left: 5px;
                }
                &.expanded {}
            }
            ul {
                background-color: $pageBackground;
                margin: 0;
                list-style: none;
                padding-left: 0;
                li {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 4px 0px 4px 20px;
                    font-size: .8rem;
                    border-bottom: 1px solid $ternaryColor;
                    line-height: 1.5rem;
                    height: 1.5rem;
                    cursor: move;
                    button {
                        margin: 0;
                        padding: 0;
                        width: 32px;
                    }
                    &:hover {
                        background-color: darken($pageBackground, 10%);
                    }
                    i {
                        line-height: 1rem;
                    }
                    span {
                        padding-left: 5px;
                    }
                }
            }
        }
    }
}