.workspace {

	.leftRightPanelHeight {
		height: calc(100% - 40px);
	}
	
	.rightPanelDocuments {
		height: calc(100% - 65px);
		min-height: calc(100% - 65px);
	}
	
	.panelBackgoundColor {
		background-color:#ECEFF1;
	}
	
	.yesFav {
		color:orange;
	}
    
    .workspace_image_dataset{
	    background-image: url('../../sbi_default/img/dataset/img-dataset-1.jpg')!important;
	}
	
	.workspace_image_federation{
	    background-image: url('../../sbi_default/img/metamodel/federation.png')!important;
	}
	
	.workspace_image_metamodel{
	    background-image: url('../../sbi_default/img/metamodel/metamodel.png')!important;
	}
	
	.shared {
	   color: #c70751;
	}

	.workspaceSearchInput{
		color: #FFFFFF !important;
		border-color: #FFFFFF !important;
		padding-top:15px;
		font-size: 16px;
	}
}
