
<md-dialog>
     <md-toolbar style="background-color: #3b678c !important;">
        <div class="md-toolbar-tools" >
          <h2 flex="flex">Insert Function</h2>
           <md-button ng-click="closeDialog()" class="md-icon-button" style="float:right;">
            <md-icon class="fa fa-times fa-2x"></md-icon>
          </md-button>
        </div>
      </md-toolbar>
      
      <md-input-container class="md-block">
          <label>Name</label>
          <input ng-model="formula.name">
        </md-input-container>
      
   <div ng-cloak layout-gt-sm="row" layout="column">
  <div flex-gt-sm="25" flex style="margin: 10px;">
    <h4>Aggregation</h4>
    <md-content>
      <md-list flex>
        <md-list-item class="md-3-line" ng-repeat="formula in aggregattionList" ng-click="isSelected(formula)">
          <div class="md-list-item-text" layout="column" >
            <h3>{{ formula.name }}</h3>
            <h4>{{  formula.syntax }}</h4>
            <p>{{  formula.description }}</p>
          </div>
        </md-list-item>

    </md-content>
  </div>
  
  <div flex-gt-sm="25" flex style="margin: 10px;">
    <h4>Arithmetic</h4>
    <md-content>
      <md-list flex>
        <md-list-item class="md-3-line" ng-repeat="formula in arithmeticList" ng-click="isSelected(formula)">
          <div class="md-list-item-text" layout="column">
            <h3>{{ formula.name }}</h3>
            <h4>{{  formula.syntax }}</h4>
            <p>{{  formula.description }}</p>
          </div>
        </md-list-item>

    </md-content>
  </div>
  
  
  <div flex-gt-sm="25" flex style="margin: 10px;">
    <h4>Temporal</h4>
    <md-content>
      <md-list flex>
        <md-list-item class="md-3-line" ng-repeat="formula in temporalList" ng-click="isSelected(formula)">
          <div class="md-list-item-text" layout="column" >
            <h3>{{ formula.name }}</h3>
            <h4>{{  formula.syntax }}</h4>
            <p>{{  formula.description }}</p>
          </div>
        </md-list-item>

    </md-content>
  </div>
</div>
<!--  <md-subheader>Syntax:</md-subheader> -->
<!--   <p>{{formula_syntax}}</p> -->
<!--   <md-subheader>Description:</md-subheader> -->
<!--   <p>{{formula_syntax}}</p> -->
    <md-dialog-actions layout="row">
      <md-button ng-click="answer('not useful')" >
        OK
      </md-button>
      <md-button ng-click="closeDialog()" style="margin-right:20px;" >
       Cancel
      </md-button>
    </md-dialog-actions>
</md-dialog>

