
<md-dialog style='width:50%;'>
      <md-toolbar class="knowage-blue dialog-toolbar">
		<h2 flex="flex" class="md-title">Select Function</h2>
	</md-toolbar>
    
    
    
       <div style="margin-left: 20px;">
      <md-input-container class="md-block">
          <label>Name</label>
          <input ng-model="selectedMDXFunction.label" ng-disabled="selectedMDXFunction == null">
        </md-input-container>
      </div>
  <md-dialog-content ng-cloak>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="Aggregation">
    <md-content class="md-padding">
      <md-list flex>
        <md-list-item class="md-3-line"
         ng-repeat="formula in formulasData | filter: {'type': 'aggregation'}"
         ng-class="{selected:(selectedMDXFunction.name == formula.name)}"
          ng-click="selectMDXFunction(formula)">
          <div class="md-list-item-text" layout="column" >
            <h3>{{ formula.name }}</h3>
            <h4>{{  formula.syntax }}</h4>
            <p>{{  formula.description }}</p>
          </div>
        </md-list-item>
    </md-content>      
      </md-tab>
      <md-tab label="Arithmetic">
    <md-content class="md-padding">
      <md-list flex>
	       <md-list-item class="md-3-line"
         ng-repeat="formula in formulasData | filter: {'type': 'arithmetic'}"
         ng-class="{selected:(selectedMDXFunction.name == formula.name)}"
          ng-click="selectMDXFunction(formula)">
          <div class="md-list-item-text" layout="column" >
            <h3>{{ formula.name }}</h3>
            <h4>{{  formula.syntax }}</h4>
            <p>{{  formula.description }}</p>
          </div>
        </md-list-item>
    </md-content>      
      </md-tab>
      <md-tab label="Temporal">
    <md-content class="md-padding">
      <md-list flex>
        <md-list-item class="md-3-line"
         ng-repeat="formula in formulasData | filter: {'type': 'temporal'}"
         ng-class="{selected:(selectedMDXFunction.name == formula.name)}"
          ng-click="selectMDXFunction(formula)">
          <div class="md-list-item-text" layout="column" >
            <h3>{{ formula.name }}</h3>
            <h4>{{  formula.syntax }}</h4>
            <p>{{  formula.description }}</p>
          </div>
        </md-list-item>
    </md-content>      
      </md-tab>
      <md-tab label="Recent">
    <md-content class="md-padding">
      <md-list flex>
        <md-list-item class="md-3-line"
         
        </md-list-item>
    </md-content>      
      </md-tab>
      <md-tab label="Saved Members">
    <md-content class="md-padding">
      <md-list flex>
        <md-list-item class="md-3-line"
         
        </md-list-item>
    </md-content>      
      </md-tab>
      
     
    </md-tabs>
  </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button class="md-raised" ng-click="openArgumentsdialog()" ng-disabled="checkValidity()" md-autofocus>
        OK
      </md-button>
      <md-button class="md-raised" ng-click="closeDialog()" style="margin-right:20px;" >
       Cancel
      </md-button>
    </md-dialog-actions>
</md-dialog>

