<div class="md-panel" style="width:100%;height:100%;min-height:100%;background-color:white" layout="column">
	<md-toolbar class="secondaryToolbar">
		<div class="md-toolbar-tools">
	   		<h2><span>Advanced filter visualization</span></h2>
			<span flex></span>									 
	   	</div>
	</md-toolbar>
	<advance-filter-panel filter-tree="filterTree" layout="column"flex></advance-filter-panel>
	
	<div layout="row" layout-align="start center">
		<span flex></span>
	    <md-button ng-click="closeFiltersAdvanced()" class="md-raised">
	        {{translate.load("kn.qbe.general.cancel")}}
	    </md-button>
	    <md-button ng-click="saveFiltersAdvanced()" class="md-primary md-raised">
	        {{translate.load("kn.qbe.general.save")}}
	    </md-button>
	</div>
</div>