<md-card   class="flexCard customTableWidgetConfiguration" >
 <md-card-content flex layout="column" class="noPadding">
 <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{translate.format(translate.load('sbi.cockpit.widget.configuration'),translate.load('sbi.cockpit.widget.table'))}}</h2>
        <span flex></span>
      </div>
    </md-toolbar>
  <md-content flex layout="column" >
      <md-tabs md-selected='selectedTab.tab' md-border-bottom flex>
	       <md-tab  label="{{translate.load('sbi.cockpit.widget.table.columns')}}">
			<cockpit-columns-configurator ng-if="selectedTab.tab ==0"></cockpit-columns-configurator>
		    </md-tab>
		    <md-tab  label="{{translate.load('sbi.cockpit.style')}}">
	        	<cockpit-style-configurator  ng-if="selectedTab.tab ==1" widget ng-cloak ng-model="model.style">
	        		<cockpit-style-custom-widget-configurator label="translate.load('sbi.cockpit.widget.table.summary')">
			          <div flex layout="column">
			           <div layout="row" flex>
				           <div flex=20  layout="row" layout-align="start center">
				           <md-checkbox  ng-model="model.style.showSummary"  class="md-block"
									aria-label="Checkbox 1">{{translate.load('sbi.cockpit.table.sumamry.showsummary')}}</md-checkbox>
				           </div>
				           <div flex layout=column >
					           	<div flex layout="row" >
						           <!-- 	<md-input-container flex class="md-block"> 
										<label>{{translate.load('sbi.cockpit.table.text')}}</label>
										<input class="input_class" ng-disabled ="!model.style.showSummary" ng-model=model.style.summary.text /> 
									</md-input-container> -->
										<md-input-container flex class="md-block"> 
										<label>{{translate.load('sbi.cockpit.table.fontfamily')}}</label>
										<md-select ng-disabled ="!model.style.showSummary" aria-label="aria-label" ng-model="model.style.summary.fontfamily">
											<md-option ng-repeat="fam in fontFamily" value="{{fam}}">{{fam}}</md-option>
										</md-select>
										</md-input-container>
									<md-input-container flex class="md-block"> 
										<label>{{translate.load('sbi.cockpit.table.fontsize')}}</label>
										<input class="input_class" ng-disabled ="!model.style.showSummary" ng-model=model.style.summary.fontsize /> 
									</md-input-container>
									<md-input-container flex class="md-block"> 
											<label>{{translate.load('sbi.cockpit.table.fontweight')}}</label>
											<md-select ng-disabled ="!model.style.showSummary" aria-label="aria-label" ng-model="model.style.summary.fontweight">
												<md-option ng-repeat="weight in fontWeight" value="{{weight}}">{{weight}}</md-option>
											</md-select>
											</md-input-container>
					           	</div>
					           	<div flex layout=column >
						           	<div flex layout="row" >
											<md-input-container flex class="md-block"> 
												<label>{{translate.load('sbi.cockpit.table.fontcolor')}}</label>
												<color-picker  options="colorPickerProperty" ng-model="model.style.summary.color"></color-picker>
											</md-input-container>
											<md-input-container flex class="md-block"> 
												<label>{{translate.load('sbi.cockpit.table.backgroundcolor')}}</label>
												<color-picker  options="colorPickerProperty" ng-model="model.style.summary.background"></color-picker>
												
											</md-input-container>
						           	</div>
				           		</div>
			           		</div>
			          
			           </div>
	
			           </div>
			    </cockpit-style-custom-widget-configurator>
			  	<cockpit-style-custom-widget-configurator label="'Grid'">
			           <div layout="row" flex>
			           <div flex=20 layout=column>
			           		<div flex  layout="row" layout-align="start center">
					           <md-checkbox layout-align="space-around center" ng-model="model.style.showGrid"  class="md-block"
										aria-label="Checkbox 1" ng-click= enableGrid()>{{translate.load('sbi.cockpit.table.grid.showgrid')}}</md-checkbox>
							</div>
							<div flex  layout="row" layout-align="start center">
					          <md-checkbox layout-align="space-around center" ng-model="model.style.showAlternateRows"  class="md-block"
										aria-label="Checkbox 1"  ng-click = enableAlternate()>{{translate.load('sbi.cockpit.table.alternate')}}</md-checkbox>
							</div>
			           </div>
			           <div flex layout=column >
				           	<div flex layout="row" ng-init="model.style.grid['border-style']='solid'">
					           	<md-input-container flex=50 class="md-block"> 
									<label>{{translate.load('sbi.cockpit.table.grid.width')}}</label>
									<input class="input_class" ng-disabled ="!model.style.showGrid" ng-model="model.style.grid['border-width']" /> 
								</md-input-container>
								<md-input-container flex=50 class="md-block"> 
									<label>{{translate.load('sbi.cockpit.table.grid.color')}}</label>
									<color-picker  options="colorPickerPropertyGrid" ng-model="model.style.grid['border-color'] "></color-picker>
								</md-input-container>
									
				           	</div>
				           	<div flex layout=column >
					           	<div flex layout="row" >
					           	<md-input-container flex=50 class="md-block"> 
									<label>{{translate.load('sbi.cockpit.table.alternate.evenrows')}}</label>
									<color-picker  options="colorPickerPropertyEvenOddRows" ng-model="model.style.alternateRows.evenRowsColor"></color-picker>
								</md-input-container>
									
								<md-input-container flex=50 class="md-block"> 
									<label>{{translate.load('sbi.cockpit.table.alternate.oddrows')}}</label>
									<color-picker  options="colorPickerPropertyEvenOddRows" ng-model="model.style.alternateRows.oddRowsColor"></color-picker>
								</md-input-container>
					           	</div>
			           		</div>
			           		</div>
			          
			           </div>
			        </cockpit-style-custom-widget-configurator>
	        	</cockpit-style-configurator>
	      </md-tab>
      </md-tabs>
      </md-content>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
	    <span flex></span>
      <md-button ng-click="cancelConfiguration()" >
        {{translate.load('sbi.generic.cancel')}}
      </md-button>
      <md-button ng-click="saveConfiguration()"  >
        {{translate.load('sbi.generic.save')}}
      </md-button>

	</md-card-actions>
 </md-card>   